<section class="bg-light-gray user_page padding100-0">
    <div class="container user_profile">

        <div class="row bg-white portfolio-box padding-top15 padding-bottom15">

            <div class="col-md-3 col-sm-3">
                <div class="row margin-top20 align-center">
                    <img src="img/user.png">
                    <a>
                        Change Profile Image
                    </a>
                </div>
            </div>

            <div class="col-md-9 col-sm-9">

                <div class="row">
                    <div class="col-md-6">
                        <h2 class="view_mode">Sakshi Kaushik</h2>
                        <h2 class="edit_mode"><input type="text" maxlength="50" placeholder="Your Name"></h2>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="user_profile_id col-lg-12 col-md-12 col-sm-12 align-right col-xs-9">sakshi.k@orangegubbi.com</div>
                            <div class="hidden-lg hidden-md hidden-sm col-xs-1">
                            <span class="glyphicon glyphicon-pencil edit_icon"
                                  data-toggle="tooltip"
                                  data-placement="left"
                                  title="Edit Details">
                            </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <p>Date of Birth :</p>
                        </div>
                        <div class="col-md-8 col-sm-7">
                            <p class="view_mode"><%= users %></p>
                            <p class="edit_mode"><input type="date"></p>
                        </div>
                        <div class="col-md-1 col-sm-1 hidden-xs">
                            <span class="glyphicon glyphicon-pencil edit_icon"
                                  data-toggle="tooltip"
                                  data-placement="left"
                                  title="Edit Details">
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <p>Contact :</p>
                        </div>
                        <div class="col-md-9 col-sm-8">
                            <p class="view_mode"><%= users %></p>
                            <p class="edit_mode">
                                +91 &nbsp; <input type="number" min="0" max="9999999999">
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <p>Address :</p>
                        </div>
                        <div class="col-md-9 col-sm-8">
                            <p class="view_mode"><%= users %></p>
                            <p class="edit_mode"><input type="text" maxlength="250"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <p>City :</p>
                        </div>
                        <div class="col-md-3 col-sm-8">
                            <p class="view_mode"><%= users %></p>
                            <p class="edit_mode"><input type="text" maxlength="25"></p>
                        </div>
                        <div class="col-md-1 col-sm-4 padding0">
                            <p>State :</p>
                        </div>
                        <div class="col-md-3 col-sm-8">
                            <p class="view_mode"><%= users %></p>
                            <p class="edit_mode"><input type="text" maxlength="25"></p>
                        </div>
                        <div class="col-md-2 hidden-sm"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <p>PIN Code :</p>
                        </div>
                        <div class="col-md-9 col-sm-8">
                            <p class="view_mode"><%= users %></p>
                            <p class="edit_mode"><input type="number" min="0" max="999999"></p>
                        </div>
                    </div>

                    <a class="button float-right edit_mode" id="save_details">Save Details</a>

                </div>

            </div>

        </div>

        <div class="row margin-top10">
            <div class="col-md-6 col-sm-6 padding0">
                <div class="portfolio-box bg-white open_tab_chng_pswd">
                    <div class="row align-center">
                        <a>
                            <h4>
                                Change Password
                                <span class="pe-7s-angle-down sort-arrow"></span>
                            </h4>
                        </a>
                    </div>
                    <div class="row margin-top20 change_password">

                        <div class="col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-md-5 col-sm-5">
                                    <p>Old Password :</p>
                                </div>
                                <div class="col-md-7 col-sm-7">
                                    <input type="password" id="old_password">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 col-sm-5">
                                    <p>New Password :</p>
                                </div>
                                <div class="col-md-7 col-sm-7">
                                    <input type="password" id="new_password">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <p>Confirm Password :</p>
                                </div>
                                <div class="col-md-7">
                                    <input type="password" id="confirm_password">
                                </div>
                            </div>

                            <div class="row margin-top20 float-right">
                                <a  class="button">Set Password</a>
                                <a  class="button">Cancel</a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 padding0">
                <div class="portfolio-box bg-white open_tab_deactivate">
                    <div class="row align-center">
                        <a>
                            <h4>
                                Deactivate Account
                                <span class="pe-7s-angle-down sort-arrow"></span>
                            </h4>
                        </a>
                    </div>
                    <div class="row margin-top20 deactivate_account">

                        <div class="row">
                            <p>If you deactivate your account all your order history and wishlist will be deleted.</p>
                        </div>

                        <div class="row">
                            <p>Still if you want to deactivate your account; please click on Confirm Deactivation.</p>
                        </div>

                        <div class="row margin-top20 float-right">
                            <a  class="button">Confirm Deactivation</a>
                            <a  class="button">Cancel</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

<script>
    $(document).ready(function() {

        $('.edit_icon').click(function() {
            $('.view_mode').hide();
            $('.edit_icon').hide();
            $('.edit_mode').show();
        });

        $('#save_details').click(function() {
            $('.edit_mode').hide();
            $('.view_mode').show();
            $('.edit_icon').show();
        });

        $('.open_tab_chng_pswd').click(function() {
            $('.change_password').slideToggle();
            if($(this).hasClass('padding0_20_20')){
                $(this).removeClass('padding0_20_20');
            }else{
                $(this).addClass('padding0_20_20');
            }
            var item = $(this).find('.sort-arrow');
            if (item.hasClass('pe-7s-angle-down')){
                $(item).removeClass('pe-7s-angle-down').addClass('pe-7s-angle-up');
            }else {
                $(item).removeClass('pe-7s-angle-up').addClass('pe-7s-angle-down');
            }
        });

        $('.open_tab_deactivate').click(function() {
            $('.deactivate_account').slideToggle();
            if($(this).hasClass('padding0_20_20')){
                $(this).removeClass('padding0_20_20');
            }else{
                $(this).addClass('padding0_20_20');
            }
            var item = $(this).find('.sort-arrow');
            if (item.hasClass('pe-7s-angle-down')){
                $(item).removeClass('pe-7s-angle-down').addClass('pe-7s-angle-up');
            }else {
                $(item).removeClass('pe-7s-angle-up').addClass('pe-7s-angle-down');
            }
        });



        $('[data-toggle="tooltip"]').tooltip();

    });

</script>
