@charset "utf-8";
/* CSS Document */

/* ----- Festive Page CSS ------ */

.navbar{
    height: 70px;
    background: #FFFFFF;
}
.navbar-brand{
    padding: 0px;
    margin: 0px;
}

.navbar-brand img {
    width: 130px;
    padding: 10px 0px 0px 5px;
}

.festive_banner_bg {
    background-image: url("https://res.cloudinary.com/mygubbi/image/upload/v1472793678/festive-lp/festiv-banner-blank_2.jpg");
    background-repeat: no-repeat;
    background-position: center 100%;
    min-height: 540px;;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 40px 0 40px 0;
    text-align: center;
    color: #ffffff;
    margin-top: 70px;
}
.festive-form{
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 20px 15px;
    border-radius: 3px;
}

.festive-form h3{
    margin: 5px 0px 15px;
}

.btn-festive{
    color: #ffffff;
    border-color: #f1591f;
    background: #f1591f !important;
}

.btn-festive:hover,
.btn-festive:active,
.btn-festive:focus{
    color: #ffffff;
    border-color: #ff591f;
    background: #ff591f;
}

.section-fun-facts{
    background: #f1591f;
    color: #ffffff;
    padding: 20px 0px 50px;
}
.fact-head{
    font-weight: 300;
    text-transform: uppercase;
}
.fact-des{
    text-transform: uppercase;
    padding-bottom: 20px;
    display: block;
}

.de_count {
    min-height: 160px;
}

.de_count img{
    margin-bottom:20px;
    max-height: 125px;
}

.section-why-us{
    background: #ffffff;
    color: #333333;
    padding: 20px 0px 40px;
}

.separator {
    line-height: 0.5;
    text-align: center;
    margin:30px 0 30px 0;
}
.separator span {
    display: inline-block;
    position: relative;
}
.separator span:before,
.separator span:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid rgba(255,255,255,.5);
    top: 5px;
    width: 300px;
}
.section-why-us .separator span:before,
.section-why-us .separator span:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    top: 5px;
    width: 300px;
}
.separator span:before {
    right: 100%;
    margin-right: 15px;
}
.separator span:after {
    left: 100%;
    margin-left: 15px;
}

.separator span  i{
    font-size:6px;
    padding:0;
    margin:0;
    float:none;
}
.de_light .separator span:before,
.de_light .separator span:after {
  border-bottom: 1px solid rgba(0,0,0,.2);
}
.text-light .separator span:before,
.text-light .separator span:after {
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.festive-why-us-head{
    font-weight: 300;
    color: #333333;
}

.why-us-fluid{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section-testimonial{
    background-image: url("https://res.cloudinary.com/mygubbi/image/upload/v1472157622/festive-lp/bg-3.jpg");
    background-repeat: no-repeat;
    background-position: center 100%;
    min-height: 540px;;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 40px 0 40px 0;
    text-align: center;
    color: #ffffff;
}

#owl-testimonial .item{
    background: rgba(0,0,0,0.5);
    padding: 15px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    min-height:185px;
}

.festive-contact-section{
    background: #ffffff;
    color: #333333;
    padding: 20px 0px 40px;
}

@media (max-width: 1300px) {
    .festive_banner_bg {
        min-height: 505px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .separator span:before,
    .separator span:after {
        content: "";
        position: absolute;
        border-bottom: 1px solid rgba(255,255,255,.5);
        top: 5px;
        width: 135px;
    }
    .section-why-us .separator span:before,
    .section-why-us .separator span:after {
        content: "";
        position: absolute;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        top: 5px;
        width: 135px;
    }
    .festive_banner_bg {
        min-height: 300px;
        padding: 25px 0px 25px;

    }
    .de_count {
        min-height: 165px;
    }
}
@media (max-width: 767px) {
    .festive_banner_bg {
        min-height: 300px;
        padding: 5px 0px 5px;
    }
    .festive-form{
        margin: 5% 0% 5%;
    }
}
@media (max-width: 420px) {
    .de_count {
        min-height: 190px;
    }
    .festive_banner_bg {
        background-image: url("https://res.cloudinary.com/mygubbi/image/upload/v1472799257/festive-lp/mobile.jpg");
        min-height: 300px;
        background-size: contain;
        background-position: inherit;
        padding: 25px 0px 25px;
    }
    .festive-form{
        background: rgb(40, 70, 80);
        margin: 120% 0% 0%;
    }
    .section-fun-facts {
        background: #f1591f;
        color: #ffffff;
        padding: 20px 0px 10px;
    }
    .de_count img {
        margin-bottom: 0;
        max-height: 105px;
    }
}

.section-portfolio{
    padding: 35px 0px;
    background: #fff;
}

#owl-gallery .owl-dots {
    margin: 0px !important;
    padding: 10px 0px 5px;
    background: #f1591f;
}

/* ----- End Festive Page CSS ------ */