
.kyk-banner-bg{
    background-image: url("https://res.cloudinary.com/mygubbi/image/upload/v1470043776/kyk/main_bg.jpg");
    background-repeat: no-repeat;
    background-position: center 100%;
    height: 380px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 30px 0 30px 0;
    text-align: center;
    color: #ffffff;
}
.kyk-heading{
    margin: 15px 0px 15px;
    font-weight: 300;
    color: #707375;
}
.kyk-heading-gray{
    margin: 15px 0px 15px;
    font-weight: 300;
    color: #333333;
}
.kyk-box{
    padding: 40px;
}
.kyk-ergonomics-dec{
    text-align: center;
    margin-top: 30%;
}
.accessories-hardware-dec{
    text-align: center;
    margin-top: 135px;
    color: #333333;
}

.kyk-appliances-section{
   background-image: url("https://res.cloudinary.com/mygubbi/image/upload/v1470104463/kyk/1.jpg");
    background-repeat: no-repeat;
    background-position: center 100%;
    height: 380px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px 0 15px 0;
    text-align: center;
    color: #333333;
}
.kyk-appliances-cont{
    margin-top: 105px;
}

.kyk-finishes-section{
    background: #d7d3ca;
    min-height: 380px;
}

.kyk-swatches-content{
    margin-top: 30px;
}

.kyk-finishes-section .laminate{
    border-bottom:7px solid #5a777b;
}
.kyk-finishes-section .pupaint{
    border-bottom:7px solid #abeeeb;
}
.kyk-finishes-section .pvcfoil{
    border-bottom:7px solid #555555;
}
.kyk-finishes-section .nav-tabs .laminate.active{
    border-bottom: 7px solid #5a777b;
}
.kyk-finishes-section .nav-tabs .pupaint.active{
    border-bottom: 7px solid #abeeeb;
}
.kyk-finishes-section .nav-tabs .pvcfoil.active{
    border-bottom: 7px solid #555555;
}
.kyk-finishes-card{
    margin-top: 60px;
}
.kyk-handle-section{
   background-image: url("https://res.cloudinary.com/mygubbi/image/upload/v1470137364/kyk/HANDLE-.jpg");
    background-repeat: no-repeat;
    background-position: center 100%;
    height: 380px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px 0 15px 0;
    text-align: center;
    color: #333333;
}
.kyk-handle-cont{
    margin: 5%;
}

.kyw-counter-details{
    margin: 10px 0px;
}

.kyk-counter-content{
    margin: 5%;
}

.kyk-shutter-cont{
    margin: 5%;
}
.breakfast-box {
    margin-top: 265px;
}

.kyk-splash-card{
    margin: 0px !important;
    padding: 0px !important;

}

.kyk-sink-section{
    background-image: url("https://res.cloudinary.com/mygubbi/image/upload/v1470137361/kyk/sink-_-faucet-.jpg");
    background-repeat: no-repeat;
    background-position: center 100%;
    height: 380px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px 0 15px 0;
    text-align: center;
    color: #333333;
}
/*.desk-img{
    display: block;
}
.mob-img{
    display: none;
}*/
@media (max-width: 768px) {
    .desk-img{
        display: none;
    }
    .mob-img{
        display: block;
    }
    .kyk-box {
        padding: 10px;
    }
    .breakfast-box {
        margin-top: 10px;
    }
    .kyk-ergonomics-dec{
        margin-top: 10px;
    }
    .accessories-hardware-dec {
        text-align: center;
        margin-top: 110%;
        color: #333333;
    }
    .kyk-appliances-cont h2{
        color: #ffffff;
    }
    .kyk-appliances-dec p{
        color: #ffffff;
    }
    .kyk-banner-bg{
        background-image: url("https://res.cloudinary.com/mygubbi/image/upload/v1470043776/kyk/main_bg.jpg");
        background-repeat: no-repeat;
        background-position: center 100%;
        height: 320px;
        width: 100%;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 30px 0 30px 0;
        text-align: center;
        color: #ffffff;
    }

}
@media (max-width: 480px) {
    .desk-img{
        display: none;
    }
    .mob-img{
        display: block;
    }
    .kyk-box {
        padding: 10px;
    }
    .breakfast-box {
        margin-top: 10px;
    }
    .kyk-ergonomics-dec{
        margin-top: 10px;
    }
    .accessories-hardware-dec {
        text-align: center;
        margin-top: auto;
        color: #333333;
    }
    .accessories-hardware-section-img h2{
        margin-top: 150px;
    }
    .kyk-appliances-cont h2{
        color: #333333;
        text-align: center;
    }
    .kyk-appliances-dec p{
        color: #333333;
    }
    .kyk-banner-bg{
        background-image: url("https://res.cloudinary.com/mygubbi/image/upload/v1470043776/kyk/main_bg.jpg");
        background-repeat: no-repeat;
        background-position: center 100%;
        height: 160px;
        width: 100%;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 30px 0 30px 0;
        text-align: center;
        color: #ffffff;
    }
    .kyk-appliances-section{
        background-image: url("https://res.cloudinary.com/mygubbi/image/upload/v1470104463/kyk/1.jpg");
        background-repeat: no-repeat;
        background-position: inherit;
        height: auto;
        width: 100%;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        padding: 15px 0 15px 0;
        text-align: center;
        color: #333333;
        display: block;
    }
    .kyk-handle-section{
        background-image: url("https://res.cloudinary.com/mygubbi/image/upload/v1470137364/kyk/HANDLE-.jpg");
        background-repeat: no-repeat;
        background-position: inherit;
        height: auto;
        width: 100%;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        padding: 15px 0 15px 0;
        text-align: center;
        color: #333333;
        display: block;
    }
    .kyk-handle-section h2{
        margin-top: 70px;
    }
    .kyk-sink-section{
        background-image: url("https://res.cloudinary.com/mygubbi/image/upload/v1470395676/kyk/16.jpg");
        background-repeat: no-repeat;
        background-position: inherit;
        height: auto;
        width: 100%;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        padding: 15px 0 15px 0;
        text-align: center;
        color: #333333;
        display: block;
    }
    .kyk-sink-section h2{
        margin-top: 160px;
    }
}

@media all and (min-width: 768px) {
 .hidden-desktop {
   display: none !important;
 }
}

@media all and (max-width: 767px) {
 .hidden-mobile {
   display: none !important;
 }
}

