body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    text-decoration: none;
}

a {
    color: #000;
    -webkit-transition: color 0.3s, opacity 0.2s;
    transition: color 0.3s, opacity 0.2s, transform 0.3s;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #ff3200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 400;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.img-centered {
    margin: 0 auto;
}

.bg-none {
    background: none !important;
}

.bg-white {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.2);
}

.bg-color-white {
    background-color: #ffffff;
}

.bg-gray {
    background-color: #CCC;
}

.bg-light-gray {
    background-color: #f2f4f4;
}

.bg-darkest-gray {
    background-color: #222;
}

.bg-blue {
    background-color: #9FB5BF;
}

.bg-orange-gray {
    background-color: #ece9da;
}

.bg-dark-gray {
    background-color: #808080;
}

.bg-dark-darkgreen {
    background-color: #2F4446;
}

.portfolio-bg-gray {
    background-color: #fcfcfc;
    -webkit-box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.2);
}

.border-bottom-grey {
    border-bottom: 1px solid #CCC;
}

.separator-horizontal {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/*.navbar{
   min-height:100px!important;
}*/
.margin-top70{
    margin-top:70px!important;
}

.font-size9 {
    font-size: 9px;
}

.font-size10 {
    font-size: 10px;
}

.font-size12 {
    font-size: 12px !important;
}

.font-size14 {
    font-size: 14px !important;
}

.font-size16 {
    font-size: 16px !important;
}

.font-size18 {
    font-size: 18px;
}

.font-size20 {
    font-size: 20px;
}

.font-size22 {
    font-size: 22px;
}

.font-size25 {
    font-size: 25px;
}

.font-size30 {
    font-size: 30px;
}

.font-size35 {
    font-size: 35px!important;
}

.font-size40 {
    font-size: 40px;
}

.font-size45 {
    font-size: 45px!important;
}

.font-size55 {
    font-size: 55px;
}

.font-size60 {
    font-size: 60px;
}

.font-size80 {
     font-size: 80px;
 }
 .font-weight400 {
     font-weight: 400!important;
 }

 .orange-background{
    color: rgba(241,90,34,1);
 }
 .txt-color-white{
    color: #ffffff!important;
 }
 .txt-color-light-grey{
     color: #ddd!important;
  }
 .txt-color-orange{
    color: rgba(241,90,34,1);
 }

 .margin0 {
     margin: 0px !important;
 }
 .margin-bottom0 {
     margin-bottom: 0px !important;
 }
 .margin-top20 {
     margin-top: 20px !important;
 }
 .margin-top40 {
     margin-top: 40px !important;
 }
 .mbt10{
    margin:10px 0px;
 }
 .mbt20{
     margin:20px 0px;
  }

/* Menu section */
.nav>li>a{
    padding:10px 10px!important;
}
#nav>li>a {
 padding: 5px 5px!important;
 border-right:1px solid #ddd;
 cursor:pointer;
}
.last-item{
 border-right:0px solid #ddd!important;
}

.menu-mygubbi{
    width:100%;
    margin: 0px auto;
}
.navbar-center{
    float:none;
    position:relative;
    text-align: center;
}
.navbar-center li{
    float:none;
    text-rendering: optimizelebility;
    display:inline-block;
    margin: 0px auto;

}
.navbar-center li a{

}
.social-menu-lnk{
    color: rgba(0,0,0,0.6);
    font-size:16px;
    margin-top: 5px;
}
/* Menu section End */

/* Main Image Section */
.width100{
    width: 100%;
}
.width60{
    width: 60%!important;
}
.width40{
    width: 40%!important;
}
.width0{
    width: 0%!important;
}
.img-centered {
    margin: 0 auto;
}
.text-muted {
    color: #777;
}

.text-primary {
    color: #f1591f;
}
.text-white {
    color: #ffffff;
}

/* padding section */
.padding0 {
    padding: 0px!important;
}
.padding50-15 {
    padding: 50px 15px;
}
.padding20-15 {
    padding: 20px 15px;
}
.padding-left10{
    padding-left:10px!important;
}
.padding-left15{
    padding-left:15px!important;
}
.padding-top10{
    padding-top:10px;
}
.padding-bottom10{
    padding-bottom:10px;
}
.padding-bottom15{
    padding-bottom:15px!important;
}
/* padding section End */
.position-relative{
    position:relative;
}
.txt-over-image{
    position: absolute;
    width: 36%;
    height: 125px;
    background: rgba(241,90,34,1);
    top: 55%;
    right: 11.75%;
    padding: 10px;
}
.txt-over-image p{
    font-size: 37px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.25;
}
/* Main Image Section End */

/* Service Section */
.section-heading{
    font-weight: 300;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

.btn-explore{
    background-color: #f1591f;
    color:#ffffff;
    border-radius:0px;
    text-transform: uppercase;
}
.btn-explore:hover,
.btn-explore:focus,
.btn-explore:active{
    background-color: #f1591f;
    color: #ffffff;
}
.txt-over-kitchen-image{
    position:absolute;
    top:15%;
    left:10%;
}
.txt-over-kitchen-image div{
   width: 25%;
   /*background: rgba(241,90,34,1);*/
   background: rgba(0,0,0,0.6);
}
.txt-over-kitchen-image div p{
   padding:10px;
   font-weight:300;
   color:#fff;
}
.explore-space{
    margin-left: 170px !important;
}
.explore-space1{
    margin-left: 118px !important;
}
.thought-txt{
    position:absolute;
    top:30%;
    text-align:left;
    /*color:#fff;*/
    /*color: rgb(183, 11, 11);*/
    color: rgb(241, 90, 34);
    left: 35%;
    width: 50%;
}
.thought-txt h1{
    text-transform: none!important;
    font-weight: 300!important;
    font-size: 65px!important;
}
/* Service Section End */
/* Experience Center Section Start */
.address_right_section{
    position:absolute;
    right:0;
    top:0;
    height:100%;
    width:20%;
    background-color:rgb(241, 90, 34);
}
.address_right_section p{
    padding: 20px;
    color: #fff;
}
.location_add{
    padding: 20px 5px;
    border-top: 1px solid #ccc;
}
.location_icon{
    padding: 20px 10px;
}
/* Experience Center Section End */
/* Completed Project Section */
.txt-over-completed-project-image {
    position: absolute;
    bottom: 2%;
    left: 5%;
}
.txt-over-completed-project-image div {
    width: 45%;
    background: rgba(0,0,0,0.6);
}
.txt-over-completed-project-image div p{
   padding:10px;
   font-weight:300;
   color:#fff;
}
.picture-prfct{
    background:none!important;
}
.picture-prfct p{
    padding-left:0px!important;
}
.explore-space2 {
    margin-left: 195px !important;
}
/* Completed Project Section End */
/* Testimonial Section */
.testimonial-bx{
    width:550px;
    height:320px;
    border:1px solid #ccc;
}
.text-capitalize{
    text-transform:Capitalize;
}
.text-normal{
    text-transform:inherit;
}
/* Testimonial Section End */

.contact-section{
    background-image: url("https://res.cloudinary.com/mygubbi/image/upload/v1470295960/home/Banner.4.jpg");
    background-repeat: no-repeat;
    background-position: center 100%;
    height: 420px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px;
    text-align: center;
    color: #ffffff;
}
 .contact-orange-bg{
    background: rgba(241,90,34,1);
    min-height: 420px;
 }
 .contact-form-mg{
    padding: 20px;
 }

.contact-form-mg .form-control{
    border-radius: 0px;
    box-shadow: none;
}

/* Flip Container for Consult Page */

.flip-container {
    -webkit-perspective: 1000;
    perspective: 1000;
}

.flip-div {
    margin: 0 auto;
    display: table;
}

.flip-cards {
    width: 120px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: inline-block;
}

.flip-cards:hover {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip-cards div {
    width: 120px;
    height: 80px;
    border-radius: 15px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.front-card {
    z-index: 2;
}

.reverse-card {
    position: relative;
    top: -80px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.footer-cls{
    background-color: rgba(102, 102, 102, 0.81);
    padding: 40px 0px;
    color:#ffffff;
}

.menu-sec-height{
    min-height:30px!important;
}

/* Mobile Responsiveness */

@media (max-width: 767px) {
    .testimonial-bx {
        width: 100%;
        height: 320px;
    }
    .contact-orange-bg {
        min-height:100px;
        width: 100%;
    }
    .thought-txt h1 {
        text-transform: none!important;
        font-weight: 400!important;
        font-size: 22px!important;
    }
    .address_right_section {
        position: relative;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(241, 90, 34);
    }
    .menu-sec-height{
        min-height:120px!important;
    }
}