/* Start product Details page  */

.product-main-section{
    padding: 20px 0px;
    display: inline-block;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-heading {
    z-index: 999;
    margin: 20px 0px;
    font-weight: 600;
}
.about-product{
    margin: 25px 35px 40px;
}

.product-price h4{
    text-transform: inherit;
    margin-bottom: 20px;
}

.heading-price {
    float: right;
    white-space: nowrap;
}

.nowrap {
    white-space: nowrap;
}

.absolute-float-left {
    position: absolute;
    float: left;
}
.warranty-card,
.related-card,
.design-card{
    margin: 5px 0px 10px;
}
.warranty-card .nav-tabs > li.active,
.related-card .nav-tabs > li.active,
.design-card .nav-tabs > li.active{
    border-bottom: 4px solid #000000;
}
.warranty-card .nav-tabs.nav-justified>.active>a,
.warranty-card .nav-tabs.nav-justified>.active>a:hover,
.warranty-card .nav-tabs.nav-justified>.active>a:focus,
.related-card .nav-tabs.nav-justified>.active>a,
.related-card .nav-tabs.nav-justified>.active>a:hover,
.related-card .nav-tabs.nav-justified>.active>a:focus,
.design-card .nav-tabs.nav-justified>.active>a,
.design-card .nav-tabs.nav-justified>.active>a:hover,
.design-card .nav-tabs.nav-justified>.active>a:focus{
    border: 0px solid #ddd;
}

@media (min-width: 768px){
    .warranty-card .nav-tabs.nav-justified>li>a,
    .related-card .nav-tabs.nav-justified>li>a,
    .design-card .nav-tabs.nav-justified>li>a{
        border: 0px solid #ddd;
    }
    .warranty-card .nav-tabs.nav-justified>li>a,
    .related-card .nav-tabs.nav-justified>li>a,
    .design-card .nav-tabs.nav-justified>li>a{
        border-bottom: 4px solid #ddd;
        border-radius: 0px;
        background: transparent;
        margin:0px 1px;
        text-transform: uppercase;
    }
    .warranty-card .nav-tabs.nav-justified>li>a:hover,
    .warranty-card .nav-tabs.nav-justified>li>a:active,
    .warranty-card .nav-tabs.nav-justified>li>a:focus,
    .related-card .nav-tabs.nav-justified>li>a:hover,
    .related-card .nav-tabs.nav-justified>li>a:active,
    .related-card .nav-tabs.nav-justified>li>a:focus,
    .design-card .nav-tabs.nav-justified>li>a:hover,
    .design-card .nav-tabs.nav-justified>li>a:active,
    .design-card .nav-tabs.nav-justified>li>a:focus{
        border-bottom: 4px solid #000;
    }
}
.d-item-img{
    margin-top: 7px;
}
.d-style {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 30%;
  text-align: center;
}
.d-style h3{
    margin: 20px 35px;
}
.m-item-img{
    margin-top: 7px;
}
.m-style {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 40%;
    text-align: center;
}
.m-style .nav-tabs{
    border-bottom: 0px solid #ddd;
}
.m-style .card .nav-tabs > li.active {
    border-bottom: 0px solid #000000;
}
.m-style .card .nav-tabs>li>a{
    border-radius: 0px;
    color: #000;
    background-color: transparent;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
    border-right: 1px solid #000;
    cursor: pointer;
    font-weight: 600;
}

.m-style .card .nav-tabs>li>a:last-child{
     border-right: 0px solid #000;
}

.m-style .card .nav-tabs>li.active>a,
.m-style .card .nav-tabs>li.active>a:hover,
.m-style .card .nav-tabs>li.active>a:focus{
    color: #000;
    background-color: transparent;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
    cursor: pointer;
    font-weight: 600;
}
.finish-slide-nav .nav,
.material-slide-nav .nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    text-align: center;
    display: inline-block;
}
.finish-slide-nav .nav-tabs,
.material-slide-nav .nav-tabs {
    border-bottom: 0px solid #ddd;
}
.finish-slide-nav .nav-tabs > li.active,
.material-slide-nav .nav-tabs > li.active{
    border-bottom: 0px solid #f1591f;
    font-weight: 700;
}
.finish-slide-nav .nav-tabs>li.active>a,
.finish-slide-nav .nav-tabs>li.active>a:hover,
.finish-slide-nav .nav-tabs>li.active>a:focus,
.material-slide-nav .nav-tabs>li.active>a,
.material-slide-nav .nav-tabs>li.active>a:hover,
.material-slide-nav .nav-tabs>li.active>a:focus{
    color: #333;
    background-color: transparent;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
    padding: 4px 10px 4px;
}
.finish-slide-nav .nav-tabs>li>a:hover,
.material-slide-nav .nav-tabs>li>a:hover{
      border-color: transparent;
}
.finish-slide-nav .nav>li>a,
.material-slide-nav .nav>li>a{
    padding: 3px 10px;
}
.finish-slide-nav .nav>li>a:hover,
.finish-slide-nav .nav>li>a:focus,
.material-slide-nav .nav>li>a:hover,
.material-slide-nav .nav>li>a:focus{
    background-color: transparent;
}
.finish-slide-nav .nav>li,
.material-slide-nav .nav>li{
    border-right: 1px solid #333;
}
.finish-slide-nav .nav>li:last-child,
.material-slide-nav .nav>li:last-child{
    border-right: 0px solid #333;
}
.finishes-wrapper{
    margin-top: 7px;
    background:#cfcfcf;
    min-height:340px;
}
.finish-slide-nav {
    margin: 20% 15%;
    text-align: center;
}
.finishes-foil-box{
    margin: 10% 10% 0%;
}
.finishes-foil{
    margin: 0px;
}
.finishes-foil li{
    margin: 0px;
    padding: 0px;
}
.finishes-foil li img{
    width: 80px;
    margin: 0px 0px 5px;
    padding: 0px;
}
.finishes-label{
    margin: 10px 0px 20px;
}
.related-owl{
    padding: 10px;
    background: #cfcfcf;
    margin-top: 10px;
}

.btn-product {
    border-color: #ccc;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    font-size: 20px;
    background: #ccc !important;
    border-radius: 0px;
}

.btn-product:hover,
.btn-product:focus,
.btn-product:active,
.btn-product.active {
    border-color: #ccc;
    color: #333;
    background-color: #ccc !important;
}

.btn-product:active,
.btn-product.active {
    background-image: none;
}

.warranty-card h5{
    font-weight: 700;
}

/* Start Owl UI*/

/*===================================================================================*/
/*	OWL CAROUSEL
/*===================================================================================*/

.owl-carousel {
	text-align: center;
	cursor: default;
}
.owl-controls {
	display: inline-block;
    position: relative;
    margin-top: 40px;
}
.panel-group .panel .owl-controls {
    margin-top: 25px;
}
.panel-group.blank .panel .owl-controls {
    margin-top: 40px;
}
.owl-pagination {
	position: relative;
	line-height: 30px;
    display: none;
}
.owl-buttons {
	display: none;
}
.owl-prev,
.owl-next {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 30px;
	height: 30px;
	font-size: 30px;
	color: #FFF;
	background-color: #506A85;
	border: none;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	margin: auto;
	-webkit-transition: all 200ms ease-out;
	   -moz-transition: all 200ms ease-out;
		 -o-transition: all 200ms ease-out;
			transition: all 200ms ease-out;
	opacity: 0;
}
.owl-prev {
	left: -35px;
}
.owl-next {
	right: -35px;
}
.owl-carousel:hover .owl-prev {
	left: -40px;
	opacity: .25;
}
.owl-carousel:hover .owl-next {
	right: -40px;
	opacity: .25;
}
.owl-carousel:hover .owl-prev:hover,
.owl-carousel:hover .owl-next:hover {
    color: #2DC5F4;
	opacity: 1;
}
.owl-outer-nav:after {
	content: "";
	position: absolute;
	top: 0;
	left: -15%;
	width: 130%;
	height: 100%;
	z-index: 0;
}
.owl-outer-nav .owl-wrapper-outer,
.owl-outer-nav .owl-pagination,
.owl-outer-nav .owl-prev,
.owl-outer-nav .owl-next {
	z-index: 1;
}
.owl-outer-nav .owl-controls {
	position: static;
}
.owl-outer-nav .owl-prev {
	left: -65px;
}
.owl-outer-nav .owl-next {
	right: -65px;
}
.owl-outer-nav:hover .owl-prev {
	left: -80px;
}
.owl-outer-nav:hover .owl-next {
	right: -80px;
}


.owl-ui-md .owl-pagination {
	line-height: 45px;
}
.owl-ui-md .owl-prev,
.owl-ui-md .owl-next {
	width: 45px;
	height: 45px;
	font-size: 45px;
}
.owl-ui-md .owl-prev {
	left: -55px;
}
.owl-ui-md .owl-next {
	right: -55px;
}
.owl-ui-md:hover .owl-prev {
	left: -60px;
}
.owl-ui-md:hover .owl-next {
	right: -60px;
}

.owl-outer-nav.owl-ui-md:after {
	left: -18%;
	width: 136%;
}
.owl-outer-nav.owl-ui-md .owl-prev {
	left: -85px;
}
.owl-outer-nav.owl-ui-md .owl-next {
	right: -85px;
}
.owl-outer-nav.owl-ui-md:hover .owl-prev {
	left: -100px;
}
.owl-outer-nav.owl-ui-md:hover .owl-next {
	right: -100px;
}

.owl-ui-lg .owl-pagination {
	line-height: 60px;
}
.owl-ui-lg .owl-prev,
.owl-ui-lg .owl-next {
	width: 60px;
	height: 60px;
	font-size: 60px;
}
.owl-ui-lg .owl-prev {
	left: -75px;
}
.owl-ui-lg .owl-next {
	right: -75px;
}
.owl-ui-lg:hover .owl-prev {
	left: -80px;
}
.owl-ui-lg:hover .owl-next {
	right: -80px;
}

.owl-outer-nav.owl-ui-lg:after {
	left: -22%;
	width: 144%;
}
.owl-outer-nav.owl-ui-lg .owl-prev {
	left: -105px;
}
.owl-outer-nav.owl-ui-lg .owl-next {
	right: -105px;
}
.owl-outer-nav.owl-ui-lg:hover .owl-prev {
	left: -120px;
}
.owl-outer-nav.owl-ui-lg:hover .owl-next {
	right: -120px;
}

.owl-inner-nav .owl-controls {
	position: static;
}
.owl-inner-nav .owl-prev {
	left: 45px;
}
.owl-inner-nav .owl-next {
	right: 45px;
}
.owl-inner-nav:hover .owl-prev {
	left: 30px;
}
.owl-inner-nav:hover .owl-next {
	right: 30px;
}

.owl-outer-nav .owl-prev,
.owl-outer-nav .owl-next,
.owl-inner-nav .owl-prev,
.owl-inner-nav .owl-next {
	bottom: 70px;
}

.owl-outer-nav.owl-ui-md .owl-prev,
.owl-outer-nav.owl-ui-md .owl-next,
.owl-inner-nav.owl-ui-md .owl-prev,
.owl-inner-nav.owl-ui-md .owl-next {
	bottom: 85px;
}

.owl-outer-nav.owl-ui-lg .owl-prev,
.owl-outer-nav.owl-ui-lg .owl-next,
.owl-inner-nav.owl-ui-lg .owl-prev,
.owl-inner-nav.owl-ui-lg .owl-next {
	bottom: 100px;
}

.owl-inner-pagination .owl-pagination,
.owl-inner-pagination .owl-prev,
.owl-inner-pagination .owl-next {
	margin-top: -40px;
	top: -60px;
}

.owl-inner-pagination.owl-ui-md .owl-pagination,
.owl-inner-pagination.owl-ui-md .owl-prev,
.owl-inner-pagination.owl-ui-md .owl-next {
	margin-top: -50px;
	top: -65px;
}

.owl-inner-pagination.owl-ui-lg .owl-pagination,
.owl-inner-pagination.owl-ui-lg .owl-prev,
.owl-inner-pagination.owl-ui-lg .owl-next {
	margin-top: -60px;
	top: -75px;
}

.owl-inner-pagination.owl-outer-nav .owl-prev,
.owl-inner-pagination.owl-outer-nav .owl-next,
.owl-inner-pagination.owl-inner-nav .owl-prev,
.owl-inner-pagination.owl-inner-nav .owl-next {
	margin: auto;
	top: 0;
	bottom: 43px;
}

.owl-inner-pagination .owl-pagination {
	-webkit-transition: all 200ms ease-out;
	   -moz-transition: all 200ms ease-out;
		 -o-transition: all 200ms ease-out;
			transition: all 200ms ease-out;
	opacity: 0;
}

.owl-inner-pagination:hover .owl-pagination {
	opacity: 1;
}

.owl-inner-pagination.owl-inner-nav .owl-pagination,
.owl-inner-pagination.owl-outer-nav .owl-pagination {
	top: -45px;
}

.owl-inner-pagination.owl-inner-nav.owl-ui-md .owl-pagination,
.owl-inner-pagination.owl-outer-nav.owl-ui-md .owl-pagination {
	top: -50px;
}

.owl-inner-pagination.owl-inner-nav.owl-ui-lg .owl-pagination,
.owl-inner-pagination.owl-outer-nav.owl-ui-lg .owl-pagination {
	top: -60px;
}

.owl-inner-pagination.owl-inner-nav:hover .owl-pagination,
.owl-inner-pagination.owl-outer-nav:hover .owl-pagination {
	top: -60px;
}

.owl-inner-pagination.owl-inner-nav.owl-ui-md:hover .owl-pagination,
.owl-inner-pagination.owl-outer-nav.owl-ui-md:hover .owl-pagination {
	top: -65px;
}

.owl-inner-pagination.owl-inner-nav.owl-ui-lg:hover .owl-pagination,
.owl-inner-pagination.owl-outer-nav.owl-ui-lg:hover .owl-pagination {
	top: -75px;
}

#owl-main .item {
	height: 44vh;
	background-color: #FFF;
	background-position: center 55%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
}
#owl-main.height-md .item {
	height: 61vh;
}
#owl-main.height-lg .item {
	height: 90vh;
}
#owl-main .container {
	display: table;
	height: inherit;
}
#owl-main .caption {
	display: table-cell;
}
#owl-main .caption.vertical-center {
	vertical-align: middle;
	padding-bottom: 3vh;
}
#owl-main .caption.vertical-top {
	vertical-align: top;
	padding-top: 8vh;
}
#owl-main .caption.vertical-bottom {
	vertical-align: bottom;
	padding-bottom: 14vh;
}
#owl-main .caption.text-center {
	padding-left: 10%;
	padding-right: 10%;
}
#owl-main .caption.text-left {
	padding-right: 20%;
}
#owl-main .caption.text-right {
	padding-left: 20%;
}
#owl-main .caption h1,
#owl-main .caption p,
#owl-main .caption div {
	position: relative;
}
#owl-main .caption h1 span {
	padding: .250em 0;
	line-height: 180%;
}
#owl-main .caption .light-bg,
#owl-main .caption .medium-bg,
#owl-main .caption .dark-bg,
#owl-main .caption .tint-bg {
	background: none;
	padding-left: .500em;
	padding-right: .500em;
}
#owl-main .caption h1.light-bg span,
#owl-main .caption p.light-bg span {
	background: #FFF;
	box-shadow: -.500em 0 0 #FFF, .500em 0 0 #FFF;
}
#owl-main .caption h1.medium-bg span,
#owl-main .caption p.medium-bg span {
	background: #A3B1BF;
	box-shadow: -.500em 0 0 #A3B1BF, .500em 0 0 #A3B1BF;
}
#owl-main .caption h1.dark-bg span,
#owl-main .caption p.dark-bg span {
	background: #506A85;
	box-shadow: -.500em 0 0 #506A85, .500em 0 0 #506A85;
}
#owl-main .caption h1.tint-bg span,
#owl-main .caption p.tint-bg span {
	background: #2DC5F4;
	box-shadow: -.500em 0 0 #2DC5F4, .500em 0 0 #2DC5F4;
}
#owl-main .owl-controls {
	display: block;
	position: static;
	margin-top: -47px;
}
#owl-main .owl-pagination {
	background: #FFF;
	line-height: inherit;
	position: relative;
	bottom: -40px;
	padding: 10px;
	display: inline-block;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	margin: auto;
	opacity: 0;
	-webkit-transition: all 200ms ease-out;
	   -moz-transition: all 200ms ease-out;
		 -o-transition: all 200ms ease-out;
			transition: all 200ms ease-out;
}
#owl-main:hover .owl-pagination {
	bottom: -25px;
	opacity: 1;
}
#owl-main .owl-prev,
#owl-main .owl-next {
	bottom: 0;
}

.owl-controls .owl-page {
    display: inline-block;
}
.owl-pagination .owl-page span {
	display: block;
	width: 15px;
	height: 15px;
	background: #506A85;
	border: none;
	-webkit-border-radius: 50%;
			border-radius: 50%;
	margin: 0 5px;
	-webkit-transition: all 200ms ease-out;
	   -moz-transition: all 200ms ease-out;
		 -o-transition: all 200ms ease-out;
			transition: all 200ms ease-out;
}
.owl-pagination .owl-page.active span,
.owl-pagination .owl-page:hover span {
	background: #2DC5F4;
}
.owl-item-gap .item {
    margin: 0 15px;
}
.owl-item-gap-sm .item {
    margin: 0 10px;
}
.owl-item.loading {
    min-height: inherit;
    background: none;
}


/*End Owl UI*/

#mycarousel-appliances .carousel-caption{
    left: 55%;
    right: 5%;
    padding-bottom: 100px;
}
#mycarousel-appliances .carousel-caption p{
    color: #fff;
    text-align: center;
    font-size: 16px;
    text-shadow:none;
}

#mycarousel-appliances .carousel-indicators {
    bottom: 10px;
}

@media screen and (min-width: 768px){
    .accessories-wrapper .carousel-caption {
        left: auto;
        right: 5%;
        padding-bottom: 8%;
        width: 40%;
    }
    .accessories-wrapper .carousel-caption p{
        text-shadow: none;
        font-size: 16px;
    }

    .appliances-wrapper .carousel-caption p{
        text-shadow: none;
        font-size: 16px;
    }

}
@media screen and (min-width: 992px){
    .accessories-wrapper .carousel-indicators {
        bottom: 10px;
    }
    .appliances-wrapper .carousel-indicators {
        bottom: 10px;
    }

}

@media screen and (max-width: 767px){
    #mycarousel-appliances .carousel-caption{
        left: 5%!important;
        right: 5%!important;
        padding-bottom: 25px!important;
    }
}


/* Landscape phones and down */
@media (max-width: 480px) {
    .product-heading{
        z-index: 999;
        margin: 5px 0px;
        font-weight: 600;
        font-size: 18px;
    }
    .about-product{
        margin: 10px 0px 10px;
        font-size: 12px;
        line-height: 150%;
    }
    .product-price h4{
        margin-bottom: 10px;
    }
    .warranty-card .nav-tabs.nav-justified>li>a,
    .related-card .nav-tabs.nav-justified>li>a,
    .design-card .nav-tabs.nav-justified>li>a{
        text-transform: uppercase;
        font-size: 12px;
    }
    .d-style {
        position: absolute;
        top: 55%;
        left: 5%;
        width: 90%;
        text-align: center;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .product-heading{
        z-index: 999;
        margin: 5px 0px;
        font-weight: 600;
        font-size: 18px;
    }
    .about-product{
        margin: 10px 0px 10px;
        font-size: 12px;
        line-height: 150%;
    }
    .product-price h4{
        margin-bottom: 10px;
    }
    .warranty-card .nav-tabs.nav-justified>li>a,
    .related-card .nav-tabs.nav-justified>li>a,
    .design-card .nav-tabs.nav-justified>li>a{
        text-transform: uppercase;
        font-size: 12px;
    }
    .d-style {
        position: absolute;
        top: 50%;
        left: 10%;
        width: 70%;
        text-align: center;
    }
    .m-style {
        position: absolute;
        top: 50%;
        left: 10%;
        width: 70%;
        text-align: center;
    }
    .d-style h3 {
        margin: 15px 30px 15px;
        font-size: 18px;
    }
    .m-style p,
    .d-style p{
        font-size: 12px;
    }
    .finish-slide-nav {
        margin: 25% 10% 0%;
        text-align: center;
    }
    .finishes-foil li img{
        width: 60px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .product-heading{
        z-index: 999;
        margin: 5px 0px;
        font-weight: 600;
        font-size: 24px;
    }
    .about-product{
        margin: 10px 0px 10px;
        font-size: 12px;
        line-height: 150%;
    }
    .product-price h4{
        margin-bottom: 10px;
    }
    .warranty-card .nav-tabs.nav-justified>li>a,
    .related-card .nav-tabs.nav-justified>li>a,
    .design-card .nav-tabs.nav-justified>li>a{
        text-transform: uppercase;
        font-size: 12px;
    }
    .d-style{
        top: 20%;
        width: 35%;
    }
    .d-style h3 {
        margin: 15px 30px 15px;
        font-size: 18px;
    }
    .m-style p,
    .d-style p{
        font-size: 12px;
    }
    .finish-slide-nav {
        margin: 25% 10% 0%;
        text-align: center;
    }
    .finishes-foil li img{
        width: 60px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* End Product details*/