/* Start product Details page  */

.product-details-font{
    font-family: 'Fira Sans', sans-serif;
}

.product-main-section{
    padding: 20px 0px;
    display: inline-block;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-heading {
    z-index: 999;
    margin: 20px 0px;
    font-weight: 600!important;
}
.about-product{
    margin: 25px 35px 40px;
}

.product-price h4{
    text-transform: inherit;
    margin-bottom: 20px;
}

.heading-price {
    float: right;
    white-space: nowrap;
}

.nowrap {
    white-space: nowrap;
}

.absolute-float-left {
    position: absolute;
    float: left;
}
.warranty-card,
.related-card,
.design-card{
    margin: 5px 0px 10px;
}
.warranty-card h5{
    font-weight:500!important;
}

.warranty-card .nav-tabs > li.active,
.related-card .nav-tabs > li.active,
.design-card .nav-tabs > li.active{
    border-bottom: 4px solid #000000;
}
.warranty-card .nav-tabs.nav-justified>.active>a,
.warranty-card .nav-tabs.nav-justified>.active>a:hover,
.warranty-card .nav-tabs.nav-justified>.active>a:focus,
.related-card .nav-tabs.nav-justified>.active>a,
.related-card .nav-tabs.nav-justified>.active>a:hover,
.related-card .nav-tabs.nav-justified>.active>a:focus,
.design-card .nav-tabs.nav-justified>.active>a,
.design-card .nav-tabs.nav-justified>.active>a:hover,
.design-card .nav-tabs.nav-justified>.active>a:focus{
    border: 0px solid #ddd;
}

@media (min-width: 768px){
    .warranty-card .nav-tabs.nav-justified>li>a,
    .related-card .nav-tabs.nav-justified>li>a,
    .design-card .nav-tabs.nav-justified>li>a{
        border: 0px solid #ddd;
    }
    .warranty-card .nav-tabs.nav-justified>li>a,
    .related-card .nav-tabs.nav-justified>li>a,
    .design-card .nav-tabs.nav-justified>li>a{
        border-bottom: 4px solid #ddd;
        border-radius: 0px;
        background: transparent;
        margin:0px 1px;
        text-transform: uppercase;
    }
    .warranty-card .nav-tabs.nav-justified>li>a:hover,
    .warranty-card .nav-tabs.nav-justified>li>a:active,
    .warranty-card .nav-tabs.nav-justified>li>a:focus,
    .related-card .nav-tabs.nav-justified>li>a:hover,
    .related-card .nav-tabs.nav-justified>li>a:active,
    .related-card .nav-tabs.nav-justified>li>a:focus,
    .design-card .nav-tabs.nav-justified>li>a:hover,
    .design-card .nav-tabs.nav-justified>li>a:active,
    .design-card .nav-tabs.nav-justified>li>a:focus{
        border-bottom: 4px solid #000;
    }
}
.d-item-img{
    margin-top: 7px;
}
.d-style {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 320px;
    text-align: center;
}
.d-style h3{
    margin: 20px 35px;
}
.m-item-img{
    margin-top: 7px;
}
.m-style {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 35%;
    text-align: center;
}
.m-style .nav-tabs{
    border-bottom: 0px solid #ddd;
}
.m-style .card .nav-tabs > li.active {
    border-bottom: 0px solid #000000;
}
.m-style .card .nav-tabs>li>a{
    border-radius: 0px;
    color: #000;
    background-color: transparent;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
    border-right: 1px solid #000;
    cursor: pointer;
    font-weight: 600;
}

.m-style .card .nav-tabs>li>a:last-child{
     border-right: 0px solid #000;
}

.m-style .card .nav-tabs>li.active>a,
.m-style .card .nav-tabs>li.active>a:hover,
.m-style .card .nav-tabs>li.active>a:focus{
    color: #000;
    background-color: transparent;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
    cursor: pointer;
    font-weight: 600;
}
.finish-slide-nav .nav,
.material-slide-nav .nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    text-align: center;
    display: inline-block;
}
.finish-slide-nav .nav-tabs,
.material-slide-nav .nav-tabs {
    border-bottom: 0px solid #ddd;
}
.finish-slide-nav .nav-tabs > li.active,
.material-slide-nav .nav-tabs > li.active{
    border-bottom: 0px solid #f1591f;
    font-weight: 700;
}
.finish-slide-nav .nav-tabs>li.active>a,
.finish-slide-nav .nav-tabs>li.active>a:hover,
.finish-slide-nav .nav-tabs>li.active>a:focus,
.material-slide-nav .nav-tabs>li.active>a,
.material-slide-nav .nav-tabs>li.active>a:hover,
.material-slide-nav .nav-tabs>li.active>a:focus{
    color: #333;
    background-color: transparent;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
    padding: 4px 10px 4px;
}
.finish-slide-nav .nav-tabs>li>a:hover,
.material-slide-nav .nav-tabs>li>a:hover{
      border-color: transparent;
}
.finish-slide-nav .nav>li>a,
.material-slide-nav .nav>li>a{
    padding: 3px 10px;
}
.finish-slide-nav .nav>li>a:hover,
.finish-slide-nav .nav>li>a:focus,
.material-slide-nav .nav>li>a:hover,
.material-slide-nav .nav>li>a:focus{
    background-color: transparent;
}
.finish-slide-nav .nav>li,
.material-slide-nav .nav>li{
    border-right: 1px solid #333;
}
.finish-slide-nav .nav>li:last-child,
.material-slide-nav .nav>li:last-child{
    border-right: 0px solid #333;
}
.finishes-wrapper{
    margin-top: 7px;
    background:#cfcfcf;
    min-height:340px;
}
.finish-slide-nav {
    margin: 20% 15%;
    text-align: center;
}
.finishes-foil-box{
    margin: 10%;
}
.finishes-foil{
    margin: 0px;
}
.finishes-foil li{
    margin: 0px;
    padding: 0px;
}
.finishes-foil li img{
    width: 110px;
    margin: 0px;
    padding: 0px;
    height: 50px;
}
.finishes-label{
    margin: 10px 0px 20px;
}
.related-card .well{
    margin-top: 7px;
}
.related-card .carousel-inner{
    min-height: 130px;
    margin-top: 0px !important;
}
.related-card .carousel-control {
    width: 5%;
    opacity: 1;
    filter: alpha(opacity=1);
    font-size: 100px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
    background-color: rgba(0, 0, 0, 0.29);
}

.btn-product {
    border-color: #ccc;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    font-size: 20px;
    background: #ccc !important;
    border-radius: 0px;
}

.btn-product:hover,
.btn-product:focus,
.btn-product:active,
.btn-product.active {
    border-color: #ccc;
    color: #333;
    background-color: #ccc !important;
}

.btn-product:active,
.btn-product.active {
    background-image: none;
}


img.finish-thumbnail {
     max-height:30%;
     -webkit-transition: width 1s, height 1s, -webkit-transform 0.5s;
     /* For Safari 3.1 to 6.0 */
     transition: width 1s, height 1s, transform 0.5s;
}
img.finish-thumbnail:hover {
    width:70px;
    height:50px;
     -webkit-transform:scale(1.9);
     /* Safari and Chrome */
     -moz-transform:scale(1.9);
     /* Firefox */
     -ms-transform:scale(1.9);
     /* IE 9 */
     -o-transform:scale(1.9);
     /* Opera */
     transform:scale(1.9);
}

#mycarousel-appliances .carousel-caption{
    left: auto;
    right: 5%;
    padding-bottom: 100px;
}
#mycarousel-appliances .carousel-caption p{
    color: #fff;
    text-align: center;
    font-size: 16px;
    text-shadow:none;
}

#mycarousel-appliances .carousel-indicators {
    bottom: 10px;
}

#forcecentered > .frame ul li{
    width:210px!important;
}

@media screen and (min-width: 768px){
    .accessories-wrapper .carousel-caption {
        left: auto;
        right: 5%;
        padding-bottom: 8%;
        width: 40%;
    }
    .accessories-wrapper .carousel-caption p{
        text-shadow: none;
        font-size: 16px;
    }

    .appliances-wrapper .carousel-caption p{
        text-shadow: none;
        font-size: 16px;
    }

}
@media screen and (min-width: 992px){
    .accessories-wrapper .carousel-indicators {
        bottom: 10px;
    }
    .appliances-wrapper .carousel-indicators {
        bottom: 10px;
    }
}

@media screen and (max-width: 767px){
    .m-style, .d-style {
        top: 50%;
        width: 80%;
    }
    .d-item-img > img,
    /*.m-item-img > img{
        height:350px;
    }*/

    #mycarousel-appliances .carousel-caption{
        left: 5%!important;
        right: 5%!important;
        padding-bottom: 25px!important;
    }
}

/* End Product details*/


.color-3 .container {
	background: url("https://res.cloudinary.com/mygubbi/image/upload/v1469135703/kyk/usp/PG_3.png") no-repeat 50% 50%;
/*
	background-size: cover;
*/
	min-height: 500px;
	width:100%;
}

.content {
	padding: 0 1em;
	margin: 0 auto;
	text-align: center;
}

.dummy-image {
	position: relative;
}
.dummy {
	text-align: left;
	padding: 1em;
	min-height: 300px;
	margin: 0 auto;
	font-weight: 300;
}

@import url(https://fonts.googleapis.com/css?family=Gochi+Hand);
.tooltip {
	position: absolute!important;
	z-index: 999!important;
	width: 2.2em!important;
	height: 2.2em!important;
	cursor: pointer!important;
	opacity: 2;
}

/* Trigger item */

.tooltip-item {
	width: 30px;
	height: 30px;
	left: 50%;
	top: 50%;
	margin: -15px 0 0 -15px;
	position: absolute;
	border-radius: 50%;
	border: 2px solid #e35583;
	-webkit-animation: pulse 0.6s infinite alternate;
	animation: pulse 0.6s infinite alternate;
}

@-webkit-keyframes pulse {
	from { -webkit-transform: scale3d(0.5,0.5,1); }
	to { -webkit-transform: scale3d(1,1,1); }
}

@keyframes pulse {
	from { -webkit-transform: scale3d(0.5,0.5,1); transform: scale3d(0.5,0.5,1); }
	to { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}

.tooltip:hover .tooltip-item {
	border-color: #fff;
}

.tooltip:first-child {
	top: 20%;
	left: 20%;
}

.tooltip:nth-child(2) {
	top: 50%;
	left: 10%;
}

.tooltip:nth-child(3) {
	top: 40%;
	left: 50%;
}

.tooltip:nth-child(4) {
	top: 70%;
	left: 70%;
}

/* Tooltip */

.tooltip-content {
	position: absolute;
	/*background: #e35583;*/
	z-index: 9999;
	width: 200px;
	bottom: 50%;
	margin-bottom: -1em;
	padding: 20px;
	/*border-radius: 20px;*/
	font-size: 1.1em;
	text-align: center;
	color: #fff;
	opacity: 0;
	cursor: default;
	pointer-events: none;
	font-family: 'Gochi Hand', cursive;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.tooltip-west .tooltip-content {
	left: 4em;
	-webkit-transform-origin: -2em 50%;
	transform-origin: -2em 50%;
	-webkit-transform: translate3d(0,50%,0) rotate3d(1,1,1,30deg);
	transform: translate3d(0,50%,0) rotate3d(1,1,1,30deg);
}

.tooltip-east .tooltip-content {
	right: 4em;
	-webkit-transform-origin: calc(100% + 2em) 50%;
	transform-origin: calc(100% + 2em) 50%;
	-webkit-transform: translate3d(0,50%,0) rotate3d(1,1,1,-30deg);
	transform: translate3d(0,50%,0) rotate3d(1,1,1,-30deg);
}

.tooltip:hover .tooltip-content {
	opacity: 1;
	-webkit-transform: translate3d(0,50%,0) rotate3d(0,0,0,0);
	transform: translate3d(0,50%,0) rotate3d(0,0,0,0);
	pointer-events: auto;
}

/* Gap "bridge" and arrow */

.tooltip-content::before,
.tooltip-content::after {
	content: '';
	position: absolute;
}

.tooltip-content::before {
	height: 100%;
	width: 3em;
}

.tooltip-content::after {
	width: 2em;
	height: 2em;
	top: 50%;
	margin: -1em 0 0;
	background: url(https://res.cloudinary.com/mygubbi/image/upload/v1469370510/kyk/tooltip2.svg) no-repeat center center;
	background-size: 100%;
}

.tooltip-west .tooltip-content::before,
.tooltip-west .tooltip-content::after {
	right: 99%; /* because of FF, otherwise we have a gap */
}

.tooltip-east .tooltip-content::before,
.tooltip-east .tooltip-content::after {
	left: 99%; /* because of FF, otherwise we have a gap */
}

.tooltip-east .tooltip-content::after {
	-webkit-transform: scale3d(-1,1,1);
	transform: scale3d(-1,1,1);
}


article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
