.shortlist-consult {
    position: absolute;
    right: 15px;
    bottom: 0;
}

.shortlist-delete {
    position: absolute;
    right: 20px;
    top: 5px;
}

.shortlist-delete a {
    font-size: 18px;
    color: #000 !important;
}
