@charset "utf-8";
/* CSS Document */

/* ----- sparkle Page CSS ------ */

body{
    background: #ffffff;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 14px;
    line-height: 1.75;
    font-family: 'Raleway', sans-serif;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    text-decoration: none;
}

a {
    color: #000;
    -webkit-transition: color 0.3s, opacity 0.2s;
    transition: color 0.3s, opacity 0.2s, transform 0.3s;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #ff3200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

ul, ol{
    font-family: 'Raleway', sans-serif;
}

strong{
    font-weight: 600;
}
.pl20{
    padding-left: 20px;
}
.mt20{
    margin-top:20px;
}
.mt40{
    margin-top:40px;
}
.mt50{
    margin-top:50px;
}
.mt70{
    margin-top:70px;
}
@media (max-width: 768px){
    .mob-m0{
        margin: 0px;
    }
    .mob-p0{
        padding:0px;
    }

}
@media (min-width: 992px){
    .navbar-header {
        float: inherit;
    }
}

.double-nav {
    padding-top: 40px;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}

.double-nav a{
    color: #556871;
}

.navbar-sparkle{
    margin: 0px auto;
    background: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 0px;
    text-align: center;
}
.navbar-sparkle .navbar-brand-logo{
    margin: 15px auto;
    text-align: center;
    display: block;
}

.navbar-sparkle .navbar-brand img {
    width: 150px;
    margin: 15px 0px 10px 0px;
}

.sparkle_banner_bg {
    background-image: url(https://res.cloudinary.com/mygubbi/image/upload/v1507195892/sparkle/sparkel-bg.jpg);
    background-repeat: no-repeat;
    background-position: center 100%;
    min-height: 520px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px 0px 40px 0px;
    text-align: center;
    color: #ffffff;
}

.sparkle-form{
    background: #ba2027;
    color: #333333;
    padding: 0px 5px;
    max-width: 450px;
    margin: 0px auto;
}


.sparkle-form .sparkle-form-wrapper{
    padding: 10px 20px;
}

.sparkle-form h3 {
   text-align: center;
   margin: 0px;
   text-transform: capitalize;
   font-weight: 600;
   color: #fee141;
   padding: 15px 0px 10px;
   font-size: 35px;
   letter-spacing: 4px;
   font-family: 'Raleway', sans-serif;
}

.sparkle-form .form-control{
    border-radius: 0px;
    box-shadow: none;
    height: 35px;
    line-height: 35px;
    border-width: 0px 0px 1px 0px;
    padding: 5px;
    margin: 15px 0px;
}

.btn-sparkle {
    background: #edd400;
    color: #231f20;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.42);
}

.btn-sparkle:hover,
.btn-sparkle:active,
.btn-sparkle:focus{
    color: #ffffff;
    background: #edd400;
    text-decoration: none;
 }

.btn-sparkle-offer {
    background: #531801;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.42);
}

.btn-sparkle-offer:hover,
.btn-sparkle-offer:active,
.btn-sparkle-offer:focus{
    color: #ffffff;
    background: #531801;
    text-decoration: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.42);
 }

.interior-need{
    margin: 40px 0px 70px;
}
.interior-need h2 {
    font-weight: 300;
    font-size: 42px;
    margin-top: 40px;
}
.interior-need h1 {
    font-weight: bold;
    margin: 0px;
    font-size: 55px;
}

.section-fun-facts{
    background: #ff4f3b;
    color: #ffffff;
    padding: 20px 0px 50px;
}

.section-why-us{
    background: #ffffff;
    color: #333333;
    padding: 20px 0px 40px;
}

.de_count {
    min-height: 120px;
}

.de_count img{
    width: 200px;
}

.sparkle_banner_bg h4{
    color: #FFF79D;
    line-height:150%;
}

.sparkle-why-us-head{
    font-weight: 300;
    color: #a42376;
    text-transform: uppercase;
    font-size: 42px;
    padding: 50px 0px 40px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}
.sparkle-customer-head{
    font-weight: 500;
    color: #2d2d2d;
    text-transform: uppercase;
    font-size: 42px;
    padding: 50px 0px 40px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
}

.sparkle-customer-head strong{
    font-weight: 800;
}

.why-us-fluid{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.why-us-fluid h1{
    font-size: 42px;
    letter-spacing: 15px;
    color: #fff79d;
}

.assurance-fluid{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.assurance-fluid h1{
    font-size: 42px;
    letter-spacing: 15px;
    color: #fff79d;
}

.assurance-fluid h4{
    font-size: 16px;
    color: #fff79d;
    text-transform: inherit;
    word-spacing: 5px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.assurance-fluid .de_count {
    min-height: 120px;
}

.assurance-fluid  .de_count img{
    width: 155px;
}


.sparkle-gallery-section{
    background: #ffffff;
    padding: 0px;
    position: relative;
}

.sparkle-gallery-head {
    position: absolute;
    bottom: 30px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    padding: 10px 0px 0px;
    z-index: 9;
    font-family: 'Raleway', sans-serif;
}

.sparkle-gallery-head h2{
    color: #fffe04;
    font-size: 22px;
    margin: 15px 0px 5px;
    font-family: 'Raleway', sans-serif;
}

.sparkle-gallery-head p{
    color: #ffffff;
    opacity: 0.8;
}

.sparkle-category-section{
    background-image: url("https://res.cloudinary.com/mygubbi/image/upload/v1499824594/landing_page/double-bonanza/icons-bg_06.jpg");
    background-repeat: no-repeat;
    background-position: center 100%;
    min-height: 480px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px 0px;
    text-align: center;
    color: #ffffff;
}

.fact-head{
    margin: 0px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 60px 0px 10px;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}

.fact-sub-head{
    margin: 0px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0px 0px 60px;
    font-size: 40px;
    color: #fffe04;
    font-family: 'Raleway', sans-serif;
}

.section-fun-facts h4{
    min-height: 40px;
    margin-bottom: 30px;
    margin-top: 0px;
}


.section-testimonial{
    padding-bottom: 50px;
}

.sparkle-testimonial-box{
    background: #ffffff;
}

#owl-testimonial .item{
    padding: 15px 0px 15px;
    margin: 5px;
    color: #5d4c46;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    min-height:185px;
    background: #ffffff;
}
#owl-testimonial h5{
    text-transform: capitalize;
}

#owl-testimonial p{
    font-size: 16px;
    text-align: left;
    padding: 20px 30px;
    font-weight: 300;
}

.sparkle-contact-section{
    background: #ffffff;
    color: #333333;
    padding: 20px 0px 40px;
}

.sparkle-footer{
    background: #fdfcfc;
}

.sparkle-footer-section h6{
    margin-top: 40px;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    margin: 0px;
    padding: 10px 0px 20px;
    font-size: 16px;
    color: #5d4c46;
}

#owl-gallery .owl-dots {
    margin: 0px !important;
    padding: 5px 0px 5px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 9999999;
    background: rgba(0, 0, 0, 0.5);
}

.sparkle-gallery-section .owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 2px;
    z-index: 99;
}

.sparkle-gallery-section .owl-theme .owl-dots .owl-dot.active span,
.sparkle-gallery-section .owl-theme .owl-dots .owl-dot:hover span {
    background: #fdfc04;
    z-index: 99;
}

.section-testimonial .owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 2px;
}

.section-testimonial .owl-theme .owl-dots .owl-dot.active span,
.section-testimonial .owl-theme .owl-dots .owl-dot:hover span {
    background: #eb010c;
}

.section-testimonial h3 {
    color: #5d4c46;
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
}

.section-portfolio{
    padding: 35px 0px;
    background: #fff;
}

.owl-carousel .owl-item .img-comma{
    width: 40px !important;
}

.owl-carousel .owl-item .img-profile{
    width: 130px;
    padding: 15px 0px;
}

.img-centered {
    margin: 0 auto;
}

.sparkle-consult-section{
    padding: 40px 0px;
    text-align: center;
}

.sparkle-consult-section .head{
    text-transform: inherit;
    font-family: 'Raleway', sans-serif;
    margin: 20px 0px;
    font-weight: 600;
    color: #5d4c46;
}

.btn-book-now{
   background: #ffffff;
   -webkit-border-radius: 28;
   -moz-border-radius: 28;
   border-radius: 28px;
   color: #d21f46;
   font-size: 18px;
   padding: 10px 50px;
   text-decoration: none;
   font-weight: 400;
   margin: 20px 0px;
   text-transform: uppercase;
}

.btn-book-now:hover,
.btn-book-now:active,
.btn-book-now:focus{
    color: #ffffff;
    background: #d21f46;
    text-decoration: none;
    border: 1px solid #ffffff;
 }

@media (max-width: 1300px) {
    .sparkle_banner_bg {
        min-height: 610px;
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .sparkle-container {
        width: 1090px;
    }
}

@media (min-width: 992px) {
    .pn{
        padding: 0px;
    }
    .pln{
        padding-left: 0px;
    }
    .prn{
        padding-right: 0px;
    }
}

@media (max-width: 1024px) {
    .assurance-fluid h1,
    .why-us-fluid h1{
        letter-spacing: 15px;
    }
}
@media (max-width: 768px) {
    .separator span:before,
    .separator span:after {
        content: "";
        position: absolute;
        border-bottom: 1px solid rgba(255,255,255,.5);
        top: 5px;
        width: 135px;
    }
    .section-why-us .separator span:before,
    .section-why-us .separator span:after {
        content: "";
        position: absolute;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        top: 5px;
        width: 135px;
    }

    .sparkle_banner_bg {
        background-image: url(https://res.cloudinary.com/mygubbi/image/upload/v1507283845/sparkle/sparkel-bg-mob.jpg);
        background-repeat: no-repeat;
        background-position: center 100%;
        min-height: 520px;
        width: 100%;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 0px 0px 25px;
        text-align: center;
        color: #ffffff;
    }

    .sparkle-form{
        margin-top: 30px;
    }
    .de_count {
        min-height: 120px;
    }
    .de_count img{
        width: 250px;
    }
    .why-us-fluid h1{
        letter-spacing: 15px;
    }
    .assurance-fluid h1{
        letter-spacing: 15px;
    }
    .mt0-mob{
        margin-top:0px
    }
}
@media (max-width: 767px) {
    .navbar-sparkle .navbar-brand {
        padding: 0px;
        margin: 0px auto;
        position: relative;
        width: 100%;
        float: none;
    }
    .navbar-sparkle .navbar-brand img {
        width: 150px;
        margin: 15px auto;
        text-align: center;
    }
    .interior-need h2{
        font-size:30px;
    }
    .assurance-fluid h1,
    .why-us-fluid h1 {
        letter-spacing: 5px;
        font-size: 18px;
    }
    .assurance-fluid h4,
    .why-us-fluid h4 {
        font-size: 14px;
        color: #fff79d;
        text-transform: inherit;
        font-weight: 400;
        line-height: normal;
    }

    .assurance-fluid .de_count img,
    .why-us-fluid .de_count img {
        width: 150px;
    }
    .sparkle-form {
        margin: 15px auto;
    }
    .section-offer-sparkle{
        padding: 30px 20px 70px;
    }
    .navbar-sparkle .navbar-brand img {
        width: 150px;
        margin: 15px auto;
        text-align: center;
    }
    .sparkle_banner_bg {
        background-image: url(https://res.cloudinary.com/mygubbi/image/upload/v1507283845/sparkle/sparkel-bg-mob.jpg);
        background-repeat: no-repeat;
        background-position: center 100%;
        min-height: 520px;
        width: 100%;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 0px 0px 25px;
        text-align: center;
        color: #ffffff;
    }

    .section-why-us h4 {
        text-transform: capitalize;
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 30px;
    }
    .sparkle-gallery-head h2 {
        color: #fffe04;
        font-size: 18px;
        margin: 0px;
        text-align: center;
    }
    .sparkle-gallery-head {
        position: absolute;
        bottom: 30px;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        width: 100%;
        padding: 5px 0px 0px;
        z-index: 9;
    }
    .sparkle-gallery-head p {
        color: #ffffff;
        opacity: 0.8;
        font-size: 12px;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
    #owl-gallery .owl-dots {
        margin: 0px !important;
        padding: 0px;
    }
    .fact-head{
        font-size: 26px;
        padding: 15px 0px 10px;
    }
    .fact-sub-head {
        margin: 0px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0px 0px 60px;
        font-size: 25px;
        color: #fffe04;
    }
    #owl-testimonial p{
        font-size: 14px;
        text-align: center;
    }
    .sparkle-consult-section .sub-head {
        font-weight: 600;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        font-size: 34px;
        margin: 20px 0px 20px;
    }
    .sparkle-footer h5{
        text-align: center;
    }
    .sparkle-footer h6 {
        margin-top: 30px;
        font-family: 'Lato', sans-serif;
        text-transform: capitalize;
        text-align: center;
    }
}
@media (max-width: 420px) {
    .navbar-sparkle .navbar-brand {
        padding: 0px;
        margin: 0px auto;
        position: relative;
        width: 100%;
        float: none;
    }
    .navbar-sparkle .navbar-brand img {
        width: 150px;
        margin: 15px auto;
        text-align: center;
    }
    .de_count {
        min-height: 110px;
    }
    .sparkle_banner_bg {
        background-image: url(https://res.cloudinary.com/mygubbi/image/upload/v1507283845/sparkle/sparkel-bg-mob.jpg);
        background-repeat: no-repeat;
        background-position: center 100%;
        min-height: 520px;
        width: 100%;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 0px 0px 25px;
        text-align: center;
        color: #ffffff;
    }

    .sparkle-banner-head {
        padding: 5px 5px;
        line-height: 130%;
        font-size: 24px;
        margin-top: 0px;
        font-weight: 400;
        text-transform: capitalize;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }

    .assurance-fluid h1,
    .why-us-fluid h1 {
        letter-spacing: 2px;
        font-size: 16px;
    }

    .sparkle-form {
        margin: 15px 0px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    }

    #owl-testimonial p{
        font-size: 14px;
        text-align: center;
    }
    .owl-carousel .owl-item .img-profile{
        padding: 5px 0px;
        margin-top: -40px;
    }
    .section-fun-facts {
            background-image: url("https://res.cloudinary.com/mygubbi/image/upload/v1499863341/landing_page/double-bonanza/icons_bg.jpg");
        color: #ffffff;
        padding: 20px 0px 10px;
    }
    .de_count img {
        margin-bottom: 0;
    }
    .fact-head{
        font-size: 26px;
        padding: 15px 0px 10px;
    }
    .fact-sub-head {
        margin: 0px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0px 0px 60px;
        font-size: 25px;
        color: #fffe04;
    }
    .fact-des{
        font-size:12px;
    }
    .sparkle-why-us-head{
        font-size: 26px;
        padding: 20px 0px;
    }
    .sparkle-customer-head{
        font-size: 26px;
        padding: 20px 0px;
    }
    .sparkle-customer-head{
        font-size: 36px;
        padding: 20px 0px 0px;
    }
    .sparkle-gallery-section{
        padding: 0px;
    }
    .section-why-us{
        padding: 10px 0px;
    }
    .btn-sparkle{
        font-size: 14px;
    }
}




/* ----- End sparkle Page CSS ------ */