<div class="bg-white kitchen-appliance">
    <section class="appliance-page-heading">
        <div class="container">
            <div class="row text-center">
               <h2 class="material-head">Materials</h2>
            </div>
            <div class="material-details">
                <div class="row">
                <h3>
                    MDF
                </h3>
                <p>Medium Density Fibreboard is made by processing softwood and hardwood residuals. It is engineered to be resistant to termite and borer. MDF is a sturdy material with a smooth surface that is ideal to be used for lamination. The versatile feature of MDF makes it a durable material to be used for interior furnishing.</p>

                <p>MDF is easy to cut and carve, which means there are no hassles in shaping intricate designs on this material. Though MDF has similar features of a particle board, it is much denser and strong. The small wood fibres are pressed together tightly at high temperature to ensure that there are no voids in the material. (density of fiber)</p>

                <p>MDF is cheaper compared to plywood and has a smooth surface, which is ideal for painting for a premium finish. The density of wood fibres in MDF is consistent throughout, which gives it smooth edges and no splinters that make it easy for detailed designing.</p>

                </div>
                <div class="row">
                <h3>
                    PLY
                </h3>
                <p>Plywood is made by bonding many layers of wood with adhesive. This material is a factory manufactured sheet of wood that does not crack or warp when carved or cut in multiple sizes. Plywood is made of softwood or hardwood or both. It features a smooth finish by accommodating dyes and paint better.</p>

                <p>By bonding different layers of wood, a plywood is sturdy and hard to bend. This makes it versatile, sturdy and moisture resistant. Plywood has a cross lamination of finish with veneers, which ensures that they do not expand, shrink or warp when exposed to high temperature, moisture and water.</p>

                <p>Plywood is resistant to chemicals and is non-corrosive as it is treated with preservatives. Perfect for insulation, plywood can be used to control the temperature and reduce noise pollution.</p>
                </div>
                <div class="row mb50">
                <h3>
                    PLPB
                </h3>
                <p>Pre-Laminated Particle Board is made by compressing glue and wood fibres under high pressure and heat. The board is then given a smooth finish with laminates or veneers. PLPB is an ideal furnish material to consider if you are looking for a wide range of options with the finish.</p>

                <p>PLPB is economical and can be used to give your furnishing a sophisticated look with a premium finish. Resistant to moisture, termite and borer, this material is recommended to be used for wardrobes and shelves.</p>

                <p>PLPB is highly resistant to wear and tear and is recommended to be used for wardrobes and cabinets.</p>

                </div>
         </div>
        </div>
    </section>
</div>
<style>
    .material-head {
    color: #4d616b;
    margin: 50px 0px 20px;
    font-size: 40px;
    font-weight: 300;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    display: inline-block;
    }

    .material-details p {
    font-size: 16px;
    line-height: 150%;
    color: #444444;
    }
</style>