<section class="menu-spacer bg-color-white">

    <!-- Start career-bg -->
    <div class="payment-bg"></div>
    <!-- End career-bg -->

    <!-- Start career culture -->
    <div class="career-culture-section pt30 pb30">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h1 class="section-heading"> Payments </h1>
                    <p class="text-center"> Below are the bank account details for NEFT payment and fund transfers </p>
                </div>
            </div>
            <div class="culture-wrap mt30">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                        <ul class="career-offer">
                            <li class="gubbi">
                                <h4 class="margin-top0"> Bank Account Details </h4>
                            </li>
                        </ul>
                        <p>If you wish to pay by bank transfer, payments will be made to:</p>

                        <ul class="list-horizontal">
                            <li> Account/Beneficiary Name: GUBBI TECHNOLOGIES PRIVATE LIMITED
                            </li>
                            <li> Bank Name: Corporation Bank </li>
                            <li> Account Number: 034101601000528 </li>
                            <li> Bank IFSC Code: CORP0000341 </li>
                            <li> Bank Branch Code: 000341 </li>
                            <li> Swift Code: CORPINBB341 </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="culture-wrap mt30">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                        <ul class="career-offer">
                            <li class="gubbi">
                                <h4 class="margin-top0"> Online payments </h4>
                            </li>
                        </ul>
                        <p>We accept all major credit and debit cards like Master, Visa and Amex to ensure that you enjoy hassle free online payment. Online transactions are secured with PayU, which is secured by VeriSign and Payment Card Industry (PCI) compliant. This ensures that you can transact online with MyGubbi without any worries.</p>


                        <p>In the event of a transaction failure, the amount is mostly not debited from your account. In case, the amount is deducted from your account, the same will reflect back in 24 - 48 hours from the time of the transaction.</p>


                        <p>Note:  When placing the order please ensure that you are connected to a stable internet connection, and all entered details are correct, as this might result in transaction failures. </p>
                    </div>
                </div>
            </div>
            <div class="culture-wrap mt30">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                            <h1 class="section-heading"> PAYMENT POLICY </h1>
                        </div>
                        <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                            <ul class="career-offer">
                                <li class="gubbi">
                                    <h4 class="margin-top0"> CANCELLATION POLICY </h4>
                                </li>
                            </ul>
                            <p>Our cancellation policy gives you the option to cancel the order if you wish to. However, cancellation of orders can only be done before the commencement of the designing process.</p>


                            <p>If orders are cancelled after the design process commences, the amount paid by the client shall not be refunded and will stand fortified. The client is also liable to pay the service charges to MyGubbi.</p>


                            <p>Orders once placed cannot be cancelled after the contract is signed.</p>

                            <ul class="career-offer">
                                <li class="gubbi">
                                    <h4 class="margin-top0"> REFUND POLICY </h4>
                                </li>
                            </ul>

                            <p>Individual cancellation of the contract by MyGubbi with or without any reason is limited to refund of the complete amount paid by the client.</p>


                            <p>Refunds if any are paid by Cheque or processed through Net Banking within 10 working days from the day of cancellation.
                                Individual cancellation of the contract by MyGubbi with or without any reason is limited to refund of the complete amount paid by the client.</p>


                            <p> Refunds if any are paid by Cheque or processed through Net Banking within 10 working days from the day of cancellation.  </p>

                        </div>
                    </div>
                </div>
            </div>

    </div>
    <!-- End career culture -->

</section>