<div class="category-details">
    <h6 class="text-transform-none"><strong>A Room of One’s Own</strong></h6>

    <p>The bedroom design is the best reflection of your taste. Besides the staple pieces of a bed and

    a chest of drawers, you can also add interesting accents to suit your tastes. Having identified

    this uniqueness of a bedroom, we offer a wide variety of bedroom furniture online to transform

    your bedroom interior into a cozy nook, which is just right for you to unwind after a long day.</p>

    <p>Have a look at the handpicked collection of bedroom paraphernalia, go for aesthetic book racks,

    study tables and wardrobes etc. for an instant transformation of your bedroom interior, which

    will be highly functional yet enthralling.</p>

    <p>Bedside Tables: Whether you’re reaching out for a glass of water at middle of night or need a

    platform for a reading lamp, bedside tables will meet most of your needs.</p>

    <p>Study Tables and Book Racks: A study table is an essential piece of furniture, we provide

    such designs that perfectly suit the bedroom décor of everyone. Be it a college-going student or

    a small family with toddlers, our bedroom furniture offers functional as well as graceful

    furnishings for your dwellings. Not only does this adds to bedroom interior design but it also

    maximizes on space and storage.</p>

    <p>Wardrobes: Wardrobes that are simple, neat yet stylish instantly draw the eye. We give you a

    collection of modern bedroom wardrobes to suit your space. With a number of bedroom

    designs online there can never be a dull moment when it comes to getting dressed for an

    exciting day ahead.</p>

    <h6 class="text-transform-none"><strong>Unparalleled service</strong></h6>

    <p>Well-thought bedroom designs go a long way in maintaining a harmonious and homely

    atmosphere. We offer a trouble-free service when it comes to choosing the ideal bedroom

    interior design for you.</p>

    <p>Choose from our range of bedroom furniture online to meet your requisites.</p>
</div>