<div class="margin-md">
</div>

<div class="category-filter row">
    <ul class="list-inline">
        <li class="filter-type">Choose</li>
        <li>CATEGORY</li>
        <li>|</li>
        <li>SUB-CATEGORY</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li class="filter-type">Sort By</li>
        <li>POPULARITY</li>
        <li>|</li>
        <li>RELEVANCE</li>
        <li>|</li>
        <li>DATE</li>
        <li>|</li>
        <li>PRICE</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li class="filter-type">View In</li>
        <li><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></li>
        <li><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></li>
        <li><span class="glyphicon glyphicon-th" aria-hidden="true"></span></li>
    </ul>
</div>
