<link rel="stylesheet" href="/css/product-details.css">

<section class="bg-white top-section">
    <div class="container-fluid bg-color-white">
        <div class="container">
            <div class="row">
                <div class="product-main-section">
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <div class="product-main-img">
                            <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1468303311/project_details/product_main_img.jpg" alt="Product Main Images">
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        <div class="product-main-content text-center">
                            <h2 class="product-heading"> COMORANT L SHAPE </h2>
                            <p class="about-product">
                                An "L-shaped kitchen" meant for a larger space and catering to a big family.
                                This modular unit makes place for your large appliances to be stowed neatly and accessed easily.
                                It effectively utilizes two walls of your kitchen to include space for a fridge.
                                The legs of the L segregate your cooking and prepping areas.
                                Overhead and lower kitchen cabinets are supplemented with wall mounted open shelves.
                            </p>
                            <div class="product-price">
                                <h4> Price starting from : <strong> Rs. 240582 /- </strong></h4>
                            </div>
                            <div class="consult-section">
                                <button class="btn btn-block btn-product"> Consult </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Detail and Main Image -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="design-card">
                        <div class="card">
                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#designstyle" aria-controls="designstyle" role="tab" data-toggle="tab"> Design Style </a>
                                </li>
                                <li role="presentation">
                                    <a href="#material" aria-controls="material" role="tab" data-toggle="tab">  Material </a>
                                </li>
                                <li role="presentation">
                                    <a href="#finishes" aria-controls="finishes" role="tab" data-toggle="tab">  Finishes </a>
                                </li>
                                <li role="presentation">
                                    <a href="#accessories" aria-controls="accessories" role="tab" data-toggle="tab"> Accessories </a>
                                </li>
                                <li role="presentation">
                                    <a href="#appliance" aria-controls="appliance" role="tab" data-toggle="tab"> Appliance </a>
                                </li>
                            </ul>
                            <div class="tab-content">

                                <div role="tabpanel" class="tab-pane active" id="designstyle">
                                    <div class="designstyle-wrapper">
                                        <div class="d-item">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="d-item-img">
                                                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1468317951/project_details/style_board_monochrome.jpg" alt="designstyle">
                                                    </div>
                                                </div>
                                                <div class="d-style">
                                                    <h3> Black and White the original </h3>
                                                    <p>
                                                        Bring back the originality of colour - just go all out with black and white !
                                                        make bold statements which are true to your nature and have it reflected on your designs.
                                                        Black and white patterns blend beautifully with minimalistic and linear design approach.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear clearfix"></div>
                                <div role="tabpanel" class="tab-pane" id="material">
                                    <div class="material-wrapper">
                                        <div class="m-item">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="m-item-img">
                                                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1468317950/project_details/mdf.jpg" alt="material">
                                                    </div>
                                                </div>
                                                <div class="m-style">
                                                    <div class="tabbable-line material-slide-nav">
                                                        <ul class="nav nav-tabs ">
                                                            <li class="active">
                                                                <a href="#tab_mdf_1" data-toggle="tab">
                                                                    MDF </a>
                                                            </li>
                                                            <li>
                                                                <a href="#tab_ply_2" data-toggle="tab">
                                                                    PLY </a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            <div class="tab-pane active" id="tab_mdf_1">
                                                                <p>
                                                                    Durable, economical and perfect for practical storage solutions,
                                                                    MDF can be filed, cut and drilled without damaging the surface.
                                                                    MDF is made by breaking down hardwood into wood fibres and forming panels
                                                                    by applying high temperature and pressure.
                                                                </p>
                                                            </div>
                                                            <div class="tab-pane" id="tab_ply_2">
                                                                <p>
                                                                    test, economical and perfect for practical storage solutions,
                                                                    MDF can be filed, cut and drilled without damaging the surface.
                                                                    MDF is made by breaking down hardwood into wood fibres and forming panels
                                                                    by applying high temperature and pressure.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="finishes">
                                    <div class="finishes-wrapper">
                                        <div class="f-item">
                                            <div class="row">
                                                <div class="col-sm-5 col-md-5 col-lg-5">
                                                    <div class="tabbable-line finish-slide-nav">
                                                        <ul class="nav nav-tabs ">
                                                            <li class="active">
                                                                <a href="#tab_finish_1" data-toggle="tab">
                                                                    GLOSSY </a>
                                                            </li>
                                                            <li>
                                                                <a href="#tab_finish_2" data-toggle="tab">
                                                                    MATT </a>
                                                            </li>
                                                            <li>
                                                                <a href="#tab_finish_3" data-toggle="tab">
                                                                    SUEDE </a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            <div class="tab-pane active" id="tab_finish_1">
                                                                <p>
                                                                    Glossy finish provide a sharp image and are extremely popular as they show vibrant color well.
                                                                    Glossy finishes go well with paint, foil and laminate material.
                                                                </p>
                                                            </div>
                                                            <div class="tab-pane" id="tab_finish_2">
                                                                <p>
                                                                    Matt finish provide a sharp image and are extremely popular as they show vibrant color well.
                                                                    Glossy finishes go well with paint, foil and laminate material.
                                                                </p>
                                                            </div>
                                                            <div class="tab-pane" id="tab_finish_3">
                                                                <p>
                                                                    Matt finish provide a sharp image and are extremely popular as they show vibrant color well.
                                                                    Glossy finishes go well with paint, foil and laminate material.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7 col-md-7 col-lg-7">
                                                    <div class="finishes-foil-box">
                                                        <div class="row">
                                                            <ul class="list-inline finishes-foil">
                                                                <li><a href="#"><img src="https://res.cloudinary.com/mygubbi/image/upload/v1468475575/project_details/HG_Wolfram_Grey.jpg" alt=""></a></li>
                                                                <li><a href="#"><img src="https://res.cloudinary.com/mygubbi/image/upload/v1468475576/project_details/Ivory_Frost_49916_HGL.jpg" alt=""></a></li>
                                                                <li><a href="#"><img src="https://res.cloudinary.com/mygubbi/image/upload/v1468475575/project_details/HG_Margherita.jpg" alt=""></a></li>
                                                                <li><a href="#"><img src="https://res.cloudinary.com/mygubbi/image/upload/v1468475576/project_details/Ivory_Frost_49916_HGL.jpg" alt=""></a></li>
                                                                <li><a href="#"><img src="https://res.cloudinary.com/mygubbi/image/upload/v1468475575/project_details/HG_Wolfram_Grey.jpg" alt=""></a></li>
                                                            </ul>
                                                            <label class="finishes-label"> Laminate </label>
                                                        </div>
                                                        <div class="row">
                                                            <ul class="list-inline finishes-foil">
                                                                <li><a href="#"><img src="https://res.cloudinary.com/mygubbi/image/upload/v1468475575/project_details/HG_Wolfram_Grey.jpg" alt=""></a></li>
                                                                <li><a href="#"><img src="https://res.cloudinary.com/mygubbi/image/upload/v1468475576/project_details/Ivory_Frost_49916_HGL.jpg" alt=""></a></li>
                                                                <li><a href="#"><img src="https://res.cloudinary.com/mygubbi/image/upload/v1468475575/project_details/HG_Margherita.jpg" alt=""></a></li>
                                                                <li><a href="#"><img src="https://res.cloudinary.com/mygubbi/image/upload/v1468475576/project_details/Ivory_Frost_49916_HGL.jpg" alt=""></a></li>
                                                            </ul>
                                                            <label class="finishes-label"> Foil </label>
                                                        </div>
                                                        <div class="row">
                                                            <ul class="list-inline finishes-foil">
                                                                <li><a href="#"><img src="https://res.cloudinary.com/mygubbi/image/upload/v1468475575/project_details/HG_Wolfram_Grey.jpg" alt=""></a></li>
                                                                <li><a href="#"><img src="https://res.cloudinary.com/mygubbi/image/upload/v1468475576/project_details/Ivory_Frost_49916_HGL.jpg" alt=""></a></li>
                                                                <li><a href="#"><img src="https://res.cloudinary.com/mygubbi/image/upload/v1468475575/project_details/HG_Margherita.jpg" alt=""></a></li>
                                                            </ul>
                                                            <label class="finishes-label"> Pu Paint </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="accessories">
                                    <div class="accessories-wrapper">
                                        <div id="mycarousel-accessories" class="carousel carousels slide" data-ride="carousels">
                                            <!-- Indicators -->
                                            <ol class="carousel-indicators">
                                                <li data-target="#mycarousel-accessories" data-slide-to="0" class="active"></li>
                                                <li data-target="#mycarousel-accessories" data-slide-to="1"></li>
                                                <li data-target="#mycarousel-accessories" data-slide-to="2"></li>
                                            </ol>
                                            <!-- Wrapper for slides -->
                                            <div class="carousel-inner" role="listbox">
                                                <div class="item items">
                                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1468317949/project_details/acc2.jpg" alt="First Image">
                                                    <div class="carousel-caption">
                                                        <p> We know your cooking style & we design your kitchen with the best possible accessories from the biggest market player like HETTICH, HAFELE </p>
                                                    </div>
                                                </div>
                                                <div class="item items">
                                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1468317949/project_details/acc3.jpg" data-color="firebrick" alt="Second Image">
                                                    <div class="carousel-caption">
                                                        <p> We know your cooking style & we design your kitchen with the best possible accessories from the biggest market player like HETTICH, HAFELE </p>
                                                    </div>
                                                </div>
                                                <div class="item items">
                                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1468317948/project_details/acc1.jpg" data-color="violet" alt="Third Image">
                                                    <div class="carousel-caption">
                                                        <p> We know your cooking style & we design your kitchen with the best possible accessories from the biggest market player like HETTICH, HAFELE </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="appliance">
                                    <div class="appliance-wrapper">
                                        <div id="mycarousel-appliances" class="carousel appliance-carousels slide" data-ride="appliance-carousels">
                                            <!-- Indicators -->
                                            <ol class="carousel-indicators">
                                                <li data-target="#mycarousel-appliances" data-slide-to="0" class="active"></li>
                                                <li data-target="#mycarousel-appliances" data-slide-to="1"></li>
                                                <li data-target="#mycarousel-appliances" data-slide-to="2"></li>
                                            </ol>
                                            <!-- Wrapper for slides -->
                                            <div class="carousel-inner" role="listbox">
                                                <div class="item items">
                                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1468317949/project_details/app2.jpg" alt="First Image">
                                                    <div class="carousel-caption">
                                                        <p> We know your cooking style & we design your kitchen with the best possible accessories from the biggest market player like HETTICH, HAFELE </p>
                                                    </div>
                                                </div>
                                                <div class="item items">
                                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1468317949/project_details/app3.jpg" data-color="firebrick" alt="Second Image">
                                                    <div class="carousel-caption">
                                                        <p> We know your cooking style & we design your kitchen with the best possible accessories from the biggest market player like HETTICH, HAFELE </p>
                                                    </div>
                                                </div>
                                                <div class="item items">
                                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1468317948/project_details/app1.jpg" data-color="violet" alt="Third Image">
                                                    <div class="carousel-caption">
                                                        <p> We know your cooking style & we design your kitchen with the best possible accessories from the biggest market player like HETTICH, HAFELE </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Quality Details -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="card related-card">
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#related-image" aria-controls="related-image" role="tab" data-toggle="tab"> Related Images </a>
                            </li>
                            <!--<li role="presentation">
                                <a href="#related-collection" aria-controls="related-collection" role="tab" data-toggle="tab">  Related Collection </a>
                            </li>-->
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="related-image">
                                <div class="well">
                                    <div id="relatedCarousel" class="carousel slide">
                                        <!-- Carousel items -->
                                        <div class="carousel-inner">

                                            <div class="item active">
                                                <div class="row">
                                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                                        <a href="#x"><img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/c_fill,h_300,w_500/075_Shag_L_shape.jpg" alt="Image" style="max-width:100%;" /></a>
                                                    </div>
                                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                                        <a href="#x"><img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/c_fill,h_300,w_500/075_Shag_L_shape.jpg" alt="Image" style="max-width:100%;" /></a>
                                                    </div>
                                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                                        <a href="#x"><img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/c_fill,h_300,w_500/075_Shag_L_shape.jpg" alt="Image" style="max-width:100%;" /></a>
                                                    </div>
                                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                                        <a href="#x"><img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/c_fill,h_300,w_500/075_Shag_L_shape.jpg" alt="Image" style="max-width:100%;" /></a>
                                                    </div>
                                                </div><!--/row-->
                                            </div><!--/item-->

                                            <div class="item">
                                                <div class="row">
                                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                                        <a href="#x"><img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/c_fill,h_300,w_500/075_Shag_L_shape.jpg" alt="Image" style="max-width:100%;" /></a>
                                                    </div>
                                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                                        <a href="#x"><img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/c_fill,h_300,w_500/075_Shag_L_shape.jpg" alt="Image" style="max-width:100%;" /></a>
                                                    </div>
                                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                                        <a href="#x"><img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/c_fill,h_300,w_500/075_Shag_L_shape.jpg" alt="Image" style="max-width:100%;" /></a>
                                                    </div>
                                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                                        <a href="#x"><img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/c_fill,h_300,w_500/075_Shag_L_shape.jpg" alt="Image" style="max-width:100%;" /></a>
                                                    </div>
                                                </div><!--/row-->
                                            </div><!--/item-->

                                            <div class="item">
                                                <div class="row">
                                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                                        <a href="#x"><img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/c_fill,h_300,w_500/075_Shag_L_shape.jpg" alt="Image" style="max-width:100%;" /></a>
                                                    </div>
                                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                                        <a href="#x"><img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/c_fill,h_300,w_500/075_Shag_L_shape.jpg" alt="Image" style="max-width:100%;" /></a>
                                                    </div>
                                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                                        <a href="#x"><img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/c_fill,h_300,w_500/075_Shag_L_shape.jpg" alt="Image" style="max-width:100%;" /></a>
                                                    </div>
                                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                                        <a href="#x"><img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/c_fill,h_300,w_500/075_Shag_L_shape.jpg" alt="Image" style="max-width:100%;" /></a>
                                                    </div>
                                                </div><!--/row-->
                                            </div><!--/item-->

                                        </div><!--/carousel-inner-->

                                        <a class="left carousel-control" href="#relatedCarousel" data-slide="prev">‹</a>
                                        <a class="right carousel-control" href="#relatedCarousel" data-slide="next">›</a>
                                    </div><!--/relatedCarousel-->

                                </div><!--/well-->
                            </div>
                            <!--<div role="tabpanel" class="tab-pane active" id="related-collection">

                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Related Images -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="card warranty-card">
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#warranty" aria-controls="related-image" role="tab" data-toggle="tab"> Warranty </a>
                            </li>
                            <li role="presentation">
                                <a href="#delivery" aria-controls="related-collection" role="tab" data-toggle="tab">  Delivery </a>
                            </li>
                            <li role="presentation">
                                <a href="#payments" aria-controls="related-collection" role="tab" data-toggle="tab">  Payments </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="warranty">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <h5>5 Year Warranty Plan</h5>
                                        <p>
                                            We assure that mygubbi products are high quality, hand-crafted items designed
                                            with superior and standardized raw materials. We follow certain quality protocols
                                            at mygubbi to ensure fully authentic, sustainable and reliable materials. From materials,
                                            design process to packaging, we uphold quality and solidity at every step.
                                        </p>
                                        <p>
                                            All mygubbi products come with a 5 year Warranty against any manufacturing defects.
                                            With ‘mygubbi 5 year Warranty Plan’, you are insured right from day of installation.
                                            There are no hidden charges or fee for any service delivered.
                                        </p>
                                        <h5> Duration </h5>
                                        <p>
                                            Product warranty plan is valid for a period of 5 years from the day of installation.
                                            However, products from diverse categories are covered under different sections.
                                            Please refer to the product details to see the warranty conditions and description for every product.
                                        </p>
                                        <h5> Terms & Conditions </h5>
                                        <p>
                                            Claims will be examined to determine warranty coverage of all items purchased from mygubbi.
                                            The original purchase receipt must be presented as the proof of purchase. Any claim without original purchase receipt will be considered null.
                                            Upon approval of warranty claim, the product will be repaired or replaced with the same or comparable product with a value not higher than the price of the original product purchased. The customer can’t demand for a higher or different category of product.
                                            In the event that repair work has been done by a third party to the product without any authorization from mygubbi, the product's warranty coverage is automatically void.
                                            Warranty terms and conditions are fixed, non-negotiable, non-transferable and only benefits the original purchasers of the product.
                                        </p>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <h5> Conditions of Non Applicability: </h5>
                                        <p>
                                            There are certain benchmarks for availing mygubbi Warranty Plan. The customer may refer to the following checklist to ensure that his/her claim for the plan is valid or not.
                                        </p>
                                        <h5> The Warranty plan is applicable to: </h5>
                                        <ul class="horizontal-list">
                                            <li>Fabric Failure</li>
                                            <li>Failure of Mechanism</li>
                                            <li>Cracking of finish</li>
                                            <li>Peeling of Finish</li>
                                            <li>Stitching undone</li>
                                            <li>Defect in Construction</li>
                                        </ul>
                                        <h5> The Warranty plan isn’t applicable to: </h5>
                                        <ul class="horizontal-list">
                                            <li>Fabric Failure</li>
                                            <li>Failure of Mechanism</li>
                                            <li>Cracking of finish</li>
                                            <li>Peeling of Finish</li>
                                            <li>Stitching undone</li>
                                            <li>Defect in Construction</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="delivery">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <h5>45 DAYS DELIVERY GUARANTEE</h5>
                                        <p> For all confirmed orders to be delivered via standard delivery option, the estimated delivery time is 45 days from the date of design finalization or order confirmation date whichever is later.</p>
                                        <p> While we ensure that you receive your orders within the delivery time indicated in our shipping policies, unforeseen and uncontrollable events may cause the delay of your delivery. We will contact you in the event of any disruption. </p>
                                        <p> Highly trained members of our team will assemble and install all furniture, interior fittings purchased from mygubbi.com This is to ensure the best quality of service you deserve for placing your trust in mygubbi to join you in this celebration of your home. </p>
                                        <p> We will safely assemble and deliver the products at your doorstep. If you want installation then we will do that right in front of you. Moreover, we don’t charge for installation of any product. Our experts will ensure that your home is refurbished safely and aesthetically </p>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="payments">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <h5> HOW TO DO PAYMENTS? </h5>
                                        <p> For the standard designs, we expect 50% in advance to procure and start the manufacturing process. The remaining 50% will be expected once items are completely manufactured in our warehouse. </p>
                                        <p> For customized interior orders we follow a 10-40-50 payment policy. We expect 10% of approximate initial budgeted estimate as advance which will subsequently be adjusted against the total cost of the project if you go ahead with our design and execution. The next 40% will be expected on finalization of the design and the last 50% will be paid once material is ready for shipment. </p>
                                        <p> All prices are exclusive of VAT/service tax. You can always reap in the benefits of easy EMI options via Bajaj Finserv. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Terms Images -->
    </div>
</section>

<script>
    var items = $('.carousels .items');

    var wHeight = $(window).height();
    var nHeight = (wHeight/2);

    items.eq(0).addClass('active');
    items.height(nHeight);
    items.addClass('full-screen');

    var apitems = $('.appliance-carousels .items');

    apitems.eq(0).addClass('active');
    apitems.height(nHeight);
    apitems.addClass('full-screen');

    $('.carousels img').each(function() {
      var $src = $(this).attr('src');
      var $color = $(this).attr('data-color');
      $(this).parent().css({
        'background-image' : 'url(' + $src + ')',
        'background-color' : $color
      });
      $(this).remove();
    });

    $('.appliance-carousels img').each(function() {
      var $src = $(this).attr('src');
      var $color = $(this).attr('data-color');
      $(this).parent().css({
        'background-image' : 'url(' + $src + ')',
        'background-color' : $color
      });
      $(this).remove();
    });



    $(document).ready(function() {
        $('#relatedCarousel').carousel({
            interval: 10000
        });

        $('.carousels').carousel({
          interval: 6000,
          pause: "false"
        });

        $('.appliance-carousels').carousel({
          interval: 6000,
          pause: "false"
        });
    });



</script>