<section class="margin-top70 bg-light-gray">

    <div class="container-fluid bg-white">
        <div class="container">

            <div class="row padding20-0">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-7">
                    <div class="design-count margin0"><%= collection.length %> Designs Found</div>
                </div>

                <div class="col-lg-6 col-md-6 hidden-xs hidden-sm">
                    <div id="filtered-list" class="padding8">
                        <% if(typeof(filter.selectedSubCategoriesName) !== 'undefined'){ %>
                            <% _.each(filter.selectedSubCategoriesName, function(subcatname){ %>
                            <span class="font-size14 tag-card">
                                <span class="padding-right10"><%= subcatname %></span>
                                <span
                                        class="pe-7s-close font-size25 tag-card-close"
                                        onclick="removeSubcategories('<%= subcatname %>')">
                                </span >
                            </span>
                            <% }); %>
                        <% } %>

                        <% if((typeof(filter.minPrice) !== 'undefined' && typeof(filter.maxPrice) !== 'undefined') && ((filter.maxPrice !=  filter.maxPriceLimit) && (filter.minPrice != filter.minPriceLimit))){ %>
                            <span class="tag-card"><%= '&#8377;'+filter.minPrice+' - '+ filter.maxPrice %><a href="javascript:void(0);" onclick="removePrice()">X</a></span>
                        <% } %>

                        <span class="tag-card color-orange" onclick="showFiltersection();">More</span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-5 align-right">
                    <span class="button-filter" onclick="showFiltersection();">Filter&nbsp;<span class="fa fa-chevron-down"></span></span>
                    <span class="glyphicon glyphicon-th-list view-select border-right0"></span><%
                    %><span class="glyphicon glyphicon-th-large view-select border-right0 active"></span><%
                    %><span class="glyphicon glyphicon-th view-select"></span>
                </div>
            </div>

            <div class="row filter-section" id="filter-section">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            Sub-Categories
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <% if(typeof(subcategoriesList) !== 'undefined'){ var count = 0; %>
                                <% _.each(subcategoriesList, function(subcat){ %>
                                    <% if(count == 0) { %>
                                        <div class="row margin-bottom15">
                                    <% } %>
                                        <span
                                            class="subcategorycls tag-card
                                            <% if(typeof(filter.selectedSubCategoriesName) !== 'undefined'){ %>
                                            <% _.each(filter.selectedSubCategoriesName, function(subcatname){ %>
                                            <% if(subcat.name == subcatname){ %> noclick <% } %>
                                            <% }); %>
                                            <% } %>"
                                            id="<%= subcat.id %>"
                                            title="<%= subcat.name %>"
                                            onclick="getsubcategoryId(this.id,this.title)"><%= subcat.name %>
                                        </span>
                                    <% count ++; if(count == 3) { %></div><% count = 0; } %>
                                <% }); %>
                            <% } %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            Price Range
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <span class="tag-card">Standard</span>
                            <span class="tag-card">Premium</span>
                            <span class="tag-card">Luxury</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="row font-size12">
                        Sort By:
                        <span class="sort-list"><a href="javascript:void(0);" id="popularity" rel="desc" onclick="setSorting(this.id,this.rel);">Popular</a></span>
                        <span class="sort-list"><a href="javascript:void(0);" id="relevance" rel="desc" onclick="setSorting(this.id,this.rel);">Relevance</a></span>
                                <span class="sort-list">
                                    <a href="javascript:void(0);" id="defaultPrice" rel="<%= filter.sortDir %>" onclick="setSorting(this.id,this.rel);">
                                    Price
                                    <% if (filter.sortDir === 'desc') { %>
                                    <span class="fa fa-sort-amount-desc fa-md"></span>
                                    <% } else if (filter.sortDir === 'asc') { %>
                                    <span class="fa fa-sort-amount-asc fa-md"></span>
                                    <% } %>
                                    </a>
                                </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
                <!--<div class="row">-->
                    <!--<div class="fname col-md-2"></div>-->
                    <!--<div id="subcategory" class="filter-list col-md-10">-->
                      <!--<div class="btn-group">-->
                          <!--<% if(typeof(subcategoriesList) !== 'undefined'){ %>-->
                          <!--<% _.each(subcategoriesList, function(subcat){ %>-->

                                  <!--<span-->
                                          <!--class="subcategorycls font-size14 tag-card-->
                                         <!--<% if(typeof(filter.selectedSubCategoriesName) !== 'undefined'){ %>-->
                              <!--<% _.each(filter.selectedSubCategoriesName, function(subcatname){ %>-->
                                          <!--<% if(subcat.name == subcatname){ %> noclick <% } %>-->
                                          <!--<% }); %>-->
                              <!--<% } %>"-->
                                          <!--id="<%= subcat.id %>"-->
                                          <!--title="<%= subcat.name %>"-->
                                          <!--onclick="getsubcategoryId(this.id,this.title)"><%= subcat.name %>-->
                                  <!--</span>-->

                          <!--<% }); %>-->
                          <!--<% } %>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row filter-group">-->
                        <!--<div class="fname col-md-2">Price</div>-->
                        <!--<div class="filter-list col-md-10">-->
                            <!--<div class="btn-group">-->

                                <!--<p>-->
                                    <!--<input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">-->
                                <!--</p>-->
                                <!--<div id="slider-range"></div>-->


    <div class="container-fluid bg-light-gray">
        <div class="container margin-top40">
            <div class="listing"></div>
        </div>
    </div>

    <a href="#" class="back-to-top">
        <span class="fa fa-chevron-up"></span>
    </a>

</section>

<script>
    $(document).ready(function(){

        var flg = filter.get('filterflag');
        if(flg == 1){
            $('#filter-section').show();
            $('#filtered-list').hide();
        }

        var offset = 100;
        var duration = 500;
        $(window).scroll(function() {
            if ($(this).scrollTop() > offset) {
                $('.back-to-top').fadeIn(duration);
            } else {
                $('.back-to-top').fadeOut(duration);
            }
        });

        $('.back-to-top').click(function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop: 0}, duration);
            return false;
        });

        $('.portfolio-link').hover(function(){
            var over = $(this).find('.image-meta');
            var h = $(this).find('h2');
            var txt = $(this).find('.image-text');
            over.fadeIn('slow');
            h.animate({bottom: '10%'});
            txt.animate({bottom: '20%'});
        }, function(){
            $('.image-meta').fadeOut('fast');
            $('h2').css('bottom','0');
            $('.image-text').css('bottom','0');
        });

        $("#wish").click(function() {
            if($(this).hasClass('glyphicon-heart')){
                $(this).removeClass('glyphicon-heart').addClass('glyphicon-heart-empty');
                $('.super-script').hide();
            }else{
                $(this).removeClass('glyphicon-heart-empty').addClass('glyphicon-heart');
                $('.super-script').show();
            }
        });


        $('.glyphicon-th').click(function() {
            $(this).addClass('active');
            $('.glyphicon-th-large').removeClass('active');
            $('.glyphicon-th-list').removeClass('active');
            $('.glyphicon-th-full').removeClass('active');
            $('.grid-view').css ('display','block');
            $('.list-view').css('display','none');
            $('h2').css('font-size','20px');
            $('.img-titl').css('font-size','15px');
            $('.portfolio-item').removeClass('col-md-6').addClass('col-md-4');
            $('.image-meta').css({'padding-top':'14%', 'padding-right':'5%', 'padding-bottom':'5%;'});
        });

        $('.glyphicon-th-large').click(function() {
            $(this).addClass('active');
            $('.glyphicon-th').removeClass('active');
            $('.glyphicon-th-list').removeClass('active');
            $('.glyphicon-th-full').removeClass('active');
            $('.grid-view').css ('display','block');
            $('.list-view').css('display','none');
            $('h2').css('font-size','30px');
            $('.portfolio-item').removeClass('col-md-4').addClass('col-md-6');
            $('.image-meta').css({'padding-top':'18%', 'padding-right':'5%', 'padding-bottom':'5%;'});
        });

        $('.glyphicon-th-list').click(function() {
            $(this).addClass('active');
            $('.glyphicon-th-large').removeClass('active');
            $('.glyphicon-th').removeClass('active');
            $('.glyphicon-th-full').removeClass('active');
            $('.grid-view').css ('display','none');
            $('.list-view').css('display','block');
            $('.col-7-img').removeClass('col-md-12').addClass('col-md-7');
            $('.col-5-txt').removeClass('col-md-12').addClass('col-md-5');
            $('h2').css('font-size','25px');
            $('.col-5-txt').css('padding-top','0px');
            $('.dimsn').css('display','block');
        });

        $('.glyphicon-th-full').click(function() {
            $(this).addClass('active');
            $('.glyphicon-th-large').removeClass('active');
            $('.glyphicon-th').removeClass('active');
            $('.glyphicon-th-list').removeClass('active');
            $('.grid-view').css ('display','none');
            $('.list-view').css('display','block');
            $('.col-7-img').removeClass('col-md-7').addClass('col-md-12');
            $('.col-5-txt').removeClass('col-md-5').addClass('col-md-12');
            $('h2').css('font-size','25px');
            $('.col-5-txt').css('padding-top','20px');
            $('.dimsn').css('display','none');

        });
    });
    /* Subcategory filter */

    var subcatNameArr = new Array();
    function getsubcategoryId(id,title){
        var subcatArr = filter.get('subcategoryIds');
        var subcatNameArr = filter.get('selectedSubCategoriesName');
        subcatArr.push(id);
        subcatNameArr.push(title);
        //alert(subcatArr);
        filter.set({'subcategoryIds':subcatArr});
        filter.set({'selectedSubCategoriesName':subcatNameArr});
        filter.trigger('change');
    }

    function removeSubcategories(subcatnm){
        var subcatnmArr = filter.get('selectedSubCategoriesName');
        var subcatIdArr = filter.get('subcategoryIds');

        var index = subcatnmArr.indexOf(subcatnm);

        if(index > -1){
            subcatIdArr.splice(index,1);
            subcatnmArr.splice(index,1);
            //alert(subcatIdArr+' ------ '+subcatnmArr);
            filter.set({'subcategoryIds':subcatIdArr});
            filter.set({'selectedSubCategoriesName':subcatnmArr});
            filter.trigger('change');
        }
    }

    function setSorting(sortBy,sortDir){
        //alert(sortBy+" ========== "+sortDir);
        if(sortBy && sortDir){
            if(sortBy == 'defaultPrice'){
                if(sortDir == 'desc'){
                    sortDir = 'asc';
                }else{
                    sortDir = 'desc';
                }
            }
            filter.set({'sortDir':sortDir});
            filter.set({'sortBy':sortBy});
            filter.trigger('change');
        }
    }
</script>
<script>
    $(function() {
    //alert(filter.get('minPrice')+" ======== "+filter.get('maxPrice'));
    if(filter.get('minPrice') || filter.get('maxPrice')){
        var mnprc = filter.get('minPrice');
        var mxprc = filter.get('maxPrice');
    }else{
        var mnprc = filter.get('minPriceLimit');
        var mxprc = filter.get('maxPriceLimit');
    }

     $( "#slider-range" ).slider({
      range: true,
      min: filter.get('minPriceLimit'),
      max: filter.get('maxPriceLimit'),
      values: [ mnprc, mxprc ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "Rs" + ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      }
    });

    $( "#amount" ).val( "Rs" + $( "#slider-range" ).slider( "values", 0 ) +
     " - Rs" + $( "#slider-range" ).slider( "values", 1 ) );

     $( "#slider-range" ).mouseleave(function() {
            //alert($( "#slider-range" ).slider( "values", 0 ) + '-----------' + $( "#slider-range" ).slider( "values", 1 ));

            filter.set('minPrice',$( "#slider-range" ).slider( "values", 0 ));
            filter.set('maxPrice',$( "#slider-range" ).slider( "values", 1 ));
     });
  });
  function removePrice(){
    filter.set('minPrice',filter.get('minPriceLimit'));
    filter.set('maxPrice',filter.get('maxPriceLimit'));
  }
  function showFiltersection(){
    $('#filter-section').slideToggle();
    $('#filtered-list').toggle();
  }
  </script>

<!--Facebook share code-->

<!--<div id="fb-root"></div>-->
<!--<script>(function(d, s, id) {-->
  <!--var js, fjs = d.getElementsByTagName(s)[0];-->
  <!--if (d.getElementById(id)) return;-->
  <!--js = d.createElement(s); js.id = id;-->
  <!--js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1393442277626447";-->
  <!--fjs.parentNode.insertBefore(js, fjs);-->
<!--}(document, 'script', 'facebook-jssdk'));</script>-->