<section class="menu-spacer bg-light-gray" xmlns="http://www.w3.org/1999/html">

    <div class="container-fluid category-banner">
        <% if(typeof(filter.selectedCategoryName) !== 'undefined' && filter.selectedCategoryName != null){ %>
            <% if(filter.selectedCategoryName == 'kitchen'){ %>
                <img src="/img/category/KitchenFinal1.jpg" class="img-responsive" alt="Kitchen">
            <% }else if(filter.selectedCategoryName == 'bedroom'){ %>
                <img src="/img/category/BedroomFinal.jpg" class="img-responsive" alt="Bedroom">
            <% }else if(filter.selectedCategoryName == 'living & dining'){ %>
                <img src="/img/category/LivingRoomFinal.jpg" class="img-responsive" alt="Living & Dining">
            <% } %>
        <% }else{ %>
            <img src="/img/category/KitchenFinal1.jpg" class="img-responsive" alt="Kitchen">
        <% } %>
    </div>
    <div class="container-fluid bg-white hidden-xs">
        <div class="container">
            <div class="row">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home"></i></a></li>
                        <% if(typeof(filter.selectedCategoryName) !== 'undefined' && filter.selectedCategoryName != null){ %>
                        <li><a href="/products/<%= filter.selectedCategoryName %>"><%= filter.selectedCategoryName %></a></li>
                        <% } %>
                        <% if(typeof(filter.selectedSubCategoryName) !== 'undefined' && filter.selectedSubCategoryName != null){ %>
                        <li class="active">
                            <a href="javascript:void(0);"><span class="li-txt-wrap"><%= filter.selectedSubCategoryName %></span></a></li>
                        <% } %>
                    </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-color-white" id="filter-desc-container">
        <div class="container">
            <div class="row padding20-0 filter-desc-col position-relative" id="filter-desc">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-8">
                    <div class="design-count margin0"><%= collection.length %> Products Found</div>
                </div>

                <div class="col-lg-9 col-md-9 hidden-sm hidden-xs">
                    <div id="filtered-list" class="padding8">
                        <% var flag = 0; %>
                        <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ var count = 0; %>
                        <% _.each(filter.selectedFiltersName, function(filtername){ %>
                        <% if (count < 4){ %>
                            <span class="font-size14 tag-card">
                                <span class="padding-right10"><%= filtername %></span>
                                <span
                                        class="pe-7s-close font-size25 tag-card-close"
                                        onclick="removeFilters('<%= filtername %>')">
                                </span >
                            </span>
                        <% count = count + 1; }else { flag = 1; } }); %>
                        <% } %>

                        <!--<% if((typeof(filter.minPrice) !== 'undefined' && typeof(filter.maxPrice) !== 'undefined') && ((filter.maxPrice !=  filter.maxPriceLimit) && (filter.minPrice != filter.minPriceLimit))){ %>-->
                        <!--<span class="tag-card"><%= '&#8377;'+filter.minPrice+' - '+ filter.maxPrice %><a href="javascript:void(0);" onclick="removePrice()">X</a></span>-->
                        <!--<% } %>-->
                        <% if (filter.selectedFiltersName != '' && filter.filterIds != '') {%>
                        <% if(flag == 1){ %>
                         <span
                                 class="tag-card"
                                 id="filter-ellipses"
                                 data-toggle="tooltip"
                                 data-placement="bottom"
                                 title="More Filters Applied"
                                 >...</span>
                        <% } %>
                        <span class="tag-card color-orange margin0" id="clear_all" onclick="removeAllFilters()">Clear All</span>
                        <% } %>
                    </div>
                </div>

                <div class="hidden-lg hidden-md col-sm-4 col-xs-4">
                    <span class="button filter-button">Filter</span>
                </div>

                <div class="hidden-lg hidden-md col-sm-2 hidden-xs">
                    <div class="row slight-up">
                        <span class="glyphicon glyphicon-th-list view-select border-right0"></span><%
                        %><span class="glyphicon glyphicon-th-large view-select active"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid portfolio-box bg-white hidden-sm hidden-xs" id="filter-choose-container">
        <div class="container">

            <div class="row padding10-0" id="filter-choose">
                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
                    <h4>Filters:</h4>
                </div>
                <div class="col-lg-8 col-md-8 hidden-sm hidden-xs">
                    <ul class="filters">

                        <% if(typeof(subcategoriesList) !== 'undefined'){ %>
                        <li class="padding0-20">
                            <a
                                    class="dropdown-toggle"
                                    id="dropdownMenu_subcat"
                                    data-toggle="dropdown">
                                Sub Category
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu drop left-none" aria-labelledby="dropdownMenu">
                                <% _.each(subcategoriesList, function(subcat){ %>

                                <li class="subcategorycls
                                <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                                <% _.each(filter.selectedFiltersName, function(filtername){ %>
                                <% if(subcat.name == filtername){ %> noclick <% } %>
                                <% }); %>
                                <% } %>"
                                id="<%= subcat.id + 's_c' %>"
                                title="<%= subcat.name %>"
                                onclick="getSubcatId(this.id,this.title)">
                                    <a>
                                        <input
                                            type="checkbox"
                                            class="margin-right-5"
                                            name="subcat"
                                            <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                                            <% _.each(filter.selectedFiltersName, function(filtername){ %>
                                            <% if(subcat.name == filtername){ %> checked <% } %>
                                            <% }); %>
                                            <% } %>>
                                        <%= subcat.name %>
                                    </a>
                                </li>
                                <% }); %>
                            </ul>
                        </li>
                        <% } %>

                        <% if(typeof(filterMaster.price_ranges) !== 'undefined'){ %>
                        <li class="padding0-20">
                            <a
                                    class="dropdown-toggle"
                                    id="dropdownMenu_pricerange"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="true">
                                Price Range
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu drop left-none" aria-labelledby="dropdownMenu">
                                <% _.each(filterMaster.price_ranges, function(range){ %>
                                <li class="
                                <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                                <% _.each(filter.selectedFiltersName, function(filtername){ %>
                                <% if(range.name == filtername){ %> noclick <% } %>
                                <% }); %>
                                <% } %>"
                                id="<%= range.id + 'p_r' %>"
                                title="<%= range.name %>"
                                onclick="getPriceRangeId(this.id,this.title)">
                                    <a>
                                        <input
                                                type="checkbox"
                                                class="margin-right-5"
                                                name="price_range"
                                        <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                                        <% _.each(filter.selectedFiltersName, function(filtername){ %>
                                        <% if(range.name == filtername){ %> checked <% } %>
                                        <% }); %>
                                        <% } %>>
                                        <%= range.name %>
                                    </a>
                                </li>
                                <% }); %>
                            </ul>
                        </li>
                        <% } %>

                        <% if(typeof(filterMaster.styles) !== 'undefined'){ %>
                        <li class="padding0-20">
                            <a
                                    class="dropdown-toggle"
                                    id="dropdownMenu_style"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="true">
                                Style
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu drop left-none" aria-labelledby="dropdownMenu">
                                <% _.each(filterMaster.styles, function(style){ %>
                                <li class="
                                <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                                <% _.each(filter.selectedFiltersName, function(filtername){ %>
                                <% if(style.name == filtername){ %> noclick <% } %>
                                <% }); %>
                                <% } %>"
                                id="<%= style.id + 'sty' %>"
                                title="<%= style.name %>"
                                onclick="getStyleId(this.id,this.title)">
                                    <a>
                                        <input
                                                type="checkbox"
                                                class="margin-right-5"
                                                name="style"
                                        <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                                        <% _.each(filter.selectedFiltersName, function(filtername){ %>
                                        <% if(style.name == filtername){ %> checked <% } %>
                                        <% }); %>
                                        <% } %>>
                                        <%= style.name %>
                                    </a>
                                </li>
                                <% }); %>
                            </ul>
                        </li>
                        <% } %>

                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 hidden-sm hidden-xs align-right">

                    <span>
                        <a
                                class="dropdown-toggle color-333 sortby"
                                id="dropdownMenu_sort"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="true">
                            Sort By
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu drop left-none" aria-labelledby="dropdownMenu">
                            <li class="sort-list"><a href="javascript:void(0);" id="popularity" rel="desc" onclick="setSorting(this.id,this.rel);">Popular</a></li>
                            <li class="sort-list"><a href="javascript:void(0);" id="relevance" rel="desc" onclick="setSorting(this.id,this.rel);">Relevance</a></li>
                                <li class="sort-list">
                                    <a href="javascript:void(0);" id="defaultPrice" rel="<%= filter.sortDir %>" onclick="setSorting(this.id,this.rel);">
                                        Price
                                        <% if (filter.sortDir === 'desc') { %>
                                        <span class="pe-7s-angle-down sort-arrow"></span>
                                        <% } else if (filter.sortDir === 'asc') { %>
                                        <span class="pe-7s-angle-up sort-arrow"></span>
                                        <% } %>
                                    </a>
                                </li>
                        </ul>
                    </span>
                    <span class="glyphicon glyphicon-th-list view-select border-right0"></span><%
                    %><span class="glyphicon glyphicon-th-large view-select border-right0 active"></span><%
                    %><span class="glyphicon glyphicon-th view-select"></span>
                </div>
            </div>

        </div>
    </div>

    <!--<div class="row filter-group">-->
    <!--<div class="fname col-md-2">Price</div>-->
    <!--<div class="filter-list col-md-10">-->
    <!--<div class="btn-group">-->

    <!--<p>-->
    <!--<input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">-->
    <!--</p>-->
    <!--<div id="slider-range"></div>-->


    <div class="container-fluid bg-color-white">
        <div class="container margin-top40">
            <div class="listing"></div>
        </div>
    </div>

    <a href="#" class="back-to-top">
        <span class="fa fa-chevron-up"></span>
    </a>

    <!-- Filter Menu Popup -->
    <div class="filterpop hidden-lg hidden-md">
        <div class="row margin0">
            <h4>Filters</h4>
            <span class="button border1px position-absolute right10per" onclick="removeAllFilters()">Clear All</span>
        </div>

        <div class="row margin0 padding20-0">
            <div class="col-sm-4 col-xs-4 separator-vertical">
                <div class="row padding10_0_30 active" id="subcatFilter">
                    <% if(typeof(subcategoriesList) !== 'undefined'){ %> Sub Category <% } %>
                </div>
                <div class="row padding10_0_30" id="priceFilter">
                    <% if(typeof(filterMaster.price_ranges) !== 'undefined'){ %> Price Range <% } %>
                </div>
                <div class="row padding10_0_30" id="styleFilter">
                    <% if(typeof(filterMaster.styles) !== 'undefined'){ %> Style <% } %>
                </div>
            </div>
            <div class="col-sm-8 col-xs-8 padding-left25">
                <div id="subcatFilterDesc">
                    <% _.each(subcategoriesList, function(subcat){ %>

                    <div class="row subcategorycls separator-horizontal
                                <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                                <% _.each(filter.selectedFiltersName, function(filtername){ %>
                                <% if(subcat.name == filtername){ %> noclick <% } %>
                                <% }); %>
                                <% } %>"
                        id="<%= subcat.id + 's_c' + 'fil' %>"
                        title="<%= subcat.name %>"
                         onclick="getFil(this.id)">
                        <label>
                            <input
                                    type="checkbox"
                                    class="margin-right-5"
                                    name="subcat"
                                    value="<%= subcat.name %>"
                            <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                            <% _.each(filter.selectedFiltersName, function(filtername){ %>
                            <% if(subcat.name == filtername){ %> checked <% } %>
                            <% }); %>
                            <% } %>>
                            <%= subcat.name %>
                        </label>
                    </div>
                    <% }); %>
                </div>

                <div id="priceFilterDesc">
                    <% _.each(filterMaster.price_ranges, function(range){ %>
                    <div class="row separator-horizontal
                                <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                                <% _.each(filter.selectedFiltersName, function(filtername){ %>
                                <% if(range.name == filtername){ %> noclick <% } %>
                                <% }); %>
                                <% } %>"
                        id="<%= range.id + 'p_r' + 'fil' %>"
                        title="<%= range.name %>"
                        onclick="getFil(this.id)">
                        <label>
                            <input
                                    type="checkbox"
                                    class="margin-right-5"
                                    name="price_range"
                                    value="<%= range.name %>"
                            <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                            <% _.each(filter.selectedFiltersName, function(filtername){ %>
                            <% if(range.name == filtername){ %> checked <% } %>
                            <% }); %>
                            <% } %>>
                            <%= range.name %>
                        </label>
                    </div>
                    <% }); %>
                </div>
                <div id="styleFilterDesc">
                    <% _.each(filterMaster.styles, function(style){ %>
                    <div class="row separator-horizontal
                                <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                                <% _.each(filter.selectedFiltersName, function(filtername){ %>
                                <% if(style.name == filtername){ %> noclick <% } %>
                                <% }); %>
                                <% } %>"
                        id="<%= style.id + 'sty' +'fil' %>"
                        title="<%= style.name %>"
                        onclick="getFil(this.id)">
                        <label>
                            <input
                                    type="checkbox"
                                    class="margin-right-5"
                                    name="style"
                                    value="<%= style.name %>"
                            <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                            <% _.each(filter.selectedFiltersName, function(filtername){ %>
                            <% if(style.name == filtername){ %> checked <% } %>
                            <% }); %>
                            <% } %>>
                            <%= style.name %>
                        </label>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>

        <div class="row align-center padding10-0">
            <span class="button border1px" onclick="applyFilters()">Apply</span>
        </div>

        <div class="row margin0">
            <h5>Filters Applied :</h5>
        </div>

        <div class="row margin0">
            <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
            <% _.each(filter.selectedFiltersName, function(filtername){ %>

                <div class="font-size14 tag-card">
                    <span class="padding-right20"><%= filtername %></span>
                    <span
                            class="pe-7s-close font-size25 tag-card-close"
                            onclick="removeFilters('<%= filtername %>')">
                    </span >
                </div>
            <% }); %>
            <% } %>
        </div>

        <div class="close-icon2per" onclick="closePop()">
            <img src="/img/close-white.png" title="Close" alt="Close">
        </div>

    </div>
    <!-- Filter Menu Popup End -->

</section>



<script>
    $(document).ready(function(){

        var offset = 200;
        var duration = 500;
        $(window).scroll(function() {
            if ($(this).scrollTop() > offset) {
                $('.back-to-top').fadeIn(duration);
                $('#filter-desc-container').addClass('stick').css({'top' : '70px'});
                $('#filter-desc').css({'padding' : '10px 0px'});
                $('.filter-desc-col').addClass('stick-tag');
                $('#filter-choose-container').slideUp();
            } else {
                $('.back-to-top').fadeOut(duration);
                $('#filter-desc-container').removeClass('stick');
                $('#filter-desc').css({'padding' : '20px 0px'});
                $('.filter-desc-col').removeClass('stick-tag');
                $('#filter-choose-container').removeClass('stick').slideDown();
            }

        });


        $('.back-to-top').click(function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop: 0}, duration);
            return false;
        });

        $('#filter-desc-container').on('mouseenter','.stick-tag', function() {
            $('#filter-choose-container').addClass('stick').animate({'top' : '115px'},500);
            $('#filter-choose-container').css('display','block');
        });

        $('#filter-choose-container').hover(function(){
            $(this).css('display','block');
        });

        $("#wish").click(function() {
            if($(this).hasClass('glyphicon-heart')){
                $(this).removeClass('glyphicon-heart').addClass('glyphicon-heart-empty');
                $('.super-script').hide();
            }else{
                $(this).removeClass('glyphicon-heart-empty').addClass('glyphicon-heart');
                $('.super-script').show();
            }
        });

        $('#filtered-list').css({
            'white-space': 'nowrap',
            'overflow': 'hidden'
        });


        $('.filter-button').click(function() {
            $('.filterpop').css('left','0px');
        });

        $('#subcatFilterDesc').css('display','block');
        $('#priceFilterDesc').css('display','none');
        $('#styleFilterDesc').css('display','none');

        $('#subcatFilter').click(function() {
            $('#subcatFilter').addClass('active');
            $('#priceFilter').removeClass('active');
            $('#styleFilter').removeClass('active');
            $('#subcatFilterDesc').css('display','block');
            $('#priceFilterDesc').css('display','none');
            $('#styleFilterDesc').css('display','none');
        });

        $('#priceFilter').click(function() {
            $('#subcatFilter').removeClass('active');
            $('#priceFilter').addClass('active');
            $('#styleFilter').removeClass('active');
            $('#subcatFilterDesc').css('display','none');
            $('#priceFilterDesc').css('display','block');
            $('#styleFilterDesc').css('display','none');
        });

        $('#styleFilter').click(function() {
            $('#subcatFilter').removeClass('active');
            $('#priceFilter').removeClass('active');
            $('#styleFilter').addClass('active');
            $('#subcatFilterDesc').css('display','none');
            $('#priceFilterDesc').css('display','none');
            $('#styleFilterDesc').css('display','block');
        });

        $('.glyphicon-th').click(function() {
            $(this).addClass('active');
            $('.glyphicon-th-large').removeClass('active');
            $('.glyphicon-th-list').removeClass('active');
            $('.glyphicon-th-full').removeClass('active');
            $('.grid-view').css ('display','block');
            $('.list-view').css('display','none');
            $('.list-heart').css('font-size','22px');
            $('.listli').css('padding','0px');
            $('.share-ico-txt').css('width','85px');
            $('.share-ico-txt a').css('padding-left','0px!important');
            $('h4').css('font-size','15px').addClass('product-caption-overflow');
            $('.portfolio-caption').css('height','82px');
            $('.portfolio-item').removeClass('col-md-6').addClass('col-md-4');
        });

        $('.glyphicon-th-large').click(function() {
            $(this).addClass('active');
            $('.glyphicon-th').removeClass('active');
            $('.glyphicon-th-list').removeClass('active');
            $('.glyphicon-th-full').removeClass('active');
            $('.grid-view').css ('display','block');
            $('.list-view').css('display','none');
            $('.listli').css('padding','10px');
            $('h4').css('font-size','20px').removeClass('product-caption-overflow');
            $('.portfolio-item').removeClass('col-md-4').addClass('col-md-6');
        });

        $('.glyphicon-th-list').click(function() {
            $(this).addClass('active');
            $('.glyphicon-th-large').removeClass('active');
            $('.glyphicon-th').removeClass('active');
            $('.glyphicon-th-full').removeClass('active');
            $('.grid-view').css ('display','none');
            $('.list-view').css('display','block');
            $('.col-7-img').removeClass('col-md-12').addClass('col-md-7');
            $('.col-5-txt').removeClass('col-md-12').addClass('col-md-5').css('padding-top','0px');
            $('h2').css('font-size','25px');
            $('h4').css('font-size','20px').removeClass('product-caption-overflow');
            $('.dimsn').css('display','block');
        });

        $('[data-toggle="tooltip"]').tooltip();


    });

    function closePop(){
        $('.filterpop').css('left', '-1000px');
    }

    /* Filter */

    var loop = 1;
    var tempArr = new Array();
    var filterNameArr = new Array();

    function getSubcatId(id,title){

        if($('#' + id).hasClass('noclick')){
            removeFilters(title);
        }else {
            var filterArr = filter.get('filterIds');
            var filterNameArr = filter.get('selectedFiltersName');
            var subcatIdArr = filter.get('subcatIds');
            filterArr.push(id);
            filterNameArr.push(title);

            id = id.substring(0, id.length-3);
            subcatIdArr.push(id);

            filter.set({'filterIds':filterArr});
            filter.set({'selectedFiltersName':filterNameArr});
            filter.set({'subcatIds':subcatIdArr});
            filter.trigger('change');
        }
    }

    function getPriceRangeId(id,title){

        if($('#' + id).hasClass('noclick')){
            removeFilters(title);
        }else {
            var filterArr = filter.get('filterIds');
            var filterNameArr = filter.get('selectedFiltersName');
            var price_rangeArr = filter.get('priceRangeIds');
            filterArr.push(id);
            filterNameArr.push(title);

            id = id.substring(0, id.length-3);
            price_rangeArr.push(id);

            filter.set({'filterIds':filterArr});
            filter.set({'selectedFiltersName':filterNameArr});
            filter.set({'priceRangeIds':price_rangeArr});
            filter.trigger('change');
        }
    }

    function getStyleId(id,title){

        if($('#' + id).hasClass('noclick')){
            removeFilters(title);
        }else {
            var filterArr = filter.get('filterIds');
            var filterNameArr = filter.get('selectedFiltersName');
            var styleArr = filter.get('styleIds');
            filterArr.push(id);
            filterNameArr.push(title);

            id = id.substring(0, id.length-3);
            styleArr.push(id);

            filter.set({'filterIds':filterArr});
            filter.set({'selectedFiltersName':filterNameArr});
            filter.set({'styleIds':styleArr});
            filter.trigger('change');
        }
    }

    function getFil(id){
        var chk = $('#' + id).find('input[type=checkbox]').is(':checked');
        //if(chk == true){
            id = id.substring(0, id.length-3);
            var locate = jQuery.inArray(id,tempArr);
            if(locate == -1){
                tempArr.push(id);
            }else{
                tempArr = jQuery.grep(tempArr, function(value) {
                    return value != id;
                });
            }
       //}
    }

    function applyFilters(){
        $.each(tempArr, function(i, id) {

            var title = $('#' + id).attr('title');
            var substring = id.substring(id.length-3, id.length);
            id = id.substring(0, id.length);

            if(substring == 's_c'){
                getSubcatId(id,title);
            }else if(substring == 'p_r'){
                getPriceRangeId(id,title);
            }else{
                getStyleId(id,title);
            }
        });
    }

    function removeFilters(filtername){
        var filternameArr = filter.get('selectedFiltersName');
        var filterIdArr = filter.get('filterIds');

        var index = filternameArr.indexOf(filtername);

        var removeFilterId = $('[title="' + filtername + '"]').attr('id');
        var removeFilterTitle = $('[title="' + filtername + '"]').attr('title')

        var substring = removeFilterId.substring(removeFilterId.length-3, removeFilterId.length);
        removeFilterId = removeFilterId.substring(0, removeFilterId.length-3);

        if(index > -1){
            filterIdArr.splice(index,1);
            filternameArr.splice(index,1);
            filter.set({'filterIds':filterIdArr});
            filter.set({'selectedFiltersName':filternameArr});

            if((filterIdArr.length == 0) && (filternameArr.length == 0)){
                var subcatIdArr = filter.get('subcatIds');
                subcatIdArr.splice(index,1);
                filter.set({'subcatIds':subcatIdArr});
            }

            if(substring == 's_c'){

                var subcatIdArr = filter.get('subcatIds');
                var subcatIndex = subcatIdArr.indexOf(removeFilterId);
                if(subcatIndex > -1){
                    subcatIdArr.splice(subcatIndex,1);
                }
                filter.set({'subcatIds':subcatIdArr});

            }else if(substring == 'p_r'){

                var price_rangeArr = filter.get('priceRangeIds');
                var price_rangeIndex = price_rangeArr.indexOf(removeFilterId);
                if(price_rangeIndex > -1){
                    price_rangeArr.splice(price_rangeIndex,1);
                }
                filter.set({'priceRangeIds':price_rangeArr});

            }else {

                var styleArr = filter.get('styleIds');
                var styleIndex = styleArr.indexOf(removeFilterId);
                if(styleIndex > -1){
                    styleArr.splice(styleIndex,1);
                }
                filter.set({'styleIds':styleArr});

            }

            filter.trigger('change');
        }
    }

    function removeAllFilters(){
        var filternameArr = filter.get('selectedFiltersName');
        var filterIdArr = filter.get('filterIds');
        var subcatIdArr = filter.get('subcatIds');
        var price_rangeArr = filter.get('priceRangeIds');
        var styleArr = filter.get('styleIds');

        filternameArr.splice(0,filternameArr.length);
        filterIdArr.splice(0,filterIdArr.length);
        subcatIdArr.splice(0,subcatIdArr.length);
        price_rangeArr.splice(0,price_rangeArr.length);
        styleArr.splice(0,styleArr.length);

        filter.set({'filterIds':filterIdArr});
        filter.set({'selectedFiltersName':filternameArr});
        filter.set({'subcatIds':subcatIdArr});
        filter.set({'priceRangeIds':price_rangeArr});
        filter.set({'styleIds':styleArr});

        filter.set({'noFilterApplied':'1'});

        filter.trigger('change');
    }

    function setSorting(sortBy,sortDir){
        //alert(sortBy+" ========== "+sortDir);
        if(sortBy && sortDir){
            if(sortBy == 'defaultPrice'){
                if(sortDir == 'desc'){
                    sortDir = 'asc';
                }else{
                    sortDir = 'desc';
                }
            }
            filter.set({'sortDir':sortDir});
            filter.set({'sortBy':sortBy});
            filter.trigger('change');
        }
    }
</script>
<script>
//    $(function() {
//        //alert(filter.get('minPrice')+" ======== "+filter.get('maxPrice'));
//        if(filter.get('minPrice') || filter.get('maxPrice')){
//            var mnprc = filter.get('minPrice');
//            var mxprc = filter.get('maxPrice');
//        }else{
//            var mnprc = filter.get('minPriceLimit');
//            var mxprc = filter.get('maxPriceLimit');
//        }
//
//        $( "#slider-range" ).slider({
//            range: true,
//            min: filter.get('minPriceLimit'),
//            max: filter.get('maxPriceLimit'),
//            values: [ mnprc, mxprc ],
//            slide: function( event, ui ) {
//                $( "#amount" ).val( "Rs" + ui.values[ 0 ] + " - " + ui.values[ 1 ] );
//            }
//        });
//
//        $( "#amount" ).val( "Rs" + $( "#slider-range" ).slider( "values", 0 ) +
//                " - Rs" + $( "#slider-range" ).slider( "values", 1 ) );
//
//        $( "#slider-range" ).mouseleave(function() {
//            //alert($( "#slider-range" ).slider( "values", 0 ) + '-----------' + $( "#slider-range" ).slider( "values", 1 ));
//
//            filter.set('minPrice',$( "#slider-range" ).slider( "values", 0 ));
//            filter.set('maxPrice',$( "#slider-range" ).slider( "values", 1 ));
//        });
//    });
//    function removePrice(){
//        filter.set('minPrice',filter.get('minPriceLimit'));
//        filter.set('maxPrice',filter.get('maxPriceLimit'));
//    }

</script>

<!--Facebook share code-->

<!--<div id="fb-root"></div>-->
<!--<script>(function(d, s, id) {-->
<!--var js, fjs = d.getElementsByTagName(s)[0];-->
<!--if (d.getElementById(id)) return;-->
<!--js = d.createElement(s); js.id = id;-->
<!--js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1393442277626447";-->
<!--fjs.parentNode.insertBefore(js, fjs);-->
<!--}(document, 'script', 'facebook-jssdk'));</script>-->