<section class="menu-spacer bg-light-gray" xmlns="http://www.w3.org/1999/html">

    <div class="container-fluid category-banner">
        <% if(typeof(filter.selectedCategoryName) !== 'undefined' && filter.selectedCategoryName != null){ %>
        <% if(filter.selectedCategoryName == 'kitchen'){ %>
        <img src="<%= imgBase + 'KitchenFinal1.jpg'%>" class="img-responsive" alt="Kitchen">
        <% }else if(filter.selectedCategoryName == 'bedroom'){ %>
        <img src="<%= imgBase + 'BedroomFinal.jpg'%>" class="img-responsive" alt="Bedroom">
        <% }else if(filter.selectedCategoryName == 'living & dining'){ %>
        <img src="<%= imgBase + 'LivingRoomFinal.jpg'%>" class="img-responsive" alt="Living & Dining">
        <% } %>
        <% }else{ %>
        <img src="<%= imgBase + 'KitchenFinal1.jpg'%>" class="img-responsive" alt="Kitchen">
        <% } %>
    </div>
    <div class="container-fluid bg-white hidden-xs">
        <div class="container">
            <div class="row">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i></a></li>
                    <% if(typeof(filter.searchTerm) !== 'undefined' && filter.searchTerm != null){ %>
                    <li class="active"><a href="javascript:void(0);"><span
                            class="li-txt-wrap"><%= filter.searchTerm %></span></a></li>
                    <% }else{ %>
                    <% if(typeof(filter.selectedCategoryName) !== 'undefined' && filter.selectedCategoryName != null){
                    %>
                    <li><a href="/products/<%= filter.selectedCategoryName %>"><%= filter.selectedCategoryName %></a>
                    </li>
                    <% } %>
                    <% if(typeof(filter.selectedSubCategoryName) !== 'undefined' && filter.selectedSubCategoryName !=
                    null){ %>
                    <li class="active">
                        <a href="javascript:void(0);"><span
                                class="li-txt-wrap"><%= filter.selectedSubCategoryName %></span></a></li>
                    <% } %>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
    <!-- H1 tag heading start -->
    <div class="h1-tag-content container-fluid bg-color-white align-center">
        <h1>
            <% if(typeof(filter.selectedSubCategoryName) !== 'undefined' && filter.selectedSubCategoryName !=
            null){ %>
            <%= filter.selectedSubCategoryName %>
            <% }else if(typeof(filter.selectedCategoryName) !== 'undefined' && filter.selectedCategoryName != null){ %>
            <%= filter.selectedCategoryName %>
            <% } %>
        </h1>
    </div>
    <!-- H1 tag heading end -->
    <div class="container-fluid bg-color-white" id="filter-desc-container">
        <div class="container">
            <div class="row padding20-0 filter-desc-col position-relative" id="filter-desc">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8">
                    <div class="design-count margin0">
                        <%= collection.length %>
                        Products
                        Found
                    </div>
                </div>

                <div class="col-lg-8 col-md-8 hidden-sm hidden-xs">
                    <div id="filtered-list" class="padding8">
                        <% var flag = 0; %>
                        <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ var count = 0; %>
                        <% _.each(filter.selectedFiltersName, function(filtername){ %>
                        <% if (count < 4){ %>
                            <span class="font-size14 tag-card">
                                <span class="padding-right10"><%= filtername %></span>
                                <span
                                        class="pe-7s-close font-size25 tag-card-close"
                                        onclick="removeFilters('<%= filtername %>')">
                                </span>
                            </span>
                        <% count = count + 1; }else { flag = 1; } }); %>
                        <% } %>

                        <!--<% if((typeof(filter.minPrice) !== 'undefined' && typeof(filter.maxPrice) !== 'undefined') && ((filter.maxPrice !=  filter.maxPriceLimit) && (filter.minPrice != filter.minPriceLimit))){ %>-->
                        <!--<span class="tag-card"><%= '&#8377;'+filter.minPrice+' - '+ filter.maxPrice %><a href="javascript:void(0);" onclick="removePrice()">X</a></span>-->
                        <!--<% } %>-->
                        <% if (filter.selectedFiltersName != '' && filter.filterIds != '') {%>
                        <% if(flag == 1){ %>
                         <span
                                 class="tag-card"
                                 id="filter-ellipses"
                                 data-toggle="tooltip"
                                 data-placement="bottom"
                                 title="More Filters Applied"
                                 >...</span>
                        <% } %>
                        <span class="tag-card color-orange margin0" id="clear_all" onclick="removeAllFilters()">Clear All</span>
                        <% } %>
                    </div>
                </div>

                <div class="hidden-lg hidden-md col-sm-4 col-xs-4">
                    <span class="button filter-button">Filter</span>
                </div>

                <div class="hidden-lg hidden-md col-sm-2 hidden-xs">
                    <div class="row slight-up">
                        <span class="glyphicon glyphicon-th-list view-select border-right0
                         <% if(typeof(filter.viewtype) !== 'undefined' && (filter.viewtype == 'largelist')){ %>
                        active
                        <% } %>"
                        ></span><%
                        %><span class="glyphicon glyphicon-th-large view-select
                        <% if(typeof(filter.viewtype) !== 'undefined' && (filter.viewtype == 'largegrid')){ %>
                        active
                        <% } %>"
                        ></span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid portfolio-box bg-white hidden-sm hidden-xs" id="filter-choose-container">
        <div class="container">

            <div class="row padding10-0" id="filter-choose">
                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
                    <h4>Filters:</h4>
                </div>
                <div class="col-lg-8 col-md-8 hidden-sm hidden-xs">
                    <ul class="filters">

                        <% if(typeof(subcategoriesList) !== 'undefined'){ %>
                        <li class="padding0-20">
                            <a
                                    class="dropdown-toggle"
                                    id="dropdownMenu_subcat"
                                    data-toggle="dropdown">
                                Sub Category
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu drop left-none" aria-labelledby="dropdownMenu">
                                <% _.each(subcategoriesList, function(subcat){ %>

                                <li class="subcategorycls
                                <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                                <% _.each(filter.selectedFiltersName, function(filtername){ %>
                                <% if(subcat.name == filtername){ %> noclick <% } %>
                                <% }); %>
                                <% } %>"
                                    id="<%= subcat.id + 's_c' %>"
                                    title="<%= subcat.name %>"
                                    onclick="getSubcatId(this.id,this.title)">
                                    <a>
                                        <input
                                                type="checkbox"
                                                class="margin-right-5"
                                                name="subcat"
                                        <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                                        <% _.each(filter.selectedFiltersName, function(filtername){ %>
                                        <% if(subcat.name == filtername){ %> checked <% } %>
                                        <% }); %>
                                        <% } %>>
                                        <%= subcat.name %>
                                    </a>
                                </li>
                                <% }); %>
                            </ul>
                        </li>
                        <% } %>

                        <% if(typeof(filterMaster.price_ranges) !== 'undefined'){ %>
                        <li class="padding0-20">
                            <a
                                    class="dropdown-toggle"
                                    id="dropdownMenu_pricerange"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="true">
                                Price Range
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu drop left-none" aria-labelledby="dropdownMenu">
                                <% _.each(filterMaster.price_ranges, function(range){ %>
                                <li class="
                                <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                                <% _.each(filter.selectedFiltersName, function(filtername){ %>
                                <% if(range.name == filtername){ %> noclick <% } %>
                                <% }); %>
                                <% } %>"
                                    id="<%= range.id + 'p_r' %>"
                                    title="<%= range.name %>"
                                    onclick="getPriceRangeId(this.id,this.title)">
                                    <a>
                                        <input
                                                type="checkbox"
                                                class="margin-right-5"
                                                name="price_range"
                                        <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                                        <% _.each(filter.selectedFiltersName, function(filtername){ %>
                                        <% if(range.name == filtername){ %> checked <% } %>
                                        <% }); %>
                                        <% } %>>
                                        <%= range.name %>
                                    </a>
                                </li>
                                <% }); %>
                            </ul>
                        </li>
                        <% } %>

                        <% if(typeof(filterMaster.styles) !== 'undefined'){ %>
                        <li class="padding0-20">
                            <a
                                    class="dropdown-toggle"
                                    id="dropdownMenu_style"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="true">
                                Style
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu drop left-none" aria-labelledby="dropdownMenu">
                                <% _.each(filterMaster.styles, function(style){ %>
                                <li class="
                                <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                                <% _.each(filter.selectedFiltersName, function(filtername){ %>
                                <% if(style.name == filtername){ %> noclick <% } %>
                                <% }); %>
                                <% } %>"
                                    id="<%= style.id + 'sty' %>"
                                    title="<%= style.name %>"
                                    onclick="getStyleId(this.id,this.title)">
                                    <a>
                                        <input
                                                type="checkbox"
                                                class="margin-right-5"
                                                name="style"
                                        <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                                        <% _.each(filter.selectedFiltersName, function(filtername){ %>
                                        <% if(style.name == filtername){ %> checked <% } %>
                                        <% }); %>
                                        <% } %>>
                                        <%= style.name %>
                                    </a>
                                </li>
                                <% }); %>
                            </ul>
                        </li>
                        <% } %>

                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 hidden-sm hidden-xs align-right">

                    <span>
                        <a
                                class="dropdown-toggle color-333 sortby"
                                id="dropdownMenu_sort"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="true">
                            Sort By
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu drop left-none" aria-labelledby="dropdownMenu">
                            <li class="sort-list"><a href="javascript:void(0);" id="popularity" rel="desc"
                                                     onclick="setSorting(this.id,this.rel);">Popular</a></li>
                            <li class="sort-list"><a href="javascript:void(0);" id="relevance" rel="desc"
                                                     onclick="setSorting(this.id,this.rel);">Relevance</a></li>
                            <li class="sort-list">
                                <a href="javascript:void(0);" id="defaultPrice" rel="<%= filter.sortDir %>"
                                   onclick="setSorting(this.id,this.rel);">
                                    Price
                                    <% if (filter.sortDir === 'desc') { %>
                                    <span class="pe-7s-angle-down sort-arrow"></span>
                                    <% } else if (filter.sortDir === 'asc') { %>
                                    <span class="pe-7s-angle-up sort-arrow"></span>
                                    <% } %>
                                </a>
                            </li>
                        </ul>
                    </span>
                    <span class="glyphicon glyphicon-th-list view-select border-right0
                        <% if(typeof(filter.viewtype) !== 'undefined' && (filter.viewtype == 'largelist')){ %>
                        active
                        <% } %>"
                    ></span><%
                    %><span class="glyphicon glyphicon-th-large view-select border-right0
                        <% if(typeof(filter.viewtype) !== 'undefined' && (filter.viewtype == 'largegrid')){ %>
                        active
                        <% } %>"
                    ></span><%
                    %><span class="glyphicon glyphicon-th view-select
                        <% if(typeof(filter.viewtype) !== 'undefined' && (filter.viewtype == 'shortgrid')){ %>
                        active
                        <% } %>"
                    ></span>
                </div>
            </div>

        </div>
    </div>

    <!--<div class="row filter-group">-->
    <!--<div class="fname col-md-2">Price</div>-->
    <!--<div class="filter-list col-md-10">-->
    <!--<div class="btn-group">-->

    <!--<p>-->
    <!--<input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">-->
    <!--</p>-->
    <!--<div id="slider-range"></div>-->


    <div class="container-fluid bg-color-white">
        <div class="container margin-top40">
            <div class="listing"></div>
        </div>
    </div>

    <a href="#" class="back-to-top">
        <span class="fa fa-chevron-up"></span>
    </a>

    <!-- Filter Menu Popup -->
    <div class="filterpop hidden-lg hidden-md">
        <div class="row margin0">
            <h4>Filters</h4>
            <span class="button border1px position-absolute right10per" onclick="removeAllFilters()">Clear All</span>
        </div>

        <div class="row margin0 padding20-0">
            <div class="col-sm-4 col-xs-4 separator-vertical">
                <div class="row padding10_0_30 active" id="subcatFilter">
                    <% if(typeof(subcategoriesList) !== 'undefined'){ %> Sub Category <% } %>
                </div>
                <div class="row padding10_0_30" id="priceFilter">
                    <% if(typeof(filterMaster.price_ranges) !== 'undefined'){ %> Price Range <% } %>
                </div>
                <div class="row padding10_0_30" id="styleFilter">
                    <% if(typeof(filterMaster.styles) !== 'undefined'){ %> Style <% } %>
                </div>
            </div>
            <div class="col-sm-8 col-xs-8 padding-left25">
                <div id="subcatFilterDesc">
                    <% _.each(subcategoriesList, function(subcat){ %>

                    <div class="row subcategorycls separator-horizontal
                                <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                                <% _.each(filter.selectedFiltersName, function(filtername){ %>
                                <% if(subcat.name == filtername){ %> noclick <% } %>
                                <% }); %>
                                <% } %>"
                         id="<%= subcat.id + 's_c' + 'fil' %>"
                         title="<%= subcat.name %>"
                         onclick="getFil(this.id)">
                        <label>
                            <input
                                    type="checkbox"
                                    class="margin-right-5"
                                    name="subcat"
                                    value="<%= subcat.name %>"
                            <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                            <% _.each(filter.selectedFiltersName, function(filtername){ %>
                            <% if(subcat.name == filtername){ %> checked <% } %>
                            <% }); %>
                            <% } %>>
                            <%= subcat.name %>
                        </label>
                    </div>
                    <% }); %>
                </div>

                <div id="priceFilterDesc">
                    <% _.each(filterMaster.price_ranges, function(range){ %>
                    <div class="row separator-horizontal
                                <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                                <% _.each(filter.selectedFiltersName, function(filtername){ %>
                                <% if(range.name == filtername){ %> noclick <% } %>
                                <% }); %>
                                <% } %>"
                         id="<%= range.id + 'p_r' + 'fil' %>"
                         title="<%= range.name %>"
                         onclick="getFil(this.id)">
                        <label>
                            <input
                                    type="checkbox"
                                    class="margin-right-5"
                                    name="price_range"
                                    value="<%= range.name %>"
                            <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                            <% _.each(filter.selectedFiltersName, function(filtername){ %>
                            <% if(range.name == filtername){ %> checked <% } %>
                            <% }); %>
                            <% } %>>
                            <%= range.name %>
                        </label>
                    </div>
                    <% }); %>
                </div>
                <div id="styleFilterDesc">
                    <% _.each(filterMaster.styles, function(style){ %>
                    <div class="row separator-horizontal
                                <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                                <% _.each(filter.selectedFiltersName, function(filtername){ %>
                                <% if(style.name == filtername){ %> noclick <% } %>
                                <% }); %>
                                <% } %>"
                         id="<%= style.id + 'sty' +'fil' %>"
                         title="<%= style.name %>"
                         onclick="getFil(this.id)">
                        <label>
                            <input
                                    type="checkbox"
                                    class="margin-right-5"
                                    name="style"
                                    value="<%= style.name %>"
                            <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
                            <% _.each(filter.selectedFiltersName, function(filtername){ %>
                            <% if(style.name == filtername){ %> checked <% } %>
                            <% }); %>
                            <% } %>>
                            <%= style.name %>
                        </label>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>

        <div class="row align-center padding10-0">
            <span class="button border1px" onclick="applyFilters()">Apply</span>
        </div>

        <div class="row margin0">
            <h5>Filters Applied :</h5>
        </div>

        <div class="row margin0">
            <% if(typeof(filter.selectedFiltersName) !== 'undefined'){ %>
            <% _.each(filter.selectedFiltersName, function(filtername){ %>

            <div class="font-size14 tag-card">
                <span class="padding-right20"><%= filtername %></span>
                    <span
                            class="pe-7s-close font-size25 tag-card-close"
                            onclick="removeFilters('<%= filtername %>')">
                    </span>
            </div>
            <% }); %>
            <% } %>
        </div>

        <div class="close-icon2per" onclick="closePop()">
            <img src="<%= imgBase + 'close-white.png'%>" title="Close" alt="Close">
        </div>

    </div>
    <!-- Filter Menu Popup End -->

    <div class="container-fluid bg-color-white">
        <div class="container justify">
            <div class="category-content margin-bottom30 bg-light-gray portfolio-box padding30"></div>
        </div>
    </div>

</section>


<script>
    $(document).ready(function () {

        var offset = 200;
        var duration = 500;
        $(window).scroll(function () {
            if ($(this).scrollTop() > offset) {
                $('.back-to-top').fadeIn(duration);
                $('#filter-desc-container').addClass('stick').css({'top': '70px'});
                $('#filter-desc').css({'padding': '10px 0px'});
                $('.filter-desc-col').addClass('stick-tag');
                $('#filter-choose-container').slideUp();
            } else {
                $('.back-to-top').fadeOut(duration);
                $('#filter-desc-container').removeClass('stick');
                $('#filter-desc').css({'padding': '20px 0px'});
                $('.filter-desc-col').removeClass('stick-tag');
                $('#filter-choose-container').removeClass('stick').slideDown();
            }

        });


        $('.back-to-top').click(function (event) {
            event.preventDefault();
            $('html, body').animate({scrollTop: 0}, duration);
            return false;
        });

        $('#filter-desc-container').on('mouseenter', '.stick-tag', function () {
            $('#filter-choose-container').addClass('stick').animate({'top': '115px'}, 500);
            $('#filter-choose-container').css('display', 'block');
        });

        $('#filter-choose-container').hover(function () {
            $(this).css('display', 'block');
        });

        $("#wish").click(function () {
            if ($(this).hasClass('glyphicon-heart')) {
                $(this).removeClass('glyphicon-heart').addClass('glyphicon-heart-empty');
                $('.super-script').hide();
            } else {
                $(this).removeClass('glyphicon-heart-empty').addClass('glyphicon-heart');
                $('.super-script').show();
            }
        });

        $('#filtered-list').css({
            'white-space': 'nowrap',
            'overflow': 'hidden'
        });


        $('.filter-button').click(function () {
            $('.filterpop').css('left', '0px');
        });

        $('#subcatFilterDesc').css('display', 'block');
        $('#priceFilterDesc').css('display', 'none');
        $('#styleFilterDesc').css('display', 'none');

        $('#subcatFilter').click(function () {
            $('#subcatFilter').addClass('active');
            $('#priceFilter').removeClass('active');
            $('#styleFilter').removeClass('active');
            $('#subcatFilterDesc').css('display', 'block');
            $('#priceFilterDesc').css('display', 'none');
            $('#styleFilterDesc').css('display', 'none');
        });

        $('#priceFilter').click(function () {
            $('#subcatFilter').removeClass('active');
            $('#priceFilter').addClass('active');
            $('#styleFilter').removeClass('active');
            $('#subcatFilterDesc').css('display', 'none');
            $('#priceFilterDesc').css('display', 'block');
            $('#styleFilterDesc').css('display', 'none');
        });

        $('#styleFilter').click(function () {
            $('#subcatFilter').removeClass('active');
            $('#priceFilter').removeClass('active');
            $('#styleFilter').addClass('active');
            $('#subcatFilterDesc').css('display', 'none');
            $('#priceFilterDesc').css('display', 'none');
            $('#styleFilterDesc').css('display', 'block');
        });

        $('[data-toggle="tooltip"]').tooltip();


        var meta = 'mygubbi';
        var metakeyword = 'mygubbi';
        var url = $(location).attr('href');

        if (url.indexOf('/study-table') != -1) {

            meta = 'Designs of Study Table which complement Your Room and Interiors.Get the latest study table design designed to meet your needs.';
            $("meta[name='description']").attr("content", meta);

            metakeyword = 'home interior décor, home interior design, interior home décor, home interiors, custom made furniture, custom furniture, online customised furniture, modern furniture design, furniture designs';
            $("meta[name='keywords']").attr("content", metakeyword);

            $(".h1-tag-content h1").html("Buy Study Table Online");

        }else if (url.indexOf('/tv-unit-cabinet') != -1) {

            meta = 'Deck Your Home With the best of Décor with our range of TV Furniture and TV Cabinet Designs.Pick out luxury Home décor from mygubbi';
            $("meta[name='description']").attr("content", meta);

            metakeyword = 'tv unit, tv stand, tv cabinet, tv units, entertainment unit,entertainment unit designs';
            $("meta[name='keywords']").attr("content", metakeyword);

            $(".h1-tag-content h1").html("buy tv unit online");

        }else if (url.indexOf('/shoe-rack') != -1) {

            meta = 'Give a neater and classy look to your Home by getting Your Shoe Rack Furniture Custom made by our designers who look into the minute details for better living';
            $("meta[name='description']").attr("content", meta);

            metakeyword = 'shoe rack, shoe rack online, shoe rack designs, shoe racks, shoe racks online';
            $("meta[name='keywords']").attr("content", metakeyword);

            $(".h1-tag-content h1").html("shoe rack online");

        }else if (url.indexOf('/crockery-unit') != -1) {

            meta = 'Look for Crockery unit designs Online and get to select from a range of exclusive products from mygubbi.';
            $("meta[name='description']").attr("content", meta);

            metakeyword = 'crockery, crockery unit, crockery cabinet, crockery unit designs, crockery cabinet online,kitchen crockery cabinet designs, dining crockery unit designs, designs for crockery unit';
            $("meta[name='keywords']").attr("content", metakeyword);

            $(".h1-tag-content h1").html("crockery unit online");

        }else if (url.indexOf('/l-shaped-kitchen') != -1) {

            meta = 'L shaped Kitchen Designs for Your Dream Modular Kitchen.Get a more spacious and modern kitchen which match up to the latest Décor.';
            $("meta[name='description']").attr("content", meta);

            metakeyword = 'l shaped kitchen design, l shaped kitchen, l shaped kitchen designs';
            $("meta[name='keywords']").attr("content", metakeyword);

            $(".h1-tag-content h1").html("l shaped kitchen");

        }else if (url.indexOf('/u-shaped-kitchen') != -1) {

            meta = 'U shaped Kitchen Designs for Your Dream Modular Kitchen.Get a more spacious and modern kitchen which match up to the latest Décor.';
            $("meta[name='description']").attr("content", meta);

            metakeyword = 'u shaped kitchen, u shaped kitchen design,  u shaped kitchen designs';
            $("meta[name='keywords']").attr("content", metakeyword);

            $(".h1-tag-content h1").html("u shaped kitchen");

        }else if (url.indexOf('/straight-kitchen') != -1) {

            meta = 'Straight Kitchen Designs for Your Dream Modular Kitchen.Get a more spacious and modern kitchen which match up to the latest Décor.';
            $("meta[name='description']").attr("content", meta);

            metakeyword = 'straight kitchen design, straight modular kitchen designs, straight modular kitchen';
            $("meta[name='keywords']").attr("content", metakeyword);

            $(".h1-tag-content h1").html("straight kitchen");

        }else if (url.indexOf('/parallel-kitchen') != -1) {

            meta = 'Parallel Kitchen Designs for Your Dream Modular Kitchen.Get a more spacious and modern kitchen which match up to the latest Décor.';
            $("meta[name='description']").attr("content", meta);

            metakeyword = 'parallel kitchen design, parallel kitchen, parallel kitchen designs,parallel modular kitchen designs';
            $("meta[name='keywords']").attr("content", metakeyword);

            $(".h1-tag-content h1").html("parallel kitchen");

        }else if (url.indexOf('/wardrobe') != -1) {

            meta = 'Check out Our Exclusive range of Wardrobe designs which add a classy touch to your Home décor.MyGubbi offers a hassle free installation process and speedy delivery';
            $("meta[name='description']").attr("content", meta);

            metakeyword = 'wardrobe, wardrobe designs, wardrobe design,wardrobe online, buy wardrobe online';
            $("meta[name='keywords']").attr("content", metakeyword);

            $(".h1-tag-content h1").html("buy wardrobe online");

        }else if (url.indexOf('/side-table') != -1) {

            meta = 'Bedside Table Designs that compliment Your Bedroom décor in ways like no other.Pick Out Luxury Home Décor from mygubbi';
            $("meta[name='description']").attr("content", meta);

            metakeyword = 'side table, side tables,study table designs, designs of study table, buy study table online, order study table online';
            $("meta[name='keywords']").attr("content", metakeyword);

            $(".h1-tag-content h1").html("buy side table online");

        }else if (url.indexOf('/book-shelf') != -1) {
            meta = 'Custom Made Bookshelves from MyGubbi add to your range of luxury décor and add a touch of elegance to your living abode';
            $("meta[name='description']").attr("content", meta);

            metakeyword = 'book shelf, bookshelf design, book rack, bookshelf designs';
            $("meta[name='keywords']").attr("content", metakeyword);

            $(".h1-tag-content h1").html("buy book shelf online");

        }else if (url.indexOf('/sideboard') != -1) {

            meta = 'Design Your Home with our range of custom made sideboard furniture.Sideboards are among the really useful but neglected furniture pieces in a Home. MyGubbi offers a range of custom designs';
            $("meta[name='description']").attr("content", meta);

            metakeyword = 'sideboard , sideboard desing, sideboards online, sideboard furniture, ';
            $("meta[name='keywords']").attr("content", metakeyword);

            $(".h1-tag-content h1").html("buy sideboard online");

        }else if (url.indexOf('/foyer-design') != -1) {

            meta = 'Pick from a range of wooden and vintage foyer furniture to add a classy touch to your Home décor.MyGubbi offers a range of foyer designs to pick from.';
            $("meta[name='description']").attr("content", meta);

            metakeyword = 'foyer furniture, foyer designs, foyer design';
            $("meta[name='keywords']").attr("content", metakeyword);

            $(".h1-tag-content h1").html("buy foyer design online");

        }else if (url.indexOf('/bedroom') != -1) {

            meta = 'MyGubbi offers an Exclusive collection of bedroom furniture to choose from.Get Your Bedroom interiors custom made to fit your Home and Décor.';
            $("meta[name='description']").attr("content", meta);

            metakeyword = 'bedroom designs, bedroom furniture, bedroom interior, bedroom interior design';
            $("meta[name='keywords']").attr("content", metakeyword);

            $(".h1-tag-content h1").html("bedroom interior");

        }else if (url.indexOf('/kitchen') != -1) {

            meta = 'Check out our Range of Kitchen Cabinets and choose the kitchen cabinet design of Your choice.';
            $("meta[name='description']").attr("content", meta);

            metakeyword = 'modular kitchen, modular kitchen design, kitchen design, kitchen cabinets, kitchen, kitchen interior, kitchen cabinet, kitchen furniture,kitchen cabinet designs, kitchen cabinets designs';
            $("meta[name='keywords']").attr("content", metakeyword);

            $(".h1-tag-content h1").html("buy kitchen cabinets");

        }else if (url.indexOf('/living-and-dining-room-designs') != -1) {

            meta = 'Buy Your Living Room furniture online from MyGubbi and jazz up your life with the latest Décor.Get Your Dining Room furniture custom made by picking out from a range of dining room designs';
            $("meta[name='description']").attr("content", meta);

            metakeyword = 'living and dining room, living and dining room designs, living and dining room design ,living room furniture online,living room designs, dining room designs, dining room furniture,living room interior';
            $("meta[name='keywords']").attr("content", metakeyword);

            $(".h1-tag-content h1").html("living and dining room designs");

        }else {
            $("meta[name='description']").attr("content", meta);
            $("meta[name='keywords']").attr("content", metakeyword);
        }

    });

    function closePop() {
        $('.filterpop').css('left', '-1000px');
    }

    /* Filter */

    var loop = 1;
    var tempArr = new Array();
    var filterNameArr = new Array();

    function getSubcatId(id, title) {
        if ($('#' + id).hasClass('noclick')) {
            removeFilters(title);
        } else {
            var filterArr = filter.get('filterIds');
            var filterNameArr = filter.get('selectedFiltersName');
            var subcatIdArr = filter.get('subcatIds');
            filterArr.push(id);
            filterNameArr.push(title);

            id = id.substring(0, id.length - 3);
            subcatIdArr.push(id);

            filter.set({'filterIds': filterArr});
            filter.set({'selectedFiltersName': filterNameArr});
            filter.set({'subcatIds': subcatIdArr});
            filter.trigger('change');
        }
    }

    function getPriceRangeId(id, title) {

        if ($('#' + id).hasClass('noclick')) {
            removeFilters(title);
        } else {
            var filterArr = filter.get('filterIds');
            var filterNameArr = filter.get('selectedFiltersName');
            var price_rangeArr = filter.get('priceRangeIds');
            filterArr.push(id);
            filterNameArr.push(title);

            id = id.substring(0, id.length - 3);
            price_rangeArr.push(id);

            filter.set({'filterIds': filterArr});
            filter.set({'selectedFiltersName': filterNameArr});
            filter.set({'priceRangeIds': price_rangeArr});
            filter.trigger('change');
        }
    }

    function getStyleId(id, title) {

        if ($('#' + id).hasClass('noclick')) {
            removeFilters(title);
        } else {
            var filterArr = filter.get('filterIds');
            var filterNameArr = filter.get('selectedFiltersName');
            var styleArr = filter.get('styleIds');
            filterArr.push(id);
            filterNameArr.push(title);

            id = id.substring(0, id.length - 3);
            styleArr.push(id);

            filter.set({'filterIds': filterArr});
            filter.set({'selectedFiltersName': filterNameArr});
            filter.set({'styleIds': styleArr});
            filter.trigger('change');
        }
    }

    function getFil(id) {
        var chk = $('#' + id).find('input[type=checkbox]').is(':checked');
        //if(chk == true){
        id = id.substring(0, id.length - 3);
        var locate = jQuery.inArray(id, tempArr);
        if (locate == -1) {
            tempArr.push(id);
        } else {
            tempArr = jQuery.grep(tempArr, function (value) {
                return value != id;
            });
        }
        //}
    }

    function applyFilters() {
        $.each(tempArr, function (i, id) {

            var title = $('#' + id).attr('title');
            var substring = id.substring(id.length - 3, id.length);
            id = id.substring(0, id.length);

            if (substring == 's_c') {
                getSubcatId(id, title);
            } else if (substring == 'p_r') {
                getPriceRangeId(id, title);
            } else {
                getStyleId(id, title);
            }
        });
    }

    function removeFilters(filtername) {
        var filternameArr = filter.get('selectedFiltersName');
        var filterIdArr = filter.get('filterIds');

        var index = filternameArr.indexOf(filtername);

        var removeFilterId = $('[title="' + filtername + '"]').attr('id');
        var removeFilterTitle = $('[title="' + filtername + '"]').attr('title')

        var substring = removeFilterId.substring(removeFilterId.length - 3, removeFilterId.length);
        removeFilterId = removeFilterId.substring(0, removeFilterId.length - 3);

        if (index > -1) {
            filterIdArr.splice(index, 1);
            filternameArr.splice(index, 1);
            filter.set({'filterIds': filterIdArr});
            filter.set({'selectedFiltersName': filternameArr});

            if ((filterIdArr.length == 0) && (filternameArr.length == 0)) {
                var subcatIdArr = filter.get('subcatIds');
                subcatIdArr.splice(index, 1);
                filter.set({'subcatIds': subcatIdArr});
            }

            if (substring == 's_c') {

                var subcatIdArr = filter.get('subcatIds');
                var subcatIndex = subcatIdArr.indexOf(removeFilterId);
                if (subcatIndex > -1) {
                    subcatIdArr.splice(subcatIndex, 1);
                }
                filter.set({'subcatIds': subcatIdArr});

            } else if (substring == 'p_r') {

                var price_rangeArr = filter.get('priceRangeIds');
                var price_rangeIndex = price_rangeArr.indexOf(removeFilterId);
                if (price_rangeIndex > -1) {
                    price_rangeArr.splice(price_rangeIndex, 1);
                }
                filter.set({'priceRangeIds': price_rangeArr});

            } else {

                var styleArr = filter.get('styleIds');
                var styleIndex = styleArr.indexOf(removeFilterId);
                if (styleIndex > -1) {
                    styleArr.splice(styleIndex, 1);
                }
                filter.set({'styleIds': styleArr});

            }

            filter.trigger('change');
        }
    }

    function removeAllFilters() {
        var filternameArr = filter.get('selectedFiltersName');
        var filterIdArr = filter.get('filterIds');
        var subcatIdArr = filter.get('subcatIds');
        var price_rangeArr = filter.get('priceRangeIds');
        var styleArr = filter.get('styleIds');

        filternameArr.splice(0, filternameArr.length);
        filterIdArr.splice(0, filterIdArr.length);
        subcatIdArr.splice(0, subcatIdArr.length);
        price_rangeArr.splice(0, price_rangeArr.length);
        styleArr.splice(0, styleArr.length);

        filter.set({'filterIds': filterIdArr});
        filter.set({'selectedFiltersName': filternameArr});
        filter.set({'subcatIds': subcatIdArr});
        filter.set({'priceRangeIds': price_rangeArr});
        filter.set({'styleIds': styleArr});

        filter.set({'noFilterApplied': '1'});

        filter.trigger('change');
    }

    function setSorting(sortBy, sortDir) {
        if (sortBy && sortDir) {
            if (sortBy == 'defaultPrice') {
                if (sortDir == 'desc') {
                    sortDir = 'asc';
                } else {
                    sortDir = 'desc';
                }
            }
            filter.set({'sortDir': sortDir});
            filter.set({'sortBy': sortBy});
            filter.trigger('change');
        }
    }
</script>