<%= console.log("++++++++++++++++++++++++++++++++") %>
<%= console.log(productdetails) %>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="list-group">
                    <div class="list-group-item-mg">
                        <h4> Category </h4>
                    </div>
                    <div class="list-group-item">
                        <div class="filter-group">
                            <label class="checkbox">
                                <input type="checkbox" name="fl-category" value="Storage" id="Storage">
                                Storage
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-category" value="Seating" id="Seating">
                                Seating
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-category" value="Table" id="Table">
                                Table
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-category" value="Bed" id="Bed">
                                Bed
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-category" value="Wall Hang Unit" id="Wall-Hang-Unit">
                                Wall Hang Unit
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-category" value="Kitchen" id="Kitchen">
                                Kitchen
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-category" value="Wardrobe" id="Wardrobe">
                                Wardrobe
                            </label>
                        </div>
                    </div>
                    <!--<div class="list-group-item-mg">
                        <h4> Space </h4>
                    </div>
                    <div class="list-group-item">
                        <div class="filter-group">
                            <label class="checkbox">
                                <input type="checkbox" name="fl-space" value="Foyer" id="Foyer">
                                 Foyer
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-space" value="Living" id="Living">
                                Living
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-space" value="Family" id="Family">
                                Family
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-space" value="Study" id="Study">
                                Study
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-space" value="kitchen" id="Kitchen">
                                kitchen
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-space" value="Dining" id="Dining">
                                Dining
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-space" value="Master Bed Room" id="Master-Bed-Room">
                                Master Bed Room
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-space" value="Kids Bed Room" id="Kids-Bed-Room">
                                 Kids Bed Room
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-space" value="Bed Room ( others )" id="Bed-Room-(-others-)">
                                 Bed Room ( others )
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-space" value="Entertainment Room" id="Entertainment-Room">
                                  Entertainment Room
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-space" value="Puja Room" id="Puja-Room">
                                  Puja Room
                            </label>
                            <label class="checkbox">
                                <input type="checkbox"  name="fl-space"value="Hall way" id="Hall-way">
                                  Hall way
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-space" value="Utility" id="Utility">
                                  Utility
                            </label>
                        </div>
                    </div>-->
                    <div class="list-group-item-mg">
                        <h4> Style </h4>
                    </div>
                    <div class="list-group-item">
                        <div class="filter-group">
                            <label class="checkbox">
                                <input type="checkbox" name="fl-style" value="Shabby chic design" id="Shabby chic design">
                                Shabby chic design
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-style" value="Contemporary" id="Contemporary">
                                Contemporary
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-style" value="Industrial modern" id="Industrial modern">
                                Industrial modern
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-style" value="Boho - Indian" id="Boho - Indian">
                                Boho–Indian
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-style" value="Neo classical" id="Neo classical">
                                Neo classical
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-style" value="Nautical/Cottage/Classic Coastal" id="Nautical/Cottage/Classic Coastal">
                                Nautical/Cottage/Classic Coastal
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-style" value="Mid century modern" id="Mid century modern">
                                Mid century modern
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-style" value="Scandinavian" id="Scandinavian">
                                Scandinavian
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-style" value="Zen" id="Zen">
                                Zen
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-style" value="Modern traditional" id="Modern traditional">
                                Modern traditional
                            </label>
                        </div>
                    </div>
                    <div class="list-group-item-mg">
                        <h4> Colour </h4>
                    </div>
                    <div class="list-group-item">
                        <div class="filter-group">
                            <label class="checkbox">
                                <input type="checkbox" name="fl-color" value="Black & White Grayscale" id="Black & White Grayscale">
                                Black & White Grayscale
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-color" value="Black & White Neutral" id="Black & White Neutral">
                                Black & White Neutral
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-color" value="Black & White Fresh" id="Black & White Fresh">
                                Black & White Fresh
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-color" value="Black & White Warm" id="Black & White Warm">
                                Black & White Warm
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-color" value="Neutral Fresh" id="Neutral">
                                Neutral
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-color" value="Neutral Fresh" id="Neutral Fresh">
                                Neutral Fresh
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-color" value="Neutral Warm" id="Warm">
                                Warm
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-color" value="Neutral Warm" id="Neutral Warm">
                                Neutral Warm
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-color" value="Monochrome Neutral" id="Monochrome Neutral">
                                Monochrome Neutral
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-color" value="Monochrome Fresh" id="Monochrome Fresh">
                                Monochrome Fresh
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="fl-color" value="Monochrome Warm" id="Monochrome Warm">
                                Monochrome Warm
                            </label>
                        </div>
                    </div>
                    <!--<div class="list-group-item-mg">
                        <button type="button" class="btn btn-primary btn-filter">Filter</button>
                    </div>-->
                </div>
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="row listings-grid" id="prodGrid">
                    <% if(typeof(productdetails) !== 'undefined'){ %>
                    <% _.each(productdetails, function(productdetailsc, i){ %>

                    <% var catnm =  productdetails[i].category %>
                    <% //catnm = catnm.replace(/\s+/g, '-') %>

                    <% var stnm =  productdetails[i].productStyle %>
                    <% //stnm = stnm.replace(/\s+/g, '-') %>

                    <% var crnm =  productdetails[i].productColor %>
                    <% //crnm = crnm.replace(/\s+/g, '-') %>

                    <div class="product col-sm-6 col-md-4" data-category="<%= catnm %> <%= stnm %> <%= crnm %>">
                        <div class="product listings-grid__item" data-category="<%= catnm %> <%= stnm %> <%= crnm %>">
                            <a href="/product-detail-<%= productdetails[i].id %>">
                                <div class="listings-grid__main">
                                    <img src="<%= productdetails[i].primaryImageLocation %>" alt="">
                                </div>

                                <div class="listings-grid__body">
                                    <h5><%= productdetails[i].productName %></h5>

                                </div>
                            </a>
                        </div>
                    </div>


                    <% }); %>
                    <% } %>
                </div>
                <div class="row listings-grid"  id="prodList" style="display:none;">
                    <% if(typeof(productdetails) !== 'undefined'){ %>
                    <% _.each(productdetails, function(productdetailsc, i){ %>

                    <% var catnm =  productdetails[i].category %>
                    <% //catnm = catnm.replace(/\s+/g, '-') %>

                    <% var stnm =  productdetails[i].productStyle %>
                    <% //stnm = stnm.replace(/\s+/g, '-') %>

                    <% var crnm =  productdetails[i].productColor %>
                    <% //crnm = crnm.replace(/\s+/g, '-') %>

                    <div class="product col-sm-9 col-md-9 col-lg-9" data-category="<%= catnm %> <%= stnm %> <%= crnm %>">
                        <div class="product listings-grid__item" data-category="<%= catnm %> <%= stnm %> <%= crnm %>">
                            <a href="/product-detail-<%= productdetails[i].id %>">
                                <div class="listings-grid__main">
                                    <img src="<%= productdetails[i].primaryImageLocation %>" alt="">
                                </div>

                                <div class="listings-grid__body">
                                    <h5><%= productdetails[i].productName %></h5>
                                    <small><%= productdetails[i].webDisplayName %></small>
                                </div>
                            </a>


                        </div>
                    </div>


                    <% }); %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
var byProperty = [], byColor = [], byLocation = [], byCl = [];

		$("input[name=fl-category]").on( "change", function() {
            console.log('hellooooooo');
			if (this.checked) byProperty.push("[data-category~='" + $(this).attr("value") + "']");
			else removeA(byProperty, "[data-category~='" + $(this).attr("value") + "']");
            console.log(byProperty);
		});

		$("input[name=fl-space]").on( "change", function() {
			if (this.checked) byColor.push("[data-category~='" + $(this).attr("value") + "']");
			else removeA(byColor, "[data-category~='" + $(this).attr("value") + "']");
            console.log(byColor);
		});

		$("input[name=fl-style]").on( "change", function() {
			if (this.checked) byLocation.push("[data-category~='" + $(this).attr("value") + "']");
			else removeA(byLocation, "[data-category~='" + $(this).attr("value") + "']");
            console.log(byLocation);
		});

            $("input[name=fl-color]").on( "change", function() {
			if (this.checked) byCl.push("[data-category~='" + $(this).attr("value") + "']");
			else removeA(byCl, "[data-category~='" + $(this).attr("value") + "']");
                console.log(byCl);
		});

		$("input").on( "change", function() {
			var str = "Include items \n";
			var selector = '', cselector = '', nselector = '', pselector = '';

			var $lis = $('.product'),
				$checked = $('input:checked');


			if ($checked.length) {


				if (byProperty.length) {
                    console.log("HIiiiiiiiiii");
					if (str == "Include items \n") {
						str += "    " + "with (" +  byProperty.join(',') + ")\n";
						$($('input[name=fl-category]:checked')).each(function(index, byProperty){
							if(selector === '') {
								selector += "[data-category~='" + byProperty.id + "']";
							} else {
								selector += ",[data-category~='" + byProperty.id + "']";
							}
						});
                        } else {
						str += "    AND " + "with (" +  byColor.join(' OR ') + ")\n";
						$($('input[name=fl-space]:checked')).each(function(index, byColor){
							if(cselector === '') {
								cselector += "[data-category~='" + byColor.id + "']";
							} else {
								cselector += ",[data-category~='" + byColor.id + "']";
							}
						});


					}
				}

				if (byColor.length) {
                    console.log("sizeeeeeeeeeeeeeee");
					if (str == "Include items \n") {
						str += "    " + "with (" +  byColor.join(' OR ') + ")\n";
						$($('input[name=fl-space]:checked')).each(function(index, byColor){
							if(selector === '') {
								selector += "[data-category~='" + byColor.id + "']";
							} else {
								selector += ",[data-category~='" + byColor.id + "']";
							}
						});
					} else {
						str += "    AND " + "with (" +  byColor.join(' OR ') + ")\n";
						$($('input[name=fl-space]:checked')).each(function(index, byColor){
							if(cselector === '') {
								cselector += "[data-category~='" + byColor.id + "']";
							} else {
								cselector += ",[data-category~='" + byColor.id + "']";
							}
						});
					}
				}

				if (byLocation.length) {
					if (str == "Include items \n") {
						str += "    " + "with (" +  byLocation.join(' OR ') + ")\n";
						$($('input[name=fl-style]:checked')).each(function(index, byLocation){
							if(selector === '') {
								selector += "[data-category~='" + byLocation.id + "']";
							} else {
								selector += ",[data-category~='" + byLocation.id + "']";
							}
						});
					} else {
						str += "    AND " + "with (" +  byLocation.join(' OR ') + ")\n";
						$($('input[name=fl-style]:checked')).each(function(index, byLocation){
							if(nselector === '') {
								nselector += "[data-category~='" + byLocation.id + "']";
							} else {
								nselector += ",[data-category~='" + byLocation.id + "']";
							}
						});
					}
				}
              if (byCl.length) {
					if (str == "Include items \n") {
						str += "    " + "with (" +  byCl.join(' OR ') + ")\n";
						$($('input[name=fl-color]:checked')).each(function(index, byCl){
							if(selector === '') {
								selector += "[data-category~='" + byCl.id + "']";
							} else {
								selector += ",[data-category~='" + byCl.id + "']";
							}
						});
					} else {
						str += "    AND " + "with (" +  byCl.join(' OR ') + ")\n";
						$($('input[name=fl-color]:checked')).each(function(index, byCl){
							if(pselector === '') {
								pselector += "[data-category~='" + byCl.id + "']";
							} else {
								pselector += ",[data-category~='" + byCl.id + "']";
							}
						});
					}
				}


				$lis.hide();
				console.log("appppppppppppppppppppppppppiiiiiiiiiiiiiiiiiiiiiiiii");
				console.log(selector);//space
				console.log(cselector);//size
				console.log(nselector);//style
                console.log(pselector);//color


					/*$('.design').filter(selector).show();*/



				if (cselector === '' && nselector === '' && pselector === '')
                {
					$('.product').filter(selector).show();
				}
                 else if (cselector === '' && nselector === '' && selector === '' )
                {
					$('.product').filter(pselector).show();
				}
                else if (selector === '' && nselector === '' && pselector === '' )
                {
					$('.product').filter(cselector).show();
				}
                else if (selector === '' && cselector === '' && pselector === '' )
                {
					$('.product').filter(nselector).show();
				}



                else if (cselector === '' && nselector === '')
                {
					$('.product').filter(selector).filter(pselector).show();
				}
                else if (cselector === '' && pselector === '')
                {
					$('.product').filter(selector).filter(nselector).show();
				}
                else if (cselector === '' && selector === '')
                {
					$('.product').filter(pselector).filter(nselector).show();
				}


                else if (nselector === '' && pselector === '')
                {
					$('.product').filter(selector).filter(cselector).show();
				}
                else if (nselector === '' && selector === '')
                {
					$('.product').filter(pselector).filter(cselector).show();
				}

                else if (pselector === '' && selector === '')
                {
					$('.product').filter(nselector).filter(cselector).show();
				}






                else if (cselector === '')
                {
					$('.product').filter(selector).filter(nselector).filter(pselector).show();
				}
                else if (nselector === '')
                {
					$('.product').filter(selector).filter(cselector).filter(pselector).show();
				}
                else if (pselector === '')
                {
					$('.product').filter(selector).filter(nselector).filter(cselector).show();
				}
                else if (selector === '')
                {
					$('.product').filter(pselector).filter(nselector).filter(cselector).show();
				}
                else
                {
					$('.product').filter(selector).filter(cselector).filter(nselector).filter(pselector).show();
				}

			} else {
				$lis.show();
			}

			$("#result").html(str);

		});

		function removeA(arr) {
			var what, a = arguments, L = a.length, ax;
			while (L > 1 && arr.length) {
				what = a[--L];
				while ((ax= arr.indexOf(what)) !== -1) {
					arr.splice(ax, 1);
				}
			}
			return arr;
		}
</script>