<section>
    <div class="container">
        <!--<h1>Consult</h1>-->
        <!--<img src="img/consult.png"/>-->

        <div class="row" style="margin-top: 100px;height: 800px;">

            <div class="col-md-6">
                <div class="row">
                    <img src="img/consult/envelope_cover_in.png">
                    <img class="envelopeIn" src="img/consult/envelope_in.png">
                    <div class="letterWrapper" style="top: 68px;">
                        <div class="letter">
                            <div class="position-absolute">
                                <img src="img/consult/letter.png">

                                <div class="shape"></div>
                            </div>
                            <div class="letterContent">
                                <div class="margin-bottom15">Dear MyGubbi...</div>
                                <div class="lineWrapper">
                                    <div class="line">
                                        <div class="text">My name is&nbsp;</div>
                                        <div class="text textFillWidth">
                                            <div class="textContentWrapper">
                                                <input spellcheck="false" type="text" name="name" value="">
                                                <div class="underline"></div>
                                                <div class="exclamationMark" style="display: none;">
                                                    <img src="img/consult/exclamation_mark.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text">, u can mail</div>
                                    </div>
                                </div>
                                <div class="lineWrapper mailFromContainer handwrittenFont">
                                    <div class="line">
                                        <div class="text">me back at&nbsp;</div>
                                        <div class="text textFillWidth">
                                            <div class="textContentWrapper">
                                                <input class="handwrittenFont" spellcheck="false" type="text"
                                                       name="name" value="">

                                                <div class="underline"></div>
                                                <div class="exclamationMark" style="display: none;">
                                                    <img src="img/consult/exclamation_mark.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text">. I would like to:</div>
                                    </div>
                                </div>
                                <div class="mailContentContainer handwrittenFont">
                                            <textarea class="handwrittenFont" spellcheck="false"
                                                      name="content"></textarea>

                                    <div class="underline"></div>
                                    <div class="exclamationMark" style="display: none;">
                                        <img src="img/consult/exclamation_mark.png">
                                    </div>
                                    <br>

                                    <div class="underline"></div>
                                </div>
                            </div>
                            <div class="letterForeground">
                                <div class="mailSendWrapper centerText">
                                    <div class="mailContainer mailSendContainer">
                                        <button><span class="text">SEND</span><img
                                                src="img/consult/arrow_white.png">
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="preWrap"
                                 style="position: relative; z-index: 100; font-family: Romy; font-size: 21px; letter-spacing: 0px; line-height: 27.3px; width: 339px; visibility: hidden;"></div>
                        </div>
                    </div>
                    <!--
                                                <div class="letterSending letterStatus centerText">
                                                   <span class="info handwrittenFont">
                                                     Sending
                                                   </span>
                                                </div>
                                                <div class="letterSent letterStatus centerText">
                                                    <span class="info handwrittenFont">
                                                        You have just made<br>
                                                        a first step to better future ;)
                                                    </span>
                                                    <br>

                                                    <div class="linkifyForm goBack">
                                                        <div class="linkLineContainer">
                                                            <div class="linkLine"></div>
                                                        </div>
                                                        <span class="text">Go back</span>
                                                    </div>
                                                </div>
                                                <div class="letterError letterStatus centerText">
                                   <span class="info handwrittenFont">
                                     Sorry. World is cruel.<br>
                                     We could't connect to our server. :(
                                   </span>
                                                    <br>

                                                    <div class="linkifyForm goBack">
                                                        <div class="linkLineContainer">
                                                            <div class="linkLine"></div>
                                                        </div>
                                                        <span class="text">Try again</span>
                                     <span class="image">
                                             <img class="out" src="images/page4/go_back_green.png"><img class="over"
                                                                                                        src="images/page4/go_back_white.png"
                                                                                                        style="opacity: 0;">
                                     </span>
                                                    </div>
                                                </div>
                    -->
                    <div class="envelopeOut">
                        <img class="envelopeOutTop" src="img/consult/envelope_out_top.png">
                        <img class="envelopeOutBottom" src="img/consult/envelope_out_bottom.png">
                    </div>
                    <!--                 <div class="envelopeCover out"> -->
                    <!--                   <img src="images/page4/envelope_cover_out.png" /> -->
                    <!--                 </div> -->
                </div>
                <img class="getInTouch" alt="get in touch" src="img/consult/getintouch.png">
            </div>

            <div class="col-md-6">
                <h2>
                    Contact
                </h2>

                <div class="text">
                    We are open for business. Feel free to drop us a line or send your brief.
                </div>
                <div class="iconText iconTextMargin">
                    <a href="mailto:reach@mygubbi.com">
                        <div class="fa fa-envelope-o"></div>
                        <span class="text"> reach@mygubbi.com</span>
                    </a>
                </div>
                <div class="iconText iconTextMargin">
                    <div class="fa fa-phone"></div>
                    +91-8088 860 860
                </div>
                <div class="iconText iconTextMargin">
                    <div class="fa fa-map-marker"></div>
                    Bangalore, India
                </div>
                <div class="header">
                    Social networks
                </div>
                <div class="text">
                    Follow us to be always up to date.
                </div>
                <div class="group iconText">
                            <span>
                                <a href="http://www.facebook.com/mygubbi" target="_blank"><span
                                        class="fa fa-facebook"></span> Facebook</a>
                                <a href="https://twitter.com/@my_gubbi" target="_blank" class="margin-left-10"><span
                                        class="fa fa-twitter"></span> Twitter</a>
                            </span>
                </div>
            </div>
        </div>
    </div>
</section>