<div class="bg-color-white">

    <div class="container-fluid">
        <div class="position-relative">
            <img data-src="<%= imgBase + 'w_auto' + '/consult_bg_blh8gx.jpg'%>" class="cld-responsive img-centered img-centered width100 hidden-xs hidden-sm" height="720px" alt="mygubbi conatct us design">
            <div class="consult-form-maindiv">
                <div class="row">
                    <div class="col-md-6 bg-white align-center margin-bottom20">
                        <p id="form-heading" class="consult-form-heading"> Design Your my <span class="color-orange"> gubbi </span> Home </p>

                        <div class="row display-none" id="contact_error_row">
                            <p class="margin0 error-text align-center" id="contact_error"></p>
                        </div>

                        <!--<form id="contactForm1" name="consultData" data-toggle="validator" role="form"
                              class="width90 margin_auto paddingtop20">
                            <div class="row">
                                <div class="margin-bottom20 form-group">
                                    <input type="text" class="width100 form-control" placeholder="Name*"
                                           id="contact_full_name1" name="fullName"
                                           value="<%=userProfile ? userProfile.displayName : ''%>" required/>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="margin-bottom20 form-group">
                                    <input type="email" class="width100 form-control" placeholder="Email*"
                                           id="contact_email_id1" name="email"
                                           value="<%=userProfile ? userProfile.email : ''%>" required
                                           pattern=".+@.+\..+"
                                           title="<abc>@<xyz>.<com>"/>

                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="margin-bottom20 form-group has-feedback">
                                    <input type="text" class="width100 form-control" placeholder="Phone Number*"
                                           id="contact_contact_num1" name="contactNumber"
                                           value="<%=userProfile ? userProfile.phone : ''%>" required pattern="\d{10}"
                                           title="e.g. 9876543210"/>

                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <div class="margin-bottom20 form-group">
                                        <textarea class="width100 form-control" id="contact_requirement1"
                                                  name="requirements"
                                                  placeholder="Describe your Requirements / Queries"></textarea>
                                    </div>
                                </div>
                                <div class="margin-bottom20 form-group">
                                    <input type="text" class="width100 form-control" placeholder="Property Name"
                                           name="propertyName" value=""
                                           id="contact_property_name1"/>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="margin-bottom20 form-group">
                                    <label for="contact_floorplan1" class="text-floorplan">Upload Floorplan</label>
                                    <input type="file" class="width100 form-control" placeholder="Floorplan"
                                           name="floorPlan" value=""
                                           id="contact_floorplan1" accept=".pdf,.jpg,.jpeg,.png"/>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="align-center form-group">
                                    <button
                                            id="contactus-submit-btn1"
                                            class="button-orange margin-top20 margin-bottom20 consult-submit-orange"
                                            type="submit"
                                            data-loading-text="<i class='fa fa-spinner fa-spin'></i> submit">
                                        submit
                                    </button>
                                </div>
                            </div>
                        </form>

                        <div id="message-padding" class="display-none margintop100 hidden-xs hidden-sm"></div>
                        <div id="success-message" class="display-none">
                            <p class="font-size18">Thank you for contacting mygubbi. Our team will get back to you as
                                soon
                                as possible.</p>

                            <p class="font-size16 margintop40">Want to keep Exploring? Click <a
                                    href="/products/kitchen/L Shaped Kitchen">here</a></p>
                        </div>-->

                        <form method="post" enctype="multipart/form-data"
                              action="https://web.mxradon.com/t/FormTracker.aspx"
                              class="width90 margin_auto paddingtop20">
                            <div class="row">
                                <div class="margin-bottom20 form-group">
                                    <input type='text' class="width100 form-control"
                                           id='FirstName' name='FirstName'
                                           placeholder="Name*" maxlength='100'
                                           value="<%=userProfile ? userProfile.displayName : ''%>" autocomplete='off'
                                           required='required'/>
                                </div>
                                <div class="margin-bottom20 form-group">
                                    <input type='text' class="width100 form-control"
                                           id='EmailAddress'
                                           name='EmailAddress' placeholder="Email*" maxlength='100'
                                           value="<%=userProfile ? userProfile.email : ''%>" autocomplete='off'
                                           required='required' pattern=".+@.+\..+"
                                           title="<abc>@<xyz>.<com>"/>
                                </div>
                                <div class="margin-bottom20 form-group">
                                    <input type='text' class="width100 form-control" id='Phone'
                                           name='Phone'
                                           placeholder="Phone Number*" maxlength='20'
                                           value="<%=userProfile ? userProfile.phone : ''%>" autocomplete='off'
                                           required='required' pattern="\d{10}"
                                           title="e.g. 9876543210"/>
                                </div>
                                <div class="form-group">
                                    <div class="margin-bottom20 form-group">
                                <textarea class="width100 form-control" id="mx_Requirement"
                                          name='mx_Requirement' maxlength='150' value='' autocomplete='off'
                                          placeholder="Describe your Requirements / Queries"></textarea>
                                    </div>
                                </div>
                                <div class="margin-bottom20 form-group">
                                    <input type="text" class="width100 form-control" placeholder="Property Name"
                                           id='mx_Street2' name='mx_Street2' maxlength='256' value='' autocomplete='off' />
                                </div>
                                <div class="margin-bottom20 form-group">
                                    <label for='exclude_FileUpload_1' class="text-floorplan">Upload Floorplan</label>
                                    <input type='file' id='exclude_FileUpload_1' name='exclude_FileUpload_1' autocomplete='off' class="width100 form-control"  />
                                    <input type='hidden' id='exclude_FileUpload_1_label' name='exclude_FileUpload_1_label' value='Upload Floorplan' class="width100 form-control"  />
                                </div>
                                <div class="align-center form-group">
                                    <button class="button-orange margin-top20 margin-bottom20 consult-submit-orange"
                                            id="form-submit-button"
                                            type="submit">Submit
                                    </button>
                                    <br/>
                                    <input type="hidden" name="MXHOrgCode" value="9814" />
                                    <input type="hidden" name="MXHLandingPageId" value="a98d523d-3d27-11e6-b61b-22000aa8e760" />
                                    <input type="hidden" name="MXHFormBehaviour" value="1" />
                                    <input type="hidden" name="MXHFormDataTransfer" value="0" />
                                    <input type="hidden" name="MXHRedirectUrl" value="https://mygubbi.com/thankyou-lp-page" />
                                    <input type="hidden" name="MXHAsc" value="5" />
                                    <input type="hidden" name="MXHPageTitle" value="Email" />
                                    <input type="hidden" name="MXHOutputMessagePosition" value="0" />
                                    <input type="hidden" name="MXHIsExternallyUsed" value="1" />
                                </div>
                            </div>
                        </form>
                        <script type="text/javascript"> var MXLandingPageId = 'a98d523d-3d27-11e6-b61b-22000aa8e760'; </script>

                    </div>
                    <div class="col-md-6">
                        <div class="row consult-margin bg-white padding15">
                            <h3 class="consult-h3 align-center">
                                Contact Us
                            </h3>

                            <div class="row align-left">
                                <a href="https://www.google.co.in/maps/place/Orange+Gubbi+technologies/@12.9174948,77.6451492,15z"
                                   target="_blank">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <img src="<%= imgBase %>contact/L_03.png" alt="address-icon">
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p>
                                            1502, 2nd Floor,
                                            19th Main Road,
                                            Sector 4, HSR Layout,
                                            Bangalore 560102
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="row align-left">
                                <a href="tel:+91-808-886-0860">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <img src="<%= imgBase %>contact/P_07.png" alt="phone-icon">
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10 paddingtop10">
                                        +91 80 88 86 0860
                                    </div>
                                </a>
                            </div>
                            <div class="row align-left">
                                <a href="mailto:reach@mygubbi.com" target="_blank">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <img src="<%= imgBase %>contact/M_07.png" alt="mail-icon">
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10 paddingtop10">
                                        reach@mygubbi.com
                                    </div>
                                </a>
                            </div>


                            <h3 class="consult-h3 align-center">Social Networks</h3>

                            <div class="paddingtop10 align-center">
                                        <span>
                                            <a href="http://www.facebook.com/mygubbi" target="_blank"><span><img
                                                    src="<%= imgBase %>contact/F_11.png" alt="facebook"></span></a>
                                            <a href="https://twitter.com/@my_gubbi" target="_blank"
                                               class="margin-left-10"><span><img src="<%= imgBase %>contact/T_13.png"
                                                                                 alt="twitter"></span></a>
                                        </span>
                            </div>
                        </div>
                        <div class="row consult-margin bg-white" style="margin-top: 15px !important;">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15555.391651543143!2d77.6451492!3d12.9174948!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1484351ae6ef%3A0x5d9e93030c5e41ac!2sOrange+Gubbi+technologies%2C+1504%2C+19th+Main+Rd%2C+Sector+4%2C+HSR+Layout%2C+Bengaluru%2C+Karnataka+560102!5e0!3m2!1sen!2sin!4v1455611931443"
                                    width="100%" height="210px" frameborder="0" style="border:0"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white hidden-xs hidden-sm">
            <div class="container padding-bottom15">
                <div class="consult-content-maindiv">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h3 class="consult-h3 align-center">Introducing</h3>
                        </div>
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading"><span class="color-orange" style="text-transform:Capitalize;">The
                                Experience
                                Centre</span> @ <span style="text-transform:lowercase;">mygubbi</span></h2>
                        </div>
                        <div class="col-lg-12">
                            <p class="justify">A day visit to The Experience Centre will pull all our creativity and
                                imagination
                                at your fingertips. We at The Experience Centre offer complete Interior Design & Decor
                                Services
                                to renovate, decorate and furnish each property</p>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-md-6 padding-left0">
                                <img data-src="<%= imgBase + 'w_auto' + '/blackduck_small_awxwjw.jpg'%>"
                                     class="cld-responsive img-centered width100" alt="wardrobe">
                            </div>
                            <div class="col-md-6 padding-right0">
                                <h3 class="consult-h3" style="text-transform:initial;padding-left: 26px;margin-top:55px;">What's in
                                    <span class="color-orange">store</span> for you?</h3>
                                <ul class="justify">
                                    <li>You can actually see, touch and feel materials & finishing</li>
                                    <li>A friendly encounter with talented designers & stylists</li>
                                    <li>A know-how of relevant interior designs</li>
                                    <li>Designs which are personalized as per requisites</li>
                                    <li>You would be one step closer to the home of your dreams</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-xs hidden-sm">
            <!-- Carousel -->
            <!--<div id="exp-center-carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                &lt;!&ndash; Indicators &ndash;&gt;
                <ol class="carousel-indicators bottom_10">
                    <li data-target="#exp-center-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#exp-center-carousel" data-slide-to="1"></li>
                    <li data-target="#exp-center-carousel" data-slide-to="2"></li>
                    <li data-target="#exp-center-carousel" data-slide-to="3"></li>
                    <li data-target="#exp-center-carousel" data-slide-to="4"></li>
                </ol>

                &lt;!&ndash; Wrapper for slides &ndash;&gt;
                <div class="carousel-inner exp_center margin-top0">
                    <div class="item active">
                        <div class="car_col20 padding0">
                            <img src="<%= imgBase + 'home/6.jpg'%>" class="car_img_left width293"
                                 alt="Experience Center Image">
                        </div>
                        <div class="car_col60 padding0-10">
                            <img src="<%= imgBase + 'home/1.jpg'%>" class="img-responsive width100"
                                 alt="Experience Center Image">
                        </div>
                        <div class="car_col20 padding0">
                            <img src="<%= imgBase + 'home/2.jpg'%>" class="car_img_right width293"
                                 alt="Experience Center Image">
                        </div>
                    </div>
                    <div class="item">
                        <div class="car_col20 padding0">
                            <img src="<%= imgBase + 'home/1.jpg'%>" class="car_img_left width293"
                                 alt="Experience Center Image">
                        </div>
                        <div class="car_col60 padding0-10">
                            <img src="<%= imgBase + 'home/2.jpg'%>" class="img-responsive width100"
                                 alt="Experience Center Image">
                        </div>
                        <div class="car_col20 padding0">
                            <img src="<%= imgBase + 'home/4.jpg'%>" class="car_img_right width293"
                                 alt="Experience Center Image">
                        </div>
                    </div>
                    <div class="item">
                        <div class="car_col20 padding0">
                            <img src="<%= imgBase + 'home/2.jpg'%>" class="car_img_left width293"
                                 alt="Experience Center Image">
                        </div>
                        <div class="car_col60 padding0-10">
                            <img src="<%= imgBase + 'home/4.jpg'%>" class="img-responsive width100"
                                 alt="Experience Center Image">
                        </div>
                        <div class="car_col20 padding0">
                            <img src="<%= imgBase + 'home/5.jpg'%>" class="car_img_right width293"
                                 alt="Experience Center Image">
                        </div>
                    </div>
                    <div class="item">
                        <div class="car_col20 padding0">
                            <img src="<%= imgBase + 'home/4.jpg'%>" class="car_img_left width293"
                                 alt="Experience Center Image">
                        </div>
                        <div class="car_col60 padding0-10">
                            <img src="<%= imgBase + 'home/5.jpg'%>" class="img-responsive width100"
                                 alt="Experience Center Image">
                        </div>
                        <div class="car_col20 padding0">
                            <img src="<%= imgBase + 'home/6.jpg'%>" class="car_img_right width293"
                                 alt="Experience Center Image">
                        </div>
                    </div>
                    <div class="item">
                        <div class="car_col20 padding0">
                            <img src="<%= imgBase + 'home/5.jpg'%>" class="car_img_left width293"
                                 alt="Experience Center Image">
                        </div>
                        <div class="car_col60 padding0-10">
                            <img src="<%= imgBase + 'home/6.jpg'%>" class="img-responsive width100"
                                 alt="Experience Center Image">
                        </div>
                        <div class="car_col20 padding0">
                            <img src="<%= imgBase + 'home/1.jpg'%>" class="car_img_right width293"
                                 alt="Experience Center Image">
                        </div>
                    </div>

                </div>

                &lt;!&ndash; Controls &ndash;&gt;
                <a class="left carousel-control carousel-overlay" href="#exp-center-carousel" role="button"
                   data-slide="prev">
                    <img src="<%= imgBase + 'arr-left-thick.png'%>" class="arr_exp" alt="...">
                </a>
                <a class="right carousel-control carousel-overlay" href="#exp-center-carousel" role="button"
                   data-slide="next">
                    <img src="<%= imgBase + 'arr-right-thick.png'%>" class="arr_exp" alt="...">
                </a>
            </div>-->
            <!-- Carousel -->
        </div>
        <div class="container paddingtop20 padding-bottom15 hidden-xs hidden-sm">
            <div class="consult-content-maindiv">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="justify">It’s time to get closer! For enhancing our connectivity, we are thrilled to
                            introduce you to The Experience Centre which offers the live experience of Mygubbi products.
                            The Experience Centre is the best place to touch & feel stylish products from our online
                            catalog, and see how aesthetically they can be fused with your dwellings. Visitors will
                            relish in a consultation (absolutely free) with a design expert who will assist in
                            decorating interiors.</p>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-md-6 padding-left0">
                            <img data-src="<%= imgBase + 'w_auto' + '/KINGBIRD_small_exscgy.jpg'%>"
                                 class="cld-responsive img-centered width100" alt="wardrobe">
                        </div>
                        <div class="col-md-6 padding-right0" style="padding-left: 40px;">
                            <h3 class="consult-h3" style="text-transform:initial;margin-top:55px;"><span class="color-orange">Don't confuse
                                this</span> with a furniture store.</h3>

                            <p class="justify">
                                It’s in a different class altogether, because it provides expert help in discovering
                                optimum design layouts.It’s more than hiring an interior designer! This is about
                                visualizing your inspirational abode , stimulating inspirations, enlivening dynamic shot
                                of ideas, and making practical progress towards dream home.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container flip-container hidden-xs hidden-sm">
            <div class="col-lg-12 text-center margin-top25 margin-bottom20">
                <h2 class="consult-h3" style="text-transform:initial;">What do we offer at
                    <span class="color-orange">The Experience Centre ?</span>
                </h2>
            </div>
            <div class="flip-div">
                <div class="flip-cards">
                    <div class="front-card">
                        <img class="width100" src="<%= imgBase %>consult/cons-1a.jpg" alt="Consultation & Planning">
                    </div>
                    <div class="reverse-card">
                        <img class="width100" src="<%= imgBase %>consult/cons-1b.jpg" alt="Consultation & Planning">
                    </div>
                </div>
                <div class="flip-cards">
                    <div class="front-card">
                        <img class="width100" src="<%= imgBase %>consult/cons-2a.jpg" alt="Consultation & Planning">
                    </div>
                    <div class="reverse-card">
                        <img class="width100" src="<%= imgBase %>consult/cons-2b.jpg" alt="Consultation & Planning">
                    </div>
                </div>
                <div class="flip-cards">
                    <div class="front-card">
                        <img class="width100" src="<%= imgBase %>consult/cons-3a.jpg" alt="Consultation & Planning">
                    </div>
                    <div class="reverse-card">
                        <img class="width100" src="<%= imgBase %>consult/cons-3b.jpg" alt="Consultation & Planning">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-color-white hidden-xs hidden-sm">
            <div class="container padding-bottom15">
                <div class="consult-content-maindiv">
                    <div class="col-lg-12">
                        <div class="col-md-4 padding0 consult-address-box">
                            <div class="row margin0">
                                <span class="text-center consult-grey-box">Address</span>
                            </div>
                            <div class="row margin0 paddingtop10">
                                <div class="col-md-1 col-sm-1 col-xs-1 padding0">
                                    <img src="<%= imgBase %>contact/ad.png" alt="address-icon" height="16px"
                                         width="16px">
                                </div>
                                <div class="col-md-11 col-sm-11 col-xs-11">
                                    <p class="font-size12">
                                        1502, 2nd Floor,
                                        19th Main Road,
                                        Sector 4, HSR Layout,
                                        Bangalore 560102
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4 padding-left30 padding-right0 consult-address-box">
                            <div class="row margin0">
                                <span class="text-center consult-grey-box">Timing</span>
                            </div>
                            <div class="row margin0 paddingtop10">
                                <div class="col-md-1 col-sm-1 col-xs-1 padding0">
                                    <img src="<%= imgBase %>contact/tt_21.png" alt="time-icon" height="16px"
                                         width="16px">
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10 padding5">
                                    <p class="font-size12">
                                        10am-8pm<br/>
                                        Open Everyday
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 padding-left30 padding-right0 consult-address-box"
                             style="border-right:0px;">
                            <div class="row margin0">
                                <span class="text-center consult-grey-box">Contact Us</span>
                            </div>
                            <div class="row margin0 paddingtop10">
                                <div class="col-md-1 col-sm-1 col-xs-1 padding0">
                                    <img src="<%= imgBase %>contact/P_07.png" alt="phone-icon" height="16px"
                                         width="16px">
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10 padding5 font-size12">
                                    +91 80 88 86 0860
                                </div>
                            </div>
                            <div class="row margin0">
                                <div class="col-md-1 col-sm-1 col-xs-1 padding0">
                                    <img src="<%= imgBase %>contact/M_07.png" alt="mail-icon" height="16px"
                                         width="16px">
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10 padding5 font-size12">
                                    reach@mygubbi.com
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid hidden-xs hidden-sm">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15555.391651543143!2d77.6451492!3d12.9174948!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1484351ae6ef%3A0x5d9e93030c5e41ac!2sOrange+Gubbi+technologies%2C+1504%2C+19th+Main+Rd%2C+Sector+4%2C+HSR+Layout%2C+Bengaluru%2C+Karnataka+560102!5e0!3m2!1sen!2sin!4v1455611931443"
                    width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>>
