<div class="bg-white">
    <section class="appliance-page-heading">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="text-center pt50 mob-padding-top-0">
                        <h2 class="kitchen-head"> Appliance </h2>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-10">
                    <p class="text-center pb20">
                        Appliances form the very backbone of your kitchen. From trendy hobs and chimneys to sleek
                        built-in microwaves, ovens and dishwashers, these appliances make your life easy and relaxed.
                        Comfort coupled with luxury, the appliances can actually transform the look and feel of
                        your kitchen.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="appliance-page-hob">
        <div class="hob-section position-relative">
            <div class="container-fluid some-name">
                <div class="row">
                    <div class="tab-content ward">
                        <div role="tabpanel" class="tab-pane hob-img active" id="steel-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1477019207/appliance/Steel.jpg" alt="thali_inlet">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1477019304/appliance/steel_mob.jpg" alt="thali_inlet">
                        </div>
                        <div role="tabpanel" class="tab-pane hob-img" id="glass-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1477018739/appliance/glass.jpg" alt="wardrobe">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1477019304/appliance/glass_mob.jpg" alt="wardrobe">
                        </div>
                        <div role="tabpanel" class="tab-pane hob-img" id="induction-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1477019207/appliance/Induction.jpg" alt="wardrobe">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1477019304/appliance/induction_mob.jpg" alt="wardrobe">
                        </div>
                    </div>
                    <div class="kitchen-tab">
                        <div class="col-md-offset-5 col-md-offset-5 col-md-6 text-center pt100 mob-padding-top-0">
                            <h2 class="kitchen-head">
                                HOB
                            </h2>
                            <div class="card kitchen-card">
                                <div class="row">
                                    <div class="col-sm-offset-3  col-md-offset-3 col-sm-6 col-md-6">
                                        <ul class="nav nav-tabs nav-justified" role="tablist">
                                            <li id="steel" class="hob-lnk active" role="presentation">
                                                <a aria-controls="related-image" role="tab" data-toggle="tab"> Steel </a>
                                            </li>
                                            <li id="glass" class="hob-lnk" role="presentation">
                                                <a aria-controls="related-collection" role="tab" data-toggle="tab"> Glass </a>
                                            </li>
                                            <li id="induction" class="hob-lnk" role="presentation">
                                                <a aria-controls="related-collection" role="tab" data-toggle="tab"> Induction </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane hob-cnt active" id="steel-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        Easy to manage and easy to maintain, steel hobs can make your cooking experience
                                                        completely pleasurable. Available in various sizes and designs in terms of burner
                                                        placement, steel hobs are also durable. These hobs are extremely safe and can
                                                        complement almost all colours of kitchen cabinets.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane hob-cnt" id="glass-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        Smooth and shiny glass hobs are an absolute delight. With proper heat distribution
                                                        and option for customized burner placement, these glass hobs can lend elegance to your kitchen.
                                                        Available in attractive patterns and designs, glass hob can very much be the highlight
                                                        of your kitchen. Utility and beauty both can be achieved with glass hob.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane hob-cnt" id="induction-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        Faster, smoother, safer, and more efficient, induction hob uses magnetic induction instead
                                                        of the regular flame. Heating as well as cooking is quick in induction. This comes with some
                                                        extra features too such as timers, temperatures, child safety locks. Impress your guests
                                                        and make your cooking experience pleasurable with this expert hob.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="appliance-page-chimney">
        <div class="chimney-section position-relative">
            <div class="container-fluid some-name">
                <div class="row">
                    <div class="tab-content ward">
                        <div role="tabpanel" class="tab-pane chimney-img active" id="fixed-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1477018738/appliance/Fixed-on-Wall-.jpg" alt="thali_inlet">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1477020112/appliance/fixedonwall_mob.jpg" alt="thali_inlet">
                        </div>
                        <div role="tabpanel" class="tab-pane chimney-img" id="built-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1477018739/appliance/Built-in.jpg" alt="wardrobe">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1477020112/appliance/builtin_mob.jpg" alt="wardrobe">
                        </div>
                    </div>
                    <div class="kitchen-tab-sink">
                        <div class="col-sm-offset-5 col-md-offset-6 col-md-6 text-center">
                            <h2 class="kitchen-head">
                                Chimney
                            </h2>
                            <div class="card kitchen-card">
                                <div class="row">
                                    <div class="col-sm-offset-3  col-md-offset-3 col-sm-6 col-md-6">
                                        <ul class="nav nav-tabs nav-justified" role="tablist">
                                            <li id="fixed" class="chimney-lnk active" role="presentation">
                                                <a aria-controls="related-image" role="tab" data-toggle="tab"> Fixed on wall </a>
                                            </li>
                                            <li id="built" class="chimney-lnk" role="presentation">
                                                <a aria-controls="related-collection" role="tab" data-toggle="tab"> Built In </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane chimney-cnt active" id="fixed-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        If you like to go the usual way, then fixed on wall chimney is the best
                                                        option for you. Keeps your kitchen fume free and stuffiness free with
                                                        this state-of-the-art chimney.This is designed for those traditional
                                                        kitchens where the stove is near the wall.  As this is fixed on the wall,
                                                        there is less or no ducts required for the exhaust smoke. The chimney can
                                                        be available in various colours to match the theme of your kitchen.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane chimney-cnt" id="built-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        This is the most comfortable option and makes kitchen maintenance so much easier.
                                                        If you feel a chimney will affect the beauty of your kitchen, then this is the best
                                                        option. It is directly fitted below the cabinet unit and the extra parts are not seen.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="appliance-page-appliance">
        <div class="appliance-section position-relative">
            <div class="container-fluid some-name">
                <div class="row">
                    <div class="tab-content ward">
                        <div role="tabpanel" class="tab-pane apl-img active" id="microwave-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1477018738/appliance/Microwave.jpg" alt="Built In Appliance">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1477024832/appliance/mircrowave_mob.jpg" alt="Built In Appliance">
                        </div>
                        <div role="tabpanel" class="tab-pane apl-img" id="dish-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1477018738/appliance/dishwasher.jpg" alt="Built In Appliance">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1477024832/appliance/dishwasher_mob.jpg" alt="Built In Appliance">
                        </div>
                        <div role="tabpanel" class="tab-pane apl-img" id="oven-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1477018739/appliance/oven_02_02.jpg" alt="Built In Appliance">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1477024832/appliance/oven_mob.jpg" alt="Built In Appliance">
                        </div>
                    </div>
                    <div class="kitchen-tab">
                        <div class="col-md-6 text-center pt100 mob-padding-top-0">
                            <h2 class="kitchen-head pt100 mob-padding-top-0">
                                Built In Appliance
                            </h2>
                            <div class="card kitchen-card">
                                <div class="row">
                                    <div class="col-sm-offset-2  col-md-offset-2 col-sm-8 col-md-8">
                                        <ul class="nav nav-tabs nav-justified" role="tablist">
                                            <li id="microwave" class="apl-lnk active" role="presentation">
                                                <a aria-controls="related-image" role="tab" data-toggle="tab"> Microwave </a>
                                            </li>
                                            <li id="dish" class="apl-lnk" role="presentation">
                                                <a aria-controls="related-collection" role="tab" data-toggle="tab"> Dish washer </a>
                                            </li>
                                            <li id="oven" class="apl-lnk" role="presentation">
                                                <a aria-controls="related-collection" role="tab" data-toggle="tab"> Oven </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane apl-cnt active" id="microwave-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        Pretty much a lifeline in today's time, an advanced microwave with enabling
                                                        functions can be a real time saver as well as redefine convenience. Sleek and
                                                        sophisticated in design it can add to the vibe of the kitchen. Extremely safe,
                                                        easy to maintain and most importantly easy to clean, microwave can be incredibly
                                                        useful for you.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane apl-cnt" id="dish-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        Don't let your precious crockery be washed ordinarily and be prone to breakage.
                                                        A seamless dishwasher can be the perfect answer to this hassle. Easy to operate
                                                        and convenient to manage, dishwasher is more about enhanced lifestyle and modern
                                                        ways of living.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane apl-cnt" id="oven-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        Bake some sweet goodness in your kitchen and let the aroma travel across your
                                                        home. Beautifully fitted, expert functional oven can be your happy place at home.
                                                        With its incredibly convenient placement and easy to learn functions, you can
                                                        give a try at baking by trying new recipes.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="appliance-page-sink">
        <div class="sink-section position-relative">
            <div class="container-fluid some-name">
                <div class="row">
                    <div class="tab-content ward">
                        <div role="tabpanel" class="tab-pane sink-img active" id="single-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1477053951/appliance/Single-bowl.jpg" alt="Built In Appliance">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1477054223/appliance/single_08_mob.jpg" alt="Built In Appliance">
                        </div>
                        <div role="tabpanel" class="tab-pane sink-img" id="double-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1477054136/appliance/double.jpg" alt="Built In Appliance">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1477054223/appliance/double_08_mob.jpg" alt="Built In Appliance">
                        </div>
                        <div role="tabpanel" class="tab-pane sink-img" id="composite-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1477053951/appliance/Composite-material.jpg" alt="Built In Appliance">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1477054223/appliance/composite_08_mob.jpg" alt="Built In Appliance">
                        </div>
                    </div>
                    <div class="kitchen-tab">
                        <div class="col-md-6 text-center pt100 mob-padding-top-0">
                            <h2 class="kitchen-head">
                                SINK
                            </h2>
                            <div class="card kitchen-card">
                                <div class="row">
                                    <div class="col-sm-offset-2  col-md-offset-2 col-sm-8 col-md-8">
                                        <ul class="nav nav-tabs nav-justified nav-new-justified" role="tablist">
                                            <li id="single" class="sink-lnk active" role="presentation">
                                                <a aria-controls="related-image" role="tab" data-toggle="tab"> Single Bowl </a>
                                            </li>
                                            <li id="double" class="sink-lnk" role="presentation">
                                                <a aria-controls="related-collection" role="tab" data-toggle="tab"> Double </a>
                                            </li>
                                            <li id="composite" class="sink-lnk" role="presentation">
                                                <a aria-controls="related-collection" role="tab" data-toggle="tab"> Composite Material </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane sink-cnt active" id="single-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        A hygienic and perfectly designed sink to keep your unclean utensils.
                                                        With enough capacity and spacious surface, this sink can accommodate
                                                        large number of utensils. So if you have a party planned, don't worry
                                                        about arranging unwashed dishes.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane sink-cnt" id="double-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        This one makes life so much easier by compartmentalizing utensils.
                                                        Keep your breakable utensils in a different sink and daily use utensils in the other one.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane sink-cnt" id="composite-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        If you thought your sink can't add to the beauty of your kitchen,
                                                        you were wrong. Composite material sink is innovative and lends a
                                                        unique tone to the kitchen. Who said sink can't be a thing of beauty?
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="appliance-page-faucet">
        <div class="faucet-section position-relative">
            <div class="container-fluid some-name">
                <div class="row">
                    <div class="tab-content ward">
                        <div role="tabpanel" class="tab-pane faucet-img active" id="singlefaucet-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1477299788/appliance/Single-faucet.jpg" alt="Built In Appliance">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1477303864/appliance/single_mob.jpg" alt="Built In Appliance">
                        </div>
                        <div role="tabpanel" class="tab-pane faucet-img" id="doublefaucet-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1477299788/appliance/Double-faucet.jpg" alt="Built In Appliance">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1477303864/appliance/double_mob.jpg" alt="Built In Appliance">
                        </div>
                        <div role="tabpanel" class="tab-pane faucet-img" id="wallfaucet-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1477299788/appliance/Wall-faucet.jpg" alt="Built In Appliance">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1477303864/appliance/wall_mounted_mob.jpg" alt="Built In Appliance">
                        </div>
                        <div role="tabpanel" class="tab-pane faucet-img" id="showerfaucet-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1477299788/appliance/Shower-faucet.jpg" alt="Built In Appliance">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1477303864/appliance/with_extent_mob.jpg" alt="Built In Appliance">
                        </div>
                    </div>
                    <div class="kitchen-tab">
                        <div class="col-md-offset-6 col-md-6 text-center pt100 mob-padding-top-0">
                            <h2 class="kitchen-head">
                                Faucet
                            </h2>
                            <div class="card kitchen-card">
                                <div class="row">
                                    <div class="col-sm-offset-2  col-md-offset-2 col-sm-8 col-md-8">
                                        <ul class="nav nav-tabs nav-justified nav-new-justified" role="tablist">
                                            <li id="singlefaucet" class="faucet-lnk active" role="presentation">
                                                <a aria-controls="related-image" role="tab" data-toggle="tab"> Single </a>
                                            </li>
                                            <li id="doublefaucet" class="faucet-lnk" role="presentation">
                                                <a aria-controls="related-collection" role="tab" data-toggle="tab"> Double </a>
                                            </li>
                                            <li id="wallfaucet" class="faucet-lnk" role="presentation">
                                                <a aria-controls="related-collection" role="tab" data-toggle="tab"> Wall mounted </a>
                                            </li>
                                            <li id="showerfaucet" class="faucet-lnk" role="presentation">
                                                <a aria-controls="related-collection" role="tab" data-toggle="tab"> With extended shower </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane faucet-cnt active" id="singlefaucet-content">
                                        <div class="row">
                                            <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                                                <div class="drawers-details">
                                                    <p>
                                                        Lend some glamour to your kitchen with the elegant and sleek single faucets.
                                                        With unmatched metallic sheen and seamless flow, it can be the signature of
                                                        your kitchen. These are also easy to use and affordable.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane faucet-cnt" id="doublefaucet-content">
                                        <div class="row">
                                            <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                                                <div class="drawers-details">
                                                    <p>
                                                        If you want both hot and cold water, this is the one for you. And the greatest
                                                        advantage being - if one handle breaks, you can still use the other one. From
                                                        vintage to contemporary, double faucets range includes exclusive stunning pieces
                                                        which can transform your kitchen into a stylish arena.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane faucet-cnt" id="wallfaucet-content">
                                        <div class="row">
                                            <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                                                <div class="drawers-details">
                                                    <p>
                                                        This gives a stylish look to the wash basin. The faucets come in unique and beautiful
                                                        designs, shapes and sizes which can actually enhance the beauty of your kitchen.
                                                        Only thing to be considered  - the pipework and faucet body should be installed
                                                        before the tiles are put.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane faucet-cnt" id="showerfaucet-content">
                                        <div class="row">
                                            <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                                                <div class="drawers-details">
                                                    <p>
                                                        Design your cooking experience with luxury and comfort with faucets with extended shower.
                                                        With smooth flow and easy to operate system, these faucets can truly redefine the soothing
                                                        and refreshing experience of cleaning or washing. Available in gorgeous metallic sheen,
                                                        these faucets with make you fall in love with your kitchen every time you enter.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>