<section class="bg-white">
    <div class="container bg-color-white hidden-xs">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i></a></li>
                <li class="active"><a href="/stories">Stories</a></li>
            </ul>
        </div>
    </div>
    <div class="container blogs">
        <div class="col-md-8 col-sm-8">
            <% if(typeof(full_story) !== 'undefined') {  %>

            <div class="padding10">
                <h2 class="justify hidden-xs">
                    <% var blg_hdng = full_story.blog_heading;
                    var r = /\\u([\d\w]{4})/gi;
                    blg_hdng = blg_hdng.replace(r, function (match, grp) {
                    return String.fromCharCode(parseInt(grp, 16)); } );
                    blg_hdng = unescape(blg_hdng); %>
                    <%= blg_hdng %>
                    <% document.title = blg_hdng + ' | mygubbi'; %>
                </h2>
                <h4 class="justify hidden-lg hidden-md hidden-sm">
                    <%= blg_hdng %>
                </h4>

                <div class="date">By <%= full_story.author %> | <%= full_story.date_of_publish %></div>
                <div class="padding10-0">
                    <img src="<%= full_story.blog_main_image %>"
                         class="img-responsive"
                         title="<%= blg_hdng %>"
                         alt="<%= blg_hdng %>">
                </div>
                <p>
                    <% var blg_stry = full_story.blog_content;
                    var r = /\\u([\d\w]{4})/gi;
                    blg_stry = blg_stry.replace(r, function (match, grp) {
                    return String.fromCharCode(parseInt(grp, 16)); } );
                    blg_stry = unescape(blg_stry); %>
                    <%= blg_stry %>
                </p>
                <div class="padding-top15">
                    <h4>Article posted in : </h4>
                    <% _.each(full_story.blog_categories, function(cat){ %>
                            <span class="tag-card">
                                <%= cat %>
                            </span>
                    <% }); %>
                </div>
            </div>

            <% }%>

        </div>
        <div class="col-md-4 col-sm-4 padding25-15">
            <h3>Recent Stories</h3>
            <% if(typeof(stories) !== 'undefined'){ %>
            <% _.each(stories, function(story){ %>

            <%
            var blog_url = story.blog_heading;
            blog_url = blog_url.replace(/-/g,"_");
            blog_url = blog_url.replace(/\s/g,"-");

            %>

            <div class="row margin25-0-0">
                <div class="col-md-5 padding0">
                    <a href="/story-<%= encodeURIComponent(blog_url) %>">
                        <img
                                src="<%= story.blog_main_image %>"
                                class="img-responsive"
                                title="">
                    </a>
                </div>
                <div class="col-md-7 padding-right0">
                    <a href="/story-<%= encodeURIComponent(blog_url) %>">
                        <h5>
                            <% var blg_hdng = story.blog_heading;
                            var r = /\\u([\d\w]{4})/gi;
                          blg_hdng = blg_hdng.replace(r, function (match, grp) {
                            return String.fromCharCode(parseInt(grp, 16)); } );
                            blg_hdng = unescape(blg_hdng); %>
                            <%= blg_hdng %>
                        </h5>
                    </a>
                    <div class="date_small"><%= story.date_of_publish %></div>
                </div>
            </div>
            <% }); } %>
        </div>
    </div>
</section>
