<section class="menu-spacer bg-color-white">
    <div class="container">
        <% if(typeof(full_diy) !== 'undefined') {  %>
        <div class="row">
            <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-10 col-md-10 col-lg-10">
                <div class="padding10-0">
                    <img src="<%= full_diy.diy_main_image %>"
                         class="img-responsive"
                         title="<%= full_diy.diy_heading %>"
                         alt="<%= full_diy.diy_heading %>">
                </div>
                <div class="date align-center"><%= full_diy.date_of_publish %> | by <%= full_diy.author %></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-10 col-md-10 col-lg-10">
                <div class="row">
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <h2 class="txt-urstory media-txt-title justify hidden-xs">
                            <% var diy_hdng = full_diy.diy_heading;
                            /*var r = /\\u([\d\w]{4})/gi;
                            diy_hdng = diy_hdng.replace(r, function (match, grp) {
                            return String.fromCharCode(parseInt(grp, 16)); } );
                            diy_hdng = unescape(diy_hdng);*/ %>
                            <%= diy_hdng %>
                            <% document.title = diy_hdng + ' | mygubbi'; %>
                        </h2>
                        <h4 class="txt-urstory media-txt-title justify hidden-lg hidden-md hidden-sm">
                            <%= diy_hdng %>
                        </h4>
                        <p>
                            <% var blg_stry = full_diy.diy_content;
                            /*var r = /\\u([\d\w]{4})/gi;
                            blg_stry = blg_stry.replace(r, function (match, grp) {
                            return String.fromCharCode(parseInt(grp, 16)); } );
                            blg_stry = unescape(blg_stry);*/ %>
                            <%= blg_stry %>
                        </p>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="blog-side-box">
                            <h3 class="txt-urstory media-txt-title">More Diys</h3>
                            <% if(typeof(rec_diys) !== 'undefined'){ %>
                            <% _.each(rec_diys, function(diy){ %>

                            <%
                            var diy_url = diy.diyId;
                            diy_url = diy_url.replace(/-/g,"_");
                            diy_url = diy_url.replace(/-/g," ");
                            diy_url = diy_url.replace(/\s/g,"-");

                            %>


                            <div class="row margin25-0-0">
                                <div class="col-md-5 padding0">
                                    <a href="/diy-<%= encodeURIComponent(diy_url) %>">
                                        <img
                                                src="<%= diy.diy_main_image %>"
                                                class="img-responsive"
                                                title="">
                                    </a>
                                </div>
                                <div class="col-md-7 padding-right0">
                                    <a href="/diy-<%= encodeURIComponent(diy_url) %>">
                                        <h5>
                                            <% var diy_hdng1 = diy.diy_heading;
                                            /*var r = /\\u([\d\w]{4})/gi;
                                            diy_hdng1 = diy_hdng1.replace(r, function (match, grp) {
                                            return String.fromCharCode(parseInt(grp, 16)); } );
                                            diy_hdng1 = unescape(diy_hdng1);*/ %>
                                            <%= diy_hdng1 %>
                                        </h5>
                                    </a>
                                    <div class="date_small"><%= diy.date_of_publish %></div>
                                </div>
                            </div>
                            <% }); } %>


                            <div class="row pt30 pb20">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <span class="pe-7s-search blog-search pe-fw"></span>
                                    <input type="text" class="form-control" id="text-search" />
                                </div>
                            </div>

                            <div class="row pt30 pb20">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <h2 class="txt-urstory media-txt-title">Tags</h2>
                                    <ul class="list-inline padding0 margin0">
                                        <li>
                                            <a class="btn blog-card" href="/stories-all">Home</a>
                                        </li>

                                        <li><a class="btn blog-card" href="/stories-trends">Trends & Styles</a></li>

                                        <li><a class="btn blog-card" href="/stories-interiors">Interiors</a></li>

                                        <li><a class="btn blog-card" href="/stories-architecture">Architecture</a></li>

                                        <li><a class="btn blog-card" href="/stories-design">Design</a></li>

                                        <li><a class="btn blog-card" href="/stories-outdoor">Outdoors</a></li>

                                        <li><a class="btn blog-card" href="/stories-kitchen">Kitchen</a></li>

                                        <li><a class="btn blog-card" href="/stories-bathroom">Bathroom</a></li>

                                        <li><a class="btn blog-card" href="/stories-expert-tips">Expert Tips</a></li>

                                        <li><a class="btn blog-card" href="/stories-living">Living Room</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row pt30">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <h2 class="txt-urstory media-txt-title">Share</h2>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <% var share_url = window.location.href %>
                                    <% var share_title = diy_hdng %>
                                    <ul class="socialLnkShare list-inline">
                                        <li>
                                            <a href="javascript:void(0);"
                                               onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<%=share_url%>&t=<%=share_title%>', '', 'width=585,height=368')"
                                               class="share-popup11 social-menu-lnk"><i class="fa fa-facebook-square font-size22"></i></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"
                                               onclick="window.open('https://www.pinterest.com/pin/create/link/?url=<%=share_url%>&description=<%= share_title %>', '', 'width=585,height=368')"
                                               class="share-popup11 social-menu-lnk"><i class="fa fa-pinterest-square font-size22"></i></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"
                                               onclick="window.open('https://www.twitter.com/intent/tweet?url=<%=share_url%>&text=<%= share_title %>', '', 'width=585,height=368')"
                                               class="share-popup11 social-menu-lnk"><i class="fa fa-twitter-square font-size22"></i></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"
                                               onclick="window.open('https://plus.google.com/share?url=<%=share_url%>', '', 'width=585,height=368')"
                                               class="share-popup11 social-menu-lnk"><i class="fa fa-google-plus-square font-size22"></i></a>
                                        </li>
                                        <li>
                                            <% var whatsappmessage = encodeURIComponent(share_title)+" - "+encodeURIComponent(share_url); %>
                                            <a href="whatsapp://send?text=<%= whatsappmessage %>" data-action="share/whatsapp/share">Share via Whatsapp</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }%>
    </div>
</section>
<script type="text/javascript">
    $(function() {
        $('#text-search').bind('keyup change', function(ev) {
            // pull in the new value
            var searchTerm = $(this).val();

            // remove any old highlighted terms
            $('body').removeHighlight();

            // disable highlighting if empty
            if ( searchTerm ) {
                // highlight the new term
                $('body').highlight( searchTerm );
            }
        });
    });
</script>