<section class="bg-white padding100-0">
    <div class="container blogs">
        <div class="col-md-8 col-sm-8">
            <div class="padding10">
                <h2>Applying a Monochrome Color Palette to Your Interiors</h2>
                <div class="date">By Author | January 24, 2016</div>
                <div class="padding10-0">
                    <img src="http://cdn.shopify.com/s/files/1/1054/3918/files/How-to-add.jpg?7468219420049423064"
                         class="img-responsive">
                </div>
                <p>
                    Choosing the right color scheme for your home can be quite the task.
                    With the sheer range of colors available, making the right choice can be hard.
                    How about taking another route to your color palette. Creating a monochromatic space is quite easy,
                    once you understand the nuances. The resultant effect is ...
                    <a class="color-orange">Read Full Story</a>
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 padding25-15">
            <h3>Recent Stories</h3>
            <div class="row margin25-0-0">
                <div class="col-md-5 padding0">
                    <img src="http://cdn.shopify.com/s/files/1/1054/3918/files/How-to-add.jpg?7468219420049423064"
                         class="img-responsive">
                </div>
                <div class="col-md-7 padding-right0">
                    <h5>
                        Applying a Monochrome Color Palette to Your Interiors
                    </h5>
                    <div class="date_small">January 24, 2016</div>
                </div>
            </div>
            <div class="row margin25-0-0">
                <div class="col-md-5 padding0">
                    <img src="http://cdn.shopify.com/s/files/1/1054/3918/files/How-to-add.jpg?7468219420049423064"
                         class="img-responsive">
                </div>
                <div class="col-md-7 padding-right0">
                    <h5>
                        Applying a Monochrome Color Palette to Your Interiors
                    </h5>
                    <div class="date_small">January 24, 2016</div>
                </div>
            </div>
        </div>
    </div>
</section>