<% console.log("======full_story======") %>
<% console.log(full_story) %>
<section class="menu-spacer bg-color-white">
    <div class="container">
        <% if(typeof(full_story) !== 'undefined') {  %>
        <div class="row">
            <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-10 col-md-10 col-lg-10">
                <div class="padding10-0">
                    <img src="<%= full_story.blog_main_image %>"
                         class="img-responsive"
                         title="<%= blg_hdng %>"
                         alt="<%= blg_hdng %>">
                </div>
                <div class="date align-center"><%= full_story.date_of_publish %> | by <%= full_story.author %></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-10 col-md-10 col-lg-10">
                <div class="row">
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <h2 class="txt-urstory media-txt-title justify hidden-xs">
                            <% var blg_hdng = full_story.blog_heading;
                            /*var r = /\\u([\d\w]{4})/gi;
                            blg_hdng = blg_hdng.replace(r, function (match, grp) {
                            return String.fromCharCode(parseInt(grp, 16)); } );
                            blg_hdng = unescape(blg_hdng);*/ %>
                            <%= blg_hdng %>
                            <% document.title = blg_hdng + ' | mygubbi'; %>
                        </h2>
                        <h4 class="txt-urstory media-txt-title justify hidden-lg hidden-md hidden-sm">
                            <%= blg_hdng %>
                        </h4>
                        <p>
                            <% var blg_stry = full_story.blog_content;
                            /*var r = /\\u([\d\w]{4})/gi;
                            blg_stry = blg_stry.replace(r, function (match, grp) {
                            return String.fromCharCode(parseInt(grp, 16)); } );
                            blg_stry = unescape(blg_stry);*/ %>
                            <%= blg_stry %>
                        </p>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="blog-side-box">
                            <h3 class="txt-urstory media-txt-title">More Stories</h3>
                            <% if(typeof(rec_stories) !== 'undefined'){ %>
                            <% _.each(rec_stories, function(story){ %>

                            <%
                            var blog_url = story.blogId;
                            blog_url = blog_url.replace(/-/g,"_");
                            blog_url = blog_url.replace(/-/g," ");
                            blog_url = blog_url.replace(/\s/g,"-");
                            console.log(blog_url);

                            %>


                            <div class="row margin25-0-0">
                                <div class="col-md-5 padding0">
                                    <a href="/story-<%= blog_url %>">
                                        <img
                                                src="<%= story.blog_main_image %>"
                                                class="img-responsive"
                                                title="">
                                    </a>
                                </div>
                                <div class="col-md-7 padding-right0">
                                    <a href="/story-<%= blog_url %>">
                                        <h5>
                                            <% var blg_hdng1 = story.blog_heading;
                                            /*var r = /\\u([\d\w]{4})/gi;
                                            blg_hdng1 = blg_hdng1.replace(r, function (match, grp) {
                                            return String.fromCharCode(parseInt(grp, 16)); } );
                                            blg_hdng1 = unescape(blg_hdng1);*/ %>
                                            <%= blg_hdng1 %>
                                        </h5>
                                    </a>
                                    <div class="date_small"><%= story.date_of_publish %></div>
                                </div>
                            </div>
                            <% }); } %>


                            <div class="row pt30 pb20 hidden-xs hidden-sm">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <span class="pe-7s-search blog-search pe-fw"></span>
                                    <input type="text" class="form-control" id="text-search" />
                                </div>
                            </div>

                            <div class="row pt30 pb20 hidden-xs hidden-sm">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <h2 class="txt-urstory media-txt-title">Tags</h2>
                                    <ul class="list-inline padding0 margin0">
                                        <li>
                                            <a class="btn blog-card" href="/stories-all">Home</a>
                                        </li>

                                        <li><a class="btn blog-card" href="/stories-trends">Trends & Styles</a></li>

                                        <li><a class="btn blog-card" href="/stories-interiors">Interiors</a></li>

                                        <li><a class="btn blog-card" href="/stories-architecture">Architecture</a></li>

                                        <li><a class="btn blog-card" href="/stories-design">Design</a></li>

                                        <li><a class="btn blog-card" href="/stories-outdoor">Outdoors</a></li>

                                        <li><a class="btn blog-card" href="/stories-kitchen">Kitchen</a></li>

                                        <li><a class="btn blog-card" href="/stories-bathroom">Bathroom</a></li>

                                        <li><a class="btn blog-card" href="/stories-expert-tips">Expert Tips</a></li>

                                        <li><a class="btn blog-card" href="/stories-living">Living Room</a></li>

                                        <li><a class="btn blog-card" href="/stories-wardrobes">Wardrobes</a></li>

                                        <li><a class="btn blog-card" href="/stories-storage-solutions"> Storage Solutions </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row pt30 hidden-xs hidden-sm">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <h2 class="txt-urstory media-txt-title">Share</h2>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <% var share_url = window.location.href %>
                                    <% var share_title = blg_hdng %>
                                    <ul class="socialLnkShare list-inline">
                                        <li>
                                            <a href="javascript:void(0);"
                                               onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<%=share_url%>&t=<%=share_title%>', '', 'width=585,height=368')"
                                               class="share-popup11 social-menu-lnk"><i class="fa fa-facebook-square font-size22"></i></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"
                                               onclick="window.open('https://www.pinterest.com/pin/create/link/?url=<%=share_url%>&description=<%= share_title %>', '', 'width=585,height=368')"
                                               class="share-popup11 social-menu-lnk"><i class="fa fa-pinterest-square font-size22"></i></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"
                                               onclick="window.open('https://www.twitter.com/intent/tweet?url=<%=share_url%>&text=<%= share_title %>', '', 'width=585,height=368')"
                                               class="share-popup11 social-menu-lnk"><i class="fa fa-twitter-square font-size22"></i></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"
                                               onclick="window.open('https://plus.google.com/share?url=<%=share_url%>', '', 'width=585,height=368')"
                                               class="share-popup11 social-menu-lnk"><i class="fa fa-google-plus-square font-size22"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }%>
    </div>
</section>
<script type="text/javascript">
    $(function() {
        $('#text-search').bind('keyup change', function(ev) {
            // pull in the new value
            var searchTerm = $(this).val();

            // remove any old highlighted terms
            $('body').removeHighlight();

            // disable highlighting if empty
            if ( searchTerm ) {
                // highlight the new term
                $('body').highlight( searchTerm );
            }
        });
    });
</script>