<% if(typeof(lateststories2) !== 'undefined'){ %>

<div class="col-lg-4 col-sm-4 col-md-4 padding5">
    <div class="style-image-overlay">
        <% var blog_main_image =lateststories2.blog_main_image; %>
        <img src="<%= blog_main_image %>" class="hidden-xs hidden-sm object-fit_fill" style="height:450px;" alt="Trend & Style" />
        <img src="<%= blog_main_image %>" class="hidden-lg hidden-md object-fit_fill" style="height:300px;" alt="Trend & Style" />
        <div class="txt-over-style-image">
            <div class="width100">
                <p class="font-size35 txt-color-orange"> Architecture </p></div>
            <div class="width100 hidden-xs hidden-sm">
                <p class="font-size12 font-weight400"> Get the right layout of building your home </p>
            </div>
            <div class="pull-right">
                <a href="/stories-architecture">
                    <button class="btn btn-explore">EXPLORE</button>
                </a>
            </div>
        </div>
    </div>
</div>
<% } %>
