<% if(typeof(lateststories1) !== 'undefined'){ %>

<div class="col-lg-4 col-sm-4 col-md-4 padding5 hidden-xs">
    <div class="trend-image-overlay">
        <% var blog_main_image =lateststories1.blog_main_image; %>
        <img src="<%= blog_main_image %>" class="hidden-xs hidden-sm object-fit_fill" style="height:450px;" alt="Trend & Style" />
        <img src="<%= blog_main_image %>" class="hidden-lg hidden-md object-fit_fill" style="height:300px;" alt="Trend & Style" />
        <div class="txt-over-trendstyle-image">
            <div class="width100">
                <p class="font-size35 txt-color-orange">Trends</p>
            </div>
            <div class="width100 hidden-xs hidden-sm">
                <p class="font-size12 font-weight400">
                    See who is designing the ramp of home interiors
                </p>
            </div>
            <div class="width0 trend-explore-space">
                <a href="/story-Make-the-most-of-your-studio-apartment">
                    <button class="btn btn-explore"> EXPLORE </button>
                </a>
            </div>
        </div>
    </div>
</div>
<% } %>
