<style>
   	.waterfall{
	}
	.waterfall > div {
		margin:0px 0px 0px 0px;
		padding: 15px;
	}
	.waterfall > div:hover{
	}
	opacity: 1;
	}
	.waterfall > .content-column > div{
		margin-right: 0;
	}
	.special{
	}
</style>
<link rel="stylesheet" href="/js/libs/highlight/highlight.css">
<script type="text/javascript" src="/js/libs/highlight/highlight.js"></script>
<section class="menu-spacer bg-color-white">

    <!-- Start story bg -->
    <div class="story-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6 color-bg bg-orange-blog">
                    <h1>Meanwhile Curiosities Playful, Sharp, Brilliant</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End story bg -->

    <div class="career-culture-section pt30 pb30">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 pt30 pb30">
                    <ul id="blog-menu-list" class="nav navbar-center navbar-nav blog-menu">
                        <li <% if((typeof(selCat) !== 'undefined') && (selCat == "all")){ %> class="active" <% } %> ><a href="/stories-all">Home</a></li>

                        <li <% if((typeof(selCat) !== 'undefined') && (selCat == "trends")){ %> class="active" <% } %> ><a href="/stories-trends">Trends & Styles</a></li>

                        <li <% if((typeof(selCat) !== 'undefined') && (selCat == "interiors")){ %> class="active" <% } %> ><a href="/stories-interiors">Interiors</a></li>

                        <li <% if((typeof(selCat) !== 'undefined') && (selCat == "architecture")){ %> class="active" <% } %> ><a href="/stories-architecture">Architecture</a></li>

                        <li <% if((typeof(selCat) !== 'undefined') && (selCat == "design")){ %> class="active" <% } %> ><a href="/stories-design">Design</a></li>

                        <li <% if((typeof(selCat) !== 'undefined') && (selCat == "outdoor")){ %> class="active" <% } %> ><a href="/stories-outdoor">Outdoors</a></li>

                        <li <% if((typeof(selCat) !== 'undefined') && (selCat == "kitchen")){ %> class="active" <% } %> ><a href="/stories-kitchen">Kitchen</a></li>

                        <li <% if((typeof(selCat) !== 'undefined') && (selCat == "bathroom")){ %> class="active" <% } %> ><a href="/stories-bathroom">Bathroom</a></li>

                        <li <% if((typeof(selCat) !== 'undefined') && (selCat == "expert-tips")){ %> class="active" <% } %> ><a href="/stories-expert-tips">Expert Tips</a></li>

                        <li <% if((typeof(selCat) !== 'undefined') && (selCat == "living")){ %> class="active" <% } %> ><a href="/stories-living">Living Room</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div id="box1">
                                <% if(typeof(stories) !== 'undefined'){ count = 1; %>
                                <% _.each(stories, function(bgstory){ %>
                                <%
                                var blog_url = bgstory.blogId;
                                blog_url = blog_url.replace(/-/g,"_");
                                blog_url = blog_url.replace(/-/g," ");
                                blog_url = blog_url.replace(/\s/g,"-");
                                //console.log(blog_url);

                                %>
                                <% if(typeof(bgstory) !== 'undefined' && bgstory != ""){ %>
                                <% if(count < 6){ %>
                                <% if (count % 2 != 0) { %>

                                <div class="special pb20 pl10 pr10">
                                    <div class="show-blog-img">
                                        <a href="/story-<%= blog_url %>">
                                        <img
                                                src="<%= bgstory.blog_main_image %>"
                                                class="img-responsive"
                                                title="<%= bgstory.blog_heading %>"
                                                alt="<%= bgstory.blog_heading %>"
                                        <% if(count == 5){ %> style="height: 350px;" <% } %>
                                        >
                                            </a>
                                    </div>
                                    <p class="text-muted text-left date"><%= bgstory.date_of_publish %> | by <%= bgstory.author %></p>
                                    <a href="/story-<%= blog_url %>">
                                        <h2 class="txt-urstory media-txt-title">
                                            <%= bgstory.blog_heading %>
                                        </h2>
                                    </a>
                                    <p class="font-size14">
                                        <% var cnt = 0; %>
                                        <% _.each(bgstory.blog_categories, function(cat){ %>
                                        <% if(cnt != 0) { %> | <% } %>
                                        <span class="blog-borderbtm"><%= cat %></span>
                                        <% cnt = cnt + 1; }); %>
                                    </p>
                                    <p class="pt10"> <!--<%= bgstory.blog_content %>-->

                                        <% var blg_stry = bgstory.blog_content;
                                        var r = /\\u([\d\w]{4})/gi;
                                        blg_stry = blg_stry.replace(r, function (match, grp) {
                                        return String.fromCharCode(parseInt(grp, 16)); } );
                                        blg_stry = unescape(blg_stry);
                                        var n = blg_stry.indexOf('</p>');
                                    if (n > 200){  %>
                                    <% var stry = blg_stry.slice(0, 180); %>
                                    <%= stry %>...
                                    <% } else { %>
                                    <% var stry = blg_stry.slice(0, n); %>
                                    <%= stry %>
                                    <% } %>

                                    <a href="/story-<%= blog_url %>" class="color-orange read_full">Read Full Story</a>
                                    </p>

                                </div>

                                <% }else{ %>

                                <div class="special pb20 pl10 pr10">
                                    <div class="show-blog-img">
                                        <a href="/story-<%= blog_url %>">
                                        <img
                                                src="<%= bgstory.blog_main_image %>"
                                                class="img-responsive"
                                                title="<%= bgstory.blog_heading %>"
                                                alt="<%= bgstory.blog_heading %>"
                                        <% if(count == 2){ %> style="height: 350px;" <% } %>
                                        >
                                        </a>
                                    </div>
                                    <p class="text-muted text-left date"><%= bgstory.date_of_publish %> | by <%= bgstory.author %></p>
                                    <a href="/story-<%= blog_url %>">
                                        <h2 class="txt-urstory media-txt-title">
                                            <%= bgstory.blog_heading %>
                                        </h2>
                                    </a>
                                    <p class="font-size14">
                                        <% var cnt = 0; %>
                                        <% _.each(bgstory.blog_categories, function(cat){ %>
                                        <% if(cnt != 0) { %> | <% } %>
                                        <span class="blog-borderbtm"><%= cat %></span>
                                        <% cnt = cnt + 1; }); %>
                                    </p>
                                    <p class="pt10"> <!--<%= bgstory.blog_content %>-->

                                        <% var blg_stry = bgstory.blog_content;
                                        var r = /\\u([\d\w]{4})/gi;
                                        blg_stry = blg_stry.replace(r, function (match, grp) {
                                        return String.fromCharCode(parseInt(grp, 16)); } );
                                        blg_stry = unescape(blg_stry);
                                        var n = blg_stry.indexOf('</p>');
                                    if (n > 200){  %>
                                    <% var stry = blg_stry.slice(0, 180); %>
                                    <%= stry %>...
                                    <% } else { %>
                                    <% var stry = blg_stry.slice(0, n); %>
                                    <%= stry %>
                                    <% } %>

                                    <a href="/story-<%= blog_url %>" class="color-orange read_full">Read Full Story</a>
                                    </p>

                                    <% if(count == 2){ %>
                                    <div class="padding20-15" style="border: 2px solid #666;margin:110px 0px;">
                                        <p>Have nothing in your house that you do not know to be useful, or believe to be beautiful. Have nothing in your house that you do not know to be useful, or believe to be beautiful.</p>
                                        <p class="text-muted text-left">DIETER RAMS</p>
                                    </div>
                                    <% } %>

                                </div>

                                <% } %>
                                <% } %>
                                <% } %>
                                <% count++; }); %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="blog-side-box">
                        <h3 class="txt-urstory media-txt-title">More Stories</h3>
                        <% if(typeof(rec_stories) !== 'undefined'){ %>
                        <% _.each(rec_stories, function(story){ %>

                        <%
                        var blog_url = story.blogId;
                        blog_url = blog_url.replace(/-/g,"_");
                        blog_url = blog_url.replace(/-/g," ");
                        blog_url = blog_url.replace(/\s/g,"-");
                        //console.log(blog_url);

                        %>

                        <div class="row margin25-0-0">
                            <div class="col-md-5 padding0">
                                <a href="/story-<%= blog_url %>">
                                    <img
                                            src="<%= story.blog_main_image %>"
                                            class="img-responsive"
                                            title="">
                                </a>
                            </div>
                            <div class="col-md-7 padding-right0">
                                <a href="/story-<%= blog_url %>">
                                    <h5>
                                        <% var blg_hdng = story.blog_heading;
                                        var r = /\\u([\d\w]{4})/gi;
                                        blg_hdng = blg_hdng.replace(r, function (match, grp) {
                                        return String.fromCharCode(parseInt(grp, 16)); } );
                                        blg_hdng = unescape(blg_hdng); %>
                                        <%= blg_hdng %>
                                    </h5>
                                </a>
                                <div class="date_small"><%= story.date_of_publish %></div>
                            </div>
                        </div>
                        <% }); } %>


                        <div class="row pt30 pb20">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <span class="pe-7s-search blog-search pe-fw"></span>
                                <input type="text" class="form-control" id="text-search" />
                            </div>
                        </div>

                        <div class="row pt30 pb20">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <h2 class="txt-urstory media-txt-title">Tags</h2>
                                <ul class="blog-menu-list list-inline padding0 margin0">
                                    <li>
                                        <a class="btn blog-card" href="/stories-all">Home</a>
                                    </li>

                                    <li><a class="btn blog-card" href="/stories-trends">Trends & Styles</a></li>

                                    <li><a class="btn blog-card" href="/stories-interiors">Interiors</a></li>

                                    <li><a class="btn blog-card" href="/stories-architecture">Architecture</a></li>

                                    <li><a class="btn blog-card" href="/stories-design">Design</a></li>

                                    <li><a class="btn blog-card" href="/stories-outdoor">Outdoors</a></li>

                                    <li><a class="btn blog-card" href="/stories-kitchen">Kitchen</a></li>

                                    <li><a class="btn blog-card" href="/stories-bathroom">Bathroom</a></li>

                                    <li><a class="btn blog-card" href="/stories-expert-tips">Expert Tips</a></li>

                                    <li><a class="btn blog-card" href="/stories-living">Living Room</a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="row pt30">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <h2 class="txt-urstory media-txt-title">Share</h2>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <ul class="nav navbar-nav navbar-left">
                                <li>
                                    <a href="https://www.instagram.com/my_gubbi/" target="_blank" class="social-menu-lnk font-size22"><i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="social-menu-lnk font-size22"><i class="fa fa-youtube-square" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/myGubbi/" target="_blank" class="social-menu-lnk font-size22"><i class="fa fa-facebook-square" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://in.pinterest.com/my_gubbi/mygubbi/" target="_blank" class="social-menu-lnk font-size22"><i class="fa fa-pinterest-square" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/my_gubbi" target="_blank" class="social-menu-lnk font-size22"><i class="fa fa-twitter-square" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 align-center pb20">
                    <button class="btn btn-orange" id="older-post-lnk">OLDER POSTS</button>
                </div>
            </div>
            <div class="row" id="older_posts">
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div id="box2">
                                <% if(typeof(stories) !== 'undefined'){ count = 1; %>
                                <% _.each(stories, function(bgstory){ %>
                                <% if(typeof(bgstory) !== 'undefined' && bgstory != ""){ %>
                                <% if(count > 5){ %>
                                <% if (count % 2 != 0) { %>

                                <div class="special pb20 pl10 pr10">
                                    <div class="show-blog-img">
                                        <a href="/story-<%= encodeURIComponent(bgstory.blog_heading) %>">
                                        <img
                                            src="<%= bgstory.blog_main_image %>"
                                            class="img-responsive"
                                            title="<%= bgstory.blog_heading %>"
                                            alt="<%= bgstory.blog_heading %>"
                                        >
                                        </a>
                                    </div>
                                    <p class="text-muted text-left date"><%= bgstory.date_of_publish %> | by <%= bgstory.author %></p>
                                    <a href="/story-<%= encodeURIComponent(bgstory.blog_heading) %>">
                                    <h2 class="txt-urstory media-txt-title">
                                    <%= bgstory.blog_heading %>
                                    <!--<%= "Count Odd :-"+ count %>-->
                                    </h2>
                                    </a>
                                    <p class="font-size14">
                                    <% var cnt = 0; %>
                                    <% _.each(bgstory.blog_categories, function(cat){ %>
                                    <% if(cnt != 0) { %> | <% } %>
                                    <span class="blog-borderbtm"><%= cat %></span>
                                    <% cnt = cnt + 1; }); %>
                                    </p>
                                    <p class="pt10"> <!--<%= bgstory.blog_content %>-->

                                    <% var blg_stry = bgstory.blog_content;
                                    var r = /\\u([\d\w]{4})/gi;
                                    blg_stry = blg_stry.replace(r, function (match, grp) {
                                    return String.fromCharCode(parseInt(grp, 16)); } );
                                    blg_stry = unescape(blg_stry);
                                    var n = blg_stry.indexOf('</p>');
                                    if (n > 200){  %>
                                    <% var stry = blg_stry.slice(0, 180); %>
                                    <%= stry %>...
                                    <% } else { %>
                                    <% var stry = blg_stry.slice(0, n); %>
                                    <%= stry %>
                                    <% } %>

                                    <a href="/story-<%= encodeURIComponent(bgstory.blog_heading) %>" class="color-orange read_full">Read Full Story</a>
                                    </p>
                                </div>

                                <% }else{ %>

                                <div class="special pb20 pl10 pr10">
                                    <div class="show-blog-img">
                                        <a href="/story-<%= encodeURIComponent(bgstory.blog_heading) %>">
                                            <img
                                            src="<%= bgstory.blog_main_image %>"
                                            class="img-responsive"
                                            title="<%= bgstory.blog_heading %>"
                                            alt="<%= bgstory.blog_heading %>"
                                            >
                                        </a>
                                    </div>
                                    <p class="text-muted text-left date"><%= bgstory.date_of_publish %> | by <%= bgstory.author %></p>
                                    <a href="/story-<%= encodeURIComponent(bgstory.blog_heading) %>">
                                    <h2 class="txt-urstory media-txt-title">
                                    <%= bgstory.blog_heading %>
                                    <!--<%= "Count Even :-"+ count %>-->
                                    </h2>
                                    </a>
                                    <p class="font-size14">
                                    <% var cnt = 0; %>
                                    <% _.each(bgstory.blog_categories, function(cat){ %>
                                    <% if(cnt != 0) { %> | <% } %>
                                    <span class="blog-borderbtm"><%= cat %></span>
                                    <% cnt = cnt + 1; }); %>
                                    </p>
                                    <p class="pt10"> <!--<%= bgstory.blog_content %>-->

                                        <% var blg_stry = bgstory.blog_content;
                                        var r = /\\u([\d\w]{4})/gi;
                                        blg_stry = blg_stry.replace(r, function (match, grp) {
                                        return String.fromCharCode(parseInt(grp, 16)); } );
                                        blg_stry = unescape(blg_stry);
                                        var n = blg_stry.indexOf('</p>');
                                        if (n > 200){  %>
                                        <% var stry = blg_stry.slice(0, 180); %>
                                        <%= stry %>...
                                        <% } else { %>
                                        <% var stry = blg_stry.slice(0, n); %>
                                        <%= stry %>
                                        <% } %>

                                        <a href="/story-<%= encodeURIComponent(bgstory.blog_heading) %>" class="color-orange read_full">Read Full Story</a>
                                    </p>
                                </div>

                                <% } %>
                                <% } %>
                                <% } %>
                                <% count++; }); %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                <h2 class="txt-urstory media-txt-title">Latest From The Blog</h2>
                </div>
                <% if(typeof(latest_stories) !== 'undefined'){ count = 1; %>
                <% _.each(latest_stories, function(latestblog){ %>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="pb20">
                        <div class="show-blog-img" style="height:350px;">
                            <a href="/story-<%= encodeURIComponent(latestblog.blog_heading) %>">
                                <img
                                        src="<%= latestblog.blog_main_image %>" style="height:350px;"
                                        class="img-responsive object-fit_cover"
                                        title="<%= latestblog.blog_heading %>"
                                        alt="<%= latestblog.blog_heading %>"
                                >
                            </a>
                        </div>
                        <p class="text-muted text-left date"><%= latestblog.date_of_publish %> | by <%= latestblog.author %></p>
                        <a href="/story-<%= encodeURIComponent(latestblog.blog_heading) %>">
                            <h2 class="txt-urstory media-txt-title font-size16">
                                <%= latestblog.blog_heading %>
                            </h2>
                        </a>
                        <p class="font-size14">
                            <% var cnt = 0; %>
                            <% _.each(latestblog.blog_categories, function(cat){ %>
                            <% if(cnt != 0) { %> | <% } %>
                            <span class="blog-borderbtm"><%= cat %></span>
                            <% cnt = cnt + 1; }); %>

                        </p>
                    </div>
                </div>
                <% }); %>
                <% } %>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2 class="txt-urstory media-txt-title">DIY Corner</h2>
                </div>
                <% if(typeof(diys) !== 'undefined'){ count = 1; %>
                <% _.each(diys, function(diy){ %>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="pb20">
                        <div class="show-blog-img">
                            <a href="/diy-<%= encodeURIComponent(diy.diy_heading) %>">
                                <img
                                        src="<%= diy.diy_main_image %>"
                                        class="img-responsive"
                                        title="<%= diy.diy_heading %>"
                                        alt="<%= diy.diy_heading %>"
                                >
                            </a>
                        </div>
                        <p class="text-muted text-left date font-size14"><%= diy.date_of_publish %> | by <%= diy.author %></p>
                        <a href="/diy-<%= encodeURIComponent(diy.diy_heading) %>">
                            <h2 class="txt-urstory media-txt-title font-size14">
                                <%= diy.diy_heading %>
                            </h2>
                        </a>
                    </div>
                </div>
                <% }); %>
                <% } %>
                <!--<div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="pb20">
                        <div class="show-blog-img">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/v1477548536/stories/wrong-interiors.jpg" class="img-responsive" title="5 Common Mistakes in Interiors and What to Do" alt="5 Common Mistakes in Interiors and What to Do">
                        </div>
                        <p class="text-muted text-left date font-size14">Oct 03, 2016 | by mygubbi</p>
                        <a href="/story-5%20Common%20Mistakes%20in%20Interiors%20and%20What%20to%20Do">
                            <h2 class="txt-urstory media-txt-title font-size14">
                                5 Common Mistakes in Interiors and What to Do
                            </h2>
                        </a>
                    </div>
                </div>-->
            </div>
        </div>
    </div>

</section>
<script type="text/javascript">
    $(function() {
        $('#text-search').bind('keyup change', function(ev) {
            // pull in the new value
            var searchTerm = $(this).val();

            // remove any old highlighted terms
            $('body').removeHighlight();

            // disable highlighting if empty
            if ( searchTerm ) {
                // highlight the new term
                $('body').highlight( searchTerm );
            }
        });
    });
</script>