<div class="bg-white">
    <section class="accessories-page-heading">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="text-center pt50 mob-padding-top-0">
                        <h2 class="kitchen-head"> Type of  Kitchen Module </h2>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-10">
                    <p class="text-center pb20">
                        A modular kitchen is definitely a thing of beauty.
                        With a perfect blend of aesthetics and functionality,
                        a well designed modular kitchen has plenty of storage
                        space and makes cooking so much convenient, comfortable
                        and easy. The modules come in unlimited options to suit
                        your space, needs, family size and more.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="accessories-page-base">
        <div class="base-section position-relative">
            <div class="container-fluid some-name">
                <div class="row">
                    <div class="tab-content ward">
                        <div role="tabpanel" class="tab-pane base-img active" id="thail-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476953706/type_of_kitchen/base01.jpg" alt="thali_inlet">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476953964/type_of_kitchen/1.KYK_Bottle_PullOut.jpg" alt="thali_inlet">
                        </div>
                        <div role="tabpanel" class="tab-pane base-img" id="combo-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476953706/type_of_kitchen/base02.jpg" alt="wardrobe">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476953965/type_of_kitchen/2.KYK_Hob_Cylinder.jpg" alt="wardrobe">
                        </div>
                        <div role="tabpanel" class="tab-pane base-img" id="pot-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476953706/type_of_kitchen/base03.jpg" alt="wardrobe">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476953964/type_of_kitchen/3.KYK_Sink.jpg" alt="wardrobe">
                        </div>
                        <div role="tabpanel" class="tab-pane base-img" id="orgatray-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476953706/type_of_kitchen/base04.jpg" alt="wardrobe">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476953964/type_of_kitchen/4.KYK_Shutter_cabinet.jpg" alt="wardrobe">
                        </div>
                        <div role="tabpanel" class="tab-pane base-img" id="orgaflag-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476953706/type_of_kitchen/base05.jpg" alt="wardrobe">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476953964/type_of_kitchen/5.KYK_Corner_module.jpg" alt="wardrobe">
                        </div>
                        <div role="tabpanel" class="tab-pane base-img" id="platerack-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476953706/type_of_kitchen/base06.jpg" alt="wardrobe">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476953965/type_of_kitchen/6.KYK_Drawer.jpg" alt="wardrobe">
                        </div>
                    </div>
                    <div class="kitchen-tab">
                        <div class="col-md-5 text-center pt80 mob-padding-top-0">
                            <h2 class="kitchen-head">
                                Base Unit
                            </h2>
                            <div class="card kitchen-card">
                                <ul class="nav nav-tabs nav-justified nav-new-justified" role="tablist">
                                    <li id="thail" class="base-lnk active" role="presentation">
                                        <a aria-controls="related-image" role="tab" data-toggle="tab"> Bottle Pull Out </a>
                                    </li>
                                    <li id="combo" class="base-lnk" role="presentation">
                                        <a aria-controls="related-collection" role="tab" data-toggle="tab"> Hob / Cylinder Unit </a>
                                    </li>
                                    <li id="pot" class="base-lnk" role="presentation">
                                        <a aria-controls="related-collection" role="tab" data-toggle="tab">  Sink Base </a>
                                    </li>
                                    <li id="orgatray" class="base-lnk" role="presentation">
                                        <a aria-controls="related-collection" role="tab" data-toggle="tab">  Shutter Cabinet </a>
                                    </li>
                                    <li id="orgaflag" class="base-lnk" role="presentation">
                                        <a aria-controls="related-collection" role="tab" data-toggle="tab">  Corner Module </a>
                                    </li>
                                    <li id="platerack" class="base-lnk" role="presentation">
                                        <a aria-controls="related-collection" role="tab" data-toggle="tab">  Drawer Unit </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane base-cnt active" id="thail-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        A very easy and manageable way to keep the bottle arrangement intact.
                                                        There is no fear of spillage and breakage since the bottles and jars
                                                        can be stored safely as per their size. Easy to handle and durable,
                                                        the bottle pull outs can be of different sizes, designs and shapes.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane base-cnt" id="combo-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        Keeps the cylinder in a safe and intact way so that there are no hazards
                                                        of gas leak. It simplifies the process of changing the bulky cylinder.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane base-cnt" id="pot-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        Compartmentalizes the sink section in the kitchen and there is space for
                                                        settling the dustbin as well as holders for keeping liquid soaps and scrubs
                                                        for utensils. The section is airy and thus prevents the chances of water seepage.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane base-cnt" id="orgatray-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        Shutter cabinets make the kitchen look organised as well as add to its decor.
                                                        With ample storage space, the cabinets can be used to keep your expensive crockery
                                                        and porcelain bowls safe. Perfect place for storing the daily needs too.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane base-cnt" id="orgaflag-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        Corner module is for bulkier utensils and is spacious enough to accommodate all
                                                        shapes and sizes of dishes, cookers, pans etc. Easily accessible and makes great
                                                        use of the corner. Based on the space and budget, corner modules come in a variety of options.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane base-cnt" id="platerack-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        This enables easy arrangement of mugs, cups etc. or any low height utensil.
                                                        With smooth pull out system, the drawer can be completely packed yet there
                                                        are no chances of breakage or clashing of items against each other.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="accessories-page-wall">
        <div class="accessories-wall-section position-relative">
            <div class="container-fluid some-name">
                <div class="row">
                    <div class="tab-content ward">
                        <div role="tabpanel" class="tab-pane wall-img active" id="with-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476973756/type_of_kitchen/wall1.jpg" alt="thali_inlet">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476974037/type_of_kitchen/1.KYK_With_Shutter.jpg" alt="thali_inlet">
                        </div>
                        <div role="tabpanel" class="tab-pane wall-img" id="open-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476973756/type_of_kitchen/wall2.jpg" alt="wardrobe">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476974037/type_of_kitchen/2.KYK_Open_Storage.jpg" alt="wardrobe">
                        </div>
                        <div role="tabpanel" class="tab-pane wall-img" id="dish-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476973756/type_of_kitchen/wall3.jpg" alt="wardrobe">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476974038/type_of_kitchen/3.KYK_Dish_drainer.jpg" alt="wardrobe">
                        </div>
                        <div role="tabpanel" class="tab-pane wall-img" id="lift-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476973756/type_of_kitchen/wall4.jpg" alt="wardrobe">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476974038/type_of_kitchen/4.KYK_Lift_Up.jpg" alt="wardrobe">
                        </div>
                    </div>
                    <div class="kitchen-tab wall-tab pt100 mob-padding-top-0">
                        <div class="col-md-5 text-center pt20 mob-padding-top-0">
                            <h2 class="kitchen-head">
                                Wall Module
                            </h2>
                            <div class="card kitchen-card">
                                <div class="row">
                                    <div class="col-sm-offset-2  col-md-offset-2 col-sm-8 col-md-8">
                                        <ul class="nav nav-tabs nav-justified" role="tablist">
                                            <li id="with" class="wall-lnk active" role="presentation">
                                                <a aria-controls="related-image" role="tab" data-toggle="tab">
                                                    With shutter
                                                </a>
                                            </li>
                                            <li id="open" class="wall-lnk" role="presentation">
                                                <a aria-controls="related-collection" role="tab" data-toggle="tab">
                                                    Open storage
                                                </a>
                                            </li>
                                            <li id="dish" class="wall-lnk" role="presentation">
                                                <a aria-controls="related-collection" role="tab" data-toggle="tab">
                                                    Dish drainer
                                                </a>
                                            </li>
                                            <li id="lift" class="wall-lnk" role="presentation">
                                                <a aria-controls="related-collection" role="tab" data-toggle="tab">
                                                    Lift Up
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane wall-cnt active" id="with-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        Elegant wall fittings with seamless shutters make a perfect niche for your
                                                        treasued crockery and other dishes used on special occassions.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane wall-cnt" id="open-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        Flaunt your kitchen in style. The open storage can be used for regulary used
                                                        objects such as napkin holder, spoons and knives holder, spices and condiments
                                                        container etc. Alternatively, you can can use the open space to create a green
                                                        ambience in your kitchen by decorating small plated table pots. Even showpieces
                                                        can be decorated in the open space to give the kitchen the desired facelift
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane wall-cnt" id="dish-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        Dish drainer is an extremely useful and innovative aspect of your kitchen.
                                                        Depending on the weather, the washed dishes sometimes take a lot of time to
                                                        dry up and storing damp dishes in closed compartments can be an unhealthy option.
                                                        This dish drainer can be used for arranging dishes after cleaning. Once the dishes
                                                        are completely dry, those can be placed in the respective cabinets.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane wall-cnt" id="lift-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        Lift up doors to wall fitting cabinets can make the kitchen space less congested.
                                                        During busy parties and gatherings at home when there are multiple people using the
                                                        kitchen, these lift up door cabins can make working in the kitchen easier. With a
                                                        robust pully system, these lift up doors can make adjusting bulkier dishes easy as
                                                        one doesn't need to hold the door in one hand and the heavy dish in another hand.
                                                        This makes life so much easier.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="accessories-page-tall">
        <div class="tall-section position-relative">
            <div class="container-fluid some-name">
                <div class="row">
                    <div class="tab-content ward">
                        <div role="tabpanel" class="tab-pane tall-img active" id="rack-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476975846/type_of_kitchen/Tall-Unit.jpg" alt="thali_inlet">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476975837/type_of_kitchen/1_04.jpg" alt="thali_inlet">
                        </div>
                        <div role="tabpanel" class="tab-pane tall-img" id="hook-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476975846/type_of_kitchen/Microwave_02.jpg" alt="wardrobe">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476975837/type_of_kitchen/2_02.jpg" alt="wardrobe">
                        </div>
                    </div>
                    <div class="kitchen-tab">
                        <div class="col-md-5 text-center pt100 mob-padding-top-0">
                            <h2 class="kitchen-head">
                                Tall Unit
                            </h2>
                            <div class="card kitchen-card">
                                <div class="row">
                                    <div class="col-sm-offset-2  col-md-offset-2 col-sm-8 col-md-8">
                                        <ul class="nav nav-tabs nav-justified" role="tablist">
                                            <li id="rack" class="tall-lnk active" role="presentation">
                                                <a aria-controls="related-image" role="tab" data-toggle="tab"> Shutter  </a>
                                            </li>
                                            <li id="hook" class="tall-lnk" role="presentation">
                                                <a aria-controls="related-collection" role="tab" data-toggle="tab"> Built in microwave </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane tall-cnt active" id="rack-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        The shutter in the tall unit is a very smart option. It helps compartmentalize
                                                        all the similar items together inside one grand spacious unit. Easily accessible
                                                        and easy to clean, the shutter in tall unit can be a real saviour for your kitchen storage woes.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane tall-cnt" id="hook-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        Built-in microvawe gives a trendy look to your kitchen space. Easy to manage and
                                                        maintain, a built-in microvawe is a hassle free option.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="accessories-page-wine">
        <div class="wine-section position-relative">
            <div class="container-fluid">
                <div class="row">
                    <div class="wine-bg">
                        <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476960533/type_of_kitchen/Island-Counter.jpg" alt="thali_inlet">
                        <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476960540/type_of_kitchen/1_06.jpg" alt="thali_inlet">
                    </div>
                    <div class="kitchen-tab">
                        <div class="col-md-5 text-center pt100 mob-padding-top-0">
                            <h2 class="kitchen-head">
                                Island Counter
                            </h2>
                            <p>
                                Island counter can be your innovative space. You can go as creative as you
                                want while decorating or setting up the island counter. The island counter
                                is where you will laze around in the kitchen. It can reflect the liveliness
                                of the kitchen  and you can also use it for placing handy items.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="accessories-page-shelves">
        <div class="shelves-section position-relative">
            <div class="container-fluid">
                <div class="row">
                    <div class="wine-bg">
                        <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476976393/type_of_kitchen/KYK_Shelves.jpg" alt="thali_inlet">
                        <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1477569057/type_of_kitchen/1_08.jpg" alt="thali_inlet">
                    </div>
                    <div class="kitchen-tab">
                        <div class="col-md-5 text-center pt100 mob-padding-top-0">
                            <h2 class="kitchen-head">
                                Shelves
                            </h2>
                            <p>
                                These shelves give a subtle countryside essence to your kitchen. Wooden planks
                                can give a rugged yet stylish look to the kitchen. The shelves can be extremely
                                useful in arranging miscellaneous yet handy items. The items will not get
                                cluttered here and there and can be easily found.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>