<section class="bg-white menu-spacer position-relative thankyou_sm">

    <div class="container-fluid bg-color-white thankyou_small hidden-lg hidden-md hidden-sm">
        <div class="col-xs-1 thankyou_gubbi">
            <img src="<%= imgBase + 'c_scale,w_64/og_xerezo.png'%>" class="img-responsive width100">
        </div>
        <div class="col-xs-10 padding0">

            <h5 class="text-transform-none">
                Thank You for contacting us. We'll get back to you as soon as possible.
            </h5>
            <h6 class="text-transform-none">
                Please wait... We'll redirect back to your page.
            </h6>
        </div>
        <div class="col-xs-1 thankyou_gubbi">
            <img src="<%= imgBase + 'c_scale,w_64/og_xerezo.png'%>" class="img-responsive width100">
        </div>
    </div>

    <div class="container-fluid hidden-xs">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 padding0">
                <img src="<%= imgBase + 'c_scale,w_250/kitchen1_hxubkc.jpg'%>" class="img-responsive width100">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 padding0">
                <img src="<%= imgBase + 'c_scale,w_250/living2.jpg'%>" class="img-responsive width100">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 padding0">
                <img src="<%= imgBase + 'c_scale,w_250/stories/0897/8058/files/Snipe_Wardobe.jpg'%>" class="img-responsive width100">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 padding0">
                <img src="<%= imgBase + 'c_scale,w_250/2.Thomas_front_brown_larch.jpg'%>" class="img-responsive width100">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 padding0">
                <img src="<%= imgBase + 'c_scale,w_250/1.Skyler_Front_White_BrownOak.jpg'%>" class="img-responsive width100">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 padding0">
                <img src="<%= imgBase + 'c_scale,w_250/stories/0897/8058/files/Drongo_Wardobe.jpg'%>" class="img-responsive width100">
            </div>
        </div>

        <div class="row display-table width100">
            <div class="col-lg-2 col-md-2 col-sm-2 padding0 thankyou_table">
                <div class="row">
                    <img src="<%= imgBase + 'c_scale,w_250/1.Grebe_Exterior.jpg'%>" class="img-responsive width100">
                </div>
                <div class="row">
                    <img src="<%= imgBase + 'c_scale,w_250/stories/0897/8058/files/1.Punto_front_caffe.jpg'%>" class="img-responsive width100">
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 thankyou_table">
                <div class="thankyou hidden-xs">
                    <h3 class="text-transform-none">
                        Thank You for contacting us. We'll get back to you as soon as possible.
                    </h3>
                    <h4 class="text-transform-none">
                        Please wait... We'll redirect back to your page.
                    </h4>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 padding0 thankyou_table">
                <div class="row">
                    <img src="<%= imgBase + 'c_scale,w_250/stories/0897/8058/files/2.Marklis_Shoe_Rack_white_brownOak.jpg'%>" class="img-responsive width100">
                </div>
                <div class="row">
                    <img src="<%= imgBase + 'c_scale,w_250/stories/1054/3918/files/Blog__1.jpg'%>" class="img-responsive width100">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 padding0">
                <img src="<%= imgBase + 'c_scale,w_250/stories/1054/3918/files/2.Trasher_wardrobe_int_low.jpg'%>" class="img-responsive width100">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 padding0">
                <img src="<%= imgBase + 'c_scale,w_250/stories/0897/8058/files/1.Tuborg_front_Brownlarch.jpg'%>" class="img-responsive width100">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 padding0">
                <img src="<%= imgBase + 'c_scale,w_250/stories/0897/8058/files/Wardrobe_6-Quail.jpg'%>" class="img-responsive width100">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 padding0">
                <img src="<%= imgBase + 'c_scale,w_250/stories/0897/8058/files/axel-front_view.jpg'%>" class="img-responsive width100">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 padding0">
                <img src="<%= imgBase + 'c_scale,w_250/2.Snow_Front_White_Maple.jpg'%>" class="img-responsive width100">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 padding0">
                <img src="<%= imgBase + 'c_scale,w_250/Cuckoo_grun_white_low.jpg'%>" class="img-responsive width100">
            </div>
        </div>
    </div>



</section>

<script>
$(document).ready(function () {
    console.log("thank you page");
    window.setTimeout(function () {
        location.href = "https://www.mygubbi.com";
    }, 2000);
});
</script>