<html>

<body>
Hi,

<br/><br/>
This is to inform you that $vdata.customerName has agreed and accepted the designs and the proposal that was sent by us.
<br/><br/>

Thanks & Regards,<br/>
 MyGubbi Team <br/>


</body>
</html>
