<script>
   ga('set', 'page', location.pathname);
   ga('send', 'pageview');
   fbPixel('Lead');
</script>

<!-- Google Code for Form Fillings Conversion Page -->
<script type="text/javascript">

console.log(" ===========  In Google Ananlytic code inside thank u page ============ ");

/* <![CDATA[ */

goog_snippet_vars = function() {
   var w = window;
   w.google_conversion_id = 948149851;
   w.google_conversion_label = "r-2eCPeEtGIQ27yOxAM";
   w.google_conversion_language = "en";
   w.google_conversion_format = "3";
   w.google_conversion_color = "ffffff";
   w.google_remarketing_only = false;
}
// DO NOT CHANGE THE CODE BELOW.
   goog_report_conversion = function(url) {
   goog_snippet_vars();
   window.google_conversion_format = "3";
   var opt = new Object();
   opt.onload_callback = function() {
   if (typeof(url) != 'undefined') {
   window.location = url;
   }
   }
   var conv_handler = window['google_trackConversion'];
   if (typeof(conv_handler) == 'function') {
   conv_handler(opt);
   }
}


/*window.google_trackConversion({
   google_conversion_id: 948149851,
   google_conversion_language: "en",
   google_conversion_format: "3",
   google_conversion_color: "ffffff",
   google_conversion_label: "r-2eCPeEtGIQ27yOxAM",
   google_remarketing_only: false
});*/
//]]>
</script><noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/948149851/?label=r-2eCPeEtGIQ27yOxAM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

<!-- Google Code for Remarketing Tag -->
<script type="text/javascript">
/* <![CDATA[ */
window.google_trackConversion({
   google_conversion_id: 948149851,
   google_custom_params: window.google_tag_params,
   google_remarketing_only: true
});
//]]>
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/948149851/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

<!-- Google Code for HM Conversion Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */

goog_snippet_varsw = function() {
   var wd = window;
   wd.google_conversion_id = 948149851;
   wd.google_conversion_label = "0DBgCPDT_mwQ27yOxAM";
   wd.google_conversion_language = "en";
   wd.google_conversion_format = "3";
   wd.google_conversion_color = "ffffff";
   wd.google_remarketing_only = false;
}

// DO NOT CHANGE THE CODE BELOW.
   goog_report_conversionw = function(url) {
   goog_snippet_varsw();
   window.google_conversion_format = "3";
   var optt = new Object();
   optt.onload_callback = function() {
   if (typeof(url) != 'undefined') {
   window.location = url;
   }
   }
   var conv_handlerr = window['google_trackConversion'];
   if (typeof(conv_handlerr) == 'function') {
   conv_handlerr(optt);
   }
}


/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/948149851/?label=0DBgCPDT_mwQ27yOxAM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
