
    <% if(typeof(addonsdtls) !== 'undefined'){ count = 1; %>
    <% _.each(addonsdtls, function(addons){ %>
    <div class="col-sm-4 col-md-3 col-lg-3">
        <div class="addons-img-box">
            <a href="#" class="addons-img">
                <img class="img-responsive" src="<%= addons.imagePath %>" alt= "<%= addons.title %>">
                <span class="addons-price">MRP: <%= addons.dealerPrice %>₹ </span>
            </a>
            <div class="addons-details">
                <h3>  <%= addons.title %> </h3>
                <p> Product Code:  <%= addons.code %> </p>
            </div>
        </div>
    </div>
    <% }); %>
    <% } %>
