<div class="bg-white">
    <div class="container-fluid category-banner">
        <div class="row">
            <img src="<%= imgBase + 'LivingRoomFinal.jpg'%>" class="img-responsive hidden-xs" alt="Living & Dining">
            <img width="100%" src="https://res.cloudinary.com/mygubbi/image/upload/v1481198438/project_details/LivingRoomFinal_mob.jpg" class="img-responsive hidden-sm hidden-md hidden-lg" alt="Living & Dining">
        </div>
    </div>

    <div class="portfolio-box bg-white hidden-sm hidden-xs" id="filter-choose-container">
        <div class="container">
            <div class="pt20 pb20">
                <div class="row">
                    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
                        <h4>Filters:</h4>
                    </div>
                    <div class="col-lg-8 col-md-8 hidden-sm hidden-xs">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <select class="form-control" id="filter-category">
                                    <option> Category </option>
                                    <option> Accessories </option>
                                    <option> Appliances </option>
                                    <option> Counter Top </option>
                                    <option> Services </option>
                                </select>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <select class="form-control" id="filter-product-type">
                                    <option> Product Type </option>
                                    <option> Counter Top Support Leg </option>
                                    <option> Door Fitting </option>
                                    <option> Drawer Mat </option>
                                    <option> Leg- PVC </option>
                                    <option> Leg-SS </option>
                                    <option> Profile handle </option>
                                    <option> Skirting </option>
                                    <option> Chimney </option>
                                    <option> Dishwasher </option>
                                    <option> Hob </option>
                                    <option> Microwave </option>
                                    <option> Oven </option>
                                    <option> Sink </option>
                                    <option> Tap/Kitchen Faucet </option>
                                    <option> Corian </option>
                                    <option> Cutting Charges </option>
                                </select>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <select class="form-control" id="filter-product-subtype">
                                    <option> Product Subtype </option>
                                    <option> Round </option>
                                    <option> Square </option>
                                </select>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <select class="form-control" id="filter-brands">
                                    <option> Brands </option>
                                    <option> Local Make </option>
                                    <option> Hettich </option>
                                    <option> Ebco </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs text-right">
                        <div class="addon-search">
                            <span class="pe-7s-search blog-search pe-fw"></span>
                            <input type="text" class="form-control" id="text-search">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-3 col-lg-3">
                        <div class="addons-img-box">
                            <a href="#" class="addons-img">
                                <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1488866988/addons/sink.jpg" alt="addons">
                                <span class="addons-price">MRP: 3000₹ </span>
                            </a>
                            <div class="addons-details">
                                <h3> Product Name </h3>
                                <p> Product Code: HG5639HT </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-3">
                        <div class="addons-img-box">
                            <a href="#" class="addons-img">
                                <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1488866988/addons/sink.jpg" alt="addons">
                                <span class="addons-price">MRP: 3000₹ </span>
                            </a>
                            <div class="addons-details">
                                <h3> Product Name </h3>
                                <p> Product Code: HG5639HT </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-3">
                        <div class="addons-img-box">
                            <a href="#" class="addons-img">
                                <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1488866988/addons/sink.jpg" alt="addons">
                                <span class="addons-price">MRP: 3000₹ </span>
                            </a>
                            <div class="addons-details">
                                <h3> Product Name </h3>
                                <p> Product Code: HG5639HT </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-3">
                        <div class="addons-img-box">
                            <a href="#" class="addons-img">
                                <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1488866988/addons/sink.jpg" alt="addons">
                                <span class="addons-price">MRP: 3000₹ </span>
                            </a>
                            <div class="addons-details">
                                <h3> Product Name </h3>
                                <p> Product Code: HG5639HT </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-3">
                        <div class="addons-img-box">
                            <a href="#" class="addons-img">
                                <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1488866988/addons/sink.jpg" alt="addons">
                                <span class="addons-price">MRP: 3000₹ </span>
                            </a>
                            <div class="addons-details">
                                <h3> Product Name </h3>
                                <p> Product Code: HG5639HT </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-3">
                        <div class="addons-img-box">
                            <a href="#" class="addons-img">
                                <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1488866988/addons/sink.jpg" alt="addons">
                                <span class="addons-price">MRP: 3000₹ </span>
                            </a>
                            <div class="addons-details">
                                <h3> Product Name </h3>
                                <p> Product Code: HG5639HT </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-3">
                        <div class="addons-img-box">
                            <a href="#" class="addons-img">
                                <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1488866988/addons/sink.jpg" alt="addons">
                                <span class="addons-price">MRP: 3000₹ </span>
                            </a>
                            <div class="addons-details">
                                <h3> Product Name </h3>
                                <p> Product Code: HG5639HT </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-3">
                        <div class="addons-img-box">
                            <a href="#" class="addons-img">
                                <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1488866988/addons/sink.jpg" alt="addons">
                                <span class="addons-price">MRP: 3000₹ </span>
                            </a>
                            <div class="addons-details">
                                <h3> Product Name </h3>
                                <p> Product Code: HG5639HT </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>