<section class="menu-spacer">
    <div class="grid">

        <div style="padding-left: 15%;" class="grid__item large--five-sixths push--large--one-twelfth">
            <!--     <h1 style="margin-top:0; color:#71838c; font-weight:bold;">About mygubbi</h1> -->


            <div class="rte" style="margin-bottom:0;">

            </div>

        </div>

        <div>
            <img src="https://cdn.shopify.com/s/files/1/1054/3918/files/AboutUs_Banner1-compressor_1.jpg?12407717107490328307"
                 width="100%;">
        </div>
        <br><br>


        <div class="container">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6"><p>We are the thinkers and makers with creative edge and diligent workforce,
                        who offer the thing which matters the most- experience. Folks readily work with us for what we
                        offer. </p>

                        <p>mygubbi was founded as an e-Commerce company to serve shoppers globally. With years landscape
                            has radically altered, online shoppers and their desires are getting more complicated, and
                            we have evolved as well. While founding mygubbi we trusted that customer experiences will
                            facilitate in leaping ahead, we still believe the same today.</p>
                    </div>
                    <div class="col-md-6"><p>What describes your home? It’s more than an abode, there is a certain
                        uniqueness and quintessence attached with your dwellings that catch the eye of spectators. From
                        the kitchen essentials to bedroom furnishing, living room aesthetics to floor fashioning, we
                        have the inspired style and steadfast team that exclusively focuses on you. Whatever you crave
                        for, whatever enchants you, just name it and we have it.</p>

                        <p>We are more than just another online venture. Through mygubbi, you won’t be buying just
                            fittings to adorn your dwellings, in fact you will be carrying away the spirit of a vibrant,
                            zesty and charismatic brand at home.</p>
                    </div>
                </div>

            </div>
        </div>

        <br><br>

        <div class="col-lg-12">
            <div class="span8">
                <center><h1 style="color:black"><b> Rules we Adore </b></h1></center>

                <div class="carousel" id="myCarousel">
                    <div class="carousel-inner ">
                        <div class="item">
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                        </div>
                        <div class="item active">
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                            <div class="col-md-3"><a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                    target="_blank"><img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                    class="img-responsive"></a></div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-angle-left"
                                                                                             style="font-size: 98px"></i></a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-angle-right"
                                                                                              style="font-size: 98px"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="container">
                <br><br>
                <center><h1 style="color:black"><b> THE EXPERIENCE CENTRE </b></h1></center>

                <img class="img-responsive"
                     src="https://cdn.shopify.com/s/files/1/0899/1076/files/B1_1200x420.jpg?1715687297172426677">

                <div class="caption post-content1"><h2 class="heading2">Do you perpetually fuss over the kind of
                    material used or apposite for finishing of products? </h2>
                </div>
                <div class="caption post-content">
                    <div class="grid__item">

                        <p style="margin-left: -4%;">We fathom that every individual has a solid opinion and special
                            preference of choosing a particular item. To suit your requisites, we have set up an
                            Experience Centre based in HSR, Bangalore. You can visit us anytime to grasp our operational
                            process, artistic methods and quality standards that we adhere to. Spread over wide area, we
                            have the machinery and manufacturing units in place.


                        </p>

                    </div>
                </div>
            </div>
        </div>
        <br><br>

        <div class="container">
            <center><h1 style="color:black"><b> MEET THE TEAM </b></h1></center>

            <div class="col-md-4 ">
                <div class="col-md-12 well">
                    <p style=" font-family: 'Roboto Condensed', sans-serif !important;">
                        Umesh Sangurmath, CEO<br>
                        <span class="caption"> Head Honcho</span></p>

                    <p class="team">As CEO of mygubbi, Umesh spends most of his time thinking how to create an eminent
                        digital platform to purchase complete home interior solutions. Prior to this position at
                        mygubbi, Umesh has co-founded ‘Smart Retail’, a chain of food and grocery in India. With more
                        than two decades of experience, he has developed two other business as well. He just gets going!
                        Truly an inspiration to us.

                    </p>

                    <p class="team"><b>Favorite Designer: </b>T.H. Robsjohn-Gibbings</p>

                </div>
            </div>
            <div class="col-md-4 ">
                <div class="col-md-12 well">
                    <p>
                        Ravi Rao, CTO

                        <br>
                        <span class="caption">The Geek of Office</span></p>

                    <p class="team">‘The Brain’, he is worth fully referred as the thinking giant by the team. He
                        spearheaded India’s first D2H grocery chain and also served as proud member of huge firms. We
                        look out to him for guidance in tech operations, strategy, new initiatives and risk management.


                    </p>

                    <p class="team"><b>Favorite Designer:</b> Patek Phillipe
                    </p><br><br><br>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="col-md-12 well">
                    <p> Aiyappa A.S, Head of Operations

                        <br>
                        <span class="caption"> Knight in Shining Armor</span></p>

                    <p class="team">He is magnetic. He is inspiring. With more than 18 years of experience in
                        operations, he has in-depth knowledge of his work and associated functions. Prior to mygubbi, he
                        has held senior position at Sobha Pvt Ltd, TATA Coffee Ltd. And Dovetail Furniture. If we are at
                        a fix, we ask for his crucial advice and rich experience to resolve issues.

                    </p>

                    <p class="team"><b>Favorite Designer:</b> George Nakashima
                    </p><br>
                </div>
            </div>
            <!--     <div class="col-md-3 ">
                    <div class="col-md-12 well">
                        <p>  Sunil Rao, ( Technology Development)

            <br>
                        The Oracle</p>

            <p class="team">He is superbly talented and have 24+ years of experience in System Architect and Tech Management in his portfolio. He is rightly referred as “Trouble Shooter” by rest of the team. With previous experience of handling senior positions at TESCO, Siemens and Altisource, he has founded Service22 and Solutions Specialist Inc as well.

                      </p>
                      <p class="team">
                        Favorite Designer: Edward Wormley
                      </p>
                    </div>
                </div> -->

        </div>
        <br>

        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <img class="img-responsive"
                         src="https://cdn.shopify.com/s/files/1/1054/3918/files/4536710787_5ae9b29844_o.jpg?6809867384807272028">

                    <div class="caption post-content" align="center">
                        <h2 class="heading2" style="color:white !important;">Our values will cheer you up. </h2>

                        <div class="grid__item">
                            <p style="margin-left: -4%;color:white;">We believe that everyone, everywhere must sleep
                                happily. This is the soul of our labor and judgements that we endure within these walls.
                            </p>

                            <h3 style="color:white !important;">Stay alert! Our ideas might be contagious. </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>