<section class="menu-spacer bg-white">
    <div class="container-fluid">
        <div class="row margin0">
            <img src="https://res.cloudinary.com/mygubbi/image/upload/about_us/banner.jpg" class="width100">
        </div>
        <div class="about_banner_txt hidden-sm hidden-xs">
            <div class="row margin0 color-white align-center font-size55">
                WE ARE THE
            </div>
            <div class="row margin0 color-orange align-center font-size80 border-bottom-white">
                MAKERS
            </div>
            <h2 class="heading-center-notransform color-white">
                We believe furnishing never gets over,
            </h2>
            <h2 class="heading-center-notransform color-white">
                it just gets better.
            </h2>
        </div>

        <div class="bg-about-gray hidden-lg hidden-md">
            <div class="row margin0">
                <h1 class="color-white align-center">
                    WE ARE THE
                </h1>
                <h1 class="color-orange align-center border-bottom-white">
                    MAKERS
                </h1>
                <h3 class="heading-center-notransform color-white">
                    We believe furnishing never gets over,
                </h3>
                <h3 class="heading-center-notransform color-white">
                    it just gets better.
                </h3>
            </div>
        </div>


        <div class="row margin0 bg-about-red">
            <div class="container">
                <div class="col-lg-12 col-md-12 col-sm-12 padding15">
                    <h2 class="align-center">About Us</h2>
                    <p class="justify color-white">
                        We are the thinkers and makers with creative edge and diligent workforce, who offer the thing
                        which matters the most- experience. Folks readily work with us for what we offer.mygubbi was
                        found as an e-Commerce company to serve shoppers globally. With years landscape has radically
                        altered, online shoppers and their desires are getting more complicated, and we have evolved as
                        well. While founding mygubbi we trustedthat customer experiences will facilitate in leaping
                        ahead, we still believe the same today.
                    </p>
                </div>
            </div>
        </div>

        <div class="row margin0 bg-about-black color-white">
            <div class="container">
                <div class="col-lg-6 col-md-6 col-sm-6 padding15">
                    <h4 class="text-transform-none color-orange">
                        What describes your home?
                    </h4>
                    <p class="justify">
                        It’s more than an abode, there is a certain
                        uniqueness and quintessence attached with your dwellings that catch the eye of spectators. From
                        the kitchen essentials to bedroom furnishing, living room aesthetics to floor fashioning, we
                        have the inspired style and steadfast team that exclusively focuses on you. Whatever you crave
                        for, whatever enchants you, just name it and we have it.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 padding15">
                    <h4 class="text-transform-none color-orange">
                        &nbsp;
                    </h4>
                    <p class="justify">
                        We are more than just another online venture. Through mygubbi, you won’t be buying just
                        fittings to adorn your dwellings, in fact you will be carrying away the spirit of a vibrant,
                        zesty and charismatic brand at home.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid hidden-xs margin-top40">
        <h1 class="align-center margin-bottom30 color-orange">
            Rules we Adore
        </h1>

        <div class="carousel" id="myCarousel">
            <div class="carousel-inner margin0">
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="item active">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
            <a class="left carousel-control carousel-overlay width5 left1per bg-none" href="#myCarousel" role="button"
               data-slide="prev">
                <img src="<%= imgBase + 'arr-left-thick.png'%>" class="arr_abt" alt="...">
            </a>
            <a class="right carousel-control carousel-overlay width5 right1per bg-none" href="#myCarousel" role="button"
               data-slide="next">
                <img src="<%= imgBase + 'arr-right-thick.png'%>" class="arr_abt" alt="...">
            </a>
        </div>

    </div>

    <!--<div class="container margin-top40">-->
    <!--<h1 class="text-transform-none align-center margin-bottom30">-->
    <!--The Experience Centre-->
    <!--</h1>-->

    <!--<div class="row margin0 position-relative display-table">-->
    <!--<img class="img-responsive"-->
    <!--src="https://cdn.shopify.com/s/files/1/0899/1076/files/B1_1200x420.jpg?1715687297172426677">-->

    <!--<div class="img_overlay_txt">-->
    <!--<h3 class="text-transform-none align-center margin-bottom20">-->
    <!--Do you perpetually fuss over the kind of-->
    <!--material used or apposite for finishing of products?-->
    <!--</h3>-->

    <!--<p>-->
    <!--We fathom that every individual has a solid opinion and special-->
    <!--preference of choosing a particular item. To suit your requisites, we have set up an-->
    <!--Experience Centre based in HSR, Bangalore. You can visit us anytime to grasp our operational-->
    <!--process, artistic methods and quality standards that we adhere to. Spread over wide area, we-->
    <!--have the machinery and manufacturing units in place.-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->


    <div class="container-fluid">
        <div class="container margin-top40">
            <div class="col-lg-12 col-md-12 col-sm-12">

                <h1 class="align-center margin-bottom30 color-orange">
                    Meet the TEAM
                </h1>

                <div class="row margin0 margin-top20">
                    <p class="justify font-size16">
                        mygubbi founding team comprises of seasoned entrepreneurs with proven track record, who have
                        incubated
                        and developed multiple businesses earlier. The team has cumulative experience of more than 100
                        years
                        and
                        has worked in senior positions in large scale businesses like Wipro, Infosys, Tesco, Future
                        Group,
                        Triology, Tata Coffee, Sobha Interiors,etc. The team has good expertise in technology, design
                        operations
                        and retail businesses.
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid margin-top20 bg-4col-blue hidden-xs">
        <div class="container color-white">
            <div class="row margin0 display-table">
                <div class="col-lg-6 col-md-6 col-sm-6 display-table-cell">
                    <h4 class="text-transform-none">
                        Umesh Sangurmath
                    </h4>
                    <h6>Founder And Director</h6>
                    <h6>B.E. from NITK, Surathkal</h6>

                    <p class="justify font-size14">
                        Umesh Sangurmath is an accomplished leader with a proven track record in incubating and scaling
                        large businesses. Prior to founding mygubbi, Umesh handled the prestigious position of CIO with
                        Future Group and also worked at the senior positions at Wipro Technologies. He co-founded and
                        successfully exited ‘Smart Retail’, a chain of food and grocery in India. With more than two
                        decades of experience, he has expertise in Retail operations, Enterprise IT systems and has
                        demonstrated leadership with leading corporates of large size.
                    </p>

                    <p>
                        <a href="https://www.linkedin.com/in/umesh-sangurmath-5503ba5" target="_blank"
                           class="button-about-white">
                            Know more: <i class="fa fa-linkedin social-link"></i>
                        </a>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 padding-left0 display-table-cell">
                    <img src="https://res.cloudinary.com/mygubbi/image/upload/c_scale,h_355/about_us/umesh.jpg" class="width100">
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid bg-4col-red hidden-xs">
        <div class="container color-white">
            <div class="row margin0 display-table">
                <div class="col-lg-6 col-md-6 col-sm-6 padding-right0 display-table-cell">
                    <img src="https://res.cloudinary.com/mygubbi/image/upload/c_scale,h_355/about_us/ravi.jpg" class="width100">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 display-table-cell">
                    <h4 class="text-transform-none">
                        Ravi Rao
                    </h4>
                    <h6>Founder And Director</h6>
                    <h6>B.E. from NITK, Surathkal</h6>

                    <p class="justify font-size14">
                        Ravi Rao has the astounding past experience of managing and leading the technology programmes
                        and retail business. He cofounded - Smart Retail, along with Umesh. After successful incubation
                        and exit from Smart Retail, he handled the senior positions at Accenture. Earlier he held senior
                        positions at Infosys and iGate. He has led Sangam Direct – India’s first online D2H grocery
                        service. He is the expert at tech operations, strategy, new initiatives and leads the team in
                        right direction.
                    </p>

                    <p>
                        <a href="https://www.linkedin.com/in/ravi-rao-244503" target="_blank"
                           class="button-about-white">
                            Know more: <i class="fa fa-linkedin social-link"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-4col-green hidden-xs">
        <div class="container color-white">
            <div class="row margin0 display-table">
                <div class="col-lg-6 col-md-6 col-sm-6 display-table-cell">
                    <h4 class="text-transform-none">
                        Aiyappa A.S
                    </h4>
                    <h6>Co-Founder : Operations</h6>
                    <h6>MBA from Bangalore University</h6>

                    <p class="justify font-size14">
                        Aiyappa is considered an angel investing his proficiency across all the teams. He has immense
                        practical knowledge of operations and mentors the team likewise. With more than 18 years of
                        experience in operations, Aiyappa has in-depth knowledge of his work and associated functions.
                        Prior to mygubbi, he has held senior positions at Sobha Interiors Ltd, TATA Coffee Ltd. and
                        Dovetail Furniture. He comes with deep operational knowledge in end-to-end business operations
                        related to Interior and Furniture operations. He bestows key understandings into setting up and
                        operating a sustainable e-commerce business.
                    </p>

                    <p>
                        <a href="https://www.linkedin.com/in/aiyappa-alemada-bb011b20" target="_blank"
                           class="button-about-white">
                            Know more: <i class="fa fa-linkedin social-link"></i>
                        </a>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 padding-left0 display-table-cell">
                    <img src="https://res.cloudinary.com/mygubbi/image/upload/c_scale,h_355/about_us/ayyappa.jpg"
                         class="width100 img-responsive">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-4col-yellow hidden-xs">
        <div class="container color-white">
            <div class="row margin0 display-table">
                <div class="col-lg-6 col-md-6 col-sm-6 padding-right0 display-table-cell">
                    <img src="https://res.cloudinary.com/mygubbi/image/upload/c_scale,h_355/about_us/sunil.jpg" class="width100">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 display-table-cell">
                    <h4 class="text-transform-none">
                        Sunil Rao
                    </h4>
                    <h6>Co-Founder : Technology Development</h6>
                    <h6>Masters from University of Pennsylvania</h6>

                    <p class="justify font-size14">
                        Sunil Rao plays a major role in swiftly rising and whirling around business at mygubbi. He is
                        immensely talented and have 24+ years of experience in System Architect and Tech Management in
                        his portfolio. With previous experience of handling senior positions at TESCO and Siemens he has
                        founded Service22 and Solutions Specialist Inc as well. He is experienced in delivering large
                        enterprise, scalable solutions in multi-cultural global organizations and start-ups alike. He is
                        driving key technology implementation to make business more efficient.
                    </p>

                    <p>
                        <a href="https://www.linkedin.com/in/sunilrao" target="_blank"
                           class="button-about-white">
                            Know more: <i class="fa fa-linkedin social-link"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid margin-top20 bg-4col-blue hidden-lg hidden-md hidden-sm">
        <div class="container color-white">
            <div class="row margin0">
                <div class="col-lg-6 col-md-6 col-sm-6 padding15">
                    <img src="https://res.cloudinary.com/mygubbi/image/upload/c_scale,h_355/about_us/umesh.jpg" class="width100">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 padding15">
                    <h4 class="text-transform-none">
                        Umesh Sangurmath
                    </h4>
                    <h6>Founder And Director</h6>
                    <h6>B.E. from NITK, Surathkal</h6>

                    <p class="justify font-size14">
                        Umesh Sangurmath is an accomplished leader with a proven track record in incubating and scaling
                        large businesses. Prior to founding mygubbi, Umesh handled the prestigious position of CIO with
                        Future Group and also worked at the senior positions at Wipro Technologies. He co-founded and
                        successfully exited ‘Smart Retail’, a chain of food and grocery in India. With more than two
                        decades of experience, he has expertise in Retail operations, Enterprise IT systems and has
                        demonstrated leadership with leading corporates of large size.
                    </p>

                    <p>
                        <a href="https://www.linkedin.com/in/umesh-sangurmath-5503ba5" target="_blank"
                           class="button-about-white">
                            Know more: <i class="fa fa-linkedin social-link"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid bg-4col-red hidden-lg hidden-md hidden-sm">
        <div class="container color-white">
            <div class="row margin0">
                <div class="col-lg-6 col-md-6 col-sm-6 padding15">
                    <img src="https://res.cloudinary.com/mygubbi/image/upload/c_scale,h_355/about_us/ravi.jpg" class="width100">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h4 class="text-transform-none">
                        Ravi Rao
                    </h4>
                    <h6>Founder And Director</h6>
                    <h6>B.E. from NITK, Surathkal</h6>

                    <p class="justify font-size14">
                        Ravi Rao has the astounding past experience of managing and leading the technology programmes
                        and retail business. He cofounded - Smart Retail, along with Umesh. After successful incubation
                        and exit from Smart Retail, he handled the senior positions at Accenture. Earlier he held senior
                        positions at Infosys and iGate. He has led Sangam Direct – India’s first online D2H grocery
                        service. He is the expert at tech operations, strategy, new initiatives and leads the team in
                        right direction.
                    </p>

                    <p>
                        <a href="https://www.linkedin.com/in/ravi-rao-244503" target="_blank"
                           class="button-about-white">
                            Know more: <i class="fa fa-linkedin social-link"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-4col-green hidden-lg hidden-md hidden-sm">
        <div class="container color-white">
            <div class="row margin0">
                <div class="col-lg-6 col-md-6 col-sm-6 padding15">
                    <img src="https://res.cloudinary.com/mygubbi/image/upload/c_scale,h_355/about_us/ayyappa.jpg"
                         class="width100 img-responsive">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 padding15">
                    <h4 class="text-transform-none">
                        Aiyappa A.S
                    </h4>
                    <h6>Co-Founder : Operations</h6>
                    <h6>MBA from Bangalore University</h6>

                    <p class="justify font-size14">
                        Aiyappa is considered an angel investing his proficiency across all the teams. He has immense
                        practical knowledge of operations and mentors the team likewise. With more than 18 years of
                        experience in operations, Aiyappa has in-depth knowledge of his work and associated functions.
                        Prior to mygubbi, he has held senior positions at Sobha Interiors Ltd, TATA Coffee Ltd. and
                        Dovetail Furniture. He comes with deep operational knowledge in end-to-end business operations
                        related to Interior and Furniture operations. He bestows key understandings into setting up and
                        operating a sustainable e-commerce business.
                    </p>

                    <p>
                        <a href="https://www.linkedin.com/in/aiyappa-alemada-bb011b20" target="_blank"
                           class="button-about-white">
                            Know more: <i class="fa fa-linkedin social-link"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-4col-yellow hidden-lg hidden-md hidden-sm">
        <div class="container color-white">
            <div class="row margin0">
                <div class="col-lg-6 col-md-6 col-sm-6 padding15">
                    <img src="https://res.cloudinary.com/mygubbi/image/upload/c_scale,h_355/about_us/sunil.jpg" class="width100">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 padding15">
                    <h4 class="text-transform-none">
                        Sunil Rao
                    </h4>
                    <h6>Co-Founder : Technology Development</h6>
                    <h6>Masters from University of Pennsylvania</h6>

                    <p class="justify font-size14">
                        Sunil Rao plays a major role in swiftly rising and whirling around business at mygubbi. He is
                        immensely talented and have 24+ years of experience in System Architect and Tech Management in
                        his portfolio. With previous experience of handling senior positions at TESCO and Siemens he has
                        founded Service22 and Solutions Specialist Inc as well. He is experienced in delivering large
                        enterprise, scalable solutions in multi-cultural global organizations and start-ups alike. He is
                        driving key technology implementation to make business more efficient.
                    </p>

                    <p>
                        <a href="https://www.linkedin.com/in/sunilrao" target="_blank"
                           class="button-about-white">
                            Know more: <i class="fa fa-linkedin social-link"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>





    <div class="container-fluid position-relative">
        <div class="row margin0 width100">
            <img class="img-responsive width100"
                 src="https://res.cloudinary.com/mygubbi/image/upload/about_us/bottom-strip.jpg">
        </div>
        <div class="container about_footer_banner hidden-sm hidden-xs">
            <div class="row margin0">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <img class="img-responsive img-centered width100"
                         src="https://res.cloudinary.com/mygubbi/image/upload/about_us/mobile.png">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h2 class="color-orange">
                        Appreciate the heritage and hardship
                    </h2>
                    <p class="font-size16 justify color-white">
                        We have to acknowledge and embrace talent  and craftsmanship of Indian artisans. To salute thier
                        business acumen we work with merchants across the country and this abets us i delivering the
                        deluxe specimen to customers across the globe.
                    </p>
                </div>
            </div>
        </div>

        <div class="container bg-about-gray margin-bottom20 hidden-lg hidden-md">
            <div class="row margin0">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <img class="img-responsive img-centered width100"
                         src="https://res.cloudinary.com/mygubbi/image/upload/about_us/mobile.png">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h2 class="color-orange">
                        Appreciate the heritage and hardship
                    </h2>
                    <p class="font-size16 justify color-white">
                        We have to acknowledge and embrace talent  and craftsmanship of Indian artisans. To salute thier
                        business acumen we work with merchants across the country and this abets us i delivering the
                        deluxe specimen to customers across the globe.
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>