<section class="menu-spacer bg-white">

    <div class="container-fluid">
        <div class="row">
            <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/about_us/banner.jpg" class="width100">
        </div>
        <div class="about_banner_txt hidden-sm hidden-xs">
            <div class="row margin0 color-white align-center font-size55">
                WE ARE THE
            </div>
            <div class="row margin0 color-orange align-center font-size80 border-bottom-white">
                MAKERS
            </div>
            <h2 class="heading-center-notransform color-white">
                We believe furnishing never gets over,
            </h2>

            <h2 class="heading-center-notransform color-white">
                it just gets better.
            </h2>
        </div>

        <div class="bg-about-gray hidden-lg hidden-md">
            <div class="row">
                <h1 class="color-white align-center">
                    WE ARE THE
                </h1>

                <h1 class="color-orange align-center border-bottom-white">
                    MAKERS
                </h1>

                <h3 class="heading-center-notransform color-white">
                    We believe furnishing never gets over,
                </h3>

                <h3 class="heading-center-notransform color-white">
                    it just gets better.
                </h3>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 padding15">
                <h2 class="align-center color-black">About Us</h2>

                <p class="justify color-black font-size16">
                    MyGubbi is a consumer tech company, enabling customers to design their dream home.
                    We offer interior design solutions and home merchandise across various categories
                    that are perfect to style modern homes. With the help of our experienced designers,
                    your dream home is just a click away.
                    Choose from a range of sophisticated designs with 3D renders to get your home the
                    right look you desire. We create beautiful homes with you to help you reflect your
                    lifestyle to the home decor in the best possible way.
                </p>
                <p class="justify font-size16">
                    ‘Home is where the heart is’ said Pliny the Elder, a Roman philosopher. Today, almost two thousand years later, that single thought has come to define everything we stand for.
                </p>
                <p class="justify font-size16">
                    Which is why we dont just design furniture. We create homes. For you. With you. Our experience, creative edge and diligent workforce enables us to leave you with a home you’ll love to call as part of your family. We’d have it no other way.                     </p>
                <h1 class="align-center margin-bottom30 color-orange">
                    Vision
                </h1>
                <p class="justify font-size16 align-center">

                    Create beautiful living spaces that inspire and enable a better lifestyle.
                </p>
                <h1 class="align-center margin-bottom30 color-orange">
                    Mission
                </h1>
                <p class="justify font-size16 align-center">
                    Make use of quality materials and our technical expertise to provide smart and holistic interior solutions.
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid hidden-xs margin-bottom40">
        <h1 class="align-center margin-bottom30 color-orange">
            Rules we Adore
        </h1>
        <div class="row">
            <div class="carousel" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="item active">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a
                                    href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                    target="_blank">
                                <img
                                        src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                        class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control carousel-overlay width5 left1per bg-none" href="#myCarousel" role="button"
                   data-slide="prev">
                    <img src="<%= imgBase + 'arr-left-thick.png'%>" class="arr_abt" alt="...">
                </a>
                <a class="right carousel-control carousel-overlay width5 right1per bg-none" href="#myCarousel" role="button"
                   data-slide="next">
                    <img src="<%= imgBase + 'arr-right-thick.png'%>" class="arr_abt" alt="...">
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid position-relative">
        <div class="row">
            <img class="img-responsive width100"
                 src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/about_us/bottom-strip.jpg">
        </div>
        <div class="container about_footer_banner hidden-sm hidden-xs">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <img class="img-responsive img-centered width100"
                         src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/about_us/mobile.png">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <!--<h2 class="color-orange">
                        Appreciate the heritage and hardship
                    </h2>
                    <p class="font-size16 justify color-white">
                        We have to acknowledge and embrace talent  and craftsmanship of Indian artisans. To salute thier
                        business acumen we work with merchants across the country and this abets us in delivering the
                        deluxe specimen to customers across the globe.
                    </p>-->
                    <h2 class="color-white">
                        Disciplined Dedication towards customers
                    </h2>
                    <p>&nbsp;</p>
                    <p class="font-size16 justify color-white">
                        By bringing in high tech platforms for our customers, we help them understand interior decor better.
                        This helps in choosing the right theme suitable for the home interiors of our customers.
                        We help our customers in planning the best decor theme for their home to set the right aesthetics
                        of interior styling. We ensure that the customers get premium quality finished interiors with timely
                        delivery.
                    </p>
                </div>
            </div>
        </div>

        <div class="container bg-about-gray margin-bottom20 hidden-lg hidden-md">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <img class="img-responsive img-centered width100"
                         src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/about_us/mobile.png">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <!--<h2 class="color-orange">
                        Appreciate the heritage and hardship
                    </h2>

                    <p class="font-size16 justify color-white">
                        We have to acknowledge and embrace talent and craftsmanship of Indian artisans. To salute thier
                        business acumen we work with merchants across the country and this abets us i delivering the
                        deluxe specimen to customers across the globe.
                    </p>-->
                    <h2 class="color-orange">
                        Disciplined dedication towards customers
                    </h2>
                    <p>&nbsp;</p>
                    <p class="font-size16 justify color-white">
                        The sole of our organization is a customer, and the longing to eradicate the challenges faced by
                        him. From timely delivery to premium quality, we consider a buyer as the core of our principles,
                        actions and every decision that we undertake in these walls.
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>