<section class="menu-spacer">
    <div class="container-fluid">
        <div class="row margin0">
            <img src="https://cdn.shopify.com/s/files/1/1054/3918/files/AboutUs_Banner1-compressor_1.jpg?12407717107490328307"
                 class="width100">
        </div>
        <div class="container">
            <div class="row margin0 margin-top25">
                <div class="col-lg-6 col-md-6">
                    <p class="justify">
                        We are the thinkers and makers with creative edge and diligent workforce,
                        who offer the thing which matters the most- experience. Folks readily work with us for what we
                        offer.
                    </p>

                    <p class="justify">
                        my<span class="color-orange">gubbi</span> was found as an e-Commerce company to serve shoppers
                        globally. With years landscape
                        has radically altered, online shoppers and their desires are getting more complicated, and
                        we have evolved as well. While founding my<span class="color-orange">gubbi</span> we trusted
                        that customer experiences will
                        facilitate in leaping ahead, we still believe the same today.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <p class="justify">
                        What describes your home? It’s more than an abode, there is a certain
                        uniqueness and quintessence attached with your dwellings that catch the eye of spectators. From
                        the kitchen essentials to bedroom furnishing, living room aesthetics to floor fashioning, we
                        have the inspired style and steadfast team that exclusively focuses on you. Whatever you crave
                        for, whatever enchants you, just name it and we have it.
                    </p>

                    <p class="justify">
                        We are more than just another online venture. Through mygubbi, you won’t be buying just
                        fittings to adorn your dwellings, in fact you will be carrying away the spirit of a vibrant,
                        zesty and charismatic brand at home.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid hidden-xs margin-top40">
        <h1 class="text-transform-none align-center margin-bottom30">
            Rules we Adore
        </h1>

        <div class="carousel" id="myCarousel">
            <div class="carousel-inner margin0">
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="item active">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule4-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule5-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule6-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule7-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule8-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule9-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule10-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule11-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule1-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule2-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a
                                href="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                target="_blank">
                            <img
                                    src="https://cdn.shopify.com/s/files/1/1054/3918/files/Rule3-min.jpg?11616513221413562289"
                                    class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
            <a class="left carousel-control carousel-overlay width5 left1per bg-none" href="#myCarousel" role="button"
               data-slide="prev">
                <img src="<%= imgBase + 'arr-left-thick.png'%>" class="arr_abt" alt="...">
            </a>
            <a class="right carousel-control carousel-overlay width5 right1per bg-none" href="#myCarousel" role="button"
               data-slide="next">
                <img src="<%= imgBase + 'arr-right-thick.png'%>" class="arr_abt" alt="...">
            </a>
        </div>

    </div>

    <div class="container margin-top40">
        <h1 class="text-transform-none align-center margin-bottom30">
            The Experience Centre
        </h1>

        <div class="row margin0 position-relative display-table">
            <img class="img-responsive"
                 src="https://cdn.shopify.com/s/files/1/0899/1076/files/B1_1200x420.jpg?1715687297172426677">

            <div class="img_overlay_txt">
                <h3 class="text-transform-none align-center margin-bottom20">
                    Do you perpetually fuss over the kind of
                    material used or apposite for finishing of products?
                </h3>

                <p>
                    We fathom that every individual has a solid opinion and special
                    preference of choosing a particular item. To suit your requisites, we have set up an
                    Experience Centre based in HSR, Bangalore. You can visit us anytime to grasp our operational
                    process, artistic methods and quality standards that we adhere to. Spread over wide area, we
                    have the machinery and manufacturing units in place.
                </p>
            </div>
        </div>
    </div>

    <div class="container margin-top40">
        <h1 class="text-transform-none align-center margin-bottom30">
            Meet the TEAM
        </h1>

        <div class="row margin0 margin-top20">
            <p class="justify font-size16">
                mygubbi.com was founded by highly experienced serial entrepreneurs Umesh Sangurmath and Ravi Rao.
                Sangurmath and Rao earlier founded, and successfully exited a Bengaluru-based food and grocery retail
                chain. The duo subsequently inducted Aiyappa Alameda and Sunil Rao as co-founders of mygubbi.com, who
                have such an outstanding track record in nurturing businesses which expresses itself.
            </p>
        </div>

        <div class="row margin0">
            <div class="col-lg-3 col-md-3 col-sm-6 margin-top10">
                <div class="portfolio-box bg-light-gray padding15">
                    <h4 class="heading-center-notransform">
                        Umesh Sangurmath
                    </h4>
                    <h5 class="heading-center-notransform">(Founder and Director)</h5>
                    <h5 class="heading-center-notransform">B.E. from NITK, Surathkal</h5>

                    <p class="justify font-size16">
                        Umesh has expertise in setting up and scaling large businesses. Prior to this position at
                        mygubbi, Umesh has co-founded ‘Smart Retail’, a chain of food and grocery in India, which he
                        successfully incubated and exited. Along with that he has headed senior positions in Wipro
                        Technologies and Future Group. With more than two decades of experience, he has Expert level
                        proficiency in Retail, Technology and Reality domains.
                    </p>

                    <p class="font-size16">
                        Know more :
                        <a href="https://www.linkedin.com/in/umesh-sangurmath-5503ba5" target="_blank">
                            <i class="fa fa-linkedin-square social-link"></i>
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 margin-top10">
                <div class="portfolio-box bg-light-gray padding15">
                    <h4 class="heading-center-notransform">
                        Ravi Rao
                    </h4>
                    <h5 class="heading-center-notransform">(Founder and Director)</h5>
                    <h5 class="heading-center-notransform">B.E. from NITK, Surathkal</h5>

                    <p class="justify font-size16">
                        Ravi Rao spearheaded India’s first D2H grocery chain- Smart Retail. After successful incubation
                        and exit from Smart Retail, he has also served as a proud member of huge firms, which includes
                        holding the position of VP at Accenture and AVP at iGATE. He has led Sangam Direct, one of the
                        pioneers in Food and Grocery E-Commerce. He is the renowned expert at Retail, tech operations,
                        strategy, new initiatives and risk management.
                    </p>

                    <p class="font-size16">
                        Know more :
                        <a href="https://www.linkedin.com/in/ravi-rao-244503" target="_blank">
                            <i class="fa fa-linkedin-square social-link"></i>
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 margin-top10">
                <div class="portfolio-box bg-light-gray padding15">
                    <h4 class="heading-center-notransform">
                        Aiyappa A.S
                    </h4>
                    <h5 class="heading-center-notransform">(Co-founder: Operations)</h5>

                    <p class="justify font-size16">
                        With more than 18 years of experience in operations, Aiyappa has in-depth knowledge of his work
                        and associated functions. Prior to mygubbi, he has held senior positions at Sobha Pvt Ltd, TATA
                        Coffee Ltd. And Dovetail Furniture. He comes with deep proficiency in end-to-end business
                        operations related to Interior and Furniture operations.
                    </p>

                    <p class="font-size16">
                        Know more :
                        <a href="https://www.linkedin.com/in/aiyappa-alemada-bb011b20" target="_blank">
                            <i class="fa fa-linkedin-square social-link"></i>
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 margin-top10">
                <div class="portfolio-box bg-light-gray padding15">
                    <h4 class="heading-center-notransform">
                        Sunil Rao
                    </h4>
                    <h5 class="heading-center-notransform">(Co-founder: Technology Development)</h5>
                    <h5 class="heading-center-notransform">Masters from University of Pennsylvania</h5>

                    <p class="justify font-size16">
                        Sunil has 24+ years of experience as System Architect and Tech Management in his portfolio. With
                        previous experience of handling senior positions at TESCO and Siemens, he has
                        magnificently founded Service22 and Solutions Specialist Inc as well.
                    </p>

                    <p class="font-size16">
                        Know more :
                        <a href="https://www.linkedin.com/in/sunilrao" target="_blank">
                            <i class="fa fa-linkedin-square social-link"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid margin-top40">
        <div class="row margin0 position-relative width100">
            <img class="img-responsive width100"
                 src="https://cdn.shopify.com/s/files/1/1054/3918/files/4536710787_5ae9b29844_o.jpg?6809867384807272028">

            <div class="img_overlay_txt">
                <h2 class="text-transform-none align-center margin-bottom20">
                    Our values will cheer you up
                </h2>

                <p class="align-center">
                    We believe that everyone, everywhere must sleep
                    happily. This is the soul of our labor and judgements that we endure within these walls.
                </p>

                <h3 class="text-transform-none align-center margin-top20">
                    Stay alert! Our ideas might be contagious...
                </h3>
            </div>
        </div>
    </div>

</section>