<section class="menu-spacer">
    <div class="container">

        <br><br>

        <h1>Careers</h1>


        <p><strong>The MyGubbi Work Culture</strong></p>

        <p>It is the age of the start-up. A good idea, great talent and the zeal to work for a passion is what is
            driving
            the creative industry today. At mygubbi, we are always on the look-out for quality talent. What we can offer
            you
            is:</p>
        <ul>
            <li>
                <span></span>A stable profession in the online retail business
            </li>
            <li>
                <span></span>Growth opportunities in your chosen field of creativity
            </li>
            <li>
                <span></span>A chance to grow with a company that is poised to expand into the big leagues
            </li>
            <li>
                <span></span>A work culture that demands results but, makes the ambience you work in fun
            </li>
            <li>
                <span></span>A work culture that is triggered by the young, casual, design-conscious, go-getter
            </li>
            <li>
                <span></span>Work experience that continues to believe in learning-based applications
            </li>
        </ul>
        <p>If you believe in the same ideals then we would like to hear from you now!</p>

        <p><b>Contact details</b></p>

        <p><b>We are looking to add resources in Design, 3D visualization, Sourcing Operations</b></p>

        <p><b>Please send your application with resume / cover letter / portfolio to careers@mygubbi.com</b></p>

        <div>
        </div>
    </div>
</section>