<section class="menu-spacer">
    <div class="container margin-bottom20">

        <h1>Careers</h1>

        <h4 class="text-transform-none">The MyGubbi Work Culture</h4>

        <p class="justify">
            It is the age of the start-up. A good idea, great talent and the zeal to work for a passion is what is
            driving the creative industry today. At mygubbi, we are always on the look-out for quality talent.
        </p>

        <p>
            What we can offer you is:
        </p>
        <ul>
            <li>
                A stable profession in the online retail business
            </li>
            <li>
                Growth opportunities in your chosen field of creativity
            </li>
            <li>
                A chance to grow with a company that is poised to expand into the big leagues
            </li>
            <li>
                A work culture that demands results but, makes the ambience you work in fun
            </li>
            <li>
                A work culture that is triggered by the young, casual, design-conscious, go-getter
            </li>
            <li>
                Work experience that continues to believe in learning-based applications
            </li>
        </ul>
        <p>If you believe in the same ideals then we would like to hear from you now!</p>

        <h4 class="text-transform-none margin-top20">Current Openings</h4>

        <p>We are looking to add resources in following fields:</p>
        <ul>
            <li>Design</li>
            <li>Sales ( junior & senior)</li>
            <li>Pre Sales</li>
            <li>Interior Designer – Junior & Senior</li>
            <li>CRM Suite</li>
            <li>Planning and Estimation</li>
        </ul>

        <p>Please send your application with resume / cover letter / portfolio to <b>careers@mygubbi.com</b></p>

    </div>
</section>