<section class="menu-spacer bg-color-white">

    <!-- Start career-bg -->
    <div class="career-bg"></div>
    <!-- End career-bg -->

    <!-- Start career culture -->
    <div class="career-culture-section pt30 pb30">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h1 class="section-heading"> The MyGubbi Work Culture </h1>
                    <p>It is the age of the start-up. A good idea, great talent and the zeal to work for a passion is what is driving the creative industry today.
                        At mygubbi, we are always on the look-out for quality talent.</p>
                </div>
            </div>
            <div class="culture-wrap mt30">
                <div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        <div class="career-graph">
                            <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1476334999/career/career-graph.jpg" alt="graph">
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <h5 class="text-capitalize"> What we can offer you is: </h5>
                        <ul class="career-offer">
                            <li class="gubbi">
                                A stable profession in the online retail business
                            </li>
                            <li class="gubbi">
                                Growth opportunities in your chosen field of creativity
                            </li>
                            <li class="gubbi">
                                A chance to grow with a company that is poised to expand into the big leagues
                            </li>
                            <li class="gubbi">
                                A work culture that demands results but, makes the ambience you work in fun
                            </li>
                            <li class="gubbi">
                                A work culture that is triggered by the young, casual, design-conscious, go-getter
                            </li>
                            <li class="gubbi">
                                Work experience that continues to believe in learning-based applications
                            </li>
                        </ul>
                        <p> If you believe in the same ideals then we would like to hear from you now! </p>
                    </div>
                </div>
            </div>
            <div class="culture-wrap mt30">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                        <h1 class="section-heading"> Current Openings </h1>
                    </div>
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <h5 class="text-capitalize"> We are looking to add resources in following fields: </h5>
                        <ul class="career-offer">
                            <li class="gubbi">
                                Category Head
                            </li>
                            <li class="gubbi">
                                Sales Executive - Pune
                            </li>
                            <li class="gubbi">
                                3D Visualizer
                            </li>
                            <li class="gubbi">
                                Senior Interior Designer
                            </li>
                            <li class="gubbi">
                                Zonal Head - Bangalore
                            </li>
                            <li class="gubbi">
                                Planning and Estimation
                            </li>
                        </ul>
                        <p> Please send your application with resume / cover letter / portfolio to <b>careers@mygubbi.com</b> </p>
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        <div class="career-graph">
                            <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1476340273/career/career-hiring.jpg" alt="graph">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End career culture -->

</section>