<footer style="padding-bottom: 220px">
    <img class="footer-top" src="<%= imgBase + 'footer-top.png'%>"/>
    <img class="footer-bg" src="<%= imgBase + 'c_scale,w_' + Math.round(screen.width*0.59) + '/home/footer_19.png' %>">

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 align-left">
                    <h5>mygubbi</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/about-mygubbi">About Us</a>
                        </li>
                        <li>
                            <a href="/consult">Contact Us</a>
                        </li>
                        <li>
                            <a href="/stories">Stories</a>
                        </li>
                        <li>
                            <a href="/mygubbi-difference">mygubbi Difference</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 align-left">
                    <h5>Information</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/careers">Careers</a>
                        </li>
                        <li>
                            <a href="/faq">FAQs</a>
                        </li>
                        <li>
                            <a href="/privacy-policy">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/terms">Terms &amp; Conditions</a>
                        </li>
                        <!--<li>
                            <a href="/media">Media</a>
                        </li>-->
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 align-left">
                    <h5>Need Help?</h5>
                    <div>
                        <div class="row">
                            <div class="col-md-1 col-sm-1 col-xs-1 padding10">
                                <span class="glyphicon glyphicon-earphone"></span>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                +91 80 88 86 0860
                                <br/>(9 AM to 6 PM, Mon - Sat)
                            </div>
                        </div>
                    </div>
                    <div class="next-line">
                        <div class="row">
                            <div class="col-md-1 col-sm-1 col-xs-1 padding10">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <a href="mailto:reach@mygubbi.com" class="font-size14">reach@mygubbi.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="next-line">
                        <div class="row">
                            <a href="https://www.google.co.in/maps/place/Orange+Gubbi+technologies/@12.9174948,77.6451492,15z" target="_blank">
                                <div class="col-md-1 col-sm-1 col-xs-1 padding10">
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <p>
                                        1502, 2nd Floor,
                                        19th Main Road,
                                        Sector 4, HSR Layout,
                                        Bangalore 560102
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-left">
                    <h5>Keep in Touch</h5>
                    <div>
                        <div class="row margin-left-0">
                            <ul class="list-unstyled">
                                <li>
                                    Subscribe to our Newsletter
                                </li>
                                <li>
                                    <input type="text" id="subscribe-email" class="footer-txtbox next-line" placeholder="abc@example.com"/>
                                    <img src="<%= imgBase + 'right-arrow.png'%>" class="btn-effect non_resp_img" id="subscribe-btn"/>
                                </li>
                                <li class="display-none" id="subscribe-msg">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/my_gubbi" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://facebook.com/mygubbi" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/company/mygubbi" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                    <div class="next-line">
                        <span class="copyright">Copyright &copy; mygubbi.com 2015</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="back-to-top">
        <span class="fa fa-chevron-up"></span>
    </a>
</footer>
