<!--<div class="og-footer">-->
    <!--<div class="margin-sm"></div>-->
    <!--<div class="row">-->
        <!--<div class="col-sm-8">-->
            <!--<div class="row">-->
                <!--<div class="col-sm-3"></div>-->
                <!--<div class="col-sm-3 og-color">ORANGE GUBBI</div>-->
                <!--<div class="col-sm-3"></div>-->
                <!--<div class="col-sm-3"></div>-->
            <!--</div>-->
            <!--<div class="margin-sm"></div>-->
            <!--<div class="row">-->
                <!--<div class="col-sm-3"></div>-->
                <!--<div class="col-sm-3">All Solutions</div>-->
                <!--<div class="col-sm-3">L-Shaped Kitchen</div>-->
                <!--<div class="col-sm-3">Our Blocks</div>-->
                <!--<div class="col-sm-3"></div>-->
                <!--<div class="col-sm-3">Living & Dining</div>-->
                <!--<div class="col-sm-3">U-Shaped Kitchen</div>-->
                <!--<div class="col-sm-3">About Us</div>-->
                <!--<div class="col-sm-3"></div>-->
                <!--<div class="col-sm-3">Kitchen</div>-->
                <!--<div class="col-sm-3">Parallel Kitchen</div>-->
                <!--<div class="col-sm-3">Careers</div>-->
                <!--<div class="col-sm-3"></div>-->
                <!--<div class="col-sm-3">Bedroom</div>-->
                <!--<div class="col-sm-3">Straight Kitchen</div>-->
                <!--<div class="col-sm-3">Contact Us</div>-->
                <!--<div class="col-sm-3"></div>-->
                <!--<div class="col-sm-3">Entertainment Unit</div>-->
                <!--<div class="col-sm-3">Wardrobe</div>-->
                <!--<div class="col-sm-3">FAQs</div>-->
                <!--<div class="col-sm-3"></div>-->
                <!--<div class="col-sm-3">Shoe Rack</div>-->
                <!--<div class="col-sm-3">Study Table</div>-->
                <!--<div class="col-sm-3">Terms & Conditions</div>-->
                <!--<div class="col-sm-3"></div>-->
                <!--<div class="col-sm-3">Crockery Unit</div>-->
                <!--<div class="col-sm-3">Side Table</div>-->
                <!--<div class="col-sm-3">Privacy Policy</div>-->
                <!--<div class="col-sm-3"></div>-->
                <!--<div class="col-sm-3"></div>-->
                <!--<div class="col-sm-3">Book Rack</div>-->
                <!--<div class="col-sm-3"></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<div class="margin-md"></div>-->
            <!--<div class="row">-->
                <!--<div class="col-sm-4"><input style="width: 100%;" placeholder="Email"/></div>-->
                <!--<div class="col-sm-4">&nbsp;</div>-->
                <!--<div class="col-sm-4">&nbsp;</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-sm-4"><a href="#" class="og-updates-action">Get Updates</a></div>-->
                <!--<div class="col-sm-4"></div>-->
                <!--<div class="col-sm-4"></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="margin-md"></div>-->
    <!--<div class="row" style="color: #AAA;">-->
        <!--<div class="col-sm-8">-->
            <!--<div class="row">-->
                <!--<div class="col-sm-3"></div>-->
                <!--<div class="col-sm-3">Copyright 2015 &copy; OrangeGubbi.com</div>-->
                <!--<div class="col-sm-3"></div>-->
                <!--<div class="col-sm-3"></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<div class="row">-->
                <!--<div class="col-sm-12">Get in Touch &nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-facebook-official" style="font-size: 18px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-twitter" style="font-size: 18px;"></span></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<a href="#" class="back-to-top"><span class="fa fa-chevron-up"></span></a>-->
<!--</div>-->
<!--<script lang="JavaScript">-->
    <!--jQuery(document).ready(function() {-->
        <!--var offset = 100;-->
        <!--var duration = 500;-->
        <!--jQuery(window).scroll(function() {-->
            <!--if (jQuery(this).scrollTop() > offset) {-->
                <!--jQuery('.back-to-top').fadeIn(duration);-->
            <!--} else {-->
                <!--jQuery('.back-to-top').fadeOut(duration);-->
            <!--}-->
        <!--});-->

        <!--jQuery('.back-to-top').click(function(event) {-->
            <!--event.preventDefault();-->
            <!--jQuery('html, body').animate({scrollTop: 0}, duration);-->
            <!--return false;-->
        <!--});-->
    <!--});-->
<!--</script>-->

<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-3 align-left">
                    <h5>MyGubbi</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Blogs</a>
                        </li>
                        <li>
                            <a href="#">MyGubbi Difference</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 align-left">
                    <h5>Information</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">Payment</a>
                        </li>
                        <li>
                            <a href="#">Shipping & Installation</a>
                        </li>
                        <li>
                            <a href="#">Cancellation</a>
                        </li>
                        <li>
                            <a href="#">Warranty</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 align-left">
                    <h5>Need Help?</h5>
                    <div>
                        <div class="row">
                            <div class="col-md-2">
                                <span class="glyphicon glyphicon-earphone"></span>
                            </div>
                            <div class="col-md-10">
                                +91 80 88 86 0860
                                <br/>(9 AM to 6 PM, Mon - Sat)
                            </div>
                        </div>
                    </div>
                    <div class="next-line">
                        <div class="row">
                            <div class="col-md-2">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </div>
                            <div class="col-md-10">
                                reach@mygubbi.com
                            </div>
                        </div>
                    </div>
                    <div class="next-line">
                        <div class="row">
                            <div class="col-md-2">
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </div>
                            <div class="col-md-10">
                                1502, 2nd Floor,
                                19th Main Road,
                                Sector 4, HSR Layout,
                                Bangalore 560 102
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 align-left">
                    <h5>Keep in Touch</h5>
                    <div>
                        <div class="row" style="margin-left: 0px">
                            <ul class="list-unstyled">
                                <li>
                                    Subscribe to our Newsletter
                                </li>
                                <li>
                                    <input type="text" class="footer-txtbox next-line" placeholder="abc@example.com"/>
                                    <img src="img/right-arrow.png" class="btn-effect"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                    <div class="next-line">
                        <span class="copyright">Copyright &copy; MyGubbi.com 2015</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a style="display: block;" href="#" class="back-to-top">
        <span class="fa fa-chevron-up"></span>
    </a>
</footer>

<script>
    $(document).ready(function(){

        var offset = 100;
        var duration = 500;
        $(window).scroll(function() {
            if ($(this).scrollTop() > offset) {
                $('.back-to-top').fadeIn(duration);
            } else {
                $('.back-to-top').fadeOut(duration);
            }
        });

        $('.back-to-top').click(function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop: 0}, duration);
            return false;
        });

        $("#wish").click(function() {
            if($(this).hasClass('glyphicon-heart')){
                $(this).removeClass('glyphicon-heart').addClass('glyphicon-heart-empty');
                $('.super-script').hide();
            }else{
                $(this).removeClass('glyphicon-heart-empty').addClass('glyphicon-heart');
                $('.super-script').show();
            }
        });

    });
</script>