<footer>
    <img class="footer-top" src="/img/footer-top.png"/>
    <img class="footer-bg" src="/img/footer1.png"/>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 align-left">
                    <h5>MyGubbi</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Blogs</a>
                        </li>
                        <li>
                            <a href="#">MyGubbi Difference</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 align-left">
                    <h5>Information</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">Payment</a>
                        </li>
                        <li>
                            <a href="#">Shipping & Installation</a>
                        </li>
                        <li>
                            <a href="#">Cancellation</a>
                        </li>
                        <li>
                            <a href="#">Warranty</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 align-left">
                    <h5>Need Help?</h5>
                    <div>
                        <div class="row">
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <span class="glyphicon glyphicon-earphone"></span>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                +91 80 88 86 0860
                                <br/>(9 AM to 6 PM, Mon - Sat)
                            </div>
                        </div>
                    </div>
                    <div class="next-line">
                        <div class="row">
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                reach@mygubbi.com
                            </div>
                        </div>
                    </div>
                    <div class="next-line">
                        <div class="row">
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                1502, 2nd Floor,
                                19th Main Road,
                                Sector 4, HSR Layout,
                                Bangalore 560 102
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-left">
                    <h5>Keep in Touch</h5>
                    <div>
                        <div class="row" style="margin-left: 0px">
                            <ul class="list-unstyled">
                                <li>
                                    Subscribe to our Newsletter
                                </li>
                                <li>
                                    <input type="text" class="footer-txtbox next-line" placeholder="abc@example.com"/>
                                    <img src="img/right-arrow.png" class="btn-effect"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                    <div class="next-line">
                        <span class="copyright">Copyright &copy; MyGubbi.com 2015</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="back-to-top">
        <span class="fa fa-chevron-up"></span>
    </a>
</footer>

<script>
    $(document).ready(function(){

        var offset = 500;
        var duration = 500;
        $(window).scroll(function() {
            if ($(this).scrollTop() > offset) {
                $('.back-to-top').fadeIn(duration);
            } else {
                $('.back-to-top').fadeOut(duration);
            }
        });

        $('.back-to-top').click(function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop: 0}, duration);
            return false;
        });

        $("#wish").click(function() {
            if($(this).hasClass('glyphicon-heart')){
                $(this).removeClass('glyphicon-heart').addClass('glyphicon-heart-empty');
                $('.super-script').hide();
            }else{
                $(this).removeClass('glyphicon-heart-empty').addClass('glyphicon-heart');
                $('.super-script').show();
            }
        });

    });
</script>