<!-- Footer Start -->
<footer class="bg-color-white">
    <div class="footer-section-top mbt20">
        <div class="container">
            <div class="row">
                <img src="https://sp.analytics.yahoo.com/spp.pl?a=10000&.yp=10010786" alt="yahoo" />
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 align-left">
                    <h5>mygubbi</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/about-us">About Us</a>
                        </li>
                        <li>
                            <a href="/consult">Contact Us</a>
                        </li>
                        <li>
                            <a href="/stories-all">Stories</a>
                        </li>
                        <!--<li>
                            <a href="/mygubbi-difference">mygubbi Difference</a>
                        </li>-->
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 align-left">
                    <h5>Information</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/careers">Careers</a>
                        </li>
                        <li>
                            <a href="/faq">FAQs</a>
                        </li>
                        <li>
                            <a href="/privacy-policy">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/terms">Terms &amp; Conditions</a>
                        </li>
                        <li>
                            <a href="/media">Media</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 align-left">
                    <h5>Need Help?</h5>
                    <div>
                        <div class="row">
                            <div class="col-md-1 col-sm-1 col-xs-1 padding10">
                                <span class="glyphicon glyphicon-earphone"></span>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                +91 80 88 86 0860
                                <br/>(9 AM to 6 PM, Mon - Sat)
                            </div>
                        </div>
                    </div>
                    <div class="next-line">
                        <div class="row">
                            <div class="col-md-1 col-sm-1 col-xs-1 padding10">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <a href="mailto:reach@mygubbi.com" class="font-size14">reach@mygubbi.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="next-line">
                        <div class="row">
                            <a href="https://www.google.co.in/maps/place/Orange+Gubbi+technologies/@12.9174948,77.6451492,15z" target="_blank">
                                <div class="col-md-1 col-sm-1 col-xs-1 padding10">
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <p>
                                        1502, 2nd Floor,
                                        19th Main Road,
                                        Sector 4, HSR Layout,
                                        Bangalore 560102
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-left">
                    <h5>Keep in Touch</h5>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/my_gubbi" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://facebook.com/mygubbi" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/company/mygubbi" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="https://www.instagram.com/my_gubbi/" target="_blank"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li><a href="https://www.pinterest.com/my_gubbi/mygubbi/" target="_blank"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!--
    <div class="footer-section-mid mbt20">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h5> <strong> Home Interior Decor: Just Got Easy </strong> </h5>
                    <p>
                        Visualising a better home is a dream of every individual and what better than
                        living in a dream home which has been designed as per your likes.
                        Looking for interior designing for your home just got easy with mygubbi.com.
                        Here you can get custom made furniture and have a sneak-peak on the modular furnitures we have on our website.
                    </p>
                    <h5><strong> Mygubbi.com: Home for customized furniture and interior designing </strong></h5>
                    <p>
                        At mygubbi.com you can browse designs online or walk in to our experience center
                        to have a better understanding on the types, finish, materials and color options
                        that mygubbi has. While we have a team of experts who have a wide experience in home
                        interior decor, we have also partnered with brands including Hettich, Hafele,
                        Century Ply and such like to ensure that our products are sourced with highest quality.
                        If you have been looking for customized furniture and home interior design then you
                        can stop your search here at mygubbi.com.
                    </p>

                    <h5><strong> Mygubbi.com: Customized Interior Home Decor and Designing Solutions </strong></h5>
                    <p>
                        For home interiors, modern furniture designs and customized solutions, log on to mygubbi.com.
                        We have all the home furniture solutions that you are looking for to build your dream home.
                        We have a wide range of modular wardrobes, modular kitchens, TV entertainment units, side racks,
                        shoe racks and plenty other storage solutions. Visit our experience center now or just give a call to us
                        - you are only 45 days away from making your dream a reality.
                    </p>
                </div>
            </div>
        </div>
    </div>
-->
    <div class="footer-section-bottom">
        <div class="container-fluid footer-cls text-center">
            <div class="row margin0">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="list-inline">
                        <li><a href="#" class="txt-color-light-grey" style="border-right:1px solid #ccc;padding-right:15px;"> Disclaimer </a></li>
                        <li><a href="#" class="txt-color-light-grey"> Terms & Conditions</a></li>
                    </ul>
                    <span class="txt-color-light-grey copyright">Copyright © Mygubbi 2016</span>
                </div>
            </div>
        </div>
    </div>
</footer>