<!-- Footer Start -->
<footer class="bg-color-footer-top">

    <div class="footer-section-top mbt20">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-sm-6">
                    <div class="footer-img">
                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1479292965/home/footer-ioc.png" alt="footer logo">
                    </div>
                    <h6> Follow us at </h6>
                    <ul class="list-inline social-buttons social-btn-link">
                        <li><a href="https://twitter.com/my_gubbi" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://facebook.com/mygubbi" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/company/mygubbi" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="https://www.instagram.com/my_gubbi/" target="_blank"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li><a href="https://www.pinterest.com/my_gubbi/mygubbi/" target="_blank"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2 col-md-2 col-sm-6">
                    <h5> mygubbi </h5>
                    <div class="border-bottom-ft-grey"></div>
                    <ul class="list-unstyled uppercase">
                        <li>
                            <a href="/about-us"> About Us </a>
                        </li>
                        <li>
                            <a href="/careers"> Careers </a>
                        </li>
                        <li>
                            <a href="/media"> Media </a>
                        </li>
                        <li>
                            <a href="/consult"> Contact </a>
                        </li>
                        <li>
                            <a href="/stories-all"> Stories </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2 col-md-2 col-sm-6">
                    <h5> Information </h5>
                    <div class="border-bottom-ft-grey"></div>
                    <ul class="list-unstyled uppercase">
                        <li>
                            <a href="/faq"> FAQs </a>
                        </li>
                        <li>
                            <a href="/faq#shipping"> SHIPPING & PAYMENT </a>
                        </li>
                        <li>
                            <a href="/faq#returns"> WARRANTY </a>
                        </li>
                        <li>
                            <a href="/faq#returns"> RETURNS & REFUNDS </a>
                        </li>
                        <li>
                            <a href="/terms"> Terms & Conditions </a>
                        </li>
                        <li>
                            <a href="/privacy-policy"> Privacy Policy </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3 col-sm-6">
                    <h5> Need Help? - GET IN TOUCH </h5>
                    <div class="border-bottom-ft-grey"></div>
                    <div class="next-line">
                        <div class="row">
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <span class="ioc-circle">
                                    <i class="glyphicon glyphicon-earphone"></i>
                                </span>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                               <p>
                                   +91 80 88 86 0860 <br/>(9 AM to 6 PM, Mon - Sat)
                               </p>
                            </div>
                        </div>
                    </div>
                    <div class="next-line">
                        <div class="row">
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <span class="ioc-circle">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </span>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <a href="mailto:reach@mygubbi.com" class="font-size14"> reach@mygubbi.com </a>
                            </div>
                        </div>
                    </div>
                    <div class="next-line">
                        <div class="row">
                            <a href="https://www.google.co.in/maps/place/Orange+Gubbi+technologies/@12.9174948,77.6451492,15z" target="_blank">
                                <div class="col-md-1 col-sm-1 col-xs-1">
                                    <span class="ioc-circle">
                                        <i class="glyphicon glyphicon-map-marker"></i>
                                    </span>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <p>
                                        1502, 2nd Floor,
                                        19th Main Road,
                                        Sector 4, HSR Layout,
                                        Bangalore 560102
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-sm-6">
                    <h5> Newsletter </h5>
                    <div class="border-bottom-ft-grey"></div>
                    <form>
                        <div class="next-line">
                            <input type="text" class="form-control footer-form-control" placeholder="Your Name">
                        </div>
                        <div class="next-line">
                            <input type="text" class="form-control footer-form-control" placeholder="Email Address">
                        </div>
                        <div class="next-line">
                            <div class="btn btn-block btn-footer"> Subscribe Now </div>
                        </div>
                    </form>

                </div>

            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <h5> MOST SEARCHED ITEMS ON MYGUBBI </h5>
                    <div class="border-bottom-ft-grey"></div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <ul class="list-tag list-inline">
                        <li><a href="#"> INTERIOR DESIGNERS </a></li>
                        <li><a href="#"> KITCHEN CABINETS </a></li>
                        <li><a href="#"> L - SHAPED KITCHEN </a></li>
                        <li><a href="#"> U - SHAPED KITCHEN </a></li>
                        <li><a href="#"> PARALLEL KITCHEN </a></li>
                        <li><a href="#"> STRAIGHT KITCHEN DESIGN </a></li>
                        <li><a href="#"> STORAGE SOLUTION </a></li>
                        <li><a href="#"> STUDY TABLE </a></li>
                        <li><a href="#"> SIDE TABLE </a></li>
                        <li><a href="#"> WARDROBE </a></li>
                        <li><a href="#"> TV UNIT CABINET </a></li>
                        <li><a href="#"> FOYER </a></li>
                        <li><a href="#"> SHOE RACK </a></li>
                        <li><a href="#"> CROCKERY UNIT </a></li>
                        <li><a href="#"> SIDE BOARD </a></li>
                        <li><a href="#"> BOOK SELF </a></li>
                        <li><a href="#"> NEST OF TABLES </a></li>
                        <li><a href="#"> COFFEE TABLES </a></li>
                        <li><a href="#"> CHEST OF DRAWERS </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-section-bottom">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="list-inline">
                        <li> <p>Copyright © Mygubbi 2016. | </p> </li>
                        <li><p> All Rights Reserved </p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>

