<div class="bg-color-white">

    <!-- start platinum banner section -->
    <section class="platinum-banner-section">
        <div class="platinum-banner-bg">
            <!--<div class="platinum-banner-band hidden-xs hidden-sm">
                <h2 class="platinum-banner-band-head"> We Design Every Inch Of Your Home! </h2>
                <h4 class="platinum-banner-band-des"> One-Stop Solution To Designing Your Home. </h4>
            </div>-->
        </div>
    </section>
    <!-- end platinum banner section -->

    <!-- start platinum services section -->
    <section class="platinum-services-section margin-bottom20">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center margin-bottom20">
                    <!--<h2 class="platinum-head"> Services </h2>-->
                    <h2 class="platinum-banner-band-head"> We Design Every Inch Of Your Home! </h2>
                    <h4 class="platinum-banner-band-des"> One-Stop Solution To Designing Your Home. </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="p-service-bg">
                        <div class="text-center">
                            <div class="p-service-card">
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="active"><a href="#surfaces" data-toggle="tab"> SURFACES </a></li>
                                    <li><a href="#funiture" data-toggle="tab"> FURNITURE </a></li>
                                    <li><a href="#appliances" data-toggle="tab"> APPLIANCES </a></li>
                                    <li><a href="#decor" data-toggle="tab"> DECOR </a></li>
                                </ul>
                                <div class="tab-content p-service-tab">
                                    <div id="surfaces" class="tab-pane fade in active">
                                        <div class="row">
                                            <div class="col-sm-4 col-md-3 col-lg-3">
                                                <div class="p-stacked-tab">
                                                    <ul class="nav nav-pills nav-stacked">
                                                        <li class="active"><a href="#wallpaper" data-toggle="tab"> Wall paper </a></li>
                                                        <li><a href="#vinyal" data-toggle="tab"> Vinyl stickering </a></li>
                                                        <li><a href="#glass" data-toggle="tab"> Glass etched </a></li>
                                                        <li><a href="#pattern" data-toggle="tab"> Pattern on Shutters </a></li>
                                                        <li><a href="#mirrors" data-toggle="tab"> Mirrors with carved frames </a></li>
                                                        <li><a href="#backwall" data-toggle="tab"> back wall as light </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-sm-8 col-md-9 col-lg-9">
                                                <div class="tab-content">
                                                    <div id="wallpaper" class="tab-pane fade in active">
                                                        <div class="ser-img">
                                                            <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1479324528/platinum_home/wallpaper_03.jpg" alt="wall paper">
                                                        </div>
                                                        <div class="ser-about">
                                                            Add interest to any room with our collection of wallpapers. The intricate patterns, textures and colours add an enchanting feel to your living space. Work around your creativity to add interest to the walls surrounding you.
                                                        </div>
                                                    </div>
                                                    <div id="vinyal" class="tab-pane fade in">
                                                        <div class="ser-img">
                                                            <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1479324528/platinum_home/vinyl_03.jpg" alt="wall paper">
                                                        </div>
                                                        <div class="ser-about">
                                                            Easy to add, remove and clean, vinyl stickering work best for walls that tend to get dirty soon. The impeccable designs and finish are perfect to add brightness to any room.
                                                        </div>
                                                    </div>
                                                    <div id="glass" class="tab-pane fade in">
                                                        <div class="ser-img">
                                                            <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1479324528/platinum_home/glass_03.jpg" alt="wall paper">
                                                        </div>
                                                        <div class="ser-about">
                                                            Aesthetically pleasing art on a glass surface can add a charming atmosphere to your living space. The etched glass on a surface of your room is great for covering walls with an artistic look.
                                                        </div>
                                                    </div>
                                                    <div id="pattern" class="tab-pane fade in">
                                                        <div class="ser-img">
                                                            <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1479324528/platinum_home/pattern_03.jpg" alt="wall paper">
                                                        </div>
                                                        <div class="ser-about">
                                                            Intricate patterns on shutters add a vintage style to the walls. With great customization options, the geometric performed patterns allow you to enhance the beauty of your abode.
                                                        </div>
                                                    </div>
                                                    <div id="mirrors" class="tab-pane fade in">
                                                        <div class="ser-img">
                                                            <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1479324528/platinum_home/mirror_03.jpg" alt="wall paper">
                                                        </div>
                                                        <div class="ser-about">
                                                            A carved frame mirror can help you add an exquisite style to any part of the mansion. Featuring both retro and modern styling, these framed mirrors with intricate detailing are perfect for decorating a part of the wall.
                                                        </div>
                                                    </div>
                                                    <div id="backwall" class="tab-pane fade in">
                                                        <div class="ser-img">
                                                            <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1479324528/platinum_home/backwall_03.jpg" alt="wall paper">
                                                        </div>
                                                        <div class="ser-about">
                                                            Commonly known as the corner light, back wall as light brings a contemporary feel to the room. The light surface is ideal to be installed in large rooms to enhance its radiance.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="funiture" class="tab-pane fade">
                                        <div class="row">
                                            <div class="col-sm-4 col-md-3 col-lg-3">
                                                <div class="p-stacked-tab">
                                                    <ul class="nav nav-pills nav-stacked">
                                                        <li class="active"><a href="#sofas" data-toggle="tab"> Sofas & more </a></li>
                                                        <li><a href="#addon" data-toggle="tab"> Add-on furniture </a></li>
                                                        <li><a href="#wooden" data-toggle="tab"> Wooden beams  </a></li>
                                                        <li><a href="#outdoor" data-toggle="tab"> Outdoor furniture </a></li>
                                                        <li><a href="#deck" data-toggle="tab"> Deck flooring </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-sm-8 col-md-9 col-lg-9">
                                                <div class="tab-content">
                                                    <div id="sofas" class="tab-pane fade in active">
                                                        <div class="ser-img">
                                                            <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1479355293/platinum_home/sofa_03.jpg" alt="wall paper">
                                                        </div>
                                                        <div class="ser-about">
                                                            Offering comfortable seating space with a touch of modern styling, sofas are an essential piece of furniture. Choose the right sofa available in various designs and types based on the look of your room.
                                                        </div>
                                                    </div>
                                                    <div id="addon" class="tab-pane fade in">
                                                        <div class="ser-img">
                                                            <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1479355292/platinum_home/addon_03.jpg" alt="wall paper">
                                                        </div>
                                                        <div class="ser-about">
                                                            A perfect blend of space, style and contemporary looks, add-on furniture are perfect to be used at any part of your house. Offering great convenience, this furniture can be used to organize your room easily.
                                                        </div>
                                                    </div>
                                                    <div id="wooden" class="tab-pane fade in">
                                                        <div class="ser-img">
                                                            <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1479355293/platinum_home/wooden_03.jpg" alt="wall paper">
                                                        </div>
                                                        <div class="ser-about">
                                                            Featuring a modern look, wooden beams can be used to decorate any surface of a room. The stunning layers in rich colours make wooden beams an exotic addition to the interiors.
                                                        </div>
                                                    </div>
                                                    <div id="outdoor" class="tab-pane fade in">
                                                        <div class="ser-img">
                                                            <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1479355293/platinum_home/outdoor_03.jpg" alt="wall paper">
                                                        </div>
                                                        <div class="ser-about">
                                                            Garden and outdoor furniture help in adding sophisticated styling to your balcony. A simple table and comfortable chairs can work in a great way to enjoy your coffee sessions in style.
                                                        </div>
                                                    </div>
                                                    <div id="deck" class="tab-pane fade in">
                                                        <div class="ser-img">
                                                            <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1479355297/platinum_home/deck_03.jpg" alt="wall paper">
                                                        </div>
                                                        <div class="ser-about">
                                                            With slip resistant surface, deck flooring is common for its contemporary style and decorative patterns. Deck flooring brings in the unmatched advantages of being waterproof and weatherproof making it perfect to be used indoors and outdoors.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="appliances" class="tab-pane fade">
                                        <div class="row">
                                            <div class="col-sm-4 col-md-3 col-lg-3">
                                                <div class="p-stacked-tab">
                                                    <ul class="nav nav-pills nav-stacked">
                                                        <li class="active"><a href="#homeautomation" data-toggle="tab"> Home automation </a></li>
                                                        <li><a href="#lighting" data-toggle="tab"> Lighting </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-sm-8 col-md-9 col-lg-9">
                                                <div class="tab-content">
                                                    <div id="homeautomation" class="tab-pane fade in active">
                                                        <div class="ser-img">
                                                            <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1479356012/platinum_home/home-automation_03.jpg" alt="wall paper">
                                                        </div>
                                                        <div class="ser-about">
                                                            Combining technology and comfort, home automation allows you to control multiple devices at your home. From switching on the light to the functioning of your garage door, everything can be controlled remotely.
                                                        </div>
                                                    </div>
                                                    <div id="lighting" class="tab-pane fade in">
                                                        <div class="ser-img">
                                                            <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1479356012/platinum_home/lighting_03.jpg" alt="wall paper">
                                                        </div>
                                                        <div class="ser-about">
                                                            Providing an aesthetic effect in your living space, lightings with beautiful lamps and bulbs can change the overall look. Featuring gorgeous patterns and designs, these lightings can be placed at the right place in your home for a graceful appeal.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="decor" class="tab-pane fade">
                                        <div class="row">
                                            <div class="col-sm-4 col-md-3 col-lg-3">
                                                <div class="p-stacked-tab">
                                                    <ul class="nav nav-pills nav-stacked">
                                                        <li class="active"><a href="#soft" data-toggle="tab"> Soft furnishing </a></li>
                                                        <li><a href="#painting" data-toggle="tab"> Painting / murals </a></li>
                                                        <li><a href="#artefacts" data-toggle="tab"> Artefacts   </a></li>
                                                        <li><a href="#headboard" data-toggle="tab"> Headboard  </a></li>
                                                        <li><a href="#indoor" data-toggle="tab"> Indoor plants  </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-sm-8 col-md-9 col-lg-9">
                                                <div class="tab-content">
                                                    <div id="soft" class="tab-pane fade in active">
                                                        <div class="ser-img">
                                                            <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1479356390/platinum_home/soft-furnishing_03.jpg" alt="wall paper">
                                                        </div>
                                                        <div class="ser-about">
                                                            Combining the exotic comfort and modern styling, soft furnishing décor can be used to uplift the mood of your living room. When clubbed with a great sofa set, you get the perfect place to unwind in the evenings.
                                                        </div>
                                                    </div>
                                                    <div id="painting" class="tab-pane fade in">
                                                        <div class="ser-img">
                                                            <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1479356390/platinum_home/painting_03.jpg" alt="wall paper">
                                                        </div>
                                                        <div class="ser-about">
                                                            Applied directly to a wall or on any surface, this piece of art can help change the ambiance of any room. Ideal to be done in the front room to add a sophisticated feel.
                                                        </div>
                                                    </div>
                                                    <div id="artefacts" class="tab-pane fade in">
                                                        <div class="ser-img">
                                                            <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1479356390/platinum_home/Artefacts_03.jpg" alt="wall paper">
                                                        </div>
                                                        <div class="ser-about">
                                                            Placing beautiful and rare artefacts in a large room of your mansion can work a great way in doing up the décor. The timeless pieces are great to add a tranquil environment in your home.
                                                        </div>
                                                    </div>
                                                    <div id="headboard" class="tab-pane fade in">
                                                        <div class="ser-img">
                                                            <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1479356390/platinum_home/Headbord_03.jpg" alt="wall paper">
                                                        </div>
                                                        <div class="ser-about">
                                                            Adding a simple headboard to your bedroom can bring in a charming feel. The intricate designs available in varied textures can be used to customize the look of your bedroom.
                                                        </div>
                                                    </div>
                                                    <div id="indoor" class="tab-pane fade in">
                                                        <div class="ser-img">
                                                            <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1479356390/platinum_home/Indoor-plant_03.jpg" alt="wall paper">
                                                        </div>
                                                        <div class="ser-about">
                                                            Indoor plants are a great way to add life to your living space. Fresh plants available in beautiful pots can be placed in any corner of your house to improve airflow and beautify the ambiance at home.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row text-center">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-6">
                    <h3 class="platinum-service-img-head"> Surfaces </h3>
                    <div class="platinum-services-img text-center">
                        <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1475056931/platinum_home/surface_05.png" alt="service-img">
                    </div>
                    <p class="platinum-service-img-des"> Wallpaper <br/> Vinyl stickering  <br/> Glass etched <br/> Pattern on Shutters <br/> Mirrors with carved frames <br/> Back wall as light </p>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-6">
                    <h3 class="platinum-service-img-head"> Furniture </h3>
                    <div class="platinum-services-img text-center">
                        <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1475056931/platinum_home/furniture.png" alt="service-img">
                    </div>
                    <p class="platinum-service-img-des"> Sofas & more <br/> Add-on furniture <br/> Wooden beams <br/> Outdoor furniture <br/> Deck flooring </p>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-6">
                    <h3 class="platinum-service-img-head"> Appliances </h3>
                    <div class="platinum-services-img text-center">
                        <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1475056931/platinum_home/appliance.png" alt="service-img">
                    </div>
                    <p class="platinum-service-img-des"> Home automation <br/> Lighting </p>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-6">
                    <h3 class="platinum-service-img-head"> Decor </h3>
                    <div class="platinum-services-img text-center">
                        <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1475056931/platinum_home/decor.png" alt="service-img">
                    </div>
                    <p class="platinum-service-img-des"> Soft furnishing <br/> Painting  / murals <br/> Artefacts <br/> Headboard <br/> Indoor plants </p>
                </div>
            </div>-->
        </div>
    </section>
    <!-- end platinum services section -->

    <!-- start platinum process section -->
    <!--<section class="platinum-process-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <h2 class="platinum-head"> Process </h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-6">
                    <p class="process-count"> 1 </p>
                    <h3 class="platinum-process-img-head"> Advise </h3>
                    <div class="platinum-process-img text-center">
                        <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1475061727/platinum_home/advice_.png" alt="process-img">
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-6">
                    <p class="process-count"> 2 </p>
                    <h3 class="platinum-process-img-head"> Ideate </h3>
                    <div class="platinum-process-img text-center">
                        <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1475061727/platinum_home/ideate.png" alt="process-img">
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-6">
                    <p class="process-count"> 3 </p>
                    <h3 class="platinum-process-img-head">  Visualize </h3>
                    <div class="platinum-process-img text-center">
                        <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1475061727/platinum_home/visualize.png" alt="process-img">
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-6">
                    <p class="process-count"> 4 </p>
                    <h3 class="platinum-process-img-head">  Realize </h3>
                    <div class="platinum-process-img text-center">
                        <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1475061728/platinum_home/realize.png" alt="process-img">
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- end platinum process section -->

    <!-- start platinum projects section -->
    <!--<section class="platinum-project-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <h2 class="platinum-head"> Our Projects </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div id="platinumCarousel01" class="carousel slide" data-ride="carousel">
                        &lt;!&ndash; Indicators &ndash;&gt;
                        <ol class="carousel-indicators">
                            <li data-target="#platinumCarousel01" data-slide-to="0" class="active"></li>
                            <li data-target="#platinumCarousel01" data-slide-to="1"></li>
                            <li data-target="#platinumCarousel01" data-slide-to="2"></li>
                            <li data-target="#platinumCarousel01" data-slide-to="3"></li>
                        </ol>
                        &lt;!&ndash; Wrapper for slides &ndash;&gt;
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1475240149/platinum_home/01.png" title="project">
                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1475240149/platinum_home/01.png" alt="project" />
                                </a>
                            </div>
                            <div class="item">
                                <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1475240149/platinum_home/02.png" title="project">
                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1475240149/platinum_home/02.png" alt="project" />
                                </a>
                            </div>
                            <div class="item">
                                <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1475240149/platinum_home/03.png" title="project">
                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1475240149/platinum_home/03.png" alt="project" />
                                </a>
                            </div>
                            <div class="item">
                                <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1475240149/platinum_home/04.png" title="project">
                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1475240149/platinum_home/04.png" alt="project" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div id="platinumCarousel02" class="carousel slide" data-ride="carousel">
                        &lt;!&ndash; Indicators &ndash;&gt;
                        <ol class="carousel-indicators">
                            <li data-target="#platinumCarousel02" data-slide-to="0" class="active"></li>
                            <li data-target="#platinumCarousel02" data-slide-to="1"></li>
                            <li data-target="#platinumCarousel02" data-slide-to="2"></li>
                            <li data-target="#platinumCarousel02" data-slide-to="3"></li>
                        </ol>
                        &lt;!&ndash; Wrapper for slides &ndash;&gt;
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <a class="nivo-img" data-lightbox-gallery="gallery2" href="https://res.cloudinary.com/mygubbi/image/upload/v1475240342/platinum_home/5.png" title="project">
                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1475240342/platinum_home/5.png" alt="project" />
                                </a>
                            </div>
                            <div class="item">
                                <a class="nivo-img" data-lightbox-gallery="gallery2" href="https://res.cloudinary.com/mygubbi/image/upload/v1475240342/platinum_home/6.png" title="project">
                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1475240342/platinum_home/6.png" alt="project" />
                                </a>
                            </div>
                            <div class="item">
                                <a class="nivo-img" data-lightbox-gallery="gallery2" href="https://res.cloudinary.com/mygubbi/image/upload/v1475240342/platinum_home/7.png" title="project">
                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1475240342/platinum_home/7.png" alt="project" />
                                </a>
                            </div>
                            <div class="item">
                                <a class="nivo-img" data-lightbox-gallery="gallery2" href="https://res.cloudinary.com/mygubbi/image/upload/v1475240342/platinum_home/8.png" title="project">
                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1475240342/platinum_home/8.png" alt="project" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- end platinum projects section -->

    <!-- start platinum testimonial section -->
    <!--<section class="platinum-testimonial-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <h2 class="platinum-head"> Testimonial </h2>
                </div>
            </div>
            <div class="row">
                <div class="platinum-testimonial-box">
                    <div class="col-sm-3 col-md-3 col-lg-3 hidden-lg hidden-md">
                        <div class="platinum-testimonial-profile text-center">
                            <img class="img-responsive img-centered" alt="profile" src="https://res.cloudinary.com/mygubbi/image/upload/v1475115679/platinum_home/pramod.png">
                            <h4 class="platinum-testimonial-name"> Mr Pramod </h4>
                            <h6> (Bangalore) </h6>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1"></div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-4">
                                <div class="test-date">
                                    Consultation
                                </div>
                            </div>
                            <div class="col-sm-10 col-md-10 col-lg-10 col-xs-8">
                                <p class="test-about"> After hearing about mygubbi on radio,  I decided to give them a call.
                                    Mygubbi team of designers understood my requirement by learning
                                    about my  likes and family’s persona. Based on my Floor Plan they
                                    provided me with  some useful inputs. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-4">
                                <div class="test-date-new">
                                    Design Finalization
                                </div>
                            </div>
                            <div class="col-sm-10 col-md-10 col-lg-10 col-xs-8">
                                <p class="test-about design-finalization"> Within a month , the team got back with the 3D visuals of the entire house
                                    including the placement  for furniture and of artefacts. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-4">
                                <div class="test-date">
                                    Execution
                                </div>
                            </div>
                            <div class="col-sm-10 col-md-10 col-lg-10 col-xs-8">
                                <p class="test-about execution"> I was amazed at how beautifully they had replicated the 3D images.
                                    It was just perfect ! </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 hidden-xs hidden-sm">
                        <div class="platinum-testimonial-profile text-center">
                            <img class="img-responsive img-centered" alt="profile" src="https://res.cloudinary.com/mygubbi/image/upload/v1475115679/platinum_home/pramod.png">
                            <h4 class="platinum-testimonial-name"> Mr Pramod </h4>
                            <h6> (Bangalore) </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- end platinum testimonial section -->

    <!-- start platinum contact section -->
    <!--<section class="platinum-contact-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <h2 class="platinum-contact-heading"> Get a <span class="text-uppercase">Free Design Consultation</span> from our Expert ! </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center wow fadeInUp">
                    <div class="platinum-footer-form">
                        <form method="post" enctype="multipart/form-data"
                              action="https://web.mxradon.com/t/FormTracker.aspx"
                              class="width90 margin_auto">
                            <div class="row">
                                <div class="margin-bottom20 form-group">
                                    <input type='text' class="width100 form-control"
                                           id='FirstName' name='FirstName'
                                           placeholder="Name: " maxlength='100'
                                           value="<%=userProfile ? userProfile.displayName : ''%>" autocomplete='off'
                                           required='required'/>
                                </div>
                                <div class="margin-bottom20 form-group">
                                    <input type='text' class="width100 form-control"
                                           id='EmailAddress'
                                           name='EmailAddress' placeholder="Email:" maxlength='100'
                                           value="<%=userProfile ? userProfile.email : ''%>" autocomplete='off'
                                           required='required' pattern=".+@.+\..+"
                                           title="<abc>@<xyz>.<com>"/>
                                </div>
                                <div class="margin-bottom20 form-group">
                                    <input type='text' class="width100 form-control" id='Phone'
                                           name='Phone'
                                           placeholder="Phone:" maxlength='20'
                                           value="<%=userProfile ? userProfile.phone : ''%>" autocomplete='off'
                                           required='required' pattern="\d{10}"
                                           title="e.g. 9876543210"/>
                                </div>
                                <div class="align-center form-group">
                                    <button class="btn btn-block btn-testimonial"
                                            id="form-submit-button"
                                            type="submit"> Contact me with the Best Offer
                                    </button>
                                    <br/>
                                    <input type="hidden" name="MXHOrgCode" value="9814" />
                                    <input type="hidden" name="MXHLandingPageId" value="a98d523d-3d27-11e6-b61b-22000aa8e760" />
                                    <input type="hidden" name="MXHFormBehaviour" value="1" />
                                    <input type="hidden" name="MXHFormDataTransfer" value="0" />
                                    <input type="hidden" name="MXHRedirectUrl" value="https://mygubbi.com/thankyou-lp-page" />
                                    <input type="hidden" name="MXHAsc" value="5" />
                                    <input type="hidden" name="MXHPageTitle" value="Email" />
                                    <input type="hidden" name="MXHOutputMessagePosition" value="0" />
                                    <input type="hidden" name="MXHIsExternallyUsed" value="1" />
                                </div>
                            </div>
                        </form>
                        <script type="text/javascript"> var MXLandingPageId = 'a98d523d-3d27-11e6-b61b-22000aa8e760'; </script>

                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- End platinum contact section -->

</div>

<link rel="stylesheet" href="/js/libs/nivo-lightbox/themes/default/default.css">
<link rel="stylesheet" href="/js/libs/nivo-lightbox/nivo-lightbox.css">

<script type="text/javascript" src="/js/libs/nivo-lightbox/nivo-lightbox.js"></script>

<script>
    $(document).ready(function(){
        $('.nivo-img').nivoLightbox();
    });
</script>