<div class="bg-color-white">

    <!-- start quality banner section -->
    <section class="quality-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="quality-banner-cnt text-center">
                        <h1 class="quality-cnt-head"> WE OFFER BEST QUALITY PRODUCTS </h1>
                        <p class="quality-cnt-des">
                            "I appreciate history, but you have to bring your own experience into your rooms."
                        </p>
                        <p>
                            <i> — Designer Istvan Francer </i>
                        </p>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
            </div>
        </div>
    </section>
    <!-- End quality banner section -->

    <!-- Start Quality Materials section -->
    <section class="quality-materials-section">
        <div class="quality-check-line"></div>
        <div class="quality-check-head-box">
            <h1 class="quality-check-head text-center"> Materials </h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="quality-material-about text-center">
                        <p>
                            The material used can be rightly called the essence of your home.
                            No matter how attractive the design or how sophisticated the interiors,
                            it is the material that brings out the true strength and beauty.
                        </p>
                    </div>
                </div>
            </div>
            <div class="quality-materials-img-box">
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1"></div>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <img src="<%= imgBase + 'w_auto' +'/quality/quality-material-ply.png'%>" class="img-centered img-responsive" alt="wood">
                                <h3 class="qm-head"> MDF </h3>
                                <p>
                                    Medium Density Fiberboard or MDF is an engineering marvel and renders strength to the design.
                                    Extremely dense and durable, MDF can complement innovative designs and structures.
                                </p>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <img src="<%= imgBase + 'w_auto' +'/quality/quality-material-mdf.png'%>" class="img-centered img-responsive" alt="wood">
                                <h3 class="qm-head"> PLY </h3>
                                <p>
                                    An extremely popular choice, Ply is highly versatile and can be chosen depending on the strength,
                                    durability and designing required. Ply naturally complements polishing surfaces.
                                </p>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <img src="<%= imgBase + 'w_auto' +'/quality/m-cane.png'%>" class="img-centered img-responsive" alt="wood">
                                <h3 class="qm-head"> PLPB </h3>
                                <p>
                                    Pre-Laminated Particle Board lends life to the design and also looks best on modern structures.
                                    The best part about PLBP is that it is moisture resistant, durable and also lightweight.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Quality Materials section -->

    <!-- Start Quality Designs & Execution section -->
    <section class="quality-de-section">
        <div class="quality-check-line"></div>
        <div class="quality-check-head-box">
            <h1 class="quality-check-head text-center"> Designs & Execution </h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="quality-de-about text-center">
                        <p>
                            We believe in expressive designs that can lend a character to your home space. With flawless execution and a clear picture in mind, we strive to translate the uniqueness, innovation and warmth into our designs for your cherished space. In fact, with our thoughtful designs, every space in your home will have a story to tell.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <img class="img-responsive mb20" src="https://res.cloudinary.com/mygubbi/image/upload/v1474374036/quality/quality_01.jpg" alt="quality-design">
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="design-box">
                                <h4>Ergonomics:</h4>
                                <p>
                                    We believe in comfort living and any design, no matter how complex or stunning,
                                    must not hinder the flow of human interaction with space. We chisel your home
                                    space in such a way that comfort and luxury can coexist there.
                                </p>
                                <h4>Aesthetics:</h4>
                                <p>
                                    We believe in comfort living and any design, no matter how complex or stunning,
                                    must not hinder the flow of human interaction with space. We chisel your home
                                    space in such a way that comfort and luxury can coexist there.
                                </p>
                                <h4>Craftsmanship:</h4>
                                <p>
                                    Each and every aspect of your home interiors is dealt with elite
                                    craftsmanship and each and everyone involved works with a coherent view to bring
                                    the best out of the space. The intricacy of designing and the accuracy of designs
                                    is handled perfectly by our team.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="design-box mb20">
                                <h4>Finish:</h4>
                                <p>
                                    We understand that you want to lend effortless elegance and beauty to your home
                                    and we work for the perfect finish for the perfect look. Finishing is not just
                                    the last coating or the last step of designing. For us, finishing is what lends
                                    soul to your space. With luscious finish, we create impeccable beauty.
                                </p>
                                <h4>Elements:</h4>
                                <p>
                                    WThe elements of a design are what stitch the entire design and execution together.
                                    Our designers keep these elements in mind  - space, light, colour, texture, patterns,
                                    furniture - and make sure the elements are in harmony with the designing. End result
                                    is a coherent space of beauty and durability.
                                </p>
                                <h4>Final check:</h4>
                                <p>
                                    Yes, we make beautiful homes. But that’s not it. Before you step into your dream home,
                                    we ensure everything is in place - from installation to paints to chic finish.
                                    No scratches, no chipping, no breakages. That’s guaranteed. We pay attention to every small detail.
                                </p>
                                <h4>Real time images:</h4>
                                <p>
                                    What you see  is what you get. Visit our site, talk to your talented designers,
                                    personalise your designs,  and that’s exactly what we give you. And so, we say
                                    you are one step closer to your dream home.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1474374036/quality/quality_02.jpg" alt="quality-design">
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
            </div>
        </div>
    </section>
    <!-- End Quality Designs & Execution section -->

    <!-- Start Quality POLICY AND SERVICE section -->
    <section class="quality-policy-section">
        <div class="quality-check-line"></div>
        <div class="quality-check-head-box">
            <h1 class="quality-check-head text-center"> POLICY AND SERVICE </h1>
        </div>
        <div class="container">
            <div class="quality-materials-policy-box">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <ol class="policy-list">
                        <li> Our products are strong and durable enough to stand the test of time. Our talented and qualified designers and engineers have the expertise to provide you with nothing but the best.
                        </li>
                        <li> Our materials come with varying grades to suit every customer’s need. We have MR (Moisture Resistant), BWR (Boiling Water Resistant), FR (Fire Resistant) etc.  </li>
                        <li> We work with some of the best brands in the industry such as Century Ply, Hafele, Hettich, Greenlam Laminates, Merino Laminates.  </li>
                        <li> We do not compromise on the quality of materials used.  </li>
                        <li> Our products go through multiple quality checks before they are finally handed over to customers.  From raw materials to installation to delivery, we make sure there is not a single hitch.  </li>
                    </ol>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
            </div>
        </div>
        </div>
    </section>
    <!-- Start Quality POLICY AND SERVICE section -->



</div>