<%= console.log("@@@####################### Tushar @@@@@@@@@@@@@@@@@") %>
<%= console.log(conceptboardsDtls) %>


<link rel="stylesheet" href="js/libs/bootstrap-tagsinput.css">
<script src="js/libs/bootstrap-tagsinput.js"></script>

<!-- Owl Carousel Assets -->
<link href="js/libs/owl.carousel/dist/assets/owl.carousel.css" rel="stylesheet">
<link href="js/libs/owl.carousel/dist/assets/owl.theme.default.css" rel="stylesheet">

<style>
    #owl-demo .item{
        margin: 3px;
    }
    #owl-sptype .item img {
    display: block;
    width: 106px;
    height: 75px;
}
    #owl-demo .item img{
        display: block;
        width: 115px;
        height: 108px;
    }

    #owl-related .item{
        margin: 3px;
    }
    #owl-related .item img{
        display: block;
        width: 115px;
        height: 108px;
    }
    .owl-prev{
        position: absolute;
        left: -33px;
        top: 8px;
    }
    .owl-next{
        position: absolute;
        right: -30px;
        top: 5px;
    }
    .form-group {
      position: relative;
      margin-bottom: 15px;
    }
    .form-control{
        color:#555;
        font-size: 12px;
        font-weight: 600;
        line-height: 25px;
    }
    .form-control {
      padding-left: 2px;
      padding-right: 2px;
      resize: none;
      border-left: 0;
      border-top: 0;
      border-right: 0;
    }

    .form-control,.form-control:focus {
      box-shadow: none;
    }
    .main-concept-img{
        box-shadow: 0px 2px 10px;
    }
    .relConceptImg{
        box-shadow: 0px 2px 10px #000;
    }
    .owl-carousel {
        width: 98%;
    }
    .btn-container{
      margin: auto;
      height:44px;
      width:166.23px;

}
.readMore{
    color: #ea5c36;
}
 #owl-sptype .item{
        margin: 3px;
        padding: 10px;
    }
    #owl-sptype .item img{
        display: block;
        width: 106px;
        height: 75px;
    }

    #owl-tmpltype .item{
        margin: 3px;
        padding: 10px;
    }
    #owl-tmpltype .item img{
        display: block;
        width: 145px;
        height: 96px;
    }
    .owl-prev{
        position: absolute;
        left: -25px;
        top: 25px;
    }
    .owl-next{
        position: absolute;
        right: -30px;
        top: 25px;
    }
</style>

<div class="row conceptdtlspg" id="place">
       <div class="col-sm-4 col-md-4">
        <div class="pin-model-img">
            <img src="img/pnis/pin1.jpg" class="main-concept-img img-responsive" id="mastImgg" alt="pin image" width="290px">
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <p id="concDes">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium, metus et scelerisque dignissim, ligula est imperdiet nisl, sit amet malesuada nunc felis in nisi. Nullam dapibus ligula dui, in rhoncus purus euismod nec. Duis in lacinia neque. Etiam tellus.
                </p>
                <p id="concFullDes" style="display:none;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium, metus et scelerisque dignissim, ligula est imperdiet nisl, sit amet malesuada nunc felis in nisi. Nullam dapibus ligula dui, in rhoncus purus euismod nec. Duis in lacinia neque. Etiam tellus.
                </p>
                <!--new div for add notes and add tags-->
                <!--<div class="new-pin mt40">
                    <div>
                        <label class="txtwhite">My Tags</label><br>
                        <div id="taglists" class="mb15"></div>
                        <input class="form-control" type="text" id="tagtxt" placeholder="Type your tag here with comma separate" value="" data-role="tagsinput"/>
                        <br/> <button id="save_CTag" class="btn btn-add mt15" type="submit">Add Tags</button>
                    </div>

                </div>-->
            </div>
        </div>
    </div>
    <!--<div class="col-sm-1 col-md-1"></div>-->
    <div class="col-sm-8 col-md-8" style="padding-left:40px;">
        <div class="pin" style="float:right;">
          <a href="javascript:void(0);" onclick="showModalDeta(this)" class="btn btn-pin "> <i class="fa fa-thumb-tack" aria-hidden="true"></i> Add </a>
        </div>
        <div class="new-pin">
            <h5 id="concNmm">Excepteur sint occaecat cupidatat non proident </h5>
            <input type="hidden" id="conId">

        </div>
        <div class="new-pin">
            <div class="add_notes">
                <div onclick="showTextArea()" title="Add Notes">
                    <!--<label class="txtwhite">My Notes</label>-->
                </div>
                <div id="notes" class="notes-content form-group">
                    <textarea id="conceptNotetxt" placeholder="Add a Note/Tags (Add tags using #)" rows="2" cols="38" required="required" class="form-control" maxlength="300">
                    </textarea>
                </div>
                <button id="save_CNote" class="btn btn-add" type="submit">Add Notes</button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h4>Similar Concepts </h4>
                <div id="similarconceptdtls"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h4>Related Concepts </h4>
                <div id="relatedconceptdtls"></div>
            </div>
        </div>
    </div>
</div>


<!--<div class="modal fade" id="show_description-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" >
        <button id ="show_description-close"  onclick="removeDialog()" type="button" class="close" data-dismiss="modal">&times;</button>
        <div id="show_description-dtls" class="show_description-container">
        </div>
    </div>
</div>-->
<div class="modal fade" id="addcboard-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div id="addcboard-dtls" class="addcboard-container">

        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#Editnotes").hide();
        $("#notes").show();
    });
    function showTextArea(){
        document.getElementById("notes").classList.toggle("show");
        var x = document.getElementById("notes");
        if (x.style.display === "block") {
              x.style.display = "none";
         }
        //if the tag is opened , then close that first before opening this.

    }
    function showTagArea(){
        document.getElementById("tags").classList.toggle("show");

    }
    function showModalDeta(event){
        $("#pin-modal").modal('hide');
        $('#pin-modal-conceptdtls').modal('show');
    }
  function showDesc(){
   $('#concFullDes').css('display', 'block');
    $('#concDes').css('display', 'none');
  }

   $(function() {
      $("#owl-sptype1").owlCarousel({
        autoPlay: 3000,
        items : 5,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3],
        nav    : true,
        navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
        dots: false
      });
      $("#owl-tmpltype").owlCarousel({
        autoPlay: 3000,
        items : 4,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3],
        nav    : true,
        navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
        dots: false
      });
        $("#frmsec").fadeOut();
    });


</script>