<style>
    nav,
    footer{
        display:none;
    }
    .bg-lightGrey{
        background: #fff!important;
    }

</style>
<section>
<!--
    <div id="loader111" style="text-align: center;" ><img style="width: 93px;" src="img/everything/rotating-balls-spinner.gif"/></div>
-->
<div class="row mn0">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="box">
            <div style="text-align: center;" ><img src="img/everything/ImagiNestWhite.jpg"/></div>
            <!--<div style="margin:0px auto;text-align:center;">
                <ul class="logheading">
                    <li class="active">
                        <h4> As Customer </h4>
                    </li>
                    <li>
                        <h4 class="bordernon"> As Designer </h4>
                    </li>
                </ul>
            </div>-->
            <form id="loginForm" method="post" data-toggle="validator" role="form" class="logfrm">
                <div class="row display-none" id="login_error_row" style="text-align: center;">
                    <p class="margin0 error-text align-center" id="login_error" style="color: darkred;"></p>
                </div>
                <div class="form-group">
                    <input type="email" id="emailID" class="form-control" name="email" placeholder="Email ID*" value="" maxlength="100"
                           required pattern=".+@.+\..+" title="<abc>@<xyz>.<com>" />
                </div>
                <div class="form-group">
                    <input type="password" id="passwrd" class="form-control" name="pass" placeholder="Password*" value="" required maxlength="100" />
                </div>
                <div class="form-group txt-center">
                    <!--<a href="/viewconceptboards" class="btn btn-login">Login</a>-->
                    <button id="loginBtn" type="submit" class="btn btn-login">Login</button>
                </div>
                <div class="form-group txt-right mr30">
                    <!--<a href="/"><span class="helptxt">Need help?</span></a>-->
                    <a href="javascript:void(0);" id="signuplnk"><span class="helptxt">New Customer?</span></a>
                </div>
          </form>
        </div>
    </div>
</div>

</div>

</section>

<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
<div class="modal-dialog">
    <div class="signupmodal-container">
        <h4>Register Your Account</h4><br>
          <form id="signupfrm">
              <div class="row display-none" id="reg_error_row" style="text-align: center;">
                  <p class="margin0 error-text align-center" id="reg_error" style="color: darkred;"></p>
              </div>
              <div class="form-group">
                    <input type="text" id="reg_name" name="name" class="form-control signupfrmtxt" placeholder="Full Name" maxlength="100" autocomplete="off" required />
              </div>
              <div class="form-group">
                    <input type="email" id="reg_email_id" class="form-control signupfrmtxt" name="email" placeholder="Email ID*" value="" maxlength="100"
                     required pattern=".+@.+\..+" title="<abc>@<xyz>.<com>" autocomplete="off" />
              </div>
              <div class="form-group">
                <input type="password" id="reg_password" name="pass" class="form-control signupfrmtxt" placeholder="Password" maxlength="10"  autocomplete="off" required />
              </div>
              <div class="form-group">
                  <input type="text" id="reg_mobile" name="mobile" class="form-control signupfrmtxt" placeholder="Mobile Number" maxlength="10" required pattern="[1-9]{1}[0-9]{9}"  autocomplete="off" />
              </div>
              <div class="form-group">
                  <input type="submit" name="register" class="btn btn-login" id="registerBtn" value="Register">
              </div>
          </form>
    </div>
</div>
</div>

<!-- ./ Register -->

<!-- Notification Modal -->
<div id="notify" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content signup">
            <p class="margin0" id="reg_done_message"></p>
        </div>
    </div>
</div>
<!-- Notification End -->


<div class="modal fade" id="pass-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
<div class="modal-dialog">
    <div class="loginmodal-container">
        <h1> Reset Password </h1><br>
      <form>
        <input type="email" name="email" placeholder="Email ID">
        <input type="submit" name="reset" class="login loginmodal-submit" value="Submit">
      </form>

      <div class="login-help">
        <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#login-modal" class="pull-left" > Login </a>
        <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#register-modal" class="pull-right"> Register </a>
      </div>
    </div>
</div>
</div>

<div style="text-align: right;" >
    <div style="text-align: right;margin-right: 260px;">Powered By</div>
    <div style="margin-top: -39px;"><img style="margin-right: 96px;left: 16px;" src="img/everything/logo-top.png"/></div>
</div>
