<%= console.log("@@@@@@@@@@@@@@@ Concepts @@@@@@@@@@@@@@@@@") %>
<%= console.log(conceptdetails) %>
<%= console.log("@@@@@@@@@@@@@@@ Selected Concept Tag @@@@@@@@@@@@@@@@@") %>
<%= console.log(filterTag) %>
<%= console.log("@@@####################### conceptboardsDtls @@@@@@@@@@@@@@@@@") %>
<%= console.log(conceptboardsDtls) %>
<style>
     #owl-sptype .item{
        margin: 3px;
        padding: 10px;
    }
    #owl-sptype .item img{
        display: block;
        width: 106px;
        height: 75px;
    }

    #owl-sptype1 .item{
        margin: 3px;
        padding: 10px;
    }
    #owl-sptype1 .item img{
        display: block;
        width: 106px;
        height: 75px;
    }

    #owl-tmpltype .item{
        margin: 3px;
        padding: 10px;
        padding: 10px;
    }
    #owl-tmpltype .item img{
        display: block;
        width: 145px;
        height: 96px;
    }
    .owl-prev{
        position: absolute;
        left: -25px;
        top: 25px;
    }
    .owl-next{
        position: absolute;
        right: -30px;
        top: 25px;
    }
    .upload {
      position: relative;
      overflow: hidden;
      background-color: #ec5136;
      color: white;
    }
    #fileupload {
      position: absolute;
      font-size: 50px;
      opacity: 0;
      right: 0;
      top: 0;
      }
    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
    }

    .btnImage {
      border: 2px solid gray;
      color: gray;
      background-color: white;
      padding: 8px 20px;
      border-radius: 8px;
      font-size: 20px;
      font-weight: bold;
    }

    .upload-btn-wrapper input[type=file] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }
</style>
<link href="css/layout.css" rel="stylesheet">
<button id="addCBoard" title="Add Concept Board"><i class="fa fa-cloud-upload"></i></button>
<section>
    <div class="container-fluid" style="background: #f2f4f4;padding-bottom:40px;padding-left:0px;">

        <div class="col-md-12 col-lg-12" style="padding-left:0px;" >
                        <div class="wrapper">
                            <!-- Sidebar Holder -->
                            <nav id="sidebar">
                                <div class="sidebar-header">
                                    <!--<h3>Filter Concept</h3>-->
                                    <!--<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn pull-left mr10">
                                        <i class="glyphicon glyphicon-align-left"></i>
                                    </button>-->
                                    <h3 class="filterSPElement" style="color: #000;text-align:center;">Room Area</h3>
                                </div>

                                <ul class="list-unstyled components">
                                    <li class="active"  style="height: 70px;">
                                        <a onclick="getElementsView('all')">
                                            <div class="col-md-3"><img src="http://designwhimages.mygubbi.com/SE-EVERYTHING.png" alt="Everything" width="50px" height="50px"/></div>
                                            <div class="col-md-8 tit">Room</div>
                                        </a>
                                    </li>
                                    <% var uniqnm = ""; %>
                                    <% if(typeof(conceptdetails) !== 'undefined'){ %>
                                    <% _.each(conceptdetails[0].listOfConceptBoardConcept, function(conceptdtls, i){ %>
                                    <% var spaceElementTitle = conceptdtls.spaceElementTitle %>
                                        <% if(uniqnm != spaceElementTitle){ %>
                                        <li class="active" style="height: 70px;">
                                            <a onclick="getElementsView('<%= conceptdtls.spaceElementCode %>')">
                                                <% if(typeof(conceptdtls.spaceElementImageUrl) !== 'undefined' && conceptdtls.spaceElementImageUrl != ''){ %>
                                                <div class="col-md-3"><img src="<%= conceptdtls.spaceElementImageUrl %>" alt="<%= spaceElementTitle %>" width="50px" height="50px"/></div>
                                                <div class="col-md-8 tit"><%= spaceElementTitle %></div>
                                                <% }else{ %>
                                                <div class="tit"><%= spaceElementTitle %></div>
                                                <% } %>

                                            </a>

                                        </li>
                                        <% }else{ %>
                                        <% } %>
                                        <% uniqnm = spaceElementTitle; %>
                                    <% }); %>
                                    <% } %>
                                </ul>
                            </nav>

                        <div class="container" style="width:1090px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="panelTitletxt" style="border-radius: 10px;align-items: center; max-width: 29%; margin: 20px auto;"><%= conceptBoardName %>

                                    </h2>
                                    <div id="myCarousel112" class="carousel slide mt30">
                                        <div class="tagicos">
                                            <div class="tagicos clearfix carousel-inner">
                                                <% if(typeof(concepttags) !== 'undefined'){ %>
                                                <% var tagnmArr = [] %>
                                                <% _.each(concepttags[0].conceptboardtagList, function(conceptdtls, i){ %>
                                                <% tagnmArr.push('.'+conceptdtls.tag) %>
                                                <% }); %>
                                                <% } %>
                                                <% if(typeof(concepttags) !== 'undefined'){ %>
                                                <% var clsarr = ['tgf','tgs','tgt','tgfr']; %>
                                                <% var icols = 10; %>
                                                <% _.each(concepttags[0].conceptboardtagList, function(concepttgs, i){ %>
                                                <% var tagnm = concepttgs.tag %>
                                                <% if( (++i)%icols == 1 ) {  %>
                                                <div class="tagicos-cnt item">
                                                    <% } %>
                                                    <% if( i == 1) {  %>
                                                    <div class="tgico">
                                                        <span class="active <%= clsarr[i%4] %> tgico-link" <% if((typeof(filterTag) == 'undefined') || (filterTag == "")){ %> style="background-color: #fff;color: #666;box-shadow: 0px 5px 10px #555;" <% } %> onclick="getTagsView('all')">All</span>
                                                    </div>
                                                    <% } %>
                                                    <div class="tgico">
                                                        <span onclick="getTagsView('<%= tagnm %>')"  class="<%= clsarr[i%4] %> tgico-link" <% if((typeof(filterTag) !== 'undefined') && (filterTag == tagnm)){ %> style="background-color: #fff;color: #666;box-shadow: 0px 5px 10px #555;" <% } %> title="<%= tagnm %>"><%= tagnm %></span>
                                                    </div>
                                                    <% if( i%icols == 0 || i== concepttags[0].conceptboardtagList.length ) { %>
                                                </div>
                                                <% } %>
                                                <% }); %>
                                                <% } %>
                                            </div>
                                        </div>
                                        <% if(concepttags[0].conceptboardtagList.length > 11){ %>
                                        <a class="left carousel-control" href="#myCarousel112" data-slide="prev"><i class="fa fa-angle-left fa-2x" style="color: #33434E;"></i></a>
                                        <a class="right carousel-control" href="#myCarousel112" data-slide="next"><i class="fa fa-angle-right fa-2x" style="color: #33434E;"></i></a>
                                        <% } %>
                                    </div>
                                    <input type="hidden" id="conceptboardIdVl" value="<%= conceptboardId %>" />
                                    <div class="position-relative" style="height:auto;">
                                        <div class="pinBoot bg-white" id="pinBoot<%= conceptboardId %>" style="margin-top: 15px;margin-bottom: 130px;">

                                            <% if(typeof(conceptdetails) !== 'undefined'){ %>
                                            <% _.each(conceptdetails[0].listOfConceptBoardConcept, function(conceptdtls, i){ %>
                                            <% var tagnm = conceptdtls.conceptTag %>

                                            <article class="white-panel">
                                                <div class="pin">
                                                    <a href="javascript:void(0);" onclick="showModal('<%= conceptdtls.imgURL %>','<%= conceptdtls.conceptTitle %>','<%= conceptdtls.conceptCode %>','<%= conceptdtls.spaceElementCode %>')" class="btn btn-pin"> <i class="fa fa-thumb-tack" aria-hidden="true"></i> Add </a>
                                                </div>
                                                <a href="javascript:void(0);" class="conceptImg" data-element="<%= conceptdtls.imgURL %>" data-element1="<%= conceptdtls.conceptTypeTitle %>" data-element2="<%= conceptdtls.conceptTitle %>"  data-element3="<%= conceptdtls.conceptCode %>" data-element4="<%= conceptdtls.id %>">
                                                    <% if(typeof(conceptdtls.imgURL) != 'undefined' && conceptdtls.imgURL != null){ %>
                                                    <img src="<%= conceptdtls.imgURL %>" alt="<%= conceptdtls.conceptTitle %>">
                                                    <% }else{ %>
                                                    <img src="http://designwhimages.mygubbi.com/no-img.png" alt="<%= conceptdtls.conceptTitle %>">
                                                    <% } %>
                                                </a>
                                                <h4>
                                                    <span><a href="javascript:void(0);"> <%= conceptdtls.conceptTitle %> </a></span>
                                                    <span><a class="pull-right remove-pin" data-element="<%= conceptdtls.id %>"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
                                                </h4>
                                            </article>
                                            <% }); %>
                                            <% } %>

                                            <!-- Recommended Start--->
                                            <% if(typeof(needconceptlisting) !== 'undefined'){ %>
                                            <% _.each(needconceptlisting[0].youMayNeedItConceptList, function(needconceptdtls, i){ %>
                                            <% var tagnm = needconceptdtls.conceptTag %>

                                            <article class="white-panel">
                                                <div class="pin">
                                                    <a href="javascript:void(0);" onclick="showModal('<%= needconceptdtls.imgURL %>','<%= needconceptdtls.conceptTitle %>','<%= needconceptdtls.conceptCode %>')" class="btn btn-pin"> <i class="fa fa-thumb-tack" aria-hidden="true"></i> Add </a>
                                                </div>
                                                <a href="javascript:void(0);" class="needconceptImg" data-element="<%= needconceptdtls.imgURL %>" data-element1="<%= needconceptdtls.conceptTypeTitle %>" data-element2="<%= needconceptdtls.conceptTitle %>"  data-element3="<%= needconceptdtls.conceptCode %>" data-element4="<%= needconceptdtls.id %>">
                                                    <% if(typeof(needconceptdtls.imgURL) != 'undefined' && needconceptdtls.imgURL != null){ %>
                                                    <img src="<%= needconceptdtls.imgURL %>" alt="<%= needconceptdtls.conceptTitle %>">
                                                    <% }else{ %>
                                                    <img src="http://designwhimages.mygubbi.com/no-img.png" alt="<%= needconceptdtls.conceptTitle %>">
                                                    <% } %>
                                                </a>
                                                <div class="recomnd"><div>Recommended</div></div>
                                                <!--<div class="recomnd"><div>Must Try</div></div>-->
                                                <h4>
                                                    <span><a href="javascript:void(0);"> <%= needconceptdtls.conceptTitle %> </a></span>
                                                    <span><a class="pull-right remove-pin" data-element="<%= needconceptdtls.id %>"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
                                                </h4>
                                            </article>
                                            <% }); %>
                                            <% } %>
                                            <!-- Recommended End--->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
           </div>

            <div class="modal fade" id="pin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="pin-container"  style="height:615px;">
                        <div class="col-sm-12 col-md-12">
                        <h3 class="addcboard-heading">Add Concept To Board</h3>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12">
                                <div class="col-sm-3 col-xs-3 col-md-3">
                                    <div class="pin-model-img">
                                        <a href="detail.html">  <img src="img/pnis/pin1.jpg" class="img-responsive" id="mastImg" alt="pin image"> </a>
                                        <h4 id="concNm">Excepteur sint occaecat cupidatat non proident </h4>
                                        <input type="hidden" id="ConcCod" value="">
                                    </div>
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-8 spaceElmntDv">
                                    <div>
                                        <h4>Identity Room </h4>
                                    </div>
                                    <% if(typeof(conceptboardsDtls) !== 'undefined'){ %>
                                    <div id="owl-sptype" class="owl-carousel owl-theme ml15">
                                        <% _.each(conceptboardsDtls[0].listOfUserConceptBoard, function(splst, i){ %>
                                        <div class="item boardlst <% if(splst.name == conceptBoardName){ %> active-Stypebox <% } %>"
                                             data-element="<%= splst.id %>" data-element1="<%= splst.spaceTypeCode %>" >
                                            <img src="<%= splst.imgUrl %>" alt="<%= splst.code %>" class="img-responsive img-centered">
                                            <h5><%= splst.name %></h5>
                                        </div>
                                        <% }); %>
                                    </div>
                                    <% } %>
                                    <div id="spaceTemp111">

                                    </div>
                                </div>
                            </div>
                     <!--       <div class="col-md-12 col-lg-12">

                                <% if(typeof(spacetemplates) !== 'undefined'){ %>
                                <div id="owl-tmpltype" class="owl-carousel owl-theme">
                                    <% _.each(spacetemplates[0].spaceTemplateList, function(spltemst, i){ %>
                                    <div class="item selTemp"
                                         data-element="<%= spltemst.templateCode %>"  >
                                        <img src="<%= spltemst.imgUrl %>" alt="<%= spltemst.templateCode %>" class="img-responsive img-centered">
                                        <h5><%= spltemst.templateTitle %></h5>
                                    </div>
                                    <% }); %>
                                </div>
                                <% } %>
                                <div class="clearfix"></div>
                            </div>-->
                            <div class="col-sm-6 col-md-6">
                                <div class="new-pin">
                                    <!--<form>
                                        <div class="form-group">
                                            <input type="text" name="name" class="form-control" placeholder="Mood Board Name">
                                        </div>

                                        <div class="form-group">
                                            <input type="submit" name="pin" class="btn btn-defalt pin-submit" value="Submit">
                                        </div>
                                    </form>-->
                                </div>
                              <!--  <div>
                                    <label class="moodboard-lbl">All Concept Boards</label>
                                    <% if(typeof(conceptboardsDtls) !== 'undefined'){ %>
                                    <% _.each(conceptboardsDtls[0].listOfUserConceptBoard, function(conceptdtl, j){ %>
                                    <div class="boardlst" data-element="<%= conceptdtl.id %>"><%= conceptdtl.name %></div>
                                    <% }); %>
                                    <% } %>
                                </div>-->


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog" style="width:980px;">
                    <div id="concept-dtls" class="dtls-container" style="">
                    </div>
                </div>
            </div>

        <div class="modal fade" id="addcboard-modalForImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div id="addcboard-dtls" class="addcboard-container" style="width: 63%;min-height: 150px">
                    <div class="col-sm-12 col-md-12">
                        <h3 class="addcboard-heading" style="margin-left: -16px;">Add User Concept Image </h3>
                    </div>
                    <form id="userconceptfrm" method="post" name="userconceptfrm" enctype="multipart/form-data">
                    <div class="form-group">

<!--
                        <input id="conceptfileupload" type="file" name="conceptfile"/>
-->
                        <div class="upload-btn-wrapper">
                            <button class="btnImage">Upload a file</button>
                            <input id="conceptfileupload" type="file" name="conceptfile"/>
                            <label id="file-name"></label>
                        </div>
                        <!--<input type="button" id="showImg" class="btn addcboard-btn" value="Show">-->
                        <div id="list1">
                        </div>
                    </div>
                    <div class="form-group">
                        <h4>Concept Board Name:</h4>
                        <input type="text" class="form-control" id="cboardcnameTxt" name="cboardname" />
                    </div>
                    <div class="form-group">
                        <h4>Concept Board Desc:</h4>
                        <input type="text" class="form-control" id="cboarddescTxt" name="cboarddesc" />
                    </div>
                        <div id="spaceTempUpload"></div>
                    <div class="mt15" style="text-align:right;">
                        <input type="submit" id="save_uploadConceptBoard" class="btn addcboard-btn" value="Submit">
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editcboard-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div id="editcboard-dtls" class="addcboard-container">

                </div>
            </div>
        </div>
        <div class="modal fade" id="pin-modal-conceptdtls" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="pin-container" style="height:615px;">
                <div class="col-sm-12 col-md-12">
                    <h3 class="addcboard-heading" style="margin-left: -16px;">Add Concept To Board</h3>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                    <div class="col-sm-3 col-md-3">
                        <div class="pin-model-img">
                            <a href="detail.html">  <img src="img/pnis/pin1.jpg" class="img-responsive" id="mastImg1" alt="pin image"> </a>
                            <h5 id="concNm1" style="color: #ea5c36;font-size: 18px;font-weight: 600;">Excepteur sint occaecat cupidatat non proident </h5>
                            <input type="hidden" id="ConcCod">
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 spaceElmntDv">
                        <div>
                            <h4 style="font-size: 18px;font-weight: 300;color: #333;">Identity Room </h4>
                        </div>
                        <% if(typeof(conceptboardsDtls) !== 'undefined'){ %>
                        <div id="owl-sptype1" class="owl-carousel owl-theme ml15">
                            <% _.each(conceptboardsDtls[0].listOfUserConceptBoard, function(splst, i){ %>
                            <div class="item boardlst"
                                 data-element="<%= splst.id %>" data-element1="<%= splst.spaceTypeCode %>" >
                                <img src="<%= splst.imgUrl %>" alt="<%= splst.code %>" class="img-responsive img-centered" style="display: block; width: 106px; height: 75px;" >
                                <h5><%= splst.name %></h5>
                            </div>
                            <% }); %>
                        </div>
                        <% } %>
                        <div id="spaceTemp11"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>
    <!--    <div style=" margin-bottom: 138px;"></div>-->
</section>


<!--<script>
    $(".fl-tags").on( "click", function() {
        var seltag = $(this).data("element");
        $( "article" ).hide();
        $( "article" ).filter(function( index ) {
        return $( this ).data( "category" ) === seltag;
      }).show();
    });
</script>-->
<script>
    function showModal(imgnm,cnpnm,cnpcod, spaceElementCode, Cboardnm){
        $("#concNm").text(cnpnm);
        $("#ConcCod").val(cnpcod);
        $("#mastImg").attr("src",imgnm);
        $('#pin-modal').modal('show');
    }
    $(document).ready(function() {
        $('#myCarousel').carousel({
            interval: false
        });

        $('#myCarousel112 .item:first').addClass('active');
        $('#myCarousel112').carousel({
            interval: false
        });

    });

    function getTagsView(selTag){
        if(selTag == 'all'){
            filter.set({'noFilterApplied': 0});
            filter.set({'selectedTag': ''});
            filter.trigger('change');
        }else{
            console.log("Selected Tags============ "+selTag);
            $("#"+selTag).css("background-color","#fff");
            filter.set({'selectedTag': selTag});
            filter.trigger('change');
        }
    }
    function getElementsView(selElm){
        if(selElm == 'all'){
            getTagsView('all');
            filter.set({'noFilterApplied': 0});
            filter.set({'selectedElement': ''});
            filter.trigger('change');
        }else{
            console.log("Selected Element============ "+selElm);
            $("#"+selElm).css("background-color","#ec5136");
            filter.set({'selectedElement': selElm});
            filter.trigger('change');
        }
    }

    $(window).scroll(function(e){
        var $el = $('.sidenav');
        var isPositionFixed = ($el.css('position') == 'fixed');
        if ($(this).scrollTop() > 50 && !isPositionFixed){
        $('.sidenav').css({'position': 'fixed', 'top': '0px'});
        }
        if ($(this).scrollTop() < 50 && isPositionFixed)
        {
        $('.sidenav').css({'position': 'sticky', 'top': '0px'});
        }
    });

   $(document).ready(function () {

         $('#sidebarCollapse').on('click', function () {
             $('#sidebar').toggleClass('active');
         });
     });

$("#conceptfileupload").change(function(){
  $("#file-name").text(this.files[0].name);
});
    $(function() {
      $("#owl-sptype").owlCarousel({
        autoPlay: 3000,
        items : 5,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3],
        nav    : true,
        navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
        dots: false
      });
      $("#owl-tmpltype").owlCarousel({
        autoPlay: 3000,
        items : 4,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3],
        nav    : true,
        navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
        dots: false
      });
        $("#frmsec").fadeOut();
    });

</script>