    <!-- Banner Section -->
<section class="bg-color-white">
    <div class="container-fluid">
        <div class="row">
            <div class="slider_container position-relative">
                <ul class="bxslider padding0">
                    <li>
                        <a href="#" data-number="0">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1508845288/home/v2/Sparkle_Joy_Unit_Animated_Banner_2400x1063_2.gif" class="cld-responsive img-centered width100 hidden-sm hidden-xs" alt="mygubbi bedroom design" />
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1508845288/home/v2/Sparkle_Joy_Unit_Animated_Banner_992x573_3.gif" class="cld-responsive img-centered width100 hidden-lg hidden-md" alt="mygubbi bedroom design" />
                        </a>
                    </li>
                    <!--<li>
                        <a id="kitchen-slide" class="slider-move" href="#" data-number="0">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1502264526/home/v2/k.jpg" class="cld-responsive img-centered width100 hidden-sm hidden-xs" alt="mygubbi bedroom design" />
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1502264525/home/v2/K1.jpg" class="cld-responsive img-centered width100 hidden-lg hidden-md" alt="mygubbi bedroom design" />
                        </a>
                    </li>-->
                    <!--<li>
                        <a id="wardrobe-slide" class="slider-move" href="#" data-number="1">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1502264526/home/v2/w.jpg" class="cld-responsive img-centered width100 hidden-sm hidden-xs" alt="mygubbi bedroom design" />
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1502264525/home/v2/w1.jpg" class="cld-responsive img-centered width100 hidden-lg hidden-md" alt="mygubbi bedroom design" />
                        </a>
                    </li>-->
                </ul>
                <!-- Controls -->
                <!--<a class="slider_left" role="button" data-slide="prev">
                    <img src="<%= imgBase + 'arr-left-thick.png'%>" class="arr_left" alt="...">
                </a>
                <a class="slider_right" role="button" data-slide="next">
                    <img src="<%= imgBase + 'arr-right-thick.png'%>" class="arr_right" alt="...">
                </a>-->
            </div>
        </div>
    </div>
</section>

<!-- End Banner Section -->


<!-- Services Section -->
<section class="bg-color-white pt50 pb50 mob-padding-top-20 mob-padding-bottom-0">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-1"></div>
            <div class="col-md-2 col-sm-6 col-xs-6 banner-icon-height">
                <img data-src="<%= imgBase + 'c_fit,h_100,w_100' + '/home/new_design/450.jpg'%>"
                     class="cld-responsive img-centered" alt="mygubbi bedroom design" />
                <p class="text-muted font-size14"> 450+ Completed Homes </p>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6 banner-icon-height">
                <img data-src="<%= imgBase + 'c_fit,h_100,w_100' + '/home/new_design/02_05.png'%>"
                     class="cld-responsive img-centered" alt="mygubbi bedroom design" />
                <p class="text-muted font-size14"> 4 Cities </p>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6 banner-icon-height">
                <img data-src="<%= imgBase + 'c_fit,h_100,w_100' + '/home/new_design/03_05.png'%>"
                     class="cld-responsive img-centered" alt="mygubbi bedroom design" />
                <p class="text-muted font-size14"> 45 Days Express Delivery </p>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6 banner-icon-height">
                <img data-src="<%= imgBase + 'c_fit,h_100,w_100' + '/home/new_design/04_05.png'%>"
                     class="cld-responsive img-centered" alt="mygubbi bedroom design" />
                <p class="text-muted font-size14">1 Year Free Maintenance </p>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12 banner-icon-height">
                <img data-src="<%= imgBase + 'c_fit,h_100,w_100' + '/home/new_design/05_05.png'%>"
                     class="cld-responsive img-centered" alt="mygubbi bedroom design" />
                <p class="text-muted font-size14">5 Years Warranty</p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<!-- End Services Section -->


<!-- Start Exp Section -->
<section class="border-bottom-grey bg-color-white" id="services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
            </div>
        </div>
        <div class="row">
            <div class="position-relative text-center">
                <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1490086896/home/v2/kitchen.jpg" class="cld-responsive img-centered width100 hidden-xs hidden-sm" alt="mygubbi kitchen design" />
                <a class="mob-c-btn hidden-md hidden-lg" href="/kitchen-cabinet-design">
                    <div class="mt30">
                        <h2 class="home-img-head"> Modular Furniture </h2>
                        <button class="btn btn-explore"> EXPLORE </button>
                    </div>
                </a>
                <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1490086896/home/v2/kitchen_mobile.jpg" class="cld-responsive img-centered width100 hidden-md hidden-lg" alt="mygubbi kitchen design" />

                <div class="txt-over-kitchen-image hidden-xs hidden-sm">
                    <div class="width42">
                        <p class="font-size35 txt-color-orange txt-over-head">MODULAR FURNITURE</p>
                    </div>
                    <div class="hidden-xs hidden-sm">
                        <p class="font-size12 font-weight400">If you want to tastefully do up your room while making maximum utilisation of space, then modular furniture is the way to go. They are compact, lightweight, easy to assemble and saves a lot of space. </p>
                    </div>
                    <!--
                    <div class="width0 explore-space"><button class="btn btn-explore">EXPLORE</button></div>
                    -->
                </div>
                <div class="txt-over-kitchen-image three-links hidden-xs hidden-sm hidden-md">
                    <div class="col-md-3 col-sm-6 kitchen-icon">
                        <a href="/kitchen-cabinet-design">
                            <img src="<%= imgBase + '/home/new_design/kitchen-ioc.png'%>" class="cld-responsive img-responsive">
                        </a>
                        <h6 class="txt-color-white align-center">
                            <a class="text-white" href="/kitchen-cabinet-design">
                                <u> Kitchen Solutions </u>
                            </a>
                        </h6>
                    </div>
                    <div class="col-md-3 col-sm-6 wardrobe-icon">
                        <a href="/wardrobe-designs-online">
                            <img src="<%= imgBase + '/home/new_design/wardroab-ioc.png'%>" class="cld-responsive img-responsive">
                        </a>
                        <h6 class="txt-color-white align-center">
                            <a class="text-white" href="/wardrobe-designs-online">
                                <u> Wardrobe Solutions </u>
                            </a>
                        </h6>
                    </div>
                    <div class="col-md-3 col-sm-6 otherunit-icon">
                        <a href="/storage-solutions">
                            <img src="<%= imgBase + '/home/new_design/singleunit-ioc.png'%>" class="cld-responsive img-responsive">
                        </a>
                        <h6 class="txt-color-white align-center">
                            <a class="text-white" href="/storage-solutions">
                                <u> Storage Solutions </u>
                            </a>
                        </h6>
                    </div>
                </div>
                <div class="premium-home-txt hidden-xs hidden-sm">
                    <h2> Thoughtfully stylish. </h2>
                </div>
            </div>
        </div>
        <div class="row margin-top40 position-relative text-center">
            <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1490086449/home/v2/Premium__Desktop_3.jpg" class="cld-responsive img-centered width100 hidden-xs hidden-sm" alt="mygubbi premium home" />
            <a class="mob-c-btn hidden-md hidden-lg" href="/platinum-home-interiors">
                <div class="mt30">
                    <h2 class="home-img-head"> Premium Homes </h2>
                    <button class="btn btn-explore"> EXPLORE </button>
                </div>
            </a>
            <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1490086449/home/v2/Premium__Mobile_3.jpg" class="cld-responsive img-centered width100 hidden-lg hidden-md" alt="mygubbi premium home" />

            <div class="txt-over-kitchen-image premium-home hidden-xs hidden-sm">
                <div class="width42"><p class="font-size35 txt-color-orange txt-over-head"> PREMIUM HOMES </p></div>
                <div class="hidden-xs hidden-sm"><p class="font-size12 font-weight400">We understand what your “home” means to you. That is why, we offer end-to-end home solutions to transform living space to make it chic, smart and ‘you’.</p></div>
                <div class="exploring">
                    <a href="/platinum-home-interiors">
                        <button class="btn btn-explore pull-right"> EXPLORE </button>
                    </a>
                </div>
            </div>
            <div class="premium-home-txt hidden-xs hidden-sm"><h2> A home like no other. Just like you. </h2></div>
        </div>
    </div>
</section>
<!-- End Exp Section -->


<!-- Our Process Section -->
<section class="bg-color-white pt50 pb50 border-bottom-grey">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"> OUR PROCESS </h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 process-icon-height">
                <img src="<%= imgBase + 'w_auto' +'/home/new_design/process-ioc01.png'%>" class="cld-responsive img-responsive img-centered hidden-xs hidden-sm" alt="mygubbi bedroom design" />
                <img src="<%= imgBase + 'w_auto' +'/home/new_design/process-01.png'%>" class="cld-responsive img-responsive img-centered hidden-md hidden-lg" alt="mygubbi bedroom design" />
                <p class="font-size14 txt-color-orange font-weight400"> Explore Designs </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 process-icon-height">
                <img src="<%= imgBase + 'w_auto' +'/home/new_design/process-ioc02.png'%>" class="cld-responsive img-responsive img-centered hidden-xs hidden-sm" alt="mygubbi bedroom design" />
                <img src="<%= imgBase + 'w_auto' +'/home/new_design/process-02.png'%>" class="cld-responsive img-responsive img-centered hidden-md hidden-lg" alt="mygubbi bedroom design" />
                <p class="font-size14 txt-color-orange font-weight400"> Customize </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 process-icon-height">
                <img src="<%= imgBase + 'w_auto' +'/home/new_design/process-ioc03.png'%>" class="cld-responsive img-responsive img-centered hidden-xs hidden-sm" alt="mygubbi bedroom design" />
                <img src="<%= imgBase + 'w_auto' +'/home/new_design/process-03.png'%>" class="cld-responsive img-responsive img-centered hidden-md hidden-lg" alt="mygubbi bedroom design" />
                <p class="font-size14 txt-color-orange font-weight400"> Place Your Order </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 process-icon-height">
                <img src="<%= imgBase + 'w_auto' +'/home/new_design/process-ioc04.png'%>" class="cld-responsive img-responsive img-centered hidden-xs hidden-sm" alt="mygubbi bedroom design" />
                <img src="<%= imgBase + 'w_auto' +'/home/new_design/process-04.png'%>" class="cld-responsive img-responsive img-centered hidden-md hidden-lg" alt="mygubbi bedroom design" />
                <p class="font-size14 txt-color-orange font-weight400"> Delivery in 45 Days </p>
            </div>
        </div>
    </div>
</section>
<!-- End Our Process Section -->


<!-- EXPERIENCE CENTER Section -->
<section id="experience-center" class="bg-color-white border-bottom-grey pt50 pb50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">MYGUBBI STUDIO</h2>
            </div>
        </div>
        <div class="row position-relative">
            <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1490085830/home/v2/Studio_Desktop_3.jpg" class="cld-responsive img-centered width100 hidden-xs hidden-sm" alt="Experience Center" />

            <a class="mob-e-btn text-center hidden-md hidden-lg" href="/mygubbi-studio">
                <h2 class="home-img-head"> Meet Our Furniture </h2>
                <button class="btn btn-explore"> EXPLORE </button>
            </a>
            <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1490085830/home/v2/Studio_Mobile_3.jpg" class="cld-responsive img-centered width100 hidden-lg hidden-md" alt="Experience Center" />

            <div class="premium-home-txt hidden-xs hidden-sm"><h2> Meet Our Furniture</h2></div>
            <div class="address_right_section" id="style-loc">
                <div>
                    <p class="padding-loc-space hidden-xs hidden-sm hidden-md">
                        Step in to know about the futuristic furniture that we create for you to style your home in a
                        classy way! Our experience center will show you all that is needed to uplift the way your home
                        is designed.
                    </p>
                </div>
                <div class="text-white loc-space">
                    <h4>LOCATIONS</h4>
                    <div class="row margin-top10 location_add">
                        <div class="col-md-2 col-sm-2 col-xs-2 location_icon">
                            <img src="<%= imgBase + 'w_auto' +'/home/new_design/location_17.png'%>"
                                 class="cld-responsive img-centered" alt="Location Icon" />
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <a href="https://www.google.co.in/maps/place/Orange+Gubbi+technologies/@12.9174948,77.6451492,15z" target="_blank" class="txt-color-white">

                                <h3 class="location-city"> BANGALORE </h3>
                            </a>
                            <div class="padding-top10">
                                <p>
                                    1502, 2nd Floor, 19th Main Road,
                                    Sector 4, HSR Layout, Bangalore 560102, India
                                </p>
                                <h5 class="pt10"> <strong> TEL: +91 80888 60860 </strong> </h5>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top20 location_add">
                        <div class="col-md-2 col-sm-2 col-xs-2 location_icon">
                            <img src="<%= imgBase + 'w_auto' +'/home/new_design/location_17.png'%>"
                                 class=" cld-responsive img-centered" alt="Location Icon" />
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <h3 class="location-city">PUNE</h3>
                            <div class="padding-top10">
                                <p>
                                    101, 1st floor, The Mint building, Behind K factory,
                                    Opp. Kapil Malhar Society, Baner, Pune 411045.
                                </p>
                                <h5 class="pt10"> <strong> TEL: +91 80888 60860 </strong> </h5>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top20 location_add">
                        <div class="col-md-2 col-sm-2 col-xs-2 location_icon">
                            <img src="<%= imgBase + 'w_auto' +'/home/new_design/location_17.png'%>"
                                 class=" cld-responsive img-centered" alt="Location Icon" />
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <h3 class="location-city">Chennai</h3>
                            <div class="padding-top10">
                                <p>
                                    Ramaniyam Ocean - Isha, No.11, Second Floor, Rajiv Gandhi Salai,
                                    Old Mahabalipuram road, Okkiyam Thoraipakkam,
                                    Chennai 600 096, India
                                </p>
                                <h5 class="pt10"> <strong> TEL: +91 80888 60860 </strong> </h5>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top20 location_add">
                        <div class="col-md-2 col-sm-2 col-xs-2 location_icon">
                            <img src="<%= imgBase + 'w_auto' +'/home/new_design/location_17.png'%>"
                                 class=" cld-responsive img-centered" alt="Location Icon" />
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <h3 class="location-city"> Mangalore </h3>
                            <div class="padding-top10">
                                <p>
                                    CRYSTAL ARC ( Building Name)
                                    Commercial shop premises No F11 & F 12
                                    First Floor, Door No 14-4-511/34 & 14-4-511/35
                                    Balmatta Road, Hampankatta
                                    Mangalore Pincode :575001, India
                                </p>
                                <h5 class="pt10"> <strong> TEL: +91 80888 60860 </strong> </h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="border-bottom-grey bg-color-white pt50 pb50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"> COMPLETED PROJECTS </h2>
            </div>
        </div>
        <div class="row hidden-lg hidden-md">
            <div class="mob-c-project">
                <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1487765659/home/new_design/Main.jpg"
                     class="cld-responsive img-centered width100" alt="Experience Center" />
                <a class="mob-c-btn" href="/completed-projects">
                    <button class="btn btn-explore"> EXPLORE </button>
                </a>
            </div>
        </div>
        <div class="row hidden-xs hidden-sm">
            <div class="col-lg-6 col-md-6 col-sm-6 padding0">
                <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1487765659/home/new_design/Main.jpg"
                     class="cld-responsive img-centered width100" alt="Experience Center" />
                <div class="txt-over-completed-project-img hidden-xs hidden-sm">
                    <div>
                        <p class="txt-over-head font-size35 txt-over-head"> PICTURE PERFECT </p>
                    </div>
                </div>
                <div class="txt-over-completed-project-image hidden-xs hidden-sm">
                    <div>
                        <p class="font-size12 font-weight400">
                            Have a closer look at the designs we’ve customised for customers
                            just like you, to see why they keep coming back to us.</p>
                    </div>
                    <div class="exploring">
                        <a href="/completed-projects">
                            <button class="btn btn-explore pull-right"> EXPLORE </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 padding0">
                <div class="row margin0">
                    <div class="col-lg-6 col-md-6 col-sm-6 padding0 padding-left15 padding-bottom15">
                        <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1487765317/home/new_design/C1.jpg"
                             class="cld-responsive img-centered width100" alt="Experience Center" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 padding0 padding-left15 padding-bottom15">
                        <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1487765317/home/new_design/C2.jpg"
                             class="cld-responsive img-centered width100" alt="Experience Center" />
                    </div>
                </div>
                <div class="row margin0">
                    <div class="col-lg-6 col-md-6 col-sm-6 padding0 padding-left15 padding-bottom15">
                        <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1487765317/home/new_design/C3.jpg"
                             class="cld-responsive img-centered width100" alt="Experience Center" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 padding0 padding-left15 padding-bottom15">
                        <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1487765318/home/new_design/C4.jpg"
                             class="cld-responsive img-centered width100" alt="Experience Center" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End EXPERIENCE CENTER Section -->


<!-- Testimonial Section -->
<section class="border-bottom-grey bg-color-white pt50 pb50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 hidden-lg mobile-text-center">
                <h2 class="section-heading"> Testimonials </h2>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mob-padding-0">
                <h2 class="section-heading hidden-sm hidden-xs hidden-md">Testimonials</h2>
                <div class="testimonials-wrapper">
                    <div id="testimonials-carousel" class="testimonials-carousel carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#testimonials-carousel" data-slide-to="1"></li><!--
                            <li data-target="#testimonials-carousel" data-slide-to="2"></li>-->
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item">
                                <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1486552012/completed_projects/Sumadhura_Sikharam/11011.jpg" alt="First Image">
                                <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1486552012/completed_projects/Sumadhura_Sikharam/11011.jpg" alt="First Image">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-9 col-lg-9">
                                            <p class="text-center">
                                                I am happy that I chose MyGubbi for designing wardrobes & kitchen. Right from their sales team to their designers,
                                                they are very cooperative and responsive.A special thanks to M/s Rajeev,Naik and Nataraj.
                                                Times when I was confused with the design, they helped me understand it better by relating
                                                it to my interest, which is something that impressed me a lot.
                                            </p>
                                            <div class="text-center">
                                                <h4> H.T.Narasimhan <i>- Bangalore </i> </h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            <img class="img-responsive hidden-xs hidden-sm img-testimonials" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1488799760/testimonial/ht-narasimhan.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1468401875/completed_projects/2nd_project/IMG_9912.jpg" data-color="firebrick" alt="Second Image">
                                <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1468401875/completed_projects/2nd_project/IMG_9912.jpg" data-color="firebrick" alt="Second Image">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-9 col-lg-9">
                                            <p class="text-center">
                                                Neat range of choices, brilliant coordination and excellent post sales communication. Mygubbi
                                                turned out to be the perfect choice for my home interiors, wardrobes and kitchens. They provided
                                                me with a wide range of choices and the quality met my expectations. These guys are well aware of
                                                the requirement and from designing to delivery, they are all just extremely professional.
                                            </p>
                                            <div class="text-center">
                                                <h4> Chandra Shekar <i>- Bangalore </i></h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            <img class="img-responsive hidden-xs hidden-sm img-testimonials" src="https://res.cloudinary.com/mygubbi/image/upload/v1488799760/testimonial/chandrashekhar.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="item">
                                <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1468403206/completed_projects/4th_project/IMG_9819.jpg" data-color="violet" alt="Third Image">
                                <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1468403206/completed_projects/4th_project/IMG_9819.jpg" data-color="violet" alt="Third Image">
                                <div class="carousel-caption">

                                    <div class="row">
                                        <div class="col-sm-12 col-md-9 col-lg-9">
                                            <p class="text-center">
                                                We are satisfied with the interior works done by MyGubbi- right from the planning stages to the
                                                implementation. We will recommend MyGubbi to friends who are looking for future home interior solutions.
                                                Special commendation goes to Mr. Sandeep for giving us practical advice and being the one-stop-shop
                                                person for the nitty gritty stuff. We wish the team the very best!
                                            </p>
                                            <div class="text-center">
                                                <h4> Mrs. Venkatesh <i>- Dubai </i></h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            <img class="img-responsive hidden-xs hidden-sm img-testimonials" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1488799760/testimonial/venkatesh-speak.png">
                                        </div>
                                    </div>

                                </div>
                            </div>-->
                        </div>
                        <a class="left carousel-control testimonials-carousel-control hidden-lg hidden-md" href="#testimonials-carousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left testimonials-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control testimonials-carousel-control hidden-lg hidden-md" href="#testimonials-carousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right testimonials-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="mobile-text-center">
                    <h2 class="section-heading mob-padding-top-50"> Blog </h2>
                </div>
                <div id="latest_blog_content">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonial Section -->


<!-- Trend & Style Section Start -->
<section class="border-bottom-grey bg-color-white pt50 pb50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 text-center">
                <h2 class="section-heading"> Trends & Styles </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="latest_interior_blog_content"></div>
            <div id="latest_interior_blog_content1"></div>
            <div id="latest_interior_blog_content2"></div>
        </div>

    </div>
</section>
<!-- End Trend & Style Section End -->


<!-- Contact Section -->
<section class="border-bottom-grey bg-color-white pt50 pb50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 text-center">
                <h2 class="section-heading">Contact</h2>
            </div>
        </div>
    </div>
    <div  class="contact-section open-contact-section bg-color-white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-sm-1 col-md-3"></div>
                <div class="col-lg-2 col-sm-4 col-md-3 contact-light-black-bg">
                    <h4 class="txt-color-white pb10 text-normal"> MyGubbi </h4>
                    <p class="txt-color-white"> 1502, 2nd Floor, 19th Main Road, Sector 4, HSR Layout, Bangalore 560 102, India </p>
                    <div class="call-us">
                        <a href="tel:+91-888-008-2082">
                            <div class="text-center">
                                <div class="contact-circle">
                                    <i class="fa fa-phone contact-phone"></i>
                                </div>
                            </div>
                            <span class="txt-color-white contact-no"> +91 80888 60860 </span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <form method="post" enctype="multipart/form-data"
                          action="https://web.mxradon.com/t/FormTracker.aspx"
                          class="paddingtop40 contact-form-mg">
                        <div class="row">
                            <div class="form-group">
                                <input type='text' class="width100 form-control"
                                       id='FirstName' name='FirstName'
                                       placeholder="Name*" maxlength='100'
                                       value="<%=userProfile ? userProfile.displayName : ''%>" autocomplete='off'
                                       required='required'/>
                            </div>
                            <div class="form-group">
                                <input type='text' class="width100 form-control"
                                       id='EmailAddress'
                                       name='EmailAddress' placeholder="Email*" maxlength='100'
                                       value="<%=userProfile ? userProfile.email : ''%>" autocomplete='off'
                                       required='required' pattern=".+@.+\..+"
                                       title="<abc>@<xyz>.<com>"/>
                            </div>
                            <div class="form-group">
                                <input type='text' class="width100 form-control" id='Phone' name='Phone' placeholder="Phone Number*" maxlength='20' value="<%=userProfile ? userProfile.phone : ''%>" autocomplete='off' required='required' pattern="\d{10}" title="e.g. 9876543210"/>
                            </div>
                            <!--<div class="text-left form-group hidden-xs hidden-sm">
                                <label for='exclude_FileUpload_1' class="text-floorplan txt-color-black">Upload Floorplan</label>
                                <input type='file' id='exclude_FileUpload_1' name='exclude_FileUpload_1' autocomplete='off' class="width100 form-control"  />
                                <input type='hidden' id='exclude_FileUpload_1_label' name='exclude_FileUpload_1_label' value='Upload Floorplan' class="width100 form-control"  />
                            </div>-->
                            <div class="form-group">
                                <div class="form-group">
                                    <textarea class="width100 form-control" rows="5" id="mx_Requirement" name='mx_Requirement' maxlength='150' value='' autocomplete='off' placeholder="Message *"></textarea>
                                </div>
                            </div>
                            <div class="text-right form-group mob-text-center">
                                <button class="btn btn-explore" id="form-submit-button" type="submit"> Send </button>
                                <br/>
                                <input type="hidden" name="MXHOrgCode" value="9814" />
                                <input type="hidden" name="MXHLandingPageId" value="f7c3e93f-3d1a-11e6-b61b-22000aa8e760" />
                                <input type="hidden" name="MXHFormBehaviour" value="1" />
                                <input type="hidden" name="MXHFormDataTransfer" value="0" />
                                <input type="hidden" name="MXHRedirectUrl" value="https://mygubbi.com/thankyou-home-page" />
                                <input type="hidden" name="MXHAsc" value="5" />
                                <input type="hidden" name="MXHPageTitle" value="Bangalore mygubbi" />
                                <input type="hidden" name="MXHOutputMessagePosition" value="0" />
                                <input type="hidden" name="MXHIsExternallyUsed" value="1" />
                            </div>
                        </div>
                    </form>
                    <script type="text/javascript"> var MXLandingPageId = 'f7c3e93f-3d1a-11e6-b61b-22000aa8e760'; </script>

                </div>
                <div class="col-lg-3 col-sm-3 col-md-3"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->


<!--- Brand Section -->
<!--<section class="bg-color-white pt50 pb50">
    <div class="container flip-container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 text-center">
                <h2 class="section-heading"> We work with </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="hidden-xs hidden-sm">
            <div class="row">
                <div class="col-lg-1 col-sm-1 col-md-1 col-xs-12"></div>
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-6">
                    <img class="cld-responsive width100 padding-bottom10" src="https://res.cloudinary.com/mygubbi/image/upload/v1487763272/brand/new_brand/century_03.jpg" alt="Consultation & Planning">
                </div>
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-6">
                    <img class="cld-responsive width100 padding-bottom10" src="https://res.cloudinary.com/mygubbi/image/upload/v1487763272/brand/new_brand/hafele_03.jpg" alt="Consultation & Planning">
                </div>
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-6">
                    <img class="cld-responsive width100 padding-bottom10" src="https://res.cloudinary.com/mygubbi/image/upload/v1487763272/brand/new_brand/hettich_03.jpg" alt="Consultation & Planning">
                </div>
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-6">
                    <img class="cld-responsive width100 padding-bottom10" src="https://res.cloudinary.com/mygubbi/image/upload/v1487763272/brand/new_brand/greenlam_03.jpg" alt="Consultation & Planning">
                </div>
                <div class="col-xs-3"></div>
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-6">
                    <img class="cld-responsive width100 padding-bottom10" src="http://res.cloudinary.com/mygubbi/image/upload/v1487763272/brand/new_brand/merino_03.jpg" alt="Consultation & Planning">
                </div>
            </div>
        </div>
        <div class="hidden-lg hidden-md">
            <div class="row">
                <div class="controls col-xs-2 mt60">
                    <button class="btn brand-prev disabled" disabled="">
                        <img src="<%= imgBase + '/home/dark_arr_left.png'%>" class="arr_test" alt="...">
                    </button>
                </div>

                <div class="frame col-xs-8 overflow-hidden" id="brand-frame">
                    <ul class="clearfix slidee" style="transform: translateZ(0px) translateX(0px); width: 3480px;">
                        <li class="brand-sly-content bg-color-brand">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1487763272/brand/new_brand/century_03.jpg" alt="...">
                        </li>

                        <li class="brand-sly-content bg-color-brand">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1487763272/brand/new_brand/hafele_03.jpg" alt="...">
                        </li>

                        <li class="brand-sly-content bg-color-brand">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1487763272/brand/new_brand/hettich_03.jpg" alt="...">
                        </li>

                        <li class="brand-sly-content bg-color-brand">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1487763272/brand/new_brand/greenlam_03.jpg" alt="...">
                        </li>

                        <li class="brand-sly-content bg-color-brand">
                            <img src="http://res.cloudinary.com/mygubbi/image/upload/f_auto/v1487763272/brand/new_brand/merino_03.jpg" alt="...">
                        </li>
                    </ul>
                </div>

                <div class="controls col-xs-2 mt60">
                    <button class="btn brand-next">
                        <img src="<%= imgBase + '/home/dark_arr_right.png'%>" class="arr_test" alt="...">
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!--- End Brand Section -->

<section class="menu-spacer bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="category-content padding30">
                    <div class="category-details">
                    <p>
                        <b>Home Interior Decor</b>: Just Got Easy
                    </p>
                    <p class="para">
                        Visualising a better home is a dream of every individual and what better than living in a dream home which has been designed as per your likes. Looking for interior designing for your home just got easy with mygubbi.com. Here you can get <b>custom-made furniture</b> and have a sneak-peak on the modular furnitures we have on our website.
                    </p>
                        <br /><br />
                    <p class="para">
                        Mygubbi.com: Home for <b>customized furniture</b> and <h2 class="small-head hnwds">interior designing</h2>
                        </p>
                    <p class="para">
                        At mygubbi.com you can browse designs online or walk into our experience center to have a better understanding on the types, finish, materials and color options available. While we have a team of experts who have a wide experience in <b>home interior decor</b>, we have also partnered with brands including Hettich, Hafele, Century Ply and more, to ensure our products are sourced with highest quality. If you have been looking for customized furniture and home <h2 class="small-head hnwds">interior design company</h2><span class="para nwds"> then you can stop your search here at mygubbi.com. We have a broad range of traditional, modern, contemporary interior designs and more, to suit your needs!</span>
                        </p>
                    <p class="para">
                        Mygubbi.com: Customized
                        <h2 class="small-head hnwds">Interior Home Decor</h2>
                        <span class="para nwds"> and Designing Solutions</span>
                        </p>
                    <p class="para">
                        For <h3 class="small-head hnwds">home interiors,</h3>
                        <b class="blodnwds">modern furniture designs</b>
                        <span class="para nwds"> and customized solutions, log on to mygubbi.com.
                        We have all the home furniture solutions that you are looking for to build your dream home. We have a wide range of
                        </span>
                        <span class="para nwds">
                         <a href='https://www.mygubbi.com/wardrobe-designs-online'>modular wardrobes</a>
                        ,<a href='https://www.mygubbi.com/kitchen-cabinet-design'> modular kitchens</a>
                        , <a href='https://www.mygubbi.com/tv-unit-cabinet'>TV entertainment units</a>
                        , <a href='https://www.mygubbi.com/sideboard'>side racks</a>
                        , <a href='https://www.mygubbi.com/shoe-rack-online'>shoe racks</a>
                        </span>
                        <span class="para nwds"> and plenty other storage solutions.
                        Visit our experience center now or just give a call to us - you are only 45 days away from making your dream a reality.
                        </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    var item = $('.testimonials-carousel .item');
    item.eq(0).addClass('active');
    $(document).ready(function() {
        $('.testimonials-carousel').carousel({
          interval: 60000,
          pause: "false"
        });
    });

    $(function() {
        $(".trend-image-overlay").hover(function() {
                $(".txt-over-style-image").css('display','none');
                $(".style-image-overlay").addClass('style-image-overlay-opc');
            },
            function() {
               $(".txt-over-style-image").css('display','block');
               $(".style-image-overlay").removeClass('style-image-overlay-opc');
        });

        var navMain = $("#bs-example-navbar-collapse-1");
        var subMenuUL = $(".dropdown-menu");
        subMenuUL.on("click", "li", null, function() {
            navMain.collapse('hide');
        });

        $("#bs-example-navbar-collapse-1 ul.dropdownMenu_lg").on("click", "li", null, function() {
            $(this).parent().hide();
        });

        $("#bs-example-navbar-collapse-1 ul.dropdownMenu_lg").hover(function() {
                $(this).show();
            },
            function() {
               $(this).hide();
                $(this).hide();
            });

        $("#bs-example-navbar-collapse-1 ul.nav li a[id^=dropdownMenu_lg]").hover(function() {
           $('.dropdownMenu_lg').hide();
           var that = this;
           $(this).next('.dropdownMenu_lg').show();
        });

        $("#bs-example-navbar-collapse-1").mouseleave(function(){
            var hovered = $("#bs-example-navbar-collapse-1").find(".dropdownMenu_lg").length;
            !!hovered && $('.dropdownMenu_lg').hide();
        });

    });
    $(document).ready(function(){
        $("#cucumber").click(function(){
            window.location.href="https://www.mygubbi.com/cucumber-sale.html"
        });

        $("#kitchen-slide").click(function(){
            window.location.href="https://www.mygubbi.com/kitchen-deal.html"
        });

        $("#wardrobe-slide").click(function(){
            window.location.href="https://www.mygubbi.com/wardrobes-deal.html"
        });
    });
</script>