<!-- Header -->
<section>

    <!-- Carousel -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="/img/banner1.jpg" class="img-centered" alt="...">
                <!--<div class="carousel-caption">-->
                <!--<h3>Caption Text</h3>-->
                <!--</div>-->
            </div>
            <div class="item">
                <img src="/img/banner2.jpg" class="img-centered" alt="...">
            </div>
            <div class="item">
                <img src="/img/banner3.jpg" class="img-centered" alt="...">
            </div>
            <div class="item">
                <img src="/img/banner4.jpg" class="img-centered" alt="...">

                <!-- Banner Contact Form -->
                <div class="row banner-form-row hidden-sm hidden-xs">
                    <div class="col-lg-4 col-md-4"></div>
                    <div class="col-lg-4 col-md-4"></div>
                    <div class="col-lg-4 col-md-4">
                        <div class="contact-form banner-form">
                            <div class="row">
                                <h4 class="align-center">
                                    <span class="pe-7s-note"></span>
                                    Contact Us
                                </h4>
                            </div>
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="row margin_auto">
                                        <div class="col-md-6 padding0">
                                            <span class="nowrap"><span class="glyphicon glyphicon-earphone"></span> +91 80 88 86 0860</span>
                                        </div>
                                        <div class="col-md-6 padding0">
                                            <span class="nowrap"><span class="glyphicon glyphicon-envelope"></span> reach@mygubbi.com</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row display-none" id="contact_error_row">
                                        <p class="margin0 error-text align-center" id="contact_error"></p>
                                    </div>

                                    <form id="banner_contactForm" data-toggle="validator" role="form"
                                          class="width90 margin_auto paddingtop30">
                                        <div class="row">
                                            <div class="margin-bottom10 form-group">
                                                <input type="text" class="width100 form-control" placeholder="Name*"
                                                       value="<%= userProfile ? userProfile.displayName : ''%>"
                                                       id="banner_contact_full_name" required/>
                                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="margin-bottom10 form-group">
                                                <input type="email" class="width100 form-control"
                                                       placeholder="Email*" value="<%= userProfile ? userProfile.email : ''%>"
                                                       id="banner_contact_email_id" required pattern=".+@.+\..+"
                                                       title="<abc>@<xyz>.<com>"/>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="margin-bottom10 form-group has-feedback">
                                                <input type="text" class="width100 form-control"
                                                       placeholder="Phone Number*" value="<%= userProfile ? userProfile.phone : ''%>"
                                                       id="banner_contact_contact_num" required pattern="\d{10}"
                                                       title="e.g. 9876543210"/>

                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="margin-bottom10 form-group">
                                                <textarea class="width100 form-control" id="banner_contact_requirement"
                                                        placeholder="Describe your Requirements / Queries"></textarea>
                                            </div>
                                            <div class="margin-bottom10 form-group">
                                                <input type="text" class="width100 form-control" placeholder="Property Name"
                                                       id="banner_contact_property_name"/>
                                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="margin-bottom20 form-group">
                                                <label for="banner_contact_floorplan">Upload Floorplan</label>
                                                <input type="file" class="width100 form-control" placeholder="Floorplan" name="floorPlan" value=""
                                                       id="banner_contact_floorplan" accept=".pdf,.jpg,.jpeg,.png"/>
                                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="align-center form-group">
                                                <button
                                                        id="contactus-submit-btn"
                                                        class="button-blue"
                                                        type="submit"
                                                        data-loading-text="<i class='fa fa-spinner fa-spin'></i> submit">
                                                    submit
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <div id="banner_success-msg-padding" class="display-none margintop25"></div>
                                    <div id="banner_success-msg" class="display-none">
                                        <p class="justify">
                                            Thank you for contacting mygubbi. Our team will get back to you as soon as possible.
                                        </p>
                                        <p class="margintop40">
                                            Want to keep Exploring? Click
                                            <a id="contact-form-explore" href="/products/kitchen/U%20Shaped%20Kitchen">here</a>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Banner Contact Form End -->

            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control carousel-overlay" href="#carousel-example-generic" role="button" data-slide="prev">
            <img src="/img/arr-left-thick.png" class="arr" alt="...">
        </a>
        <a class="right carousel-control carousel-overlay" href="#carousel-example-generic" role="button" data-slide="next">
            <img src="/img/arr-right-thick.png" class="arr" alt="...">
        </a>
    </div>
    <!-- Carousel -->

</section>


<!-- Services Section -->
<section class="padding50-0">
    <div class="container align-center">
        <div class="font-size30">Create the home you've always wanted</div>
        <div class="row padding20-0">
            <div class="col-md-4">
                <img class="img-responsive" src="/img/intro_img1.png">
                <!--<span class="pe-7s-photo-gallery intro-icon"></span>-->
                <div class="intro-text">
                    <p>Explore new designs</p>
                    Get inspired by 1000s of designs
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="/img/intro_img2.png">
                <!--<span class="pe-7s-coffee intro-icon"></span>-->
                <div class="intro-text">
                    <p>Consult with professionals</p>
                    Know about the best solutions possible
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="/img/intro_img3.png">
                <!--<span class="pe-7s-cart intro-icon"></span>-->
                <div class="intro-text">
                    <p>Make them yours</p>
                    Enjoy best quality installation & services
                </div>
            </div>
        </div>
        <div class="margin-bottom40">
                <a class="button font-size18">Get Started</a>
            </div>
        </div>
</section>

<!-- Portfolio Grid Section -->
<section class="portfolio bg-light-gray padding50-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Living & Dining</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 portfolio-item">
                <div class="portfolio-box">
                    <a href="#" class="portfolio-link">
                        <img src="/img/living1.jpeg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Abcdz Living Room</h4>
                        <p class="text-muted">Graphic Design</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 portfolio-item">
                <div class="portfolio-box">
                    <a href="#" class="portfolio-link">
                        <img src="/img/living2.jpeg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Xyrsb Living Room</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-bottom20 align-center">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <a class="button font-size18" href="/products/living%20%26%20dining">Explore Now</a>
            </div>
        </div>
    </div>
</section>

<section class="portfolio padding50-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Kitchen</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 portfolio-item">
                <div class="portfolio-box">
                    <a href="#" class="portfolio-link">
                        <img src="/img/kitchen1.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Abcdz Kitchen</h4>
                        <p class="text-muted">Graphic Design</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 portfolio-item">
                <div class="portfolio-box">
                    <a href="#" class="portfolio-link">
                        <img src="/img/kitchen2.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Xyrsb Kitchen</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-bottom20 align-center">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <a class="button font-size18" href="/products/kitchen">Explore Now</a>
            </div>
        </div>
    </div>
</section>

<section class="portfolio bg-light-gray padding50-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Bedroom</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 portfolio-item">
                <div class="portfolio-box">
                    <a href="#" class="portfolio-link">
                        <img src="/img/bedroom1.jpeg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Abcdz Bedroom</h4>
                        <p class="text-muted">Graphic Design</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 portfolio-item">
                <div class="portfolio-box">
                    <a href="#" class="portfolio-link">
                        <img src="/img/bedroom2.jpeg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Xyrsb Bedroom</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-bottom20 align-center">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <a class="button font-size18" href="/products/bedroom">Explore Now</a>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="padding50-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Stories</h2>
            </div>
        </div>

        <div class="row margin-bottom30">
            <div class="col-md-12 col-sm-12 story">
                <img src="/img/home_page_banner1.jpg" class="img-responsive" alt="">
            </div>
        </div>
        <div class="row margin-bottom30">
            <div class="col-md-12 col-sm-12 story">
                <img src="/img/home_page_banner2.jpg" class="img-responsive" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 story">
                <img src="/img/home_page_banner3.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>

<section class="bg-light-gray padding50-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">We are unique</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Unique Personalized Designs</h4>
                                <h4 class="subheading">Designs that match your personality; made exclusively for you.</h4>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive bg-gray" src="/img/about/2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Professional Expertise</h4>
                                <h4 class="subheading">Name that can be trusted</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Flawless Execution</h4>
                                <h4 class="subheading">Transition to Full Service</h4>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>its not the end...</h4>
                                <h4 class="subheading">Avail our efficient After Sales Services</h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
