<!-- Header -->
<section>

    <!-- Carousel -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner mg-carousel">
            <div class="item active">
                <img data-src="<%= imgBase + 'w_auto' + '/R_cool.jpg'%>" class="cld-responsive img-centered"
                     alt="mygubbi bedroom design">
                <a href="/lp">
                    <div class="banner-btn">Browse Offers</div>
                </a>
            </div>
            <div class="item">
                <img data-src="<%= imgBase + 'w_auto' + '/R_Smart.jpg'%>" class="cld-responsive img-centered"
                     alt="mygubbi living room design">
                <a href="/lp">
                    <div class="banner-btn">Browse Offers</div>
                </a>
            </div>
            <div class="item">
                <img data-src="<%= imgBase + 'w_auto' + '/Living5.jpg'%>" class="cld-responsive img-centered"
                     alt="mygubbi kitchen design">
                <a href="/lp">
                    <div class="banner-btn">Browse Offers</div>
                </a>
            </div>
            <div class="item">
                <img data-src="<%= imgBase + 'w_auto' + '/banner_last.jpg'%>" class="cld-responsive img-centered"
                     alt="mygubbi living room design">
                <a href="/lp">
                    <div class="banner-btn zindex11k">Browse Offers</div>
                </a>

                <!-- Banner Contact Form -->
                <div class="row banner-form-row hidden-sm hidden-xs">
                    <div class="col-lg-4 col-md-4"></div>
                    <div class="col-lg-4 col-md-4"></div>
                    <div class="col-lg-4 col-md-4">
                        <div class="contact-form banner-form">
                            <div class="row">
                                <h4 class="align-center">
                                    <span class="pe-7s-note"></span>
                                    Contact Us
                                </h4>
                            </div>
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="row margin_auto">
                                        <div class="col-md-6 padding0">
                                            <span class="nowrap"><span class="glyphicon glyphicon-earphone"></span> +91 80 88 86 0860</span>
                                        </div>
                                        <div class="col-md-6 padding0">
                                            <span class="nowrap"><span class="glyphicon glyphicon-envelope"></span> reach@mygubbi.com</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row display-none" id="contact_error_row">
                                        <p class="margin0 error-text align-center" id="contact_error"></p>
                                    </div>

                                    <form id="banner_contactForm" data-toggle="validator" role="form"
                                          class="width90 margin_auto paddingtop30">
                                        <div class="row">
                                            <div class="margin-bottom10 form-group">
                                                <input type="text" class="width100 form-control" placeholder="Name*"
                                                       value="<%= userProfile ? userProfile.displayName : ''%>"
                                                       id="banner_contact_full_name" required/>
                                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="margin-bottom10 form-group">
                                                <input type="email" class="width100 form-control"
                                                       placeholder="Email*"
                                                       value="<%= userProfile ? userProfile.email : ''%>"
                                                       id="banner_contact_email_id" required pattern=".+@.+\..+"
                                                       title="<abc>@<xyz>.<com>"/>

                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="margin-bottom10 form-group has-feedback">
                                                <input type="text" class="width100 form-control"
                                                       placeholder="Phone Number*"
                                                       value="<%= userProfile ? userProfile.phone : ''%>"
                                                       id="banner_contact_contact_num" required pattern="\d{10}"
                                                       title="e.g. 9876543210"/>

                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="margin-bottom10 form-group">
                                                <textarea class="width100 form-control" id="banner_contact_requirement"
                                                          placeholder="Describe your Requirements / Queries"></textarea>
                                            </div>
                                            <div class="margin-bottom10 form-group">
                                                <input type="text" class="width100 form-control"
                                                       placeholder="Property Name"
                                                       id="banner_contact_property_name"/>
                                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="margin-bottom20 form-group">
                                                <label for="banner_contact_floorplan">Upload Floorplan</label>
                                                <input type="file" class="width100 form-control" placeholder="Floorplan"
                                                       name="floorPlan" value=""
                                                       id="banner_contact_floorplan" accept=".pdf,.jpg,.jpeg,.png"/>
                                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="align-center form-group">
                                                <button
                                                        id="contactus-submit-btn"
                                                        class="button-blue"
                                                        type="submit"
                                                        data-loading-text="<i class='fa fa-spinner fa-spin'></i> submit">
                                                    submit
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <div id="banner_success-msg-padding" class="display-none margintop25"></div>
                                    <div id="banner_success-msg" class="display-none">
                                        <p class="justify">
                                            Thank you for contacting mygubbi. Our team will get back to you as soon as
                                            possible.
                                        </p>

                                        <p class="margintop40">
                                            Want to keep Exploring? Click
                                            <a id="contact-form-explore" href="/u-shaped-kitchen-design">here</a>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Banner Contact Form End -->

            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control carousel-overlay" href="#carousel-example-generic" role="button"
           data-slide="prev">
            <img src="<%= imgBase + 'arr-left-thick.png'%>" class="arr" alt="...">
        </a>
        <a class="right carousel-control carousel-overlay" href="#carousel-example-generic" role="button"
           data-slide="next">
            <img src="<%= imgBase + 'arr-right-thick.png'%>" class="arr" alt="...">
        </a>
    </div>
    <!-- Carousel -->

</section>

<!-- Header End -->

<!-- Services Section -->
<section class="padding50-0 bg-color-white">
    <div class="container align-center">
        <div class="font-size30 color-orange">Make a HOME that you admire each day</div>
        <div class="row padding20-0">
            <div class="col-md-4 col-sm-4">
                <img class="cld-responsive img-responsive img-centered width85"
                     data-src="<%= imgBase + 'w_auto' + '/home/browse_11.png'%>">
                <!--<span class="pe-7s-photo-gallery intro-icon"></span>-->
                <div class="intro-text">
                    <p>Browse new designs</p>
                    Choose from our range of Posh Designs
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <img class="cld-responsive img-responsive img-centered width85"
                     data-src="<%= imgBase + 'w_auto' + '/home/consult_11.png'%>">
                <!--<span class="pe-7s-coffee intro-icon"></span>-->
                <div class="intro-text">
                    <p>Get Expert's Assistance</p>
                    Let our experts find best designs for your home
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <img class="cld-responsive img-responsive img-centered width85"
                     data-src="<%= imgBase + 'w_auto' + '/home/relax_11.png'%>">
                <!--<span class="pe-7s-cart intro-icon"></span>-->
                <div class="intro-text">
                    <p>Order it, and Relax</p>
                    Leave it on us, we'll deliver and install items FREE
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->


<!-- Collage Section -->
<section class="portfolio bg-light-gray padding50-0">
    <div class="container collage">
        <h1 class="heading-center-notransform">Don't just <span class="color-orange">crush over</span></h1>

        <h3 class="heading-center-notransform">Get them before others do</h3>

        <div class="row margin-top40">
            <div class="mycol-left collage-large-col">
                <a href="/kitchen-cabinet-design">
                    <div class="img-wrapper">
                        <img src="<%= imgBase + 'home/kitchen_red_06.jpg'%>" width="100%" title="Kitchen Designs"
                             alt="Kitchen">
                    </div>
                </a>
            </div>
            <div class="mycol-right collage-small-col margin-small-viewport">

                <div class="row margin-none">
                    <div class="mycol0">
                        <img src="<%= imgBase + 'home/Blue_03.png'%>" width="100%">
                    </div>
                </div>
                <div class="row margin-none margin-collage-top">
                    <div class="mycol-small-left collage-square-col">
                        <img src="<%= imgBase + 'home/red_06.png'%>" width="100%">
                    </div>
                    <div class="mycol-small-right collage-square-col">
                        <a href="/product-karl-book-rack">
                            <div class="img-wrapper">
                                <img src="<%= imgBase + 'home/for_08.png'%>" width="100%">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-top-collage-row">
            <div class="mycol-left collage-small-col margin-small-viewport">
                <div class="mycol-small-left collage-square-col">
                    <a href="/book-shelf">
                        <div class="img-wrapper">
                            <img src="<%= imgBase + 'c_scale,h_727,w_344/home/side_red_19.jpg'%>" class="width100">
                        </div>
                    </a>
                </div>
                <div class="mycol-small-right collage-square-col">
                    <div class="row margin-none">
                        <a href="/product-helma-crockery-unit">
                            <div class="img-wrapper">
                                <img src="<%= imgBase + 'c_scale,h_344,w_344/home/g_10.png'%>" class="width100">
                            </div>
                        </a>
                    </div>
                    <div class="row margin-none margin-collage-top-small">
                        <img src="<%= imgBase + 'c_scale,h_344,w_344/home/gold_10.png'%>" class="width100">
                    </div>
                </div>
            </div>
            <div class="mycol-right collage-large-col margin-small-viewport">
                <a href="/wardrobe-designs-online">
                    <div class="img-wrapper">
                        <img src="<%= imgBase + 'home/wardrobe_red_19.jpg'%>" class="width100" title="Wardrobe Designs"
                             alt="Wardrobe">
                    </div>
                </a>
            </div>
        </div>

        <div class="row margin-top-collage-row">
            <div class="mycol-left collage-large-col margin-small-viewport">
                <a href="/study-table-designs-online">
                    <div class="img-wrapper">
                        <img src="<%= imgBase + 'home/study_red_31.jpg'%>" class="width100" title="Study Room Designs"
                             alt="Study Table">
                    </div>
                </a>
            </div>
            <div class="mycol-right collage-small-col margin-small-viewport">

                <div class="row margin-none">
                    <div class="mycol0">
                        <a href="/product-samantha-shoe-rack">
                            <div class="img-wrapper">
                                <img src="<%= imgBase + 'home/fresco_red_13.png'%>" class="width100">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row margin-none margin-collage-top">
                    <div class="mycol-small-left collage-square-col">
                        <img src="<%= imgBase + 'home/green_13.png'%>" class="width100">
                    </div>
                    <div class="mycol-small-right collage-square-col">
                        <a href="/product-elli-crockery-unit">
                            <div class="img-wrapper">
                                <img src="<%= imgBase + 'home/gourmet_14.png'%>" class="width100">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Collage Section End -->

<!-- Experience Center Section -->
<section class="padding50-0 bg-color-white">
    <div class="container align-center exp_center_border">
        <div class="exp_center_box">
            <h1 class="text-transform-none">
                Introducing
            <span class="color-orange">
                The Experience Centre
            </span>
            </h1>
        </div>
        <h3 class="text-transform-none margin-top10">
            Meet our designers & Get a refreshing Makeover. Take away the interiors that are distinctively YOU
        </h3>
        <div class="row margin0 margin-top40 margin-bottom20">
            <a
                    href="/consult"
                    class="button-orange text-transform-none padding10 font-size20">
                Book your FREE consultation</a>
        </div>
    </div>

    <div class="container-fluid">
        <!-- Carousel -->
        <div id="exp-center-carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
            <!-- Indicators -->
            <ol class="carousel-indicators bottom_10">
                <li data-target="#exp-center-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#exp-center-carousel" data-slide-to="1"></li>
                <li data-target="#exp-center-carousel" data-slide-to="2"></li>
                <li data-target="#exp-center-carousel" data-slide-to="3"></li>
                <li data-target="#exp-center-carousel" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner exp_center">
                <div class="item active">
                    <div class="car_col20 padding0">
                        <img src="<%= imgBase + 'home/ex6.jpg'%>" class="car_img_left width293"
                             alt="Experience Center Image">
                    </div>
                    <div class="car_col60 padding0-10">
                        <img src="<%= imgBase + 'home/ex1.jpg'%>" class="img-responsive width100"
                             alt="Experience Center Image">
                    </div>
                    <div class="car_col20 padding0">
                        <img src="<%= imgBase + 'home/ex2.jpg'%>" class="car_img_right width293"
                             alt="Experience Center Image">
                    </div>
                </div>
                <div class="item">
                    <div class="car_col20 padding0">
                        <img src="<%= imgBase + 'home/ex1.jpg'%>" class="car_img_left width293"
                             alt="Experience Center Image">
                    </div>
                    <div class="car_col60 padding0-10">
                        <img src="<%= imgBase + 'home/ex2.jpg'%>" class="img-responsive width100"
                             alt="Experience Center Image">
                    </div>
                    <div class="car_col20 padding0">
                        <img src="<%= imgBase + 'home/ex4.jpg'%>" class="car_img_right width293"
                             alt="Experience Center Image">
                    </div>
                </div>
                <div class="item">
                    <div class="car_col20 padding0">
                        <img src="<%= imgBase + 'home/ex2.jpg'%>" class="car_img_left width293"
                             alt="Experience Center Image">
                    </div>
                    <div class="car_col60 padding0-10">
                        <img src="<%= imgBase + 'home/ex4.jpg'%>" class="img-responsive width100"
                             alt="Experience Center Image">
                    </div>
                    <div class="car_col20 padding0">
                        <img src="<%= imgBase + 'home/ex5.jpg'%>" class="car_img_right width293"
                             alt="Experience Center Image">
                    </div>
                </div>
                <div class="item">
                    <div class="car_col20 padding0">
                        <img src="<%= imgBase + 'home/ex4.jpg'%>" class="car_img_left width293"
                             alt="Experience Center Image">
                    </div>
                    <div class="car_col60 padding0-10">
                        <img src="<%= imgBase + 'home/ex5.jpg'%>" class="img-responsive width100"
                             alt="Experience Center Image">
                    </div>
                    <div class="car_col20 padding0">
                        <img src="<%= imgBase + 'home/ex6.jpg'%>" class="car_img_right width293"
                             alt="Experience Center Image">
                    </div>
                </div>
                <div class="item">
                    <div class="car_col20 padding0">
                        <img src="<%= imgBase + 'home/ex5.jpg'%>" class="car_img_left width293"
                             alt="Experience Center Image">
                    </div>
                    <div class="car_col60 padding0-10">
                        <img src="<%= imgBase + 'home/ex6.jpg'%>" class="img-responsive width100"
                             alt="Experience Center Image">
                    </div>
                    <div class="car_col20 padding0">
                        <img src="<%= imgBase + 'home/ex1.jpg'%>" class="car_img_right width293"
                             alt="Experience Center Image">
                    </div>
                </div>

            </div>

            <!-- Controls -->
            <a class="left carousel-control carousel-overlay" href="#exp-center-carousel" role="button"
               data-slide="prev">
                <img src="<%= imgBase + 'arr-left-thick.png'%>" class="arr_exp" alt="...">
            </a>
            <a class="right carousel-control carousel-overlay" href="#exp-center-carousel" role="button"
               data-slide="next">
                <img src="<%= imgBase + 'arr-right-thick.png'%>" class="arr_exp" alt="...">
            </a>
        </div>
        <!-- Carousel -->

        <!-- Offer Section -->
        <div class="container">
            <div class="padding20">
                <h1 class="heading-center-notransform margin35_auto color-orange">Introductory Weekend Offers</h1>
                <div class="youtube-container">
                    <div class="youtube-player" data-id="7zil8wvgmgk"></div>
                </div>
            </div>
        </div>

        <!-- Offer Section End -->

    </div>
</section>
<!-- Experience Center Section End -->

<!-- About Section -->
<section class="bg-light-gray padding50-0">
    <div class="container align-center">
        <h1 class="heading-center-notransform">Superior Quality. <span class="color-blue"> Unparalled Designs</span>
        </h1>

        <h3 class="heading-center-notransform">Plenty of Excuses to cherry pick us</h3>

        <div class="row margin-top40">
            <div class="col-lg-12 padding0">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-responsive" src="<%= imgBase + 'home/wish_1_15.png'%>" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="text-transform-none">Keep wish-listing</h3>
                                <h4 class="subheading">Priviledge of Customized Designs</h4>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-responsive" src="<%= imgBase + 'home/delivery_15.png'%>" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="text-transform-none">No more headache</h3>
                                <h4 class="subheading">Guaranteed 45 days delivery</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-responsive" src="<%= imgBase + 'home/guarantee_19.png'%>" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="text-transform-none">Have high standards</h3>
                                <h4 class="subheading">Not ordinary only utmost Quality</h4>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-responsive" src="<%= imgBase + 'home/lst_15.png'%>" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="text-transform-none">Never say good-bye</h3>
                                <h4 class="subheading">Appreciable Post-Sales Services</h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->


<!-- Stories Section -->
<section class="padding50-0 bg-color-white">
    <div class="container">
        <h1 class="text-transform-none align-center">Stories</h1>

        <div class="row margin-bottom30 margin-top40">
            <div class="col-md-6 col-sm-6">
                <div class="portfolio-box bg-light-gray">
                    <div class="row margin0">
                        <a href="/story-Making%20her%20Room%20Keep%20up%20with%20Her">
                            <img
                                    data-src="https://res.cloudinary.com/mygubbi/image/upload/w_auto/stories/1054/3918/files/1_2f78671c-419e-4a68-ac3a-ab5600b943a7.jpg"
                                    class="cld-responsive img-responsive padding15">
                        </a>
                    </div>
                    <div class="row margin0 padding15">
                        <a href="/story-Making%20her%20Room%20Keep%20up%20with%20Her">

                            <h3 class="text-transform-none margin-top0">Making her Room Keep up with Her</h3>
                        </a>
                        <p class="justify">
                            <b>Expert Speak:</b>
                            It is easy to transform a little girl’s room to that of a teenager.
                            All you need to do is focus on bringing out her blossoming personality in the décor.
                        </p>
                        <a
                                href="/story-Making%20her%20Room%20Keep%20up%20with%20Her"
                                class="margin-top10 color-orange font-size16 justify">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="portfolio-box bg-light-gray">
                    <div class="row margin0">
                        <a href="/story-How%20to%20create%20an%20unforgettable%20first%20impression">
                            <img
                                    data-src="https://res.cloudinary.com/mygubbi/image/upload/w_auto/stories/1054/3918/files/2_2e87ccdc-7553-4297-9460-54b296c496d7.jpg"
                                    class="cld-responsive img-responsive padding15">
                        </a>
                    </div>
                    <div class="row margin0 padding15">
                        <a href="/story-How%20to%20create%20an%20unforgettable%20first%20impression">
                            <h3 class="text-transform-none margin-top0">
                                How to create an unforgettable first impression
                            </h3>
                        </a>
                        <p class="justify">
                            <b>Expert Speak:</b>
                            Everyone wants to own home that makes a lasting impression on visitors.
                            That home can be yours with these tips.
                        </p>
                        <a
                                href="/story-How%20to%20create%20an%20unforgettable%20first%20impression"
                                class="margin-top10 color-orange font-size16 justify">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin0 align-center">
            <a href="/stories" class="button border1px text-transform-none font-size20">Browse more Stories</a>
        </div>

    </div>
</section>
<!-- Stories Section End -->

<!-- Testimonial Section -->

<section class="bg-light-gray padding50-0">
    <div class="container-fluid">
        <h1 class="heading-center-notransform">
            Customer Testimonials
        </h1>
        <div class="wrap col-xs-12 padding0">
            <div class="row margin0">
                <div class="controls center col-xs-1 margin-top85">
                    <button class="btn hmalt-prev disabled" disabled="">
                        <img src="<%= imgBase + '/home/dark_arr_left.png'%>" class="arr_test" alt="...">
                    </button>
                </div>

                <div class="frame col-xs-10 overflow-hidden" id="hmalt-frame">
                    <ul class="clearfix slidee"
                        style="transform: translateZ(0px) translateX(0px); width: 3480px;">
                        <li class="text-sly-content">
                            <p class="font-size18 color-orange">
                                Anubhav
                            </p>
                            <p class="justify">
                                “The designers were calm and composed. They explained all the intricate details with
                                such simplicity. Kudos to whole team.”
                            </p>
                        </li>

                        <li class="text-sly-content">
                            <p class="font-size18 color-orange">
                                Archana Karande
                            </p>
                            <p class="justify">
                                “The Design team of mygubbi is simply awesome. And what is most exciting about them is
                                the way they present each idea. Highly patient with excellent knowledge of trends.”
                            </p>
                        </li>

                        <li class="text-sly-content">
                            <p class="font-size18 color-orange">
                                Arun Kadavil
                            </p>
                            <p class="justify">
                                “Presentations do matter. People of mygubbi are skilled in creating an everlasting
                                impression on whoever walks in. Cheers to their creativity!”
                            </p>
                        </li>

                        <li class="text-sly-content">
                            <p class="font-size18 color-orange">
                                Prasad Naik
                            </p>
                            <p class="justify">
                                “My doubts were very well cleared by the Design Team, they explained functionality of
                                each product. That too without losing their calm. Thumbs up from me.”
                            </p>
                        </li>

                        <li class="text-sly-content">
                            <p class="font-size18 color-orange">
                                Priya Kaikini
                            </p>
                            <p class="justify">
                                “I wanted to get genuine advice on some product. Thanks to mygubbi team who not only
                                listened to my concerns patiently but also gave some great tips. I’ll be definitely
                                visiting again.”
                            </p>
                        </li>

                        <li class="text-sly-content">
                            <p class="font-size18 color-orange">
                                Dr.Sudeendra
                            </p>
                            <p class="justify">
                                “Superb presentation skills! Designers of mygubbi believes in listening to concerns of
                                clients and work upon the solution based on the problem. Kudos to their team of
                                designers.”
                            </p>
                        </li>

                    </ul>
                </div>
                <div class="controls center col-xs-1 margin-top85">
                    <button class="btn hmalt-next">
                        <img src="<%= imgBase + '/home/dark_arr_right.png'%>" class="arr_test" alt="...">
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonial Section End -->