<%= console.log("@@@@@@@@@@@@@@@ Concepts @@@@@@@@@@@@@@@@@") %>
<%= console.log(conceptdetails) %>

<%= console.log("@@@@@@@@@@@@@@@ Selected Concept Tag @@@@@@@@@@@@@@@@@") %>
<%= console.log(filterTag) %>

<link href="css/layout.css" rel="stylesheet">
<section class="col-md-12 col-lg-12 mt15">
    <div id="myCarousel112" class="carousel slide">
        <div class="tagicos">
            <div  class="tagicos clearfix carousel-inner">
                <% if(typeof(conceptdetails.tagList) !== 'undefined'){ %>
                <% var tagnmArr = [] %>
                <% _.each(conceptdetails.tagList, function(conceptdtls, i){ %>
                <% tagnmArr.push('.'+conceptdtls) %>
                <% }); %>
                <% } %>
                <% if(typeof(conceptdetails.tagList) !== 'undefined'){ %>
                <% var clsarr = ['tgf','tgs','tgt','tgfr']; %>
                <% var icols = 8; %>
                <% _.each(conceptdetails.tagList, function(concepttgs, i){ %>
                <% var tagnm = concepttgs %>
                <% if( (++i)%icols == 1 ) {  %>
                <div class="tagicos-cnt item">
                    <% } %>
                    <% if( i == 1) {  %>
                    <div class="tgico">
                        <span class="active  <%= clsarr[i%4] %> tgico-link" <% if((typeof(filterTag) == 'undefined') || (filterTag == "")){ %> style="background-color:#fff; border:1px solid red;" <% } %> onclick="getTagsView('all')" title="All" >All</span>
                    </div>
                    <% } %>
                    <div class="tgico">
                        <span class="<%= clsarr[i%4] %> tgico-link" onclick="getTagsView('<%= tagnm %>')" <% if((typeof(filterTag) !== 'undefined') && (filterTag == tagnm)){ %> style="background-color:#fff; border:1px solid red;" <% } %> title="<%= tagnm %>"><%= tagnm %></span>
                    </div>
                    <% if( i%icols == 0 || i== conceptdetails.tagList.length ) { %>
                </div>
                <% } %>
                <% }); %>
                <% } %>
            </div>
        </div>
        <% if(conceptdetails.tagList.length > 9){ %>
        <a class="left carousel-control" href="#myCarousel112" data-slide="prev"><i class="fa fa-angle-left fa-2x"></i></a>
        <a class="right carousel-control" href="#myCarousel112" data-slide="next"><i class="fa fa-angle-right fa-2x"></i></a>
        <% } %>
    </div>
    <input type="hidden" id="conceptboardIdVl" value="<%= conceptboardId %>" />
    <div class="pinBoot bg-white" id="searchpinBoot" style="margin-top: 15px;">
        <% if(typeof(conceptdetails) !== 'undefined'){ %>
        <% _.each(conceptdetails.conceptList, function(conceptdtls, i){ %>
        <% var tagnm = conceptdetails.tagList %>

        <article class="white-panel">
            <div class="pin">
                <a href="javascript:void(0);" onclick="showModal('<%= conceptdtls.imgURL %>','<%= conceptdtls.conceptTitle %>','<%= conceptdtls.conceptCode %>')" class="btn btn-pin"> <i class="fa fa-thumb-tack" aria-hidden="true"></i> Add </a>
            </div>
            <a href="javascript:void(0);" class="conceptImg" data-element="<%= conceptdtls.imgURL %>" data-element1="<%= conceptdtls.conceptTypeTitle %>" data-element2="<%= conceptdtls.conceptTitle %>"  data-element3="<%= conceptdtls.conceptCode %>" data-element4="<%= conceptdtls.id %>">
                <% if(typeof(conceptdtls.imgURL) != 'undefined' && conceptdtls.imgURL != null){ %>
                <img src="<%= conceptdtls.imgURL %>" alt="<%= conceptdtls.conceptTitle %>">
                <% }else{ %>
                <img src="http://designwhimages.mygubbi.com/no-img.png" alt="<%= conceptdtls.conceptTitle %>">
                <% } %>
            </a>
            <h4>
                <span><a href="javascript:void(0);"> <%= conceptdtls.conceptTitle %> </a></span>
            </h4>
        </article>
        <% }); %>
        <% } %>

    </div>



    <div class="modal fade" id="pin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="pin-container">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="pin-model-img">
                            <a href="detail.html">  <img src="img/pnis/pin1.jpg" class="img-responsive" id="mastImg" alt="pin image"> </a>
                            <h4 id="concNm">Excepteur sint occaecat cupidatat non proident </h4>
                            <input type="hidden" id="ConcCod" value="">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="new-pin">
                            <!--<form>
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Mood Board Name">
                                </div>

                                <div class="form-group">
                                    <input type="submit" name="pin" class="btn btn-defalt pin-submit" value="Submit">
                                </div>
                            </form>-->
                        </div>
                        <div>
                            <label class="moodboard-lbl">All Concept Boards</label>
                            <% if(typeof(conceptboardsDtls) !== 'undefined'){ %>
                            <%= console.log("================== conceptboardsDtls ===================") %>
                            <%= console.log(conceptboardsDtls) %>
                            <% _.each(conceptboardsDtls[0].listOfUserConceptBoard, function(conceptdtl, j){ %>
                            <div class="boardlst" data-element="<%= conceptdtl.id %>"><%= conceptdtl.name %></div>
                            <% }); %>
                            <% } %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div id="concept-dtls" class="dtls-container" style="">
            </div>
        </div>
    </div>
</section>


<script type="text/javascript" src="js/libs/jquery.mixitup.min.js"></script>
<script type="text/javascript">
	$(function () {
	     var conceptboardIdVl = $("#conceptboardIdVl").val();
    });
    function showModal(imgnm,cnpnm,cnpcod){
        $("#concNm").text(cnpnm);
        $("#ConcCod").val(cnpcod);
        $("#mastImg").attr("src",imgnm);
        $('#pin-modal').modal('show');
    }

</script>

<!--<script>
    $(".fl-tags").on( "click", function() {
        var seltag = $(this).data("element");
        $( "article" ).hide();
        $( "article" ).filter(function( index ) {
        return $( this ).data( "category" ) === seltag;
      }).show();
    });
</script>-->
<script>
    $(document).ready(function() {
        $('#myCarousel').carousel({
            interval: false
        });

        $('#myCarousel112 .item:first').addClass('active');
        $('#myCarousel112').carousel({
            interval: false
        })
    });

</script>
<script>
    function getTagsView(selTag){
        if(selTag == 'all'){
            filter.set({'noSearchFilterApplied': 0});
            filter.set({'selectedSearchTag': ''});
            filter.trigger('change');
        }else{
            console.log("Selected Tags============ "+selTag);
            filter.set({'selectedSearchTag': selTag});
            filter.trigger('change');
        }
    }
</script>