<%= console.log("++++++++++++++++++++++++++similar concepts details+++++++++++++++++++++++++++++") %>
<%= console.log(similarConcepts) %>
<% if(typeof(similarConcepts) !== 'undefined'){ %>
<div id="owl-demo" class="owl-carousel owl-theme">
    <% _.each(similarConcepts[0].similarConceptsList, function(simcnt, i){ %>
    <div class="item">
        <a href="javascript:void(0);" class="conceptImg" data-element5="<%= simcnt.conceptCode %>">
        <img src="<%= simcnt.imgURL %>" alt="<%= simcnt.conceptTitle %>" class="relConceptImg" title="<%= simcnt.conceptTitle %>">
        </a>
    </div>
    <% }); %>
</div>
<% }else{ %>
<div>
    <p>No Similar Concept found</p>
</div>
<% } %>

<script src="js/libs/owl.carousel/dist/owl.carousel.min.js"></script>
<script>
   $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        autoPlay: 3000,
        items : 4,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3],
        nav    : true,
        navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
        dots: false
      });

    });
</script>