<%= console.log("@@@@@@@@@@@@@@@@@@@@@@@@@@@22222@") %>
<%= console.log(designList) %>

<%= console.log("@@@@@@@@@@@@@@@@@@@ roomlayouts @@@@@@@@22222@") %>
<%= console.log(roomlayouts) %>
<style>
    .pinBoot .white-panel {
        margin-top: 10px!important;
    }
    .filters ul.dropdown-menu li{
        padding-top:10px;
        display:block;
    }
    #fileupload {
      position: absolute;
      font-size: 50px;
      opacity: 0;
      right: 0;
      top: 0;
      }
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btnImage {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
</style>
<section>
    <button id="addCBoard" title="Add Concept Board"><i class="fa fa-cloud-upload"></i></button>

    <div class="portfolio-box bg-white hidden-sm hidden-xs" id="filter-choose-container">
        <div class="container">
            <div class="row padding10-0" id="filter-choose">
                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
                    <h4>Filters:</h4>
                </div>
                <div class="col-lg-8 col-md-8 hidden-sm hidden-xs">
                    <div class="col-lg-4 col-md-4">
                        <ul class="dropdown filters">
                        <li class="padding0-20">
                            <a
                                    class="dropdown-toggle"
                                    id="dropdownMenu_style"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="true">
                                Style
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu drop" aria-labelledby="dropdownMenu">
                                <li>
                                    <a>
                                        <div
                                                class="margin-right-5"
                                                name="style" title="" onclick="getStyleId(this.title)">
                                        All
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <div
                                                class="margin-right-5"
                                                name="style" title="ST-CONTEMPORARY" onclick="getStyleId(this.title)">
                                        CONTEMPORARY
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <div
                                                class="margin-right-5"
                                                name="style" title="ST-NEOCLASSICAL" onclick="getStyleId(this.title)">
                                        Neo Classical

                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <div
                                                class="margin-right-5"
                                                name="style" title="ST-Shabbychic" onclick="getStyleId(this.title)">
                                        Shabby chic
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    </div>
                    <!--<div class="col-lg-4 col-md-4">
                        <ul class="dropdown filters">
                        <li class="padding0-20">
                            <a
                                    class="dropdown-toggle"
                                    id="dropdownMenu_Room"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="true">
                                Room Layout
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu drop" aria-labelledby="dropdownMenu">
                                <li>
                                    <a>
                                        <div
                                                class="margin-right-5"
                                                name="room" title="" onclick="getRoomLayout(this.title)">
                                        All
                                        </div>
                                    </a>
                                </li>
                                <% if(typeof(roomlayouts) !== 'undefined'){ %>
                                    <% _.each(roomlayouts[0].roomLayoutList, function(roomlyt, i){ %>
                                    <li>
                                        <a>
                                            <div
                                                    class="margin-right-5"
                                                    name="room" title="<%= roomlyt.roomLayoutCode %>" onclick="getRoomLayout(this.title)">
                                                <%= roomlyt.roomLayoutCode %>
                                            </div>
                                        </a>
                                    </li>
                                    <% }); %>
                                <% } %>

                            </ul>
                        </li>
                    </ul>
                    </div>-->
                </div>

                <div class="col-lg-3 col-md-8 pull-right text-right">
                    <h4><%= designList.length %> Looks Found</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addcboard-modalForImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div id="addcboard-dtlsImage" class="addcboard-container" style="width: 63%;min-height: 150px">
                <div class="col-sm-12 col-md-12">
                    <h3 class="addcboard-heading" style="margin-left: -16px;">Add User Design Image </h3>
                </div>
                <form id="userconceptfrmImage" method="post" name="userconceptfrm" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="upload-btn-wrapper">
                            <button class="btnImage">Upload a file</button>
                            <input id="conceptfileupload" type="file" name="conceptfile"/>
                            <label id="file-name"></label>
                        </div>
                        <div id="list1">
                        <div class="row display-none" id="addUpload_error_row" style="text-align: center;">
                            <p class="margin0 error-text align-center" id="addUpload_error" style="color: darkred;"></p>
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <h4>Concept Board Name:</h4>
                        <input type="text" class="form-control" id="cboardcnameTxt" name="cboardname" />
                    </div>
                    <div class="row display-none" id="addUploadImage_error_row" style="text-align: center;">
                        <p class="margin0 error-text align-center" id="addUploadImage_error" style="color: darkred;"></p>
                    </div>
                    <div class="form-group">
                        <h4>Concept Board Desc:</h4>
                        <input type="text" class="form-control" id="cboarddescTxt" name="cboarddesc" />
                    </div>
                    <div class="row display-none" id="addUploadImagedesc_error_row" style="text-align: center;">
                        <p class="margin0 error-text align-center" id="addUploadImagedesc_error" style="color: darkred;"></p>
                    </div>
                    <div class="mt15" style="text-align:right;">
                        <input type="submit" id="save_uploadConceptBoard" class="btn addcboard-btn" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="main-conceptboard-sec bg-light-gray">
    <div class="container">
        <div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                      <!--  <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="grid position-relative overflow-hidden">-->

                    <div class="pinBoot bg-white" id="searchpinBoot" style="margin-top: 15px;min-height:220px; position: relative;">
                        <% if(typeof(designList) !== 'undefined'){ %>
                        <% _.each(designList, function(conceptdtls, i){ %>


                        <article class="white-panel">
                            <a href="javascript:void(0);" class="conceptImg" >
                                <% if(typeof(conceptdtls.impUrl) != 'undefined' && conceptdtls.impUrl != null){ %>
                                <img src="<%= conceptdtls.impUrl %>" style="height:230px; width:100%;" alt="<%= conceptdtls.title %>">
                                <% }else{ %>
                                <img src="http://designwhimages.mygubbi.com/no-img.png" style="height:230px; width:100%;"  alt="<%= conceptdtls.title %>">
                                <% } %>
                            </a>
                            <div  style="">
                           <i class=" shortList shortListdesign fa fa-thumb-tack shortIcon" aria-hidden="true"  id="<%= conceptdtls.designCode %>" <% if(conceptdtls.liked == true){ %> style="color:#ec5136 ;" <% } %>  ></i>
                            </div>
                            <h4>
                                <span ><a href="javascript:void(0);"> <%= conceptdtls.title %> </a></span>
                            </h4>
                        </article>

                        <% }); %>
                        <% } %>

                    <!--</div>
                            </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    function getStyleId(title) {

        var filterStyleNameArr = filter.get('selectedStyleName');

        //filterStyleNameArr.push(title);

        filterStyleNameArr = title;

        //alert("filterStyleNameArr ================"+filterStyleNameArr);

        filter.set({'selectedStyleName': filterStyleNameArr});

        filter.trigger('change');
    }
    function getRoomLayout(title) {

        var filterRoomLayoutArr = filter.get('selectedRoomLayout');

        filterRoomLayoutCode = title;

        filter.set({'selectedRoomLayout': filterRoomLayoutCode});

        filter.trigger('change');
    }
    $("#conceptfileupload").change(function(){
      $("#file-name").text(this.files[0].name);
    });
var arr = new Array();
$('.shortList').click(function (e) {
    var currentTarget = $(e.currentTarget);
    var familyoptId = currentTarget.attr('id');



         filter.set({'shortedList': familyoptId});
         filter.trigger('change');
});
</script>