<%= console.log("@@@@@@@@@@@@@@@@@@@@@@@@@@@22222@") %>
<%= console.log(designList) %>

<link href="css/layout.css" rel="stylesheet">
<section class="col-md-12 col-lg-12 mt15">
<div class="pinBoot bg-white" id="searchpinBoot" style="margin-top: 15px;">
    <% if(typeof(designList) !== 'undefined'){ %>
    <% _.each(designList, function(conceptdtls, i){ %>

    <article class="white-panel">
        <a href="javascript:void(0);" class="conceptImg" >
            <% if(typeof(conceptdtls.impUrl) != 'undefined' && conceptdtls.impUrl != null){ %>
            <img src="<%= conceptdtls.impUrl %>" alt="<%= conceptdtls.title %>">
            <% }else{ %>
            <img src="http://designwhimages.mygubbi.com/no-img.png" alt="<%= conceptdtls.title %>">
            <% } %>
        </a>
        <h4>
            <span><a href="javascript:void(0);"> <%= conceptdtls.title %> </a></span>
        </h4>
    </article>
    <% }); %>
    <% } %>

</div>
</section>