<%= console.log(" ============== bpackages ==================") %>
<%= console.log(bpackages) %>
<% if(typeof(bpackages) !== 'undefined' && bpackages.length != 0){ %>
<div class="row">
    <% _.each(bpackages, function(bpk){ %>
    <div class="col-sm-4">
        <!-- Pricing Pass 01 -->
        <div class="white-bg">
            <h3 class="text-uppercase text-center pddn-20-top pddn-10-btm"><%= bpk.package_name %></h3>
            <div class="accent-bg pddn-20-top-btm text-center">
                <p class="price">
                        <span class="text-bigger">
                            <img src="<%= bpk.package_logo %>" alt="logo" class="img-responsive img-center pddn-30">
                        </span>
                </p>
            </div>
            <ul class="list-pricing">
                <li> <%= bpk.Package_description %> </li>
            </ul>

            <% if(bpk.platinum_status !== 1){ %>
            <p class=" pddn-20-btm text-center"><button class="getdsgn btn btn-main-ghost" data-element="<%= bpk.packageId %>">Get Design</button></p>
            <% }else{ %>
            <p class=" pddn-20-btm text-center"><a href="#location" class="btn btn-ozon-color"> Contact Us </a></p>
            <% } %>

        </div>
        <!-- /.Pricing Pass 01 -->
    </div>
    <% }); %>
</div>
<% }else{ %>
<h3 class="text-center">No Package Available</h3>
<% } %>