    <!-- Bootstrap core CSS -->
    <link href="partners/assets/css/bootstrap.css" rel="stylesheet">

    <link rel="stylesheet" href="partners/assets/plugins/OwlCarousel/owl.carousel.css">
    <link rel="stylesheet" href="partners/assets/plugins/OwlCarousel/owl.theme.default.css">

    <!-- Custom styles for this template -->
    <link href="partners/assets/css/event-main.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <!-- Navigation -->
<nav id="darknav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- navbar-header -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarr" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="/"><img src="assets/media/logo/inner-logo-white.png" class="img-responsive" alt="New York Web Buzz" width="65" height="37" /></a>--> </div>
        <!-- /.navbar-header -->
        <!-- navbar-collapse -->
        <div id="navbarr" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-center">
                <li><a class="page-scroll" href="#home"> <i class="fa fa-home"></i> </a></li>
                <li><a class="page-scroll" href="#why-mygubbi">Why MyGubbi</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level" id="prjctsel">

                    </ul>
                </li>
                <li><a class="page-scroll" href="#schedule">Process</a></li>
                <li><a class="page-scroll" href="#personalized">Personalized Designs</a></li>
                <li><a class="page-scroll" href="#gallery">Gallery</a></li>
                <li><a class="page-scroll" href="#highlight">Testimonials</a></li>
                <li><a class="page-scroll" target="_blank" href="https://www.mygubbi.com/nri-bangalore">NRI</a></li>
                <li><a class="page-scroll" href="#location">Contact Us</a></li>
            </ul>


        </div>
        <!--/.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- /.Navigation -->

<!-- Header -->
<header id="fullwidth" class="homepage">
    <div id="home" class="homepage-overlay">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Heading Title Area -->
                    <div class="header-text white text-center text-uppercase">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2">
                                <div class="brand-logo">
                                    <a target="_blank" href="https://www.mygubbi.com/">
                                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1486966607/ozone/logo-mg.png" alt="mygubbi">
                                    </a>
                                </div>
                                <div class="row">
                                    <div class="pddn-20-top">
                                        <div class="col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2">
                                            <img class="img-responsive img-center" src="https://res.cloudinary.com/mygubbi/image/upload/v1487141694/ozone/Inspiring_designs.png" alt="ID">
                                        </div>
                                        <div class="col-sm-5 col-md-5">
                                            <h1>
                                                Inspiring <br/> Designs
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="brand-logo">
                                    <a target="_blank" href="https://www.urbana.ozonegroup.com/">
                                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1487051139/ozone/logo-og.png" alt="mygubbi">
                                    </a>
                                </div>
                                <div class="row">
                                    <div class="pddn-20-top">
                                        <div class="col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2">
                                            <img class="img-responsive img-center" src="https://res.cloudinary.com/mygubbi/image/upload/v1487141694/ozone/Intelligent_archt.png" alt="ID">
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <h1>
                                                Intelligent <br/> Architecture
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h2 class="white"> Co-creating Beautiful Homes! </h2>

                                <h3 class="mrgn-50-top white sm-title">
                                    <span class="date"><a href="https://www.urbana.ozonegroup.com/360-view-three-bhk.php" target="_blank"> Explore 360 View </a></span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!-- /.Heading Title Area -->

                    <!-- Animated Arrow -->
                    <div class="arrow text-center"> <i class="fa fa-angle-down fa-4x"></i> </div>
                    <!-- /.Animated Arrow -->

                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</header>
<!-- /.Header -->

<!-- Event Features -->
<section id="speakers">

</section>
<!-- /.Event Features -->

<!-- Why Mygubbi -->
<section id="why-mygubbi">
    <div class="container">
        <!-- Title & Subtitle -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="text-center"><span>Why MyGubbi</span></h2>
                    <p class="subtitle text-center">Our milestones speak for itself</p>
                    <p class="subtitle text-center"><i class="fa fa-angle-down fa-lg"></i></p>
                </div>
            </div>
        </div>
        <!-- /.Title & Subtitle -->
        <div class="whymg-box">
            <div class="row">
                <!-- Feature 01 -->
                <div class="col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-6">
                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1487052607/ozone/350Homes.png" class="img-responsive img-center" alt="Completed Homes" />
                </div>
                <!-- /.Feature 01 -->
                <!-- Feature 02 -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1487052611/ozone/4cities.png" class="img-responsive img-center" alt="Cities" />
                </div>
                <!-- /.Feature 02 -->
                <!-- Feature 03 -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1487052612/ozone/45.png" class="img-responsive img-center" alt="Day Express Delivery" />
                </div>
                <!-- /.Feature 03 -->
                <!-- Feature 04 -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1487139801/ozone/1year_free_mntnc.png" class="img-responsive img-center" alt="Year Free Maintenance" />
                </div>
                <!-- /.Feature 04 -->
                <!-- Feature 05 -->
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1487052612/ozone/5years.png" class="img-responsive img-center" alt="Years Warranty" />
                </div>
                <!-- /.Feature 04 -->
            </div>
        </div>
    </div>
</section>
<!-- /.Why Mygubbi -->

<!-- Schedule Timeline -->
<section id="schedule">
    <div class="container">
        <!-- Title & Subtitle -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="text-center"><span>Process</span></h2>
                    <p class="subtitle text-center">Easy Steps To Enter Your Dream Home!</p>
                    <p class="subtitle text-center"><i class="fa fa-angle-down fa-lg"></i></p>
                </div>
            </div>
        </div>
        <!-- /.Title & Subtitle -->

        <!-- Timeline -->
        <div id="timeline">
            <!-- Timeline Item 01 -->
            <div class="timeline-item">
                <div class="timeline-icon"> <i class="fa fa-star fa-lg"></i> </div>
                <div class="timeline-content">
                    <h2>Explore Designs</h2>
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <img class="img-responsive img-center" src="https://res.cloudinary.com/mygubbi/image/upload/v1487053691/ozone/magnifying-glass.png">
                        </div>
                        <div class="col-md-9 col-sm-9">
                            <p> We have a wide-range and an eclectic mix of stunning designs across kitchens, wardrobes and home-decor. Our designs are unique, thoughtful and standard complaint.  </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.Timeline Item 01 -->

            <!-- Timeline Item 02 -->
            <div class="timeline-item">
                <div class="timeline-icon"> <i class="fa fa-star fa-lg"></i> </div>
                <div class="timeline-content right">
                    <h2>Customize Designs</h2>
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <img class="img-responsive img-center" src="https://res.cloudinary.com/mygubbi/image/upload/v1487053689/ozone/adjust.png">
                        </div>
                        <div class="col-md-9 col-sm-9">
                            <p>We believe that each home deserves a unique soul and we bring alive that soul by customizing our designs according to the dreams of the family residing in it. </p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.Timeline Item 02 -->

            <!-- Timeline Item 03 -->
            <div class="timeline-item">
                <div class="timeline-icon"> <i class="fa fa-star fa-lg"></i> </div>
                <div class="timeline-content">
                    <h2>Place Your Order</h2>
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <img class="img-responsive img-center" src="https://res.cloudinary.com/mygubbi/image/upload/v1487053689/ozone/shopping-cart.png">
                        </div>
                        <div class="col-md-9 col-sm-9">
                            <p>We have a transparent and seamless system for placing an order. As soon as the order is placed, we allocate the best of our resources to curate your home into a dream space.  </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.Timeline Item 03 -->

            <!-- Timeline Item 04 -->
            <div class="timeline-item">
                <div class="timeline-icon"> <i class="fa fa-star fa-lg"></i> </div>
                <div class="timeline-content right">
                    <h2>Delivery in 45 Days</h2>
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <img class="img-responsive img-center" src="https://res.cloudinary.com/mygubbi/image/upload/v1487053922/ozone/truck.png">
                        </div>
                        <div class="col-md-9 col-sm-9">
                            <p>We are on firm ground with logistics and are committed to our promise of  prompt delivery and hassle-free installation. </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.Timeline Item 04 -->

            <!-- Timeline Full Schedule Link -->
            <div class="timeline-item">
                <div class="timeline-icon"> <i class="fa fa-angle-double-down fa-2x"></i> </div>
            </div>
            <!-- /.Timeline Full Schedule Link -->
        </div>
        <!-- /.Timeline -->
    </div>
    <!-- /.container -->
</section>
<!-- /.Schedule Timeline -->

<!-- Section Pricing -->
<section id="personalized">
    <div class="container">
        <!-- Title & Subtitle -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="text-center"><span> Personalized Designs </span></h2>
                    <p class="subtitle text-center"> Key in Your Apartment Number HERE for your Personalized Designs </p>
                    <p class="subtitle text-center"><i class="fa fa-angle-down fa-lg"></i></p>
                </div>
            </div>
        </div>
        <!-- /.Title & Subtitle -->

        <!-- Price List -->
        <div class="row">
            <div class="col-md-12 text-center">
                <form novalidate style="visibility: visible; animation-name: zoomIn;">
                    <div class="row">
                        <div class="col-sm-3">
                           <!-- <select id="prjctsel" class="form-control sm-select">
                                <option>Select Project</option>
                            </select>-->
                        </div>
                        <div class="col-sm-2">
                            <select id="towersel" class="form-control sm-select">
                                <option>Select Tower/Block</option>
                            </select>
                        </div>
                        <!--<div class="col-sm-2">
                            <select class="form-control sm-select">
                                <option>Select Level </option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>-->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="sr-only" for="apartment_number"></label>
                                <input type="number" class="form-control" placeholder="Enter Flat No. *" id="apartment_number">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <button id="twsubmt" type="button" class="btn btn-main-color"> Submit </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.Newsletter Form -->
        <div class="row" id="flrplnsel">

        </div>
        <!-- Pricing Passes -->
        <div id="ozon-pkag">
        </div>

        <div id="ozon-designs">

        </div>

    </div>
    <!-- /.container -->
</section>
<!-- /.Section Pricing -->


<!-- Speakers -->
<section id="gallery">
    <div class="container">
        <!-- Title & Subtitle -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="text-center"><span> Gallery </span></h2>
                    <p class="subtitle text-center"> Not just virtual, but real! </p>
                    <p class="subtitle text-center"><i class="fa fa-angle-down fa-lg"></i></p>
                </div>
            </div>
        </div>
        <!-- /.Title & Subtitle -->

        <!-- Speakers List -->
        <div class="row">
            <div class="col-md-4 col-sm-6 text-center">
                <!-- Speaker 01 -->
                <div class="speaker-item"> <a href="#">
                    <figure class="speaker accent-bg"> <img src="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9912.jpg" alt="Speaker" class="img-responsive center-block" />
                        <figcaption>
                            <p class="text-uppercase accent"> Aspira </p>
                            <p> JP Nager, Bangalore </p>
                        </figcaption>
                    </figure>
                </a>
                    <p><span class="speaker-accent"> Aspira </span><br/>
                        JP Nager, Bangalore </p>
                </div>
                <!-- /.Speaker 01 -->
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <!-- Speaker 02 -->
                <div class="speaker-item"> <a href="#">
                    <figure class="speaker accent-bg"> <img src="https://res.cloudinary.com/mygubbi/image/upload/v1468403207/completed_projects/4th_project/IMG_9844.jpg" alt="Speaker" class="img-responsive center-block" />
                        <figcaption>
                            <p class="text-uppercase accent">Sobha City</p>
                            <p>Thanisandra, Bangalore</p>
                        </figcaption>
                    </figure>
                </a>
                    <p><span class="speaker-accent">Sobha City</span><br/>
                        Thanisandra, Bangalore </p>
                </div>
                <!-- /.Speaker 02 -->
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <!-- Speaker 03 -->
                <div class="speaker-item"> <a href="#">
                    <figure class="speaker accent-bg"> <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470048812/completed_projects/ramprasad_%20Shobha_Forest_view/Sobha_Forest_View_kitchen3.jpg" alt="Sobha Forest View" class="img-responsive center-block" />
                        <figcaption>
                            <p class="text-uppercase accent">Sobha Forest View</p>
                            <p>Hosahalli, Bangalore</p>
                        </figcaption>
                    </figure>
                </a>
                    <p><span class="speaker-accent">Sobha Forest View</span><br/>
                        Hosahalli, Bangalore</p>
                </div>
                <!-- /.Speaker 03 -->
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <!-- Speaker 04 -->
                <div class="speaker-item"> <a href="#">
                    <figure class="speaker accent-bg"> <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470051377/completed_projects/axis_amairo/03.jpg" alt="Axis Amairo" class="img-responsive center-block" />
                        <figcaption>
                            <p class="text-uppercase accent">Axis Amairo</p>
                            <p> JP Nagar, Bangalore </p>
                        </figcaption>
                    </figure>
                </a>
                    <p><span class="speaker-accent">Axis Amairo</span><br/>
                        JP Nagar, Bangalore</p>
                </div>
                <!-- /.Speaker 04 -->
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <!-- Speaker 05 -->
                <div class="speaker-item"> <a href="#">
                    <figure class="speaker accent-bg"> <img src="https://res.cloudinary.com/mygubbi/image/upload/v1482830829/completed_projects/rohan-primero/SDS_6161.jpg"  alt="Speaker" class="img-responsive center-block" />
                        <figcaption>
                            <p class="text-uppercase accent"> Rohan Primero </p>
                            <p> Mangalore </p>
                        </figcaption>
                    </figure>
                </a>
                    <p><span class="speaker-accent"> Rohan Primero </span><br/>
                        Mangalore </p>
                </div>
                <!-- /.Speaker 05 -->
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <!-- Speaker 06 -->
                <div class="speaker-item"> <a href="#">
                    <figure class="speaker accent-bg"> <img src="https://res.cloudinary.com/mygubbi/image/upload/v1486552012/completed_projects/Sumadhura_Sikharam/11011.jpg" alt="Speaker" class="img-responsive center-block" />
                        <figcaption>
                            <p class="text-uppercase accent">Sumadhura Sikharam</p>
                            <p>Whitefield, Bangalore</p>
                        </figcaption>
                    </figure>
                </a>
                    <p><span class="speaker-accent">Sumadhura Sikharam</span><br/>
                        Whitefield, Bangalore</p>
                </div>
                <!-- /.Speaker 06 -->
            </div>
        </div>
        <!-- /.Speakers List -->
    </div>
    <!-- /.container -->
</section>
<!-- /.Speakers -->

<!-- Highlight -->
<section id="highlight">
    <div class="container">
        <!-- Title & Subtitle -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-white">
                    <h2 class="text-center"><span> Testimonials </span></h2>
                    <p class="subtitle white text-center"> NRI Speak </p>
                    <p class="subtitle text-center"><i class="fa fa-angle-down fa-lg white"></i></p>
                </div>
            </div>
        </div>
        <!-- /.Title & Subtitle -->

        <!-- CTA Boxes -->
        <div class="row">
            <div class="col-md-6">
                <!-- Speakers CTA Box 01 -->
                <div class="dark-box pddn-50">
                    <p class="mrgn-20-btm">
                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1487157318/nri_page/Venkatesh.jpg" width="60" height="60" class="img-responsive img-center img-circle" alt="Mrs. Venkatesh" /></p>
                    <p class="lead-sm"> We are satisfied with the interior works done by MyGubbi - right from the planning stages to the implementation. We will recommend MyGubbi to friends who are looking for future home interior solutions. Special commendation goes to Mr. Sandeep for giving us practical advice and being the one-stop-shop person for the nitty gritty stuff. We wish the team the very best!  </p>
                    <p class="lead-sm text-uppercase"> Mrs. Venkatesh, CEO, Dubai <br/>
                    </p>
                </div>
                <!-- /.Speakers CTA Box 01 -->
            </div>
            <div class="col-md-6">
                <!-- Speakers CTA Box 02 -->
                <div class="dark-box pddn-50">
                    <p class="mrgn-20-btm">
                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1487157318/nri_page/Mohan_Tomas.jpg" width="60" height="60" class="img-responsive img-center img-circle" alt="New York Web Buzz" /></p>
                    <p class="lead-sm"> I am so glad that I chose MyGubbi to do up my home. I was concerned about having to connect with multiple people to coordinate, but with MyGubbi it was very easy! Setting up my home in India from Dubai was extremely easy and hassle-free with this team and I was constantly provided with updates through photographs and calls. </p>
                    <p class="lead-sm text-uppercase"> Mr. Mohan Thomas, Managing Partner Satco, Sharja UAE <br/>
                    </p>
                </div>
                <!-- /.Speakers CTA Box 02 -->
            </div>
        </div>
        <!-- /.CTA Boxes -->
    </div>
    <!-- /.container -->
</section>
<!-- /.Highlight -->

<!-- Section Location -->
<section id="location">
    <div class="container">
        <!-- Title & Subtitle -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="text-center"><span> Contact Us </span></h2>
                    <p class="subtitle text-center">Contact Me With The Best Designs</p>
                    <p class="subtitle text-center"><i class="fa fa-angle-down fa-lg"></i></p>
                </div>
            </div>
        </div>
        <!-- /.Title & Subtitle -->

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
                <form method="post" enctype="multipart/form-data"  action="https://web.mxradon.com/t/FormTracker.aspx"
                      class="contact-form-mg">
                    <div class="form-group">
                        <input type='text' class="width100 form-control"
                               id='FirstName' name='FirstName'
                               placeholder="Name*" maxlength='100'
                               value="" autocomplete='off'
                               required='required'/>
                    </div>
                    <div class="form-group">
                        <input type='text' class="width100 form-control"
                               id='EmailAddress'
                               name='EmailAddress' placeholder="Email*" maxlength='100'
                               value="" autocomplete='off'
                               required='required' pattern=".+@.+\..+"
                               title="<abc>@<xyz>.<com>"/>
                    </div>
                    <div class="form-group">
                        <input type='text' class="width100 form-control" id='Phone' name='Phone' placeholder="Phone Number*" maxlength='20' value="" autocomplete='off' required='required' pattern="\d{10}" title="e.g. 9876543210"/>
                    </div>
                    <div class="text-right form-group mob-text-center">
                        <button class="btn btn-main-ghost" id="form-submit-button" type="submit"> Send </button>
                        <br/>
                        <input type="hidden" name="MXHOrgCode" value="9814" />
                        <input type="hidden" name="MXHLandingPageId" value="c1770300-0d58-11e7-b5f1-22000aa8e760" />
                        <input type="hidden" name="MXHFormBehaviour" value="1" />
                        <input type="hidden" name="MXHFormDataTransfer" value="0" />
                        <input type="hidden" name="MXHRedirectUrl" value="https://mygubbi.com/thankyou-home-page" />
                        <input type="hidden" name="MXHAsc" value="5" />
                        <input type="hidden" name="MXHPageTitle" value="Bangalore mygubbi" />
                        <input type="hidden" name="MXHOutputMessagePosition" value="0" />
                        <input type="hidden" name="MXHIsExternallyUsed" value="1" />
                    </div>
                </form>
                <script type="text/javascript"> var MXLandingPageId = 'c1770300-0d58-11e7-b5f1-22000aa8e760'; </script>
            </div>
        </div>
    </div>
    <address class="address">
        1502, 2nd Floor, 19th Main Road, Sector 4, HSR Layout, Bangalore 560 102, India
    </address>
</section>
<!-- /.Section Location -->

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-9 col-lg-9">
                <p class="copyright">Copyright <i class="fa fa-copyright"></i> 2017 - MyGubbi. </p>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3">
                <!-- Footer Social Profiles List -->
                <ul class="list-inline social-buttons">
                    <li> <a class="fa fa-twitter fa-lg" href="https://www.facebook.com/designify.me"></a> </li>
                    <li> <a class="fa fa-facebook fa-lg" href="https://www.facebook.com/designify.me"></a> </li>
                    <li> <a class="fa fa-linkedin fa-lg" href="https://www.facebook.com/designify.me"></a> </li>
                    <li> <a class="fa fa-google-plus fa-lg" href="https://www.facebook.com/designify.me"></a> </li>
                    <li> <a class="fa fa-pinterest-p fa-lg" href="https://www.facebook.com/designify.me"></a> </li>
                </ul>
                <!-- /.Footer Social Profiles List -->
            </div>
        </div>
    </div>
</footer>
<!-- /.Footer -->

<!-- Bootstrap core JavaScript
*********************** -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="partners/assets/js/bootstrap.min.js"></script>


<!-- Plugins
*********************** -->
<!-- Custom styles -->
<script src="partners/assets/plugins/OwlCarousel/owl.carousel.js"></script>

<script src="partners/assets/js/jquery.easing.min.js"></script>

<!-- Isotope JS -->
<script src="partners/assets/plugins/isotope/isotope.pkgd.min.js"></script>


<script>
	$(document).ready(function() {
		$("#ozon-flat").hide();
		$( "#room-no-1" ).click(function() {
		$("#ozon-flat").show();
		});

        $("#ozon-flat").hide();
		$( "#room-no-2" ).click(function() {
		$("#ozon-flat").show();
		});

        $("#ozon-design").hide();
		$( "#design-no-01" ).click(function() {
		$("#ozon-design").show();
		});

        $("#ozon-design").hide();
		$( "#design-no-02" ).click(function() {
		$("#ozon-design").show();
		});

        $("#ozon-design").hide();
		$( "#design-no-02" ).click(function() {
		$("#ozon-design").show();
		});


	  $('.owl-carousel').owlCarousel({
		loop: true,
		margin: 10,
		responsiveClass: true,
		responsive: {
		  0: {
			items: 1,
			nav: true
		  },
		  600: {
			items: 1,
			nav: false
		  },
		  1000: {
			items: 1,
			nav: true,
			loop: false,
			margin: 20
		  }
		}
	  })
	})
</script>
    <script type="text/javascript">
    $(document).ready(function(){
        /*$(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideDown("400");
                $(this).toggleClass('open');
            },
            function() {
                $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideUp("400");
                $(this).toggleClass('open');
            }
        );*/
    });
</script>