<%= console.log(" ============== designgallerys ==================") %>
<%= console.log(designgallerys) %>

<% if(typeof(designgallerys) !== 'undefined'){ %>
<div class="pddn-20-top pddn-20-btm">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <div class="owl-carousel owl-theme">
            <% _.each(designgallerys, function(dsn){ %>

                <div class="item">
                    <img class="img-responsive" src="<%= dsn.design_img %>" alt="<%= dsn.space_name %>-Contemp">
                    <p class="about-flat text-center"> <%= dsn.space_name %> </p>
                </div>

            <% }); %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 text-center">
            <a href="#location" class="btn btn-ozon-color"> Contact Me With The Best Designs </a>
        </div>
    </div>
</div>
<script src="partners/assets/plugins/OwlCarousel/owl.carousel.js"></script>
<script>
    $(document).ready(function() {
    $('.owl-carousel').owlCarousel({
		loop: true,
		margin: 10,
		responsiveClass: true,
		responsive: {
		  0: {
			items: 1,
			nav: true
		  },
		  600: {
			items: 1,
			nav: false
		  },
		  1000: {
			items: 1,
			nav: true,
			loop: false,
			margin: 20
		  }
		}
	  });
	 });
</script>
<% } %>