<%= console.log(" ============== partners ==================") %>
<%= console.log(developers) %>
<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <div class="speaker-item"> <a href="#">
                <figure class="speaker accent-bg">
                    <img src="<%= developers[0].champion_image %>" width="300" height="300" alt="Speaker" class="img-responsive center-block" />
                    <figcaption>
                        <p class="text-uppercase accent"><%= developers[0].champion_name %></p>
                        <p><%= developers[0].champion_role %></p>
                    </figcaption>
                </figure>
            </a>
                <p><span class="speaker-accent"> <%= developers[0].champion_name %> </span><br/>
                    <%= developers[0].champion_role %> </p>
            </div>
        </div>
        <div class="col-md-9 text-left">
            <p class="ceo-speak pddn-20-top pddn-20-btm"><%= developers[0].champion_message %></p>
        </div>
    </div>
</div>
<!-- /.container -->