<section class="bg-white paddingbottom40">
    <div class="container-fluid position-relative">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
            <!-- Indicators -->
            <ol class="carousel-indicators" style="bottom: 265px;">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner mg-carousel">
                <div class="item active">
                    <img data-src="<%= imgBase + 'w_auto' + '/media_page/onlinet-media-banner-with-tex.jpg'%>"
                         class="cld-responsive img-centered" alt="Online Media">
                </div>
                <div class="item">
                    <img data-src="<%= imgBase + 'w_auto' + '/media_page/press-media-banner.jpg'%>"
                         class="cld-responsive img-centered" alt="Press Media">
                </div>
                <div class="item">
                    <img data-src="<%= imgBase + 'w_auto' + '/media_page/print-media-bannerwith-text.jpg'%>"
                         class="cld-responsive img-centered" alt="Print Media">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid align-center media-tabs-maindiv">
        <div class="row padding20-0" style="padding-bottom:0px;">
            <div class="col-md-4 col-sm-4 online_media-box">
                <h3>Online</h3>
            </div>
            <div class="col-md-4 col-sm-4 press_media-box">
                <h3>Press Release</h3>
            </div>
            <div class="col-md-4 col-sm-4 print_media-box">
                <h3>Print Media</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 online_media-box" style="height:22px;padding-top:0px!important;">
            </div>
        </div>
    </div>
    <div class="container bg-color-white">
        <div class="row padding20-0">
            <div class="col-md-4 col-sm-4 align-center">
                <h1 class="txt-urstory">YOUR<br>STORY</h1>
            </div>
            <div class="col-md-8 col-sm-8">
                <span class="text-muted">01.09.2015</span>
                <p class="txt-urstory">These two guys built a start up, solid it to study & work and founded mygubbi</p>
                <p>
                    <span class="tag-card">Read More</span>
                </p>
            </div>
        </div>
        <div class="row padding20-0">
            <div class="col-md-4 col-sm-4 align-center">
                <h1 class="txt-urstory">YOUR<br>STORY</h1>
            </div>
            <div class="col-md-8 col-sm-8">
                <span class="text-muted">01.09.2015</span>
                <p class="txt-urstory">These two guys built a start up, solid it to study & work and founded mygubbi</p>
                <p>
                    <span class="tag-card">Read More</span>
                </p>
            </div>
        </div>
        <div class="row padding20-0">
            <div class="col-md-4 col-sm-4 align-center">
                <h1 class="txt-urstory">YOUR<br>STORY</h1>
            </div>
            <div class="col-md-8 col-sm-8">
                <span class="text-muted">01.09.2015</span>
                <p class="txt-urstory">These two guys built a start up, solid it to study & work and founded mygubbi</p>
                <p>
                    <span class="tag-card">Read More</span>
                </p>
            </div>
        </div>

    </div>
</section>