<section class="bg-color-white paddingbottom40">

    <section class="media-banner-section">
        <div class="media-banner">
            <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1472538570/media_page/media-banner.jpg" alt="media-banner">
        </div>
    </section>

    <section class="media-banner-section">
        <div class="media-banner">
            <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1472550958/media_page/media-online.jpg" alt="media-banner">
        </div>
    </section>

    <!--<div class="container-fluid position-relative">
            <img data-src="<%= imgBase + 'w_auto' + '/media_page/online-media-banner.jpg'%>"
             class="cld-responsive img-centered" alt="Online Media" id="online-img">
            <img data-src="<%= imgBase + 'w_auto' + '/media_page/press-media-banner.jpg'%>"
             class="cld-responsive img-centered" alt="Press Media" id="press-release-img" style="display:none;">
            <img data-src="<%= imgBase + 'w_auto' + '/media_page/print-media-banner.jpg'%>"
             class="cld-responsive img-centered" alt="Print Media" id="print-media-img" style="display:none;">

        <div class="align-center media-tabs-maindiv">
            <div class="row margin0">
                <div id="online-tab" class="col-md-4 col-sm-4 col-xs-4 online_media-box">
                    <div class="media_icon_div"><img src="<%= imgBase + '/media_page/media_icon_02.png'%>" class="media_icon"></div>
                    <h3 class="media-tabs-title">Online</h3>
                </div>
                <div id="press-release-tab" class="col-md-4 col-sm-4 col-xs-4 press_media-box">
                    <div class="media_icon_div"><img src="<%= imgBase + '/media_page/media_icon_01.png'%>" class="media_icon"></div>
                    <h3 class="media-tabs-title">Press Release</h3>
                </div>
                <div id="print-media-tab" class="col-md-4 col-sm-4 col-xs-4 print_media-box">
                    <div class="media_icon_div"><img src="<%= imgBase + '/media_page/media_icon_03.png'%>" class="media_icon"></div>
                    <h3 class="media-tabs-title">Print Media</h3>
                </div>
            </div>
            <div class="row margin0">
                <div id="tab-bar" class="col-md-12 col-sm-12 col-xs-12 online_media-box" style="height:15px;padding-top:0px!important;">
                </div>
            </div>
        </div>
    </div>-->
    <!--Online Content Start-->
    <div id="online-content" class="container bg-color-white">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="row padding20-0">
                    <div class="col-md-4 col-sm-4 align-center">
                        <div class="m-story-img">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/v1464586860/media_page/ET3.png" class="cld-responsive img-responsive" alt="Economic Times">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <h2 class="txt-urstory media-txt-title">
                            Create your dream home with mygubbi
                        </h2>
                        <p>
                            Mygubbi the online portal which helps browse through modular
                            furnishings and home decor products, also provides free 3-D visual
                            design plan for premise as guided by the requirement of the users
                            for helping them in making final decision over designs.
                        </p>
                        <p class="text-muted text-right">03.08.2016</p>
                        <p>
                            <a  href="http://economictimes.indiatimes.com/small-biz/startups/create-your-dream-home-with-mygubbi/articleshow/53517752.cms" target="_blank" class="btn btn-default btn-media">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="row padding20-0">
                    <div class="col-md-4 col-sm-4 align-center">
                        <div class="m-story-img">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/v1464586860/media_page/ET3.png" class="cld-responsive img-responsive" alt="Economic Times">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <h2 class="txt-urstory media-txt-title">Fresh breed of rich individuals invest in startups</h2>
                        <p>Bengaluru-based interior decor startup MyGubbi raised $2.5 million (Rs 16.5 crore) from as many as 30 individuals in March. Individuals are investing to compensate for the venture funding slowdown.
                        </p>
                        <p class="text-muted text-right">29.04.2016</p>
                        <p>
                            <a href="http://articles.economictimes.indiatimes.com/2016-04-29/news/72704377_1_angel-investors-indian-angel-network-padmaja-ruparel" target="_blank" class="btn btn-default btn-media">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="row padding20-0">
                    <div class="col-md-4 col-sm-4 align-center">
                        <div class="m-story-img">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/v1459150299/media_page/DH.png" class="cld-responsive img-responsive" alt="Deccan Herald">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <h2 class="txt-urstory media-txt-title">Having done up 100 homes, mygubbi now wants to expand</h2>
                        <p>The company received $2.5 million in seed funding about a quarter back, from a set of angel investors. “We think that we’ve reached a good stage and can scale up and increase our business, and want to now expand to Pune,” mygubbi Co-founder and CTO Ravi Rao said.
                        </p>
                        <p class="text-muted text-right"> 25.04.2016 </p>
                        <p>
                            <a href="http://www.deccanherald.com/content/542492/having-done-up-100-homes.html" target="_blank" class="btn btn-default btn-media">Read More</a>
                        </p>
                    </div>
                </div>

                <div class="text-center">
                    <a href="#" class="btn btn-default btn-show-more" id="showmore"> EXPLORE </a>
                </div>

                <div class="more-items" id="more-items">
                    <div class="row padding20-0">
                        <div class="col-md-4 col-sm-4 align-center">
                            <div class="m-story-img">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1461227235/media_page/outlook-business-logo_400.png" class="cld-responsive img-responsive" alt="Outlook Business">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h2 class="txt-urstory media-txt-title">Home is where the style is mygubbi helps you deck up your nest the way you want it</h2>
                            <p>Finding the right home décor has never been easy. In order to set up a fancy home, it requires keen attention to detail, customisation options and design expertise. Keeping all these in mind, Umesh Sangurmath and Ravi Rao started mygubbi, an e-commerce company offering interior and furnishing solutions to buyers. The new venture came on the back</p>
                            <p class="text-muted text-right">4.04.2016</p>
                            <p>
                                <a href="http://www.outlookbusiness.com/enterprise/big-idea/home-is-where-the-style-is-2704" target="_blank" class="btn btn-default btn-media">Read More</a>
                            </p>
                        </div>
                    </div>
                    <div class="row padding20-0">
                        <div class="col-md-4 col-sm-4 align-center">
                            <div class="m-story-img">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1461227235/media_page/outlook-business-logo_400.png" class="cld-responsive img-responsive" alt="Deccan Herald">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h2 class="txt-urstory media-txt-title">Taking interiors online</h2>
                            <p>Shopping for home decor items has now gone virtual. Companies are offering you complete solutions — from customised designs to installation, at the click of a button, discovers Ruth Dsouza Prabhu.</p>
                            <p class="text-muted text-right">11.03.2016</p>
                            <p>
                                <a href="http://www.deccanherald.com/content/533727/taking-interiors-online.html" target="_blank" class="btn btn-default btn-media">Read More</a>
                            </p>
                        </div>
                    </div>
                    <div class="row padding20-0">
                        <div class="col-md-4 col-sm-4 align-center">
                            <div class="m-story-img">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1459245708/media_page/BL.png" class="cld-responsive img-responsive" alt="The Hindu Business Line">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h2 class="txt-urstory media-txt-title">Home décor start-up mygubbi.com raises $2.5m</h2>
                            <p>Bengaluru-based home décor and furnishing start-up mygubbi.com, which went live last October, has raised $2.5 million in seed funding.
                                The finance was raised from 20 angel investors led by Vipul Parekh, co-founder of Big Basket; Ananda Kallugadde, co-founder of NeoBytes; and Rajesh K Murthy, EVP of Infosys.</p>
                            <p class="text-muted text-right">9.03.2016</p>
                            <p>
                                <a href="http://www.thehindubusinessline.com/info-tech/home-dcor-startup-mygubbicom-raises-25-m/article8332187.ece" target="_blank" class="btn btn-default btn-media">Read More</a>
                            </p>
                        </div>
                    </div>
                    <div class="row padding20-0">
                        <div class="col-md-4 col-sm-4 align-center">
                            <div class="m-story-img">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1459245707/media_page/techstory.png" class="cld-responsive img-responsive" alt="Tech Story">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h2 class="txt-urstory media-txt-title">BigBasket Co-Founder And Others Invest In mygubbi</h2>
                            <p>mygubbi, a Bangalore based startup has managed to secure a funding of US $2.5 million from its investors.The funding round was headed by Vipul Parekh, Co-Founder of Big Basket, Ananda Kallugadde, Co-Founder of NeoBytes and Rajesh K Murthy, EVP of Infosys.</p>
                            <p class="text-muted text-right">8.03.2016</p>
                            <p>
                                <a href="http://techstory.in/mygubbi-raises-funding-8032016/" target="_blank" class="btn btn-default btn-media">Read More</a>
                            </p>
                        </div>
                    </div>
                    <div class="row padding20-0">
                        <div class="col-md-4 col-sm-4 align-center">
                            <div class="m-story-img">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1459245709/media_page/Iam-wire.png" class="cld-responsive img-responsive" alt="Iam-wire">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h2 class="txt-urstory media-txt-title">mygubbi Raises $2.5M From Founder of BigBasket, NeoBytes & EVO of Infosys</h2>
                            <p>mygubbi, online home decor and furnishing company, has raised $2.5 million in a seed fund round. The round was led by Co-Founder of Big Basket Vipul Parekh, Co-Founder of NeoBytes Ananda Kallugadde and Rajesh K Murthy, EVO of Infosys.</p>
                            <p class="text-muted text-right">8.03.2016</p>
                            <p>
                                <a href="http://www.iamwire.com/2016/03/fundingwire-bigfoot-raises-8m-vcats-invest-vphrase-analytics-raises-500k/133465" target="_blank" class="btn btn-default btn-media"> Read More </a>
                            </p>
                        </div>
                    </div>
                    <div class="row padding20-0">
                        <div class="col-md-4 col-sm-4 align-center">
                            <div class="m-story-img">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1459150299/media_page/Business-standard.png" class="cld-responsive img-responsive" alt="Business Standard">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h2 class="txt-urstory media-txt-title">mygubbi.com raises $2.5 mn in seed funding</h2>
                            <p>mygubbi.com, a fast growing online home interior decor and furnishing company, today announced that it has raised $2.5 million in seed funding from multiple angel investors led by Vipul Parekh, co-founder of Big Basket, Ananda Kallugadde, co-Founder of NeoBytes and Rajesh K Murthy, EVP of Infosys.</p>
                            <p class="text-muted text-right"> 07.03.2016 </p>
                            <p>
                                <a href="http://www.business-standard.com/article/companies/mygubbi-com-raises-2-5-mn-in-seed-funding-116030700661_1.html" target="_blank" class="btn btn-default btn-media">Read More</a>
                            </p>
                        </div>
                    </div>
                    <div class="row padding20-0">
                        <div class="col-md-4 col-sm-4 align-center">
                            <div class="m-story-img">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1459150300/media_page/yourstory.png" class="cld-responsive img-responsive" alt="Your Story">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h2 class="txt-urstory media-txt-title">These two guys built a startup, sold it to study & work, and founded mygubbi</h2>
                            <p>Every year more than 40,000 to 100,000 apartments are readied for delivery in each of the country’s five major cities. But while real estate may be slowing down as an industry, home </p>
                            <p class="text-muted text-right">04.03.2016</p>
                            <p>
                                <a href="http://yourstory.com/2016/03/mygubbi/" target="_blank" class="btn btn-default btn-media"> Read More </a>
                            </p>
                        </div>
                    </div>

                <div class="text-center">
                    <a href="#" class="btn btn-default btn-show-more" id="showless"> SHOW LESS </a>
                </div>

                </div>
            </div>
        </div>
    </div>
    <!--Online Content End-->

    <section class="media-online-banner-section">
        <div class="m-online-banner-section">
            <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1472550956/media_page/print-media.jpg" alt="media-banner">
        </div>
    </section>

    <div class="container">
        <div id="main_area">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2"></div>

                <div class="col-sm-8" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12" id="carousel-text"></div>
                        <div class="col-sm-12 col-md-12 col-lg-12" id="carousel-bounding-box">
                            <div class="carousel slide media-slide" id="myCarousel">
                                <div class="carousel-inner">
                                    <div class="active item" data-slide-number="0">
                                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1459321491/media_page/The-Hindu-Business-Line-large.jpg" class="cld-responsive img-centered" alt="Print Media">
                                        <p class="text-muted text-left media-date"> Published on 8th March 2016 </p>
                                    </div>

                                    <div class="item" data-slide-number="1">
                                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1459321492/media_page/Deccan-herald-large.jpg" class="cld-responsive img-centered" alt="Print Media">
                                        <p class="text-muted text-left media-date"> Published on 9th March 2016 </p>
                                    </div>

                                    <div class="item" data-slide-number="2">
                                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1459321490/media_page/The-New-Indian-Express-large.jpg" class="cld-responsive img-centered" alt="Print Media">
                                        <p class="text-muted text-left media-date"> Published on 10th March 2016 </p>
                                    </div>

                                    <div class="item" data-slide-number="3">
                                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1461566066/media_page/deccan_herald_media.png" class="cld-responsive img-centered" alt="Print Media">
                                        <p class="text-muted text-left media-date"> Published on 25th April 2016 </p>
                                    </div>
                                </div>
                                <a class="left carousel-control hidden-sm hidden-md hidden-lg" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control hidden-sm hidden-md hidden-lg" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                        <div id="slide-content" style="display: none;">

                            <div id="slide-content-0">
                                <div class="media-heading">
                                    <h2 class="text-center media-head"> The Hindu Business Line </h2>
                                </div>
                            </div>

                            <div id="slide-content-1">
                                <div class="media-heading">
                                    <h2 class="text-center media-head"> Deccan Herald </h2>
                                </div>
                            </div>

                            <div id="slide-content-2">
                                <div class="media-heading">
                                    <h2 class="text-center media-head"> The New Indian Express </h2>
                                </div>
                            </div>

                            <div id="slide-content-3">
                                <div class="media-heading">
                                    <h2 class="text-center media-head"> Deccan Herald </h2>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">
                            <li class="col-sm-3">
                                <div class="m-thumb-box">
                                    <a id="carousel-selector-0">
                                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1459321491/media_page/The-Hindu-Business-Line-large.jpg" class="cld-responsive img-centered img-thumbnail" alt="Print Media">
                                    </a>
                                </div>
                            </li>

                            <li class="col-sm-3">
                                <div class="m-thumb-box">
                                    <a id="carousel-selector-1">
                                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1459321492/media_page/Deccan-herald-large.jpg" class="cld-responsive img-centered img-thumbnail" alt="Print Media">
                                    </a>
                                </div>
                            </li>

                            <li class="col-sm-3">
                                <div class="m-thumb-box">
                                    <a id="carousel-selector-2">
                                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1459321490/media_page/The-New-Indian-Express-large.jpg" class="cld-responsive img-centered img-thumbnail" alt="Print Media">
                                    </a>
                                </div>
                            </li>

                            <li class="col-sm-3">
                                <div class="m-thumb-box">
                                    <a id="carousel-selector-3">
                                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1461566066/media_page/deccan_herald_media.png" class="cld-responsive img-centered img-thumbnail" alt="Print Media">
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-lg-2"></div>
            </div>

        </div>
    </div>

    <section class="media-online-banner-section">
        <div class="m-online-banner-section">
            <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1472550956/media_page/press-release.jpg" alt="media-banner">
        </div>
    </section>

    <!--Press Release Content Start-->
    <div id="press-release-content" class="container bg-color-white">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2"></div>

            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3"></div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="show-img">
                            <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1472560251/media_page/raises.jpg" />
                            <a href="https://res.cloudinary.com/mygubbi/image/upload/media_page/Mygubbi_seed_funding_press_release_final_-incl_quotes_1.pdf" target="_blank" download="Mygubbi_seed_funding_press_release_final" class="btn btn-default btn-media update"> Download </a>
                        </div>
                        <h2 class="txt-urstory media-txt-title">
                            Mygubbi.com Raises $2.5 Million in Seed Funding
                        </h2>
                        <p>
                            mygubbi.com, a fast growing online home interior décor and furnishing company,
                            today announced that it has raised $2.5 million in seed funding from multiple angel investors led by Vipul Parekh, Co-
                            founder, Big Basket; Ananda Kallugadde, Co-Founder NeoBytes and Rajesh K Murthy, EVP of Infosys.
                        </p>
                        <p class="text-muted text-left"> 07.03.2016 </p>
                        <p>
                            <a href="https://res.cloudinary.com/mygubbi/image/upload/media_page/Mygubbi_seed_funding_press_release_final_-incl_quotes_1.pdf" target="_blank" download="Mygubbi_seed_funding_press_release_final" class="color-orange read_full font-size16 hidden-sm hidden-md hidden-lg"> Download </a>
                        </p>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3"></div>
                    <!--<div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="show-img">
                            <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1472560251/media_page/raises.jpg" />
                            <a href="https://res.cloudinary.com/mygubbi/image/upload/media_page/Mygubbi_seed_funding_press_release_final_-incl_quotes_1.pdf" target="_blank" download="Mygubbi_seed_funding_press_release_final" class="btn btn-default btn-media update"> Download </a>
                        </div>
                        <h2 class="txt-urstory media-txt-title">
                            Mygubbi.com Raises $2.5 Million in Seed Funding
                        </h2>
                        <p>
                            mygubbi.com, a fast growing online home interior décor and furnishing company,
                            today announced that it has raised $2.5 million in seed funding from multiple angel investors led by Vipul Parekh, Co-
                            founder, Big Basket; Ananda Kallugadde, Co-Founder NeoBytes and Rajesh K Murthy, EVP of Infosys.
                        </p>
                        <p class="text-muted text-left"> 07.03.2016 </p>
                        <p>
                            <a href="https://res.cloudinary.com/mygubbi/image/upload/media_page/Mygubbi_seed_funding_press_release_final_-incl_quotes_1.pdf" target="_blank" download="Mygubbi_seed_funding_press_release_final" class="color-orange read_full font-size16 hidden-sm hidden-md hidden-lg"> Download </a>
                        </p>
                    </div>-->
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
        </div>
    </div>
    <!--Press Release Content End-->


    <!--Print Media Content Start-->
    <!--<div id="print-media-content" class="container bg-color-white">
        <div class="row margin0 hidden-xs">
            <div class="col-md-6 col-sm-6 padding30 vertline" style="display : table-cell;">
                <div class="printmedia-img-cont">
                    <a data-toggle="modal" data-target="#The-Hindu-Business-Line-Modal">
                        <img data-src="<%= imgBase + '/media_page/The-Hindu-Business-Line-_2.jpg'%>"
                     class="cld-responsive printmedia-img-cont width100" alt="Print Media"></a>
                </div>
                <div>
                    <p class="txt-urstory media-txt-title"> The Hindu Business Line </p>
                    <p class="text-muted">Published on 8th March 2016</p>
                </div>
                <div class="media_separator"></div>
            </div>
            <div class="col-md-6 col-sm-6 padding30" style="display : table-cell;">
                <div class="printmedia-img-cont">
                    <a data-toggle="modal" data-target="#Deccan-herald-Modal">
                        <img data-src="<%= imgBase + '/media_page/Deccan-herald.jpg'%>" class="cld-responsive img-center" alt="Print Media">
                    </a>
                </div>
                <div>
                    <p class="txt-urstory media-txt-title"> Deccan Herald </p>
                    <span class="text-muted">Published on 9th March 2016</span>
                </div>
                <div class="media_separator"></div>
            </div>
        </div>
        <div class="row padding0 hidden-xs">
            <div class="col-md-6 col-sm-6 padding30 secondvertline"  style="display : table-cell;">
                <div>
                    <a data-toggle="modal" data-target="#The_New_Indian_Express-Modal">
                        <img data-src="<%= imgBase + '/media_page/The_New_Indian_Express_2.jpg'%>" class="cld-responsive width100" alt="Print Media">
                    </a>
                </div>
                <div>
                    <p class="txt-urstory media-txt-title"> The New Indian Express </p>
                    <span class="text-muted">Published on 10th March 2016</span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 padding30"  style="display : table-cell;">
                <div>
                    <a data-toggle="modal" data-target="#Deccan-herald-Modal1">
                        <img data-src="<%= imgBase + '/media_page/deccan_herald_media.png'%>" class="cld-responsive printmedia-img-cont" alt="Print Media">
                    </a>
                </div>
                <div>
                    <p class="txt-urstory media-txt-title"> Deccan Herald </p>
                    <span class="text-muted">Published on 25th April 2016</span>
                </div>
            </div>
        </div>
        <div class="row padding0 hidden-lg hidden-md hidden-sm">
            <div class="col-xs-12 padding30">
                <div class="printmedia-img-cont">
                    <img data-src="<%= imgBase + '/media_page/The-Hindu-Business-Line-_2.jpg'%>"
                         class="cld-responsive printmedia-img-cont width100" alt="Print Media">
                </div>
                <div>
                    <p class="txt-urstory media-txt-title"> The Hindu Business Line </p>
                    <span class="text-muted">Published on 8th March 2016</span>
                </div>
                <div class="media_separator"></div>
            </div>
            <div class="col-xs-12 padding30">
                <div class="printmedia-img-cont">
                    <img data-src="<%= imgBase + '/media_page/Deccan-herald.jpg'%>"
                         class="cld-responsive printmedia-img-cont" alt="Print Media">
                </div>
                <div>
                    <p class="txt-urstory media-txt-title"> Deccan Herald </p>
                    <span class="text-muted">Published on 9th March 2016</span>
                </div>
                <div class="media_separator"></div>
            </div>
            <div class="col-xs-12 padding30">
                <div class="printmedia-img-cont">
                    <img data-src="<%= imgBase + '/media_page/The_New_Indian_Express_2.jpg'%>"
                         class="cld-responsive width100" alt="Print Media">
                </div>
                <div>
                    <p class="txt-urstory media-txt-title"> The New Indian Express </p>
                    <span class="text-muted">Published on 10th March 2016</span>
                </div>
                <div class="media_separator"></div>
            </div>
            <div class="col-xs-12 padding30">
                <div class="printmedia-img-cont">
                    <img data-src="<%= imgBase + '/media_page/deccan_herald_media.png'%>"
                         class="cld-responsive width100" alt="Print Media">
                </div>
                <div>
                    <p class="txt-urstory media-txt-title"> Deccan Herald </p>
                    <span class="text-muted">Published on 25th April 2016</span>
                </div>
            </div>
        </div>
    </div>-->
    <!--Print Media Content End-->
    <!-- Modal content-->
    <div class="modal fade" id="The-Hindu-Business-Line-Modal" role="dialog">
        <div class="modal-dialog media-modal-content">
            <div class="modal-content">
                <div class="modal-body padding10">
                    <img data-src="<%= imgBase + '/media_page/The-Hindu-Business-Line-large.jpg'%>"
                         class="cld-responsive width100" alt="Print Media">
                </div>
                <div data-element="The-Hindu-Business-Line-Modal" class="close-media-pop close-icon media-modal-close signup-form">
                    <img src="<%= imgBase + 'close-black.png'%>">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Deccan-herald-Modal" role="dialog">
        <div class="modal-dialog media-modal-content">
            <div class="modal-content">
                <div class="modal-body padding10">
                    <img data-src="<%= imgBase + '/media_page/Deccan-herald-large.jpg'%>"
                         class="cld-responsive width100" alt="Print Media">
                </div>
                <div data-element="Deccan-herald-Modal" class="close-media-pop close-icon media-modal-close signup-form">
                    <img src="<%= imgBase + 'close-black.png'%>">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="The_New_Indian_Express-Modal" role="dialog">
        <div class="modal-dialog media-modal-content">
            <div class="modal-content">
                <div class="modal-body padding10">
                    <img data-src="<%= imgBase + '/media_page/The-New-Indian-Express-large.jpg'%>"
                         class="cld-responsive width100" alt="Print Media">
                </div>
                <div data-element="The_New_Indian_Express-Modal" class="close-media-pop close-icon media-modal-close signup-form">
                    <img src="<%= imgBase + 'close-black.png'%>">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Deccan-herald-Modal1" role="dialog">
        <div class="modal-dialog media-modal-content">
            <div class="modal-content">
                <div class="modal-body padding10">
                    <img data-src="<%= imgBase + '/media_page/deccan_herald_media.png'%>"
                         class="cld-responsive width100" alt="Print Media">
                </div>
                <div data-element="Deccan-herald-Modal1" class="close-media-pop close-icon media-modal-close signup-form">
                    <img src="<%= imgBase + 'close-black.png'%>">
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    jQuery(document).ready(function($) {
        $('#myCarousel').carousel({
            pause: true,
            interval: false
        });
        $('#carousel-text').html($('#slide-content-0').html());

        //Handles the carousel thumbnails
       $('[id^=carousel-selector-]').click( function(){
            var id = this.id.substr(this.id.lastIndexOf("-") + 1);
            var id = parseInt(id);
            $('#myCarousel').carousel(id);
        });

        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid.bs.carousel', function (e) {
                 var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
    });
</script>

<style>

/* Start Media Landing Page */

.media-banner img{
    width: 100%;
}

.m-story-img{
    background: #fDfDfd;
    border: 1px solid #ddd;
}

.m-thumb-box{
    height: 110px;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.m-thumb-box .img-thumbnail{
    border: 0px solid #ddd;
    pointer: cursor;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

#myCarousel .carousel-control.left{
    color: #333;
    background: transparent;
}

#myCarousel .carousel-control.right{
    color: #333;
    background: transparent;
}

.show-img {
    position: relative;
    float:left;
    margin: 20px 0px;
}

.show-img:hover img{
    opacity:0.8;
}

.show-img:hover a {
    display: block;
}

.show-img a {
    position:absolute;
    display:none;
}

.show-img a.update {
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.media-txt-title{
    font-size: 24px;
    text-transform: inherit;
}

.media-date{
    padding: 5px 0px;
    color: #999999;
    font-style: italic;
}

.media-slide img{
    width: 100%;
}

.media-heading{
    display: inline-block;
    text-align: center;
    margin: 0px auto;
    width: 100%;
}

.media-head{
    color: #546670;
    border-bottom: 1px dotted #546670;
    padding: 5px 0px;
    display: inline-block;
}

#more-items {
    display: none;
}

.btn-show-more{
    background: #546670;
    border-color: #546670;
    color: #ffffff;
    border-radius: 0px;
    margin: 35px 0px;
    font-weight: 100;
    padding: 8px 17px;
    font-size: 20px;
}

.btn-show-more:hover,
.btn-show-more:active,
.btn-show-more:focus{
    background: #546670;
    border-color: #546670;
    color: #ffffff;
}

.txt-urstory {
    color: rgba(241,90,34,1);
}
.btn-media {
    color: #fff;
    background: rgba(241,90,34,1);
    border-color: rgba(241,90,34,1);
    border-radius: 0px;
    text-shadow: 0px 0px 0px #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
}
.btn-media:hover,
.btn-media:active,
.btn-media:focus{
    color: #ffffff;
    background: rgba(241,90,34,0.9);
    border-color: rgba(241,90,34,0.9);
}

/* End Media landing Page */

</style>

<script>
    $('#showmore').on('click', function(){
		$('#more-items').show();
		$(this).hide();
		return false
	});
	$('#showless').on('click', function(){
		$('#more-items').hide();
		$('#showmore').show();
		$(this).show();
		return false
	});
</script>