<section class="menu-spacer bg-light-gray">

    <div class="container-fluid category-banner">
        <img width="100%" src="/img/wishlist.png" class="img-responsive" alt="Shortlist Page Banner">
    </div>
    <% var slcount = shortlistedItems ? Object.keys(shortlistedItems).length : 0; %>
<!--
    <div class="container-fluid bg-color-white">
        <div class="container">
            <div class="row">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="javascript:void(0);" class="active">Shortlist</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
-->
    <div class="container-fluid bg-color-white">
        <div class="container">
            <div class="row padding20-0">
                <div class="col-xs-12">
                    <div class="design-count margin0">You have <%=slcount%> Shortlisted Item<%=slcount===1?'':'s'%>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="container margin-top40">
            <div class="row grid-view">
            <% if(shortlistedItems){ %>
            <% _.each(shortlistedItems, function(product){ %>
            <div class="portfolio">
                <div class="col-md-6 col-sm-6 portfolio-item">
                    <div class="portfolio-box overflow-hidden">
                        <div class="row margin0 position-relative">
                            <a href="/product/<%= product.productId %>" class="portfolio-link">
                                <img class="img-responsive" src="<%= imgBase + 'c_fill/' + product.images[0] %>"
                                        title="<%= product.name %>" alt="<%= product.name %>"/>
                            </a>
                            <div class="col-md-2 col-sm-3 col-xs-3 list-button-strip">
                                <div class="listli">
                                    <a href="/product/<%= product.productId %>">
                                        <span class="glyph fa fa-info"></span>
                                        <!--<span class="list-txt">know more</span>-->
                                    </a>
                                </div>
                                <div class="listli">
                                    <a class="shortlistable" data-element="<%=product.productId%>" href="#">
                                        <span class="list-heart fa fa-heart"></span>
                                        <span class="list-txt">shortlist</span>
                                    </a>
                                </div>
                                <div class="listli">
                                    <a href="javascript:void(0);" >
                                        <span id="shortshare-grid-ico<%=product.productId%>" class="glyph fa fa-share shortgridshare"></span>
                                        <div id="shortgrid-share-txt<%=product.productId%>" class="list-txt share-ico-txt">
                                            <% var share_url = restBase + '/product/'+ product.productId %>
                                            <span><a href="javascript:void(0);" onclick="window.open('http://www.facebook.com/sharer/sharer.php?u=<%=share_url%>&t=<%=product.name%>', '', 'width=585,height=368')" class="share-popup11"><i class="fa fa-facebook-square"></i></a></span>
                                            <span><a href="javascript:void(0);" onclick="window.open('http://www.twitter.com/intent/tweet?url=<%=share_url%>&text=<%= product.name %>', '', 'width=585,height=368')" class="share-popup11"><i class="fa fa-twitter-square"></i></a></span>
                                            <span><a href="javascript:void(0);" onclick="window.open('http://plus.google.com/share?url=<%=share_url%>', '', 'width=585,height=368')" class="share-popup11"><i class="fa fa-google-plus-square"></i></a></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio-caption margin0">
                            <div class="row">
                                <h4 class="col-xs-7 align-left padding0"><%= product.name %></h4>
                                <div class="col-xs-5 align-right margin-top5"><a href="javascript:void(0);" id="shortlist_consult<%= product.productId %>" class="shortlist_consult consult padding-left10 padding-right10">C<span class="pe-7s-help1 pe-fw consult-inline-icon"></span>NSULT</a></div>
                                <h3 class="col-xs-12 align-left padding10-0-0">
                                    <% if (product.defaultPrice !== 0) { %>
                                    <i class="fa fa-inr"></i>
                                    <%= product.defaultPrice %>/-
                                    <% } else { %>
                                    Consult for Price
                                    <% } %>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Consult Modal -->
            <div id="consultpop<%= product.productId %>" class="modal fade consultpop" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="contact-form">
                        <div class="row">
                            <h2 class="align-center">
                                <span class="pe-7s-note"></span>
                                Consult
                            </h2>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="paddingtop30">
                                    <div class="row margin_auto">
                                        <div class="col-xs-6">
                                            <span class="nowrap"><span class="glyphicon glyphicon-earphone"></span> +91 80 88 86 0860</span>
                                        </div>
                                        <div class="col-xs-6 align-right">
                                            <span class="nowrap"><span class="glyphicon glyphicon-envelope"></span> reach@mygubbi.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row display-none" id="consult_error_row<%= product.productId %>">
                                    <p class="margin0 error-text align-center" id="consult_error<%= product.productId %>"></p>
                                </div>

                                <form id="consultForm<%= product.productId %>" data-toggle="validator" role="form" class="consultForm width90 margin_auto paddingtop30">
                                    <div class="row">
                                        <div class="margin-bottom20 form-group">
                                            <input type="hidden" class="width100 form-control" placeholder="Product Name*" value="<%= product.name %>"
                                                   id="consult_product_name<%= product.productId %>" required/>
                                            <input type="text" class="width100 form-control" placeholder="Name*" value="<%=userProfile ? userProfile.displayName : ''%>"
                                                   id="consult_full_name<%= product.productId %>" required/>
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="margin-bottom20 form-group">
                                            <input type="email" class="width100 form-control" placeholder="Email*" value="<%=userProfile ? userProfile.email : ''%>"
                                                   id="consult_email_id<%= product.productId %>" required pattern=".+@.+\..+" title="<abc>@<xyz>.<com>"/>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="margin-bottom20 form-group has-feedback">
                                            <input type="text" class="width100 form-control" placeholder="Phone Number*" value="<%=userProfile ? userProfile.phone : ''%>"
                                                   id="consult_contact_num<%= product.productId %>" required pattern="\d{10}" title="e.g. 9876543210"/>

                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="margin-bottom20 form-group">
                                <textarea class="width100 form-control" id="consult_requirement<%= product.productId %>"
                                          placeholder="Describe your Requirements / Queries">I'm interested in "<%= product.name %>" . Looking forward to hear from you.</textarea>
                                            </div>
                                        </div>
                                        <div class="margin-bottom20 form-group">
                                            <input type="text" class="width100 form-control" placeholder="Property Name"
                                                   id="consult_property_name<%= product.productId %>"/>
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="margin-bottom20 form-group">
                                            <label for="consult_floorplan<%= product.productId %>">Upload Floorplan</label>
                                            <input type="file" class="width100 form-control" placeholder="Floorplan" name="floorPlan" value=""
                                                   id="consult_floorplan<%= product.productId %>" accept=".pdf,.jpg,.jpeg,.png"/>
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="align-center form-group">
                                            <button
                                                    id="consult-submit-btn<%= product.productId %>"
                                                    class="button margin-top20 margin-bottom20"
                                                    type="submit"
                                                    data-loading-text="<i class='fa fa-spinner fa-spin'></i> submit">
                                                submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div id="consult-success-msg-padding<%= product.productId %>" class="display-none margintop25"></div>
                                <div id="consult-success-msg<%= product.productId %>" class="display-none">
                                    <p class="justify">Thank you for contacting mygubbi. Our team will get back to you as soon as possible.</p>
                                    <p class="margintop40">Want to keep Exploring? Click <a id="consult-form-explore<%= product.productId %>" data-element="#consultpop<%= product.productId %>" class="consult-form-explore" href="/products/kitchen/L Shaped Kitchen" style="color:#f1591f;">here</a></p>
                                </div>

                            </div>
                        </div>
                        <div id="close-consult-pop<%= product.productId %>" data-element="#consultpop<%= product.productId %>" class="close-consult-pop close-icon signup-form">
                            <img src="/img/close-white.png" alt="Close" title="Close">
                        </div>
                    </div>

                </div>
            </div>
            <!-- consult Modal End -->
            <% }); %>
            <% } %>
            </div>
        </div>
    </div>
</section>

