<% var selOPTID = ''; %>
<% if(typeof(userHomePreferencesDtls) !== 'undefined' && userHomePreferencesDtls.length > 0){ %>
<% _.each(userHomePreferencesDtls[0].userQues, function(userQuesdtl, j){ %>
<div class="col-md-12">
    <h2><%= userQuesdtl.questionnaire.questionDetails.name %></h2>

    <% _.each(userQuesdtl.questionnaire.options, function(userOptsdtl, j){ %>
    <div class="form-group <% if(userQuesdtl.questionnaire.questionDetails.name == 'Room'){ %> col-xs-2 <% }else{ %> col-xs-3 <% } %>">
        <figure>
            <% if(typeof(userQuesdtl.userSelectedOption) !== 'undefined' && userQuesdtl.userSelectedOption != ""){ %>
            <% var selOPTID = userQuesdtl.userSelectedOption[0].optionId %>
            <% } %>
            <% var idd = userOptsdtl.quesOptionid; %>
            <% if(typeof(userOptsdtl.imageURL) !== 'undefined' && userOptsdtl.imageURL != ""){ %>
            <img src="<%= userOptsdtl.imageURL %>" alt="<%= userOptsdtl.name %>"  id="<%= idd %>" class="wrap img-circle userques <%= userQuesdtl.questionnaire.questionDetails.name %>" data-element="<%= userQuesdtl.questionnaire.questionDetails.quesId %>" data-element1="<%= userOptsdtl.quesOptionid %>" data-element2="<%= userQuesdtl.questionnaire.questionDetails.name %>" width="100px" height="100px" <% if(selOPTID == userOptsdtl.quesOptionid){ %> style="color: rgb(255, 255, 255); background-color: rgb(99, 78, 66);" <% } %> >
            <figcaption><%= userOptsdtl.name %></figcaption>
            <% }else{ %>
            <% if((userQuesdtl.questionnaire.questionDetails.name == "Interiors Budget") || (userQuesdtl.questionnaire.questionDetails.name == "Size")){ %>
            <div class="form-group">
                <button type="button" id="<%= idd %>" class="btn btn-light button4 btn-labeltxt userques <%= userQuesdtl.questionnaire.questionDetails.name %>" data-element="<%= userQuesdtl.questionnaire.questionDetails.quesId %>" data-element1="<%= userOptsdtl.quesOptionid %>" data-element2="<%= userQuesdtl.questionnaire.questionDetails.name %>" <% if(selOPTID == userOptsdtl.quesOptionid){ %> style="width: 90px;color: rgb(255, 255, 255);background-color: rgb(99, 78, 66);" <% }else{%> style="width: 90px;" <% } %> ><%= userOptsdtl.name %></button>
            </div>
            <% }else{ %>
            <div class="form-group">
                <button type="button" id="<%= idd %>" class="btn btn-light btn-circle btn-labeltxt  userques <%= userQuesdtl.questionnaire.questionDetails.name %>" data-element="<%= userQuesdtl.questionnaire.questionDetails.quesId %>" data-element1="<%= userOptsdtl.quesOptionid %>" data-element2="<%= userQuesdtl.questionnaire.questionDetails.name %>" <% if(selOPTID == userOptsdtl.quesOptionid){ %> style="color: rgb(255, 255, 255); background-color: rgb(99, 78, 66);" <% } %> ><%= userOptsdtl.name %></button>
            </div>
            <% } %>
            <% } %>
        </figure>
    </div>
    <% }); %>

</div>
<% }); %>
<div class="saveHome">
    <input type="submit" id="save_homeId" class="btn addcboard-btn" value="Save">
    <a href="/projects">SKIP</a>
</div>
<% } %>
