<link rel="stylesheet" href="/css/cep.css">
<section class="bg-light-gray user_page padding100-0">
    <div class="container-fluid user_profile">

    <div class="row bg-white portfolio-box padding-top15 padding-bottom15">

        <!--<div class="col-md-12 align-center tab-border menu-margin">
            <span class="tab-heading">My Nest</span>
            <span class="tab-heading tab-heading-active">Profile </span>
            <span class="tab-heading">Update Center</span>
        </div>-->

        <div class="col-md-12">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="active" role="presentation">
                    <a role="tab" data-toggle="tab" href="#mynest">  My Nest </a>
                </li>
                <li role="presentation">
                    <a role="tab" data-toggle="tab" href="#profile">  Profile </a>
                </li>
                <li role="presentation">
                    <a role="tab" data-toggle="tab" href="#center">  Messages (Update Center) </a>
                </li>
            </ul>
        </div>
        <div class="col-md-12 tab-content">
            <div role="tabpanel" class="tab-pane active" id="mynest">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p>
                            11111111111111111111111
                        </p>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p>
                            2222222222222222
                        </p>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="center">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p>
                            33333333333333333333333
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>