<link rel="stylesheet" href="/css/cep.css">
<section class="bg-light-gray user_page padding50-0">
    <div class="container user_profile111">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="bg-white portfolio-box padding-top15 padding-bottom15">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
<!--
                            <img id="user_profile_image" class="main_profile_img img-responsive img-centered" src="<%= imgBase + 'w_210,h_210,c_thumb,g_face,r_max/v1476252192/cep/Scarlett_Johansson_Césars_2014.jpg' %>">
-->
                            <img id="user_profile_image" class="main_profile_img img-responsive img-centered width80" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/user.png">
                        </div>
                    </div>
                    <h5 class="userName"><%= userProfile ? userProfile.displayName : 'User' %></h5>
                    <h6 class="userCity"><%= userProfile ? userProfile.city : ''%></h6>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 ">
                <div class="row bg-white portfolio-box padding-top15 padding-bottom15 menu-tab-list">
                    <ul class="nav nav-tabs myaccount_list" data-tabs="tabs" role="tablist">
                        <li class="myaccount-lnk active">
                            <a href="#profile" id="profile-lnk"  role="tab" data-toggle="tab">
                                <img class="myaccount-lnk-img" id="profile-lnk-img" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/w_auto/v1474615902/cep/cep_ioc_home.png" class="cld-responsive img-centered">
                                <img class="myaccount-lnk-img_def" id="profile-lnk-img_def" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/w_auto/v1474615902/cep/cep_ioc_home_def.png" class="cld-responsive img-centered">
                                <div class="myaccount-lnk-content" id="profile-lnk-content" style="color:#f15a23;">My Profile</div>
                            </a>
                        </li>
                        <% if(typeof(myNest) !==  'undefined' && myNest !== null){ %>
                        <li class="myaccount-lnk">
                            <a href="#mynest" id="mynest-lnk" role="tab" data-toggle="tab">
                                <img class="myaccount-lnk-img" id="mynest-lnk-img" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/w_auto/v1474615902/cep/cep_ioc_nest.png" class="cld-responsive img-centered">
                                <img class="myaccount-lnk-img_def" id="mynest-lnk-img_def" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/w_auto/v1474615902/cep/cep_ioc_nest_def.png" class="cld-responsive img-centered">
                                <div class="myaccount-lnk-content" id="mynest-lnk-content">My Nest</div>
                            </a>
                        </li>
                        <li class="myaccount-lnk">
                            <a href="#message" id="message-lnk" role="tab" data-toggle="tab">
                                <img class="myaccount-lnk-img" id="message-lnk-img" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/w_auto/v1474615902/cep/cep_ioc_message.png" class="cld-responsive img-centered">
                                <img class="myaccount-lnk-img_def" id="message-lnk-img_def" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/w_auto/v1474615902/cep/cep_ioc_message_def.png" class="cld-responsive img-centered">
                                <div class="myaccount-lnk-content" id="message-lnk-content">Message</div>
                            </a>
                        </li>
                        <% } %>
                        <li class="myaccount-lnk">
                            <a href="#settings" id="settings-lnk" role="tab" data-toggle="tab">
                                <img class="myaccount-lnk-img" id="settings-lnk-img" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/w_auto/v1474615902/cep/cep_ioc_cog.png" class="cld-responsive img-centered">
                                <img class="myaccount-lnk-img_def" id="settings-lnk-img_def" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/w_auto/v1474615902/cep/cep_ioc_cog_def.png" class="cld-responsive img-centered">
                                <div class="myaccount-lnk-content" id="settings-lnk-content">Settings</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                <div role="tabpanel" class="tab-pane row margin-top50 active" id="profile"></div>
                <div role="tabpanel" class="tab-pane row margin-top50" id="mynest"></div>
                <div role="tabpanel" class="tab-pane row margin-top50" id="message"></div>
                <div role="tabpanel" class="tab-pane row margin-top50" id="settings"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>


</script>