<section>
    <div class="col-md-12 col-sm-12 bg-property portfolio-box padding-bottom15">
        <h3 class="text-transform-none txt-color-orange">Chat Room</h3>
        <div class="row"><div class="col-md-12"><hr/></div></div>
        <div class="row" style="overflow-y:scroll;height:250px;padding:0px 10px;">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2 align-center">
                        <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/w_80,h_80,c_thumb,g_face,r_max/v1476252192/cep/Scarlett_Johansson_C%C3%A9sars_2014.jpg" alt="customer"/>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="float-left align-left txt-color-orange font-size18"><%= userProfile ? userProfile.displayName : 'User' %></div>
                            <div class="float-right align-right chart_time_right">10min ago</div>
                            <div class="clear"></div>
                        </div>
                        <div class="row">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                </div>
                <div class="row padding-top10">
            <div class="col-md-2 align-center pull-right">
                <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1476441183/cep/m-caht.png" alt="customer"/>
            </div>
            <div class="col-md-10 align-right">
                <div class="row">
                    <div class="float-left align-left chart_time_left">7min ago</div>
                    <div class="float-right align-right txt-color-orange font-size18">Mygubbi</div>
                    <div class="clear"></div>
                </div>
                <div class="row">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
            </div>
        </div>
        <div class="row padding-top10">
            <div class="col-md-2 pull-right">
                <button class="button button-orange border1px">Send</button>
            </div>
            <div class="col-md-10">
                <textarea rows="3" cols="90" style="width:100%" placeholder="Enter your message*" required></textarea>
            </div>
        </div>
    </div>
</section>