<%= console.log("----My nest details------") %>
<%= console.log(myNest) %>
<!-- Property Details Start -->
<% if(typeof(myNest.projectDetails) != 'undefined'){ %>
<section>
    <div class="col-md-12 col-sm-12 bg-property portfolio-box padding-top15 padding-bottom15">
    <div class="col-md-6">
        <div class="row col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-6 profile-label">
                <label>Property Name :</label>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <p class="view_mode" style="font-size:13px;font-weight:bold;"><%= myNest ? myNest.projectDetails.propertyName : '' %></p>
                <p class="edit_mode form-group">
                    <input
                            type="text"
                            id="display_property_name"
                            class="form-control"
                            maxlength="50"
                            name="displayName"
                            value="<%= myNest ? myNest.projectDetails.propertyName : '' %>"
                            placeholder="Your Name" required />
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </p>
            </div>

        </div>
        <div class="row col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-6 profile-label">
                <label>Property Type :</label>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <p class="view_mode" style="font-size:13px;font-weight:bold;"><%= myNest ? myNest.projectDetails.propertyType : '' %></p>
                <p class="edit_mode form-group property_display_type">
                    <input
                            type="text"
                            id="display_property_type"
                            class="form-control"
                            maxlength="50"
                            name="displayType"
                            value="<%= myNest ? myNest.projectDetails.propertyName : '' %>"
                            placeholder="Your Name" required />
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </p>
            </div>

        </div>
        <div class="row col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-6 profile-label">
                <label>Tower/Block no :</label>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <p class="view_mode" style="font-size:13px;font-weight:bold;"><%= myNest ? myNest.projectDetails.blockNumber : '' %></p>
                <p class="edit_mode form-group">
                    <input
                            type="text"
                            id="display_property_block"
                            class="form-control"
                            maxlength="50"
                            name="displayBlock"
                            value="<%= myNest ? myNest.projectDetails.blockNumber : '' %>"
                            placeholder="Your Name" required />
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </p>
            </div>

        </div>


    </div>
    <div class="col-md-6">
        <div class="row col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-6 profile-label">
                <label>Builders Name :</label>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <p class="view_mode" style="font-size:13px;font-weight:bold;"><%= myNest ? myNest.projectDetails.builderName : '' %></p>
                <p class="edit_mode form-group">
                    <input
                            type="text"
                            id="display_property_builder_name"
                            class="form-control"
                            maxlength="50"
                            name="buiderName"
                            value="<%= myNest ? myNest.projectDetails.builderName : '' %>"
                            placeholder="Your Name" required />
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </p>
            </div>

        </div>
        <div class="row col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-6 profile-label">
                <label>Flat No :</label>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <p class="view_mode" style="font-size:13px;font-weight:bold;"><%= myNest ? myNest.projectDetails.flatNumber : '' %></p>
                <p class="edit_mode form-group">
                    <input
                            type="text"
                            id="display_property_flat_number"
                            class="form-control"
                            maxlength="50"
                            name="flatNumber"
                            value="<%= myNest ? myNest.projectDetails.flatNumber : '' %>"
                            placeholder="Your Name" required />
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </p>
            </div>

        </div>
    </div>
    <div class="col-md-1">
        <span class="glyphicon glyphicon-pencil edit_icon" data-toggle="tooltip" data-placement="left" title="" data-original-title="Edit Details" style="display: none;">
        </span>
    </div>
</div>
</section>
<!-- Property Details End -->
<% } %>

<!-- Project Status Start -->
<% if(typeof(projectStatusArr) != 'undefined'){ %>
<section>
    <div class="col-md-12 col-sm-12 bg-white portfolio-box padding0 project-sts margin-top40">
        <div class="row bs-wizard margin0 padding0" style="border-bottom:0;width: 790px;">
            <% var defaultArr = new Array(); %>
            <% defaultArr = ["initiated","proposal approved","order placed","production started","installation","handed over"]; %>
            <% _.each(defaultArr, function(value) { %>
            <div class="col-xs-2 bs-wizard-step
                <% _.each(projectStatusArr, function(comment){ %>
                    <%= console.log(comment) %>
                   <% if(value === comment){ %>
                        complete
                   <% }else{ %>
                    disable
                   <% } %>
                <% }); %>


                ">

                <div class="text-center bs-wizard-stepnum">
                    <%= value %>
                </div>

                <div class="progress bs-margin65"><div class="progress-bar"></div></div>

                <a href="#" class="
                <% _.each(projectStatusArr, function(comment){ %>
                    <%= console.log(comment) %>
                   <% if(value === comment){ %>
                        bs-wizard-dot
                   <% }else{ %>
                   bs-wizard-dot-none
                   <% } %>
                <% }); %>
                ">

                </a>

                <div class="bs-wizard-info text-center"></div>

            </div>

            <% }); %>
        </div>
    </div>
</section>
<% } %>
<!-- Project Status End -->
<!-- My Nest Menu Start -->
<section>
    <div class="col-md-12 col-sm-12 padding0 margin-top40">
        <div class="row margin0 padding0">
            <div class="col-md-3 col-sm-3 col-xs-6 mynest-tab-listbox margin-left-0">
                <a href="#proposal" role="tab" data-toggle="tab">
                    <div class="mynest-inside-box">
                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1474615907/cep/nest_praposal.png" alt="proposals">
                    </div>
                    <p>My Proposals</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 mynest-tab-listbox">
                <a href="#orderDetails" role="tab" data-toggle="tab">
                <div class="mynest-inside-box">
                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1474615907/cep/nest_order.png" alt="order">
                </div>
                <p>Order Details</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 mynest-tab-listbox">
                <a href="#card" role="tab" data-toggle="tab">
                    <div class="mynest-inside-box">
                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1474615907/cep/nest_card.png" alt="cards">
                    </div>
                    <p>Payment Details</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 mynest-tab-listbox margin-right0">
                <a href="#doc" role="tab" data-toggle="tab">
                    <div class="mynest-inside-box">
                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1474615907/cep/nest_doc.png" alt="document">
                    </div>
                    <p>Document Details</p>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- My Nest Menu End -->

<% if(typeof(myNest.documentDetails) != 'undefined'){ %>

<section>
    <div class="col-md-12 col-sm-12 bg-white portfolio-box margin-top40">
        <div class="tab-content">
            <% if(typeof(myNest.documentDetails[1]) != 'undefined'){ %>
            <div role="tabpanel" class="tab-pane padding10 active" id="proposal">


                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div id="approve_successMsg" class="alert alert-info display-none">
                            Thank you for approving proposal. Our team will get back to you
                            as soon as possible.
                        </div>
                        <div id="reqCallbk_successMsg" class="alert alert-info display-none">
                            Thank you for your respone. Our team will get back to you
                            as soon as possible.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <i class="icon ion-information-circled color-red"></i><h3 class="text-transform-none txt-color-orange"> Approval required for <% if(typeof(myNest) !== 'undefined'){ %>
                            <%= myNest.documentDetails[1].documentName %>
                        <% } %></h3></div>
                    <div class="col-md-12">
                        <h4 class="text-transform-none">Initial Proposal <% if((typeof(myNest) !== 'undefined') && (typeof(myNest.documentDetails[1].uploadDate) !== 'undefined')){ %>
                            ( <%= myNest.documentDetails[1].uploadDate %> )
                            <% } %></h4>
                        <hr />
                        <div class="col-md-8 padding0">
                            <p class="align-left">Note that this is an initial proposal without actual site measurements and is liable to change. Approval would be taken again once site measurement is done and design is complete. </p>
                        </div>

                        <div class="col-md-4" style="padding-left: 0px;">
                            <div class="col-md-12">
                                <a href="<%= myNest.documentDetails[1].docUrl %>" target="_blank" title="View">
                                    <div class="row">
                                        <div class="col-md-12 align-center"><i class="fa fa-file-pdf-o" style="font-size: 36px!important;" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 align-center"><span class="text-small-proposals">
                                            <% if(typeof(myNest) !== 'undefined'){ %>
                                            <%= myNest.documentDetails[1].documentName %>
                                            <% } %>
                                        </span></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"><div class="col-md-12"><hr/></div></div>
                <% if(typeof(myNest.documentDetails[2]) != 'undefined'){ %>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-transform-none">Final Proposal <% if((typeof(myNest) !== 'undefined') && (typeof(myNest.documentDetails[2].uploadDate) !== 'undefined')){ %>
                            ( <%= myNest.documentDetails[2].uploadDate %> )
                            <% } %></h4>
                        <hr />
                        <div class="col-md-8 padding0">
                            <p class="align-left">Note that this is an initial proposal without actual site measurements and is liable to change. Approval would be taken again once site measurement is done and design is complete. </p>
                        </div>

                        <div class="col-md-4" style="padding-left: 0px;">
                            <div class="col-md-12">
                                <a href="<%= myNest.documentDetails[1].docUrl %>" target="_blank" title="View">
                                    <div class="row">
                                        <div class="col-md-12 align-center"><i class="fa fa-file-pdf-o" style="font-size: 36px!important;" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 align-center"><span class="text-small-proposals">
                                            <% if(typeof(myNest) !== 'undefined'){ %>
                                            <%= myNest.documentDetails[2].documentName %>
                                            <% } %>
                                        </span></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row"><div class="col-md-12"><hr/></div></div>
                <% } %>

                <%
                    var taskType = '';
                    if(typeof(myNest.documentDetails[2]) != 'undefined'){
                            taskType = "FINAL_PROPOSAL_RESPONSE";
                    }else{
                            taskType = "INITIAL_PROPOSAL_RESPONSE";
                    }


                %>
                <%= console.log(' ===================== taskType =================== ') %>
                <%= console.log(taskType) %>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-8 padding0">
                            <h4 class="text-transform-none">By clicking approve button, above proposal will be accepted</h4>
                            [<i>Click here to indicate that you have read and agree to the terms of the Mygubbi Customer Agreement</i>]</div>
                        <div class="col-md-4 padding0 align-left" style="margin: 40px 0px 0px 0px;"><button id="approvebtn" type="button" class="btn button-orange font-size18" data-element="<%= myNest.paymentDetails[0].salesExecEmail %>" data-element1="<%= userProfile ? userProfile.displayName : '' %>" data-element2="<%= userProfile ? userProfile.phone : '' %>" data-element3="<%= myNest.paymentDetails[0].designerEmail %>" data-element4="<%= userProfile ? userProfile.crmId : '' %>" data-element5="<%= taskType ? taskType : '' %>" style="text-transform: none;">Approve</button></div>
                    </div>
                </div>

                <div class="row row-magin align-center col-md-12 font-style-or">
                    <div class="quality-check-line"></div>
                    <div class="quality-check-head-box">
                        <h1 class="quality-check-head text-center"> OR </h1>
                    </div>
                </div>
                <div class="row row-margin col-md-12 padding-bottom15">
                    <div class="col-md-8 padding0">
                        <div style="display:inline;font-weight:bold;">
                            <h4 class="text-transform-none">Schedule the date and time with Sales Team</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4 padding0">
                                    <input
                                            type="time"
                                            id="user_time"
                                            class="form-control"
                                            name="time"
                                            placeholder="hh-mm"
                                            style="margin:20px 0px;"
                                            required="required" />
                                </div>
                                <div class="col-md-6 padding0">
                                    <input
                                            type="date"
                                            id="user_date"
                                            class="form-control"
                                            name="date"
                                            placeholder="dd/mm/yy"
                                            dateformat="d M y"
                                            min="0"
                                            style="margin:20px 0px;"
                                            required="required" />
                                </div>
                            </div>
                        </div>
                        <div class="row margin0" id="requestCB_error" style="color:red;"></div>
                    </div>
                    <div class="col-md-4 padding0">
                        <button type="button" id="callback" class="btn button-orange font-size18" data-element="<%= myNest.paymentDetails[0].salesExecEmail %>" data-element1="<%= userProfile ? userProfile.displayName : '' %>" data-element2="<%= userProfile ? userProfile.phone : '' %>" data-element3="<%= myNest.paymentDetails[0].designerEmail %>" data-element4="<%= userProfile ? userProfile.crmId : '' %>" data-element5="<%= taskType ? taskType : '' %>" style="text-transform: none;margin: 45px 0px 0px 0px;">Request For Call Back</button></div>
                </div>
            </div>
            <% } %>
            <div role="tabpanel" class="tab-pane row padding6" id="card">
                <div class="col-md-12 proposal-font-heading border-bottom-grey padding6"> Payment History</div>
                <div class="col-md-12">
                    <div class="row align-center">


                    <div class="row align-center padding-top-10">
                        <div class="col-sm-3" style="font-weight:bold;">Payment Milestone</div>
                        <div class="col-sm-2" style="font-weight:bold;">% Amount</div>
                        <div class="col-sm-2" style="font-weight:bold;">Amount</div>
                        <div class="col-sm-2" style="font-weight:bold;">Payment Date</div>
                        <div class="col-sm-2" style="font-weight:bold;">Transaction Ref</div>

                    </div>
                    <div class="row align-center padding6">
                        <div class="col-sm-3">  Booking Amount </div>
                        <div class="col-sm-2">  3 </div>
                        <div class="col-sm-2"> <% if(typeof(myNest.paymentDetails[0].m1_amount_collected_c) !== 'undefined'){ %>
                            <%= parseFloat(myNest.paymentDetails[0].m1_amount_collected_c).toFixed(2) %>
                            <% } %> </div>
                        <div class="col-sm-2"><% if(typeof(myNest.paymentDetails[0].m1_payment_date_c) !== 'undefined'){ %>
                            <% var date1 = new Date(myNest.paymentDetails[0].m1_payment_date_c) %>
                            <%= date1.getDate() + '/' + (date1.getMonth() + 1) + '/' +  date1.getFullYear() %>
                            <% } %></div>
                        <div class="col-sm-2"><% if(typeof(myNest.paymentDetails[0].payment_reference1_c) !== 'undefined'){ %>
                            <%= myNest.paymentDetails[0].payment_reference1_c %>
                            <% } %></div>

                    </div>
                    <div class="row align-center padding6">
                        <div class="col-sm-3"> Design Finalization</div>
                        <div class="col-sm-2">  47 </div>
                        <div class="col-sm-2"> <% if(typeof(myNest.paymentDetails[0].m2_amount_collected_c) !== 'undefined'){ %>
                            <%= parseFloat(myNest.paymentDetails[0].m2_amount_collected_c).toFixed(2) %>
                            <% } %> </div>
                        <div class="col-sm-2"><% if(typeof(myNest.paymentDetails[0].m2_payment_date_c) !== 'undefined'){ %>
                            <% var date = new Date(myNest.paymentDetails[0].m2_payment_date_c) %>
                            <%= date.getDate() + '/' + (date.getMonth() + 1) + '/' +  date.getFullYear() %>
                            <% } %></div>
                        <div class="col-sm-3"><% if(typeof(myNest.paymentDetails[0].payment_reference2_c) !== 'undefined'){ %>
                            <%= myNest.paymentDetails[0].payment_reference2_c %>
                            <% } %></div>

                    </div>
                    <div class="row align-center padding6">
                        <div class="col-sm-3">  Balance </div>
                        <div class="col-sm-2">  50 </div>
                       <div class="col-sm-2"> <% if(typeof(myNest.paymentDetails[0].m3_amount_collected_c) !== 'undefined'){ %>
                            <%= myNest.paymentDetails[0].m3_amount_collected_c %>
                            <% } %> </div>
                        <div class="col-sm-2"><% if(typeof(myNest.paymentDetails[0].m3_payment_date_c) !== 'undefined'){ %>
                            <%= myNest.paymentDetails[0].m3_payment_date_c %>
                            <% } %></div>
                        <div class="col-sm-2"><% if(typeof(myNest.paymentDetails[0].payment_reference3_c) !== 'undefined'){ %>
                            <%= myNest.paymentDetails[0].payment_reference3_c %>
                            <% } %></div>

                    </div>

                    <div class="row row-magin align-center col-md-12 font-style-or">
                        <div class="quality-check-line"></div>
                        </div>

                    <div class="row align-center padding6">
                        <div class="col-sm-3 padding-top-10 ">  Total Amount </div>
                        <div class="col-sm-2">  </div>
                        <div class="col-sm-2 padding-top-10"> <% if(typeof(myNest.paymentDetails[0].m4_amount_collected_c) !== 'undefined'){ %>
                            <%= parseFloat(myNest.paymentDetails[0].m4_amount_collected_c).toFixed(2) %>
                            <% } %> </div>
                        <div class="col-sm-2 padding-top-10"><% if(typeof(myNest.paymentDetails[0].m4_payment_date_c) !== 'undefined'){ %>
                            <%= myNest.paymentDetails[0].m4_payment_date_c %>
                            <% } %></div>
                        <div class="col-sm-2 padding-top-10"><% if(typeof(myNest.paymentDetails[0].payment_reference4_c) !== 'undefined'){ %>
                            <%= myNest.paymentDetails[0].payment_reference4_c %>
                            <% } %></div>

                    </div>
                    </div>
                </div>


            </div>
            <div role="tabpanel" class="tab-pane row padding6" id="doc">
                <div class="col-md-12 proposal-font-heading border-bottom-grey padding6">
                        Document Type | Document link
                </div>
                <div class="row">
                    <div class="col-md-3 doc-details">
                        <% if(typeof(myNest.documentDetails[0]) !== 'undefined'){ %>
                        <a href="<%= myNest.documentDetails[0].docUrl %>" target="_blank" title="View">
                           <span class="text-small-proposals">
                                <%= myNest.documentDetails[0].documentName %>
                           </span>
                        </a>
                        <% } %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 doc-details">
                        <% if(typeof(myNest.documentDetails[1]) !== 'undefined'){ %>
                        <a href="<%= myNest.documentDetails[1].docUrl %>" target="_blank" title="View">
                           <span class="text-small-proposals">
                                <%= myNest.documentDetails[1].documentName %>
                           </span>
                        </a>
                        <% } %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 doc-details">
                        <% if(typeof(myNest.documentDetails[2]) !== 'undefined'){ %>
                        <a href="<%= myNest.documentDetails[2].docUrl %>" target="_blank" title="View">
                           <span class="text-small-proposals">
                                <%= myNest.documentDetails[2].documentName %>
                           </span>
                        </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% } %>
