<div class="col-md-12 col-sm-12 bg-white portfolio-box padding-top15 padding-bottom15 position-relative">
    <div class="row edit_icon_div">
            <span class="glyphicon glyphicon-pencil edit_icon"
                  data-toggle="tooltip"
                  data-placement="left"
                  title="Edit Details">
            </span>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">


            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-6 profile-label">
                    <label>Name :</label>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-6">
                    <p class="view_mode"><%= userProfile ? userProfile.displayName : 'User' %></p>
                    <p class="edit_mode form-group">
                        <input
                                type="text"
                                id="user_display_name"
                                class="form-control"
                                maxlength="50"
                                name="displayName"
                                value="<%=userProfile ? userProfile.displayName : ''%>"
                                placeholder="Your Name" required />
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-6 profile-label">
                    <label>Contact :</label>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-6">
                    <p class="view_mode">+91 <%= userProfile ? userProfile.phone : ''%></p>
                    <p class="edit_mode form-group">
                        +91 &nbsp;
                        <input
                                type="number"
                                id="user_phone"
                                class="form-control"
                                name="phone"
                                min="0"
                                max="9999999999"
                                value="<%= userProfile ? userProfile.phone : ''%>"
                                pattern="\d{10}"
                                required />
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-6 profile-label">
                    <label>Occupation :</label>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-6">
                    <p class="view_mode"><%= userProfile ? userProfile.occupation : ''%></p>
                    <p class="edit_mode form-group">
                        <input
                                type="text"
                                id="occupation"
                                class="form-control"
                                name="address"
                                maxlength="250"
                                value="<%= userProfile ? userProfile.occupation : ''%>"
                        />
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-6 profile-label">
                    <label>Interest :</label>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-6">
                    <p class="view_mode"><%= userProfile ? userProfile.interest : ''%></p>
                    <p class="edit_mode form-group">
                        <input
                                type="text"
                                id="interest"
                                class="form-control"
                                name="address"
                                maxlength="250"
                                value="<%= userProfile ? userProfile.interest : ''%>"
                        />
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-6 profile-label">
                    <label>Address :</label>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-6">
                    <p class="view_mode"><%= userProfile ? userProfile.address : ''%></p>
                    <p class="edit_mode form-group">
                        <input
                                type="text"
                                id="user_address"
                                class="form-control"
                                name="address"
                                maxlength="250"
                                value="<%= userProfile ? userProfile.address : ''%>"
                        />
                    </p>
                </div>
            </div>
            <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-6 profile-label">
                <label>State :</label>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-6">
                <p class="view_mode"><%= userProfile ? userProfile.state : ''%></p>
                <p class="edit_mode form-group">
                    <input
                            type="text"
                            id="user_state"
                            class="form-control"
                            name="state"
                            maxlength="25"
                            value="<%= userProfile ? userProfile.state : ''%>"
                    />
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </p>
            </div>
            </div>

        </div>

        <div class="col-md-6 col-lg-6">


            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-6 profile-label">
                    <label>Email :</label>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-6 ">
                    <p class="view_mode"><%= userProfile ? userProfile.email : ''%></p>
                    <p class="edit_mode form-group">
                        <input
                                type="text"
                                id="user_email_id"
                                class="form-control"
                                maxlength="50"
                                name="email"
                                value="<%= userProfile ? userProfile.email : ''%>"
                                placeholder="Your Email" required />
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-6 profile-label">
                    <label>Alternate Contact :</label>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-6">
                    <p class="view_mode">+91 <%= userProfile ? userProfile.altPhone : ''%></p>
                    <p class="edit_mode form-group">
                        +91 &nbsp;
                        <input
                                type="number"
                                id="user_alt_phone"
                                class="form-control"
                                name="phone"
                                min="0"
                                max="9999999999"
                                value="<%= userProfile ? userProfile.altPhone : ''%>"
                                pattern="\d{10}"
                                required />
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </p>
                </div>
            </div>
            <div class="row padding-top45">
                <div class="col-md-5 col-sm-5 col-xs-6 profile-label">
                    <label>Hobbies :</label>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-6">
                    <p class="view_mode"><%= userProfile ? userProfile.hobbies : ''%></p>
                    <p class="edit_mode form-group">
                        <input
                                type="text"
                                id="hobbies"
                                class="form-control"
                                name="address"
                                maxlength="250"
                                value="<%= userProfile ? userProfile.hobbies : ''%>"
                        />
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-6 profile-label">
                    <label>City :</label>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-6">
                    <p class="view_mode"><%= userProfile ? userProfile.city : ''%></p>
                    <p class="edit_mode form-group">
                        <input
                                type="text"
                                id="user_city"
                                class="form-control"
                                name="city"
                                maxlength="25"
                                value="<%= userProfile ? userProfile.city : ''%>"
                        />
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-6 profile-label">
                    <label>PIN Code :</label>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-6">
                    <p class="view_mode"><%= userProfile ? userProfile.pinCode : ''%></p>
                    <p class="edit_mode form-group">
                        <input
                                type="number"
                                id="user_pin_code"
                                class="form-control"
                                name="pinCode"
                                min="0"
                                max="999999"
                                value="<%= userProfile ? userProfile.pinCode : ''%>"
                                pattern="\d{6}"
                        />
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </p>
                </div>
            </div>
            <div class="row form-group">
                <input type="hidden" id="crmId" name="crmId" value="<%= userProfile ? userProfile.crmId : ''%>" />
                <button
                        class="button border1px float-right edit_mode"
                        id="save_details"
                        data-loading-text="<i class='fa fa-spinner fa-spin'></i> Save Details"
                        type="submit"
                        style="margin-right: 15px;"
                >
                    Save Details
                </button>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {

        $('.edit_icon').click(function() {
            $('.view_mode').hide();
            $('.edit_icon').hide();
            $('.edit_mode').show();
        });

        $('#save_details').click(function() {
            $('.edit_mode').hide();
            $('.view_mode').show();
            $('.edit_icon').show();
        });


        $('#set_password').click(function() {
            $('#error_row, #success_row').css('display','none');
        });

        $('.chng_pswd').click(function() {
            $('#error_row, #success_row').css('display','none');
            $('.change_password').slideToggle();
            if($('.open_tab_chng_pswd').hasClass('padding0_20_20')){
                $('.open_tab_chng_pswd').removeClass('padding0_20_20');
            }else{
                $('.open_tab_chng_pswd').addClass('padding0_20_20');
            }
            var item = $(this).find('.sort-arrow');
            if (item.hasClass('pe-7s-angle-down')){
                $(item).removeClass('pe-7s-angle-down').addClass('pe-7s-angle-up');
            }else {
                $(item).removeClass('pe-7s-angle-up').addClass('pe-7s-angle-down');
            }
        });

        $('#cancel_chng_pswd').click(function() {
            $('#old_password, #new_password, #confirm_password').val('');
            $('.change_password').slideUp();
            $('.open_tab_chng_pswd').removeClass('padding0_20_20');

            var item = $(this).find('.sort-arrow');
            $(item).removeClass('pe-7s-angle-up').addClass('pe-7s-angle-down');
        });


        $('.dactvate').click(function() {
            $('#confirm_deactivate, #dactvate_passwd, #deactiate_success_row, #deactiate_error_row').css('display','none');
            $('.deactivate_account').slideToggle();
            $('#deactivate').css('display','inline');
            if($('.open_tab_deactivate').hasClass('padding0_20_20')){
                $('.open_tab_deactivate').removeClass('padding0_20_20');
            }else{
                $('.open_tab_deactivate').addClass('padding0_20_20');
            }
            var item = $(this).find('.sort-arrow');
            if (item.hasClass('pe-7s-angle-down')){
                $(item).removeClass('pe-7s-angle-down').addClass('pe-7s-angle-up');
            }else {
                $(item).removeClass('pe-7s-angle-up').addClass('pe-7s-angle-down');
            }
        });

        $('#deactivate').click(function() {
            $('#dactvate_passwd, #confirm_deactivate').css('display','inline');
            $('#deactivate').css('display','none');
        });

        $('#confirm_deactivate').click(function() {
            $('#deactiate_success_row, #deactiate_error_row').css('display','none');
        });

        $('#cancel_dactvate').click(function() {
            $('.deactivate_account').slideUp();
            $('.open_tab_deactivate').removeClass('padding0_20_20');

            var item = $(this).find('.sort-arrow');
            $(item).removeClass('pe-7s-angle-up').addClass('pe-7s-angle-down');
        });

        $('[data-toggle="tooltip"]').tooltip();

    });

    var password = document.getElementById("new_password")
            , confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
        if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

    var name = document.getElementById("user_display_name");
    var phone = document.getElementById("user_phone");
    var pin = document.getElementById("user_pin_code");

    function validateUserData(){
        if(name.value == ''){
            name.setCustomValidity('Please enter your name.');
        }
        if(phone.value == ''){
            phone.setCustomValidity('Please enter your contact number.');
        }else{
            var patt = new RegExp("\d{10}");
            var res = patt.test(phone);
            if(!res){
                phone.setCustomValidity('Please match the requested format');
            }
        }

        if(pin.value != ''){
            patt = new RegExp("\d{6}");
            res = patt.test(pin);
            if(!res){
                pin.setCustomValidity('Please match the requested format');
            }
        }
    }

    name.onchange = validateUserData;
    phone.onchange = validateUserData;
    pin.onkeyup = validateUserData;

</script>
