<div class="margin-top15" style="background-color:#ffffff;padding:25px;">
    <div class="row">
        <div class="col-md-5 col-sm-5">
            <p>Old Password :</p>
        </div>
        <div class="col-md-7 col-sm-7 form-group">
            <input
                    type="password"
                    class="form-control"
                    id="old_password"
                    pattern=".{6,}" required />
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-sm-5">
            <p>New Password :</p>
        </div>
        <div class="col-md-7 col-sm-7 form-group">
            <input
                    type="password"
                    class="form-control"
                    id="new_password"
                    pattern=".{6,}" required />
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-sm-5">
            <p>Confirm Password :</p>
        </div>
        <div class="col-md-7 col-sm-7 form-group">
            <input
                    type="password"
                    class="form-control"
                    id="confirm_password">
        </div>
    </div>
    <div class="row align-center">
        <button type="button" class="btn button-orange font-size18" style="text-transform: none;">Save</button>
    </div>


</div>