<link rel="stylesheet" href="/css/cep.css">
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
            <div class="row">
                <div class="margin-top40">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="alert alert-danger">
                            <div class="text-center">
                                <h1 class="text-navy"> <i class="fa fa-times-circle" aria-hidden="true"></i> </h1>
                            </div>
                            <h3 class="text-center"> <span class="alert-link "> Aww!! </span> Your payment did not happen !!  </h3>
                            <span class="text-muted">There was a problem processing your payment (please see the likely reasons below). Please note your MYGUBBI reference ID related to this payment failure is "<%= txnid %>" for any communication with us in future . Try Our CEP Portal</span>
                            <div>
                                <h5>What could have caused this?</h5>
                                <ul>
                                    <li>You may have entered your card details incorrectly.</li>
                                    <li>Your card issuer may have rejected your payment request</li>
                                    <li>You may have entered incorrect bank information</li>
                                    <li>You may have entered your card details incorrectly</li>
                                    <li>Your card issuer may have rejected your payment request</li>
                                    <li>You may have entered incorrect bank information</li>
                                </ul>
                            </div>
                            <div>
                                <h5>What to do?</h5>
                                <ul>
                                    <li>Check details and try entering them again  Try Our CEP Portal</li>
                                    <li>Check with your bank</li>
                                </ul>
                                <p>
                                    For any further assistance, to tell us your issue into <a href="/faq">support@mygubbi.com</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>