<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
            <div class="row">
                <div class="invoice-box">

                    <form id="payuform" action='https://test.payu.in/_payment' method='post'>
                        <input type="hidden" name="firstname" value="<%= userProfile ? userProfile.displayName : '' %>" />
                        <input type="hidden" name="lastname" value="" />
                        <input type="hidden" name="surl" value="https://localhost:8787/paysuccess" />
                        <input type="hidden" name="phone" value="<%= userProfile ? userProfile.phone : '' %>" />
                        <input type="hidden" name="key" value="gtKFFx" />
                        <input type="hidden" name="hash" id="hashkey" value ="" />
                        <input type="hidden" name="curl" value="http://192.168.104.88:8080/TestingApp/failure.jsp" />
                        <input type="hidden" name="furl" value="http://192.168.104.88:8080/TestingApp/failure.jsp" />
                        <input type="hidden" name="txnid" id="trnxid"  value="" />
                        <input type="hidden" name="udf1" id="udf1"  value="<%= userProfile ? userProfile.crmId : '' %>" />
                        <input type="hidden" name="productinfo" value="test product" />
                        <input type="hidden" name="amount" value="100" />
                        <input type="hidden" name="email" value="<%= userProfile ? userProfile.email : '' %>" />

                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h3 class="text-center"> Payment Details </h3>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>Client Name : </label>
                            <label class="font-noraml"> <%= userProfile ? userProfile.displayName : '' %> </label>
                            <input type="hidden" id="firstname" value="<%= userProfile ? userProfile.displayName : '' %>" />
                        </div>
                        <div class="form-group">
                            <label>Contact No : </label>
                            <label class="font-noraml"> <%= userProfile ? userProfile.phone : '' %> </label>
                            <input type="hidden" id="phone" value="<%= userProfile ? userProfile.phone : '' %>" />
                        </div>
                        <div class="form-group">
                            <label>Opportunity ID : </label>
                            <label class="font-noraml"> <%= userProfile ? userProfile.crmId : '' %> </label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label> Transaction # : </label>
                            <label class="font-noraml" id="uniqueid"></label>
                            <input type="hidden" value="" />
                        </div>
                        <div class="form-group">
                            <label> Milestone : </label>
                            <label class="font-noraml"> Payment Milestone - Design Finalization </label>
                        </div>
                        <div class="form-group">
                            <label> Amount : </label>
                            <label class="font-noraml"> <input type="text" id="amount" value="" required="required" /> </label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 text-center mt20">
                        <a href="javascript:void(0);" id="send_payu" class="btn btn-navy"> Make Payment </a>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("uniqueid").value = randId();
    document.getElementById("uniqueid").innerHTML = document.getElementById("uniqueid").value;
    document.getElementById("trnxid").value = document.getElementById("uniqueid").value;
    function randId() {
     return Math.random().toString(36).substr(2, 10);
    }

</script>
<style>
	.navbar-festive{
		margin-bottom: 0px;
		height: 100px;
		background: #FFFFFF;
		border-color: #FFFFFF;
		border-radius: 0px;
		border-bottom: 1px solid #ddd;
	}

	.navbar-festive .navbar-brand{
		padding: 0px;
		margin: 0px;
	}

	.navbar-festive .navbar-brand img {
		width: 150px;
		margin: 15px 0px 10px 0px;
	}
	.btn-navy{
		background-color: #1ab394;
		border-color: #1ab394;
		color: #FFFFFF;
	}
	.btn-navy:hover,
	.btn-navy:active,
	.btn-navy:focus{
		background-color: #18a689;
		border-color: #18a689;
		color: #FFFFFF;
	}
	.mt20{
		margin-top: 20px;
	}
	.invoice-box{
		margin: 40px auto;
		background: #eee;
		border: 1px solid #ddd;
		border-radius: 2px;
		min-height: 250px;
		padding: 20px;
	}
	.invoice-box h3{
		margin: 0px 0px 20px;
	}
	.form-group{
		margin-bottom: 10px;
	}
	.font-noraml{
		font-weight: 400;
	}

</style>