<% if(typeof(paydtlsobj) !== 'undefined'){ %>
    <% var cnt= 1 ; %>

    <link rel="stylesheet" href="/js/libs/footable/footable.css" type="text/css">
    <script type="text/javascript" src="/js/libs/footable/footable.min.js"></script>


    <script>
            $(document).ready(function() {

                $('.footable').footable();

            });
        </script>

    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
        <thead>
        <tr>
            <th data-toggle="true"> Sl# </th>
            <th data-toggle="true"> Amount </th>
            <th data-hide="phone"> Payment Date </th>
            <th data-hide="phone"> Transaction# </th>
            <th data-hide="phone,tablet"> Payment Mode</th>
<!--
            <th data-hide="phone,tablet"> Reciept# </th>
-->
            <th data-hide="phone">Status</th>
        </tr>
        </thead>
        <tbody>
        <% _.each(paydtlsobj, function(trns){ %>
        <tr>
            <td>
                <%= cnt %>
            </td>
            <td class="word-break">
                <% if(typeof(trns.payAmount) !== 'undefined'){ %>
                <%= parseFloat(trns.payAmount).toFixed(2) %>
                <% } %>
            </td>
            <td>
                <% if(typeof(trns.payDate) !== 'undefined'){ %>
                <% var date = new Date(trns.payDate) %>
                <% var frminute = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes(); %>
                <%= date.getDate() + '/' + (date.getMonth() + 1) + '/' +  date.getFullYear() + ' ' +date.getHours()+':'+frminute %>
                <% } %>
            </td>
            <td>
                <% if(typeof(trns.payTransId) !== 'undefined'){ %>
                <%= trns.payTransId %>
                <% } %>
            </td>
            <td>
                <% var dfarr= new Array(); %>
                <% dfarr= {"NB": "Net Banking", "CC": "Credit Card", "DC": "Debit Card","CASH":"Cash","Cheque":"Cheque","Neft":"Neft"}; %>
                <% if(typeof(trns.payMode) !== 'undefined'){ %>
                <%= dfarr[trns.payMode] %>
                <% } %>
            </td>
            <!--<td>
                DSO/16-17/00050
            </td>-->
            <td class="text-right">
                <span class="label capitalize <% if((typeof(trns.status) !== 'undefined') && (trns.status == 'success') || (trns.status == 'Success')){ %>label-success<% }else{ %>label-danger<% } %>"><% if(typeof(trns.status) !== 'undefined'){ %><%= trns.status %><% } %></span>
            </td>
        </tr>
        <% cnt=cnt+1; }); %>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6">
                <ul class="pagination pull-right"></ul>
            </td>
        </tr>
        </tfoot>
    </table>
<% } %>

