<%= console.log("@@@@@@@@@@@@@@@@@@@@@@@ userHomePreferencesDtls @@@@@@@@@@@@@@@@@@@@@@@@@") %>
<%= console.log(userHomePreferencesDtls) %>
<%= console.log("@@@@@@@@@@@@@@@@@@@@@@@ userFamilyPreferencesDtls @@@@@@@@@@@@@@@@@@@@@@@@@") %>
<%= console.log(userFamilyPreferencesDtls) %>
<%= console.log("@@@@@@@@@@@@@@@@@@@@@@@ userMemebersPreferencesDtls @@@@@@@@@@@@@@@@@@@@@@@@@") %>
<%= console.log(userMemebersPreferencesDtls) %>

<style>
	figure {
    display: inline-block;
    margin: 20px; /* adjust as needed */
	}
	figure img {
    vertical-align: top;
	}
	figure figcaption {
    text-align: center;
	}
	.img-circle {
    border-radius: 25px;
	}
	.slidecontainer {
    width: 100%;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
	margin-bottom:45px;
    width: 30px;
    height: 44px;
    border: 0;
    background: url('img/bal.png');
	background-repeat:none;
    cursor: pointer;
    position:relative;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url('img/bal.png');
    cursor: pointer;
}
.wrap {
float: left;
padding-top: 0;
padding-left: 0;
margin: 20px;
border: 1px solid black;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.btn-circle:active{
    border: 2px solid red;
}
.button4 {border-radius: 12px;}
.heading-style{
margin-bottom:30px;
}
heading-style-top{
margin-top:30px;
}
.gender-style{
margin-top: 25px;
}
.novdiv{
    left: 18.5%;
    position: absolute;
    top: -32px;
}
</style>

<section class="main-conceptboard-sec bg-light-gray pb40">

<div class="tab container">
    <h2>Preferences</h2>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#family">Family</a></li>
        <li><a data-toggle="tab" href="#members">Members</a></li>
    </ul>

    <div class="tab-content userPref">
        <div id="home" class="tab-pane fade in active">
            <% if(typeof(userHomePreferencesDtls) !== 'undefined'){ %>
                <% _.each(userHomePreferencesDtls[0].userQues, function(userQuesdtl, j){ %>
                <div class="col-md-12">
                    <h2><%= userQuesdtl.questionnaire.questionDetails.name %></h2>

                    <% _.each(userQuesdtl.questionnaire.options, function(userOptsdtl, j){ %>
                    <div class="form-group <% if(userQuesdtl.questionnaire.questionDetails.name == "Room"){ %> col-xs-2 <% }else{ %> col-xs-3 <% } %>">
                        <figure>
                            <% if(typeof(userOptsdtl.imageURL) !== 'undefined' && userOptsdtl.imageURL != ""){ %>
                                <img src="<%= userOptsdtl.imageURL %>" alt="<%= userOptsdtl.name %>" class="wrap img-circle"  width="100px" height="100px">
                                <figcaption><%= userOptsdtl.name %></figcaption>
                            <% }else{ %>
                                <% if((userQuesdtl.questionnaire.questionDetails.name == "Interiors Budget") || (userQuesdtl.questionnaire.questionDetails.name == "Size")){ %>
                                <div class="form-group">
                                    <button type="button" class="btn btn-light button4 btn-labeltxt" style="width: 90px;"><%= userOptsdtl.name %></button>
                                </div>
                                <% }else{ %>
                                    <div class="form-group">
                                        <button class="btn btn-light btn-circle btn-labeltxt"><%= userOptsdtl.name %></button>
                                    </div>
                                <% } %>
                            <% } %>
                        </figure>
                    </div>
                    <% }); %>
                </div>
                <% }); %>
            <% } %>
        <div class="clearfix"></div>
        </div>
        <div id="family" class="tab-pane">
            <% if(typeof(userFamilyPreferencesDtls) !== 'undefined'){ %>
                <% _.each(userFamilyPreferencesDtls[0].userQues, function(userQuesdtl, j){ %>
                <div class="col-md-12">
                    <h2><%= userQuesdtl.questionnaire.questionDetails.name %></h2>

                    <% _.each(userQuesdtl.questionnaire.options, function(userOptsdtl, j){ %>
                    <div class="form-group col-xs-2">
                        <figure>
                            <% if(typeof(userOptsdtl.imageURL) !== 'undefined' && userOptsdtl.imageURL != ""){ %>
                                <img src="<%= userOptsdtl.imageURL %>" alt="<%= userOptsdtl.name %>" class="wrap img-circle"  width="100px" height="100px">
                                <figcaption><%= userOptsdtl.name %></figcaption>
                            <% }else{ %>
                                <div class="form-group">
                                    <button class="btn btn-light btn-circle btn-labeltxt"><%= userOptsdtl.name %></button>
                                </div>
                            <% } %>
                        </figure>
                    </div>
                    <% }); %>
                </div>
                <div class="clearfix"></div>
                <% }); %>
            <% } %>
        </div>
        <div id="members" class="tab-pane">
            <div class="member-panel">
            <% if(typeof(userMemebersPreferencesDtls[0].familyMembersList) !== 'undefined' && userMemebersPreferencesDtls[0].familyMembersList != ""){ %>
                <% _.each(userMemebersPreferencesDtls[0].familyMembersList, function(userQuesdtl, j){ %>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">New Member</label>
                    <input type="Name" class="form-control" id="inputname" placeholder="Name" value="<%= userQuesdtl.memberName ? userQuesdtl.memberName : '' %>">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputproject">Age Group</label>
                    <select id="inputproject" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-check form-check-inline form-group col-md-12 gender-style">
                    <label class="form-check-label">Gender</label>
                    <input class="form-check-input" type="radio" id="inlineradio1" value="option1">
                    <label class="form-check-label" for="inlineradio1">Male</label>
                    <input class="form-check-input" type="radio" id="inlineradio2" value="option1">
                    <label class="form-check-label" for="inlineradio1">Female</label>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label class="form-check-label">Work</label>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputproject">Category</label>
                    <select id="inputproject1" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputproject">Occupation</label>
                    <select id="inputproject2" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label class="form-check-label">Hobby 1</label>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputproject">Category</label>
                    <select id="inputproject3" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputproject">Hobbies</label>
                    <select id="inputproject4" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label class="form-check-label">Hobby 2</label>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputproject">Category</label>
                    <select id="inputproject5" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputproject">Hobbies</label>
                    <select id="inputproject6" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label class="form-check-label">Hobby 3</label>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputproject">Category</label>
                    <select id="inputproject7" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputproject">Hobbies</label>
                    <select id="inputproject8" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon glyphicon-floppy-disk"></span> Save
                    </button>
                </div>
            </div>
                <% }); %>
            <% }else{ %>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">New Member</label>
                    <input type="Name" class="form-control" id="inputname" placeholder="Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputproject">Age Group</label>
                    <select id="inputproject" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-check form-check-inline form-group col-md-12 gender-style">
                    <label class="form-check-label">Gender</label>
                    <input class="form-check-input" type="radio" id="inlineradio1" value="option1">
                    <label class="form-check-label" for="inlineradio1">Male</label>
                    <input class="form-check-input" type="radio" id="inlineradio2" value="option1">
                    <label class="form-check-label" for="inlineradio1">Female</label>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label class="form-check-label">Work</label>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputproject">Category</label>
                    <select id="inputproject1" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputproject">Occupation</label>
                    <select id="inputproject2" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label class="form-check-label">Hobby 1</label>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputproject">Category</label>
                    <select id="inputproject3" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputproject">Hobbies</label>
                    <select id="inputproject4" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label class="form-check-label">Hobby 2</label>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputproject">Category</label>
                    <select id="inputproject5" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputproject">Hobbies</label>
                    <select id="inputproject6" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label class="form-check-label">Hobby 3</label>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputproject">Category</label>
                    <select id="inputproject7" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputproject">Hobbies</label>
                    <select id="inputproject8" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon glyphicon-floppy-disk"></span> Save
                    </button>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <h3>Add Family Member  <span class="glyphicon glyphicon-plus"></span></h3>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <button type="button" class="btn btn-primary btn-block">All Done</button>
                </div>
            </div>

            <% } %>
            </div>
        </div>
</div>
    <script>
        var sliderforAdults = document.getElementById("myRangeForAdults");
        var outputforAdults = document.getElementById("valueforadults");
        outputforAdults.innerHTML = sliderforAdults.value;

        sliderforAdults.oninput = function() {
          outputforAdults.innerHTML = this.value;
          $("#valueforadults").parent().css("left","18%");
        }
    </script>
    <script>
        var sliderforTeenagers = document.getElementById("myRangeForTeenagers");
        var outputforTeenagers = document.getElementById("valueforteenagers");
        outputforTeenagers.innerHTML = sliderforTeenagers.value;

        sliderforTeenagers.oninput = function() {
          outputforTeenagers.innerHTML = this.value;
        }
    </script>
    <script>
        var sliderforKids = document.getElementById("myRangeforKids");
        var outputforKids = document.getElementById("valueforkids");
        outputforKids.innerHTML = sliderforKids.value;

        sliderforKids.oninput = function() {
          outputforKids.innerHTML = this.value;
        }
    </script>
    <script>
        var sliderforSenior = document.getElementById("myRangeforSeniorCitizen");
        var outputforSenior = document.getElementById("valueforseniorcitizen");
        outputforSenior.innerHTML = sliderforSenior.value;

        sliderforSenior.oninput = function() {
          outputforSenior.innerHTML = this.value;
        }
    </script>
</div>

</section>