<style>
    figure {
        display: inline-block;
        margin: 20px;
    }
    figure img {
        vertical-align: top;
    }
    figure figcaption {
        text-align: center;
    }
    .img-circle {
        border-radius: 15px;
    }
    .slidecontainer {
        width: 100%;
    }
    .img-responsive {
        display: block;
        height: auto;
        max-width: 100%;
    }
    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    .slider:hover {
        opacity: 1;
    }
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin-bottom:45px;
        width: 30px;
        height: 44px;
        border: 0;
        background: url('img/bal.png');
        background-repeat:none;
        cursor: pointer;
        position:relative;
    }
    .slider::-moz-range-thumb {
        width: 23px;
        height: 24px;
        border: 0;
        background: url('img/bal.png');
        cursor: pointer;
    }
    .wrap {
        float: left;
        padding-top: 0;
        padding-left: 0;
        margin: 20px;
        box-shadow: 1px 1px 12px #000;
    }
    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 24px;
        line-height: 1.33;
    }
    .btn-circle {
        width: 40px;
        height: 40px;
        padding: 6px 0px;
        border-radius: 50px;
        text-align: center;
        font-size: 12px;
        line-height: 1.42857;
    }
    .button4 {border-radius: 12px;}
    .heading-style{
        margin-bottom:30px;
    }
    heading-style-top{
        margin-top:30px;
    }
    .gender-style{
        margin-top: 25px;
    }
    .novdiv{
        left: 18.5%;
        position: absolute;
        top: -32px;
    }
    .Usage:hover, .Usage:active, .Usage:focus {
        background-color: #634e42 !important;
        color:#fff;
        cursor: pointer;
    }

    .userMember:hover, .userMember:active, .userMember:focus {
        background-color: #634e42 !important;
        color:#fff;
        cursor: pointer;
    }
    .Size:hover,
    .Size:active,
    .Size:focus {
        background-color: #634e42 !important;
        color:#fff;
        cursor: pointer;
    }
    .Room:hover,
    .Room:active,
    .Room:focus{
        background-color: #634e42 !important;
        color:#fff;
        cursor: pointer;
    }
    .Dwelling type:hover, .Dwelling type:active, .Dwelling type:focus {
        background-color: #634e42 !important;
        color:#fff;
        cursor: pointer;
    }
    .Interiors Budget:hover, .Interiors Budget:active, .Interiors Budget:focus {
        background-color: #634e42 !important;
        color:#fff;
        cursor: pointer;
    }
    .Adults:hover,
    .Adults:active,
    .Adults:focus{
        background-color: #634e42 !important;
        color:#fff;
        cursor: pointer;
    }
    .Kids:hover,
    .Kids:active,
    .Kids:focus{
        background-color: #634e42 !important;
        color:#fff;
        cursor: pointer;
    }
    .Teenagers:hover,
    .Teenagers:active,
    .Teenagers:focus{
        background-color: #634e42 !important;
        color:#fff;
        cursor: pointer;
    }
    .Senior:hover, .Senior:active, .Senior:focus {
        background-color: #634e42 !important;
        color:#fff;
        cursor: pointer;
    }
    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .selFmIco{
        font-size: 28px;
        color: #ec5136;
        position:  absolute;
        right: 11px;
        top: 47px;
    }
</style>

<section class="main-conceptboard-sec bg-light-gray pb40">

<div class="tab container">
    <h2 style="font-weight: 600;">Preferences</h2>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#family">Family</a></li>
        <li><a data-toggle="tab" href="#members">Members</a></li>
    </ul>

    <div class="tab-content userPref">
        <div id="home" class="tab-pane fade in active">
            <% if(typeof(userHomePreferencesDtls) !== 'undefined'){ %>
                <% _.each(userHomePreferencesDtls[0].userQues, function(userQuesdtl, j){ %>
                <div class="col-md-12">
                    <h2><%= userQuesdtl.questionnaire.questionDetails.name %></h2>

                    <% _.each(userQuesdtl.questionnaire.options, function(userOptsdtl, j){ %>
                    <div class="form-group <% if(userQuesdtl.questionnaire.questionDetails.name == 'Room'){ %> col-xs-2 <% }else{ %> col-xs-3 <% } %>">
                        <figure>
                            <% var idd = userOptsdtl.quesOptionid; %>
                            <% if(typeof(userOptsdtl.imageURL) !== 'undefined' && userOptsdtl.imageURL != ""){ %>
                                <img src="<%= userOptsdtl.imageURL %>" alt="<%= userOptsdtl.name %>"  id="<%= idd %>" class="wrap img-circle userques <%= userQuesdtl.questionnaire.questionDetails.name %>" data-element="<%= userQuesdtl.questionnaire.questionDetails.quesId %>" data-element1="<%= userOptsdtl.quesOptionid %>" data-element2="<%= userQuesdtl.questionnaire.questionDetails.name %>" width="100px" height="100px" <% if(typeof(userQuesdtl.userSelectedOption[0].optionId) !== 'undefined' && userQuesdtl.userSelectedOption[0].optionId == userOptsdtl.quesOptionid){ %> style="color: rgb(255, 255, 255); background-color: rgb(99, 78, 66);"<% } %> >
                                <figcaption><%= userOptsdtl.name %></figcaption>
                            <% }else{ %>
                                <% if((userQuesdtl.questionnaire.questionDetails.name == "Interiors Budget") || (userQuesdtl.questionnaire.questionDetails.name == "Size")){ %>
                                <div class="form-group">
                                    <button type="button" id="<%= idd %>" class="btn btn-light button4 btn-labeltxt userques <%= userQuesdtl.questionnaire.questionDetails.name %>" data-element="<%= userQuesdtl.questionnaire.questionDetails.quesId %>" data-element1="<%= userOptsdtl.quesOptionid %>" data-element2="<%= userQuesdtl.questionnaire.questionDetails.name %>" <% if(typeof(userQuesdtl.userSelectedOption[0].optionId) !== 'undefined' && userQuesdtl.userSelectedOption[0].optionId == userOptsdtl.quesOptionid){ %> style="width: 90px;color: rgb(255, 255, 255);background-color: rgb(99, 78, 66);" <% }else{%> style="width: 90px;" <% } %> ><%= userOptsdtl.name %></button>
                                </div>
                                <% }else{ %>
                                    <div class="form-group">
                                        <button type="button" id="<%= idd %>" class="btn btn-light btn-circle btn-labeltxt  userques <%= userQuesdtl.questionnaire.questionDetails.name %>" data-element="<%= userQuesdtl.questionnaire.questionDetails.quesId %>" data-element1="<%= userOptsdtl.quesOptionid %>" data-element2="<%= userQuesdtl.questionnaire.questionDetails.name %>" <% if(typeof(userQuesdtl.userSelectedOption[0].optionId) !== 'undefined' && userQuesdtl.userSelectedOption[0].optionId == userOptsdtl.quesOptionid){ %> style="color: rgb(255, 255, 255); background-color: rgb(99, 78, 66);"<% } %> ><%= userOptsdtl.name %></button>
                                    </div>
                                <% } %>
                            <% } %>
                        </figure>
                    </div>
                    <% }); %>

                </div>
                <% }); %>
        <div class="saveHome">
            <input type="submit" id="save_homeId" class="btn addcboard-btn" value="Save">
        </div>
            <% } %>
        <div class="clearfix"></div>
        </div>
        <div id="family" class="tab-pane">
                <% if(typeof(userFamilyPreferencesDtls) !== 'undefined'){ %>
                <% _.each(userFamilyPreferencesDtls[0].userQues, function(userQuesdtl, j){ %>

                    <% if(userQuesdtl.questionnaire.questionDetails.name == "We would like our home to be"){ %>
                        <div class="col-md-12">
                            <h2><%= userQuesdtl.questionnaire.questionDetails.name %></h2>
                            <% _.each(userQuesdtl.questionnaire.options, function(userOptsdtl, j){ %>
                            <% if(typeof(userOptsdtl.imageURL) !== 'undefined' && userOptsdtl.imageURL != ""){ %>
                            <div class="form-group col-md-4">
                                <figure>
                                    <img  id="<%= userOptsdtl.quesOptionid %>" src="<%= userOptsdtl.imageURL %>" alt="<%= userOptsdtl.name %>" data-element="<%= userQuesdtl.questionnaire.questionDetails.quesId %>" data-element1="<%= userOptsdtl.quesOptionid %>" data-element2="<%= userQuesdtl.questionnaire.questionDetails.name %>" class="wrap img-circle multiselectFamily clickAction userquesfamily"  width="300px" height="250px">
                                    <% if(typeof(userQuesdtl.userSelectedOption) !== 'undefined'){ %>
                                        <% _.each(userQuesdtl.userSelectedOption, function(userSelOptsdtl, k){ %>
                                            <% if(typeof(userSelOptsdtl.optionId) !== 'undefined' && userSelOptsdtl.optionId == userOptsdtl.quesOptionid){ %>
                                             <i id="idIcon<%= userOptsdtl.quesOptionid %>" class="fa fa-check-circle selFmIco" aria-hidden="true" style="display:block;"></i>
                                            <% }else{ %>
                                                <i id="idIcon<%= userOptsdtl.quesOptionid %>" class="fa fa-check-circle selFmIco" aria-hidden="true" style="display:none;"></i>
                                            <% } %>
                                        <% }); %>
                                    <% } %>

                                   <figcaption><%= userOptsdtl.name %></figcaption>
                                </figure>
                            </div>
                            <% }else{ %>
                            <div class="form-group col-xs-2">
                                <figure>
                                    <div class="form-group">
                                      <button class="btn btn-light btn-circle btn-labeltxt userquesfamily" data-element="<%= userQuesdtl.questionnaire.questionDetails.quesId %>" data-element1="<%= userOptsdtl.quesOptionid %>" data-element2="<%= userQuesdtl.questionnaire.questionDetails.name %>"><%= userOptsdtl.name %></button>
                                    </div>
                                </figure>
                            </div>
                            <% } %>

                            <% }); %>
                        </div>
                        <div class="clearfix"></div>
                    <% }else{ %>
                        <% if(userQuesdtl.questionnaire.questionDetails.name == "We love to" || userQuesdtl.questionnaire.questionDetails.name == "We usually do"){ %>
                            <div class="col-md-12">
                                <h2><%= userQuesdtl.questionnaire.questionDetails.name %></h2>
                                <% _.each(userQuesdtl.questionnaire.options, function(userOptsdtl, j){ %>

                                <% if(typeof(userOptsdtl.imageURL) !== 'undefined' && userOptsdtl.imageURL != ""){ %>
                                <div class="form-group col-md-2">
                                    <figure>

                                         <span  id="IconImage<%= userOptsdtl.quesOptionid %>" class="btn btn-labeltxt clickAction userquesfamily multiselectFam" style="padding: 0px 0px 0px 0px;
                                        <% if(typeof(userQuesdtl.userSelectedOption) !== 'undefined'){ %>
                                            <% _.each(userQuesdtl.userSelectedOption, function(userSelOptsdtl, k){ %>
                                               <% if(typeof(userSelOptsdtl.optionId) !== 'undefined' && userSelOptsdtl.optionId == userOptsdtl.quesOptionid){ %> background-color: rgb(99, 78, 66); <% } %>
                                            <% }); %>
                                        <% } %>
                                        " data-element="<%= userQuesdtl.questionnaire.questionDetails.quesId %>" data-element1="<%= userOptsdtl.quesOptionid %>" data-element2="<%= userQuesdtl.questionnaire.questionDetails.name %>">
                                        <img src="<%= userOptsdtl.imageURL %>" alt="<%= userOptsdtl.name %>" class="wrap img-circle "  width="80px" height="80px">
                                         </span>
                                        <figcaption><%= userOptsdtl.name %></figcaption>
                                    </figure>
                                </div>
                                <% }else{ %>
                                <div class="form-group col-xs-2">
                                    <figure>
                                        <div class="form-group ">
                                            <button id="butt<%= userOptsdtl.quesOptionid %>" name="<%= userOptsdtl.name %>" class="btn btn-light btn-circle btn-labeltxt multibutton userquesfamily cirbtn <%= userOptsdtl.name %>"  data-element="<%= userQuesdtl.questionnaire.questionDetails.quesId %>" data-element1="<%= userOptsdtl.quesOptionid %>" data-element2="<%= userQuesdtl.questionnaire.questionDetails.name %>" ><%= userOptsdtl.name %></button>
                                        </div>
                                    </figure>
                                </div>
                                <% } %>

                                <% }); %>
                            </div>
                            <div class="clearfix"></div>
                        <% }else{ %>
                            <div class="col-md-6">
                                <h2><%= userQuesdtl.questionnaire.questionDetails.name %></h2>
                                <% _.each(userQuesdtl.questionnaire.options, function(userOptsdtl, j){ %>

                                        <% if(typeof(userOptsdtl.imageURL) !== 'undefined' && userOptsdtl.imageURL != ""){ %>
                                        <div class="form-group col-md-2">
                                            <figure> <span  id="IconImage<%= userOptsdtl.quesOptionid %>"   class="btn btn-labeltxt clickAction userquesfamily multiselectFam" style="padding: 0px 0px 0px 0px;" data-element="<%= userQuesdtl.questionnaire.questionDetails.quesId %>" data-element1="<%= userOptsdtl.quesOptionid %>" data-element2="<%= userQuesdtl.questionnaire.questionDetails.name %>">
                                                <img src="<%= userOptsdtl.imageURL %>" alt="<%= userOptsdtl.name %>" class="wrap img-circle "  width="80px" height="80px"></span>
                                                <figcaption><%= userOptsdtl.name %></figcaption>
                                            </figure>
                                        </div>
                                        <% }else{ %>
                                        <div class="form-group col-xs-2">
                                            <figure>
                                                <div class="form-group ">
                                                    <button id="butt<%= userOptsdtl.quesOptionid %>"
                                                            name="<%= userOptsdtl.name %>"
                                                            class="btn btn-light btn-circle btn-labeltxt userquesfamily <%= userQuesdtl.questionnaire.questionDetails.name %>"
                                                            data-element="<%= userQuesdtl.questionnaire.questionDetails.quesId %>"
                                                            data-element1="<%= userOptsdtl.quesOptionid %>"
                                                            data-element2="<%= userQuesdtl.questionnaire.questionDetails.name %>"
                                                            <% if(typeof(userQuesdtl.userSelectedOption[0].optionId) !== 'undefined' && userQuesdtl.userSelectedOption[0].optionId == userOptsdtl.quesOptionid){ %> style="color: rgb(255, 255, 255); background-color: rgb(99, 78, 66);"<% } %>
                                                            >
                                                        <%= userOptsdtl.name %>
                                                    </button>
                                                </div>
                                            </figure>
                                        </div>
                                        <% } %>

                                <% }); %>
                            </div>
                        <% } %>
                    <% } %>
                <% }); %>
                <div class="saveHome">
                    <input type="submit" id="save_familyId" class="btn addcboard-btn" value="Save">
                </div>
            <% } %>
        </div>
        <div id="members" class="tab-pane">
            <div class="member-panel11">
                <div class="table-responsive">
                    <input type="button" class="btn addcboard-btn pull-right" onclick="showMemberModal()" value="Add New Member" />
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <td class="text-left"><a href="" class="asc">Customer Name</a>
                            </td>
                            <td class="text-left"><a href="" class="asc">Age Group</a>
                            </td>
                            <td class="text-left"><a href="" class="asc">Gender</a>
                            </td>
                           <!-- <td class="text-left"><a href="" class="asc">Work</a>
                            </td>
                            <td class="text-left"><a href="" class="asc">Hobby1</a>
                            </td>
                            <td class="text-left"><a href="" class="asc">Hobby2</a>
                            </td>
                            <td class="text-left"><a href="" class="asc">Hobby3</a>
                            </td>-->
                            <td class="text-right">Action</td>
                        </tr>
                        </thead>
                        <tbody>
                        <% if(typeof(allFamilyPreference) !== 'undefined'){ %>
                        <% _.each(allFamilyPreference[0].familyMembersList, function(userQuesdtl, j){ %>
                        <tr>

                            <td class="text-left"><%= userQuesdtl.memberName %></td>
                            <td class="text-left"> <%=userQuesdtl.age %></td>
                            <% if(userQuesdtl.gender=='0'){ %>
                            <td class="text-left">Male</td>
                            <% }else{ %>
                            <td class="text-left">Female</td>
                            <% } %>
                            <!--<td class="text-left">Computer Engineer</td>
                            <td class="text-left">Cooking</td>
                            <td class="text-left">Cyclying</td>
                            <td class="text-left">Painting</td>-->
                            <td class="text-right">
                               <a href="javascript:void(0);" data-toggle="tooltip" title="" class="btn btn-primary" id="edit_familyMemebr"  data-element="<%= userQuesdtl.memberId %>" data-original-title="Edit" onclick="editMemberModal()" ><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                        <% }); %>
                        <% } %>
                     <!--   <tr>
                            <td class="text-left">Shruthi</td>
                            <td class="text-left">19-25</td>
                            <td class="text-left">Female</td>
                            <td class="text-left">Computer Engineer</td>
                            <td class="text-left">Photography</td>
                            <td class="text-left">Dancing-Kuchipudi</td>
                            <td class="text-left">Bike Riding</td>
                            <td class="text-right">
                                <a href="javascript:void(0);" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit" onclick="showMemberModal()" ><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">Tushar</td>
                            <td class="text-left">19-25</td>
                            <td class="text-left">Male</td>
                            <td class="text-left">Computer Engineer</td>
                            <td class="text-left">Travelling</td>
                            <td class="text-left">Chess</td>
                            <td class="text-left">Bike Riding</td>
                            <td class="text-right">
                                <a href="javascript:void(0);" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit" onclick="showMemberModal()" ><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>-->
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" id="addMember-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div id="addMember-dtls" class="addcboard-container">
                            <form>
                                <div class="col-md-12">
                                    <h2>Name</h2>
                                    <div class="form-group col-md-6">
                                        <input type="Name" class="form-control" id="inputname" placeholder="Name">
                                    </div>
                                </div>
                                <!--<input type="hidden" id="memberId" value="0" />-->
                                <div class="col-md-12">
                                    <h2>Gender</h2>
                                    <div class="form-group col-md-6 gender-style">
                                        <input class="form-check-input" type="radio" name="gender" id="male" value="0">
                                        <label class="form-check-label" for="male">Male</label>
                                        <input class="form-check-input" type="radio" name="gender" id="female" value="1">
                                        <label class="form-check-label" for="female">Female</label>
                                    </div>
                                </div>
                                <% if(typeof(userMemebersPreferencesDtls) !== 'undefined'){ %>
                                <% _.each(userMemebersPreferencesDtls[0].userQuesAns.memberQuestionnaireList, function(memberQuesdtl, j){ %>


                                            <% if(memberQuesdtl.name == 'age'){ %>
                                                <div class="col-md-12">
                                                    <h2><%= memberQuesdtl.category[0].questionDetails.name %></h2>
                                                    <% _.each(memberQuesdtl.category[0].options, function(catopt, j){ %>
                                                    <div class="form-group col-xs-1" style="width: 13.333333%;padding: 0px 15px 0px 0px;">
                                                        <figure>
                                                            <div class="form-group">
                                                                <button type="button" class="btn btn-light button4 btn-labeltxt userMember" data-element="<%= memberQuesdtl.category[0].questionDetails.quesId %>" data-element1="<%= catopt.quesOptionid %>" data-element2="<%= catopt.name %>" style="width:90px;"><%= catopt.name %></button>
                                                            </div>
                                                        </figure>
                                                    </div>
                                                    <% }); %>
                                                </div>
                                            <% } %>
                                            <% if(memberQuesdtl.name == 'Occupation'){ %>
                                            <div class="col-md-12">
                                                <h2>Work</h2>
                                                <div class="form-group col-md-6">
                                                    <label for="inputcategory">Category</label>
                                                    <select id="inputcategory" class="form-control">
                                                        <option selected>Choose...</option>
                                                        <% _.each(memberQuesdtl.category, function(occupCat, j){ %>
                                                        <option value="<%= j %>" data-element="<%= occupCat.questionDetails.quesId %>"><%= occupCat.questionDetails.name %></option>
                                                        <% }); %>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputoccupation">Occupation</label>
                                                    <select id="inputoccupation" class="form-control">
                                                        <option selected>Choose...</option>
                                                        <% _.each(memberQuesdtl.category, function(occupCat, i){ %>
                                                                <% _.each(memberQuesdtl.category[i].options, function(occupopt, k){ %>
                                                                <option class="occ<%= i %> occnm" value="<%= i %>" data-element="<%= occupCat.questionDetails.quesId %>" data-element1="<%= occupopt.quesOptionid %>">
                                                                    <%= occupopt.name %>
                                                                </option>
                                                                <% }); %>
                                                        <% }); %>
                                                    </select>
                                                </div>
                                            </div>
                                            <% } %>
                                            <% if(memberQuesdtl.name == 'hobbies'){ %>
                                            <div class="col-md-12">
                                                <h2>Hobby1</h2>
                                                <div class="form-group col-md-6">
                                                    <label for="inputhobby1category">Category</label>
                                                    <select id="inputhobby1category" class="form-control">
                                                        <option selected>Choose...</option>
                                                        <% _.each(memberQuesdtl.category, function(occupCat, a){ %>

                                                        <option value="<%= a %>"><%= occupCat.questionDetails.name %></option>
                                                        <% }); %>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputhobby1">Hobbies</label>
                                                    <select id="inputhobby1" class="form-control">
                                                        <option selected>Choose...</option>
                                                        <% _.each(memberQuesdtl.category, function(occupCat, b1){ %>
                                                                <% _.each(memberQuesdtl.category[b1].options, function(occupopt, k){ %>
                                                                <option class="hob1<%= b1 %> hobnm1" value="<%= b1 %>" data-element="<%= occupCat.questionDetails.quesId %>" data-element1="<%= occupopt.quesOptionid %>">
                                                                    <%= occupopt.name %>
                                                                </option>
                                                                <% }); %>
                                                        <% }); %>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <h2>Hobby2</h2>
                                                <div class="form-group col-md-6">
                                                    <label for="inputhobby2category">Category</label>
                                                    <select id="inputhobby2category" class="form-control">
                                                        <option selected>Choose...</option>
                                                        <% _.each(memberQuesdtl.category, function(occupCat, a2){ %>

                                                        <option value="<%= a2 %>"><%= occupCat.questionDetails.name %></option>
                                                        <% }); %>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputhobby2">Hobbies</label>
                                                    <select id="inputhobby2" class="form-control">
                                                        <option selected>Choose...</option>
                                                        <% _.each(memberQuesdtl.category, function(occupCat, b2){ %>
                                                                <% _.each(memberQuesdtl.category[b2].options, function(occupopt, k){ %>
                                                                <option class="hob2<%= b2 %> hobnm2" value="<%= b2 %>" data-element="<%= occupCat.questionDetails.quesId %>" data-element1="<%= occupopt.quesOptionid %>">
                                                                    <%= occupopt.name %>
                                                                </option>
                                                                <% }); %>
                                                        <% }); %>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <h2>Hobby3</h2>
                                                <div class="form-group col-md-6">
                                                    <label for="inputhobby3category">Category</label>
                                                    <select id="inputhobby3category" class="form-control">
                                                        <option selected>Choose...</option>
                                                        <% _.each(memberQuesdtl.category, function(occupCat, a3){ %>

                                                        <option value="<%= a3 %>"><%= occupCat.questionDetails.name %></option>
                                                        <% }); %>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputhobby3">Hobbies</label>
                                                    <select id="inputhobby3" class="form-control">
                                                        <option selected>Choose...</option>
                                                        <% _.each(memberQuesdtl.category, function(occupCat, b3){ %>
                                                                <% _.each(memberQuesdtl.category[b3].options, function(occupopt, k){ %>
                                                                <option class="hob3<%= b3 %> hobnm3" value="<%= b3 %>"  data-element="<%= occupCat.questionDetails.quesId %>" data-element1="<%= occupopt.quesOptionid %>">
                                                                    <%= occupopt.name %>
                                                                </option>
                                                                <% }); %>
                                                        <% }); %>
                                                    </select>
                                                </div>
                                            </div>
                                            <% } %>
                                <% }); %>
                                <% } %>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <input type="button" id="save_familyMemebr" class="btn addcboard-btn" value="Save">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="editMember-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div id="editMember-dtls" class="addcboard-container">
                            </div>
                    </div>
                </div>


                <!--<div id="copymember">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">New Member</label>
                    <input type="Name" class="form-control" id="inputname" placeholder="Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputage">Age Group</label>
                    <select id="inputage" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-check form-check-inline form-group col-md-12 gender-style">
                    <label class="form-check-label">Gender</label>
                    <input class="form-check-input" type="radio" id="male" value="option1">
                    <label class="form-check-label" for="male">Male</label>
                    <input class="form-check-input" type="radio" id="female" value="option1">
                    <label class="form-check-label" for="female">Female</label>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label class="form-check-label">Work</label>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputcategory">Category</label>
                    <select id="inputcategory" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputoccupation">Occupation</label>
                    <select id="inputoccupation" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label class="form-check-label">Hobby 1</label>
                </div>
                <div class="form-group col-md-5">
                    <label for="input2ndcategory">Category</label>
                    <select id="input2ndcategory" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="input1sthobbies">Hobbies</label>
                    <select id="input1sthobbies" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label class="form-check-label">Hobby 2</label>
                </div>
                <div class="form-group col-md-5">
                    <label for="input3rdcategory">Category</label>
                    <select id="input3rdcategory" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="input2ndhobbies">Hobbies</label>
                    <select id="input2ndhobbies" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label class="form-check-label">Hobby 3</label>
                </div>
                <div class="form-group col-md-5">
                    <label for="input4thcategory">Category</label>
                    <select id="input4thcategory" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="input3rdhobbies">Hobbies</label>
                    <select id="input3rdhobbies" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon glyphicon-floppy-disk"></span> Save
                    </button>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <h3>Add Family Member  <span class="glyphicon glyphicon-plus" id="addfamily"></span></h3>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <button type="button" class="btn btn-primary btn-block">All Done</button>
                </div>
            </div>
            </div>-->
            </div>
        </div>
</div>

</div>

</section>
<script type="text/javascript">
var arr = new Array();
var ourhomearr = new Array();

var i=0;
$('.multiselectFamily').click(function (e) {

    var currentTarget = $(e.currentTarget);
    var familyoptId = currentTarget.attr('id');

    var quesid = currentTarget.data('element');
    var quesOptionid = currentTarget.data('element1');
    var quesName = currentTarget.data('element2');

        if($.inArray(familyoptId, arr) != '-1') {
            $("#"+familyoptId).css("border","0px solid black ");
            $("#idIcon"+familyoptId).css("display", "none");
            var weWouldLikeOurHomeToBe = {};
            arr.pop(familyoptId);
            weWouldLikeOurHomeToBe['optionId'] = quesOptionid;
            weWouldLikeOurHomeToBe['quesAnsId'] = quesOptionid;
            weWouldLikeOurHomeToBe['quesName'] = quesName;
            weWouldLikeOurHomeToBe['optionType'] = 2;
            weWouldLikeOurHomeToBe['selectionStatus'] = 1;
            weWouldLikeOurHomeToBe['userOptionDesc'] = "";
            ourhomearr.pop(weWouldLikeOurHomeToBe);
        } else {
            $("#"+familyoptId).css("border","0px solid black");
            $("#idIcon"+familyoptId).css("display", "block");
            var weWouldLikeOurHomeToBe = {};
            arr.push(familyoptId);
            weWouldLikeOurHomeToBe['optionId'] = quesOptionid;
            weWouldLikeOurHomeToBe['optionType'] = 2;
            weWouldLikeOurHomeToBe['quesAnsId'] = quesOptionid;
            weWouldLikeOurHomeToBe['quesName'] = quesName;
            weWouldLikeOurHomeToBe['selectionStatus'] = 1;
            weWouldLikeOurHomeToBe['userOptionDesc'] = "";
            ourhomearr.push(weWouldLikeOurHomeToBe);
        }

        console.log("+++++++++++++ Tushar weWouldLikeOurHomeToBe +++++++++++++++++");
        console.log(ourhomearr);
        console.log("+++++++++++++++++++++++++++++++++++++++++");

         filter.set({'selectedArr': ourhomearr});
         filter.trigger('change');
});


var ourweLoveTO = new Array();
var ourweusallyDo = new Array();
$('.multiselectFam').click(function (e) {
    var currentTarget = $(e.currentTarget);
    var familyoptId = currentTarget.attr('id');

    var Optionid = currentTarget.data('element');
    var quesOptionid = currentTarget.data('element1');
    var quesName = currentTarget.data('element2');

        if($.inArray(familyoptId, arr) != '-1') {
            $("#"+familyoptId).css("background-color","");

            var weLoveTO = {};
            var weusallyDo = {};
            arr.pop(familyoptId);
            if(quesName== "We love to"){
                weLoveTO['optionId'] = quesOptionid;
                weLoveTO['quesAnsId'] = quesOptionid;
                weLoveTO['quesName'] = quesName;
                weLoveTO['optionType'] = 2;
                weLoveTO['selectionStatus'] = 1;
                weLoveTO['userOptionDesc'] = "";
                ourweLoveTO.pop(weLoveTO);
             }
            if(quesName=="We usually do"){

                weusallyDo['optionId'] = quesOptionid;
                weusallyDo['quesAnsId'] = quesOptionid;
                weusallyDo['quesName'] = quesName;
                weusallyDo['optionType'] = 2;
                weusallyDo['selectionStatus'] = 1;
                weusallyDo['userOptionDesc'] = "";
                ourweusallyDo.pop(weusallyDo);
            }
        } else {
            $("#"+familyoptId).css("background-color","rgba(99,78,66,1)");

            var weLoveTO = {};
            var weusallyDo = {};
            arr.push(familyoptId);
               if(quesName== "We love to"){
                weLoveTO['optionId'] = quesOptionid;
                weLoveTO['quesAnsId'] = quesOptionid;
                weLoveTO['quesName'] = quesName;
                weLoveTO['optionType'] = 2;
                weLoveTO['selectionStatus'] = 1;
                weLoveTO['userOptionDesc'] = "";
                ourweLoveTO.push(weLoveTO);
             }
            if(quesName=="We usually do"){
                weusallyDo['optionId'] = quesOptionid;
                weusallyDo['quesAnsId'] = quesOptionid;
                weusallyDo['quesName'] = quesName;
                weusallyDo['optionType'] = 2;
                weusallyDo['selectionStatus'] = 1;
                weusallyDo['userOptionDesc'] = "";
                ourweusallyDo.push(weusallyDo);
            }
        }

        console.log("+++++++++++++Tushar+++++++++++++++++");
        console.log(ourweLoveTO);
        console.log("+++++++++++++++++++++++++++++++++++++++++");
                console.log(ourweusallyDo);


         filter.set({'selectedweLoveTO': ourweLoveTO});
         filter.set({'selectedweusallyDo': ourweusallyDo});
         filter.trigger('change');
});



</script>


<script>

function showMemberModal(){
    $('#addMember-modal').modal('toggle');
}
function editMemberModal(){
    $('#editMember-modal').modal('toggle');
}

$(document).ready(function() {
  $('#inputcategory').change(function() {
        //alert($(this).val());
        var selWork = $(this).val();
        if(selWork != ""){
            $(".occnm").css('display','none');
            $(".occ"+selWork).css('display','block');
        }
  });
  $('#inputhobby1category').change(function() {
        //alert($(this).val());
        var selHob1 = $(this).val();
        if(selHob1 != ""){
            $(".hobnm1").css('display','none');
            $(".hob1"+selHob1).css('display','block');
        }
  });
  $('#inputhobby2category').change(function() {
        //alert($(this).val());
        var selHob2 = $(this).val();
        if(selHob2 != ""){
            $(".hobnm2").css('display','none');
            $(".hob2"+selHob2).css('display','block');
        }
  });

  $('#inputhobby3category').change(function() {
        //alert($(this).val());
        var selHob3 = $(this).val();
        if(selHob3 != ""){
            $(".hobnm3").css('display','none');
            $(".hob3"+selHob3).css('display','block');
        }
  });
});

</script>