<div class="bg-white kitchen-accessories">
    <section class="accessories-page-heading">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="text-center pt50 mob-padding-top-0">
                        <h2 class="kitchen-head"> Accessories </h2>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-10">
                    <p class="text-center pb20">
                        Tired of using mismatched cups and saucers simply because you can't
                        find the pair? Well no need to worry about that anymore. With this
                        Cup and Saucer Combination inlet, you can store those cup and saucer
                        pairs together. Being organized and having your tea set close on hand
                        can be amazing, especially if you tend to have unexpected guests over
                        for a cuppa on a regular basis.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="accessories-page-drawers">
        <div class="drawers-section position-relative">
            <div class="container-fluid some-name">
                <div class="row">
                    <div class="tab-content ward">
                        <div role="tabpanel" class="tab-pane drawers-img active" id="thail-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860231/accessories/Cargotech_Plain_basket_-_thali_inlet-min.jpg" alt="thali_inlet">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860551/accessories/mob/thali_inlet.jpg" alt="thali_inlet">
                        </div>
                        <div role="tabpanel" class="tab-pane drawers-img" id="combo-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860244/accessories/Cup___Saucer_Combo_Inlet_-min.jpg" alt="wardrobe">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860551/accessories/mob/Combo-Inlet.jpg" alt="wardrobe">
                        </div>
                        <div role="tabpanel" class="tab-pane drawers-img" id="pot-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860244/accessories/Crosswise-railing-for-Pot-_-Pan-drawer-min.jpg" alt="wardrobe">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860552/accessories/mob/Pot___Pan_rawer.jpg" alt="wardrobe">
                        </div>
                        <div role="tabpanel" class="tab-pane drawers-img" id="orgatray-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860246/accessories/OrgaTray-560--min.jpg" alt="wardrobe">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860552/accessories/mob/OrgaTray.jpg" alt="wardrobe">
                        </div>
                        <div role="tabpanel" class="tab-pane drawers-img" id="orgaflag-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860246/accessories/Orga_Flag_800-min.jpg" alt="wardrobe">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860552/accessories/mob/Orga_Flag.jpg" alt="wardrobe">
                        </div>
                        <div role="tabpanel" class="tab-pane drawers-img" id="platerack-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860243/accessories/Plate-Rack-min.jpg" alt="wardrobe">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860552/accessories/mob/Plate_rack.jpg" alt="wardrobe">
                        </div>
                    </div>
                    <div class="kitchen-tab">
                        <div class="col-md-offset-3 col-md-offset-3 col-md-8 text-center pt20 mob-padding-top-0">
                                <h2 class="kitchen-head">
                                    Drawer Inside
                                </h2>
                                <div class="card kitchen-card">
                                    <ul class="nav nav-tabs nav-justified" role="tablist">
                                        <li id="thail" class="drawers-lnk active" role="presentation">
                                            <a aria-controls="related-image" role="tab" data-toggle="tab"> Thali Inlet </a>
                                        </li>
                                        <li id="combo" class="drawers-lnk" role="presentation">
                                            <a aria-controls="related-collection" role="tab" data-toggle="tab">  Combo Inlet </a>
                                        </li>
                                        <li id="pot" class="drawers-lnk" role="presentation">
                                            <a aria-controls="related-collection" role="tab" data-toggle="tab">  Pot & Pan Drawer </a>
                                        </li>
                                        <li id="orgatray" class="drawers-lnk" role="presentation">
                                            <a aria-controls="related-collection" role="tab" data-toggle="tab">  Orgatray </a>
                                        </li>
                                        <li id="orgaflag" class="drawers-lnk" role="presentation">
                                            <a aria-controls="related-collection" role="tab" data-toggle="tab">  Orgaflag </a>
                                        </li>
                                        <li id="platerack" class="drawers-lnk" role="presentation">
                                            <a aria-controls="related-collection" role="tab" data-toggle="tab">  Plate Rack </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane drawers-cnt active" id="thail-content">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="drawers-details">
                                                        <p>
                                                            Essential to your everyday family dining are your thalis.
                                                            Rather than stacking them on the platform, open to the elements,
                                                            this plan basket with Thali wire holders in a pull-out drawers,
                                                            gives your plates a dedicated space. It allows the plates to drip
                                                            dry and stay away from pests. An easy way to stay organized.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane drawers-cnt" id="combo-content">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="drawers-details">
                                                        <p>
                                                            Tired of using mismatched cups and saucers simply because
                                                            you can't find the pair? Well no need to worry about that
                                                            anymore. With this Cup and Saucer Combination inlet, you
                                                            can store those cup and saucer pairs together. Being organized
                                                            and having your tea set close on hand can be amazing, especially
                                                            if you tend to have unexpected guests over for a cuppa on a regular basis.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane drawers-cnt" id="pot-content">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="drawers-details">
                                                        <p>
                                                            How many times have you ended up stacking things one over
                                                            the other in your drawers, only to make a mess when looking
                                                            for this? No need to do that anymore with the crosswise railing
                                                            for pots and pans. This allows you to keep your vessels, large
                                                            and small in an erect position. It keeps the interiors of your
                                                            drawers more organized and allows you to see what you need instantly.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane drawers-cnt" id="orgatray-content">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="drawers-details">
                                                        <p>
                                                            Wouldn't you appreciate a drawer organizer that can be flexible?
                                                            Well this one allows you to do just that. It comes in two flexible
                                                            parts that may be arranged based on your particular needs. It as
                                                            individual compartments to take on varied sizes of products, yet
                                                            keep them all organized. No more digging in drawers and spending
                                                            time making place for things.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane drawers-cnt" id="orgaflag-content">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="drawers-details">
                                                        <p>
                                                            This pot and pan drawer accessory is designed to hold vessels
                                                            and have them separated with little flags that are movable.
                                                            This ensures that you always have space to accommodate the odd
                                                            sized vessel. Great for bowls, pots and pans and the like, this
                                                            is an accessory that allows organized stacking of your essentials.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane drawers-cnt" id="platerack-content">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="drawers-details">
                                                        <p>
                                                            This plate rack will keep you good plates in an organized layout,
                                                            saving you the hassle of ensuring that they are not scratched when
                                                            stacked together. The rack gives each plate its own slot, equividistant
                                                            from each other. This allows you to have a beautifully organized drawers
                                                            and have your best plates on display as well.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="accessories-page-sink">
        <div class="sink-section position-relative">
            <div class="container-fluid some-name">
                <div class="row">
                    <div class="tab-content ward">
                        <div role="tabpanel" class="tab-pane sink-img active" id="detergent-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860244/accessories/detergent-holder-min.jpg" alt="thali_inlet">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860551/accessories/mob/detergent_holder.jpg" alt="thali_inlet">
                        </div>
                        <div role="tabpanel" class="tab-pane sink-img" id="dustbin-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860244/accessories/dustbin-min.jpg" alt="wardrobe">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860551/accessories/mob/dust_bin.jpg" alt="wardrobe">
                        </div>
                    </div>
                    <div class="kitchen-tab-sink">
                        <div class="col-sm-offset-5 col-md-offset-6 col-md-6 text-center pt20 mob-padding-top-0">
                            <h2 class="kitchen-head">
                                Sink Accessories
                            </h2>
                            <div class="card kitchen-card">
                                <div class="row">
                                    <div class="col-sm-offset-3  col-md-offset-3 col-sm-6 col-md-6">
                                        <ul class="nav nav-tabs nav-justified" role="tablist">
                                            <li id="detergent" class="sink-lnk active" role="presentation">
                                                <a aria-controls="related-image" role="tab" data-toggle="tab"> Detergent holder & Water Proof Mat </a>
                                            </li>
                                            <li id="dustbin" class="sink-lnk" role="presentation">
                                                <a aria-controls="related-collection" role="tab" data-toggle="tab"> Dustbin & Water Proof Mat </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane sink-cnt active" id="detergent-content">
                                        <div class="row">
                                            <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                                                <div class="drawers-details">
                                                    <p>
                                                        Essential to your everyday family dining are your thalis.
                                                        Rather than stacking them on the platform, open to the elements,
                                                        this plan basket with Thali wire holders in a pull-out drawers,
                                                        gives your plates a dedicated space. It allows the plates to drip
                                                        dry and stay away from pests. An easy way to stay organized.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane sink-cnt" id="dustbin-content">
                                        <div class="row">
                                            <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                                                <div class="drawers-details">
                                                    <p>
                                                        Tired of using mismatched cups and saucers simply because
                                                        you can't find the pair? Well no need to worry about that
                                                        anymore. With this Cup and Saucer Combination inlet, you
                                                        can store those cup and saucer pairs together. Being organized
                                                        and having your tea set close on hand can be amazing, especially
                                                        if you tend to have unexpected guests over for a cuppa on a regular basis.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="accessories-page-splash">
        <div class="splash-section position-relative">
            <div class="container-fluid some-name">
                <div class="row">
                    <div class="tab-content ward">
                        <div role="tabpanel" class="tab-pane splash-img active" id="rack-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860245/accessories/Multi-purpose-rack-_-hafele-_-min.jpg" alt="thali_inlet">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860552/accessories/mob/multipurpose.jpg" alt="thali_inlet">
                        </div>
                        <div role="tabpanel" class="tab-pane splash-img" id="hook-img">
                            <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860245/accessories/Multi-hook-min.jpg" alt="wardrobe">
                            <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860552/accessories/mob/multihook.jpg" alt="wardrobe">
                        </div>
                    </div>
                    <div class="kitchen-tab">
                        <div class="col-sm-offset-5 col-md-offset-6 col-md-6 text-center pt40 mob-padding-top-0">
                            <h2 class="kitchen-head">
                                Over Splash Panel
                            </h2>
                            <p>
                                In this day and age of waste segregation, having a dustbin or two fitted under you sink
                                is good idea. This keep waste out of sight and also out of reach of pets and pests that
                                tend to make a beeline for waste bins. It is also the ideal place to have a dustbin
                                enabling the clearing of waste and then the immediate washing of a utensil or crockery.
                                Choose from a range of styles for this.
                            </p>
                            <div class="card kitchen-card">
                                <div class="row">
                                    <div class="col-sm-offset-2  col-md-offset-2 col-sm-8 col-md-8">
                                        <ul class="nav nav-tabs nav-justified" role="tablist">
                                            <li id="rack" class="splash-lnk active" role="presentation">
                                                <a aria-controls="related-image" role="tab" data-toggle="tab"> Multi purpose rack  </a>
                                            </li>
                                            <li id="hook" class="splash-lnk" role="presentation">
                                                <a aria-controls="related-collection" role="tab" data-toggle="tab"> Multi Hook </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane splash-cnt active" id="rack-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        Mid way systems are those that come in handy over the working platform of your kitchen.
                                                        They help you stay organized, while creating more space on the platform.
                                                        Usually suspended from railings below kitchen cabinetry, you will find
                                                        mid-way systems to suit a range of different purposes.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane splash-cnt" id="hook-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="drawers-details">
                                                    <p>
                                                        You don't often realize it but you tend to have a number of towels or wiping cloths
                                                        in the kitchen. Some to hold vessels, others to clean the platform and definitely a
                                                        few to wipe your hands. Rather than have these towels strewn all over your kitchen,
                                                        an organized towel rack keeps them all in place and ensures that you don't end up
                                                        using one for another.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="accessories-page-wine">
        <div class="wine-section position-relative">
            <div class="container-fluid">
                <div class="row">
                    <div class="wine-bg">
                        <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860244/accessories/Wine-glass-holder-min.jpg" alt="thali_inlet">
                        <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1476860551/accessories/mob/Wine_glass_holder.jpg" alt="thali_inlet">
                    </div>
                    <div class="kitchen-tab">
                        <div class="col-sm-offset-5 col-md-offset-6 col-md-6 text-center pt40 mob-padding-top-0">
                            <h2 class="kitchen-head">
                                Wine glass holder
                            </h2>
                            <p>
                                Multi-hooks serve multi-purposes. Use them for a range of things - hooking up your small appliances,
                                your large cutlery, your small kitchen cloths. In fact, the options of how they may be used are endless.
                                They may be moved around on their rods making them accessible across your working area.
                                This adds to its utility in your kitchen space.
                            </p>
                            <p>
                                Do you have all your wine glasses sharing space in a cabinet? Are you always worried about
                                them clinking together and cracking. Wine glasses are delicate and need a sturdy space of
                                their own. This wine glass holder will do just that, making a wonderful display of your
                                glasses yet keeping them safe and close on hand for a quiet evening.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>