<section class="padding50-0 bg-color-white">
    <div class="container-fluid">

        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="ratio4-3 center">

                        <br>
                        <h1>Page Not Found <small><font face="Tahoma" color="red"></font></small></h1>
                        <br />
                        <h4><b>The page you requested could not be found, may be page will not be available.</b></h4>
                        <p><b>Or you could just press this neat little button:</b></p>
                        <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
                    </div>

                    <!-- By ConnerT HTML & CSS Enthusiast -->
                </div>
            </div>
        </div>


    </div>
</section>
