<!--<div class="og-navbar">-->
    <!--<div class="row">-->
        <!--<div class="col-lg-4" align="left">-->
            <!--<ul class="header-ul">-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<img src="img/logo.png" align="top" alt="myGubbi"/>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-lg-4" align="center">-->
            <!--<ul class="header-ul">-->
                <!--<li><input style="width: 90%; height: 35px;" name="searchNav" type="text"-->
                           <!--placeholder="Search Products, Designs, Stories &amp; More..." spellcheck="false">-->
                <!--</li>-->
                <!--<li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-lg-4" align="right">-->
            <!--<ul class="header-ul">-->
                <!--<li><a href="#" style="font-size: 18px">-->
                    <!--<span style="margin-top: 15px; font-size: 18px" class="fa fa-check-square-o"></span>-->
                    <!--Shortlist</a>-->
                <!--</li>-->
                <!--<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>-->
                <!--<li>-->
                    <!--<a href="#" style="font-size: 18px; margin-right: 30px;"><span-->
                            <!--style="margin-top: 10px; font-size: 18px"-->
                            <!--class="glyphicon glyphicon-user"></span><%= ' ' + (userLogin.isLoggedIn() ? userLogin.get('name') : 'User Profile') %></a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div id="g-login-btn" style="visibility: <%= userLogin.isLoggedIn() ? 'hidden' : 'visible' %>">-->
                        <!--<span class="icon"></span>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<button style="visibility: <%= userLogin.isLoggedIn() && userLogin.isProviderGoogle() ? 'visible' : 'hidden' %>" id="g-logout-btn" onclick="gLogout();">Logout</button>-->
                <!--</li>-->

                <!--<li>-->
                    <!--<div id="fb-login-btn" style="visibility: <%= userLogin.isLoggedIn() ? 'hidden' : 'visible' %>" class="fb-login-button" data-scope="public_profile,email" data-max-rows="1" data-size="icon" data-show-faces="false" onlogin="checkLoginState();"></div>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<button style="visibility: <%= userLogin.isLoggedIn() && userLogin.isProviderFb() ? 'visible' : 'hidden' %>" id="fb-logout-btn" onclick="fbLogout();">Logout</button>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-sm-12">&nbsp;</div>-->
    <!--</div>-->
    <!--<hr class="hr-sm-top"/>-->
    <!--<div class="row">-->
        <!--<div class="col-lg-6">-->
            <!--<ul class="header-ul header-ul-center">-->
                <!--<% categories.each(function(category){ %>-->
                    <!--<% if (category.get('subCategories').length === 0) { %>-->
                        <!--<li><a href='#products/<%=category.code%>'><%=category.get('name')%></a></li>-->
                    <!--<% } else { %>-->
                        <!--<li>-->
                            <!--<div class="dropdown">-->
                                <!--<button class="btn og-navbar-btn-face dropdown-toggle" type="button" id="dropdownMenu<%=category.code%>"-->
                                        <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                                    <!--<%=category.get('name')%>-->
                                    <!--<span class="caret"></span>-->
                                <!--</button>-->
                                <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu<%=category.code%>">-->
                                <!--<% category.get('subCategories').each(function(subCategory){ %>-->
                                    <!--<li><a href="#products/<%=category.get('code')%>/<%=subCategory.get('code')%>"><%=subCategory.get('name')%></a></li>-->
                                <!--<% }); %>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--<% } %>-->
                    <!--<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>-->
                <!--<% }); %>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-lg-6">-->
            <!--<ul class="header-ul header-ul-center">-->
                <!--<li><a href="#">DESIGNS</a></li>-->
                <!--<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>-->
                <!--<li><a href="#">PRODUCTS</a></li>-->
                <!--<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>-->
                <!--<li><a href="#">STORIES</a></li>-->
                <!--<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>-->
                <!--<li class="og-action"><a href="#">CONSULT</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--<hr class="hr-sm-bottom"/>-->
    <!--<div id="status">-->
    <!--</div>-->
<!--</div>-->

<!--<script>-->

<!--/* todo: change google id for production */-->

<!--var googleUser = {};-->
<!--var gInit = function() {-->
    <!--gapi.load('auth2', function(){-->
      <!--auth2 = gapi.auth2.init({-->
        <!--client_id: '614659587896-i8jj7i9cdmkbtt44888egia9r4l03tne.apps.googleusercontent.com',-->
        <!--cookiepolicy: 'single_host_origin',-->
        <!--// Request scopes in addition to 'profile' and 'email'-->
        <!--//scope: 'additional_scope'-->
      <!--});-->
      <!--attachSignin(document.getElementById('g-login-btn'));-->
    <!--});-->
<!--};-->

<!--function attachSignin(element) {-->
    <!--auth2.attachClickHandler(element, {}, onGLogin, onGLoginFailure);-->
<!--}-->

<!--function onGLoginFailure(error) {-->
    <!--console.log(JSON.stringify(error, undefined, 2));-->
<!--}-->

<!--function onGLogin(googleUser) {-->
    <!--var profile = googleUser.getBasicProfile();-->
    <!--userLogin.setAndLogin(profile.getName(), profile.getEmail(), profile.getImageUrl(), "google");-->
    <!--$("#g-logout-btn").show();-->
<!--}-->

<!--function gLogout() {-->
    <!--var auth2 = gapi.auth2.getAuthInstance();-->
    <!--var that = this;-->
    <!--auth2.signOut().then(function () {-->
        <!--that.userLogin.clear();-->
        <!--location.reload();-->
    <!--});-->
<!--}-->

<!--gInit();-->

<!--/* Facebook integration starts here */-->

<!--function statusChangeCallback(response) {-->
    <!--if (response.status === 'connected') {-->
      <!--onFbLogin();-->
    <!--} else if (response.status === 'not_authorized') {-->
       <!--FB.login();-->
    <!--} else {-->
      <!--console.log('Please log into Facebook.');-->
    <!--}-->
<!--}-->

<!--function onFbLogin() {-->
    <!--var that = this;-->
    <!--FB.api('/me', function(response) {-->
        <!--that.userLogin.setAndLogin(response.name, response.email, "", "facebook");-->
        <!--$("#fb-logout-btn").show();-->
    <!--});-->
<!--}-->

<!--function fbLogout() {-->
    <!--var that = this;-->
    <!--FB.logout(function(response) {-->
        <!--that.userLogin.clear();-->
        <!--location.reload();-->
    <!--});-->
<!--}-->

<!--function checkLoginState() {-->
    <!--FB.getLoginStatus(function(response) {-->
      <!--statusChangeCallback(response);-->
    <!--});-->
<!--}-->

<!--/* todo: change FB app id for production */-->
<!--window.fbAsyncInit = function() {-->
    <!--FB.init({-->
        <!--appId      : '931653923587328',-->
        <!--status     : true,-->
        <!--cookie     : true,-->
        <!--xfbml      : true,-->
        <!--version    : 'v2.5'-->
    <!--});-->

    <!--FB.Event.subscribe('auth.login', statusChangeCallback);-->
<!--};-->

<!--(function(d, s, id){-->
     <!--var js, fjs = d.getElementsByTagName(s)[0];-->
     <!--if (d.getElementById(id)) {return;}-->
     <!--js = d.createElement(s); js.id = id;-->
     <!--js.src = "//connect.facebook.net/en_US/sdk.js";-->
     <!--fjs.parentNode.insertBefore(js, fjs);-->
<!--}(document, 'script', 'facebook-jssdk'));-->

<!--</script>-->


<!-- Navigation -->
<nav class="navbar navbar-default navbar-shrink navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <div class="navbar-brand page-scroll padding0">
                <a href="#">
                    <img src="img/logos/logo.png" class="full_logo" alt="">
                    <img
                            src="img/logo_icon/48x48.png"
                            class="small_logo"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"
                            alt="">
                </a>
            </div>
            <div class="nav navbar-nav navbar-right menu-icon float-right font-size18 margin0">
                <a href="#" class="consult">Consult</a>
                <span class="padding10 consult_icon">
                    <a href="#">
                        <img src="/img/query.png" class="consult_icon_height">
                    </a>
                </span>
                <span class="glyphicon glyphicon-search search"></span>

                <% if(typeof(usersl) !== 'undefined' && ((Object.keys(usersl).length - 1) !== 0)) { %>
                <span class="glyphicon glyphicon-heart wishlist user" id="wish">
                    <span class="super-script"><%= Object.keys(usersl).length - 1 %></span>
                </span>
                <% } else { %>
                <span class="glyphicon glyphicon-heart-empty wishlist user"></span>
                <% } %>

                <span class="glyphicon glyphicon-user user"></span>
            </div>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav menu-right">
                <li>
                    <a
                            class="dropdown-toggle"
                            id="dropdownMenu_livndin"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="true">
                        Living & Dining
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu drop" aria-labelledby="dropdownMenu">

                        <li><a href="#products/livingndining/entunit">Entertainment Unit</a></li>

                        <li><a href="#products/livingndining/shoerack">Shoe Rack</a></li>

                        <li><a href="#products/livingndining/crockunit">Crockery Unit</a></li>

                        <li class="all">
                            <hr class="allhr"/>
                            <a href="#products/livingndining">ALL</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a
                            class="dropdown-toggle"
                            id="dropdownMenu_kitchen"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="true">
                        Kitchen
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu drop" aria-labelledby="dropdownMenu">

                        <li><a href="#products/kitchen/lshapedk">L Shaped Kitchen</a></li>

                        <li><a href="#products/kitchen/ushapedk">U Shaped Kitchen</a></li>

                        <li><a href="#products/kitchen/straightk">Straight Kitchen</a></li>

                        <li><a href="#products/kitchen/parallelk">Parallel Kitchen</a></li>

                        <li class="all">
                            <hr class="allhr"/>
                            <a href="#products/kitchen">ALL</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a
                            class="dropdown-toggle"
                            id="dropdownMenu_bedroom"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="true">
                        Bedroom
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu drop" aria-labelledby="dropdownMenu">

                        <li><a href="#products/bedroom/wardrobe">Wardrobe</a></li>

                        <li><a href="#products/bedroom/studytable">Study Table</a></li>

                        <li><a href="#products/bedroom/sidetable">Side Table</a></li>

                        <li><a href="#products/bedroom/bookrack">Book Rack</a></li>

                        <li class="all">
                            <hr class="allhr"/>
                            <a href="#products/bedroom">ALL</a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="#">Stories</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- Navigation End -->

<!-- User PopUp -->
<div class="userpop">
    <div class="userpop-content">
        <% if(typeof(usercln) !== 'undefined') { %>
        <h3>
            <% if((typeof(usercln.image) !== 'undefined') || usercln.image !== NULL) { %>
            <img src="<%= imgBase + usercln.image %>">
            <% }else { %>
            <img src="img/user.png">
            <% } %>
            <span class="user_name">
                <%= usercln.firstName %>
            </span>
            <span class="fa fa-sign-out signout_icon"
                  data-toggle="tooltip"
                  data-placement="left"
                  title="Sign Out"></span>
            <!--<img-->
                    <!--src="img/signout.png"-->
                    <!--class="signout_icon"-->
                    <!--data-toggle="tooltip"-->
                    <!--data-placement="left"-->
                    <!--title="Sign Out">-->
        </h3>
        <div class="row">
            <div class="col-md-8 col-xs-8 padding0">
                <h4>Items Shortlisted</h4>
            </div>
            <div class="col-md-4 col-xs-4 padding0 align-right">
                <a href="#" class="button-orange">view all</a>
            </div>
        </div>
        <div class="row shortlist">
            <div class="col-md-12 padding0">
                <% if(typeof(usersl) !== 'undefined' && ((Object.keys(usersl).length - 1) !== 0)) {
                    var count = 0;
                _.each(usersl, function(sl){
                if(typeof(sl.name) !== 'undefined'){ %>
                <div class="margin-top20 padding-bottom10">
                    <%= ++count + ". " + sl.name %>
                </div>
                <div class="row">
                    <div class="col-md-7 padding0">
                        <img src="<%= imgBase + 'c_fill/' + sl.image %>" class="shortlist-thumb">
                    </div>
                    <div class="col-md-5">
                        <% if((sl.price > 100) && (sl.price !== 'NULL') && (typeof(sl.price) !== 'undefined')) { %>
                        &#8377; <%= " " + sl.price %>
                        <% } else {%>
                        <a href="#" class="font-size12 available">Available for Consultation</a>
                        <% } %>
                        <span class="button shortlist-remove">remove</span>
                    </div>
                </div>
                <% } }); } else { %>
                <div class="margin-top20">
                    <div class="row padding10">
                        <span>Oops! No items in your wishlist...</span>
                    </div>
                    <div class="row padding10">
                        <span>Explore our wide range of furniture & decor items.</span>
                    </div>
                    <div class="row padding10">
                        <span>And save them for your quick reference in future...</span>
                    </div>
                    <div class="row padding10 align-center">
                        <span class="button">Explore...</span>
                    </div>
                </div>
                <% } %>
            </div>
        </div>

        <% } else { %>
        <h2>
            <img src="img/user.png">
            My Account
        </h2>
        <div class="row">
            <div class="margin-bottom20">
                <p class="margin0">Email ID</p>
                <input type="text" class="width100" placeholder="abc@xyz.com"/>
            </div>
            <div class="margin-bottom20">
                <p class="margin0">Password</p>
                <input type="password" class="width100"/>
            </div>
            <div class="margin-bottom20">
                <input type="checkbox" name="remember" value="1"/> Remember Me
            </div>
            <div class="padding20-0">
                <div class="col-md-6 padding0">
                    <a href="#" class="button margin-top20 margin-bottom20">sign in</a>
                </div>
                <div class="col-md-6 padding0 align-right">
                    <a
                        href="#"
                        data-toggle="modal"
                        data-target="#forgot_password">
                        Forgot Password??
                    </a>
                </div>
            </div>
        </div>

        <div class="row margin-top20 padding-top30 margin-bottom20">
            <p class="align-center">OR</p>
            <div class="margin-bottom40">
                <p>
                    Use your favourite social account
                </p>
                <ul class="list-inline social-buttons align-center">
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google"></i></a>
                    </li>
                </ul>
            </div>
            <div class="margin-bottom20">
                <p class="font-size12">
                    And, if you are new to OrangeGubbi.com
                </p>
                <p>
                    <a href="#"
                       id="new_reg"
                       data-toggle="modal"
                       data-target="#signup">
                        Create a new Account
                    </a> - It’s Free!
                </p>
            </div>
        </div>
        <% } %>

    </div>

    <div class="userpop-footer align-center">
        <p class="font-size10">
            <a href="#">Terms of use</a>|
            <a href="#">Privacy Policy</a>
        </p>
        <p class="font-size9">
            &copy; 2015 MyGubbi.com All rights reserved
        </p>
    </div>

    <div class="close-icon" onclick="closePopup('.userpop');">
        <img src="img/close-white.png">
    </div>

</div>
<!-- User PopUp End -->

<!-- Forgot Password Modal -->
<div id="forgot_password" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content signup">
            <h2>Forgot Password</h2>
            <div class="row">
                <div class="margin-bottom20">
                    <p class="margin0">Enter your registered email Id</p>
                    <input type="text" class="width100" placeholder="abc@xyz.com"/>
                </div>
                <div class="padding20-0 align-center" id="reset_password">
                    <a
                        href="#"
                        class="button margin-top20 margin-bottom20">
                        reset password
                    </a>
                </div>
            </div>
            <p class="modal_success_msg">We have sent a link to your registered mail id.</p>
            <p class="modal_success_msg">Please follow the link to change your password.</p>
            <p class="modal_error_msg">Email Id not registered.</p>
            <p class="modal_error_msg">Please enter correct email id or try creating a new account.</p>
            <div class="close-icon signup-form" onclick="closeModal('#forgot_password');">
                <img src="img/close-white.png">
            </div>
        </div>

    </div>
</div>
<!-- Forgot Password Modal End -->

<!-- SignUp Modal -->
<div id="signup" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content signup">
            <h2>
                <img src="img/user.png">
                Create a new Account
            </h2>
            <div class="row">
                <div class="margin-bottom20">
                    <p class="margin0">Full Name</p>
                    <input type="text" class="width100" placeholder="John Doe"/>
                </div>
                <div class="margin-bottom20">
                    <p class="margin0">Contact Number</p>
                    <input type="text" class="width100" placeholder="9876543210"/>
                </div>
                <div class="margin-bottom20">
                    <p class="margin0">Email ID</p>
                    <input type="text" class="width100" placeholder="abc@xyz.com"/>
                </div>
                <div class="margin-bottom20">
                    <p class="margin0">Password</p>
                    <input type="password" class="width100"/>
                </div>
                <div class="margin-bottom20">
                    <p class="margin0">Confirm Password</p>
                    <input type="password" class="width100"/>
                </div>
                <div class="padding20-0 align-center">
                    <a
                            href="#"
                            id="signup-btn"
                            class="button margin-top20 margin-bottom20">
                            <!--data-toggle="modal"-->
                            <!--data-target="#notify">-->
                        sign up
                    </a>
                </div>
            </div>
            <div class="close-icon signup-form" onclick="closeModal('#signup');">
                <img src="img/close-white.png">
            </div>
        </div>

    </div>
</div>
<!-- SignUp Modal End -->

<!-- Notification Modal -->
<div id="notify" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content signup">
            <p class="margin0">We have sent a verification email to your account. Kindly verify the same</p>
        </div>
    </div>
</div>
<!-- Notification End -->

<!-- Search Overlay -->

<div class="search_overlay" autocomplete="off" action="#">
    <div class="search_logo">
        <img src="img/gubbi_white.png" alt="MyGubbi">
    </div>
    <div class="search_close"></div>
    <div class="row">
        <span class="search_info">Just type and press 'enter'</span>
    </div>
    <div class="row align-center">
        <input type="text" class="search_input"/>
    </div>
    <% if(typeof(a_srch) !== 'undefined' && ((Object.keys(a_srch).length) !== 0)) { %>
        <div class="row search_suggest">
            <%  _.each(a_srch, function(as){
                if(typeof(as.resultName) !== 'undefined'){ %>
                    <a href="#"><p><%= as.resultName %></p></a>
            <% } }); %>
        </div>
    <% } %>
    <% if(typeof(p_srch) !== 'undefined' && ((Object.keys(p_srch).length) !== 0)) {
         if(typeof(p_srch.popularSearches) !== 'undefined'){ %>
        <div class="row margin-top5per">
                <div class="col-md-4">
                    <div class="search_heading">Popular Searches..</div>
                    <div class="search_data" id="pop_search">
                        <%  _.each(p_srch.popularSearches, function(ps){
                            if(typeof(ps.name) !== 'undefined'){ %>
                            <a href="#"><p><%= ps.name %></p></a>
                        <% } }); %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="search_heading">Recent Searches..</div>
                    <div class="search_data" id="rec_search">
                        <% _.each(p_srch.recentSearches, function(rs){
                            if(typeof(rs.name) !== 'undefined'){ %>
                            <a href="#"><p><%= rs.name %></p></a>
                        <% } }); %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="search_heading">My Searches..</div>
                    <div class="search_data" id="my_search">
                        <% _.each(p_srch.mySearches, function(ms){
                            if(typeof(ms.name) !== 'undefined'){ %>
                                <a href="#"><p><%= ms.name %></p></a>
                        <% } }); %>
                    </div>
                </div>
            </div>
    <% } } %>
</div>

<!-- Search Overlay End -->


<script>
    $(document).ready(function() {
        $('.user').click(function() {
            $('.userpop').show();
        });

        $('.signup-form').click(function() {
            $('#signup').close();
        });

        $('#new_reg').click(function() {
            $('.userpop').hide();
        });

        $('#signup-btn').click(function() {
            $('#signup').modal('toggle');
        });

        $("#signup").on('hidden.bs.modal', function () {
            $('#notify').modal('toggle');
        });

        $('.search').click(function() {
            $('.search_overlay').slideDown();
            $('.search_input').focus();
        });

        $('.search_close').click(function() {
            $('.search_overlay').slideUp();
        });

        $('.search_input').keyup(function() {
            var char = $(this).val().length;
            if(char >= 3){
                $('.search_suggest').slideDown();
            } else {
                $('.search_suggest').slideUp();
            }
        });

        $('.search_overlay').click(function() {
            $('.search_input').focus();
            $('.search_suggest').slideUp();
        });

        $('#reset_password').click(function() {
            $('.modal_success_msg').slideDown();
            $('.modal_error_msg').slideDown();
        });

        $("#forgot_password").on('hidden.bs.modal', function () {
            $('.modal_success_msg').css('display','none');
            $('.modal_error_msg').css('display','none');
        });

        $('[data-toggle="tooltip"]').tooltip();
    });

    function closeModal(id) {
        $(id).modal('toggle');
    }

    function closePopup(id) {
        $(id).hide();
    }

</script>
