<div class="og-navbar">
    <div class="row">
        <div class="col-lg-4" align="left">
            <ul class="header-ul">
                <li>
                    <a href="#">
                        <img src="img/logo.png" align="top" alt="myGubbi"/>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4" align="center">
            <ul class="header-ul">
                <li><input style="width: 90%; height: 35px;" name="searchNav" type="text"
                           placeholder="Search Products, Designs, Stories &amp; More..." spellcheck="false">
                </li>
                <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
            </ul>
        </div>
        <div class="col-lg-4" align="right">
            <ul class="header-ul">
                <li><a href="#" style="font-size: 18px">
                    <span style="margin-top: 15px; font-size: 18px" class="fa fa-check-square-o"></span>
                    Shortlist</a>
                </li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li>
                    <a href="#" style="font-size: 18px; margin-right: 30px;"><span
                            style="margin-top: 10px; font-size: 18px"
                            class="glyphicon glyphicon-user"></span> User
                        Profile</a>

                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">&nbsp;</div>
    </div>
    <hr class="hr-sm-top"/>
    <div class="row">
        <div class="col-lg-6">
            <ul class="header-ul header-ul-center">
                <% categories.each(function(category){ %>
                    <% if (category.get('subCategories').length === 0) { %>
                        <li><a href='#products/<%=category.code%>'><%=category.get('name')%></a></li>
                    <% } else { %>
                        <li>
                            <div class="dropdown">
                                <button class="btn og-navbar-btn-face dropdown-toggle" type="button" id="dropdownMenu<%=category.code%>"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <%=category.get('name')%>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu<%=category.code%>">
                                <% category.get('subCategories').each(function(subCategory){ %>
                                    <li><a href="#products/<%=category.get('code')%>/<%=subCategory.get('code')%>"><%=subCategory.get('name')%></a></li>
                                <% }); %>
                                </ul>
                            </div>
                        </li>
                    <% } %>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <% }); %>
            </ul>
        </div>
        <div class="col-lg-6">
            <ul class="header-ul header-ul-center">
                <li><a href="#">DESIGNS</a></li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><a href="#">PRODUCTS</a></li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><a href="#">STORIES</a></li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li class="og-action"><a href="#">CONSULT</a></li>
            </ul>
        </div>
    </div>
    <hr class="hr-sm-bottom"/>
</div>

