<!--Navigation-->
<nav id="mainNav" class="navbar navbar-shrink border-bottom-grey margin-bottom0 bg-color-white" style="min-height:75px;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <i class="fa fa-bars"></i>
            </button>
            <a href="/" class="navbar-brand page-scroll padding0">
                <img src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/logo.png" class="full_logo width80" alt="mygubbi">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="nav navbar-nav navbar-right hidden-xs hidden-sm margin-top10">
            <ul class="nav navbar-nav navbar-right">
                <li><i class="fa fa-search search-ico" aria-hidden="true"></i></li>
                <li>
                    <a href="tel:+91-808-886-0860" class="page-scroll font-size18 txt-color-orange" >
                            <span class="fa-stack fa-sm">
                                 <i class="fa fa-circle fa-stack-2x orange-background"></i>
                                 <i class="fa fa-phone fa-stack-1x txt-color-white"></i>
                            </span>
                        +91 80 88 86 0860
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/my_gubbi/" target="_blank" class="social-menu-lnk"><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <!--<li>
                    <a href="" class="social-menu-lnk"><i class="fa fa-youtube-square" aria-hidden="true"></i>
                    </a>
                </li>-->
                <li>
                    <a href="https://www.facebook.com/myGubbi/" target="_blank" class="social-menu-lnk"><i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://in.pinterest.com/my_gubbi/mygubbi/" target="_blank" class="social-menu-lnk"><i class="fa fa-pinterest-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/my_gubbi" target="_blank" class="social-menu-lnk"><i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>


    </div>
    <!-- /.container-fluid -->
</nav>
<!-- Navigation End -->

<nav class="navbar collapse navbar-collapse border-bottom-grey margin0 menu-sec-height bg-color-white" id="bs-example-navbar-collapse-1">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="menu-mygubbi">
                        <ul id="nav" class="nav navbar-center navbar-nav padding5">
                            <li class="hidden">
                                <a href="#page-top"></a>
                            </li>
                            <li class="">
                                <a
                                        class="dropdown-toggle"
                                        id="dropdownMenu_lg_kitchen"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="true">
                                    Kitchen
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu drop dropdownMenu_lg" aria-labelledby="dropdownMenu">

                                    <li><a href="/l-shaped-kitchen-design">L Shaped Kitchen</a></li>

                                    <li><a href="/u-shaped-kitchen-design">U Shaped Kitchen</a></li>

                                    <li><a href="/parallel-kitchen-design">Parallel Kitchen</a></li>

                                    <li><a href="/straight-kitchen-design">Straight Kitchen</a></li>

                                    <li><a href="/stories">Trends and Style</a></li>

                                    <li><a href="/know-your-kitchen">Know Your Kitchen</a></li>
                                </ul>
                            </li>
                            <li class="">
                                <a
                                        class="dropdown-toggle"
                                        id="dropdownMenu_lg_bedroom"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="true">
                                    Wardrobe
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu drop dropdownMenu_lg" aria-labelledby="dropdownMenu">

                                    <li><a href="/wardrobe-designs-online">Wardrobe Collection</a></li>

                                    <li><a href="/stories">Trends and Style</a></li>

                                    <li><a href="/know-your-wardrobe">Know Your Wardrobe</a></li>
                                </ul>
                            </li>

                            <li class="padding-left10">
                                <a
                                        class="dropdown-toggle"
                                        id="dropdownMenu_lg_livndin"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="true">
                                    Single Units
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu drop dropdownMenu_lg" aria-labelledby="dropdownMenu">

                                    <li><a href="/tv-unit-cabinet">Entertainment Unit</a></li>

                                    <li><a href="/crockery-unit-designs">Crockery Unit</a></li>

                                    <li><a href="/foyer-design">Foyer Unit</a></li>

                                    <li><a href="/sideboard">Side Board</a></li>

                                    <li><a href="/side-table-design-online">Side Table</a></li>

                                    <li><a href="/study-table-designs-online">Study Table</a></li>

                                    <li><a href="/book-shelf">Book Rack</a></li>

                                    <li><a href="/shoe-rack-online">Shoe Rack</a></li>

                                </ul>
                            </li>
                            <li class="padding-left10 menu-li">
                                <a class="page-scroll" href="/completed-projects">Completed Projects</a>
                            </li>
                            <li class="padding-left10 menu-li">
                                <a class="page-scroll" href="/consult">Experience Center</a>
                            </li>
                            <li class="padding-left10 menu-li">
                                <a class="page-scroll" href="/nri-bangalore">NRI Zone</a>
                            </li>
                            <li class="padding-left10">
                                <a
                                        class="dropdown-toggle"
                                        id="dropdownMenu_lg_blogpost"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="true">
                                    Stories
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu drop dropdownMenu_lg" aria-labelledby="dropdownMenu">

                                    <li><a href="/stories">Trends & Styles</a></li>

                                    <li><a href="/stories">Interiors</a></li>

                                    <li><a href="/stories">Architecture</a></li>

                                    <li><a href="/stories">Design</a></li>

                                    <li><a href="/stories">Outdoors</a></li>
                                </ul>
                            </li>
                            <li class="padding-left10">
                                <a class="page-scroll last-item" href="#contact">Contact</a>
                            </li>
                            <li class="padding-left10">
                                <span class="pe-7s-like wishlist header-icon pe-fw"><span id="shortlistSuperScript" class="super-script"></span></span>
                            </li>
                            <li class="padding-left10">
                                <span class="pe-7s-user user header-icon pe-fw" id="user-icon" data-loading-text="<i class='fa fa-spinner fa-spin'></i>"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
