<div class="col-md-12 padding0">
    <% if (user_shortlist_items && Object.keys(user_shortlist_items).length !== 0) {
        var count = 0;
        _.each(user_shortlist_items, function(sl){
    %>
            <div class="margin-top20 padding-bottom10">
                <%= ++count + ". " + sl.name %>
            </div>
            <div class="row">
                <div class="col-md-7 padding0">
                    <a href="/product/<%= sl.id %>" data-element=".userpop" class="shortlist-side"><img src="<%= imgBase + 'c_fill/' + sl.images[0] %>" class="shortlist-thumb"></a>
                </div>
                <div class="col-md-5">
                    <span class="fa fa-inr"></span><%= " " + sl.defaultPrice %>
                </div>
            </div>
    <% });
      } else { %>
            <div class="margin-top20">
                <div class="row padding10">
                    <span>Oops! No items in your wishlist...</span>
                </div>
                <div class="row padding10">
                    <span>Explore our wide range of furniture & decor items.</span>
                </div>
                <div class="row padding10">
                    <span>And save them for your quick reference in future...</span>
                </div>
                <div class="row padding10 align-center">
                    <span class="button">Explore...</span>
                </div>
            </div>
    <% } %>
</div>