<section class="bg-white padding100-0">
    <div class="container bg-color-white hidden-xs">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i></a></li>
                <li class="active"><a href="/ebook">ebook</a></li>
            </ul>
        </div>
    </div>
    <div class="container blogs">
        <div class="col-md-8 col-sm-8">
            <div class="padding10">
                <h2 class="justify hidden-xs">
                    Interior Design Ideas eBook (Free)
                </h2>
                <h4 class="justify hidden-lg hidden-md hidden-sm">
                    Interior Design Ideas eBook (Free)
                </h4>

                <div class="date">By: Sathya Narayanan</div>
                <div class="padding10-0">
                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1467004844/ebook/cover_page.jpg" class="img-responsive img-ebook" title="ebook" alt="ebook">
                </div>
                <p>
                    With so many options available online, it is difficult to know the right information about the furnishing solutions that one needs. To make things simple, we suggest you simply download this free e-Book and know everything about modular kitchen, wardrobes and more!
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 padding25-15">
            <h3>Download eBook</h3>
            <p> Please fill the following field to download eBook </p>
            <form class="ebook-form" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter your name" name="name" >
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Enter your email Id" name="email" >
                </div>
                <div class="form-group">
                    <button class="btn btn-default btn-orange"> Download Pdf </button>
                </div>
            </form>
        </div>
    </div>
</section>
