<!-- Slider -->
<link rel="stylesheet" href="/js/libs/owl.carousel/dist/assets/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="/js/libs/owl.carousel/dist/assets/owl.theme.default.min.css" type="text/css">
<link rel="stylesheet" href="/css/owl.transitions.css">
<% console.log("===page") %>
<% console.log(page) %>
<% console.log( page[0].categories) %>
<% console.log( page[0].Related_Categories) %>
<section class="seo-lp-banner">
    <div class="hidden-xs hidden-sm">
        <img class="img-responsive width100" src="<%= page[0].Banner_Image_Desktop %>" alt="Seo Banner">
    </div>
</section>

<section class="seo-lp-banner-mob">
    <div class="hidden-lg hidden-md">
        <img class="img-responsive width100" src="<%= page[0].Banner_Image_mobile %>" alt="Seo Banner">
    </div>
    <div class="text-center hidden-lg hidden-md">
        <div class="container-fluid">
            <div class="seo-mob-process">
                <img class="img-responsive width100" src="https://res.cloudinary.com/mygubbi/image/upload/v1499318256/seo-page/proposition_icons-01.png" alt="Seo Banner">
                <!--<div class="row">
                    <div class="col-md-10 col-md-offset-1 margin-bottom20 text-center">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-xs-6 col-sm-6 col-md-2 wow fadeIn animated" data-wow-delay="0" style="visibility: visible; animation-name: fadeIn;">
                                <div class="de_count">
                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1498463506/seo-page/500.png" alt="completed project" class="img-responsive img-centered"><br>
                                    <span class="fact-des whyus-fnt"> 500+ Completed Homes </span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 wow fadeIn animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                                <div class="de_count">
                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1498463505/seo-page/45.png" alt="express delivery" class="img-responsive img-centered"><br>
                                    <span class="fact-des whyus-fnt"> 45 Days Delivery </span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 wow fadeIn animated" data-wow-delay="1.00s" style="visibility: visible; animation-delay: 1.00s; animation-name: fadeIn;">
                                <div class="de_count">
                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1498463505/seo-page/5Y.png" alt="warranty" class="img-responsive img-centered"><br>
                                    <span class="fact-des whyus-fnt"> 1 Year Free Maintenance </span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 wow fadeIn animated" data-wow-delay=".75s" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeIn;">
                                <div class="de_count">
                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1498463505/seo-page/1Y.png" alt="amc" class="img-responsive img-centered"><br>
                                    <span class="fact-des whyus-fnt"> 5 Year Warranty </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</section>

<section class="seo-about">
    <div class="container">
        <div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1 mt60 mob-margin-top-0">
            <h1 class="seo-about-head mt60 mob-margin-top-0">
                <%= page[0].Section2_Title %>
            </h1>
            <span class="text-left"><img src="https://res.cloudinary.com/mygubbi/image/upload/v1498629666/seo-page/seo-arrow3.png" alt="arrow"> </span>
            <p class="text-justify mt20">
                <%= page[0].Section2_Content %>
            </p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-lg-offset-1 mt60 mb30 mob-margin-top-0">
            <div class="seo-form-wrapper">
                <h4>I'M INTERESTED</h4>
                <form class="seo-lp-form" method="post" enctype="multipart/form-data" action="https://web.mxradon.com/t/FormTracker.aspx">
                    <div class="form-group">
                        <input type='text' id='YourName' class="form-control" placeholder="Your name" name='YourName' title='Name' maxlength='100' value='' autocomplete='off' required='required' />
                    </div>

                    <div class="form-group">
                        <input type='text' id='Phone' class="form-control" placeholder="Your Phone number" name='Phone' title='Phone' maxlength='20' value='' autocomplete='off'  />
                    </div>

                    <div class="form-group">
                        <input type='text' id='EmailAddress' class="form-control" placeholder="Your Email id" name='EmailAddress' title='Email' maxlength='100' value='' autocomplete='off' required='required' />
                    </div>

                    <div class="form-group">
                        <textarea rows="3" cols="50" id='YourMessage' class="form-control" name='YourMessage' title='message'  value='' autocomplete='off' >

                        </textarea>
                    </div>

                    <div class="form-group">
                        <button id="form-submit-button" class="btn btn-block btn-seo-form" type="submit"> Submit </button>
                    </div>

                    <input type="hidden" name="MXHOrgCode" value="9814" />
                    <input type="hidden" name="MXHLandingPageId" value="e33289eb-24c2-11e7-b3fa-22000aa220ce" />
                    <input type="hidden" name="MXHFormBehaviour" value="1" />
                    <input type="hidden" name="MXHFormDataTransfer" value="0" />
                    <input type="hidden" name="MXHRedirectUrl" value="https://mygubbi.com/thankyou-email-lp-page" />
                    <input type="hidden" name="MXHAsc" value="5" />
                    <input type="hidden" name="MXHPageTitle" value="Bangalore MyGubbi" />
                    <input type="hidden" name="MXHOutputMessagePosition" value="0" />
                    <input type="hidden" name="MXHIsExternallyUsed" value="1" />
                </form>
                <script type="text/javascript"> var MXLandingPageId = 'e33289eb-24c2-11e7-b3fa-22000aa220ce'; </script>
            </div>
        </div>
    </div>
</section>

<section class="seo-process-ioc">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mt60 mb60 text-center">
                <h1 class="text-center"> How Our Process Works? </h1>
                <span><img src="https://res.cloudinary.com/mygubbi/image/upload/v1498629666/seo-page/seo-arrow3.png" alt="arrow"> </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                <div class="row mb100">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="position-relative">
                        <img id="seo-p1" class="img-responsive img-centered img-seo" alt="process-icon" src="https://res.cloudinary.com/mygubbi/image/upload/v1498550030/seo-page/G1.png">
                        <img class="img-responsive img-seo-arrow hidden-xs hidden-sm" alt="arrow-icon" src="https://res.cloudinary.com/mygubbi/image/upload/v1498633964/seo-page/seo-arrow2.png">
                    </div>
                    <h4 class="text-center">Explore Designs</h4>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="position-relative">
                        <img id="seo-p2" class="img-responsive img-centered img-seo" alt="process-icon" src="https://res.cloudinary.com/mygubbi/image/upload/v1498550030/seo-page/G2.png">
                        <img class="img-responsive img-seo-arrow hidden-xs hidden-sm" alt="arrow-icon" src="https://res.cloudinary.com/mygubbi/image/upload/v1498633964/seo-page/seo-arrow2.png">
                    </div>
                    <h4 class="text-center">Meet our Sales Associate</h4>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="position-relative">
                        <img id="seo-p3" class="img-responsive img-centered img-seo" alt="process-icon" src="https://res.cloudinary.com/mygubbi/image/upload/v1498550030/seo-page/G3.png">
                        <img class="img-responsive img-seo-arrow hidden-xs hidden-sm" alt="arrow-icon" src="https://res.cloudinary.com/mygubbi/image/upload/v1498633964/seo-page/seo-arrow2.png">
                    </div>
                    <h4 class="text-center">Customize your home</h4>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="position-relative">
                        <img id="seo-p4" class="img-responsive img-centered img-seo" alt="process-icon" src="https://res.cloudinary.com/mygubbi/image/upload/v1498550030/seo-page/G4.png">
                        <img class="img-responsive img-seo-arrow hidden-xs hidden-sm" alt="arrow-icon" src="https://res.cloudinary.com/mygubbi/image/upload/v1498633964/seo-page/seo-arrow2.png">
                    </div>
                    <h4 class="text-center">Get estimate & 3D Design</h4>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="position-relative">
                        <img id="seo-p5" class="img-responsive img-centered img-seo" alt="process-icon" src="https://res.cloudinary.com/mygubbi/image/upload/v1498550030/seo-page/G5.png">
                        <img class="img-responsive img-seo-arrow hidden-xs hidden-sm" alt="arrow-icon" src="https://res.cloudinary.com/mygubbi/image/upload/v1498633964/seo-page/seo-arrow2.png">
                    </div>
                    <h4 class="text-center">Place Your Order</h4>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="position-relative">
                        <img id="seo-p6" class="img-responsive img-centered img-seo" alt="process-icon" src="https://res.cloudinary.com/mygubbi/image/upload/v1498550030/seo-page/G6.png">
                    </div>
                    <h4 class="text-center">Get Handover in 45 days</h4>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

<section class="seo-might-like">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mt60 mb20 text-center">
                <h1 class="text-center"> You Might Also Like </h1>
                <span>
                    <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1498629666/seo-page/seo-arrow3.png" alt="arrow">
                </span>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 mb80 mob-margin-bottom-0">
            <div id="owl-seo-type" class="owl-carousel owl-theme">
                <% if(typeof(page[0].Categories) !== 'undefined'){  %>
                <%  var result = page[0].Categories %>
                <% _.each($.parseJSON(result), function(k, v) { %>
                <div class="item seo-type-item">
                        <img class="img-responsive img-centered" src="<%= k['img'] %>" alt="type">
                        <a href=" <%= k['url'] %> " class="btn btn-seo"> <%=k['name'] %> </a>
                    </div>
                <% }); } %>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="seo-might-like">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <h1 class="text-center"><%= page[0].Section5_Heading %></h1>
                <span><img src="https://res.cloudinary.com/mygubbi/image/upload/v1498629666/seo-page/seo-arrow3.png" alt="arrow"> </span>
            </div>
        </div>
    </div>
</section>
<section class="seo-like-blog">
    <div class="hidden-xs mt20">
        <div class="container-fluid">
            <div class="text-left">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="row">
                            <div class="col-sm-12 col-md-7 col-md-offset-4 mt30 text-justify">
                                <%= page[0].Section5_Content1 %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 pn">
                        <img src="<%= page[0].section5_image1_desktop %>" alt="kitchen" class="img-responsive">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 pn">
                        <img src="<%= page[0].section5_image2_desktop %>" alt="storage solutions" class="img-responsive">
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="row">
                            <div class="col-sm-12 col-md-7 col-md-offset-1 mt30 text-justify">
                                <%= page[0].Section5_Content2 %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-sm hidden-md hidden-lg mt20">
        <div class="container">
            <div class="text-center">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="row">
                            <div class="col-sm-7 col-sm-offset-4">
                                <p class="text-justify">
                                    <%= page[0].Section5_Content1 %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 pn">
                        <img src=" <%= page[0].section5_image1_mobile %>" alt="kitchen" class="img-responsive">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="row">
                            <div class="col-sm-7 col-sm-offset-1">
                                <p class="text-justify">
                                    <%= page[0].Section5_Content2 %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 pn">
                        <img src="<%= page[0].section5_image2_mobile %>" alt="storage solutions" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="seo-book-now">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-12">
                <div class="row">
                    <div class="col-sm-9 col-md-9">
                        <h1 class="mob-text-center"> Interested in <%= page[0].Section7_Heading %>? </h1>
                    </div>
                    <div class="col-sm-3 col-md-3 mob-text-center">
                        <a class="btn btn-seo-book" href="#">
                            BOOK NOW
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="seo-related-link">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <h1 class="text-left"> Related Categories </h1>
                <span class="text-left"><img src="https://res.cloudinary.com/mygubbi/image/upload/v1498629666/seo-page/seo-arrow3.png" alt="arrow"> </span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <ul class="list-inline">
                    <% if(typeof(page[0].Related_Categories) !== 'undefined'){  %>
                    <%  var result = page[0].Related_Categories %>

                    <% _.each($.parseJSON(result), function(k, v) { %>
          <!--          <% console.log(k) %>
                    <% console.log(k['name']) %>-->
                    <li> <a href="<%= k['url'] %>"><%=  k['name'] %></a> </li> |
                    <% }); } %>
                </ul>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="/js/libs/owl.carousel/dist/owl.carousel.min.js"></script>

<script>
    $(document).ready(function() {
    var meta = 'mygubbi';
        var metakeyword = 'mygubbi';
        var metatitle = 'mygubbi';
        meta = lpfilter.get('seo');
        $("meta[name='description']").attr("content", meta[0].Meta_Description);

        $("meta[name='keywords']").attr("content", meta[0].Meta_Keywords);

        document.title =  meta[0].Meta_Title;


      var owl = $("#owl-seo-type");

        owl.owlCarousel({
          itemsCustom : [
            [0, 2],
            [450, 4],
            [600, 7],
            [700, 9],
            [1000, 10],
            [1200, 12],
            [1400, 13],
            [1600, 15]
          ],
          navigation : true,
          items: 3,
          responsive:{
                0:{
                    items:1
                },
                600:{
                    items:2
                },
                1000:{
                    items:3
                }
            }
        });

    });
</script>