<%= console.log("@@@@@@@@@@@@@@@ getprojects @@@@@@@@@@@@@@@@@") %>
<%= console.log(getprojects) %>

<%= console.log("@@@@@@@@@@@@@@@ spacetypelists @@@@@@@@@@@@@@@@@") %>
<%= console.log(spacetypelists) %>

<style>

.form-control {
    width: 100%;
    height: 36px;
    padding: 10px 13px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #00000042;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.imgholder{
    text-align: center;
    font-size: 203px;
    }
 .gridProject{
    border-radius: 6px;
	width:100%;
	min-height:100px;
	padding: 0px 0px 15px 0px;
	background:#fff;
	margin:8px;
	font-size:12px;
	float:left;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-transition: top 1s ease, left 1s ease;
    box-sizing: border-box;
    }
     .gridProjectTest{
    border-radius: 6px;
	width:100%;
	min-height:100px;
	padding: 0px 0px 15px 0px;
	background:#fff;
	font-size:12px;
	float:left;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-transition: top 1s ease, left 1s ease;
    box-sizing: border-box;
    }
    .sub-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	margin-top: 10px;
	text-align: left;
}

.form-option{
  width: 100%;
  height: 45px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #eee;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.title {
	font-family: 'Libre Baskerville', "Times New Roman", Times, Baskerville, Georgia, serif;
	font-size: 32px;
	font-weight: 400;
	line-height: 40px;
	text-align: left;
	text-transform: initial;
	color: #fff;
}

.divider {
	background-color: #fff;
	height: 1px;
	width: 35px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .portfolio-container {
	padding-right: 0;
	padding-left: 0;
}

.image {
	display: block;
    height: 265px;
	width: 100%;
}

.overlay {
	background-color: #000;
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	transition: .5s ease;
	top: 0;
	width: 100%;
	z-index:1;
}

.cell-container:hover .overlay {
	opacity: .75;
}

.text {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	text-transform: uppercase;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btnImage {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
</style>
<section class="main-conceptboard-sec bg-light-gray">
    <div class="container">
        <div class="mt20">
            <div class="row">
                <div id="createProject" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 cell-container" style="border: 1px dashed #333;text-align: center;height: 265px;">
                    <span class="imgholder">&#43;</span>
                    <div class="overlay"  target="_blank">
                        <div class="text">
                            <p class="title">Create Project</p>
                        </div>
                    </div>
               </div>
                <% if(typeof(getprojects) !== 'undefined'){ %>
                <% var cnt=1; %>
                <% _.each(getprojects[0].userProjects, function(allProjects, i){ %>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 cell-container">
                    <img class="image" src="/img/building<%= cnt %>.jpg">
                    <a class="overlay" href="javascript:void(0);">
                        <i class="fa fa-times-circle deleteProject" aria-hidden="true" style="font-size: 25px;float:left;color: white;z-index:9;" data-element="<%= allProjects.id %>"></i>
                        <i class="fa fa-pencil-square-o edit_roomList" aria-hidden="true" style="font-size: 25px;float:right;color: white;z-index:9;" data-element="<%= allProjects.id %>"></i>
                        <div><div class="text">
                        <p class="title"><%= allProjects.projectName %></p>
                        <button type="button" style="border:2px solid #fff;padding:10px 20px;background: #000;font-weight:600;" onclick="viewDtls('<%= allProjects.id %>')">View Details</button>
                    </div></div></a>
                </div>
                <% if(cnt >= 5){ cnt=1; } %>
                <% cnt++; }); %>
                <% } %>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="createProject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:850px;">
        <div id="createProject-dtls" class="createProject-container">
            <form id="userconceptfrmImage" method="post" name="userconceptfrm" enctype="multipart/form-data">
            <div class="col-sm-12 col-md-12">
                <h4 class="addcboard-heading">New project</h4>
                    <div class="form-group">
                        <div id="list1">
                            <div class="row display-none" id="addUpload_error_row" style="text-align: center;;">
                                <p class="margin0 error-text align-center" id="addUpload_error" style="color: darkred;"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="projectName">Project Name:</label>
                        <input type="text" class="form-control" id="projectName" name="projectName" required/>
                        <div  id="projectNama-error_row" style="font-size: 10px;">
                            <p  class="err" id="projectNama-error" style="color: darkred;"></p>
                        </div>
                    </div>

                    <h4 class="p-style">Project Details</h4>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="inputbuilder">Builder</label>
                            <input type="text" class="form-control" id="inputbuilder" placeholder="Builder" required />
                            <div id="inputbuilder-error_row" style="font-size: 10px;">
                                <p  class="err" id="inputbuilder-error" style="color: darkred;margin-bottom: -10px;"></p>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="inputprojecttower">Project Tower</label>
                            <input type="text" class="form-control" id="inputprojecttower" placeholder="Project Tower"  required />
                            <div id="inputprojecttower-error_row" style="font-size: 10px;">
                                <p  class="err" id="inputprojecttower-error" style="color: darkred;"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="inputProjectAddress">Project Address</label>
                            <input type="text" class="form-control" id="inputProjectAddress" placeholder="1234 Main St" required />
                            <div id="inputProjectAddress-error_row" style="font-size: 10px;">
                                <p class="err" id="inputProjectAddress-error" style="color: darkred;margin-bottom: -10px;"></p>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="inputProjectCity">City</label>
                            <input type="text" class="form-control" id="inputProjectCity"  required />
                            <div id="inputProjectCity-error_row" style="font-size: 10px;">
                                <p class="err" id="inputProjectCity-error" style="color: darkred;"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputProjectState">State</label>
                            <input type="text" class="form-control" id="inputProjectState" placeholder="State"  required />
                            <div id="inputProjectState-error_row" style="font-size: 10px;">
                                <p class="err" id="inputProjectState-error" style="color: darkred;"></p>
                            </div>
                        </div>
                        <div class="form-group col-md-1">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputpincode">Pin Code</label>
                            <input type="number" class="form-control" id="inputpincode" maxlength="6"  required />
                            <div id="inputpincode-error_row" style="font-size: 10px;">
                                <p class="err" id="inputpincode-error" style="color: darkred;"></p>
                            </div>
                        </div>
                        <div class="form-group col-md-1">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputplan">Plan</label>
                            <input type="text" class="form-control" id="inputplan" placeholder="Plan" required />
                            <div id="inputplan-error_row" style="font-size: 10px;">
                                <p class="err" id="inputplan-error" style="color: darkred;"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 upload-btn-wrapper">
                            <button class="btnImage">Upload a file</button>
                            <input id="conceptfileupload" type="file" name="conceptfile"/>
                            <label id="file-name"></label>
                        </div>
                    </div>

            </div>

            <div class="mt15 col-md-12" style="text-align:center;">
                <input type="submit" id="save_conceptfileupload" class="btn btn-primary btn-save" style="background-color: #ea5c36;" value="Submit">
            </div>
            </form>
        </div>

    </div>

        </div>
    </div>
</div>
<div class="modal fade" id="addRoomConcept" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="addcboard-container">
            <h4 class="addcboard-heading">Add Rooms</h4>
            <div id="createroomlist"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="editRoomandProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="editProject-container">
            <div class="editContain" id="editRoomeroomlist">
            </div>
        </div>
    </div>
</div>



<script>
 var current_id = 0;
 var cntclick = 0;
     $('#addSpaceElement').click(function(){
        console.log("add family button clicked  "+cntclick);
        if(cntclick >= 2){
            $("#elements").css("overflow-y","scroll");
            $("#elements").css("height","380px");
        }
        nextElement($('#copyspaceElemenet'));
        cntclick++;
      });

    function nextElement(element){
       console.log("inside next element" +element);
        var newElement = element.clone();
        var id = current_id+1;
        newElement.attr("id","member-panel"+current_id);
        var field = $('input', newElement).attr("id");
        $('#inputcategory', newElement).attr("id","NAME"+current_id );
        $('#inputname', newElement).attr("id","NAME"+current_id );
        $('#description', newElement).attr("id","DESCRIPTION"+current_id );

        newElement.appendTo($("#elements"));
    }

    function viewDtls(projectId){
        //alert(projectId);
        window.App.router.navigate("/rooms-"+projectId, {
             trigger: true
         });
    }
</script>