
<%= console.log("@@@@@@@@@@@@@@@ desc @@@@@@@@@@@@@@@@@") %>
<% if(typeof(desc) !== 'undefined'){ %>
<%= console.log(desc) %>
<% } %>
<style>
    #searchForm1{
        display:block;
    }

    .bg-lightgrey{
        background-color: #f0f0f0;
    }
    .panel-default>.panel-heading {
        color: #ea5c36;
    background-color: #38414b;
    border-color: #ddd;
    height: 58px;
    }
    .panel-title a{
        font-size: 26px;
    font-weight: 600;
    color: #ea5c36;
    letter-spacing: 10px;
    }
    .ser-about{
        display:block;
        text-align: left;
    }
    .ser-img img{
        height: 232px;
        width: 833px;
    }
    /*.manufacturing-box {
        background: #ffffff;
        border-radius: 50%;
        padding: 15px 15px;
        height: 200px;
        width: 200px;
        margin-bottom: 30px;
        box-shadow: 0px 2px 10px #666;
    }*/
    .manufacturing-box {
        background: #ffffff;
        padding: 0px;
        height: 270px;
        width: 100%;
        margin-bottom: 30px;
        box-shadow: 0px 2px 10px #666;
    }
    .manufacturing-box h4 {
        font-size: 14px;
        text-transform: capitalize;
        margin-bottom: 1px;
        font-weight: 600;
        position: absolute;
        top: 72%;
        left: 35%;
    }
    .img-manufacturing{
        margin: 45px auto !important;
    }

    /*.manufacturing-box {
        background: #ffffff;
        border-radius: 3px;
        border: 1px solid #ddd;
        padding: 15px 15px;
        min-height: 200px;
        margin-bottom: 30px;
    }
    .manufacturing-box h4 {
        font-size: 14px;
        text-transform: capitalize;
        margin-bottom: 0px;
        font-weight: 600;
    }*/
    .manufacturing-box p {
        font-size: 12px;
        padding: 15px 0px 0px;
        line-height: 150%;
        margin: 0px;
    }
   .panel-title a:hover,
   .panel-title a:active,
   .panel-title a:focus{
        text-decoration:none;
        border-bottom: 1px solid #634e42;
   }

   .panel-title a[aria-expanded="true"] {
        border-bottom: 1px solid #ec5136;
        background-color: #38414b;
        color:#fff;
    }
    .nav-pills>li > a{
        color: #ec5136;
        font-size:16px;
        font-weight:600;
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        color: #fff;
        background-color:#634e42;
        font-size:16px;
        font-weight:600;
    }
    .bordtxt{
        left:43%!important;
    }


.progress{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: absolute;
    bottom: 10px;
    right: 25px;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    /*background: #44484b;*/
    background: #44484b0d;
    font-size: 12px;
    color: #fff;
    line-height: 45px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-4 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
/*.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}*/

.progress.pink .progress-right .progress-bar{
    animation: loading-1 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: lime;
}
.progress.green .progress-left .progress-bar{
    animation: loading-1 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}
.numberItemCnp{
    contain: content;
    width: 130px;
    position: absolute;
    height: 30px;
    padding: 5px 10px;
    right: 15px;
    top: 10px;
    font-size: 16px;
}
.img-thumbnail-shadow {
    box-shadow: 0px 0px 10px 4px #ccc;
}
.thumbnail-img {
    border: 20px solid #fff;
}
</style>
<%= console.log("********* conceptboardsDtls ********") %>
<%= console.log(conceptboardsDtls) %>
<% if(typeof(projectDtls) !== 'undefined'){ %>
<section class="bg-lightgrey">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h1 style="text-align:center;"><%= projectDtls[0].projectName %></h1>
                <div class="col-sm-12 col-md-12 col-lg-12 text-center"  style="padding: 20px 0px 45px 0px;">
                    <div class="p-service-bg">
                        <div class="text-center">
                            <div class="p-service-card">
                                <div class="tab-content p-service-tab" style="background: #fff;padding: 40px 10px;box-shadow:0px 2px 10px #555;">
                                    <div id="surfaces" class="tab-pane fade in active">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="tab-content">
                                                    <div id="wallpaper" class="tab-pane fade in active">
                                                        <div class="col-md-6 ser-img">
                                                            <img class="img-responsive img-centered" src="https://res.cloudinary.com/mygubbi/image/upload/v1479324528/platinum_home/wallpaper_03.jpg" alt="wall paper">
                                                        </div>
                                                        <div class="col-md-6 ser-about">
                                                            <h3 class="mt0">Description</h3>
                                                            <p>
                                                                <%= projectDtls[0].description %>
                                                            </p>

                                                            <h4 class="formTit mb0">Project Address</h4>
                                                            <div><%= projectDtls[0].projectAddress %></div>
                                                            <h4 class="formTit mb0">Project Tower</h4>
                                                            <div><%= projectDtls[0].projectTower %></div>
                                                            <h4 class="formTit mb0">Builder</h4>
                                                            <div><%= projectDtls[0].builder %></div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="panel-group" id="accordion" style="margin-top:20px;">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseHome">Home</a>
                                                                <i class="indicator glyphicon pull-right glyphicon-chevron-up"></i>
                                                            </h4>
                                                        </div>
                                                        <div id="collapseHome" class="panel-collapse collapse in">
                                                            <div class="panel-body bg-lightgrey">
                                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                                    <div class="row">
                                                                        <div class="col-sm-12 col-md-12 col-lg-12" style="margin-bottom:10px;">
                                                                            <p style="font-size:14px;color: #555;">
                                                                                Setting up a modular kitchen design is a long-term investment that requires careful thought and consideration. This is why we ensure that you have a hassle-free service that gives you a kitchen interior that you will love with a few easy steps. Once you have an idea of your dream kitchen interior, reach out to our designers to determine if it is the right choice for your space.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                                                                            <div class="manufacturing-box">
                                                                                <div class="row">
                                                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                                                        <a href="/listofconcepts">
                                                                                            <img alt="Manufacturing" class="img-responsive img-centered img-manufacturing" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1519976101/nri_page/v2/icon-nri-ease-of-selection.png">
                                                                                            <h4> Concept Board </h4>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                                                                            <div class="manufacturing-box">
                                                                                <div class="row">
                                                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                                                        <a href="/listoflooks-<%= projectDtls[0].id %>">
                                                                                        <img alt="Manufacturing" class="img-responsive img-centered img-manufacturing" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1519976101/nri_page/v2/icon-nri-guardians-remote.png">
                                                                                        <h4 style="left:40%;">Shortlist Looks </h4></a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                                                                            <div class="manufacturing-box">
                                                                                <div class="row">
                                                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                                                        <img alt="Manufacturing" class="img-responsive img-centered img-manufacturing" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1519976101/nri_page/v2/icon-nri-diligent-design.png">
                                                                                        <h4 style="left:40%;">Sharing 2D/3D </h4>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                                                                            <div class="manufacturing-box">
                                                                                <div class="row">
                                                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                                                        <img alt="Manufacturing" class="img-responsive img-centered img-manufacturing" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1519976101/nri_page/v2/icon-nri-regular-updates.png">
                                                                                        <h4 style="left:35%;"> Quotation </h4>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% if(typeof(conceptboardsDtls) !== 'undefined'){ %>
                                                        <% _.each(conceptboardsDtls[0].listOfUserConceptBoard, function(conceptdtls, i){ %>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>"><%= conceptdtls.name %></a>
                                                                <i class="indicator glyphicon pull-right glyphicon-chevron-down"></i>
                                                            </h4>
                                                            <% if(conceptdtls.completionPercentage != 0){ %>
                                                            <div style="float: right;margin-right: 90px;margin-top: -20px;font-weight: 900;color: lime;"><%= conceptdtls.completionPercentage %>% Completed</div>
                                                            <% } %>
                                                        </div>
                                                        <div id="collapse<%= i %>" class="panel-collapse collapse">
                                                            <div class="panel-body bg-lightgrey">
                                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                                    <div class="row">
                                                                        <div class="col-sm-11 col-md-11 col-lg-11" style="margin-bottom:10px;">
                                                                            <p style="font-size:14px;color: #555;">
                                                                                <%= conceptdtls.description %>
                                                                            </p>
                                                                        </div>
                                                                        <div class="form-group col-md-12" style="text-align:right;font-size: 30px;color: #fe0821;top: -35px;">
                                                                                <div  id="btn1">
                                                                                    <i title="Delete this Room" id="deleteroom" class="fa fa-window-close-o" aria-hidden="true"  data-element="<%= conceptdtls.id %>"></i>
                                                                                </div>
                                                                        </div>
                                                                        <div class="form-group col-md-12" style="text-align:right;font-size: 30px;color: #fe0821;top: -94px; right: 65px;">
                                                                            <div  id="btn2">
                                                                                <i title="Edit Description" id="editDesc" class="fa fa-pencil-square-o" aria-hidden="true"  data-element="<%= conceptdtls.id %>"  data-element1="<%= conceptdtls.description %>" data-element2="<%= conceptdtls.name %>" data-element3="<%= conceptdtls.spaceTypeCode %>"></i>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12" style="margin-top: -100px;">
                                                                            <div class="manufacturing-box">
                                                                                <div class="row">
                                                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                                                        <% if(conceptdtls.noOfConceptsAdded == 0){ %>
                                                                                            <i class="fa fa-plus fa-5x addCBoard1" data-element="<%= conceptdtls.spaceTypeCode %>" data-element1="<%= conceptdtls.id %>" aria-hidden="true" style="margin-top:45px;color: #ea5c36;"></i>
                                                                                            <h4 style="margin-top:46px;"> Concept Board </h4>
                                                                                        <% }else{ %>
                                                                                        <a href="/<%= conceptdtls.spaceTypeCode %>-conceptlist-<%= conceptdtls.id %>">
                                                                                            <img src="<%= conceptdtls.imgUrl %>" alt="roomImg" style="height:215px; width:100%;" />
                                                                                            <!--<div class="progress skill-bar">
                                                                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= conceptdtls.completionPercentage %>" aria-valuemin="0" aria-valuemax="100">
                                                                                                    <span class="skill"><i class="val"><%= conceptdtls.completionPercentage %>%</i>Completed</span>
                                                                                                </div>
                                                                                            </div>-->

                                                                                        </a>
                                                                                        <% } %>
                                                                                    </div>
                                                                                    <% if(conceptdtls.noOfConceptsAdded == 0){ %>
                                                                                    <div class="numberItemCnp recomnd" style="position: relative;top: 116px;left: 19px;"><div><%= conceptdtls.noOfConceptsAdded %> Concpets</div></div>
                                                                                    <% }else{ %>
                                                                                    <div class="numberItemCnp recomnd" style="position: relative;bottom: -13px;left: 19px;"><div><%= conceptdtls.noOfConceptsAdded %> Concpets</div></div>
                                                                                    <% } %>
                                                                                    <div class="progress
                                                                                                <% if((conceptdtls.completionPercentage > 0) && (conceptdtls.completionPercentage < 50)){ %>
                                                                                                            pink
                                                                                                <% }else if((conceptdtls.completionPercentage >= 50) && (conceptdtls.completionPercentage < 70)){  %>
                                                                                                            yellow
                                                                                                <% }else if((conceptdtls.completionPercentage >= 70) && (conceptdtls.completionPercentage <= 100)){ %>
                                                                                                            blue
                                                                                                <% }else{ %>
                                                                                                            green
                                                                                                <% } %>
                                                                                            " style="bottom: 33px ! important">
                                                                                                <span class="progress-left">
                                                                                                    <span class="progress-bar"></span>
                                                                                                </span>
                                                                                        <span class="progress-right">
                                                                                                    <span class="progress-bar"></span>
                                                                                                </span>
                                                                                        <div class="progress-value" style="color: #555;font-weight: 700;"><%= conceptdtls.completionPercentage %>%</div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12" style="margin-top: -100px;">
                                                                            <div class="manufacturing-box">
                                                                                <div class="row">
                                                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                                                        <a href="/<%= conceptdtls.spaceTypeCode %>-viewdesign-<%= conceptdtls.id %>">
                                                                                        <img alt="Manufacturing" class="img-responsive img-centered img-manufacturing" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1519976101/nri_page/v2/icon-nri-guardians-remote.png">
                                                                                        </a>
                                                                                    </div>
                                                                                    <div><h4 class=""> Shortlist Looks </h4></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12" style="margin-top: -100px;">
                                                                            <div class="manufacturing-box">
                                                                                <div class="row">
                                                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                                                        <img alt="Manufacturing" class="img-responsive img-centered img-manufacturing" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1519976101/nri_page/v2/icon-nri-diligent-design.png">
                                                                                        <h4 class="bordtxt"> </h4>
                                                                                    </div>
                                                                                    <div><h4 class="">  Sharing 2D/3D</h4></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <!--<div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                                                                            <div class="manufacturing-box">
                                                                                <div class="row">
                                                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                                                        <img alt="Manufacturing" class="img-responsive img-centered img-manufacturing" src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1519976101/nri_page/v2/icon-nri-regular-updates.png">
                                                                                        <h4 style="left:35%;"> Quotation </h4>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>-->
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                        <% }); %>
                                                        <% } %>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% } %>
<div class="modal fade" id="addcboard-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:850px;">
        <div id="addcboard-dtls" class="addcboard-container">

        </div>
    </div>
</div>
</div>
<div class="modal fade" id="editDesc-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:783px;">
        <div class="addcboard-container" style="min-height: 0px;">
            <div class="col-sm-12 col-md-12">
                <button type="button"  style="margin-top: -37px; margin-right: -23px;" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="addcboard-heading">Edit Room Description</h3>
                <textarea rows="6" cols="96" id="editdescription"></textarea>
                <input type="hidden" id="editroomid" name="editroomid"/>
                <input type="hidden" id="editname" name="editname"/>
                <input type="hidden" id="editspaceTypeCode" name="editspaceTypeCode"/>
                <div class="mt15" style="text-align:center;">
                    <input type="submit" id="save_Roomdesc" class="btn addcboard-btn"  value="Submit">
                </div>
        </div>
    </div>
</div>
<script>
    function toggleIcon(e) {
    console.log("sssssssssssss");
        $(e.target)
            .prev('.panel-heading')
            .find(".indicator")
            .toggleClass('glyphicon-chevron-up glyphicon-chevron-down');
    }
    $('.panel').on('hidden.bs.collapse', toggleIcon);
    $('.panel').on('shown.bs.collapse', toggleIcon);

    $(document).ready(function() {
      $('.progress .progress-bar').css("width",
                function() {
                    return $(this).attr("aria-valuenow") + "%";
                }
        )
    });
 $(document).ready(function () {
         $('.close').on('click', function () {
             $('body').removeClass().removeAttr('style');$('.modal-backdrop').remove();
         });
     });
</script>