<section class="bg-color-white padding-bottom20 menu-spacer">
    <div class="c-project-description">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <div class="c-project-title">
                        <h2 class="completed-product-head"> Completed Projects </h2>
                    </div>
                    <p class="c-project-description">
                        All the projects we’ve undertaken are a testimony in themselves.
                        They reflect our efficiency and passion for designing. Also,
                        they showcase our skills and aesthetics while taking space and utility under consideration.
                    </p>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
            </div>
        </div>
    </div>
    <div class="c-project-list">
        <div class="container-fluid">
            <div class="c-project-list">
                <div class="c-project-item col-md-6 col-sm-6 col-lg-6 padding0">
                    <div class="c-project-link">
                        <div class="c-project-img">
                            <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9912.jpg" title="Living Room">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9912.jpg" alt="Project 01" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9958.jpg" title="TV Unit">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9958.jpg" alt="Project 01" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9967.jpg" title="Living Room">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9967.jpg" alt="Project 01" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9914.jpg" title="Dining Area">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9914.jpg" alt="Project 01" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9940.jpg" title="Wardrobe">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9940.jpg" alt="Project 01" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9899.jpg" title="Wardrobe">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9899.jpg" alt="Project 01" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9943.jpg" title="Wardrobe">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9943.jpg" alt="Project 01" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9968.jpg" title="Study Table">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9968.jpg" alt="Project 01" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9923.jpg" title="Kitchen">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9923.jpg" alt="Project 01" />
                            </a>
                        </div>
                    </div>
                    <a class="c-project-link-cnt nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9912.jpg" title="Living Room">
                        <span class="c-project-link-cnt-dt">
                            <span class="c-project-list-title"> Aspira </span>
                            <span> Jp Nagar, Bangalore </span>
                        </span>
                    </a>
                </div>

                <div class="c-project-item col-md-6 col-sm-6 col-lg-6 padding0">
                    <div class="c-project-link">
                        <div class="c-project-img">
                            <a class="nivo-img" data-lightbox-gallery="gallery3" href="https://res.cloudinary.com/mygubbi/image/upload/v1468403207/completed_projects/4th_project/IMG_9844.jpg" title="Living Room">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1468403207/completed_projects/4th_project/IMG_9844.jpg" alt="Project 01" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery3" href="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/IMG_9819.jpg" title="Kitchen">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/IMG_9819.jpg" alt="Project 01" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery3" href="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/IMG_9829.jpg" title="Wardrobe">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/IMG_9829.jpg" alt="Project 01" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery3" href="https://res.cloudinary.com/mygubbi/image/upload/v1468403207/completed_projects/4th_project/IMG_9840.jpg" title="TV Unit">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468403207/completed_projects/4th_project/IMG_9840.jpg" alt="Project 01" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery3" href="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/Untitled-1.jpg" title="Storage Unit">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/Untitled-1.jpg" alt="Project 01" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery3" href="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/IMG_9813.jpg" title="Wardrobe">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/IMG_9813.jpg" alt="Project 01" />
                            </a>
                        </div>
                    </div>
                    <a class="c-project-link-cnt nivo-img" data-lightbox-gallery="gallery3" href="https://res.cloudinary.com/mygubbi/image/upload/v1468403207/completed_projects/4th_project/IMG_9844.jpg" title="Living Room">
                        <span class="c-project-link-cnt-dt">
                            <span class="c-project-list-title"> Shobha City </span>
                            <span> Thanisandra, Bangalore </span>
                        </span>
                    </a>
                </div>

                <div class="c-project-item col-md-4 col-sm-4 col-lg-4 padding0">
                    <div class="c-project-link">
                        <div class="c-project-img">
                            <a class="nivo-img" data-lightbox-gallery="gallery6" href="https://res.cloudinary.com/mygubbi/image/upload/v1470048812/completed_projects/ramprasad_%20Shobha_Forest_view/Sobha_Forest_View_kitchen3.jpg" title="Kitchen">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470048812/completed_projects/ramprasad_%20Shobha_Forest_view/Sobha_Forest_View_kitchen3.jpg" alt="Kitchen" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery6" href="https://res.cloudinary.com/mygubbi/image/upload/v1470048811/completed_projects/ramprasad_%20Shobha_Forest_view/kitchen_.jpg" title="Kitchen">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1470048811/completed_projects/ramprasad_%20Shobha_Forest_view/kitchen_.jpg" alt="Kitchen" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery6" href="https://res.cloudinary.com/mygubbi/image/upload/v1470048810/completed_projects/ramprasad_%20Shobha_Forest_view/RAC_Sobha_Forest_View_.jpg" title="Kitchen">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1470048810/completed_projects/ramprasad_%20Shobha_Forest_view/RAC_Sobha_Forest_View_.jpg" alt="Kitchen" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery6" href="https://res.cloudinary.com/mygubbi/image/upload/v1470048812/completed_projects/ramprasad_%20Shobha_Forest_view/rack.jpg" title="Kitchen">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1470048812/completed_projects/ramprasad_%20Shobha_Forest_view/rack.jpg" alt="Kitchen" />
                            </a>
                        </div>
                    </div>
                    <a class="c-project-link-cnt nivo-img" data-lightbox-gallery="gallery6" href="https://res.cloudinary.com/mygubbi/image/upload/v1470048812/completed_projects/ramprasad_%20Shobha_Forest_view/Sobha_Forest_View_kitchen3.jpg" title="Kitchen">
                        <span class="c-project-link-cnt-dt">
                            <span class="c-project-list-title"> Shobha Forest View </span>
                            <span>Hosahalli, Bangalore</span>
                        </span>
                    </a>
                </div>

                <div class="c-project-item col-md-4 col-sm-4 col-lg-4 padding0">
                    <div class="c-project-link">
                        <div class="c-project-img">

                            <a class="nivo-img" data-lightbox-gallery="gallery7" href="https://res.cloudinary.com/mygubbi/image/upload/v1470052864/completed_projects/ganesh_%20Shobha_Forest_view/Sobha_Forest_View_1.jpg" title="Kitchen">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470052864/completed_projects/ganesh_%20Shobha_Forest_view/Sobha_Forest_View_1.jpg" alt="Kitchen" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery7" href="https://res.cloudinary.com/mygubbi/image/upload/v1470050853/completed_projects/ganesh_%20Shobha_Forest_view/open.jpg" title="TV Unit">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1470050853/completed_projects/ganesh_%20Shobha_Forest_view/open.jpg" alt="TV Unit" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery7" href="https://res.cloudinary.com/mygubbi/image/upload/v1470050852/completed_projects/ganesh_%20Shobha_Forest_view/RAC_Sobha_Forest_View_6727.jpg" title="Wardrobe">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1470050852/completed_projects/ganesh_%20Shobha_Forest_view/RAC_Sobha_Forest_View_6727.jpg" alt="Wardrobe" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery7" href="https://res.cloudinary.com/mygubbi/image/upload/v1470050853/completed_projects/ganesh_%20Shobha_Forest_view/shoorack.jpg" title="TV Unit">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1470050853/completed_projects/ganesh_%20Shobha_Forest_view/shoorack.jpg" alt="TV Unit" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery7" href="https://res.cloudinary.com/mygubbi/image/upload/v1470050854/completed_projects/ganesh_%20Shobha_Forest_view/wardrobe.jpg102.jpg" title="Wardrobe">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1470050854/completed_projects/ganesh_%20Shobha_Forest_view/wardrobe.jpg102.jpg" alt="Wardrobe" />
                            </a>
                        </div>
                    </div>
                    <a class="c-project-link-cnt nivo-img" data-lightbox-gallery="gallery7" href="https://res.cloudinary.com/mygubbi/image/upload/v1470052864/completed_projects/ganesh_%20Shobha_Forest_view/Sobha_Forest_View_1.jpg" title="Kitchen">
                        <span class="c-project-link-cnt-dt">
                            <span class="c-project-list-title"> Shobha Forest View </span>
                            <span>Hosahalli, Bangalore</span>
                        </span>
                    </a>
                </div>

                <div class="c-project-item col-md-4 col-sm-4 col-lg-4 padding0">
                    <div class="c-project-link">
                        <div class="c-project-img">
                            <a class="nivo-img" data-lightbox-gallery="gallery8" href="https://res.cloudinary.com/mygubbi/image/upload/v1470051377/completed_projects/axis_amairo/03.jpg" title="TV Unit">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470051377/completed_projects/axis_amairo/03.jpg" alt="TV Unit" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery8" href="https://res.cloudinary.com/mygubbi/image/upload/v1470051378/completed_projects/axis_amairo/04.jpg" title="Kitchen">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1470051378/completed_projects/axis_amairo/04.jpg" alt="Kitchen" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery8" href="https://res.cloudinary.com/mygubbi/image/upload/v1470051376/completed_projects/axis_amairo/kitchen.jpg" title="TV Unit">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1470051376/completed_projects/axis_amairo/kitchen.jpg" alt="TV Unit" />
                            </a>
                            <a class="nivo-img" data-lightbox-gallery="gallery8" href="https://res.cloudinary.com/mygubbi/image/upload/v1470051376/completed_projects/axis_amairo/05.jpg" title="Wardrobe">
                                <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1470051376/completed_projects/axis_amairo/05.jpg" alt="Wardrobe" />
                            </a>
                        </div>
                    </div>
                    <a class="c-project-link-cnt nivo-img" data-lightbox-gallery="gallery8" href="https://res.cloudinary.com/mygubbi/image/upload/v1470051377/completed_projects/axis_amairo/03.jpg" title="TV Unit">
                        <span class="c-project-link-cnt-dt">
                            <span class="c-project-list-title"> Axis Amairo </span>
                            <span> J P Nagar, Bangalore </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial Section -->

    <section class="padding50-15 border-bottom-grey bg-color-white">
        <div class="container-fluid">
            <div class="col-lg-6 col-md-6 col-sm-6 padding0">
                <h2 class="section-heading text-muted">Testimonials</h2>
                <div class="testimonials-wrapper">
                    <div id="testimonials-carousel" class="testimonials-carousel carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#testimonials-carousel" data-slide-to="1"></li>
                            <li data-target="#testimonials-carousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item">
                                <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/w_auto/v1470910404/home/new_design/Arjita-singh.jpg" alt="First Image">
                                <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9912.jpg" alt="First Image">
                                <div class="carousel-caption">
                                    <p class="text-center">
                                        To say we are satisfied with the new kitchen you designed, understates how we feel.
                                        We will, without hesitation recommend your company to anyone who asks us about our new kitchen.
                                        Thanks a lot for a beautiful kitchen.
                                    </p>
                                    <div class="text-right">
                                        <h4> Arjita Singh <i> - Purva Highlands, Bangalore</i></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/w_auto/v1470910404/home/new_design/Jheel.jpg" data-color="firebrick" alt="Second Image">
                                <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1470052864/completed_projects/ganesh_%20Shobha_Forest_view/Sobha_Forest_View_1.jpg" data-color="firebrick" alt="Second Image">
                                <div class="carousel-caption">
                                    <p class="text-center">
                                        Building my dream house with mygubbi was extremely smooth, with a lot of
                                        professional ideas given to me by them. All I can say about them is they are - professional,
                                        they know their business. Leave your home to them and they will build you your
                                        dream house.
                                    </p>
                                    <div class="text-right">
                                        <h4> Jheel Parekh <i> - Bangalore</i></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="img-responsive hidden-xs hidden-sm" src="https://res.cloudinary.com/mygubbi/image/upload/w_auto/v1470910404/home/new_design/Seshadri.jpg" data-color="violet" alt="Third Image">
                                <img class="img-responsive hidden-lg hidden-md" src="https://res.cloudinary.com/mygubbi/image/upload/v1468402898/completed_projects/3rd_project/IMG_9860.jpg" data-color="violet" alt="Third Image">
                                <div class="carousel-caption">
                                    <p class="text-center">
                                        Varun and his team from myubbi has provided excellent interior design service;
                                        this is all inclusive from architectural design, wood work based on room layout,
                                        color selection, comprehensive and complete from idea to implementation.
                                        I am proud to recommend myubbi for all interior design needs.
                                    </p>
                                    <div class="text-right">
                                        <h4> Mrs Dilip Seshadri <i> - Shobha Habitech, Bangalore</i></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2 class="section-heading text-muted">Blog</h2>
                <div class="border-bottom-grey padding-bottom25">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-4 padding-m-5">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/w_auto/v1471633333/stories/Studio_Apartments.jpg"
                                 class="img-responsive" alt="Experience Center" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-8 padding-m-5">
                            <h4 class="text-muted text-normal"> Make the most of your studio apartment </h4>
                            <p class="hidden-xs hidden-sm"> <b> Expert Speak: </b> Sure a studio apartment is small, but that doesn’t mean ... </p>
                            <div>
                                <a href="/stories-all">
                                    <button class="btn btn-explore">MORE</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding-top25 hidden-xs">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-4">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/w_auto/v1471948474/stories/03.jpg"
                                 class="img-responsive" alt="Experience Center" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-8">
                            <h4 class="text-muted text-normal"> 10 best accounts to be followed on Pinterest for home interiors </h4>
                            <p class="hidden-xs hidden-sm"><b>Expert Speak: </b> Getting online to look for inspiration for ...</p>
                            <div>
                                <a href="/stories-all">
                                    <button class="btn btn-explore">MORE</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--<section class="bg-color-white padding50-0">
        <div class="container align-center">
            <h1 class="heading-center-notransform">
                Testimonials
            </h1>
            <div class="row margin0 align-center">
                <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-md-4 col-sm-6">
                                <div class="testmonial-main-cnt">
                                    <div class="testmonial-sub-cnt clearfix">
                                        <div class="testmonial-main-image">
                                            <img class="display-block width85" src="<%= imgBase + 'w_auto' + '/v1468494495/testimonial/01.png'%>" data-original="<%= imgBase + 'w_auto' + '/v1468494495/testimonial/01.png'%>" alt="Inventore voluptates velit totam ipsa">
                                        </div>
                                        <div class="testmonial-img-cnt col-md-12 padding0">
                                            <div class="align-center">
                                                <div class="testmonial-cust-content">
                                                    <div class="testimonial_qt"><blockquote><p>To say we are satisfied with the new kitchen you designed, understates how we feel.
                                                        We will, without hesitation recommend your company
                                                        to anyone who asks us about our new kitchen. Thanks a lot for a beautiful kitchen.</p></blockquote></div>
                                                    <div class="testmonial-cust-dtls">
                                                        Arjita Singh
                                                        <span><b> Purva Highlands </b></span>
                                                        <span> Bangalore </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 hidden-xs">
                                <div class="testmonial-main-cnt">
                                    <div class="testmonial-sub-cnt clearfix">
                                        <div class="testmonial-main-image">
                                            <img class="display-block width85" src="<%= imgBase + 'w_auto' + '/v1468494495/testimonial/03.png'%>" data-original="<%= imgBase + 'w_auto' + '/v1468494495/testimonial/02.png'%>" alt="Inventore voluptates velit totam ipsa">

                                        </div>
                                        <div class="testmonial-img-cnt col-md-12 padding0">
                                            <div class="align-center">
                                                <div class="testmonial-cust-content">
                                                    <div class="testimonial_qt">
                                                        <blockquote>
                                                            <p>
                                                                Building my dream house with mygubbi was extremely smooth,
                                                                with a lot of professional ideas given to me by them.
                                                                All I can say about them is they are - professional,
                                                                they know their business. Leave your home to them and they will build you your dream house.
                                                            </p>
                                                        </blockquote>
                                                    </div>
                                                    <div class="testmonial-cust-dtls">
                                                        Jheel Parekh
                                                        <span><b> Aspira </b></span>
                                                        <span>Bangalore</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                                <div class="testmonial-main-cnt">
                                    <div class="testmonial-sub-cnt clearfix">
                                        <div class="testmonial-main-image">
                                            <img class="display-block width85" src="<%= imgBase + 'w_auto' + '/v1468494495/testimonial/05-single_03.png'%>" data-original="<%= imgBase + 'w_auto' + '/v1468494495/testimonial/05-single_03.png'%>" alt="Inventore voluptates velit totam ipsa">

                                        </div>
                                        <div class="testmonial-img-cnt col-md-12 padding0">
                                            <div class="align-center">
                                                <div class="testmonial-cust-content">
                                                    <div class="testimonial_qt"><blockquote><p>Varun and his team from myubbi has provided excellent interior design service;
                                                        this is all inclusive from architectural design, wood work based on room layout,
                                                        color selection, comprehensive and complete from idea to implementation.
                                                        I am proud to recommend myubbi for all interior design needs.</p></blockquote></div>
                                                    <div class="testmonial-cust-dtls">
                                                        Mrs Dilip Seshadri
                                                        <span><b> Shobha Habitech </b></span>
                                                        <span>Bangalore</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-4 col-sm-6 hidden-xs">
                                <div class="testmonial-main-cnt">
                                    <div class="testmonial-sub-cnt clearfix">
                                        <div class="testmonial-main-image">
                                            <img class="display-block width85" src="<%= imgBase + 'w_auto' + '/v1468494495/testimonial/01.png'%>" data-original="<%= imgBase + 'w_auto' + '/v1468494495/testimonial/01.png'%>" alt="Inventore voluptates velit totam ipsa">
                                        </div>
                                        <div class="testmonial-img-cnt col-md-12 padding0">
                                            <div class="align-center">
                                                <div class="testmonial-cust-content">
                                                    <div class="testimonial_qt"><blockquote><p>To say we are satisfied with the new kitchen you designed, understates how we feel.
                                                        We will, without hesitation recommend your company
                                                        to anyone who asks us about our new kitchen. Thanks a lot for a beautiful kitchen.</p></blockquote></div>
                                                    <div class="testmonial-cust-dtls">
                                                        Arjita Singh
                                                        <span><b> Purva Highlands </b></span>
                                                        <span> Bangalore </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 ">
                                <div class="testmonial-main-cnt">
                                    <div class="testmonial-sub-cnt clearfix">
                                        <div class="testmonial-main-image">
                                            <img class="display-block width85" src="<%= imgBase + 'w_auto' + '/v1468494495/testimonial/03.png'%>" data-original="<%= imgBase + 'w_auto' + '/v1468494495/testimonial/02.png'%>" alt="Inventore voluptates velit totam ipsa">

                                        </div>
                                        <div class="testmonial-img-cnt col-md-12 padding0">
                                            <div class="align-center">
                                                <div class="testmonial-cust-content">
                                                    <div class="testimonial_qt">
                                                        <blockquote>
                                                            <p>
                                                                Building my dream house with mygubbi was extremely smooth,
                                                                with a lot of professional ideas given to me by them.
                                                                All I can say about them is they are - professional,
                                                                they know their business. Leave your home to them and they will build you your dream house.
                                                            </p>
                                                        </blockquote>
                                                    </div>
                                                    <div class="testmonial-cust-dtls">
                                                        Jheel Parekh
                                                        <span><b> Aspira </b></span>
                                                        <span>Bangalore</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                                <div class="testmonial-main-cnt">
                                    <div class="testmonial-sub-cnt clearfix">
                                        <div class="testmonial-main-image">
                                            <img class="display-block width85" src="<%= imgBase + 'w_auto' + '/v1468494495/testimonial/05-single_03.png'%>" data-original="<%= imgBase + 'w_auto' + '/v1468494495/testimonial/05-single_03.png'%>" alt="Habitech">

                                        </div>
                                        <div class="testmonial-img-cnt col-md-12 padding0">
                                            <div class="align-center">
                                                <div class="testmonial-cust-content">
                                                    <div class="testimonial_qt"><blockquote><p>
                                                        Varun and his team from myubbi has provided excellent interior design service;
                                                        this is all inclusive from architectural design, wood work based on room layout,
                                                        color selection, comprehensive and complete from idea to implementation.
                                                        I am proud to recommend myubbi for all interior design needs.
                                                    </p></blockquote></div>
                                                    <div class="testmonial-cust-dtls">
                                                        Mrs Dilip Seshadri
                                                        <span><b> Shobha Habitech </b></span>
                                                        <span>Bangalore</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-4 col-sm-6 hidden-xs">
                                <div class="testmonial-main-cnt">
                                    <div class="testmonial-sub-cnt clearfix">
                                        <div class="testmonial-main-image">
                                            <img class="display-block width85" src="<%= imgBase + 'w_auto' + '/v1468494495/testimonial/01.png'%>" data-original="<%= imgBase + 'w_auto' + '/v1468494495/testimonial/01.png'%>" alt="Inventore voluptates velit totam ipsa">
                                        </div>
                                        <div class="testmonial-img-cnt col-md-12 padding0">
                                            <div class="align-center">
                                                <div class="testmonial-cust-content">
                                                    <div class="testimonial_qt"><blockquote><p>To say we are satisfied with the new kitchen you designed, understates how we feel.
                                                        We will, without hesitation recommend your company
                                                        to anyone who asks us about our new kitchen. Thanks a lot for a beautiful kitchen.</p></blockquote></div>
                                                    <div class="testmonial-cust-dtls">
                                                        Arjita Singh
                                                        <span><b> Purva Highlands </b></span>
                                                        <span> Bangalore </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                                <div class="testmonial-main-cnt">
                                    <div class="testmonial-sub-cnt clearfix">
                                        <div class="testmonial-main-image">
                                            <img class="display-block width85" src="<%= imgBase + 'w_auto' + '/v1468494495/testimonial/03.png'%>" data-original="<%= imgBase + 'w_auto' + '/v1468494495/testimonial/02.png'%>" alt="Inventore voluptates velit totam ipsa">

                                        </div>
                                        <div class="testmonial-img-cnt col-md-12 padding0">
                                            <div class="align-center">
                                                <div class="testmonial-cust-content">
                                                    <div class="testimonial_qt">
                                                        <blockquote>
                                                            <p>
                                                                Building my dream house with mygubbi was extremely smooth,
                                                                with a lot of professional ideas given to me by them.
                                                                All I can say about them is they are - professional,
                                                                they know their business. Leave your home to them and they will build you your dream house.
                                                            </p>
                                                        </blockquote>
                                                    </div>
                                                    <div class="testmonial-cust-dtls">
                                                        Jheel Parekh
                                                        <span><b> Aspira </b></span>
                                                        <span>Bangalore</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="testmonial-main-cnt">
                                    <div class="testmonial-sub-cnt clearfix">
                                        <div class="testmonial-main-image">
                                            <img class="display-block width85" src="<%= imgBase + 'w_auto' + '/v1468494495/testimonial/05-single_03.png'%>" data-original="<%= imgBase + 'w_auto' + '/v1468494495/testimonial/05-single_03.png'%>" alt="Habitech">

                                        </div>
                                        <div class="testmonial-img-cnt col-md-12 padding0">
                                            <div class="align-center">
                                                <div class="testmonial-cust-content">
                                                    <div class="testimonial_qt"><blockquote><p>
                                                        Varun and his team from myubbi has provided excellent interior design service;
                                                        this is all inclusive from architectural design, wood work based on room layout,
                                                        color selection, comprehensive and complete from idea to implementation.
                                                        I am proud to recommend myubbi for all interior design needs.
                                                    </p></blockquote></div>
                                                    <div class="testmonial-cust-dtls">
                                                        Mrs Dilip Seshadri
                                                        <span><b> Shobha Habitech </b></span>
                                                        <span>Bangalore</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>-->

    <!-- Testimonial Section End -->
</section>

<link rel="stylesheet" href="/js/libs/nivo-lightbox/themes/default/default.css">
<link rel="stylesheet" href="/js/libs/nivo-lightbox/nivo-lightbox.css">

<script type="text/javascript" src="/js/libs/nivo-lightbox/nivo-lightbox.js"></script>

<script>
    $(document).ready(function(){
        $('.nivo-img').nivoLightbox();
    });

    var item = $('.testimonials-carousel .item');
    item.eq(0).addClass('active');

    $(document).ready(function() {
        $('.testimonials-carousel').carousel({
          interval: 60000,
          pause: "false"
        });
    });

</script>

