<section class="bg-color-white c-project padding-bottom20 menu-spacer">
    <div class="c-project-description">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    <div class="comp-project-head">
                        <div class="c-project-title text-center">
                            <h2 class="cp-head"> Completed Projects </h2>
                        </div>
                        <p>
                            All the projects we’ve undertaken are a testimony in themselves. They reflect our efficiency and passion for designing. Also, they showcase our skills and aesthetics while taking space and utility under consideration.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-project-list">
        <div class="container">
            <div class="row">
                <div class="c-project-list">

                    <div class="photobox-lightbox">
                        <div class="gallery1">
                            <div class="col-md-6 col-sm-6 wl-gallery" >
                                <div class="wl-gallery-img">
                                    <div class="b-link-fade b-animate-go">
                                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9912.jpg" class="img-responsive" alt="Living Room">
                                        <div class="b-wrapper">
                                            <p class="b-from-right b-animate b-delay03">
                                                <a  title="Living Room"  href="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9912.jpg">
                                                <span class="ioc-circle">
                                                    <i class="fa fa-plus fa-2x"></i>
                                                </span>
                                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9912.jpg" class="nivo-none img-responsive" alt="Living Room">
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="nivo-none">
                                        <div class="b-wrapper">
                                            <p class="b-from-right b-animate b-delay03">
                                                <a class="nivo-img"  href="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9958.jpg" title="TV Unit">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9958.jpg" alt="TV Unit" />
                                                </a>
                                                <a class="nivo-img"  href="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9967.jpg" title="Living Room">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9967.jpg" alt="Living Room" />
                                                </a>
                                                <a class="nivo-img"  href="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9914.jpg" title="Dining Area">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9914.jpg" alt="Dining Area" />
                                                </a>
                                                <a class="nivo-img"  href="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9940.jpg" title="Wardrobe">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9940.jpg" alt="Wardrobe" />
                                                </a>
                                                <a class="nivo-img"  href="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9899.jpg" title="Wardrobe">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9899.jpg" alt="Wardrobe" />
                                                </a>
                                                <a class="nivo-img"  href="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9943.jpg" title="Wardrobe">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9943.jpg" alt="Wardrobe" />
                                                </a>
                                                <a class="nivo-img"  href="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9968.jpg" title="Study Table">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9968.jpg" alt="Study Table" />
                                                </a>
                                                <a class="nivo-img"  href="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9923.jpg" title="Kitchen">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9923.jpg" alt="Kitchen" />
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--Gallery Label-->
                                <div class="cp-detail text-center">
                                    <h4 class="comp-project-title"> Aspira </h4>
                                    <span> JP Nager, Bangalore </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="photobox-lightbox">
                        <div class="gallery1">
                            <div class="col-md-6 col-sm-6 wl-gallery" >
                                <div class="wl-gallery-img">
                                    <div class="b-link-fade b-animate-go">
                                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1468403207/completed_projects/4th_project/IMG_9844.jpg" class="img-responsive" alt="Living Room">
                                        <div class="b-wrapper">
                                            <p class="b-from-right b-animate b-delay03">
                                                <a  title="Living Room"  href="https://res.cloudinary.com/mygubbi/image/upload/v1468403207/completed_projects/4th_project/IMG_9844.jpg">
                                                <span class="ioc-circle">
                                                    <i class="fa fa-plus fa-2x"></i>
                                                </span>
                                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1468403207/completed_projects/4th_project/IMG_9844.jpg" class="nivo-none img-responsive" alt="Living Room">
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="nivo-none">
                                        <div class="b-wrapper">
                                            <p class="b-from-right b-animate b-delay03">
                                                <a class="nivo-img" data-lightbox-gallery="gallery2" href="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/IMG_9819.jpg" title="Kitchen">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/IMG_9819.jpg" alt="Kitchen" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery2" href="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/IMG_9829.jpg" title="Wardrobe">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/IMG_9829.jpg" alt="Wardrobe" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery2" href="https://res.cloudinary.com/mygubbi/image/upload/v1468403207/completed_projects/4th_project/IMG_9840.jpg" title="TV Unit">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468403207/completed_projects/4th_project/IMG_9840.jpg" alt="TV Unit" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery2" href="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/Untitled-1.jpg" title="Storage Unit">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/Untitled-1.jpg" alt="Storage Unit" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery2" href="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/IMG_9813.jpg" title="Wardrobe">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/IMG_9813.jpg" alt="Wardrobe" />
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--Gallery Label-->
                                <div class="cp-detail text-center">
                                    <h4 class="comp-project-title"> Sobha City (Project 01) </h4>
                                    <span> Thanisandra, Bangalore </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="photobox-lightbox">
                        <div class="gallery1">
                            <div class="col-md-6 col-sm-6 wl-gallery" >
                                <div class="wl-gallery-img">
                                    <div class="b-link-fade b-animate-go">
                                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470048812/completed_projects/ramprasad_%20Shobha_Forest_view/Sobha_Forest_View_kitchen3.jpg" class="img-responsive" alt="Living Room">
                                        <div class="b-wrapper">
                                            <p class="b-from-right b-animate b-delay03">
                                                <a  title="Living Room"  href="https://res.cloudinary.com/mygubbi/image/upload/v1470048812/completed_projects/ramprasad_%20Shobha_Forest_view/Sobha_Forest_View_kitchen3.jpg">
                                                <span class="ioc-circle">
                                                    <i class="fa fa-plus fa-2x"></i>
                                                </span>
                                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470048812/completed_projects/ramprasad_%20Shobha_Forest_view/Sobha_Forest_View_kitchen3.jpg" class="nivo-none img-responsive" alt="Living Room">
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="nivo-none">
                                        <div class="b-wrapper">
                                            <p class="b-from-right b-animate b-delay03">
                                                <a class="nivo-img" href="https://res.cloudinary.com/mygubbi/image/upload/v1470048811/completed_projects/ramprasad_%20Shobha_Forest_view/kitchen_.jpg" title="Kitchen">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1470048811/completed_projects/ramprasad_%20Shobha_Forest_view/kitchen_.jpg" alt="Kitchen" />
                                                </a>
                                                <a class="nivo-img" href="https://res.cloudinary.com/mygubbi/image/upload/v1470048810/completed_projects/ramprasad_%20Shobha_Forest_view/RAC_Sobha_Forest_View_.jpg" title="Kitchen">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1470048810/completed_projects/ramprasad_%20Shobha_Forest_view/RAC_Sobha_Forest_View_.jpg" alt="Kitchen" />
                                                </a>
                                                <a class="nivo-img" href="https://res.cloudinary.com/mygubbi/image/upload/v1470048812/completed_projects/ramprasad_%20Shobha_Forest_view/rack.jpg" title="Kitchen">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1470048812/completed_projects/ramprasad_%20Shobha_Forest_view/rack.jpg" alt="Kitchen" />
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--Gallery Label-->
                                <div class="cp-detail text-center">
                                    <h4 class="comp-project-title"> Sobha Forest View (Project 01)</h4>
                                    <span> Hosahalli, Bangalore </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="photobox-lightbox">
                        <div class="gallery1">
                            <div class="col-md-6 col-sm-6 wl-gallery" >
                                <div class="wl-gallery-img">
                                    <div class="b-link-fade b-animate-go">
                                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470052864/completed_projects/ganesh_%20Shobha_Forest_view/Sobha_Forest_View_1.jpg" class="img-responsive" alt="Living Room">
                                        <div class="b-wrapper">
                                            <p class="b-from-right b-animate b-delay03">
                                                <a  title="Living Room"  href="https://res.cloudinary.com/mygubbi/image/upload/v1470052864/completed_projects/ganesh_%20Shobha_Forest_view/Sobha_Forest_View_1.jpg">
                                                <span class="ioc-circle">
                                                    <i class="fa fa-plus fa-2x"></i>
                                                </span>
                                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470052864/completed_projects/ganesh_%20Shobha_Forest_view/Sobha_Forest_View_1.jpg" class="nivo-none img-responsive" alt="Living Room">
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="nivo-none">
                                        <div class="b-wrapper">
                                            <p class="b-from-right b-animate b-delay03">
                                                <a class="nivo-img" href="https://res.cloudinary.com/mygubbi/image/upload/v1470050853/completed_projects/ganesh_%20Shobha_Forest_view/open.jpg" title="TV Unit">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1470050853/completed_projects/ganesh_%20Shobha_Forest_view/open.jpg" alt="TV Unit" />
                                                </a>
                                                <a class="nivo-img" href="https://res.cloudinary.com/mygubbi/image/upload/v1470050852/completed_projects/ganesh_%20Shobha_Forest_view/RAC_Sobha_Forest_View_6727.jpg" title="Wardrobe">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1470050852/completed_projects/ganesh_%20Shobha_Forest_view/RAC_Sobha_Forest_View_6727.jpg" alt="Wardrobe" />
                                                </a>
                                                <a class="nivo-img" href="https://res.cloudinary.com/mygubbi/image/upload/v1470050853/completed_projects/ganesh_%20Shobha_Forest_view/shoorack.jpg" title="TV Unit">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1470050853/completed_projects/ganesh_%20Shobha_Forest_view/shoorack.jpg" alt="TV Unit" />
                                                </a>
                                                <a class="nivo-img" href="https://res.cloudinary.com/mygubbi/image/upload/v1470050854/completed_projects/ganesh_%20Shobha_Forest_view/wardrobe.jpg102.jpg" title="Wardrobe">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1470050854/completed_projects/ganesh_%20Shobha_Forest_view/wardrobe.jpg102.jpg" alt="Wardrobe" />
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--Gallery Label-->
                                <div class="cp-detail text-center">
                                    <h4 class="comp-project-title"> Sobha Forest View (Project 02)</h4>
                                    <span> Hosahalli, Bangalore </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="photobox-lightbox">
                        <div class="gallery1">
                            <div class="col-md-6 col-sm-6 wl-gallery" >
                                <div class="wl-gallery-img">
                                    <div class="b-link-fade b-animate-go">
                                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470051377/completed_projects/axis_amairo/03.jpg" class="img-responsive" alt="TV Unit">
                                        <div class="b-wrapper">
                                            <p class="b-from-right b-animate b-delay03">
                                                <a  title="TV Unit"  href="https://res.cloudinary.com/mygubbi/image/upload/v1470051377/completed_projects/axis_amairo/03.jpg">
                                                <span class="ioc-circle">
                                                    <i class="fa fa-plus fa-2x"></i>
                                                </span>
                                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470051377/completed_projects/axis_amairo/03.jpg" class="nivo-none img-responsive" alt="Tv Unit">
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="nivo-none">
                                        <div class="b-wrapper">
                                            <p class="b-from-right b-animate b-delay03">
                                                <a class="nivo-img" href="https://res.cloudinary.com/mygubbi/image/upload/v1470051378/completed_projects/axis_amairo/04.jpg" title="Kitchen">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1470051378/completed_projects/axis_amairo/04.jpg" alt="Kitchen" />
                                                </a>
                                                <a class="nivo-img" href="https://res.cloudinary.com/mygubbi/image/upload/v1470051376/completed_projects/axis_amairo/kitchen.jpg" title="TV Unit">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1470051376/completed_projects/axis_amairo/kitchen.jpg" alt="TV Unit" />
                                                </a>
                                                <a class="nivo-img" href="https://res.cloudinary.com/mygubbi/image/upload/v1470051376/completed_projects/axis_amairo/05.jpg" title="Wardrobe">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1470051376/completed_projects/axis_amairo/05.jpg" alt="Wardrobe" />
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--Gallery Label-->
                                <div class="cp-detail text-center">
                                    <h4 class="comp-project-title"> Axis Amairo </h4>
                                    <span> JP Nagar, Bangalore </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="photobox-lightbox">
                        <div class="gallery1">
                            <div class="col-md-6 col-sm-6 wl-gallery" >
                                <div class="wl-gallery-img">
                                    <div class="b-link-fade b-animate-go">
                                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1482830829/completed_projects/rohan-primero/SDS_6161.jpg" class="img-responsive" alt="Kitchen">
                                        <div class="b-wrapper">
                                            <p class="b-from-right b-animate b-delay03">
                                                <a  title="Kitchen"  href="https://res.cloudinary.com/mygubbi/image/upload/v1482830829/completed_projects/rohan-primero/SDS_6161.jpg">
                                                <span class="ioc-circle">
                                                    <i class="fa fa-plus fa-2x"></i>
                                                </span>
                                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1482830829/completed_projects/rohan-primero/SDS_6161.jpg" class="nivo-none img-responsive" alt="Kitchen">
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="nivo-none">
                                        <div class="b-wrapper">
                                            <p class="b-from-right b-animate b-delay03">
                                                <a class="nivo-img" data-lightbox-gallery="gallery6" href="https://res.cloudinary.com/mygubbi/image/upload/v1482830829/completed_projects/rohan-primero/SDS_6176.jpg" title="Kitchen">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482830829/completed_projects/rohan-primero/SDS_6176.jpg" alt="Kitchen" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery6" href="https://res.cloudinary.com/mygubbi/image/upload/v1482830829/completed_projects/rohan-primero/SDS_6180.jpg" title="Wardrobe">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482830829/completed_projects/rohan-primero/SDS_6180.jpg" alt="Wardrobe" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery6" href="https://res.cloudinary.com/mygubbi/image/upload/v1482830829/completed_projects/rohan-primero/SDS_6184.jpg" title="Kitchen">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482830829/completed_projects/rohan-primero/SDS_6184.jpg" alt="Kitchen" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery6" href="https://res.cloudinary.com/mygubbi/image/upload/v1482830829/completed_projects/rohan-primero/SDS_6181.jpg" title="Wardrobe">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482830829/completed_projects/rohan-primero/SDS_6181.jpg" alt="Wardrobe" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery6" href="https://res.cloudinary.com/mygubbi/image/upload/v1482830830/completed_projects/rohan-primero/SDS_6195.jpg" title="Kitchen">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482830830/completed_projects/rohan-primero/SDS_6195.jpg" alt="Kitchen" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery6" href="https://res.cloudinary.com/mygubbi/image/upload/v1482830830/completed_projects/rohan-primero/SDS_6201.jpg" title="Kitchen">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482830830/completed_projects/rohan-primero/SDS_6201.jpg" alt="Kitchen" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery6" href="https://res.cloudinary.com/mygubbi/image/upload/v1482830830/completed_projects/rohan-primero/SDS_6208.jpg" title="Wardrobe">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482830830/completed_projects/rohan-primero/SDS_6208.jpg" alt="Wardrobe" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery6" href="https://res.cloudinary.com/mygubbi/image/upload/v1482830830/completed_projects/rohan-primero/SDS_618005.jpg" title="Wardrobe">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482830830/completed_projects/rohan-primero/SDS_618005.jpg" alt="Wardrobe" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery6" href="https://res.cloudinary.com/mygubbi/image/upload/v1482830830/completed_projects/rohan-primero/SDS_6223.jpg" title="Wardrobe">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482830830/completed_projects/rohan-primero/SDS_6223.jpg" alt="Wardrobe" />
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--Gallery Label-->
                                <div class="cp-detail text-center">
                                    <h4 class="comp-project-title"> Rohan Primero </h4>
                                    <span> Mangalore </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="photobox-lightbox">
                        <div class="gallery1">
                            <div class="col-md-6 col-sm-6 wl-gallery" >
                                <div class="wl-gallery-img">
                                    <div class="b-link-fade b-animate-go">
                                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1482838028/completed_projects/kannan-sobha-city/067A9863.jpg" class="img-responsive" alt="Kitchen">
                                        <div class="b-wrapper">
                                            <p class="b-from-right b-animate b-delay03">
                                                <a  title="Kitchen"  href="https://res.cloudinary.com/mygubbi/image/upload/v1482838028/completed_projects/kannan-sobha-city/067A9863.jpg">
                                                <span class="ioc-circle">
                                                    <i class="fa fa-plus fa-2x"></i>
                                                </span>
                                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1482838028/completed_projects/kannan-sobha-city/067A9863.jpg" class="nivo-none img-responsive" alt="Kitchen">
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="nivo-none">
                                        <div class="b-wrapper">
                                            <p class="b-from-right b-animate b-delay03">
                                                <a class="nivo-img" data-lightbox-gallery="gallery7" href="https://res.cloudinary.com/mygubbi/image/upload/v1482838028/completed_projects/kannan-sobha-city/067A9844.jpg" title="Wardrobe">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482838028/completed_projects/kannan-sobha-city/067A9844.jpg" alt="Wardrobe" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery7" href="https://res.cloudinary.com/mygubbi/image/upload/v1482838027/completed_projects/kannan-sobha-city/067A9819.jpg" title="Wardrobe">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482838027/completed_projects/kannan-sobha-city/067A9819.jpg" alt="Wardrobe" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery7" href="https://res.cloudinary.com/mygubbi/image/upload/v1482838028/completed_projects/kannan-sobha-city/067A9810.jpg" title="Study Unit">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482838028/completed_projects/kannan-sobha-city/067A9810.jpg" alt="Study Unit" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery7" href="https://res.cloudinary.com/mygubbi/image/upload/v1482838027/completed_projects/kannan-sobha-city/067A9796.jpg" title="Study Unit">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482838027/completed_projects/kannan-sobha-city/067A9796.jpg" alt="Study Unit" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery7" href="https://res.cloudinary.com/mygubbi/image/upload/v1482838026/completed_projects/kannan-sobha-city/067A9778.jpg" title="Wardrobe">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482838026/completed_projects/kannan-sobha-city/067A9778.jpg" alt="Wardrobe" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery7" href="https://res.cloudinary.com/mygubbi/image/upload/v1482838026/completed_projects/kannan-sobha-city/067A9803.jpg" title="Study Unit">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482838026/completed_projects/kannan-sobha-city/067A9803.jpg" alt="Study Unit" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery7" href="https://res.cloudinary.com/mygubbi/image/upload/v1482838026/completed_projects/kannan-sobha-city/067A9757.jpg" title="Wardrobe">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482838026/completed_projects/kannan-sobha-city/067A9757.jpg" alt="Wardrobe" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery7" href="https://res.cloudinary.com/mygubbi/image/upload/v1482838026/completed_projects/kannan-sobha-city/067A9754.jpg" title="Wardrobe">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482838026/completed_projects/kannan-sobha-city/067A9754.jpg" alt="Wardrobe" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery7" href="https://res.cloudinary.com/mygubbi/image/upload/v1482838026/completed_projects/kannan-sobha-city/067A9746.jpg" title="Study Unit">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482838026/completed_projects/kannan-sobha-city/067A9746.jpg" alt="Study Unit" />
                                                </a>
                                                <a class="nivo-img" data-lightbox-gallery="gallery7" href="https://res.cloudinary.com/mygubbi/image/upload/v1482838026/completed_projects/kannan-sobha-city/067A9726.jpg" title="Study Unit">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482838026/completed_projects/kannan-sobha-city/067A9726.jpg" alt="Study Unit" />
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--Gallery Label-->
                                <div class="cp-detail text-center">
                                    <h4 class="comp-project-title"> Sobha City (Project 02) </h4>
                                    <span> Thanisandra, Bangalore </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="photobox-lightbox">
                        <div class="gallery1">
                            <div class="col-md-6 col-sm-6 wl-gallery" >
                                <div class="wl-gallery-img">
                                    <div class="b-link-fade b-animate-go">
                                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1482838559/completed_projects/ruchi-sobha-city/067A9537.jpg" class="img-responsive" alt="Kitchen">
                                        <div class="b-wrapper">
                                            <p class="b-from-right b-animate b-delay03">
                                                <a  title="Kitchen"  href="https://res.cloudinary.com/mygubbi/image/upload/v1482838559/completed_projects/ruchi-sobha-city/067A9537.jpg">
                                                <span class="ioc-circle">
                                                    <i class="fa fa-plus fa-2x"></i>
                                                </span>
                                                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1482838559/completed_projects/ruchi-sobha-city/067A9537.jpg" class="nivo-none img-responsive" alt="Kitchen">
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="nivo-none">
                                        <div class="b-wrapper">
                                            <p class="b-from-right b-animate b-delay03">
                                                <a class="nivo-img" href="https://res.cloudinary.com/mygubbi/image/upload/v1482838559/completed_projects/ruchi-sobha-city/067A9460.jpg" title="Kitchen">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482838559/completed_projects/ruchi-sobha-city/067A9460.jpg" alt="Kitchen" />
                                                </a>
                                                <a class="nivo-img" href="https://res.cloudinary.com/mygubbi/image/upload/v1482838559/completed_projects/ruchi-sobha-city/067A9481.jpg" title="Wardrobe">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482838559/completed_projects/ruchi-sobha-city/067A9481.jpg" alt="Wardrobe" />
                                                </a>
                                                <a class="nivo-img" href="https://res.cloudinary.com/mygubbi/image/upload/v1482838559/completed_projects/ruchi-sobha-city/067A9515.jpg" title="Wardrobe">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482838559/completed_projects/ruchi-sobha-city/067A9515.jpg" alt="Wardrobe" />
                                                </a>
                                                <a class="nivo-img" href="https://res.cloudinary.com/mygubbi/image/upload/v1482838559/completed_projects/ruchi-sobha-city/067A9586.jpg" title="Kitchen">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482838559/completed_projects/ruchi-sobha-city/067A9586.jpg" alt="Kitchen" />
                                                </a>
                                                <a class="nivo-img" href="https://res.cloudinary.com/mygubbi/image/upload/v1482838559/completed_projects/ruchi-sobha-city/067A9596.jpg" title="Kitchen">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482838559/completed_projects/ruchi-sobha-city/067A9596.jpg" alt="Kitchen" />
                                                </a>
                                                <a class="nivo-img" href="https://res.cloudinary.com/mygubbi/image/upload/v1482838560/completed_projects/ruchi-sobha-city/067A9623.jpg" title="Kitchen">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482838560/completed_projects/ruchi-sobha-city/067A9623.jpg" alt="Kitchen" />
                                                </a>
                                                <a class="nivo-img" href="https://res.cloudinary.com/mygubbi/image/upload/v1482838560/completed_projects/ruchi-sobha-city/067A9694.jpg" title="TV Unit">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482838560/completed_projects/ruchi-sobha-city/067A9694.jpg" alt="TV Unit" />
                                                </a>
                                                <a class="nivo-img" href="https://res.cloudinary.com/mygubbi/image/upload/v1482838560/completed_projects/ruchi-sobha-city/067A9702.jpg" title="TV Unit">
                                                    <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1482838560/completed_projects/ruchi-sobha-city/067A9702.jpg" alt="TV Unit" />
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--Gallery Label-->
                                <div class="cp-detail text-center">
                                    <h4 class="comp-project-title"> Sobha City (Project 03) </h4>
                                    <span> Thanisandra, Bangalore </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<link rel="stylesheet" href="/js/libs/photobox/photobox/photobox.css">
<script type="text/javascript" src="/js/libs/photobox/photobox/jquery.photobox.js"></script>

<link rel="stylesheet" href="/js/libs/hover-pack/hover-pack.css">
<script type="text/javascript" src="/js/libs/hover-pack/hover-pack.js"></script>

<script>
    jQuery('.photobox-lightbox').photobox('a');
    // or with a fancier selector and some settings, and a callback:
    jQuery('.photobox-lightbox').photobox('a:first', { thumbs:false, time:0 }, imageLoaded);
    function imageLoaded() {
        console.log('image has been loaded...');
    }
</script>
