<section class="bg-color-white padding-bottom20 menu-spacer">
    <div class="c-project-description">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="c-project-title">
                        <h2>Completed Project</h2>
                    </div>
                    <p class="c-project-description">
                        Here is a look at the projects that we have successfully completed.
                        As our customers say, these projects can be defined as elegant, classy and customized.
                        It is our exceptional product quality and unparalleled designs that helps us meet our customer requirement
                        and we strive to take a step beyond that!
                    </p>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
            </div>
        </div>
    </div>
    <div class="c-project-list bg-light-gray">
        <div class="container">
        <div class="c-project-list row">
            <div class="c-project-item col-md-4 col-sm-6">
                <div class="c-project-link">
                    <div class="c-project-img">
                        <a class="nivo-img" data-lightbox-gallery="gallery0" href="https://res.cloudinary.com/mygubbi/image/upload/v1468399402/completed_projects/1st_project/IMG_9989.jpg" title="Project 01">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/v1468399402/completed_projects/1st_project/IMG_9989.jpg" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery0" href="https://res.cloudinary.com/mygubbi/image/upload/v1468399402/completed_projects/1st_project/IMG_9998.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468399402/completed_projects/1st_project/IMG_9998.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery0" href="https://res.cloudinary.com/mygubbi/image/upload/v1468399402/completed_projects/1st_project/IMG_0005.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468399402/completed_projects/1st_project/IMG_0005.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery0" href="https://res.cloudinary.com/mygubbi/image/upload/v1468399402/completed_projects/1st_project/IMG_9994.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468399402/completed_projects/1st_project/IMG_9994.jpg" alt="Project 01" />
                        </a>
                    </div>
                </div>
                <a href="#" class="c-project-link">
                    <h4 class="c-project-list-title">HSR View</h4>
                </a>
            </div>
            <div class="c-project-item col-md-4 col-sm-6">
                <div class="c-project-link">
                    <div class="c-project-img">
                        <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9891.jpg" title="Project 01">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9891.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9912.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9912.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9958.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9958.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9967.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9967.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9914.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9914.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9940.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9940.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9899.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9899.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9943.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9943.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9968.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401876/completed_projects/2nd_project/IMG_9968.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery1" href="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9923.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468401875/completed_projects/2nd_project/IMG_9923.jpg" alt="Project 01" />
                        </a>
                    </div>
                </div>
                <a href="#" class="c-project-link">
                    <h4 class="c-project-list-title">Kothanur View</h4>
                </a>
            </div>
            <div class="c-project-item col-md-4 col-sm-6">
                <div class="c-project-link">
                    <div class="c-project-img">
                        <a class="nivo-img" data-lightbox-gallery="gallery2" href="https://res.cloudinary.com/mygubbi/image/upload/v1468402898/completed_projects/3rd_project/IMG_9852.jpg" title="Project 01">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/v1468402898/completed_projects/3rd_project/IMG_9852.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery2" href="https://res.cloudinary.com/mygubbi/image/upload/v1468402898/completed_projects/3rd_project/IMG_9860.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468402898/completed_projects/3rd_project/IMG_9860.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery2" href="https://res.cloudinary.com/mygubbi/image/upload/v1468402898/completed_projects/3rd_project/IMG_9870.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468402898/completed_projects/3rd_project/IMG_9870.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery2" href="https://res.cloudinary.com/mygubbi/image/upload/v1468402898/completed_projects/3rd_project/IMG_9865.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468402898/completed_projects/3rd_project/IMG_9865.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery2" href="https://res.cloudinary.com/mygubbi/image/upload/v1468402898/completed_projects/3rd_project/IMG_9874.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468402898/completed_projects/3rd_project/IMG_9874.jpg" alt="Project 01" />
                        </a>
                    </div>
                </div>
                <a href="#" class="c-project-link">
                    <h4 class="c-project-list-title">Sadashivnagar View</h4>
                </a>
            </div>
            <div class="c-project-item col-md-4 col-sm-6">
                <div class="c-project-link">
                    <div class="c-project-img">
                        <a class="nivo-img" data-lightbox-gallery="gallery3" href="https://res.cloudinary.com/mygubbi/image/upload/v1468403207/completed_projects/4th_project/IMG_9844.jpg" title="Project 01">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/v1468403207/completed_projects/4th_project/IMG_9844.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery3" href="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/IMG_9819.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/IMG_9819.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery3" href="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/IMG_9829.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/IMG_9829.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery3" href="https://res.cloudinary.com/mygubbi/image/upload/v1468403207/completed_projects/4th_project/IMG_9840.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468403207/completed_projects/4th_project/IMG_9840.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery3" href="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/Untitled-1.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/Untitled-1.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery3" href="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/IMG_9813.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1468403206/completed_projects/4th_project/IMG_9813.jpg" alt="Project 01" />
                        </a>
                    </div>
                </div>
                <a href="#" class="c-project-link">
                    <h4 class="c-project-list-title">Sobha City View</h4>
                </a>
            </div>
            <!--<div class="c-project-item col-md-4 col-sm-6">
                <div class="c-project-link">
                    <div class="c-project-img">
                        <a class="nivo-img" data-lightbox-gallery="gallery4" href="https://res.cloudinary.com/mygubbi/image/upload/v1467627957/completed_projects/3rd_project/open.jpg" title="Project 01">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/v1467627957/completed_projects/3rd_project/open.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery4" href="https://res.cloudinary.com/mygubbi/image/upload/v1467627957/completed_projects/3rd_project/open.jpg.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1467627957/completed_projects/3rd_project/open.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery4" href="https://res.cloudinary.com/mygubbi/image/upload/v1467627957/completed_projects/3rd_project/open.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1467627957/completed_projects/3rd_project/open.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery4" href="https://res.cloudinary.com/mygubbi/image/upload/v1467627957/completed_projects/3rd_project/open.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1467627957/completed_projects/3rd_project/open.jpg" alt="Project 01" />
                        </a>
                    </div>
                </div>
                <a href="#" class="c-project-link">
                    <h4 class="c-project-list-title">Sobha Forest View</h4>
                </a>
            </div>
            <div class="c-project-item col-md-4 col-sm-6">
                <div class="c-project-link">
                    <div class="c-project-img">
                        <a class="nivo-img" data-lightbox-gallery="gallery5" href="https://res.cloudinary.com/mygubbi/image/upload/v1467627957/completed_projects/3rd_project/open.jpg" title="Project 01">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/v1467627957/completed_projects/3rd_project/open.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery5" href="https://res.cloudinary.com/mygubbi/image/upload/v1467627957/completed_projects/3rd_project/open.jpg.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1467627957/completed_projects/3rd_project/open.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery5" href="https://res.cloudinary.com/mygubbi/image/upload/v1467627957/completed_projects/3rd_project/open.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1467627957/completed_projects/3rd_project/open.jpg" alt="Project 01" />
                        </a>
                        <a class="nivo-img" data-lightbox-gallery="gallery5" href="https://res.cloudinary.com/mygubbi/image/upload/v1467627957/completed_projects/3rd_project/open.jpg" title="Project 01">
                            <img class="nivo-none" src="https://res.cloudinary.com/mygubbi/image/upload/v1467627957/completed_projects/3rd_project/open.jpg" alt="Project 01" />
                        </a>
                    </div>
                </div>
                <a href="#" class="c-project-link">
                    <h4 class="c-project-list-title">Sobha Forest View</h4>
                </a>
            </div>-->
        </div>
        </div>
    </div>
    <div class="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <h2> Testimonials </h2>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="testimonial-card">
                        <div class="tab-content text-center ">
                            <div role="tabpanel" class="tab-pane active" id="t-one">
                                <p>
                                    “To say we are satisfied with the new kitchen you designed, understates how we feel.
                                    We are absolutely delighted with our new kitchen. From our initial visit to you,
                                    and right through the planning, ordering with Sandeep, and finally the installation by Shijin,
                                    you have looked after us and treated us very well. We must say the care taken and attention to
                                    detail during installation was outstanding. We will, without hesitation recommend your company
                                    to anyone who asks us about our new kitchen. Thanks a lot for a beautiful kitchen.”
                                </p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="t-two">
                                <p>
                                    “I love the wide range of kitchen and wardrobe solutions that mygubbi team has.
                                    The designers are well aware of the requirement and will only suggest what suits the budget.
                                    Thank you mygubbi for this.”
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2"></div>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <ul class="nav nav-pills nav-justified" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#t-one" aria-controls="home" role="tab" data-toggle="tab">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tpn">
                                                <img class="img-thumbnail img-circle" src="<%= imgBase + 'w_auto' + '/kitchen_lp/Arjita.jpg'%>" alt="Arjita Singh">
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-left">
                                                <h4> Arjita Singh </h4>
                                                <p> Bangalore </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#t-two" aria-controls="profile" role="tab" data-toggle="tab">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tpn">
                                                <img class="img-thumbnail img-circle" src="<%= imgBase + 'w_auto' + '/kitchen_lp/apashukla.jpg'%>" alt="Abha shukla">
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-left">
                                                <h4> Abha shukla </h4>
                                                <p> Bangalore </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<link rel="stylesheet" href="/js/libs/nivo-lightbox/themes/default/default.css">
<link rel="stylesheet" href="/js/libs/nivo-lightbox/nivo-lightbox.css">

<script type="text/javascript" src="/js/libs/nivo-lightbox/nivo-lightbox.js"></script>

<script>
    $(document).ready(function(){
        $('.nivo-img').nivoLightbox();
    });
</script>
