<link rel="stylesheet" href="/css/product-details.css">
<link rel="stylesheet" href="/css/kyw.css">

<section>
<!-- Start kyw banner section -->

<div class="kyw-banner-bg"></div>

<!-- End kyw banner section -->

<!-- Start kyw main wardrobe section -->

<section class="main-wardrobe-section bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="long-wardrobe img-centered">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469446564/kyw/PG_2.jpg" alt="wardrobe">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End kyw main wardrobe section -->

<!-- Start kyw wardrobe section -->

<section class="bg-color-white">
    <div class="open-wardrobe-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="img-centered">
                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469135703/kyw/PG_3.png" alt="wardrobe">
                    </div>
                </div>
                <div class="col-sm-1 col-md-3 col-lg-3"></div>
                <div class="col-sm-10 col-md-6 col-lg-6">
                    <p class="text-center">
                        Bring home a great wardrobe with internal shelving designs created to suit your specific needs.
                        Modular cupboards just got the perfect reason to be brought home.
                    </p>
                </div>
                <div class="col-sm-1 col-md-3 col-lg-3"></div>
            </div>
        </div>
    </div>
</section>

<!-- End kyw wardrobe section -->

<!-- Start kyw ergonomics section -->

<section class="bg-color-white">
    <div class="ergonomics-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2 class="ergonomics-heading text-center">
                        Ergonomics
                    </h2>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="img-centered">
                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469156296/kyw/PG_4.jpg" alt="wardrobe">
                    </div>
                </div>
                <div class="col-sm-1 col-md-3 col-lg-3"></div>
                <div class="col-sm-10 col-md-6 col-lg-6">
                    <p class="text-center">
                        While aesthetics and utility are integral to any design, ergonomics ensure
                        that your interaction with your modular unit is nothing but a pleasure.
                    </p>
                </div>
                <div class="col-sm-1 col-md-3 col-lg-3"></div>
            </div>
        </div>
    </div>
</section>

<!-- End kyw ergonomics section -->

<!-- Start kyw slider section -->

<section class="bg-color-white">
    <div id="kyw-slider-carousel" class="kyw-slider-carousel carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#kyw-slider-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#kyw-slider-carousel" data-slide-to="1"></li>
            <li data-target="#kyw-slider-carousel" data-slide-to="2"></li>
            <li data-target="#kyw-slider-carousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item">
                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1469097054/kyw/PG_5.jpg" alt="First Image">
                <div class="carousel-caption">
                    <h2 class="kyw-slider-heading"> SHOE ORGANIZER </h2>
                    <p>
                        Want all your clothing accessories in one place.
                        Complete your look with a pull-out shoe rack in your cupboard that is handy and chic.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1469097055/kyw/PG_6.jpg" data-color="firebrick" alt="Second Image">
                <div class="carousel-caption">
                    <h2 class="kyw-slider-heading"> Garment Lifts </h2>
                    <p>
                        Fret no more about not being able to reach to those higher hanging clothes,
                        as these garment lifts help you pull out the hanger at just one go !
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1469097054/kyw/PG_7.jpg" data-color="violet" alt="Third Image">
                <div class="carousel-caption">
                    <h2 class="kyw-slider-heading"> Laundry Basket </h2>
                    <p>
                        An organized way to dump your laundry clothes;
                        laundry basket can be tucked inside and be rest
                        assured this functional basket will make your room
                        look tidy.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1469097055/kyw/PG_8.jpg" data-color="violet" alt="Third Image">
                <div class="carousel-caption">
                    <h2 class="kyw-slider-heading"> Jewellery Organizer </h2>
                    <p>
                        Intelligent way to organize those little accessories you own !
                        Don't worry about losing them anymore as these organizers are
                        sure to keep them safe.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End kyw slider section -->


<!-- Start kyw Wardrobe Section  -->

<section class="kyw-finishes-type-section bg-color-white">
    <div class="wardrobe-section ">
        <div class="container-fluid some-name">
            <div class="tab-content ward">

                <div role="tabpanel" class="tab-pane wardrobe-img active" id="swing-img">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469448654/kyw/PG_6_1_SWING.jpg" alt="wardrobe">
                </div>
                <div role="tabpanel" class="tab-pane wardrobe-img" id="sliding-img">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469448654/kyw/PG_6_2_SLIDING.jpg" alt="wardrobe">
                </div>
                <div role="tabpanel" class="tab-pane wardrobe-img" id="folding-img">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469448654/kyw/PG_6_3_FOLDING.jpg" alt="wardrobe">
                </div>
            </div>
            <div class="kyw-wardrobe-content-tab">
                <div>
                    <div class="col-sm-4 col-md-6 col-lg-6"> </div>
                    <div class="col-sm-8 col-md-6 col-lg-6 text-center">
                        <h2 class="handle-heading">
                            Type of Wardrobe
                        </h2>
                        <div class="card kyw-handle-card">
                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                <li id="swing" class="wardrobe-lnk active" role="presentation">
                                    <a aria-controls="related-image" role="tab" data-toggle="tab"> Swing </a>
                                </li>
                                <li id="sliding" class="wardrobe-lnk" role="presentation">
                                    <a aria-controls="related-collection" role="tab" data-toggle="tab">  Sliding </a>
                                </li>
                                <li id="folding" class="wardrobe-lnk" role="presentation">
                                    <a aria-controls="related-collection" role="tab" data-toggle="tab">  Folding </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane wardrobe-cnt active" id="swing-content">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="kyw-wardrobe-details">
                                                <p>
                                                    Go the classic way with hinge wardrobe in single or double doors.
                                                    Nothing like opening a cupboard to choose an outfit for the day.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane wardrobe-cnt" id="sliding-content">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="kyw-wardrobe-details">
                                                <p>
                                                    A sliding door cupboard makes for an interesting design element,
                                                    especially when you alternate doors with mirrors and other wardrobe accessories.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane wardrobe-cnt" id="folding-content">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="kyw-wardrobe-details">
                                                <p>
                                                    Folding cupboard doors, with or without veneers add
                                                    exciting new design features to a cupboard that may otherwise be staid.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start kyw Wardrobe Section  -->

<!-- Start kyw interior section -->

<section class="bg-color-white">
    <div class="interior-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2 class="interior-heading text-center"> Interior </h2>

                    <div id="kyw-interior-slider" class="interior-carousel carousel slide" data-ride="interior-carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#kyw-interior-slider" data-slide-to="0" class="active"></li>
                            <li data-target="#kyw-interior-slider" data-slide-to="1"></li>
                            <li data-target="#kyw-interior-slider" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="item items">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1469249675/kyw/PG-7-1.png" alt="First Image">
                                <!--<div class="carousel-caption">
                                    <p> Want all your clothing accessories in one place. Complete your with a pull-out shoe rack in your cupboard that is handy and chic. </p>
                                </div>-->
                            </div>
                            <div class="item items">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1469249976/kyw/PG-7-2.png" alt="Second Image">
                                <!--<div class="carousel-caption">
                                    <p>Want all your clothing accessories in one place. Complete your with a pull-out shoe rack in your cupboard that is handy and chic. </p>
                                </div>-->
                            </div>
                            <div class="item items">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1469249977/kyw/PG-7-3.png" alt="Third Image">
                                <!--<div class="carousel-caption">
                                    <p> The internal configuration of any wardrobe may be customized in terms of basic layout and accessories included to make it a space that you use the way you want.	 </p>
                                </div>-->
                            </div>
                        </div>
                    </div>

                    <div class="carousel-caption">
                        <p class="interior-para"> The internal configuration of any wardrobe may be customized in terms of basic layout and accessories included to make it a space that you use the way you want.	 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End kyw interior section -->

<!-- Start kyw Dimensions Sections  -->

<section class="bg-color-white">
    <div class="kyw-dimensions">
        <div class="container">
            <div class="row">
                <div class="col-sm-1 col-md-2 col-lg-2"></div>
                <div class="col-sm-10 col-md-8 col-lg-8 text-center">
                    <h2 class="dimensions-head">
                        DIMENSIONS
                    </h2>
                    <div class="card kyw-dimensions-card">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="height-m">
                                <div class="kyw-dimensions-details">
                                    <div class="row">
                                        <div class="col-sm-1 col-md-1 col-lg-1"></div>
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                        <p>
                                            Modular cupboards may come with or without a loft. This also gives you the freedom to
                                            customize its length and width to your room and your specific requirements.
                                        </p>
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1"></div>
                                    </div>
                                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469718695/kyw/Height_Animation.gif" alt="dimension">
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="width-m">
                                <div class="kyw-dimensions-details">
                                    <div class="row">
                                        <div class="col-sm-1 col-md-1 col-lg-1"></div>
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <p>
                                                Extended and wide cupboards always give a luxurious feel to the room. Wider the cupboard,
                                                extra the storage and more class to add to your room!
                                            </p>
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1"></div>
                                    </div>
                                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469718733/kyw/Width_Animation.gif" alt="dimension">
                                </div>
                            </div>
                        </div>
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#height-m" aria-controls="related-image" role="tab" data-toggle="tab"> HEIGHT MODULARITY </a>
                            </li>
                            <li role="presentation">
                                <a href="#width-m" aria-controls="related-collection" role="tab" data-toggle="tab">  WIDTH MODULARITY </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-1 col-md-2 col-lg-2"></div>
            </div>
        </div>
    </div>
</section>

<!-- End kyw Dimensions Sections -->

<!-- Start kyw material Sections  -->

<section class="bg-color-white">
    <div class="kyw-finishes-type-section bg-color-white">
        <div class="wardrobe-section">
            <div class="container-fluid">
                <div class="tab-content material-content">
                    <div role="tabpanel" class="tab-pane material-img active" id="mdf-img">
                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469533876/kyw/PG_9__1_MDF.jpg" alt="wardrobe">
                    </div>
                    <div role="tabpanel" class="tab-pane material-img" id="ply-img">
                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469533876/kyw/PG_9__2_PLY.jpg" alt="wardrobe">
                    </div>
                </div>
                <div class="kyw-material-content-tab">
                    <div class="col-sm-4 col-md-6 col-lg-6"> </div>
                    <div class="col-sm-8 col-md-6 col-lg-6 text-center">
                        <h2 class="handle-heading">
                            Material
                        </h2>
                        <div class="card kyw-handle-card">
                            <div class="row">
                                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <ul class="nav nav-tabs nav-justified" role="tablist">
                                        <li id="mdf" class="material-lnk active" role="presentation">
                                            <a aria-controls="related-image " role="tab" data-toggle="tab"> MDF </a>
                                        </li>
                                        <li id="ply" class="material-lnk" role="presentation">
                                            <a aria-controls="related-collection" role="tab" data-toggle="tab">  PLY </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                            </div>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane material-cnt active" id="mdf-content">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="kyw-wardrobe-details">
                                                <p>
                                                    Customizing wardrobes with MDF gives you the ability to include colour schemes
                                                    that you did not think possible. Of course the durability is another advantage as well.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane material-cnt" id="ply-content">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="kyw-wardrobe-details">
                                                <p>
                                                    This wardrobe material lends itself to customized shelving designs considering its strength
                                                    and ability to hold up under duress. Wouldn't you want a cupboard that lasts a lifetime?
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End kyw Material Sections  -->

<!-- End kyw finishes Sections  -->

<section class="kyw-finishes-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2 class="finishes-heading">
                    Finishes
                </h2>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-8 col-md-8 col-lg-8 text-center">
                <div class="tab-content swatches-content">
                    <div role="tabpanel" class="tab-pane swatches-img active" id="laminate-lnk-img">
                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1470219970/Finish-tab.Laminate_03.png" alt="matt">
                    </div>
                    <div role="tabpanel" class="tab-pane swatches-img" id="pupaint-lnk-img">
                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1470220179/kyw/Finish-tab-foil_03.png" alt="matt">
                    </div>
                    <div role="tabpanel" class="tab-pane swatches-img" id="pvcfoil-lnk-img">
                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1470219963/Finish-tab-paint_03.png" alt="matt">
                    </div>
                </div>
                <div class="card kyw-finishes-card">
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li role="presentation" class="finishes-swatches laminate active" id="laminate-lnk">
                            <a aria-controls="related-collection" role="tab" data-toggle="tab"> Laminate </a>
                        </li>
                        <li role="presentation" class="finishes-swatches pupaint" id="pupaint-lnk">

                            <a aria-controls="related-collection" role="tab" data-toggle="tab">  PU Paint </a>
                        </li>
                        <li role="presentation" class="finishes-swatches pvcfoil" id="pvcfoil-lnk">

                            <a aria-controls="related-collection" role="tab" data-toggle="tab">  Pvc Foil </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane swatches-cnt active" id="laminate-lnk-cnt">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="kyw-finishes-details">
                                        <p>
                                            Perfect for contemporary styling, laminates offer you multiple designs
                                            and colour textures to give your wardrobe that perfect designer feel.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane swatches-cnt" id="pupaint-lnk-cnt">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="kyw-finishes-details">
                                        <p>
                                            PU Paint gives you the freedom to go the gloss, satin or matte way.
                                            After all, why should there be a restriction on how you can customize your wardrobe colour scheme.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane swatches-cnt" id="pvcfoil-lnk-cnt">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="kyw-finishes-details">
                                        <p>
                                            Choose to go matte or gloss with your wardrobe finishes with foil.
                                            Seamless and made of PVC, this lends itself to customized designs easily.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
        </div>
    </div>
</section>

<!-- End kyw finishes Sections  -->


<!-- Start kyw finishes type Sections  -->

<section class="kyw-finishes-type-section">
    <div class="kyw-finishes-type-content">
        <div class="container-fluid">
            <div class="tab-content finishes-type-content">
                <div role="tabpanel" class="tab-pane finishes-type-img active" id="matte">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469260929/kyw/PG_11__1_MATT.jpg" alt="matt">
                </div>
                <div role="tabpanel" class="tab-pane finishes-type-img" id="suede">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469260930/kyw/PG_11__2_SUEDE.jpg" alt="matt">
                </div>
                <div role="tabpanel" class="tab-pane finishes-type-img" id="highgloss">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469260930/kyw/PG_11__3_HIGH_GLOSS.jpg" alt="matt">
                </div>
                <div role="tabpanel" class="tab-pane finishes-type-img" id="acrylis">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469260926/kyw/PG_11__4_ACRYLIC.jpg" alt="matt">
                </div>
            </div>
        </div>
    </div>
    <div class="kyw-finishes-type-content-tab">
        <div class="container-fluid">
            <div class="kyw-finishes-type-content-tabs">
                <div class="container finishes-type-container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h2 class="kyw-finishes-type-heading text-center">
                            Finishes Type
                        </h2>
                    </div>
                    <div class="col-sm-2 col-md-3 col-lg-3"></div>
                    <div class="col-sm-8 col-md-6 col-lg-6 text-center">
                        <div class="card kyw-finishes-type-card">
                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                <li role="presentation" class="matte active">
                                    <a href="#matte" aria-controls="related-image" role="tab" data-toggle="tab"> Matte </a>
                                </li>
                                <li role="presentation" class="suede">
                                    <a href="#suede" aria-controls="related-collection" role="tab" data-toggle="tab">  Suede </a>
                                </li>
                                <li role="presentation" class="highgloss">
                                    <a href="#highgloss" aria-controls="related-collection" role="tab" data-toggle="tab">  HIGH GLOSS </a>
                                </li>
                                <li role="presentation" class="acrylis">
                                    <a href="#acrylis" aria-controls="related-collection" role="tab" data-toggle="tab">  acrylic </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-3 col-lg-3"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End kyw finishes type Sections  -->

<!-- Start kyw shutter-designs  Sections  -->

<section class="shutter-designs-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-7 col-lg-7">

            </div>
            <div class="col-sm-6 col-md-5 col-lg-5">
                <h2 class="shutter-designs-heading">
                    Shutter Designs
                </h2>
                <p>
                    Following the minimalistic style of design with plain, yet elegant wardrobe doors. It adds a touch of regality to your space.
                    The customized molded shutter can be designed to look practically any way you want. Match it your room décor seamlessly, or use it to create a statement.</p>
            </div>
        </div>
    </div>
</section>

<!-- End kyw shutter-designs  Sections  -->

<!-- Start kyw ACCESSORIES  Sections  -->

<section class="accessories-section-img accessories-container bg-color-white padding-bottom20">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2 class="interior-heading text-center"> Accessories </h2>
            <div class="content">
                <div class="dummy dummy-image hidden-xs hidden-sm">
                    <div class="dummy-pois">
                        <div class="tooltip tooltip-west" style="top: 55%; left: 22%; z-index: 10 !important;">
                            <span class="tooltip-item"></span>
                            <span class="tooltip-content">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470213835/kyw/PG-13_2-_GARMENT-LIFT.jpg">
                                <span class="g-lift">GARMENT LIFT</span>
                            </span>
                        </div>
                        <div class="tooltip tooltip-west" style="top: 93%;left: 22%; z-index: 10 !important;">
                            <span class="tooltip-item"></span>
                            <span class="tooltip-content">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470213835/kyw/PG-13_3-_JEWELERY-BOX.jpg">
                                <span class="g-lift"> JEWELERY ORGANIZER </span>
                            </span>
                        </div>
                        <div class="tooltip tooltip-west" style="top: 123%;left: 32%;z-index: 8 !important;">
                            <span class="tooltip-item"></span>
                            <span class="tooltip-content">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470213835/kyw/PG-13_4-_SHOE-PULL-OUT.jpg">
                                <span class="t-lift"> SHOE ORGANIZER </span>
                            </span>
                        </div>
                        <div class="tooltip tooltip-west" style="top: 93%;left: 38%;z-index: 7 !important;">
                            <span class="tooltip-item"></span>
                            <span class="tooltip-content">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470213836/kyw/PG-13_5-_TROUSER-PULL-OUT.jpg">
                                <span class="t-lift"> TROUSER PULL OUT </span>
                            </span>
                        </div>
                        <div class="tooltip tooltip-west" style="top: 90%;left: 59%; z-index: 6 !important;">
                            <span class="tooltip-item"></span>
                            <span class="tooltip-content">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470213835/kyw/PG-13_6-_LAUNDRY-BASKET.jpg">
                                <span class="t-lift"> LAUNDRY BASKET </span>
                            </span>
                        </div>
                        <div class="tooltip tooltip-west" style="top: 99%;left: 72%; z-index: 5 !important;">
                            <span class="tooltip-item"></span>
                            <span class="tooltip-content">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470213836/kyw/PG-13_7-_LOCKER.jpg">
                                <span class="g-lift"> Locker </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End kyw accessories section  -->

<!-- Start kyw Handles  Sections  -->

<section class="kyw-finishes-type-section  bg-color-white">
    <div class="handles-section">
        <div class="container-fluid">
            <div class="tab-content handle-content">
                <div role="tabpanel" class="tab-pane handle-img active" id="straight-img">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469261000/kyw/PG_14_1_STRAIGHT_HANDLE.jpg" alt="matt">
                </div>
                <div role="tabpanel" class="tab-pane handle-img" id="aluminum-img">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469261000/kyw/PG_14_2_ALUMINUM_HANDLE.jpg" alt="matt">
                </div>
                <div role="tabpanel" class="tab-pane handle-img" id="knob-img">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469261001/kyw/PG_14_3_KNOBS.jpg" alt="matt">
                </div>
            </div>
            <div class="row kyw-finishes-type-content-tab">
                <div class="col-sm-4 col-md-6 col-lg-6"></div>
                <div class="col-sm-8 col-md-6 col-lg-6 text-center">
                    <h2 class="handle-heading">
                        Type of Handles
                    </h2>
                    <div class="card kyw-handle-card">
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li id="straight" class="handleslnk active" role="presentation">
                                <a aria-controls="related-image" role="tab" data-toggle="tab"> Straight </a>
                            </li>
                            <li id="aluminum" class="handleslnk" role="presentation">
                                <a aria-controls="related-collection" role="tab" data-toggle="tab">  ALUMINUM PROFILE </a>
                            </li>
                            <li id="knob" class="handleslnk" role="presentation">
                                <a aria-controls="related-collection" role="tab" data-toggle="tab">  KNOB </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane handle-cnt active" id="straight-content">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="kyw-wardrobe-details">
                                            <p>
                                                Wardrobes may be further enhanced with a wide range of choices in handles.
                                                The straight door handle is perfect for linear styled space.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane handle-cnt" id="aluminum-content">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="kyw-wardrobe-details">
                                            <p>
                                                Metal has always added a touch of style to any space it is added to.
                                                That is what you can expect from your aluminium door handles for wardrobes.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane handle-cnt" id="knob-content">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="kyw-wardrobe-details">
                                            <p>
                                                Chic and to the point, knobs for wardrobes are a great design
                                                option in modular customization of cupboards.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start kyw Handles section  -->

<!-- Start kyw Hardware  Sections  -->

<section class="hardware-section  bg-color-white">
    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2 class="interior-heading text-center"> Hardware </h2>
        </div>
    </div>
    <div class="hardware-section-img">
        <div class="content">
            <div class="dummy dummy-image hidden-xs hidden-sm">
                <div class="dummy-pois">
                    <div class="tooltip tooltip-west" style="top: 94%; left: 38%;">
                        <span class="tooltip-item"></span>
                        <span class="tooltip-content">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470214083/kyw/PG-15_-3-_DRAWER.jpg">
                            <span class="h-lift"> Perfectly aligned drawer channels ensure that your wardrobe will never be stuck when in use. </span>
                        </span>
                    </div>

                    <div class="tooltip tooltip-west" style="top: 70%; left: 63%; z-index: 8!important;">
                        <span class="tooltip-item"></span>
                        <span class="tooltip-content">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470214083/kyw/PG-15_-2-_HINGE.jpg">
                            <span class="h-lift"> Strong hardware is the key to durability. Hinges have spent generations proving their mettle in this department. </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</section>
<!-- Start kyw Hardware section  -->

<script>

    var item = $('.carousel .item');

    var wHeight = $(window).height();
    var nHeight = (wHeight/2);

    item.eq(0).addClass('active');
    item.height(nHeight);
    item.addClass('full-screen');

    var interiorItem = $('.interior-carousel .items');

    interiorItem.eq(0).addClass('active');
    interiorItem.height(nHeight);
    interiorItem.addClass('full-screen');

    var interiorItem1 = $('.ward .wardrobe-img');

    interiorItem1.eq(0).addClass('active');
    interiorItem1.height(nHeight);
    interiorItem1.addClass('full-screen');

    var materialItem = $('.material-content .material-img');

    materialItem.height(nHeight);
    materialItem.addClass('full-screen');

    var handleItem = $('.handle-content .handle-img');

    handleItem.height(nHeight);
    handleItem.addClass('full-screen');


    var finishesTypeItem = $('.finishes-type-content .finishes-type-img');

    finishesTypeItem.height(nHeight);
    finishesTypeItem.addClass('full-screen');

    $('.carousel img').each(function() {
      var $src = $(this).attr('src');
      var $color = $(this).attr('data-color');
      $(this).parent().css({
        'background-image' : 'url(' + $src + ')',
        'background-color' : $color
      });
      $(this).remove();
    });

    $('.ward img').each(function() {
      var $src = $(this).attr('src');
      var $color = $(this).attr('data-color');
      $(this).parent().css({
        'background-image' : 'url(' + $src + ')',
        'background-color' : $color
      });
      $(this).remove();
    });

     $('.material-content img').each(function() {
      var $src = $(this).attr('src');
      var $color = $(this).attr('data-color');
      $(this).parent().css({
        'background-image' : 'url(' + $src + ')',
        'background-color' : $color
      });
      $(this).remove();
    });

    $('.finishes-type-content img').each(function() {
      var $src = $(this).attr('src');
      var $color = $(this).attr('data-color');
      $(this).parent().css({
        'background-image' : 'url(' + $src + ')',
        'background-color' : $color
      });
      $(this).remove();
    });

    $('.handle-content img').each(function() {
      var $src = $(this).attr('src');
      var $color = $(this).attr('data-color');
      $(this).parent().css({
        'background-image' : 'url(' + $src + ')',
        'background-color' : $color
      });
      $(this).remove();
    });

    $(document).ready(function() {

        $('.interior-carousel').carousel({
          interval: 6000,
          pause: "false"
        });

    });

</script>