<link rel="stylesheet" href="/css/product-details.css">

<!-- Start kyw banner section -->

<div class="kyw-banner-bg"></div>

<!-- End kyw banner section -->

<!-- Start kyw wardrobe section -->

<section class="wardrobe-section bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="img-centered">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469097054/kyk/usp/PG_2.jpg" alt="wardrobe">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End kyw wardrobe section -->

<!-- Start kyw wardrobe section -->

<section class="bg-color-white">
    <div class="open-wardrobe-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="img-centered">
                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469135703/kyk/usp/PG_3.png" alt="wardrobe">
                    </div>
                </div>
                <div class="col-sm-3 col-md-2 col-lg-2"></div>
                <div class="col-sm-6 col-md-8 col-lg-8">
                    <p class="text-center">
                        Bring home a great wardrobe with internal shelving designs created to suit your specific needs.
                        Modular cupboards just got the perfect reason to be brought home.
                    </p>
                </div>
                <div class="col-sm-3 col-md-2 col-lg-2"></div>
            </div>
        </div>
    </div>
</section>

<!-- End kyw wardrobe section -->

<!-- Start kyw ergonomics section -->

<section class="bg-color-white">
    <div class="ergonomics-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2 class="ergonomics-heading text-center">
                        Ergonomics
                    </h2>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="img-centered">
                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469156296/kyk/usp/PG_4.jpg" alt="wardrobe">
                    </div>
                </div>
                <div class="col-sm-3 col-md-2 col-lg-2"></div>
                <div class="col-sm-6 col-md-8 col-lg-8">
                    <p class="text-center">
                        While aesthetics and utility are integral to ay design, ergonomics ensures that your interaction with your modular unit is nothing but a pleasure.
                    </p>
                </div>
                <div class="col-sm-3 col-md-2 col-lg-2"></div>
            </div>
        </div>
    </div>
</section>

<!-- End kyw ergonomics section -->

<!-- Start kyw slider section -->
<section class="bg-color-white">
    <div id="kyw-slider-carousel" class="kyw-slider-carousel carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#kyw-slider-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#kyw-slider-carousel" data-slide-to="1"></li>
            <li data-target="#kyw-slider-carousel" data-slide-to="2"></li>
            <li data-target="#kyw-slider-carousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item">
                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1469097054/kyk/usp/PG_5.jpg" alt="First Image">
                <div class="carousel-caption">
                    <h2 class="kyw-slider-heading">SHOE ORGANIZER</h2>
                    <p>Want all your clothing accessories in one place. Complete your with a pull-out shoe rack in your cupboard that is handy and chic. </p>
                </div>
            </div>
            <div class="item">
                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1469097054/kyk/usp/PG_6.jpg" data-color="firebrick" alt="Second Image">
                <div class="carousel-caption">
                    <h2 class="kyw-slider-heading">SHOE ORGANIZER</h2>
                    <p>Want all your clothing accessories in one place. Complete your with a pull-out shoe rack in your cupboard that is handy and chic. </p>
                </div>
            </div>
            <div class="item">
                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1469097054/kyk/usp/PG_7.jpg" data-color="violet" alt="Third Image">
                <div class="carousel-caption">
                    <h2 class="kyw-slider-heading">SHOE ORGANIZER</h2>
                    <p>Want all your clothing accessories in one place. Complete your with a pull-out shoe rack in your cupboard that is handy and chic. </p>
                </div>
            </div>
            <div class="item">
                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1469097054/kyk/usp/PG_8.jpg" data-color="violet" alt="Third Image">
                <div class="carousel-caption">
                    <h3>SHOE ORGANIZER</h3>
                    <p>Want all your clothing accessories in one place. Complete your with a pull-out shoe rack in your cupboard that is handy and chic. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End kyw slider section -->

<!-- Start kyw wardrobe type section -->
<section class="bg-color-white">
    <div class="kyw-wardrobe-type">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="kyw-wardrobe-img img-centered">
                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469228611/kyk/usp/PG-6_1.jpg" alt="wardrobe">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 text-center">
                    <h2 class="wardrobe-head">
                        Type of Wardrobe
                    </h2>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2"></div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <div class="card kyw-wardrobe-card">
                                <ul class="nav nav-tabs nav-justified" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#swing" aria-controls="related-image" role="tab" data-toggle="tab"> Swing </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#sliding" aria-controls="related-collection" role="tab" data-toggle="tab">  Sliding </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#folding" aria-controls="related-collection" role="tab" data-toggle="tab">  Folding </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="swing">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="kyw-wardrobe-details">
                                                    <p>
                                                        Go the classic way with hinge wardrobe in single or double doors.
                                                        Nothing like opening a cupboard to choose an outfit for the day.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="sliding">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="kyw-wardrobe-details">
                                                    <p>
                                                        Go the classic way with hinge wardrobe in single or double doors.
                                                        Nothing like opening a cupboard to choose an outfit for the day.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="folding">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="kyw-wardrobe-details">
                                                    <p>
                                                        Go the classic way with hinge wardrobe in single or double doors.
                                                        Nothing like opening a cupboard to choose an outfit for the day.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End kyw wardrobe type section -->


<!-- Start kyw interior section -->
<section class="bg-color-white">
    <div class="interior-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2 class="interior-heading text-center"> Interior </h2>

                    <div id="kyw-interior-slider" class="interior-carousel carousel slide" data-ride="interior-carousel">
                        <ol class="carousel-indicators" style="bottom:0px;">
                            <li data-target="#kyw-interior-slider" data-slide-to="0" class="active"></li>
                            <li data-target="#kyw-interior-slider" data-slide-to="1"></li>
                            <li data-target="#kyw-interior-slider" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="item items">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1469249675/kyk/usp/PG-7-1.png" alt="First Image">
                                <!--<div class="carousel-caption">
                                    <p> Want all your clothing accessories in one place. Complete your with a pull-out shoe rack in your cupboard that is handy and chic. </p>
                                </div>-->
                            </div>
                            <div class="item items">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1469249976/kyk/usp/PG-7-2.png" alt="Second Image">
                                <!--<div class="carousel-caption">
                                    <p>Want all your clothing accessories in one place. Complete your with a pull-out shoe rack in your cupboard that is handy and chic. </p>
                                </div>-->
                            </div>
                            <div class="item items">
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1469249977/kyk/usp/PG-7-3.png" alt="Third Image">
                                <!--<div class="carousel-caption">
                                    <p> The internal configuration of any wardrobe may be customized in terms of basic layout and accessories included to make it a space that you use the way you want.	 </p>
                                </div>-->
                            </div>
                        </div>
                    </div>

                    <div class="carousel-caption">
                        <p class="interior-para"> The internal configuration of any wardrobe may be customized in terms of basic layout and accessories included to make it a space that you use the way you want.	 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End kyw interior section -->

<!-- Start kyw Dimensions Sections  -->
<section class="padding50-15 bg-color-white">
    <div class="kyw-dimensions">
        <div class="container">
            <div class="col-sm-3 col-md-2 col-lg-2"></div>
            <div class="col-sm-6 col-md-8 col-lg-8 text-center">
                <h2 class="dimensions-head">
                    DIMENSIONS
                </h2>
                <div class="card kyw-dimensions-card">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="height-m">
                            <div class="kyw-dimensions-details">
                                <p>
                                    Modular cupboards may come with or without a loft. This also gives you the freedom to
                                    customize its length and width to your room and your specific requirements.
                                </p>
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1469253935/kyk/usp/PG_8_4.png" alt="dimension">
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="width-m">
                            <div class="kyw-dimensions-details">
                                <p>
                                    Modular cupboards may come with or without a loft. This also gives you the freedom to
                                    customize its length and width to your room and your specific requirements.
                                </p>
                                <img src="https://res.cloudinary.com/mygubbi/image/upload/v1469253935/kyk/usp/PG_8_5.png" alt="dimension">
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#height-m" aria-controls="related-image" role="tab" data-toggle="tab"> HEIGHT MODULARITY </a>
                        </li>
                        <li role="presentation">
                            <a href="#width-m" aria-controls="related-collection" role="tab" data-toggle="tab">  WIDTH MODULARITY </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-2"></div>
        </div>
    </div>
</section>
<!-- End kyw Dimensions Sections -->

<!-- Start kyw Dimensions Sections  -->
<section class="bg-color-white">
    <div class="kyw-material">
        <div class="container">
            <div class="col-sm-6 col-md-7 col-lg-7 text-center">
                <div class="kyw-material-img">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3"></div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469254848/kyk/PG_9_1.png" alt="kyw-material">
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-5 text-center">
                <h2 class="wardrobe-head">
                    MATERIAL
                </h2>
                <div class="card kyw-dimensions-card">
                    <div class="kyw-dimensions-card-tab">
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#mdf" aria-controls="related-image" role="tab" data-toggle="tab"> MDF </a>
                            </li>
                            <li role="presentation">
                                <a href="#ply" aria-controls="related-collection" role="tab" data-toggle="tab">  PLY </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="mdf">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="kyw-material-details">
                                        <p>
                                            Durable, economical and perfect for practical storage solutions, MDF can be filed,
                                            cut and drilled without damaging the surface. MDF is made by breaking down hardwood
                                            into wood fibres and forming panels by applying high temperature and pressure.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="ply">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="kyw-material-details">
                                        <p>
                                            Durable, economical and perfect for practical storage solutions, MDF can be filed,
                                            cut and drilled without damaging the surface. MDF is made by breaking down hardwood
                                            into wood fibres and forming panels by applying high temperature and pressure.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End kyw Material Sections  -->

<!-- End kyw finishes Sections  -->
<section class="kyw-finishes-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2 class="finishes-heading">
                    Finishes
                </h2>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-8 col-md-8 col-lg-8 text-center">
                <div class="card kyw-finishes-card">
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li role="presentation" class="laminate active">
                            <a href="#laminate" aria-controls="related-image" role="tab" data-toggle="tab"> Laminate </a>
                        </li>
                        <li role="presentation" class="pupaint">
                            <a href="#pupaint" aria-controls="related-collection" role="tab" data-toggle="tab">  PU Paint </a>
                        </li>
                        <li role="presentation" class="pvcfoil">
                            <a href="#pvcfoil" aria-controls="related-collection" role="tab" data-toggle="tab">  Pvc Foil </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="laminate">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="kyw-finishes-details">
                                        <p>
                                            Go the classic way with hinge wardrobe in single or double doors.
                                            Nothing like opening a cupboard to choose an outfit for the day.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="pupaint">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="kyw-finishes-details">
                                        <p>
                                            Go the classic way with hinge wardrobe in single or double doors.
                                            Nothing like opening a cupboard to choose an outfit for the day.sfd
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="pvcfoil">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="kyw-finishes-details">
                                        <p>
                                            Go the classic way with hinge wardrobe in single or double doors.
                                            Nothing like opening a cupboard to choose an outfit for the day. sd
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
        </div>
    </div>
</section>
<!-- End kyw finishes Sections  -->


<!-- Start kyw finishes type Sections  -->
<section class="kyw-finishes-type-section">
    <div class="kyw-finishes-type-content">
        <div class="container-fluid">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="matte">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469260929/kyk/PG_11__1_MATT.jpg" alt="matt">
                </div>
                <div role="tabpanel" class="tab-pane" id="suede">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469260930/kyk/PG_11__2_SUEDE.jpg" alt="matt">
                </div>
                <div role="tabpanel" class="tab-pane" id="highgloss">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469260930/kyk/PG_11__3_HIGH_GLOSS.jpg" alt="matt">
                </div>
                <div role="tabpanel" class="tab-pane" id="acrylis">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469260926/kyk/PG_11__4_ACRYLIC.jpg" alt="matt">
                </div>
            </div>
        </div>
    </div>
    <div class="kyw-finishes-type-content-tab">
        <div class="container-fluid">
            <div class="kyw-finishes-type-content-tabs">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h2 class="kyw-finishes-type-heading text-center">
                            Finishes Type
                        </h2>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3"></div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-center">
                        <div class="card kyw-finishes-type-card">
                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                <li role="presentation" class="matte active">
                                    <a href="#matte" aria-controls="related-image" role="tab" data-toggle="tab"> Matte </a>
                                </li>
                                <li role="presentation" class="suede">
                                    <a href="#suede" aria-controls="related-collection" role="tab" data-toggle="tab">  Suede </a>
                                </li>
                                <li role="presentation" class="highgloss">
                                    <a href="#highgloss" aria-controls="related-collection" role="tab" data-toggle="tab">  HIGH GLOSS </a>
                                </li>
                                <li role="presentation" class="acrylis">
                                    <a href="#acrylis" aria-controls="related-collection" role="tab" data-toggle="tab">  acrylic </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End kyw finishes type Sections  -->

<!-- End kyw shutter-designs  Sections  -->
<section class="shutter-designs-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-7 col-lg-7">

            </div>
            <div class="col-sm-6 col-md-5 col-lg-5">
                <h2 class="shutter-designs-heading">
                    Shutter Designs
                </h2>
                <p>
                    Following the minimalistic style of design with plain, yet elegant wardrobe doors. It adds a touch of regality to your space.
                    The customized molded shutter can be designed to look practically any way you want. Match it your room décor seamlessly, or use it to create a statement.</p>
            </div>
        </div>
    </div>
</section>
<!-- End kyw shutter-designs  Sections  -->

<!-- Start kyw ACCESSORIES  Sections  -->
<!--<section class="accessories-section bg-color-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2 class="accessories-heading text-center"> ACCESSORIES </h2>
                <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469260988/kyk/PG_13_1_MAIN_BACKGROUND_IMAGE.jpg" alt="accessories-section">
            </div>
        </div>
    </div>
</section>-->
<section class="padding50-10 color-3 bg-color-white">
    <div class="open-wardrobe-inter-section">

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2 class="interior-heading text-center"> Accessories </h2>
                <div class="container content">
                    <div class="dummy dummy-image hidden-xs hidden-sm">
                        <div class="dummy-pois">
                            <div class="tooltip tooltip-west" style="top: 40%;left: 15%;">
                                <span class="tooltip-item"></span>
                                <span class="tooltip-content"><img src="https://res.cloudinary.com/mygubbi/image/upload/v1469260986/kyk/PG_13_2_GARMENT_LIFT.jpg"></span>
                            </div>
                            <div class="tooltip tooltip-west" style="top: 135%;left: 30%;">
                                <span class="tooltip-item"></span>
                                <span class="tooltip-content"><img src="https://res.cloudinary.com/mygubbi/image/upload/v1469260986/kyk/PG_13_4_SHOE_PULL-OUT.jpg"></span>
                            </div>
                            <div class="tooltip tooltip-west" style="top: 95%;left: 45%;">
                                <span class="tooltip-item"></span>
                                <span class="tooltip-content"><img src="https://res.cloudinary.com/mygubbi/image/upload/v1469260986/kyk/PG_13_3_JEWELERY_BOX.jpg"></span>
                            </div>
                            <div class="tooltip tooltip-west" style="top: 90%;left: 63%;">
                                <span class="tooltip-item"></span>
                                <span class="tooltip-content"><img src="https://res.cloudinary.com/mygubbi/image/upload/v1469260987/kyk/PG_13_6_LAUNDRY_BASKET.jpg"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End kyw accessories section  -->

<!-- Start kyw Handles  Sections  -->
<section class="padding50-10 bg-color-white">
    <div class="handles-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6"></div>
                <div class="col-sm-6 col-md-6 col-lg-6 text-center">
                    <h2 class="handle-heading">
                        Type of Handles
                    </h2>
                    <div class="card kyw-handle-card">
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#straight" aria-controls="related-image" role="tab" data-toggle="tab"> Straight </a>
                            </li>
                            <li role="presentation">
                                <a href="#aluminum" aria-controls="related-collection" role="tab" data-toggle="tab">  ALUMINUM PROFILE </a>
                            </li>
                            <li role="presentation">
                                <a href="#knob" aria-controls="related-collection" role="tab" data-toggle="tab">  KNOB </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="straight">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="kyw-wardrobe-details">
                                            <p>
                                                Go the classic way with hinge wardrobe in single or double doors.
                                                Nothing like opening a cupboard to choose an outfit for the day.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="aluminum">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="kyw-wardrobe-details">
                                            <p>
                                                Go the classic way with hinge wardrobe in single or double doors.
                                                Nothing like opening a cupboard to choose an outfit for the day.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="knob">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="kyw-wardrobe-details">
                                            <p>
                                                Go the classic way with hinge wardrobe in single or double doors.
                                                Nothing like opening a cupboard to choose an outfit for the day.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start kyw Handles section  -->

<!-- Start kyw Hardware  Sections  -->
<section class="hardware-section  bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2 class="accessories-heading text-center"> HARDWARE </h2>
                <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469261008/kyk/PG_15__1_MAIN_BASE_IMAGE.jpg" alt="accessories-section">
            </div>
        </div>
    </div>
</section>
<!-- Start kyw Hardware section  -->

<style>
    .interior-para{
        font-size:30px!important;
        text-shadow:none!important;
        font-weight:400!important;
        color:#999!important;
    }
    .full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    .kyw-banner-bg{
    background-image: url("https://res.cloudinary.com/mygubbi/image/upload/v1469097054/kyk/usp/PG_1.jpg");
    background-repeat: no-repeat;
    background-position: center 100%;
    height: 360px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px 0 15px 0;
    text-align: center;
    color: #ffffff;
    }
    .open-wardrobe-section{
        background: url("https://res.cloudinary.com/mygubbi/image/upload/v1469247527/kyk/usp/kyw_pattern.png");
    }
    .open-wardrobe-inter-section{
        background: url("https://res.cloudinary.com/mygubbi/image/upload/v1469247527/kyk/usp/kyw_pattern.png");
        height:750px;
    }
    .open-wardrobe-section p{
    font-size: 18px;
    margin: -20px 40px 30px;
    }

    .ergonomics-heading {
    margin: 20px 0px 10px;
    font-weight: 300;
    }
    .ergonomics-wrapper p {
    font-size: 18px;
    margin: -20px 40px 30px;
    }

    .kyw-slider-heading{
    margin: 20px 0px 10px;
    font-weight: 300;
    }
    .kyw-slider-carousel .carousel-inner{
    margin-top: 0px !important;
    }
    .kyw-slider-carousel .carousel-caption {
    left: auto;
    right: 5%;
    width: 30%;
    color: #000;
    bottom: 100px;
    text-shadow: 0px 0px 0px #fff;
    }
    #kyw-slider-carousel .carousel-caption {
        left: 25%;
        right: 5%;
        width: 30%;
        color: #000;
        bottom: 100px;
        text-shadow: 0px 0px 0px #fff;
        top: 0%;
    }
    #kyw-interior-slider .carousel-caption {
        left: 25%;
        right: 5%;
        width: 30%;
        color: #000;
        bottom: 100px;
        text-shadow: 0px 0px 0px #fff;
        top: 0%;
    }
    .kyw-slider-carousel .carousel-indicators {
    bottom: 30px;
    }
    .kyw-slider-carousel  .carousel-indicators li{
    margin: 4px;
    width: 12px;
    height: 12px;
    border: 2px solid #222222;
    }
    .kyw-slider-carousel  .carousel-indicators .active {
    margin: 4px;
    width: 12px;
    height: 12px;
    background-color: #949494;
    }

    .kyw-wardrobe-type{
    padding: 20px 30px;
    }
    .wardrobe-head{
    margin: 70px 10px 20px;
    font-weight: 300;
    }
    .kyw-wardrobe-details{
    padding: 20px 0px 10px;
    }
    .kyw-wardrobe-card {
    margin-top: 60px;
    }
    .kyw-wardrobe-card h5{
    font-weight:500!important;
    }

    .interior-section{
    background: url("https://res.cloudinary.com/mygubbi/image/upload/v1469247527/kyk/usp/kyw_pattern_color.png");
    }
    .interior-heading{
    margin: 20px 10px 20px;
    font-weight: 300;
    }

    .dimensions-head{
    margin: 20px 10px 20px;
    font-weight: 300;
    }
    .kyw-dimensions-details{
    margin: 10px 90px;
    }

    .kyw-material{
    background: #beb9b6;
    min-height: 450px;
    }
    .kyw-material-img{
    padding: 90px 50px 20px;
    }
    .kyw-material-details{
    margin: 20px 0px;
    }
    .kyw-dimensions-card-tab{
    margin: 10px 40px;
    }

    .kyw-finishes-section{
    background-image: url("https://res.cloudinary.com/mygubbi/image/upload/v1469260942/kyk/PG_10_1_BACKGROUND.jpg");
    background-repeat: no-repeat;
    background-position: center 100%;
    height: 750px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px 0 15px 0;
    text-align: center;
    color: #444444;
    }

    .kyw-finishes-section .laminate{
    border-bottom:7px solid #5a777b;
    }
    .kyw-finishes-section .pupaint{
    border-bottom:7px solid #abeeeb;
    }
    .kyw-finishes-section .pvcfoil{
    border-bottom:7px solid #555555;
    }
    .kyw-finishes-details {
    margin: 20px 40px;
    }
    .finishes-heading {
    margin: 110px 10px 95px;
    font-weight: 300;
    }

    .kyw-finishes-type-heading {
    margin: 70px 10px 85px;
    font-weight: 300;
    color: #ffffff;
    }
    .kyw-finishes-type-section{
    position: relative;
    }
    .kyw-finishes-type-content-tab{
    display: block;
    position: absolute;
    z-index: 999999;
    top: 0px;
    }

    .kyw-finishes-type-section .matte{
    border-bottom:7px solid #464646;
    }
    .kyw-finishes-type-section .suede{
    border-bottom:7px solid #a1a1a1;
    }
    .kyw-finishes-type-section .highgloss{
    border-bottom:7px solid #cccccc;
    }
    .kyw-finishes-type-section .acrylis{
    border-bottom:7px solid #ffffff;
    }

    .shutter-designs-section{
    background-image: url("https://res.cloudinary.com/mygubbi/image/upload/v1469260919/kyk/PG_12.jpg");
    background-repeat: no-repeat;
    background-position: center 100%;
    height: 380px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px 0 15px 0;
    text-align: center;
    color: #ffffff;
    }
    .shutter-designs-heading{
    margin: 30px 10px 30px;
    font-weight: 300;
    color: #ffffff;
    }
    .accessories-heading{
    margin: 10px 10px 0px;
    font-weight: 300;
    color: #333333;
    }
    .handles-section{
    background-image: url("https://res.cloudinary.com/mygubbi/image/upload/v1469261000/kyk/PG_14_1_STRAIGHT_HANDLE.jpg");
    background-repeat: no-repeat;
    background-position: center 100%;
    height: 380px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px 0 15px 0;
    text-align: center;
    color: #333333;
    }
    .handle-heading{
    margin: 40px 10px 20px;
    font-weight: 300;
    color: #333333;
    }
    .kyw-handle-card{
    padding:20px 30px;
    }


    /* Card View */
    kyw-handle-card,
    .kyw-wardrobe-card,
    .kyw-dimensions-card{
    margin: 30px 0px 10px;
    }
    .kyw-finishes-card{
    margin: 60px 0px 40px;
    }
    .kyw-handle-card .nav-tabs > li.active,
    .kyw-wardrobe-card .nav-tabs > li.active,
    .kyw-dimensions-card .nav-tabs > li.active{
    border-bottom: 7px solid #000000;
    }
    .kyw-finishes-card .nav-tabs > li.active{
    border-bottom: 7px solid #000000;
    }
    .kyw-finishes-section .nav-tabs .laminate.active{
    border-bottom: 7px solid #1c92a2;
    }
    .kyw-finishes-section .nav-tabs .pupaint.active{
    border-bottom: 7px solid #abeeeb;
    }
    .kyw-finishes-section .nav-tabs .pvcfoil.active{
    border-bottom: 7px solid #555555;
    }

    .kyw-finishes-type-section .nav-tabs .matte.active{
    border-bottom:7px solid #464646;
    }
    .kyw-finishes-type-section .nav-tabs .suede.active{
    border-bottom:7px solid #a1a1a1;
    }
    .kyw-finishes-type-section .nav-tabs .highgloss.active{
    border-bottom:7px solid #cccccc;
    }
    .kyw-finishes-type-section .nav-tabs .acrylis.active{
    border-bottom:7px solid #ffffff;
    }

    .kyw-handle-card .nav-tabs.nav-justified>.active>a,
    .kyw-handle-card .nav-tabs.nav-justified>.active>a:hover,
    .kyw-handle-card .nav-tabs.nav-justified>.active>a:focus,
    .kyw-wardrobe-card .nav-tabs.nav-justified>.active>a,
    .kyw-wardrobe-card .nav-tabs.nav-justified>.active>a:hover,
    .kyw-wardrobe-card .nav-tabs.nav-justified>.active>a:focus,
    .kyw-dimensions-card .nav-tabs.nav-justified>.active>a,
    .kyw-dimensions-card .nav-tabs.nav-justified>.active>a:hover,
    .kyw-dimensions-card .nav-tabs.nav-justified>.active>a:focus{
    border: 0px solid #ddd;
    }
    .kyw-finishes-card .nav-tabs.nav-justified>.active>a,
    .kyw-finishes-card .nav-tabs.nav-justified>.active>a:hover,
    .kyw-finishes-card .nav-tabs.nav-justified>.active>a:focus{
    border: 0px solid #ddd;
    }
    .kyw-finishes-type-card .nav-tabs.nav-justified>.active>a,
    .kyw-finishes-type-card .nav-tabs.nav-justified>.active>a:hover,
    .kyw-finishes-type-card .nav-tabs.nav-justified>.active>a:focus{
    border: 0px solid #ddd;
    }


    @media (min-width: 768px){
    .kyw-handle-card .nav-tabs.nav-justified>li>a,
    .kyw-wardrobe-card .nav-tabs.nav-justified>li>a,
    .kyw-dimensions-card .nav-tabs.nav-justified>li>a{
    border: 0px solid #ddd;
    }
    .kyw-finishes-card .nav-tabs.nav-justified>li>a{
    border: 0px solid #ddd;
    }
    .kyw-finishes-type-card .nav-tabs.nav-justified>li>a{
    border: 0px solid #ddd;
    }
    .kyw-handle-card .nav-tabs.nav-justified>li>a,
    .kyw-wardrobe-card .nav-tabs.nav-justified>li>a,
    .kyw-dimensions-card .nav-tabs.nav-justified>li>a{
    border-bottom: 7px solid #ddd;
    border-radius: 0px;
    background: transparent;
    margin:0px 1px;
    text-transform: uppercase;
    }
    .kyw-finishes-card .nav-tabs.nav-justified>li>a{
    border-bottom: 0px solid #ddd;
    border-radius: 0px;
    background: transparent;
    margin:0px 1px;
    text-transform: uppercase;
    }
    .kyw-finishes-type-card .nav-tabs.nav-justified>li>a{
    border-bottom: 0px solid #ddd;
    border-radius: 0px;
    background: transparent;
    margin:0px 1px;
    text-transform: uppercase;
    color: #ffffff;
    }

    .kyw-handle-card .nav-tabs.nav-justified>li>a:hover,
    .kyw-handle-card .nav-tabs.nav-justified>li>a:active,
    .kyw-handle-card .nav-tabs.nav-justified>li>a:focus,
    .kyw-wardrobe-card .nav-tabs.nav-justified>li>a:hover,
    .kyw-wardrobe-card .nav-tabs.nav-justified>li>a:active,
    .kyw-wardrobe-card .nav-tabs.nav-justified>li>a:focus,
    .kyw-dimensions-card .nav-tabs.nav-justified>li>a:hover,
    .kyw-dimensions-card .nav-tabs.nav-justified>li>a:active,
    .kyw-dimensions-card .nav-tabs.nav-justified>li>a:focus{
    border-bottom: 7px solid #000;
    }
    .kyw-finishes-card .nav-tabs.nav-justified>li>a:hover,
    .kyw-finishes-card .nav-tabs.nav-justified>li>a:active,
    .kyw-finishes-card .nav-tabs.nav-justified>li>a:focus{
    border-bottom: 0px solid #000;
    }
    .kyw-finishes-type-card .nav-tabs.nav-justified>li>a:hover,
    .kyw-finishes-type-card .nav-tabs.nav-justified>li>a:active,
    .kyw-finishes-type-card .nav-tabs.nav-justified>li>a:focus{
    border-bottom: 0px solid #000;
    }
    }
    /* Card View */


    /* Media */

    @media (max-width: 480px) {
    .open-wardrobe-section p {
    font-size: 12px;
    margin: 0px 10px 15px;
    }
    .ergonomics-heading {
    font-size: 20px;
    margin: 10px 0px 0px;
    }
    .ergonomics-wrapper p {
    font-size: 12px;
    margin: 0px 10px 15px;
    }
    .kyw-slider-carousel .carousel-caption {
    bottom: 50px;
    }
    .kyw-slider-carousel .carousel-caption {
    left: auto;
    right: 5%;
    width: 90%;
    }
    .kyw-dimensions-details{
    margin: 10px 10px;
    }
    }

    @media (max-width: 768px) {
    .open-wardrobe-section p {
    font-size: 14px;
    margin: 0px 10px 15px;
    }
    .ergonomics-heading {
    font-size: 20px;
    margin: 10px 0px 0px;
    }
    .ergonomics-wrapper p {
    font-size: 14px;
    margin: 0px 10px 15px;
    }
    .kyw-slider-carousel .carousel-caption {
    bottom: 50px;
    }
    .kyw-slider-carousel .carousel-caption {
    left: auto;
    right: 5%;
    width: 90%;
    }
    .kyw-dimensions-details{
    margin: 10px 10px;
    }
    }

    @media screen and (min-width: 768px)
    .kyw-slider-carousel .carousel-caption {
    left: auto;
    right: 5%;
    padding-bottom: 30px;
    width: 30%;
    color: #000;
    text-shadow: 0px 0px 0px #fff;
    }
    }
</style>

<script>

    var item = $('.carousel .item');

    var wHeight = $(window).height();
    var nHeight = (wHeight/2);

    item.eq(0).addClass('active');
    item.height(nHeight);
    item.addClass('full-screen');

    var interiorItem = $('.interior-carousel .items');

    interiorItem.eq(0).addClass('active');
    interiorItem.height(nHeight);
    interiorItem.addClass('full-screen');

    $('.carousel img').each(function() {
      var $src = $(this).attr('src');
      var $color = $(this).attr('data-color');
      $(this).parent().css({
        'background-image' : 'url(' + $src + ')',
        'background-color' : $color
      });
      $(this).remove();
    });

    $(document).ready(function() {

        $('.interior-carousel').carousel({
          interval: 6000,
          pause: "false"
        });
    });

</script>