<link rel="stylesheet" href="/css/kyk.css">
<link rel="stylesheet" href="/css/kyw.css">

<!-- Start kyk banner section -->

<section class="kyk-banner-section">
    <div class="kyk-banner-bg"></div>
</section>

<!-- End kyk banner section -->

<!-- Start kyk box section -->

<section class="bg-color-white">
    <div class="kyk-box">
        <div class="container-fluid">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="left-vessel-img">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470079392/kyk/Detail2.jpg" class="img-responsive" alt="kuk">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="breakfast-box">
                            <p>
                                Breakfast counters are the perfect contemporary
                                designing style used in kitchens. While they enhance the look of the kitchen they
                                also make for perfect storage space.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <p>
                    Be a proud kitchen owner by owing the right stack of accessories one needs!
                    Accessories are a perfect partner for a functional kitchen, and while it helps save a lot of time,
                    it also enhances the look and storage area of your kitchen.
                </p>
                <div class="right-vessel-img">
                    <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470079394/kyk/Detail3.jpg" class="img-responsive" alt="kuk">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start kyk box section -->

<!-- Start kyk box section -->

<section class="bg-color-white">
    <div class="kyk-ergonomics-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="kyk-heading text-center"> Ergonomics  </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="kyk-ergonomics-img">
                        <img src="https://res.cloudinary.com/mygubbi/image/upload/v1470138410/kyk/Front__2.jpg" class="img-responsive" alt="Ergonomics">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="kyk-ergonomics-dec">
                        While aesthetics and utility are integral to any design,ergonomics ensure that your interaction with your modular unit is nothing but a pleasure.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start kyk box section -->

<!-- Start kyk Kitchen Section  -->

<section class="kyw-finishes-type-section bg-color-white">
    <div class="wardrobe-section ">
        <div class="container-fluid some-name">
            <div class="tab-content ward">

                <div role="tabpanel" class="tab-pane wardrobe-img active" id="i-shape-img">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1470137363/kyk/1_-I-SHAPE.jpg" alt="wardrobe">
                </div>
                <div role="tabpanel" class="tab-pane wardrobe-img" id="l-shape-img">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1470137365/kyk/2_-L-SHAPE.jpg" alt="wardrobe">
                </div>
                <div role="tabpanel" class="tab-pane wardrobe-img" id="u-shape-img">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1470137365/kyk/3_-U-SHAPE.jpg" alt="wardrobe">
                </div>
                <div role="tabpanel" class="tab-pane wardrobe-img" id="p-shape-img">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1470137366/kyk/4-_-PARALLEL.jpg" alt="wardrobe">
                </div>
            </div>
            <div class="kyw-wardrobe-content-tab">
                <div>
                    <div class="col-sm-6 col-md-6 col-lg-6"> </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-center">
                        <h2 class="handle-heading">
                            Type of Kitchen
                        </h2>
                        <div class="card kyw-handle-card">
                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                <li id="i-shape" class="wardrobe-lnk active" role="presentation">
                                    <a aria-controls="related-image" role="tab" data-toggle="tab"> I Shape </a>
                                </li>
                                <li id="l-shape" class="wardrobe-lnk" role="presentation">
                                    <a aria-controls="related-collection" role="tab" data-toggle="tab">  L Shape </a>
                                </li>
                                <li id="u-shape" class="wardrobe-lnk" role="presentation">
                                    <a aria-controls="related-collection" role="tab" data-toggle="tab">  U Shape </a>
                                </li>
                                <li id="p-shape" class="wardrobe-lnk" role="presentation">
                                    <a aria-controls="related-collection" role="tab" data-toggle="tab">  Folding </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane wardrobe-cnt active" id="i-shape-content">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="kyw-wardrobe-details">
                                                <p>
                                                    When space is at a premium, a straight modular kitchen is the answer.
                                                    Neat, compact and so very versatile.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane wardrobe-cnt" id="l-shape-content">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="kyw-wardrobe-details">
                                                <p>
                                                    An L-shaped kitchen for the pleasure of dining in the kitchen with your family!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane wardrobe-cnt" id="u-shape-content">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="kyw-wardrobe-details">
                                                <p>
                                                    A U-shaped kitchen that naturally adds a touch of glamour to your space.
                                                    It also perfectly utiliizes wall area to create a great cooking space.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane wardrobe-cnt" id="p-shape-content">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="kyw-wardrobe-details">
                                                <p>
                                                    When just a little more space is always welcome,
                                                    then the a parallel island counter is just what you are looking for.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End kyk Kitchen Section  -->

<!-- Start kyw accessories hardware Section  -->

<section class="bg-color-white">
    <div class="accessories-hardware-section-img">
        <div class="container">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2 class="kyk-heading-gray  text-center"> Accessories & Hardware </h2>
            </div>
        </div>
        <div class="content">
            <div class="dummy dummy-image hidden-xs hidden-sm">
                <div class="dummy-pois">
                    <div class="tooltip tooltip-west" style="top: 35%; left: 33%;">
                        <span class="tooltip-item"></span>
                        <span class="tooltip-content">
                            <img src="https://res.cloudinary.com/mygubbi/image/upload/v1469261006/kyw/PG_15__3_DRAWER.jpg">
                            <span class="h-lift"> Perfectly aligned drawer channels ensure that your wardrobe will never be stuck when using it. That is what quality work is all about.	 </span>
                        </span>
                    </div>

                    <div class="tooltip tooltip-west" style="top: 35%; left: 70%; z-index: 8!important;">
                        <span class="tooltip-item"></span>
                        <span class="tooltip-content">
                            <img src="http://res.cloudinary.com/mygubbi/image/upload/v1469261006/kyw/PG_15__2_HINGE.jpg">
                            <span class="h-lift"> Strong hardware is the key to durability. Hinges have spent generations proving their mettle in this department. </span>
                        </span>
                    </div>

                    <div class="tooltip tooltip-west" style="top: 35%;left: 70%;z-index: 12!important;">
                        <span class="tooltip-item"></span>
                        <span class="tooltip-content">
                            <img src="http://res.cloudinary.com/mygubbi/image/upload/v1469261006/kyw/PG_15__2_HINGE.jpg">
                            <span class="h-lift"> Strong hardware is the key to durability. Hinges have spent generations proving their mettle in this department. </span>
                        </span>
                    </div>

                    <div class="tooltip tooltip-west" style="top: 89%;left: 24%;z-index: 11!important;">
                        <span class="tooltip-item"></span>
                        <span class="tooltip-content">
                            <img src="http://res.cloudinary.com/mygubbi/image/upload/v1469261006/kyw/PG_15__2_HINGE.jpg">
                            <span class="h-lift"> Strong hardware is the key to durability. Hinges have spent generations proving their mettle in this department. </span>
                        </span>
                    </div>

                    <div class="tooltip tooltip-west" style="top: 100%;left: 30%;z-index: 10!important;">
                        <span class="tooltip-item"></span>
                        <span class="tooltip-content">
                            <img src="http://res.cloudinary.com/mygubbi/image/upload/v1469261006/kyw/PG_15__2_HINGE.jpg">
                            <span class="h-lift"> Strong hardware is the key to durability. Hinges have spent generations proving their mettle in this department. </span>
                        </span>
                    </div>

                    <div class="tooltip tooltip-west" style="top: 92%;left: 42%;z-index: 9!important;">
                        <span class="tooltip-item"></span>
                        <span class="tooltip-content">
                            <img src="http://res.cloudinary.com/mygubbi/image/upload/v1469261006/kyw/PG_15__2_HINGE.jpg">
                            <span class="h-lift"> Strong hardware is the key to durability. Hinges have spent generations proving their mettle in this department. </span>
                        </span>
                    </div>

                    <div class="tooltip tooltip-west" style="top: 120%;left: 54%;z-index: 8!important;">
                        <span class="tooltip-item"></span>
                        <span class="tooltip-content">
                            <img src="http://res.cloudinary.com/mygubbi/image/upload/v1469261006/kyw/PG_15__2_HINGE.jpg">
                            <span class="h-lift"> Strong hardware is the key to durability. Hinges have spent generations proving their mettle in this department. </span>
                        </span>
                    </div>
                    <div class="tooltip tooltip-west" style="top: 87%;left: 56%;z-index: 7!important;">
                        <span class="tooltip-item"></span>
                        <span class="tooltip-content">
                            <img src="http://res.cloudinary.com/mygubbi/image/upload/v1469261006/kyw/PG_15__2_HINGE.jpg">
                            <span class="h-lift"> Strong hardware is the key to durability. Hinges have spent generations proving their mettle in this department. </span>
                        </span>
                    </div>
                    <div class="tooltip tooltip-west" style="top: 120%; left: 73%; 6!important;">
                        <span class="tooltip-item"></span>
                        <span class="tooltip-content">
                            <img src="http://res.cloudinary.com/mygubbi/image/upload/v1469261006/kyw/PG_15__2_HINGE.jpg">
                            <span class="h-lift"> Strong hardware is the key to durability. Hinges have spent generations proving their mettle in this department. </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="accessories-hardware-dec">
                    <p>
                        There is a wide range of kitchen accessories available to hold cutlery.
                        There are varied options available including combination cutlery tray,
                        partitioned cutlery tray for better assortment and storage. Other accessories
                        include hinge and drawer systems which come with an integrated soft-closing
                        mechanism that adds to the convenience factor for easy closing of doors and drawers.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End kyw accessories hardware Section  -->

<!-- End kyk appliances  Sections  -->

<section class="kyk-appliances-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="kyk-appliances-cont">
                    <h2 class="kyk-heading-gray  text-left">
                        Appliances
                    </h2>
                    <div class="kyk-appliances-dec">
                        <p class="text-left">
                            Well operating appliances are known to form the backbone of a functional kitchen.
                            Chimneys and Hobs are the most important appliance one looks for along with built-in microwave,
                            dishwasher, refrigerator and water purifier. Some of the best brands that sell these
                            appliances are Bosch, Faber, KAFF and Siemens.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">

            </div>
        </div>
    </div>
</section>

<!-- End kyw appliances  Sections  -->


<!-- Start kyk material Sections  -->

<section class="bg-color-white">
    <div class="kyw-finishes-type-section bg-color-white">
        <div class="wardrobe-section">
            <div class="container-fluid">
                <div class="tab-content material-content">
                    <div role="tabpanel" class="tab-pane material-img active" id="mdf-img">
                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469533876/kyw/PG_9__1_MDF.jpg" alt="wardrobe">
                    </div>
                    <div role="tabpanel" class="tab-pane material-img" id="ply-img">
                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1469533876/kyw/PG_9__2_PLY.jpg" alt="wardrobe">
                    </div>
                </div>
                <div class="kyw-material-content-tab">
                    <div class="col-sm-6 col-md-6 col-lg-6"> </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-center">
                        <h2 class="handle-heading">
                            Material
                        </h2>
                        <div class="card kyw-handle-card">
                            <div class="row">
                                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <ul class="nav nav-tabs nav-justified" role="tablist">
                                        <li id="mdf" class="material-lnk active" role="presentation">
                                            <a aria-controls="related-image " role="tab" data-toggle="tab"> MDF </a>
                                        </li>
                                        <li id="ply" class="material-lnk" role="presentation">
                                            <a aria-controls="related-collection" role="tab" data-toggle="tab">  PLY </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane material-cnt active" id="mdf-content">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="kyw-wardrobe-details">
                                                <p>
                                                    Medium-density fiberboard (MDF) – Durable, economical and perfect for practical storage solutions,
                                                    MDF can be field, cut and drilled without damaging the surface.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane material-cnt" id="ply-content">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="kyw-wardrobe-details">
                                                <p>
                                                    plywood is a strong material which is extremely durable and economical.
                                                    Plywood is made from sheets of wood that have been pasted together through strong
                                                    chemical treatment, thereby making them extremely sturdy.
                                                    Plywood is also more economical than solid wood and they are easy to maintain.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End kyk Material Sections  -->

<!-- End kyw finishes Sections  -->

<section class="kyk-finishes-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2 class="kyk-heading-gray text-center">
                    Finishes
                </h2>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-8 col-md-8 col-lg-8 text-center">
                <div class="tab-content swatches-content kyk-swatches-content">
                    <div role="tabpanel" class="tab-pane swatches-img active" id="laminate-lnk-img">
                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1470219970/Finish-tab.Laminate_03.png" alt="matt">
                    </div>
                    <div role="tabpanel" class="tab-pane swatches-img" id="pupaint-lnk-img">
                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1470220179/kyw/Finish-tab-foil_03.png" alt="matt">
                    </div>
                    <div role="tabpanel" class="tab-pane swatches-img" id="pvcfoil-lnk-img">
                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1470219963/Finish-tab-paint_03.png" alt="matt">
                    </div>
                </div>
                <div class="card kyw-finishes-card">
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li role="presentation" class="finishes-swatches laminate active" id="laminate-lnk">
                            <a aria-controls="related-collection" role="tab" data-toggle="tab"> Laminate </a>
                        </li>
                        <li role="presentation" class="finishes-swatches pupaint" id="pupaint-lnk">

                            <a aria-controls="related-collection" role="tab" data-toggle="tab">  Foil  </a>
                        </li>
                        <li role="presentation" class="finishes-swatches pvcfoil" id="pvcfoil-lnk">

                            <a aria-controls="related-collection" role="tab" data-toggle="tab">  Paint </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane swatches-cnt active" id="laminate-lnk-cnt">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="kyw-finishes-details">
                                        <p>
                                            Want your kitchen finish to last generations? Consider laminate for its water-resistance,
                                            durability and its sleek looks. You will not be disappointed.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane swatches-cnt" id="pupaint-lnk-cnt">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="kyw-finishes-details">
                                        <p>
                                            Foil finishes to your kitchen give it a glamorous look while ensuring it is water-resistant and seamless.
                                            Smooth cooking surfaces like never before can now be assured.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane swatches-cnt" id="pvcfoil-lnk-cnt">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="kyw-finishes-details">
                                        <p>
                                            Ever think of satin, gloss and matte in terms of paint for your kitchen?
                                            Well now you can! Textured paints are the thing and PU paints offer you style and durability.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End kyw finishes Sections  -->

<!-- Start kyk finishes type Sections  -->

<section class="kyw-finishes-type-section">
    <div class="kyw-finishes-type-content">
        <div class="container-fluid">
            <div class="tab-content finishes-type-content">
                <div role="tabpanel" class="tab-pane finishes-type-img active" id="matte">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1470104490/kyk/suede.jpg" alt="matt">
                </div>
                <div role="tabpanel" class="tab-pane finishes-type-img" id="suede">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1470137361/kyk/acrylic.jpg" alt="matt">
                </div>
                <div role="tabpanel" class="tab-pane finishes-type-img" id="highgloss">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1470137365/kyk/2_HIGH-GLOSS-.jpg" alt="matt">
                </div>
            </div>
        </div>
    </div>
    <div class="kyw-finishes-type-content-tab">
        <div class="container-fluid">
            <div class="kyw-finishes-type-content-tabs">
                <div class="container finishes-type-container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h2 class="kyw-finishes-type-heading text-center">
                                Type of finish
                            </h2>
                        </div>
                        <div class="col-sm-2 col-md-3 col-lg-3"></div>
                        <div class="col-sm-8 col-md-6 col-lg-6 text-center">
                            <div class="card kyw-finishes-type-card">
                                <ul class="nav nav-tabs nav-justified" role="tablist">
                                    <li role="presentation" class="matte active">
                                        <a href="#matte" aria-controls="related-image" role="tab" data-toggle="tab"> Suede </a>
                                    </li>
                                    <li role="presentation" class="suede">
                                        <a href="#suede" aria-controls="related-collection" role="tab" data-toggle="tab">  Matte </a>
                                    </li>
                                    <li role="presentation" class="highgloss">
                                        <a href="#highgloss" aria-controls="related-collection" role="tab" data-toggle="tab">  HIGH GLOSS </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End kyk finishes type Sections  -->

<!-- Start kyk shutter-designs  Sections  -->

<section class="shutter-designs-section">
    <div class="container">
        <div class="row">
            <div class="kyk-shutter-cont">
                <div class="col-sm-4 col-md-7 col-lg-7">

                </div>
                <div class="col-sm-8 col-md-5 col-lg-5">
                    <h2 class="shutter-designs-heading">
                        Shutter
                    </h2>
                    <p>
                        Shutter designing can be plain or with grooves to bring in the classical theme to your kitchen.
                        Enhance it further with options in glass and aluminium trimmings.
                    </p>
                    <p>
                        Kitchen looks different by adding different types of shutter.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End kyk shutter-designs  Sections  -->

<!-- Start kyk Handle  Sections  -->

<section class="kyk-handle-section">
    <div class="container">
        <div class="row">
            <div class="kyk-handle-cont">
                <div class="col-sm-4 col-md-7 col-lg-7">

                </div>
                <div class="col-sm-8 col-md-5 col-lg-5">
                    <h2 class="kyk-heading-gray text-center">
                        Handle
                    </h2>
                    <p>
                        A range of decorative handles are available to blend in with your decor and
                        add that touch of excitement to your kitchen interiors.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End kyk Handle  Sections  -->


<!-- Start kyk counter Sections  -->

<section class="bg-color-white">
    <div class="kyw-finishes-type-section bg-color-white">
        <div class="wardrobe-section">
            <div class="container-fluid">
                <div class="tab-content counter-content">
                    <div role="tabpanel" class="tab-pane counter-img active" id="artificial-img">
                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1470137363/kyk/1_artifical-marble-.jpg" alt="Artificial">
                    </div>
                    <div role="tabpanel" class="tab-pane counter-img" id="granite-img">
                        <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1470137365/kyk/2_granite.jpg" alt="Granite">
                    </div>
                </div>
                <div class="kyw-material-content-tab kyk-counter-content">
                    <div class="col-sm-6 col-md-6 col-lg-6"> </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-center">
                        <h2 class="kyk-heading-gray">
                            Counter Top
                        </h2>
                        <div class="card kyw-handle-card">
                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                <li id="artificial" class="counter-lnk active" role="presentation">
                                    <a aria-controls="related-image " role="tab" data-toggle="tab"> Artificial Marble </a>
                                </li>
                                <li id="granite" class="counter-lnk" role="presentation">
                                    <a aria-controls="related-collection" role="tab" data-toggle="tab">  Granite </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane counter-cnt active" id="artificial-cnt">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="kyw-counter-details">
                                                <p>
                                                    When durability, affordability and style are the order of the day,
                                                    then cultured marble is what you are looking for!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane counter-cnt" id="granite-cnt">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="kyw-counter-details">
                                                <p>
                                                    Granite counter tops for surfaces that never lose their original sheen. Of course their heat-resistance,
                                                    and hygienic non-porous surfaces also make them super choices as well.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End kyk Material Sections  -->

<!-- Start kyk splash type Sections  -->

<section class="kyw-finishes-type-section">
    <div class="kyw-finishes-type-content">
        <div class="container-fluid">
            <div class="tab-content finishes-type-content">
                <div role="tabpanel" class="tab-pane finishes-type-img active" id="glass">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1470137363/kyk/1_-glass-tiles-.jpg" alt="Glass Tiles">
                </div>
                <div role="tabpanel" class="tab-pane finishes-type-img" id="ceramicd">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1470137364/kyk/2_ceramic-tiles-.jpg" alt="Ceramic Tiles">
                </div>
                <div role="tabpanel" class="tab-pane finishes-type-img" id="toughened">
                    <img class="img-responsive" src="https://res.cloudinary.com/mygubbi/image/upload/v1470137366/kyk/3_-toughened-glass.jpg" alt="Toughened">
                </div>
            </div>
        </div>
    </div>
    <div class="kyw-finishes-type-content-tab">
        <div class="container-fluid">
            <div class="kyw-finishes-type-content-tabs">
                <div class="container finishes-type-container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h2 class="kyk-heading-gray text-center">
                                Splash Panel
                            </h2>
                        </div>
                        <div class="col-sm-2 col-md-3 col-lg-3"></div>
                        <div class="col-sm-8 col-md-6 col-lg-6 text-center">
                            <div class="card kyw-handle-card kyk-splash-card">
                                <ul class="nav nav-tabs nav-justified" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#glass" aria-controls="related-image" role="tab" data-toggle="tab"> Glass Tiles </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#ceramicd" aria-controls="related-collection" role="tab" data-toggle="tab">  Ceramics Tiles </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#toughened" aria-controls="related-collection" role="tab" data-toggle="tab">  Toughened Glass </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End kyk splash type Sections  -->

<!-- Start kyk Handle  Sections  -->

<section class="kyk-sink-section">
    <div class="container">
        <div class="row">
            <div class="kyk-handle-cont">
                <div class="col-sm-8 col-md-5 col-lg-5">
                    <h2 class="kyk-heading-gray text-center">
                        Sink & Faucet
                    </h2>
                    <p>
                        Sinks are available in a range of materials and designs, allowing you to combine aesthetics and utility in a stylish manner.
                    </p>
                    <p>
                        The stylish sinks need trendy faucets to complement them! Don't go with the plain and simple, you’d rather let style and utility go hand in hand.
                    </p>
                </div>
                <div class="col-sm-4 col-md-7 col-lg-7">

                </div>
            </div>
        </div>
    </div>
</section>

<!-- End kyk Handle  Sections  -->


<script>

var interiorItem1 = $('.ward .wardrobe-img');

var wHeight = $(window).height();
var nHeight = (wHeight/2);

interiorItem1.eq(0).addClass('active');
interiorItem1.height(nHeight);
interiorItem1.addClass('full-screen');

var materialItem = $('.material-content .material-img');

materialItem.height(nHeight);
materialItem.addClass('full-screen');

$('.ward img').each(function() {
    var $src = $(this).attr('src');
    var $color = $(this).attr('data-color');
    $(this).parent().css({
        'background-image' : 'url(' + $src + ')',
        'background-color' : $color
        });
        $(this).remove();
});

$('.material-content img').each(function() {
  var $src = $(this).attr('src');
  var $color = $(this).attr('data-color');
  $(this).parent().css({
    'background-image' : 'url(' + $src + ')',
    'background-color' : $color
  });
  $(this).remove();
});

</script>