<section class="bg-color-white padding-bottom20 menu-spacer">
    <div class="container-fluid">
        <div class="row margin0">
            <img data-src="<%= imgBase + 'w_auto' + '/v1465375771/landing_page/MG_Pune_Landing_alterd.jpg'%>"
                 class="cld-responsive img-centered width100 hidden-sm hidden-xs" alt="Looking for modular kitchen">
            <img data-src="<%= imgBase + 'w_auto' + '/v1465375771/landing_page/MG_Pune_Landing_alterd.jpg'%>"
                 class="cld-responsive img-centered width100 hidden-lg hidden-md" alt="Looking for modular kitchen">

            <div class="col-lg-12 col-sm-12 col-md-12 pune_banner_txt">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <!--<h1 class="align-center color-mygubbi-namaskara font-weight-bold font-size60">
                                  Mygubbi Says Namaskar To You!
                            </h1>

                            <h3 class="heading-center-notransform margin-top40 width90 margin_auto pune-subheading-txt">
                                Your Click for Complete Home Interior Solutions
                            </h3>-->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 pune-form-box">
                            <!-- Banner Contact Form -->
                            <div class="row margin0">
                                <h3 class="heading-center-notransform font-size30 text-color-white">
                                    Contact us
                                </h3>
                            </div>
                            <div class="row pune_banner_form">

                                <div class="col-md-12">
                                    <div class="row display-none" id="contact_error_row">
                                        <p class="margin0 error-text align-center" id="contact_error"></p>
                                    </div>

                                    <form method="post" enctype="multipart/form-data"
                                          action="https://web.mxradon.com/t/FormTracker.aspx"
                                          class="width90 margin_auto paddingtop20">
                                        <div class="row">
                                            <div class="margin-bottom20 form-group">
                                                <input type='text' class="width100 form-control pune_banner_form_input"
                                                       id='FirstName' name='FirstName'
                                                       placeholder="Name*" maxlength='100'
                                                       value="<%=userProfile ? userProfile.displayName : ''%>" autocomplete='off'
                                                       required='required'/>
                                            </div>
                                            <div class="margin-bottom20 form-group">
                                                <input type='text' class="width100 form-control pune_banner_form_input"
                                                       id='EmailAddress'
                                                       name='EmailAddress' placeholder="Email*" maxlength='100'
                                                       value="<%=userProfile ? userProfile.email : ''%>" autocomplete='off'
                                                       required='required' pattern=".+@.+\..+"
                                                       title="<abc>@<xyz>.<com>"/>
                                            </div>
                                            <div class="margin-bottom20 form-group">
                                                <input type='text' class="width100 form-control pune_banner_form_input" id='Phone'
                                                       name='Phone'
                                                       placeholder="Phone Number*" maxlength='20'
                                                       value="<%=userProfile ? userProfile.phone : ''%>" autocomplete='off'
                                                       required='required' pattern="\d{10}"
                                                       title="e.g. 9876543210"/>
                                            </div>
                                            <div class="margin-bottom20 form-group">
                                                <input type='text' class="width100 form-control pune_banner_form_input" id='mx_City' name='mx_City' placeholder="City*" maxlength='50' value='' autocomplete='off' required='required' />
                                            </div>
                                            <div class="align-center form-group">
                                                <button class="pune_banner_form_button"
                                                        id="form-submit-button"
                                                        type="submit">Send
                                                </button>
                                                <br/>
                                                <input type="hidden" name="MXHOrgCode" value="9814" />
                                                <input type="hidden" name="MXHLandingPageId" value="639c2979-1750-11e6-b61b-22000aa8e760" />
                                                <input type="hidden" name="MXHFormBehaviour" value="1" />
                                                <input type="hidden" name="MXHFormDataTransfer" value="0" />
                                                <input type="hidden" name="MXHRedirectUrl" value="https://mygubbi.com/thankyou-pune-lp-page" />
                                                <input type="hidden" name="MXHAsc" value="5" />
                                                <in	ut type="hidden" name="MXHPageTitle" value="Pune landing page" />
                                                <input type="hidden" name="MXHOutputMessagePosition" value="0" />
                                                <input type="hidden" name="MXHIsExternallyUsed" value="1" />
                                            </div>
                                        </div>
                                    </form>
                                    <script type="text/javascript"> var MXLandingPageId = '639c2979-1750-11e6-b61b-22000aa8e760'; </script>

                                </div>
                            </div>
                            <!-- Banner Contact Form End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid bg-light-gray align-center">
            <div class="row margin0" style="position:relative;">
                <img data-src="<%= imgBase + 'w_auto' + '/pune_lp/botoom_banner_bg.jpg'%>"
                     class="cld-responsive img-centered width100 hidden-sm hidden-xs" alt="mygubbi cool offer">
                <img data-src="<%= imgBase + 'w_auto' + '/pune_lp/bg-rmoble.jpg'%>"
                     class="cld-responsive img-centered width100 hidden-lg hidden-md" alt="mygubbi cool offer">
                <div class="col-lg-12 pune-sliding-text">
                    <h1 class="heading-center-notransform">
                        Customized Home Interiors for your Dream Home
                    </h1>

                    <div class="row margin0 margin-bottom10 padding0-5per">
                        <p class="font-size16">
                            mygubbi, India’s leading online interior design solution experts work on bringing your personal design philosophy to life. Our individually-focused design approach ensures that you have a seamlessly, wonderful experience – from the drawing board to enjoying a home of your creation.
                        </p>
                    </div>

                    <div class="row margin0 padding0-5per">
                        <p class="font-size16">You can browse through a comprehensive range of services and products from a gallery of designs, based on your preferences. myGubbi designers work on understanding your expectations and give you expert opinions on creating your dream home.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row margin0 margin-top20">
                <h1 class="heading-center-notransform text-light-shadow-black">
                    Our Featured Collection
                </h1>
            </div>
            <div class="row margin0">
                <div class="col-lg-4 col-md-4 col-sm-4 margin-top10 padding20">
                    <img data-src="<%= imgBase + 'w_auto' + '/pune_lp/kitchen.jpg'%>"
                         class="cld-responsive img-centered width100" alt="mygubbi cool offer">
                    <h3 class="heading-center-notransform">
                        Kitchen
                    </h3>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 margin-top10 padding20">
                    <img data-src="<%= imgBase + 'w_auto' + '/pune_lp/wardrobe.jpg'%>"
                         class="cld-responsive img-centered width100" alt="mygubbi cool offer">
                    <h3 class="heading-center-notransform">
                        Wardrobe
                    </h3>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 margin-top10 padding20">
                    <img data-src="<%= imgBase + 'w_auto' + '/pune_lp/crockery.jpg'%>"
                         class="cld-responsive img-centered width100" alt="mygubbi cool offer">
                    <h3 class="heading-center-notransform">
                        Crockery Unit
                    </h3>
                </div>
            </div>
        </div>


        <div class="container-fluid padding40-0 bg-light-gray padding0-10per">
            <div class="row margin0 align-center paddingbottom20 margin-top20">
                <h1 class="heading-center-notransform text-light-shadow-black">
                    Step into a home that you always wanted
                </h1>
            </div>
            <div class="row margin0 margin-bottom20">
                <div class="col-lg-3 col-md-3 col-sm-3 img_hover align-center">
                    <div class="row margin0 margin-bottom10">
                        <img data-src="<%= imgBase + 'w_auto' + '/v1/pune_lp/pr-1.png'%>"
                             class="cld-responsive img-centered width45  no_hover" alt="...">
                        <img data-src="<%= imgBase + 'w_auto' + '/v1/pune_lp/pr-7.png'%>"
                             class="cld-responsive img-centered width45  w_hover" alt="...">
                    </div>
                    <div class="row margin0 color-pune-hover">
                        <h4 class="text-transform-none">
                            5-Year Warranty
                        </h4>
                        <p>
                            Every product at mygubbi.com comes with a long-term guarantee period. We offer a 5-year
                            warranty upon every product we deliver.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 img_hover align-center">
                    <div class="row margin0 margin-bottom10">
                        <img data-src="<%= imgBase + 'w_auto' + '/v1/pune_lp/pr-2.png'%>"
                             class="cld-responsive img-centered width45 no_hover" alt="...">
                        <img data-src="<%= imgBase + 'w_auto' + '/v1/pune_lp/pr-6.png'%>"
                             class="cld-responsive img-centered width45 w_hover" alt="...">
                    </div>
                    <div class="row margin0 color-pune-hover">
                        <h4 class="text-transform-none">
                            45-Days Delivery
                        </h4>
                        <p>
                            Our delivery process is very stringent about the timeliness. At mygubbi.com we guarantee a
                            delivery of our products within 45-days.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 img_hover align-center">
                    <div class="row margin0 margin-bottom10">
                        <img data-src="<%= imgBase + 'w_auto' + '/v1/pune_lp/pr-3.png'%>"
                             class="cld-responsive img-centered width45  no_hover" alt="...">
                        <img data-src="<%= imgBase + 'w_auto' + '/v1/pune_lp/pr-5.png'%>"
                             class="cld-responsive img-centered width45  w_hover" alt="...">
                    </div>
                    <div class="row margin0 color-pune-hover">
                        <h4 class="text-transform-none">
                            Free Maintenance
                        </h4>
                        <p>
                            We offer free maintenance for up to 3 years on every product purchased. Our team will fix
                            the damage done, without any hidden charges.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 img_hover align-center">
                    <div class="row margin0 margin-bottom10">
                        <img data-src="<%= imgBase + 'w_auto' + '/v1/pune_lp/pr-4.png'%>"
                             class="cld-responsive img-centered width45  no_hover" alt="...">
                        <img data-src="<%= imgBase + 'w_auto' + '/v1/pune_lp/pr-8.png'%>"
                             class="cld-responsive img-centered width45 w_hover" alt="...">
                    </div>
                    <div class="row margin0 color-pune-hover">
                        <h4 class="text-transform-none">
                            Easy EMI options
                        </h4>
                        <p>
                            Every customer can choose from our flexible payment option as we have partnered with Bajaj Finserv to provide easy EMI.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container padding20-0">
            <div class="row margin0 align-center paddingbottom20 margin-top20">
                <h1 class="heading-center-notransform text-light-shadow-black">
                    Process? We Keep it simple!
                </h1>
                <!--<h2 class="color-purple-nri margin-bottom40">
                    <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/L1_07.jpg'%>"
                         class="cld-responsive img-centered width10" alt="left line">
                    <b>Process? We Keep it simple!</b>
                    <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/R1_07.png'%>"
                         class="cld-responsive img-centered width10" alt="right line">
                </h2>-->
            </div>
            <div class="row margin0">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding0 padding-top13p4per img_hover">
                        <div class="row margin0">
                            <img class="cld-responsive img-responsive img-centered width85 no_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/pune_lp/pr1.png'%>" alt="Browse11">
                            <img class="cld-responsive img-responsive img-centered width85 w_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/pune_lp/pr111.png'%>" alt="Browse11">
                        </div>
                        <div class="row margin0 padding15 color-purple-nri align-center">
                            <h5 class="text-transform-none"><b>Engaging Discussion</b></h5>
                            <p>Design team will discuss about your necessities over a Video or conference call.</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding0 img_hover">
                        <div class="row margin0">
                            <img class="cld-responsive img-responsive img-centered width85 no_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/pune_lp/pr2.png'%>" alt="Browse11">
                            <img class="cld-responsive img-responsive img-centered width85 w_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/pune_lp/pr222.png'%>" alt="Browse11">
                        </div>
                        <div class="row margin0 padding15 color-purple-nri align-center">
                            <h5 class="text-transform-none"><b>Site Visit</b></h5>
                            <p>Our representative will visit your home to take appropriate measurements.</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding0 padding-top13p4per img_hover">
                        <div class="row margin0">
                            <img class="cld-responsive img-responsive img-centered width85 no_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/pune_lp/pr3.png'%>" alt="Browse11">
                            <img class="cld-responsive img-responsive img-centered width85 w_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/pune_lp/pr333.png'%>" alt="Browse11">
                        </div>
                        <div class="row margin0 padding15 color-purple-nri align-center">
                            <h5 class="text-transform-none"><b>Design Plan</b></h5>
                            <p>Technical consultants will create the reference drawings and 3D renderings and explain to
                                you over web meeting at your convenience.</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding0 img_hover">
                        <div class="row margin0">
                            <img class="cld-responsive img-responsive img-centered width85 no_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/pune_lp/pr4.png'%>" alt="Browse11">
                            <img class="cld-responsive img-responsive img-centered width85 w_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/pune_lp/pr444.png'%>" alt="Browse11">
                        </div>
                        <div class="row margin0 padding15 color-purple-nri align-center">
                            <h5 class="text-transform-none"><b>Finalise your design</b></h5>
                            <p>If you need any then you can convey it to the designer. If you are happy with the design
                                then designer will develop the final 3-D design of the project.</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding0 padding-top13p4per img_hover">
                        <div class="row margin0">
                            <img class="cld-responsive img-responsive img-centered width85 no_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/pune_lp/pr555.png'%>" alt="Browse11">
                            <img class="cld-responsive img-responsive img-centered width85 w_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/pune_lp/pr5.png'%>" alt="Browse11">
                        </div>
                        <div class="row margin0 padding15 color-purple-nri align-center">
                            <h5 class="text-transform-none"><b>FREE Delivery & Installation</b></h5>
                            <p>We will deliver and Install products with utmost care. You can contact us for any
                                interior or service related issue post-hand over</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding0 img_hover">
                        <div class="row margin0">
                            <img class="cld-responsive img-responsive img-centered width85 no_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/pune_lp/pr666.png'%>" alt="Browse11">
                            <img class="cld-responsive img-responsive img-centered width85 w_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/pune_lp/pr6.png'%>" alt="Browse11">
                        </div>
                        <div class="row margin0 padding15 color-purple-nri align-center">
                            <h5 class="text-transform-none"><b>Avail our efficient after sales & service</b></h5>
                            <p>We do interior health check up every six months to ensure that our products are working
                                fine and address any issues if found</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- Testimonial Section -->

        <div class="container-fluid bg-light-gray padding30-0 margin-top20">
            <h1 class="heading-center-notransform text-light-shadow-black">
                Customer Testimonials
            </h1>
            <div class="wrap col-xs-12 padding0">
                <div class="row margin0">
                    <div class="controls center col-xs-1 margin-top85">
                        <button class="btn lpalt-prev disabled" disabled="">
                            <img src="<%= imgBase + '/home/dark_arr_left.png'%>" class="arr_test" alt="...">
                        </button>
                    </div>

                    <div class="frame col-xs-10 overflow-hidden" id="lpalt-frame">
                        <ul class="clearfix slidee"
                            style="transform: translateZ(0px) translateX(0px); width: 3480px;">
                            <li class="text-sly-content">
                                <p class="font-size18 color-orange">
                                    Anubhav
                                </p>
                                <p class="justify">
                                    “The designers were calm and composed. They explained all the intricate details with
                                    such simplicity. Kudos to whole team.”
                                </p>
                            </li>

                            <li class="text-sly-content">
                                <p class="font-size18 color-orange">
                                    Archana Karande
                                </p>
                                <p class="justify">
                                    “The Design team of mygubbi is simply awesome. And what is most exciting about them is
                                    the way they present each idea. Highly patient with excellent knowledge of trends.”
                                </p>
                            </li>

                            <li class="text-sly-content">
                                <p class="font-size18 color-orange">
                                    Arun Kadavil
                                </p>
                                <p class="justify">
                                    “Presentations do matter. People of mygubbi are skilled in creating an everlasting
                                    impression on whoever walks in. Cheers to their creativity!”
                                </p>
                            </li>

                            <li class="text-sly-content">
                                <p class="font-size18 color-orange">
                                    Prasad Naik
                                </p>
                                <p class="justify">
                                    “My doubts were very well cleared by the Design Team, they explained functionality of
                                    each product. That too without losing their calm. Thumbs up from me.”
                                </p>
                            </li>

                            <li class="text-sly-content">
                                <p class="font-size18 color-orange">
                                    Priya Kaikini
                                </p>
                                <p class="justify">
                                    “I wanted to get genuine advice on some product. Thanks to mygubbi team who not only
                                    listened to my concerns patiently but also gave some great tips. I’ll be definitely
                                    visiting again.”
                                </p>
                            </li>

                            <li class="text-sly-content">
                                <p class="font-size18 color-orange">
                                    Dr.Sudeendra
                                </p>
                                <p class="justify">
                                    “Superb presentation skills! Designers of mygubbi believes in listening to concerns of
                                    clients and work upon the solution based on the problem. Kudos to their team of
                                    designers.”
                                </p>
                            </li>

                        </ul>
                    </div>
                    <div class="controls center col-xs-1 margin-top85">
                        <button class="btn lpalt-next">
                            <img src="<%= imgBase + '/home/dark_arr_right.png'%>" class="arr_test" alt="...">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Testimonial Section End -->

        <!-- Brand Section -->

        <div class="container-fluid margin-top20">
            <h1 class="heading-center-notransform text-light-shadow-black">
                Brands that we are working with
            </h1>
            <div class="row margin0 padding-top40">
                <div class="col-lg-1 col-md-1 col-sm-1 img_hover align-center padding0 margin-bottom10">
                </div>
                <div class="col-lg-2 col-md-2 img_hover align-center padding0 margin-bottom10">
                    <div class="row margin0">
                        <img data-src="<%= imgBase + '/v1/shobha_page/brand_icon/Hettich-1.png'%>"
                             class="cld-responsive img-centered no_hover" alt="...">
                        <img data-src="<%= imgBase + '/v1/shobha_page/brand_icon/Hettich-0.png'%>"
                             class="cld-responsive img-centered w_hover" alt="...">
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 img_hover align-center padding0 margin-bottom10">
                    <div class="row margin0">
                        <img data-src="<%= imgBase + '/v1/shobha_page/brand_icon/Centuryply-1.png'%>"
                             class="cld-responsive img-centered no_hover" alt="...">
                        <img data-src="<%= imgBase + '/v1/shobha_page/brand_icon/Centuryply-0.png'%>"
                             class="cld-responsive img-centered w_hover" alt="...">
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 img_hover align-center padding0 margin-bottom10">
                    <div class="row margin0">
                        <img data-src="<%= imgBase + '/v1/shobha_page/brand_icon/greenlam-1.png'%>"
                             class="cld-responsive img-centered no_hover" alt="...">
                        <img data-src="<%= imgBase + '/v1/shobha_page/brand_icon/greenlam-0.png'%>"
                             class="cld-responsive img-centered w_hover" alt="...">
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 img_hover align-center padding0 margin-bottom10">
                    <div class="row margin0">
                        <img data-src="<%= imgBase + 'w_230' + '/v1/shobha_page/brand_icon/Hafele-1.png'%>"
                             class="cld-responsive img-centered no_hover padding-top40" alt="...">
                        <img data-src="<%= imgBase + 'w_230' + '/v1/shobha_page/brand_icon/Hafele-0.png'%>"
                             class="cld-responsive img-centered w_hover padding-top40" alt="...">
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 img_hover align-center padding0 margin-bottom10">
                    <div class="row margin0">
                        <img data-src="<%= imgBase + 'w_230' + '/v1/shobha_page/brand_icon/Merino-1.png'%>"
                             class="cld-responsive img-centered no_hover padding-top40 padding-left40" alt="...">
                        <img data-src="<%= imgBase + 'w_230' + '/v1/shobha_page/brand_icon/Merino-0.png'%>"
                             class="cld-responsive img-centered w_hover padding-top40 padding-left40" alt="...">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 img_hover align-center padding0 margin-bottom10">
                </div>
            </div>
            <!--
                        <div class="wrap col-xs-12 padding0">
                            <div class="row margin0">
                                <div class="controls center col-xs-1 margin-top40">
                                    <button class="btn brand-prev disabled" disabled="">
                                        <img src="<%= imgBase + '/home/dark_arr_left.png'%>" class="arr_test" alt="...">
                                    </button>
                                </div>

                                <div class="frame col-xs-10 overflow-hidden" id="brand-frame">
                                    <ul class="clearfix slidee"
                                        style="transform: translateZ(0px) translateX(0px); width: 3480px;">

                                        <li class="brand-sly-content">
                                            <img src="<%= imgBase + '/brand/Hettich.png'%>" alt="...">
                                        </li>

                                        <li class="brand-sly-content">
                                            <img src="<%= imgBase + '/brand/Century_03.png'%>" alt="...">
                                        </li>

                                        <li class="brand-sly-content">
                                            <img src="<%= imgBase + '/brand/grenlam.png'%>" alt="...">
                                        </li>

                                        <li class="brand-sly-content">
                                            <img src="<%= imgBase + '/brand/Haffle.png'%>" alt="...">
                                        </li>

                                        <li class="brand-sly-content">
                                            <img src="<%= imgBase + '/brand/Merino.png'%>" alt="...">
                                        </li>
                                    </ul>
                                </div>
                                <div class="controls center col-xs-1 margin-top40">
                                    <button class="btn brand-next">
                                        <img src="<%= imgBase + '/home/dark_arr_right.png'%>" class="arr_test" alt="...">
                                    </button>
                                </div>
                            </div>
                        </div>
            -->
        </div>

        <!-- Brand Section End -->

        <div class="container margin-top40 margin-bottom40">
            <div class="row margin0">

                <!--<div class="col-lg-3 col-md-3 col-sm-6 padding0-30 margin-top10 consult-address-box">
                    <div class="font-size18 bg-dark-gray text-color-white padding0-10">
                        <img src="<%= imgBase %>landing_page/1_06.png" alt="address-icon">
                        &nbsp;
                        Address
                    </div>
                    <div class="font-size14 margin-top20">
                        1502, 2nd Floor,
                        19th Main Road,
                        Sector 4, HSR Layout,
                        Bangalore 560102
                    </div>
                </div>-->

                <div class="col-lg-4 col-md-4 col-sm-6 padding0-30 margin-top10 consult-address-box">
                    <div class="font-size18 bg-dark-gray text-color-white padding0-10">
                        <img src="<%= imgBase %>landing_page/2_06.png" alt="time-icon">
                        &nbsp;
                        Timing
                    </div>
                    <div class="font-size14 margin-top20">
                        9am - 6pm, Mon - Sat
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 padding0-30 margin-top10 consult-address-box">
                    <div class="font-size18 bg-dark-gray text-color-white padding0-10">
                        <img src="<%= imgBase %>landing_page/3_06.png" alt="mail-icon">
                        &nbsp;
                        Email
                    </div>
                    <div class="font-size14 margin-top20">
                        abhijit.k@mygubbi.com
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 padding0-30">
                    <div class="font-size18 bg-dark-gray text-color-white margin-top10 padding0-10">
                        <img src="<%= imgBase %>landing_page/4_06.png" alt="phone-icon">
                        &nbsp;
                        Phone
                    </div>
                    <div class="font-size16 color-orange margin-top20">
                        <b>9657064433</b>
                    </div>
                </div>

            </div>

        </div>

        <!--<div class="container-fluid">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15555.391651543143!2d77.6451492!3d12.9174948!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1484351ae6ef%3A0x5d9e93030c5e41ac!2sOrange+Gubbi+technologies%2C+1504%2C+19th+Main+Rd%2C+Sector+4%2C+HSR+Layout%2C+Bengaluru%2C+Karnataka+560102!5e0!3m2!1sen!2sin!4v1455611931443"
                    width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
-->
    </div>
</section>


<!-- Book Your Consultation Modal -->
<div id="bookconsultpop" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div>
            <iframe name="leadsquared_landing_page_frame" src="https://mygubbi.viewpage.co/email-lp?ignoremxtracking=mxtrue" width="600" height="650" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
            <script type="text/javascript"> var MXLandingPageId = '8d7bb83a-0c47-11e6-b61b-22000aa8e760'; </script>

            <div id="close-bookconsult-pop" class="close-icon signup-form">
                <img src="<%= imgBase + 'close-white.png'%>">
            </div>
        </div>

    </div>
</div>
<!-- Book Your Consultation Modal End -->