<section class="bg-color-white c-project padding-bottom20 menu-spacer">
    <div class="c-project-description hidden-xs hidden-sm">
        <div class="container">
            <div class="row position -relative">
                <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    <div class="comp-project-head">
                        <div class="c-project-title text-center">
                            <h2 class="cp-head"> Recent Projects </h2>
                        </div>
                        <p>
                            All the projects we’ve undertaken are a testimony in themselves. They reflect our efficiency and passion for designing. Also, they showcase our skills and aesthetics while taking space and utility under consideration.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-project-mob-description  hidden-md hidden-lg">
        <div class="container-fluid">
            <div class="row">
                <img class="lazy img-responsive" data-src="https://res.cloudinary.com/mygubbi/image/upload/f_auto/v1528459931/recent_projects/3_Living_05022018-01.jpg" alt="mobile_banner">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    <div class="comp-project-head">
                        <div class="c-project-title text-center">
                            <h2 class="cp-head"> Recent Projects </h2>
                        </div>
                        <p class="text-center">
                            All the projects we’ve undertaken are a testimony in themselves. They reflect our efficiency and passion for designing. Also, they showcase our skills and aesthetics while taking space and utility under consideration.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-project-list">
        <div class="container">
            <div class="row">
                <div class="c-project-list">
                    <% if(typeof(recentprojects) !== 'undefined'){ count = 1; %>
                    <% _.each(recentprojects, function(recproj){ %>
                    <div class="photobox-lightbox">
                        <div class="gallery1">
                            <div class="col-md-6 col-sm-6 wl-gallery" >
                                <div class="wl-gallery-img">
                                    <div class="b-link-fade b-animate-go">
                                        <% var obj = recproj.Project_Images; %>
                                        <%  var result = recproj.Project_Images %>
                                        <%  var result1 = $.parseJSON(result) %>

                                    <img data-src="<%= recproj.main_image %>" class="lazy img-responsive" alt="Kitchen">
                                    <div class="b-wrapper">
                                        <p class="b-from-right b-animate b-delay03">
                                            <a  title="Kitchen"  href="<%= recproj.main_image %>">
                                                <span class="ioc-circle">
                                                    <i class="fa fa-plus fa-2x"></i>
                                                </span>
                                                <img data-src="<%= recproj.main_image %>" class="nivo-none img-responsive" alt="<%= recproj.Main_Image_Title %>">
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="nivo-none">
                                    <div class="b-wrapper">
                                        <p class="b-from-right b-animate b-delay03">
                                            <% _.each($.parseJSON(result), function(k, v) { %>
                                            <%= console.log('Image link') %>
                                            <%= console.log(k['img']) %>
                                            <a class="nivo-img" href="<%= k['img'] %>" title="<%= k['title'] %>">
                                                <img class="lazy nivo-none" data-src="<%= k['img'] %>" alt="<%= k['title'] %>" />
                                            </a>
                                            <% });  %>
                                        </p>
                                    </div>
                                </div>
                                </div>
                                <!--Gallery Label-->
                                <div class="cp-detail text-center">
                                    <!--<h4 class="comp-project-title"> <%= recproj.Project_Name %> </h4>-->
                                    <h4 class="comp-project-title"> <%= recproj.Project_Address %> </h4>
<!--
                                    <span> <%= recproj.Project_Address %> </span>
-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="photobx"></section>

<link rel="stylesheet" href="/js/libs/photobox/photobox/photobox.css">
<script type="text/javascript" src="/js/libs/photobox/photobox/jquery.photobox.js"></script>

<link rel="stylesheet" href="/js/libs/hover-pack/hover-pack.css">
<script type="text/javascript" data-src="/js/libs/hover-pack/hover-pack.js"></script>

<script>
    $('.photobox-lightbox').photobox('a');
    // or with a fancier selector and some settings, and a callback:
    $('.photobox-lightbox').photobox('a:first', { thumbs:false, time:0 }, imageLoaded);
    function imageLoaded() {
        console.log('image has been loaded...');
    }

    $(document).ready(function(){

        /* Slide */
        $('#slide a').each(function(index, element) {
            $(this).hoverdir();
        });

        /* Stroke */
        $('.b-link-stroke').prepend('<div class="b-top-line"></div>');
        $('.b-link-stroke').prepend('<div class="b-bottom-line"></div>');

        /* Twist */
        $('.b-link-twist').prepend('<div class="b-top-line"><b></b></div>');
        $('.b-link-twist').prepend('<div class="b-bottom-line"><b></b></div>');
        $('.b-link-twist img').each(function(index, element) {
            $(this).css('visibility','hidden');
            $(this).parent().find('.b-top-line, .b-bottom-line').css('background-image','url('+$(this).attr('src')+')');
        });

        /* Flip */
        $('.b-link-flip').prepend('<div class="b-top-line"><b></b></div>');
        $('.b-link-flip').prepend('<div class="b-bottom-line"><b></b></div>');
        $('.b-link-flip img').each(function(index, element) {
            $(this).css('visibility','hidden');
            $(this).parent().find('.b-top-line, .b-bottom-line').css('background-image','url('+$(this).attr('src')+')');

        });

        /* Fade */
        $('.b-link-fade').each(function(index, element) {
            $(this).append('<div class="b-top-line"></div>')
        });

        /* Flow */
        $('.b-link-flow').each(function(index, element) {
            $(this).append('<div class="b-top-line"></div>')
        });

        /* Box */
        $('.b-link-box').prepend('<div class="b-top-line"></div>');
        $('.b-link-box').prepend('<div class="b-bottom-line"></div>');

        /* Stripe */
        $('.b-link-stripe').each(function(index, element) {
            $(this).prepend('<div class="b-line b-line1"></div><div class="b-line b-line2"></div><div class="b-line b-line3"></div><div class="b-line b-line4"></div><div class="b-line b-line5"></div>');
        });

        /* Apart */
        $('.b-link-apart-vertical, .b-link-apart-horisontal').each(function(index, element) {
            $(this).prepend('<div class="b-top-line"></div><div class="b-bottom-line"></div><div class="b-top-line-up"></div><div class="b-bottom-line-up"></div>');
        });

        /* diagonal */
        $('.b-link-diagonal').each(function(index, element) {
            $(this).prepend('<div class="b-line-group"><div class="b-line b-line1"></div><div class="b-line b-line2"></div><div class="b-line b-line3"></div><div class="b-line b-line4"></div><div class="b-line b-line5"></div></div>');
        });

        setTimeout("calculate_margin();", 100);

    });

</script>
