<section class="bg-white padding-bottom20 menu-spacer">
    <div class="container-fluid">
        <div class="row margin0">
            <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/banner_top.jpg'%>"
                 class="cld-responsive img-centered" alt="Looking for modular kitchen">
        </div>
        <div class="nri_banner_txt hidden-sm hidden-xs">
            <h1 class="color-white align-center">
                LOOKING FOR <span class="color-orange"><b>MODULAR KITCHEN</b></span> FOR YOUR NEW FLAT IN
                <b>BANGALORE?</b>
            </h1>

            <h3 class="heading-center-notransform color-white margin-top40 width90 margin_auto">
                Easy buying and FREE consultation of modular furniture sitting anywhere across the globe.
            </h3>

            <!-- Banner Contact Form -->
            <div class="row nri_banner_form hidden-sm hidden-xs margin-top40">

                <div class="col-md-12">
                    <div class="row display-none" id="contact_error_row">
                        <p class="margin0 error-text align-center" id="contact_error"></p>
                    </div>

                    <form id="nri_contactForm" data-toggle="validator" role="form"
                          class="width90 margin_auto padding-top10">
                        <div class="row">
                            <div class="margin-bottom10 form-group">
                                <input type="text" class="width100 form-control nri_banner_form_input"
                                       placeholder="Your Name"
                                       value="<%= userProfile ? userProfile.displayName : ''%>"
                                       id="nri_contact_full_name" required/>
                                                    <span class="glyphicon form-control-feedback"
                                                          aria-hidden="true"></span>

                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="margin-bottom10 form-group">
                                <input type="email" class="width100 form-control nri_banner_form_input"
                                       placeholder="Your Email"
                                       value="<%= userProfile ? userProfile.email : ''%>"
                                       id="nri_contact_email_id" required pattern=".+@.+\..+"
                                       title="<abc>@<xyz>.<com>"/>

                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="margin-bottom10 form-group has-feedback">
                                <input type="text" class="width100 form-control nri_banner_form_input"
                                       placeholder="Your Contact Number"
                                       value="<%= userProfile ? userProfile.phone : ''%>"
                                       id="nri_contact_contact_num" required pattern="\d{10}"
                                       title="e.g. 9876543210"/>

                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="align-center form-group">
                                <button
                                        id="contactus-submit-btn"
                                        class="nri_banner_form_button"
                                        type="submit"
                                        data-loading-text="<i class='fa fa-spinner fa-spin'></i> Submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                    <div id="nri_success-msg-padding" class="display-none margintop25"></div>
                    <div id="nri_success-msg" class="display-none">
                        <p class="justify">
                            Thank you for contacting mygubbi. Our team will get back to you as soon as possible.
                        </p>

                        <p class="margintop40">
                            Want to keep Exploring? Click
                            <a id="contact-form-explore" href="/u-shaped-kitchen-design">here</a>
                        </p>
                    </div>

                </div>
            </div>
            <!-- Banner Contact Form End -->
        </div>
        <div class="hidden-lg hidden-md">
            <div class="margin-top20 bg-dark-gray padding10_0_15">
                <h1 class="color-white align-center">
                    LOOKING FOR <span class="color-orange"><b>MODULAR KITCHEN</b></span> FOR YOUR NEW FLAT IN
                    <b>BANGALORE?</b>
                </h1>

                <h3 class="heading-center-notransform color-white margin-top20">
                    Easy buying and FREE consultation of modular furniture sitting anywhere across the globe.
                </h3>
            </div>

            <div class="margin-top20 bg-dark-gray">
                <!-- Banner Contact Form -->
                <div class="row margin_auto width90">

                    <div class="col-md-12">
                        <div class="row display-none" id="contact_error_row1">
                            <p class="margin0 error-text align-center" id="contact_error1"></p>
                        </div>

                        <form id="banner_contactForm1" data-toggle="validator" role="form"
                              class="width90 margin_auto padding-top10">
                            <div class="row">
                                <div class="margin-bottom10 form-group">
                                    <input type="text" class="width100 form-control nri_banner_form_input"
                                           placeholder="Your Name"
                                           value="<%= userProfile ? userProfile.displayName : ''%>"
                                           id="banner_contact_full_name1" required/>
                                                    <span class="glyphicon form-control-feedback"
                                                          aria-hidden="true"></span>

                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="margin-bottom10 form-group">
                                    <input type="email" class="width100 form-control nri_banner_form_input"
                                           placeholder="Your Email"
                                           value="<%= userProfile ? userProfile.email : ''%>"
                                           id="banner_contact_email_id1" required pattern=".+@.+\..+"
                                           title="<abc>@<xyz>.<com>"/>

                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="margin-bottom10 form-group has-feedback">
                                    <input type="text" class="width100 form-control nri_banner_form_input"
                                           placeholder="Your Contact Number"
                                           value="<%= userProfile ? userProfile.phone : ''%>"
                                           id="banner_contact_contact_num1" required pattern="\d{10}"
                                           title="e.g. 9876543210"/>

                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="align-center form-group">
                                    <button
                                            id="contactus-submit-btn1"
                                            class="nri_banner_form_button"
                                            type="submit"
                                            data-loading-text="<i class='fa fa-spinner fa-spin'></i> Submit">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div id="banner_success-msg-padding1" class="display-none margintop25"></div>
                        <div id="banner_success-msg1" class="display-none">
                            <p class="justify">
                                Thank you for contacting mygubbi. Our team will get back to you as soon as possible.
                            </p>

                            <p class="margintop40">
                                Want to keep Exploring? Click
                                <a id="contact-form-explore1" href="/u-shaped-kitchen-design">here</a>
                            </p>
                        </div>

                    </div>
                </div>
                <!-- Banner Contact Form End -->
            </div>
        </div>

        <div class="container">
            <div class="padding50-0 bg-color-white align-center">
                <div class="row padding20-0">
                    <div class="col-md-4 col-sm-4">
                        <img class="cld-responsive img-responsive img-centered width85"
                             data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/V1.png'%>" alt="Browse11">
                        <div class="intro-text">
                            <p>Browse Designs</p>
                            Pick your favorite
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <img class="cld-responsive img-responsive img-centered width85"
                             data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/v2.png'%>" alt="Consult11">
                        <div class="intro-text">
                            <p>Talk to Us</p>
                            Choose Final Design
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <img class="cld-responsive img-responsive img-centered width85"
                             data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/v3.png'%>" alt="Relax">
                        <div class="intro-text">
                            <p>Order and relax</p>
                            Enjoy FREE Delivery
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid bg-nri-yellow">
            <div class="container">
                <div class="row margin0 align-center padding20">

                    <h3 class="color-white margin-top0">
                        <b>Watch your dream shaping into reality at the comfort of your home</b>
                    </h3>

                    <p class="color-white margin_auto width80">
                        We know that distance is a major factor to be considered. Since, you can’t travel to
                        Bangalore & Pune for each & everything, we will take care of the project on your behalf.
                        And we offer design solutions using the latest technology to meet your needs.
                    </p>
                </div>
            </div>
        </div>

        <div class="container padding40-0">
            <div class="row margin0 align-center">
                <h2 class="color-magenta-nri margin-top0">
                    <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/L3_07.jpg'%>"
                         class="cld-responsive img-centered width10" alt="left line">
                    <b>NRI Services</b>
                    <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/R3_07.png'%>"
                         class="cld-responsive img-centered width10" alt="right line">
                </h2>
                <h3 class="heading-center-notransform">
                    What we have in store for you?
                </h3>
            </div>
            <div class="row margin0">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="row margin0">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 img_hover">
                            <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/nri6.png'%>"
                                 class="cld-responsive img-centered width85 float-right no_hover" alt="...">
                            <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/nrirev1.png'%>"
                                 class="cld-responsive img-centered width85 float-right w_hover" alt="...">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <h4 class="text-transform-none">
                                Ease of selection
                            </h4>
                            <p>
                                Browse through our varied designs, if not satisfied give us a call for personalised
                                design
                            </p>
                        </div>
                    </div>
                    <div class="row margin0">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 img_hover">
                            <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/nri5.png'%>"
                                 class="cld-responsive img-centered width85 float-right no_hover" alt="...">
                            <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/nrirev2.png'%>"
                                 class="cld-responsive img-centered width85 float-right w_hover" alt="...">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <h4 class="text-transform-none">
                                Active Customer Support
                            </h4>
                            <p>
                                You can connect with us over mail, video or phone call as per your convenience
                            </p>
                        </div>
                    </div>
                    <div class="row margin0">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 img_hover">
                            <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/nri4.png'%>"
                                 class="cld-responsive img-centered width85 float-right no_hover" alt="...">
                            <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/nrirev3.png'%>"
                                 class="cld-responsive img-centered width85 float-right w_hover" alt="...">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <h4 class="text-transform-none">
                                Additional support services
                            </h4>
                            <p>
                                Any additional work at site which is not part of our scope, we will ensure that it gets
                                done from right partners<br/>
                                (Eg Electrical or plumbing work)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="row margin0">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 img_hover">
                            <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/nri3.png'%>"
                                 class="cld-responsive img-centered width85 float-right no_hover" alt="...">
                            <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/nrirev4.png'%>"
                                 class="cld-responsive img-centered width85 float-right w_hover" alt="...">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <h4 class="text-transform-none">
                                Regular Updates
                            </h4>
                            <p>
                                We will continuously update you with the work progress. Be it images or video updates,
                                we will keep you posted.
                            </p>
                        </div>
                    </div>
                    <div class="row margin0">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 img_hover">
                            <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/nri2.png'%>"
                                 class="cld-responsive img-centered width85 float-right no_hover" alt="...">
                            <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/nrirev5.png'%>"
                                 class="cld-responsive img-centered width85 float-right w_hover" alt="...">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <h4 class="text-transform-none">
                                Careful Handover
                            </h4>
                            <p>
                                You don’t have to worry for safety, we will carefully handover the newly decorated home
                                to you.
                            </p>
                        </div>
                    </div>
                    <div class="row margin0">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 img_hover">
                            <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/nri1.png'%>"
                                 class="cld-responsive img-centered width85 float-right no_hover" alt="...">
                            <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/nrirev6.png'%>"
                                 class="cld-responsive img-centered width85 float-right w_hover" alt="...">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <h4 class="text-transform-none">
                                Flexible Payments
                            </h4>
                            <p>
                                You have the advantage of doing partial payments. We also have EMI options available.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid bg-nri-gray">
            <div class="row margin0">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0">
                    <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/updates.jpg'%>"
                         class="cld-responsive img-centered" alt="Original Designs">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding5per">
                    <h2 class="text-transform-none">
                        Original designs and regular updates are covered
                    </h2>
                    <p class="justify">
                        Our team of professionals have confidence in visually appealing values of interior designing. In
                        terms of novelty and modern designs our team eases in meeting the uppermost thinkable standards.
                        We also keep our customers updated on work progress by using digital photographs, which are
                        shared with you via email.
                    </p>
                </div>
            </div>
        </div>

        <div class="container padding40-0">
            <div class="row margin0 align-center">
                <h2 class="color-purple-nri margin-bottom40">
                    <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/L1_07.jpg'%>"
                         class="cld-responsive img-centered width10" alt="left line">
                    <b>Process? We Keep it simple!</b>
                    <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/R1_07.png'%>"
                         class="cld-responsive img-centered width10" alt="right line">
                </h2>
            </div>
            <div class="row margin0">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding0 padding-top12p5per img_hover">
                        <div class="row margin0">
                            <img class="cld-responsive img-responsive img-centered width85 no_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/1.png'%>" alt="Browse11">
                            <img class="cld-responsive img-responsive img-centered width85 w_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/8.png'%>" alt="Browse11">
                        </div>
                        <div class="row margin0 padding15 color-purple-nri">
                            <h5 class="text-transform-none"><b>Site Visit</b></h5>
                            <p>Our representative will visit your home to take appropriate measurements.</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding0 img_hover">
                        <div class="row margin0">
                            <img class="cld-responsive img-responsive img-centered width85 no_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/2.png'%>" alt="Browse11">
                            <img class="cld-responsive img-responsive img-centered width85 w_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/9.png'%>" alt="Browse11">
                        </div>
                        <div class="row margin0 padding15 color-purple-nri">
                            <h5 class="text-transform-none"><b>Engaging Discussion</b></h5>
                            <p>Design team will discuss about your necessities over a Video or conference call.</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding0 padding-top12p5per img_hover">
                        <div class="row margin0">
                            <img class="cld-responsive img-responsive img-centered width85 no_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/3.png'%>" alt="Browse11">
                            <img class="cld-responsive img-responsive img-centered width85 w_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/10.png'%>" alt="Browse11">
                        </div>
                        <div class="row margin0 padding15 color-purple-nri">
                            <h5 class="text-transform-none"><b>Design Plan</b></h5>
                            <p>Technical consultants will create the reference drawings and 3D renderings and explain to
                                you over web meeting at your convenience.</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding0 img_hover">
                        <div class="row margin0">
                            <img class="cld-responsive img-responsive img-centered width85 no_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/4.png'%>" alt="Browse11">
                            <img class="cld-responsive img-responsive img-centered width85 w_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/11.png'%>" alt="Browse11">
                        </div>
                        <div class="row margin0 padding15 color-purple-nri">
                            <h5 class="text-transform-none"><b>Finalise your design</b></h5>
                            <p>If you need any then you can convey it to the designer. If you are happy with the design
                                then designer will develop the final 3-D design of the project.</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding0 padding-top12p5per img_hover">
                        <div class="row margin0">
                            <img class="cld-responsive img-responsive img-centered width85 no_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/5.png'%>" alt="Browse11">
                            <img class="cld-responsive img-responsive img-centered width85 w_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/12.png'%>" alt="Browse11">
                        </div>
                        <div class="row margin0 padding15 color-purple-nri">
                            <h5 class="text-transform-none"><b>Our project management</b></h5>
                            <p>All the products will be manufactured in high quality. Once done, they will be packed
                                safely for delivery.</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding0 img_hover">
                        <div class="row margin0">
                            <img class="cld-responsive img-responsive img-centered width85 no_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/6.png'%>" alt="Browse11">
                            <img class="cld-responsive img-responsive img-centered width85 w_hover"
                                 data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/13.png'%>" alt="Browse11">
                        </div>
                        <div class="row margin0 padding15 color-purple-nri">
                            <h5 class="text-transform-none"><b>FREE Delivery & Installation</b></h5>
                            <p>We will deliver and Install products with utmost care. You can contact us for any
                                interior or service related issue post-hand over</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="container-fluid">
            <div class="row margin0">
                <a href="#">
                    <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/Bottom-banner.jpg'%>"
                         class="cld-responsive img-centered width100" alt="Mystique Designs">
                </a>
            </div>
        </div>

        <div class="container padding40-0">
            <div class="row margin0 align-center">
                <h2 class="color-blue-nri text-transform-none margin-bottom40">
                    <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/L2_07.jpg'%>"
                         class="cld-responsive img-centered width10" alt="left line">
                    <b>Why Us?</b>
                    <img data-src="<%= imgBase + 'w_auto' + '/v1/nri_page/R2_07.png'%>"
                         class="cld-responsive img-centered width10" alt="right line">
                </h2>
            </div>
            <div class="row margin0 align-center color-white">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 min-height120 padding0">
                    <div class="row margin0 bg-color-blue1">
                        <h4 class="text-transform-none">Original Design & Iterations</h4>
                    </div>
                    <div class="row margin0 padding20 bg-color-blue2">
                        <p>
                            We are patient and will wait till the time you give us a head on any design layout.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 min-height120 padding0">
                    <div class="row margin0 bg-color-blue3">
                        <h4 class="text-transform-none">Personal Engagement</h4>
                    </div>
                    <div class="row margin0 padding20 bg-color-blue4">
                        <p>
                            We like to talk to clients about their likes, dislikes, requisites, and other things.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 min-height120 padding0">
                    <div class="row margin0 bg-color-blue5">
                        <h4 class="text-transform-none">Photorealistic Renders</h4>
                    </div>
                    <div class="row margin0 padding20 bg-color-blue6">
                        <p>
                            We provide such realistic renders that you’ll get a fair idea about how the design will turn
                            out to be.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid bg-color-red">
            <h2 class="text-transform-none align-center color-white margin20-0">
                Book your consultation
            </h2>
        </div>

        <div class="container bg-color-gray margin35_auto padding20">
            <h2 class="text-transform-none"><b>FAQs</b></h2>
            <div class="row margin0">
                <p>
                    Now most of NRI clients have one question or the other regarding who will be suitable for the job to
                    have a “great design”, which will suit his needs with all the modern services and concepts. So, we
                    are here to solve your issues and meet your needs.
                </p>
            </div>
            <div class="row margin0 margin-top10">
                <a data-toggle="collapse" data-target="#q1"
                   class="text-transform-none display-block bg-color-white font-size16 padding10">
                    <span class="color-orange font-size22">
                        Do I need to be present at Premises?
                    </span>
                    <span class="pe-7s-angle-down down_arr"></span>
                </a>

                <div id="q1" class="collapse">
                    <p class="padding20">
                        No, you don’t have to spend extra on travelling and accommodation. Just a simple mail or a call
                        will do and we’ll reach you to explore your thoughts of your dream home to turn to reality.
                    </p>
                </div>
            </div>
            <div class="row margin0 margin-top10">
                <a data-toggle="collapse" data-target="#q2"
                   class="text-transform-none display-block bg-color-white font-size16 padding10">
                    <span class="color-orange font-size22">
                        How can I get in touch with designers?
                    </span>
                    <span class="pe-7s-angle-down down_arr"></span>
                </a>

                <div id="q2" class="collapse">
                    <p class="padding20">
                        Now most of NRI clients have one question or the other regarding who will be suitable for the
                        job to have a “great design”, which will suit his needs with all the modern services and
                        concepts. So, we are here to solve your issues and meet your needs.
                    </p>
                </div>
            </div>
            <div class="row margin0 margin-top10">
                <a data-toggle="collapse" data-target="#q3"
                   class="text-transform-none display-block bg-color-white font-size16 padding10">
                    <span class="color-orange font-size22">
                        How can I communicate with the designers for discussion?
                    </span>
                    <span class="pe-7s-angle-down down_arr"></span>
                </a>

                <div id="q3" class="collapse">
                    <p class="padding20">
                        You can enjoy our hassle free processes and communicate with designers over web or even face to
                        face via video conferencing.
                    </p>
                </div>
            </div>
            <div class="row margin0 margin-top10">
                <a data-toggle="collapse" data-target="#q4"
                   class="text-transform-none display-block bg-color-white font-size16 padding10">
                    <span class="color-orange font-size22">
                        How to handover the flat for designing?
                    </span>
                    <span class="pe-7s-angle-down down_arr"></span>
                </a>

                <div id="q4" class="collapse">
                    <p class="padding20">
                        You can hand-over the keys to any of your friend or relative, we will co-ordinate efficiently
                        and will get the project completed on time with safety.
                    </p>
                </div>
            </div>
            <div class="row margin0 margin-top10">
                <a data-toggle="collapse" data-target="#q5"
                   class="text-transform-none display-block bg-color-white font-size16 padding10">
                    <span class="color-orange font-size22">
                        How to convey and finalize the designs?
                    </span>
                    <span class="pe-7s-angle-down down_arr"></span>
                </a>

                <div id="q5" class="collapse">
                    <p class="padding20">
                        After providing the basic layout and deciding the service you avail, we follow you up for any
                        amendments or changes till you are satisfied with the views via email and voice communications.
                    </p>
                </div>
            </div>
            <div class="row margin0 margin-top10">
                <a data-toggle="collapse" data-target="#q6"
                   class="text-transform-none display-block bg-color-white font-size16 padding10">
                    <span class="color-orange font-size22">
                       How will I get knowledge of quality compliance?
                    </span>
                    <span class="pe-7s-angle-down down_arr"></span>
                </a>

                <div id="q6" class="collapse">
                    <p class="padding20">
                        We do provide a QC assurance certificate, 5 year warranty and declaration with related helpful
                        documents to guarantee you that we have used the stated materials for your site execution.
                    </p>
                </div>
            </div>
            <div class="row margin0 margin-top10">
                <a data-toggle="collapse" data-target="#q7"
                   class="text-transform-none display-block bg-color-white font-size16 padding10">
                    <span class="color-orange font-size22">
                        How to trace the progress of work?
                    </span>
                    <span class="pe-7s-angle-down down_arr"></span>
                </a>

                <div id="q7" class="collapse">
                    <p class="padding20">
                        We will be sharing images of work progress on weekly basis. If you want to have a virtual tour
                        then we could share the video updates as well. So, even if you are 1000 kms away, you will
                        always be aware of what is going on with your expectations.
                    </p>
                </div>
            </div>
            <div class="row margin0 margin-top10">
                <a data-toggle="collapse" data-target="#q8"
                   class="text-transform-none display-block bg-color-white font-size16 padding10">
                    <span class="color-orange font-size22">
                        How does finalization of finishing products happen?
                    </span>
                    <span class="pe-7s-angle-down down_arr"></span>
                </a>

                <div id="q8" class="collapse">
                    <p class="padding20">
                        Finishing materials can effortlessly be confirmed by you sitting at your place, we offer you a
                        mood board presentation with reference images and 3D views which are easy to understand.
                    </p>
                </div>
            </div>
        </div>


    </div>
</section>
